@import 'scss-imports/cssvars';

:host {
  display: block;

  @media (max-width: $breakpoint-md) {
    margin: 0 auto;
    max-width: 600px;
  }
}

.svg-container {
  &.static {
    pointer-events: none;
  }

  ::ng-deep {
    .overlay-rect {
      cursor: pointer;
      fill: var(--black);
      fill-opacity: 0.3;
      transition: fill-opacity 0.2s ease-in-out, filter 0.2s ease-in-out;

      &:hover {
        fill: var(--primary) !important;
        stroke: var(--primary);
        stroke-width: 4px;
      }

      &.selected {
        filter: brightness(1.5);
        stroke: var(--primary);
        stroke-dasharray: none;
        stroke-width: 4px;

        &.tinted {
          fill: var(--primary) !important;
        }
      }

      &.selected-vdev-disk {
        filter: brightness(1.5);
        stroke: white;
        stroke-dasharray: none;
        stroke-width: 4px;

        &.tinted {
          fill: var(--primary) !important;
        }
      }

      &.not-selected-vdev-disk {
        fill: black;
        opacity: 0.5;
      }
    }
  }
}
