<h3>{{ 'Helm Chart Info' | translate }}</h3>

<div class="app-list-item">
  <span class="label">{{ 'Catalog' | translate }}:</span>
  <ngx-skeleton-loader *ngIf="isLoading$ | async; else catalog"></ngx-skeleton-loader>
  <ng-template #catalog>
    <ng-container *ngIf="app?.catalog; else notAvailable">
      {{ app.catalog | appCatalog }}
    </ng-container>
  </ng-template>
</div>
<div class="app-list-item">
  <span class="label">{{ 'Train' | translate }}:</span>
  <ngx-skeleton-loader *ngIf="isLoading$ | async; else train"></ngx-skeleton-loader>
  <ng-template #train>
    <ng-container *ngIf="app?.train; else notAvailable">
      {{ app?.train }}
    </ng-container>
  </ng-template>
</div>
<div class="app-list-item">
  <span class="label">{{ 'Chart Version' | translate }}:</span>
  <ngx-skeleton-loader *ngIf="isLoading$ | async; else chartVersion"></ngx-skeleton-loader>
  <ng-template #chartVersion>
    <ng-container *ngIf="app?.latest_version; else notAvailable">
      {{ app?.latest_version }}
    </ng-container>
  </ng-template>
</div>
<div class="app-list-item">
  <span class="label">{{ 'Maintainer' | translate }}:</span>
  <ngx-skeleton-loader *ngIf="isLoading$ | async; else maintainersInfo"></ngx-skeleton-loader>
  <ng-template #maintainersInfo>
    <ng-container *ngIf="app?.maintainers?.length; else notAvailable">
      <div class="inline">
        <ng-container *ngFor="let maintainer of app?.maintainers; index as index" >
          <a
            target="_blank"
            [href]="maintainer.url"
            [ixTest]="[maintainer.email]"
          >
            {{ maintainer.name }}
          </a>{{ '(' + maintainer.email + ')' }}
          <span *ngIf="index < (app.maintainers.length -1)">{{index}}{{app.maintainers.length -1}}, </span>
        </ng-container>
      </div>
    </ng-container>
  </ng-template>
</div>

<ng-template #notAvailable>
  {{ 'N/A' | translate }}
</ng-template>
