<div fxLayout="column" fxLayoutAlign="center center" fxFlex class="empty-page" [ngClass]="{'large': conf.large}">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex class="icon-div">
    <mat-icon *ngIf="getIcon()!='logo'" fontSet="mdi-set" fontIcon="mdi-{{getIcon()}}"></mat-icon>
    <mat-icon *ngIf="getIcon()=='logo'" svgIcon="truenas_scale_logo_full" class="logo"></mat-icon>
  </div>
  <div *ngIf="!isLoading()">
    <h3 class="empty-title">{{ conf.title }}</h3>
    <p *ngIf="conf.message" class="empty-message">{{ conf.message }}</p>
    <button *ngIf="conf.button" class="empty-action" mat-button (click)="doAction()">{{conf.button.label | translate}}</button>
  </div>
</div>
