<div class="job-item">
  <div class="job-icon">
    @switch (job().state) {
      @case (JobState.Success) {
        <tn-icon
          name="check-circle-outline"
          library="mdi"
          class="success"
        ></tn-icon>
      }
      @case (JobState.Failed) {
        <tn-icon
          name="close-circle"
          library="mdi"
          class="failed"
          [matTooltip]="job().error"
        ></tn-icon>
      }
      @case (JobState.Running) {
        <mat-spinner
          class="running"
          [diameter]="22"
          [matTooltip]="job().progress.description"
        ></mat-spinner>
      }
      @case (JobState.Waiting) {
        <tn-icon class="waiting" name="clock-outline" library="mdi"></tn-icon>
      }
      @case (JobState.Aborted) {
        <tn-icon class="aborted" name="alert-circle" library="mdi"></tn-icon>
      }
    }
  </div>

  <div class="job-name-wrapper">
    <div class="job-name">
      <span>{{ job().description ? job().description : job().method }}</span>
      @if (isRunning()) {
        <small>
          {{ job().progress.percent || 0 | number: '1.2-2' }}%
        </small>
      }
    </div>

    @if (isRunning()) {
      <mat-progress-bar
        class="job-progress"
        [value]="job().progress.percent"
        [mode]="job().progress.percent ? 'determinate' : 'indeterminate'"
        [matTooltip]="job().progress.description"
      ></mat-progress-bar>
    }
  </div>
</div>

@if (isRunning() && job().abortable) {
  <button
    mat-icon-button
    type="button"
    [ixTest]="['abort-job', job().description]"
    [matTooltip]="'Abort' | translate"
    [attr.aria-label]="'Abort' | translate"
    (click)="onAborted()"
  >
    <tn-icon name="close-circle" library="mdi"></tn-icon>
  </button>
}
