<div class="ix-{{id}} ix-slide-in-form">
  <div class="ix-modal-body">
    <div class="ix-slidein-title-bar" fxLayout="row" >
      <div fxFlex="90%" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="ix-formtitle">{{title | translate}}</h3>
      </div>
      <mat-icon fxFlex="10%" id="ix-close-icon" (click)="close()">cancel</mat-icon>
    </div>
    <ng-template ix-modal-host>
      
    </ng-template>
  </div>
</div>
<div class="ix-modal-background ix-{{id}}-background" (click)="close()"></div>
