<tn-dialog-shell testId="password-change-required" [title]="'Password Change Required' | translate">
<div class="wrapper">
  <div class="container">
    <mat-card [class.step-finished]="isPasswordChangeRequired()">
      <mat-toolbar-row>
        <h3>{{ 'Set New Password' | translate }}</h3>
      </mat-toolbar-row>

      <ix-change-password-form
        (passwordUpdated)="onPasswordUpdated()"
      ></ix-change-password-form>
    </mat-card>
  </div>

</div>
<ix-form-actions tnDialogAction>
  @if (!isPasswordChangeRequired()) {
    <tn-button
      color="primary"
      testId="finish-required-change-password-step"
      [label]="'Finish' | translate"
      (onClick)="dialogRef.close()"
    ></tn-button>
  } @else {
    <tn-button
      variant="outline"
      testId="required-change-password-log-out"
      [label]="'Log Out' | translate"
      (onClick)="logOut()"
    ></tn-button>
  }
</ix-form-actions>
</tn-dialog-shell>
