.icon-suffix.community {
  font-size: 20px;
}

.icon-suffix {
  color: var(--fg1);
  position: absolute;
  right: 8px;
  text-align: right;
}

.icon-suffix .mat-icon {
  color: var(--fg2);
  opacity: 0.8;
}
