<form [formGroup]="form">
  <ix-textarea
    formControlName="certificate"
    [label]="'Certificate' | translate"
    [required]="true"
    [tooltip]="helptext.add.certificate.tooltip | translate"
  ></ix-textarea>

  <ix-textarea
    formControlName="private_key"
    [label]="'Private Key' | translate"
    [required]="true"
    [tooltip]="helptext.add.privatekey.tooltip | translate"
  ></ix-textarea>

  <ix-input
    formControlName="passphrase"
    type="password"
    [label]="'Passphrase' | translate"
    [tooltip]="helptext.add.passphrase.tooltip | translate"
  ></ix-input>

  <ix-input
    formControlName="passphrase2"
    type="password"
    [label]="'Confirm Passphrase' | translate"
  ></ix-input>

  <div class="form-actions">
    <button
      mat-button
      matStepperPrevious
    >{{ 'Back' | translate }}</button>
    <button
      mat-button
      matStepperNext
      color="primary"
    >{{ 'Next' | translate }}</button>
  </div>
</form>
