:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 16px;
  padding: 16px 24px;

  ix-icon {
    align-self: center;
  }
}
