<h1 matDialogTitle>{{ title }}</h1>
<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <ix-select
    formControlName="wipe_method"
    [label]="'Method' | translate"
    [tooltip]="tooltips.wipe_method | translate"
    [options]="wipeMethods$"
  ></ix-select>

  <div class="form-actions">
    <button mat-button type="submit" color="primary" [disabled]="form.invalid">
      {{ 'Wipe' | translate }}
    </button>

    <button mat-button type="button" matDialogClose>
      {{ 'Cancel' | translate }}
    </button>
  </div>
</form>
