<ix-form
  [formGroup]="form"
  [isEditMode]="!!disk()"
  [addTitle]="'Add Disk' | translate"
  [editTitle]="'Edit Disk' | translate"
  [requiredRoles]="requiredRoles"
  [submitHandler]="handleSubmit"
  (closed)="closed.emit($event)"
>
  <tn-form-section [heading]="'Filesystem Device' | translate">
    <ix-explorer
      formControlName="source"
      [label]="'Host Directory Source' | translate"
      [tooltip]="'Select the host directory to mount inside the container' | translate"
      [required]="true"
      [nodeProvider]="fileProvider"
    >
      <ix-explorer-create-dataset></ix-explorer-create-dataset>
    </ix-explorer>

    <tn-form-field
      [label]="'Container Mount Path' | translate"
      [tooltip]="'Path where the directory will be mounted inside the container (e.g., /data)' | translate"
      [required]="true"
    >
      <tn-input formControlName="target"></tn-input>
    </tn-form-field>
  </tn-form-section>
</ix-form>
