<ng-container [formGroup]="form">
  <ix-input
    formControlName="name"
    [label]="'Name' | translate"
    [required]="true"
  ></ix-input>
  <ix-checkbox
    formControlName="encryption"
    [label]="'Encryption' | translate"
  ></ix-checkbox>
  <ix-select
    *ngIf="form.controls.encryption_standard.enabled"
    formControlName="encryption_standard"
    [label]="'Encryption Standard' | translate"
    [options]="encryptionAlgorithmOptions$"
    [required]="true"
  ></ix-select>

  <ix-disk-warnings [form]="form"></ix-disk-warnings>
</ng-container>
