.mat-card-content {
  color: var(--fg2);
}

.product-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.links-wrapper {
  margin-bottom: 1rem;

  .links {
    margin-bottom: 5px;
  }
}
