<div class="mat-content" fxLayout="column">
  <div id="top-row" class="container" fxLayout="row wrap">
    <div id="top-right" [fxFlex]="isProductImageTall ? '40%' : '100%'">
      <div class="sys-image">
          <app-sys-image
          [product_image]="product_image"
        ></app-sys-image>
      </div>
    </div>
    <div id="top-left" [fxFlex]="isProductImageTall ? '60%' : '100%'" *ngIf="systemInfo">
        <app-sys-info
        *ngIf="!hasLicense; else licensedSysInfo"
        [version]='systemInfo.version'
        [model]="systemInfo.model"
        [product]='systemInfo.system_product'
        [memory]="systemInfo.memory"
        [serial]="systemInfo.serial"
        [hasLicense]="hasLicense"
        ></app-sys-info>
      <ng-template #licensedSysInfo>
        <app-sys-info
          [customer_name]='licenseInfo.customer_name'
          [features]='licenseInfo.features'
          [contract_type]='licenseInfo.contract_type'
          [expiration_date]='licenseInfo.expiration_date'
          [model]='systemInfo.model'
          [serial]='systemInfo.serial'
          [add_hardware]='licenseInfo.add_hardware'
          [daysLeftinContract]='licenseInfo.daysLeftinContract'
          [hasLicense]="hasLicense"
        >
        </app-sys-info>
      </ng-template>

      <div class="links-wrapper">
        <div class="links" *ngFor="let link of links">
          <div [innerHTML]=link></div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-group" [class]="isProductImageTall ? 'btn-fixed' : ''">
    <button id="update-license-btn" (click)="updateLicense()"mat-button color="primary">
      {{ licenseButtonText | translate }}
    </button>
    <button id="file-ticket-btn" (click)="fileTicket()" mat-button color="default">
      {{ ticketText | translate }}
    </button>
    <button id="proactive-support-btn" (click)="openProactive()" mat-button color="default" *ngIf="hasLicense">
      {{ proactiveText | translate }}
    </button>
  </div>
</div>
