@mixin section-title {
  border-bottom: 1px solid var(--lines);
  font-weight: 500;
  margin-bottom: 12px;
  padding-bottom: 7px;
}

@mixin item-list {
  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .label {
    display: inline;
    font-weight: bold;
    margin-right: 5px;
  }

  .value {
    display: inline;
    font-weight: 400;
  }
}
