<mat-card class="card">
  <mat-card-header class="border-b pb-5!">
    <h3>{{ name | translate }}</h3>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div [class]="['container', size()]">
      <ix-product-image
        [systemProduct]="systemInfo()?.platform"
        [hasEnclosureSupport]="!!hasEnclosureSupport()"
        [isHaLicensed]="!!isHaLicensed()"
        [isEnterprise]="!!isEnterprise()"
        [isIxHardware]="!!isIxHardware()"
        [showProductImageText]="false"
      ></ix-product-image>
    </div>
  </mat-card-content>
</mat-card>
