@import 'mixins/cards';

.app-logo {
  flex: 0 0 auto;
  height: 80px;
  margin-bottom: auto;
  padding: 5px;
  position: relative;
  width: 110px;

  img {
    width: 100%;
  }
}

.card {
  @include details-card();
  margin: 0;

  mat-card-header {
    button {
      margin-left: 8px;
    }
  }

  .details-list {
    flex: 1;
    width: 100%;
  }


  .details-item {
    &.sources {
      .label {
        align-self: flex-start;
      }

      .value,
      .value .source-link {
        white-space: normal;
      }
    }
  }

  .portals {
    margin-top: 7px;
  }
}


.source-link {
  white-space: normal;
  word-break: break-word;

  &:not(:last-child)::after {
    color: var(--fg1);
    content: ', ';
  }
}
