<tn-card
  class="card"
  padding="small"
  elevation="none"
  [primaryAction]="rollbackAction()"
  [secondaryAction]="deleteAction()"
>
  <div tnCardHeader class="card-header">
    <h3 class="tn-card__title">{{ 'Application Info' | translate }}</h3>
    <div class="header-actions">
      <tn-button
        variant="outline"
        [testId]="[app().name, 'edit']"
        [label]="'Edit' | translate"
        (onClick)="editButtonPressed()"
      ></tn-button>

      <tn-icon-button
        name="dots-vertical"
        library="mdi"
        testId="app-info-menu"
        [ariaLabel]="'More Options' | translate"
        [tooltip]="'More Options' | translate"
        [tnMenuTriggerFor]="appInfoMenu"
      ></tn-icon-button>
    </div>
  </div>

  <tn-menu #appInfoMenu>
    @if (isAppStopped()) {
      <tn-menu-item
        *ixRequiresRoles="requiredRoles"
        [testId]="[app().name, 'start']"
        [label]="'Start' | translate"
        [disabled]="inProgress()"
        (itemClick)="startApp.emit()"
      ></tn-menu-item>
    } @else {
      <tn-menu-item
        *ixRequiresRoles="requiredRoles"
        [testId]="[app().name, 'stop']"
        [label]="'Stop' | translate"
        [disabled]="inProgress()"
        (itemClick)="stopApp.emit()"
      ></tn-menu-item>
    }
    <tn-menu-item
      *ixRequiresRoles="requiredRoles"
      [testId]="[app().name, 'update']"
      [label]="'Update' | translate"
      [disabled]="!app().upgrade_available"
      (itemClick)="updateButtonPressed()"
    ></tn-menu-item>
    <tn-menu-item
      *ixRequiresRoles="requiredRoles"
      [testId]="[app().name, 'convert']"
      [label]="'Convert to custom app' | translate"
      [disabled]="app().custom_app"
      (itemClick)="openConvertDialog()"
    ></tn-menu-item>
  </tn-menu>

  <div class="info-container">
    <a class="app-logo" [ixTest]="[app().name, 'image-details']" [routerLink]="appDetailsRouterUrl()">
      <img [src]="app().metadata.icon" [src-fallback]="imagePlaceholder" />
    </a>
    <div class="details-list">
      <div class="details-item">
        <div class="label">{{ 'Name' | translate }}:</div>
        @if (app().custom_app) {
          <span class="value">{{ name() | orNotAvailable }}</span>
        } @else {
          <a class="value" [ixTest]="[app().name, 'name-details']" [routerLink]="appDetailsRouterUrl()">
            {{ name() | orNotAvailable }}
          </a>
        }
      </div>
      <div class="details-item">
        <div class="label" [tnTooltip]="'Upstream Application Version' | translate">{{ 'Version' | translate }}:</div>
        <div class="value">
          {{ app().metadata.app_version | orNotAvailable }}
        </div>
      </div>
      <div class="details-item">
        <div class="label" [tnTooltip]="'TrueNAS Catalog Revision' | translate">{{ 'Revision' | translate }}:</div>
        <div class="value">
          {{ app().version | orNotAvailable }}
        </div>
      </div>
      <div class="details-item sources">
        <div class="label">{{ 'Source' | translate }}:</div>
        <div class="value">
          <div>
            @for (source of app().metadata.sources; track source; let last = $last) {
              <a
                class="source-link"
                target="_blank"
                [href]="source"
                [title]="source"
                [ixTest]="[app().name, 'source']"
              >{{ source | cleanLink }}</a>
              @if (!last) {
                <span>, </span>
              }
            } @empty {
              {{ 'N/A' | translate }}
            }
          </div>
      </div>
      </div>

      <div class="details-item">
        <div class="label">{{ 'Train' | translate }}:</div>
        <div class="value">
          {{ app().metadata.train | orNotAvailable }}
        </div>
      </div>
      @if (sortedPortals().length > 0) {
        <div class="portals" [class.has-many]="sortedPortals().length > 1">
          @for (portal of sortedPortals(); track portal.label) {
            <tn-button
              class="portal-button"
              [testId]="['portal', app().name, portal.label]"
              [tnTooltip]="portal.url"
              [label]="portal.label"
              (onClick)="openPortalLink(app(), portal.label)"
            ></tn-button>
          }
        </div>
      }
    </div>
  </div>
</tn-card>
