<aside
  class="h-[calc(100vh-134px)] z-10 flex fixed w-[110px] left-0 top-[104px] flex-col overflow-hidden"
>
  <div class="flex-1 flex flex-col gap-4 justify-center">
    <div class="grid gap-4 text-center mx-auto">
      @for (item of appBarState$ | async; track item) {
        <button
          matMiniFab
          class="cursor-pointer size-[50px] rounded-full relative flex items-center justify-center"
          [ngClass]="item.status === 'open' ? 'bg-primary' : 'bg-background'"
          [routerLink]="getRouterLink(item.state)"
          (click)="onItemClick(item)"
        >
          <ix-icon
            [name]="item.icon"
            [ngClass]="
              item.status === 'open' ? 'text-background' : 'text-foreground'
            "
          ></ix-icon>
        </button>
      }
    </div>
  </div>
</aside>
