:host {
  display: block;
  width: 400px;
}

.form-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.form-actions {
  align-items: center;
  border-top: 1px solid var(--lines);
  display: flex;
  justify-content: space-between;
  padding-top: 16px;

  button {
    margin-left: 10px;
  }
}
