<ix-layout-step
  [description]="helptext.special_vdev_description | translate"
  [type]="VdevType.Special"
  [inventory]="inventory$ | async"
  [canChangeLayout]="canChangeLayout"
  [limitLayouts]="allowedLayouts"
  [isStepActive]="isStepActive()"
></ix-layout-step>

@if (stepWarning()) {
  <p class="error-warning">
    {{ stepWarning() }}
  </p>
}

<ix-form-actions>
  <button
    mat-button
    matStepperPrevious
    color="accent"
    type="button"
    ixTest="back-metadata"
  >
    {{ 'Back' | translate }}
  </button>
  <button
    mat-button
    matStepperNext
    color="primary"
    type="button"
    ixTest="next-metadata"
  >
    {{ 'Next' | translate }}
  </button>

  <button
    mat-button
    color="error"
    type="button"
    ixTest="reset-fields-in-metadata-step"
    (click)="resetStep()"
  >
    {{ 'Reset Step' | translate }}
  </button>

  <button
    mat-button
    color="accent"
    type="button"
    ixTest="save-and-go-to-review-metadata"
    (click)="goToReviewStep()"
  >
    {{ 'Save And Go To Review' | translate }}
  </button>
</ix-form-actions>

