.widget mat-card-content {
  width: 100%;
}

.bar-chart-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding-top: 3%;
  place-content: center space-around;
}

.memory-legend {
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;

  .legend-item {
    padding-left: 15%;
    text-align: left;
    white-space: nowrap;
    width: 85%;

    &.chart-label {
      text-align: center;
    }

    .label {
      font-weight: 500;
    }

    .legend-swatch {
      margin: 4px 4px 0;
    }
  }
}

.no-memory-legend-values {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  margin: 16px 0 16px 16px;
  place-content: center space-around;
  width: 100%;
}

.memory-legend-values {
  margin: 16px 0 16px 16px;
  width: 100%;
}

.memory-usage-chart {
  box-sizing: border-box;
  flex: 1 1 55%;
  height: 260px;
  max-width: 55%;
  padding: 16px;
  position: relative;

  canvas {
    height: 200px;
    width: calc(100% - 32px);
  }
}

.xs.widget .memory-usage-chart {
  flex: 1 1 100%;
  max-width: 100%;
}

.title-wrapper {
  height: 45%;
  padding: 16px;
  text-align: left;
  width: 100%;
}

.title-wrapper .widget-loader {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.title-wrapper .title {
  font-size: 150%;
}

.title-wrapper .subtitle {
  font-size: 80%;
}

.bar-chart {
  margin-bottom: 8px;
  padding-left: 32px;
}

h1.memory-used {
  font-family: var(--font-family-body);
  font-size: 350%;
  font-weight: 400;
  line-height: 1;
  margin: 56px 0 0;
}

h1.memory-used span.memory-used-units {
  font-size: 50%;
  margin-left: 5px;
}

.spinner-wrapper {
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;

  .spinner {
    margin: auto;
  }
}

.xs.widget .spinner-wrapper {
  height: auto;
  width: auto;
}

.chart-wrapper {
  position: relative;
  width: 100%;
}

.x-axis .start-time,
.x-axis .end-time {
  bottom: 0;
  font-family: Roboto;
  font-size: 75%;
  font-weight: 500;
  opacity: 0.5;
  position: absolute;
}

.x-axis .start-time {
  left: 8px;
}

.x-axis .end-time {
  right: 8px;
}

.primary-stat-wrapper {
  flex: 1 1 45%;
  max-width: 45%;
  padding-bottom: 48px;
}

.xs .primary-stat-wrapper {
  flex: 1 1 100%;
  max-width: 100%;
  padding-bottom: 0;
}

/* MARKER */
:host ::ng-deep .c3-chart-line .c3-circles circle._expanded_ {
  stroke: var(--primary) !important;
}

:host ::ng-deep .c3-chart-line circle.c3-circle {
  fill: var(--bg2) !important;
}

/* NARROW SCREENS */
.xs.widget {
  height: calc(100vh - 96px);
  position: absolute;
  width: 100%;
}

.list-subheader {
  color: var(--fg1);
  font-size: 90%;
  font-weight: 700;
  padding: 8px 8px 0 16px;
  text-align: left;
}

.mat-mdc-list-base .mat-mdc-list-item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.xs.widget .memory-legend {
  flex-direction: column;

  .legend-item {
    padding-left: 0;

    .legend-swatch {
      margin-top: 0;
    }

    .label ,
    .value {
      margin-top: 2px;
    }
  }
}



/* Overrides */
.widget .c3 .c3-axis g.tick tspan {
  fill-opacity: 1;
  font-weight: 500;
}

