<ix-fieldset [title]="'OAuth Authentication' | translate" [formGroup]="form">
  <button
    *ngIf="!hideLoginToProviderButton"
    class="login-button"
    mat-button
    type="button"
    ixTest="log-in-to-provider"
    (click)="onLoginPressed()"
  >
    {{ 'Log In To Provider' | translate }}
  </button>

  <ix-input
    formControlName="client_id"
    [label]="'OAuth Client ID' | translate"
    [required]="hideLoginToProviderButton"
    [tooltip]="oauthTooltip"
  ></ix-input>

  <ix-input
    formControlName="client_secret"
    type="password"
    [label]="'OAuth Client Secret' | translate"
    [required]="hideLoginToProviderButton"
    [tooltip]="oauthTooltip"
  ></ix-input>
</ix-fieldset>
