<mat-card class="card">
  <mat-card-header>
    <h3 mat-card-title>{{ 'History' | translate }}</h3>
    <button
      mat-icon-button
      ixTest="refresh-events"
      [attr.aria-label]="'Refresh Events' | translate"
      [matTooltip]="'Refresh Events' | translate"
      [disabled]="isLoading"
      (click)="loadEvents()"
    >
      <ix-icon name="mdi-refresh"></ix-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="events">
      <h4>{{ 'Related Kubernetes Events' | translate }}</h4>
      <div class="event-list">
        @if (isLoading) {
          <ngx-skeleton-loader [count]="5"></ngx-skeleton-loader>
        } @else {
          @for (event of events; track event) {
            <div class="event-item">
              @if (event?.metadata?.creation_timestamp?.$date) {
                <strong class="event-timestamp">
                  {{ event.metadata.creation_timestamp.$date | formatDateTime }}
                </strong>
              }
              <span>{{ event.message | translate }}</span>
            </div>
          } @empty {
            <div class="no-events">{{ 'No events are available.' | translate }}</div>
          }
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>


