<div class="job-events">
  <div class="events-header">
    <h4>{{ 'Events Timeline' | translate }}</h4>
    <tn-button
      ixTest="add-event-button"
      color="primary"
      [label]="'Add Event' | translate"
      (onClick)="addEvent()"
    ></tn-button>
  </div>

  @if (events().length === 0) {
    <p class="empty-message">{{ 'No events. Add an event to simulate collection updates.' | translate }}</p>
  }

  <form [formGroup]="form">
    <div formArrayName="events">
      @for (eventControl of eventsFormArray.controls; track $index; let i = $index) {
        <tn-card class="event-card" [formGroupName]="i">
          <div class="event-header">
            <h5>{{ 'Event' | translate }} #{{ i + 1 }}</h5>
            <tn-icon-button
              name="delete"
              library="mdi"
              ixTest="remove-event-button"
              type="button"
              (click)="removeEvent(i)"
            ></tn-icon-button>
          </div>

          <div class="event-fields">
            <div class="field-row">
              <tn-form-field [label]="'Delay (ms)' | translate" [required]="true">
                <tn-input
                  ixTest="delay-input"
                  formControlName="delay"
                ></tn-input>
              </tn-form-field>

              <tn-form-field [label]="'State' | translate" [required]="true">
                <tn-select
                  ixTest="state-select"
                  formControlName="state"
                  [options]="stateOptions"
                ></tn-select>
              </tn-form-field>
            </div>

            <tn-form-field [label]="'Description' | translate" [required]="true">
              <tn-input
                ixTest="description-input"
                formControlName="description"
              ></tn-input>
            </tn-form-field>

            <div class="progress-fields">
              <tn-form-field [label]="'Progress %' | translate">
                <tn-input
                  ixTest="progress-percent-input"
                  formControlName="progressPercent"
                ></tn-input>
              </tn-form-field>

              <tn-form-field [label]="'Progress Description' | translate">
                <tn-input
                  ixTest="progress-description-input"
                  formControlName="progressDescription"
                ></tn-input>
              </tn-form-field>
            </div>

            @if (isResultVisible(i)) {
              <tn-form-field [label]="'Result (JSON)' | translate">
                <tn-input
                  ixTest="result-textarea"
                  formControlName="result"
                  [multiline]="true"
                  [rows]="3"
                ></tn-input>
              </tn-form-field>
            }

            @if (getEventControl(i).get('state')?.value === 'FAILED') {
              <tn-form-field [label]="'Error Message' | translate">
                <tn-input
                  ixTest="error-input"
                  formControlName="error"
                  [placeholder]="'Error description' | translate"
                ></tn-input>
              </tn-form-field>
            }
          </div>
        </tn-card>
      }
    </div>
  </form>
</div>
