<ul class="al-msg-center clearfix">
    <li class="dropdown">
        <a href class="dropdown-toggle" id="msg-dd1" data-toggle="dropdown" aria-expanded="false">
            <i (click)="refreshAlerts()" class="fa fa-bell"></i>
            <span *ngIf="alerts.length">{{alerts.length}} </span>

            <div class="notification-ring"></div>
        </a>

        <div class="top-dropdown-menu dropdown-menu" aria-labelledby="msg-dd1">
            <i class="dropdown-arr"></i>
            <div class="msg-list">
                <div *ngIf="alerts?.length; else noAlerts">
                    <a *ngFor="let msg of alerts" href class="clearfix">
                        <div class="msg-area">
                            <div>{{ msg.message }}</div>
                            <span>{{ msg.level }}</span>
                        </div>
                    </a>
                </div>
                <ng-template #noAlerts>
                    <div class="msg-area">
                        <div>The system has no alerts</div>
                    </div>
                </ng-template>
            </div>
        </div>
    </li>
</ul>