<ul class="al-msg-center clearfix">
    <li class="dropdown">
        <a href class="dropdown-toggle" id="msg-dd1" data-toggle="dropdown" aria-expanded="false">
            <i (click)="getNotifications()" class="fa fa-bell-o"></i>
            <span *ngIf="notification_count>0">{{notification_count}} </span>

            <div class="notification-ring"></div>
        </a>

        <div class="top-dropdown-menu dropdown-menu" aria-labelledby="msg-dd1">
            <i class="dropdown-arr"></i>
            <div class="msg-list">
                <a *ngFor="let msg of notifications" href class="clearfix">
                    <div class="msg-area">
                        <div>{{ msg.message }}</div>
                        <span>{{ msg.level }}</span>
                    </div>
                </a>
            </div>
        </div>
    </li>
</ul>