<div class="pod-logs-wrapper">
  <div class="meta-data">
    <label>{{ 'Application Name' | translate }}:</label> <span class="name">{{ chartReleaseName }}</span>
    <label>{{ 'Pod Name' | translate }}:</label> <span class="name">{{ podName }}</span>
    <label>{{ 'Container Name' | translate }}:</label> <span class="name">{{ containerName }}</span>
  </div>
  <div class="pod-logs" [ngStyle]="{'font-size' : fontSize+'px'}" #logContainer>
    <div *ngFor="let podLog of podLogs" class="log-row">
      <span class="timestamp">{{ podLog.timestamp }}</span>
      <span class="log-data">{{ podLog.data }}</span>
    </div>
  </div>
</div>
