:host {
  display: flex;
  padding: 15px;
  place-content: center;
}

.empty-page {
  align-items: center;
  color: var(--fg2);
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  margin: auto 24px;
  max-width: 300px;
  place-content: center;

  .icon-div {
    text-align: center;

    tn-icon {
      color: var(--fg2);
      opacity: 0.1;
    }
  }

  .empty-title {
    font-size: inherit;
    margin-bottom: 10px;
  }

  .empty-message {
    font-size: 0.875rem;
    margin-bottom: 10px;
  }

  &.large {
    .empty-title {
      font-size: 16px;
      margin-bottom: 20px;
    }

    .empty-message {
      margin-bottom: 20px;
    }
  }

  button.empty-action {
    width: 100%;
  }
}

.empty-page.compact {
  margin: 0;
}

.empty-page.errors {
  .icon-div {
    margin: 16px;
  }

  .icon-div tn-icon {
    color: var(--red);
    opacity: 1;
  }
}
