<mat-card>
  <p> <b>Boot Pool Condition :</b> {{condition}} </p>
  <p> <b>Size:</b> {{size_boot}} </p>
  <p><b>Used:</b> {{size_consumed}}({{percentange}})</p>
  <div *ngIf="scrub_msg">
    <p> Last Scrub Run on: {{scrub_msg}} </p>
  </div>
  <p> Automatic scrub interval (in days)</p>
  <mat-form-field floatPlaceholder="never">
    <input matInput [value]="scrub_interval" #scrubIntervalEvent>
  </mat-form-field>
  <div class="mat-card-actions">
    <button mat-button type="button" (click)="scrub()" mat-button color="primary">{{"Scrub Boot Pool" | translate}}</button>
    <button mat-button type="button" (click)="goToStatus()" mat-button color="primary">{{"Boot Pool Status" | translate}}</button>
  </div>
</mat-card>
<entity-table [title]="title" [conf]="this"></entity-table>
