<p *ngIf="error" type="danger"><span [innerHTML]="error"></span></p>
<mat-card>
  <form (ngSubmit)="onSubmit($event)" [formGroup]="formGroup">
    <ng-container *ngFor="let field of fieldConfig;" dynamicField [config]="field" [group]="formGroup" [fieldShow]="'show'">
    </ng-container>
    <mat-card-actions class="buttons">
      <button class="btn btn-block btn-warning" type="submit" mat-button color="primary" [disabled]="!formGroup.valid">{{ "Save" | translate }}</button>
      <button *ngIf="route_success" (click)="goBack()" type="button" mat-button color="accent">{{ "Cancel" | translate }}</button>
    </mat-card-actions>
  </form>
</mat-card>
