:host {
  display: block;

  margin-bottom: 12px;
  margin-top: 18px;
}

.full-width {
  color: var(--fg1);
  width: 100%;
}

.container {
  padding: 8px 0;
}

.tooltip {
  margin-left: 8px;
}

.input-container {
  background: var(--bg1);
  border: solid 1.5px var(--lines);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  padding: 6px 8px;
  position: relative;

  &:focus-within {
    border-color: var(--accent);
  }

  &.disabled {
    opacity: 0.38;

    input {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}

.label-container {
  margin-bottom: 5px;
  margin-left: 1px;
}

.label {
  font-size: x-small;
}
