:host {
  border-bottom: solid 1px var(--lines);
  box-sizing: border-box;
  color: var(--fg1);
  display: block;
  margin: 0 auto 32px;
  padding: 0 16px 8px;
  width: 100%;
}

.page-title > div {
  min-height: 40px;
}

.page-title .form-element.form-combobox .mat-form-field,
.page-title .form-element.form-ip-netmask .mat-form-field,
.page-title .form-element.form-combobox .mat-menu-trigger,
.page-title .form-element .mat-form-field-wrapper,
.page-title .form-element input[type = 'password'],
.page-title .form-element input[type = 'email'],
.page-title .form-element input[type = 'text'],
.page-title .form-element input[type = 'number'],
.page-title .form-element textarea,
.page-title .form-element select {
  background-color: rgba(0, 0, 0, 0.1);
}
