:host {
  width: 100%;

  h2 {
    $title-gap: 8px;
    align-items: center;
    color: var(--fg2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: $title-gap;
    margin-bottom: 1rem;
    max-width: 100%;
    place-items: flex-start;
  }
}

