<tn-dialog-shell [title]="'Stop {vmName}?' | translate: { vmName: vm.name }">
<div>
  <ix-checkbox
    [formControl]="forceAfterTimeoutCheckbox"
    [label]="'Force Stop After Timeout' | translate"
    [tooltip]="helptext.stop_dialog.forceTooltip | translate"
  ></ix-checkbox>
</div>

<ix-form-actions tnDialogAction>
  <tn-button
    variant="outline"
    testId="cancel"
    [label]="'Cancel' | translate"
    (onClick)="dialogRef.close()"
  ></tn-button>
  <tn-button
    *ixRequiresRoles="requiredRoles"
    color="primary"
    testId="stop-vm"
    [label]="'Stop' | translate"
    (onClick)="onStop()"
  ></tn-button>
</ix-form-actions>
</tn-dialog-shell>
