<tn-dialog-shell [title]="'Stop {vmName}?' | translate: { vmName: vm.name }">
<div>
  <ix-checkbox
    [formControl]="forceAfterTimeoutCheckbox"
    [label]="'Force Stop After Timeout' | translate"
    [tooltip]="helptext.stop_dialog.forceTooltip | translate"
  ></ix-checkbox>
</div>

<div tnDialogAction>
  <ix-form-actions>
    <button
      mat-button
      ixTest="cancel"
     
    >
      {{ 'Cancel' | translate }}
    </button>
    <button
      *ixRequiresRoles="requiredRoles"
      mat-button
      color="primary"
      ixTest="stop-vm"
      (click)="onStop()"
    >
      {{ 'Stop' | translate }}
    </button>
  </ix-form-actions>
</div>
</tn-dialog-shell>
