.container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-width: 105px;
}

h1 {
  font-weight: 600;
}

span {
  font-size: 1rem;
  margin-top: 5px;
}

.title {
  font-weight: 500;
}

.value {
  margin-left: 5px;
}
