<ng-container [formGroup]="form">
  <tn-form-field [label]="'Disk Size' | translate" [required]="true">
    <tn-select
      formControlName="sizeAndType"
      [testId]="['size-and-type', type()]"
      [options]="(diskSizeAndTypeOptions$ | async) ?? []"
      [compareWith]="compareSizeAndTypeWith"
      [placeholder]="tnSelectLabels.placeholder | translate"
      [noOptionsLabel]="tnSelectLabels.noOptions | translate"
    ></tn-select>
  </tn-form-field>

  @if (canSelectLargerDisk()) {
    <tn-form-field
      [tooltip]="'If checked, disks of the selected size or larger will be used. If unchecked, only disks of the selected size will be used.' | translate"
    >
      <tn-checkbox
        formControlName="treatDiskSizeAsMinimum"
        [testId]="['treat-disk-size-as-minimum', type()]"
        [label]="'Treat Disk Size as Minimum' | translate"
      ></tn-checkbox>
    </tn-form-field>
  }
</ng-container>
