<mat-card>
  <div class="current-version">
    <b>{{ 'Current version' | translate }}: </b>
    @if (systemVersion(); as systemVersion) {
      <span>{{ systemVersion }}</span>
      <ix-copy-button [text]="systemVersion"></ix-copy-button>
    } @else {
      <ngx-skeleton-loader class="inline-loader"></ngx-skeleton-loader>
    }
  </div>
  @if (standbySystemVersion(); as standbySystemVersion) {
    <div class="current-version remote">
      <b>{{ 'Current version (standby node)' | translate }}: </b>
      <span>{{ standbySystemVersion }}</span>
      <ix-copy-button [text]="standbySystemVersion"></ix-copy-button>
    </div>
  }
</mat-card>
