mat-card {
  margin: 0 auto 15px;
  max-width: 960px;
  padding: 20px !important;
}

.current-version {
  align-items: center;
  display: flex;
  gap: 4px;
  min-height: 30px;
}

.inline-loader {
  align-items: center;
  display: inline-flex;
  width: 50%;
}
