<div class="header-card item-search">
  <ix-fake-progress-bar
    class="loader-bar"
    [loading]="!!(dataProvider().isLoading$ | async)"
  ></ix-fake-progress-bar>

  <div class="actions-bar">
    <div class="top-row">
      <ix-select
        class="service-select"
        ixTest="audit-service"
        [formControl]="serviceControl"
        [label]="'Service' | translate"
        [options]="serviceOptions$"
        [required]="true"
      ></ix-select>
      @if (dataProvider().totalRows) {
        <div class="export-container">
          <button
            mat-icon-button
            ixTest="export-format-selector"
            [matMenuTriggerFor]="formatMenu"
            [attr.aria-label]="'Select Export Format' | translate"
          >
            <ix-icon name="mdi-menu-down"></ix-icon>
          </button>
          <mat-menu #formatMenu="matMenu">
            <button
              mat-menu-item
              ixTest="format-csv"
              [class.selected]="exportFormat() === ExportFormat.Csv"
              (click)="onFormatChange(ExportFormat.Csv)"
            >
              CSV
            </button>
            <button
              mat-menu-item
              ixTest="format-json"
              [class.selected]="exportFormat() === ExportFormat.Json"
              (click)="onFormatChange(ExportFormat.Json)"
            >
              JSON
            </button>
            <button
              mat-menu-item
              ixTest="format-yaml"
              [class.selected]="exportFormat() === ExportFormat.Yaml"
              (click)="onFormatChange(ExportFormat.Yaml)"
            >
              YAML
            </button>
          </mat-menu>
          <ix-export-button
            jobMethod="audit.export"
            downloadMethod="audit.download_report"
            [addReportNameArgument]="true"
            [searchQuery]="searchQuery()"
            [sorting]="dataProvider().sorting"
            [defaultFilters]="basicQueryFilters()"
            [controllerType]="dataProvider().selectedControllerType"
            [filename]="exportFilename()"
            [fileType]="exportFileType()"
            [fileMimeType]="exportMimeType"
            [exportFormat]="exportFormat()"
            [displayFormat]="exportFormatDisplayLabel()"
            [ariaLabel]="'Export audit logs as {format}' | translate:{ format: exportFormatDisplayLabel() }"
            [customExportParams]="{ services: [serviceControl.value] }"
          ></ix-export-button>
        </div>
      }
    </div>
    <div class="search-row">
      <ix-search-input2
        #searchInput
        class="search-input"
        [properties]="searchProperties()"
        [advancedSearchPlaceholder]="advancedSearchPlaceholder"
        [query]="searchQuery()"
        (runSearch)="onSearch(searchInput.query()); updateUrlOptions(); searchInput.advancedSearch()?.hideDatePicker()"
      ></ix-search-input2>
      <button
        mat-button
        type="button"
        color="primary"
        ixTest="search"
        (click)="onSearch(searchInput.query()); updateUrlOptions(); searchInput.advancedSearch()?.hideDatePicker()"
      >
        {{ 'Search' | translate }}
      </button>
    </div>
  </div>
</div>
