<div class="container-dualListBox">
  <div
    #userList="cdkDropList"
    class="container-items"
    cdkDropList
    id="user-list"
    [style.minHeight]="minHeight"
    [style.maxHeight]="maxHeight"
    [cdkDropListData]="availableItems.totalItems"
    [cdkDropListConnectedTo]="[memberList]"
    (cdkDropListDropped)="drop($event)"
  >
    @if (title1) {
      <div class="list-title">{{ title1 }}</div>
    }
    <mat-list [attr.aria-label]="title1">
      @for (item of availableItems.totalItems; track item) {
        <mat-list-item
          cdkDrag
          class="draggable"
          [class.chosen]="availableItems.isSelected(item)"
          (cdkDragStarted)="onDragStart($event)"
          (mousedown)="availableItems.mouseDown(item, $event)"
          (mouseup)="availableItems.mouseUp(item, $event)"
        >
          <ng-container
            [ngTemplateOutlet]="templateItem"
            [ngTemplateOutletContext]="{ $implicit: item }"
          ></ng-container>
        </mat-list-item>
      }
    </mat-list>
  </div>

  <div class="container-buttons">
    <div [style.margin-bottom.px]="5" (click)="select()">
      @if (templateArrowRight) {
        <div>
          <ng-container [ngTemplateOutlet]="templateArrowRight"></ng-container>
        </div>
      } @else {
        <button
          mat-flat-button
          class="dual-list-action-btn"
          ixTest="add-to-list"
          [disabled]="!availableItems.selectedItems.length"
        >
          <ix-icon name="arrow_forward" class="arrow"></ix-icon>
        </button>
      }
    </div>
    <div (click)="return()">
      @if (templateArrowLeft) {
        <div>
          <ng-container [ngTemplateOutlet]="templateArrowLeft"></ng-container>
        </div>
      } @else {
        <button
          mat-flat-button
          class="dual-list-action-btn"
          ixTest="remove-from-list"
          [disabled]="!selectedItems.selectedItems.length"
        >
          <ix-icon name="arrow_back" class="arrow"></ix-icon>
        </button>
      }
    </div>
  </div>

  <div
    #memberList="cdkDropList"
    class="container-items"
    cdkDropList
    id="member-list"
    [style.minHeight]="minHeight"
    [style.maxHeight]="maxHeight"
    [cdkDropListData]="selectedItems.totalItems"
    [cdkDropListConnectedTo]="[userList]"
    (cdkDropListDropped)="drop($event)"
  >
    @if (title2) {
      <div class="list-title">{{ title2 }}</div>
    }
    <mat-list [attr.aria-label]="title2">
      @for (item of selectedItems.totalItems; track item) {
        <mat-list-item
          cdkDrag
          class="draggable"
          [class.chosen]="selectedItems.isSelected(item)"
          (cdkDragStarted)="onDragStart($event)"
          (mousedown)="selectedItems.mouseDown(item, $event)"
          (mouseup)="selectedItems.mouseUp(item, $event)"
        >
          <ng-container
            [ngTemplateOutlet]="templateItem"
            [ngTemplateOutletContext]="{ $implicit: item }"
          >
          </ng-container>
        </mat-list-item>
      }
    </mat-list>
  </div>
</div>

<ng-template #noTemplateItem let-item>{{ item.name }}</ng-template>
