<md-card class="p-0">
  <md-card-title class="mat-bg-primary m-0">
  	 <div class="card-title-text">
  	 	Shell
  	 </div>
  </md-card-title>
	<div id="terminal" [ngStyle]="{'font-size' : font_size+'px'}"  #terminal></div>
	<md-card-content>
		<md-divider class="mb-1"></md-divider>
		Set font size: <md-slider min="10" max="20" step="1" value="14"  [(ngModel)]="font_size"></md-slider>
		<button md-raised-button (click)="resetDefault()" mdTooltip="Reset font size to default value">Restore default</button>
		<md-icon class="shellTooltip" mdTooltip="Copy/paste commands are usable in the shell with Ctrl + C/V for Linux, Unix, and Windows users, or Command + C/V for Apple users. FreeNAS has many useful command line utilities, including iperf, netperf, IOzone, arcstat, tw_cli, MegaCli, freenas-debug, tmux, Dmidecode. Check the Guide for more information." mdTooltipPosition="before">help_outline</md-icon>
	</md-card-content>
</md-card>
