@import 'xterm/css/xterm.css';

#terminal {
  min-height: 400px;
}

.fontbar {
  color: var(--fg1);
  font-size: 14px;
  padding-top: 15px;
}

.shellTooltip {
  position: absolute !important;
  right: 20px;
}
