.arrow-element {
  align-items: center;
  animation: float 1.5s infinite ease-in-out;
  display: flex;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
  z-index: 1000;

  &.arrow-left {
    rotate: 0deg;
  }

  &.arrow-right {
    margin-top: -3px;
    rotate: 180deg;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}
