.arrow-element {
  align-items: center;
  animation: float 1.5s infinite ease-in-out;
  display: flex;
  opacity: 0;
  position: absolute;
  transition: opacity 0.3s;
  width: 130px;
  z-index: 1000;

  &::after {
    background-image: url('assets/images/right-arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 110px;
    position: relative;
    transform: rotate(180deg);
    width: 100%;
  }
}

.arrow-left {
  &.arrow-element::after {
    transform: rotate(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}
