.ix-blue mat-card.card-square {
  border-radius: 0;
  border: none;

  mat-card-header {
    border-bottom: 1px solid var(--lines);
  }

  mat-card-title {
    font-size: 1.4rem;
    margin: 12px 10px 14px;
  }

  mat-card-footer {
    border-top: 1px solid var(--lines);
    margin: 0;
    box-sizing: border-box;
  }
}
