<ix-oauth-provider-authentication
  [oauthUrl]="provider.credentials_oauth"
  (authenticated)="onOauthAuthenticated($event)"
></ix-oauth-provider-authentication>

<ix-fieldset [title]="'Authentication' | translate" [formGroup]="form">
  <ix-input
    formControlName="token"
    type="password"
    [label]="'Access Token' | translate"
    [required]="true"
    [tooltip]="helptext.pcloud.token.tooltip | translate"
  ></ix-input>

  <ix-input
    formControlName="hostname"
    [label]="'Hostname' | translate"
    [tooltip]="helptext.pcloud.hostname.tooltip | translate"
  ></ix-input>
</ix-fieldset>
