<ix-modal-header
  [requiredRoles]="requiredRoles"
  [title]="title"
  [loading]="isLoading"
></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset>
        <ix-select
          formControlName="pool"
          [label]="'Pool' | translate"
          [tooltip]="tooltips.pool | translate"
          [required]="true"
          [options]="poolOptions$"
        ></ix-select>

        <ix-input
          formControlName="threshold"
          type="number"
          [label]="'Threshold Days' | translate"
          [required]="true"
          [tooltip]="tooltips.threshold | translate"
        ></ix-input>

        <ix-input
          formControlName="description"
          [label]="'Description' | translate"
          [tooltip]="tooltips.description | translate"
        ></ix-input>

        <ix-scheduler
          formControlName="schedule"
          [label]="'Schedule' | translate"
          [tooltip]="tooltips.schedule | translate"
          [required]="true"
        ></ix-scheduler>

        <ix-checkbox
          formControlName="enabled"
          [label]="'Enabled' | translate"
          [tooltip]="tooltips.enabled | translate"
        ></ix-checkbox>
      </ix-fieldset>

      <ix-form-actions>
        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          type="submit"
          color="primary"
          ixTest="save"
          [disabled]="form.invalid || isLoading"
        >
          {{ 'Save' | translate }}
        </button>
      </ix-form-actions>
    </form>
  </mat-card-content>
</mat-card>
