<div class="entity-table-expanded-panel">
    <section class="info">
        <div fxLayout="row" *ngIf="direction == 'row'">
            <div *ngFor="let column of this.columns; let i = index">
                <div *ngIf="column.isHidden == undefined ? true : !column.isHidden" class="layout-gap">
                    <h6><strong>{{ column.name }}</strong></h6>
                    {{config[column.prop]}}
                </div>
            </div>
        </div>
        <div fxLayout="column" *ngIf="direction == 'column'">
            <div *ngFor="let column of this.columns; let i = index">
                <div *ngIf="column.isHidden == undefined ? true : !column.isHidden">
                    <strong>{{ column.name }}:</strong>
                    {{config[column.prop]}}
                </div>
            </div>
        </div>
    </section>
    <mat-divider *ngIf="showActions"></mat-divider>
    <section class="action-buttons" fxLayout="row" *ngIf="showActions">
        <div *ngFor="let action of actions">
            <button *ngIf="action.visible" mat-menu-item (click)="action.onClick(config)"
                id="plugins_{{action.name}}_{{action.id}}" class="row-details-action-button" fxFlex>
                <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
                <span>{{action.label | translate}}</span>
            </button>
        </div>
    </section>
</div>