<div class="outer-container">
  <div class="horizontal-border top-border"></div>
  <div class="vdev-container">
    <div class="vertical-border left-border"></div>
    <div
      dndDropzone
      class="content-container"
      (dndDrop)="onDrop($event)"
    >
      <ng-content *ngIf="vdevDisksLength"></ng-content>
      <div
        *ngIf="!vdevDisksLength"
        class="empty-container"
      >
        <div><span>No disks</span></div>
      </div>
    </div>
    <div class="vertical-border right-border"></div>
  </div>
  <div class="bottom-border-container">
    <div class="horizontal-border bottom-border"></div>
    <div
      class="enclosure-container"
    >
      <ix-icon name="ix:enclosure"></ix-icon>
      <strong>{{ enclosure || 0}}</strong>
    </div>
    
    <div class="horizontal-border bottom-border"></div>
  </div>
</div>