<div class="outer-container">
  <div [ngClass]="{ 'horizontal-border top-border': enclosureExists }"></div>
  <div class="vdev-container" [ngClass]="{'drag-active': (store$.dragActive$ | async)}">
    <div [ngClass]="{ 'vertical-border left-border': enclosureExists }"></div>
    <div
      dndDropzone
      class="content-container"
      (dndDrop)="onDrop($event)"
    >
      <ng-content *ngIf="vdevDisksLength"></ng-content>
      <div
        *ngIf="!vdevDisksLength"
        class="empty-container"
      >
        <div><span>No disks</span></div>
      </div>
    </div>
    <div [ngClass]="{ 'vertical-border right-border': enclosureExists }"></div>
  </div>
  <div *ngIf="enclosureExists" class="bottom-border-container">
    <div class="horizontal-border bottom-border"></div>
    <div
      class="enclosure-container"
    >
      <ix-icon name="ix:enclosure"></ix-icon>
      <strong>{{ enclosure || '' }}</strong>
    </div>
    
    <div class="horizontal-border bottom-border"></div>
  </div>
</div>