:host {
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;

  :host-context(ix-editable) & {
    margin-bottom: 0;
    margin-top: 0;
  }

  &.inlineFields {
    align-items: center;
    display: flex;
  }
}
