@import '~assets/styles/mixins/cards';
@import '~assets/styles/mixins/breakpoints';

.title {
  color: var(--fg2);

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }

  .mobile-prefix {
    display: none;
    @media (max-width: $breakpoint-hidden) {
      display: contents;
      opacity: 0.85;
    }
  }

  .mobile-prefix::after {
    @media (min-width: $breakpoint-hidden) and (max-width: calc($breakpoint-dualcolumn-slim - 1px)) {
      //content: '\A';
      //white-space: pre;
    }
  }

  .prefix {
    opacity: 0.85;
    
    @media (max-width: $breakpoint-hidden) {
      display: none;
    }
  }

  .full-path {
    display: inline;
    max-width: calc(100vw - 64px);

    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-hidden) {
      display: inline;
      max-width: calc(100vw - 64px);
    }

    @media (min-width: $breakpoint-singlecolumn) and (max-width: calc($breakpoint-dualcolumn-slim - 1px)) {
      display: block;
      margin: 8px 0 0;
    }

    @media  (max-width: $breakpoint-tablet) {
      display: block;
      margin: 8px 0 0 48px;
      max-width: unset;
    }

  }

  .parent-path {
    font-weight: 300;
    opacity: 0.85;
  }

  .own-name-and-icon {
    font-weight: 500;
  }

}

.cards {
  @include details-cards();

  @media (max-width: $breakpoint-tablet) {
    overflow: hidden;
  }
}

.own-name-and-icon {
  display: inline-flex;
}

.header {
  display: flex;
  margin-bottom: 16px;
  padding: 12px 12px 12px 0;
  place-content: space-between;


  @media (min-width: calc($breakpoint-tablet + 1px)) and (max-width: $breakpoint-hidden) {
    border-bottom: solid 1px var(--lines);
  }

  @media (max-width: $breakpoint-tablet) {
    flex-wrap: wrap;
    margin-bottom: 8px;
  }

  @media (min-width: $breakpoint-hidden) and (max-width: calc($breakpoint-dualcolumn-slim - 1px)) {
    border-bottom: solid 1px var(--lines);
    flex-wrap: wrap;
    margin-bottom: 8px;
    padding-bottom: 0;
  }

  @media (min-width: $breakpoint-singlecolumn) {
    align-items: center;
  }

  a.mobile-back-button {
    display: none;
    @media (max-width: $breakpoint-hidden) {
      display: inline-block;
      padding: 0 4px 0 16px;
      position: relative;
      top: 1px;
    }
  }

  .add-buttons:empty {
    @media (max-width: $breakpoint-tablet) {
      border-top: unset;
      margin: 0;
      padding-bottom: 0;
    }

    @media (min-width: $breakpoint-hidden) and (max-width: calc($breakpoint-dualcolumn-slim - 1px)) {
      border-top: unset;
      margin: 0;
      padding-bottom: 0;
    }
  }

  .add-buttons {
    flex-shrink: 0;


    @media (max-width: $breakpoint-tablet) {
      border-bottom: solid 1px var(--lines);
    }

    @media (max-width: $breakpoint-tablet) {
      border-top: solid 1px var(--lines);
      display: flex;
      margin-top: 16px;
      padding: 14px 0;
      place-content: center;
      width: 98%;
    }

    @media (min-width: $breakpoint-hidden) and (max-width: calc($breakpoint-dualcolumn-slim - 1px)) {
      border-top: solid 1px var(--lines);
      display: flex;
      margin-top: 16px;
      padding: 14px 0;
      place-content: center;
      width: 98%;
    }

    button {
      margin-left: 6px;

      @media (max-width: $breakpoint-tablet) {
        flex: 1;
        width: 40%;
      }

      @media (min-width: $breakpoint-hidden) and (max-width: calc($breakpoint-dualcolumn-slim - 1px)) {
        flex: 1;
      }

    }
  }
}
