.status-content {
  width: 100%;
}

.warning {
  margin-bottom: 16px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.secret-actions {
  display: block;
  padding-top: 0;

  p {
    margin: 0;
  }

  .secret {
    align-items: center;
    display: flex;

    ix-copy-button {
      margin-left: 5px;
    }
  }
}

button {
  margin-top: 16px;
}

.skeleton-loader {
  width: 100%;
}
