:host {
  display: table-row;
}

.key-column {
  font-weight: bold;
  max-width: 50%;
  padding-right: 12px;
  white-space: nowrap;
}

.value-column {
  width: 100%;
  word-break: break-all;
}

.key-column,
.value-column {
  height: 27px;
  padding-top: 2px;
  vertical-align: baseline;
}

.tooltip {
  vertical-align: -3px;
}
