@import 'scss-imports/variables';

:host {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  ix-icon {
    margin: 4px 0;
  }

  .user-roles {
    display: flex;
    align-items: center;
    gap: 8px;

    /* wrap the text to prevent *it* spilling over like the icons */
    span {
      white-space: pre-wrap;
      word-break: break-word;
    }

    /* show the access text below the icon when the screen is tablet-sized or smaller */
    @media(max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
  }
}
