@if (user()?.roles?.length) {
  <div class="user-roles">
    <tn-icon name="tn-truenas-logo-mark" [tnTooltip]="'TrueNAS Access' | translate"></tn-icon>
    <span>{{ roles() }}</span>
  </div>
}

@if (user().smb) {
  <tn-icon name="tn-smb-share" [tnTooltip]="'Has SMB Access' | translate"></tn-icon>
}

@if (user().webshare) {
  <tn-icon name="share-variant" library="mdi" [tnTooltip]="'Has WebShare Access' | translate"></tn-icon>
}

@if (user().ssh_password_enabled || user().sshpubkey) {
  <tn-icon name="ssh" library="mdi" [tnTooltip]="'Has SSH Access' | translate"></tn-icon>
}

@if (user().api_keys?.length) {
  <tn-icon name="power-plug" library="mdi" [tnTooltip]="'Has API Access' | translate"></tn-icon>
}
