.card-title {
  align-items: center;
  display: flex;

  a {
    align-items: center;
    display: flex;
    gap: 8px;
  }

  ix-icon {
    margin-left: auto;
  }
}

:host ::ng-deep {
  .state-button {
    text-overflow: inherit !important;
    width: 78px;
  }
}
