@import 'scss-imports/variables';

.content-container {
  border: 1px solid var(--lines);
  display: flex;
  margin: 20px 0;
  padding: 20px 0;

  @media (max-width: $breakpoint-tablet) {
    flex-wrap: wrap;
  }

  .automated-disk-selection-container {
    border-right: 1px solid var(--lines);
    padding: 0 30px;
    width: 100%;
  }

  .advanced-options-container {
    padding: 0 30px;
    width: 100%;
  }
}

.manual-disk-selection {
  margin-top: 25px;
}
