<div class="content-container">
  <div class="automated-disk-selection-container" [formGroup]="form">
    <h3>{{ 'Automated Disk Selection' | translate }}</h3>
    <ix-disk-size-dropdowns
      [type]="type()"
      [layout]="layout()"
      [inventory]="inventory()"
      [isStepActive]="!!isStepActive()"
      (disksSelected)="onDisksSelected($event)"
    ></ix-disk-size-dropdowns>

    <tn-form-field [label]="'Width' | translate" [required]="true">
      <tn-select
        formControlName="width"
        [testId]="['width', type()]"
        [options]="(widthOptions$ | async) ?? []"
      ></tn-select>
    </tn-form-field>

    @if (!isNumberOfVdevsLimitedToOne()) {
      <tn-form-field [label]="'Number of VDEVs' | translate" [required]="true">
        <tn-select
          formControlName="vdevsNumber"
          [testId]="['vdevs-number', type()]"
          [options]="(numberOptions$ | async) ?? []"
        ></tn-select>
      </tn-form-field>
    }
  </div>
  <div class="advanced-options-container">
    <h3>{{ 'Advanced Options' | translate }}</h3>

    <p>{{ 'Manual disk selection allows you to create VDEVs and add disks to those VDEVs individually.' | translate }}</p>

    <tn-button
      class="manual-disk-selection"
      [testId]="['manual', type()]"
      [label]="'Manual Disk Selection' | translate"
      [disabled]="!layout()"
      (onClick)="store.openManualSelectionDialog(type())"
    ></tn-button>
  </div>
</div>
