<ix-audit-search [dataProvider]="dataProvider()"></ix-audit-search>

@if ((dataProvider().currentPageCount$ | async) === 0) {
  @let emptyAttrs = getEmptyAttrs(dataProvider().emptyType$ | async);
  <tn-empty
    [title]="emptyAttrs.title | translate"
    [description]="emptyAttrs.description ? (emptyAttrs.description | translate) : ''"
    [icon]="emptyAttrs.icon"
  ></tn-empty>
} @else {
  <tn-table
    class="audit-table"
    [ixUiSearch]="searchableElements.elements.audit"
    [dataSource]="(dataProvider().currentPage$ | async) ?? []"
    [displayedColumns]="displayedColumns"
    [trackBy]="trackByAuditId"
    [activeRow]="dataProvider().expandedRow"
    [loading]="!!(dataProvider().isLoading$ | async)"
    [loadingMessage]="'Loading audit logs' | translate"
    [clickable]="true"
    (sortChange)="onSortChange($event)"
    (rowClick)="onRowClick($event)"
  >
    <ng-container [tnColumnDef]="'service'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Service' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span class="cell-clamp">{{ getServiceLabel(row) }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'username'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'User' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <div class="user-avatar" [tnTooltip]="row.username">
          <div [innerHTML]="row.username | userAvatar"></div>
          <span class="cell-clamp">{{ row.username || '-' }}</span>
        </div>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'message_timestamp'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Timestamp' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span class="cell-clamp">{{ row.message_timestamp * 1000 | formatDateTime }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'event'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Event' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span class="cell-clamp">{{ getEventLabel(row) }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'event_data'">
      <ng-template tnHeaderCellDef>{{ 'Event Data' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <div class="event-data" [tnTooltip]="row | getLogImportantData | translate">
          @if (row.success) {
            <tn-icon name="check-circle" library="mdi" customSize="15px"></tn-icon>
          } @else {
            <tn-icon class="error-color" name="close-circle" library="mdi" customSize="15px"></tn-icon>
          }
          <span class="cell-clamp">{{ row | getLogImportantData | translate }}</span>
        </div>
      </ng-template>
    </ng-container>
  </tn-table>
}

<ix-table-pager
  [dataProvider]="dataProvider()"
  [pageSize]="dataProvider().pagination.pageSize"
  [currentPage]="dataProvider().pagination.pageNumber"
></ix-table-pager>
