@import 'scss-imports/variables';
@import 'mixins/layout';

.audit-table {
  cursor: pointer;
}

.event-data {
  align-items: center;
  display: flex;
  gap: 8px;

  tn-icon {
    position: relative;
    top: 2px;
    min-width: 15px;
    min-height: 15px;

    &.error-color {
      color: var(--red);
    }
  }
}
