<tn-dialog-shell [title]="'Delete Static Route' | translate">
<div>
  <p class="message" [innerHTML]="deleteMessage | translate: { name: route.destination }"></p>
</div>
<ix-form-actions tnDialogAction class="form-actions">
  <button mat-button ixTest="cancel">{{ 'Cancel' | translate }}</button>
  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    color="warn"
    ixTest="delete"
    (click)="onDelete()"
  >
    {{ 'Delete' | translate }}
  </button>
</ix-form-actions>
</tn-dialog-shell>
