<div class="actions">
  <ng-container
    *ngFor="let action of actions"
  >
    <div [matTooltip]="action.dynamicTooltip ? (action.dynamicTooltip(row) | async) : action.tooltip || ''">
      <button
        *ngIf="action.hidden ? !(action.hidden(row) | async) : true"
        mat-icon-button
        ixTest="['row-action-', action.getTestAttr()]"
        [disabled]="action.disabled ? (action.disabled(row) | async) : false"
        (click)="$event.stopPropagation(); action.onClick(row)"
      >
        <ix-icon [name]="action.iconName"></ix-icon>
      </button>
    </div>
  </ng-container>
</div>
