<ng-container [formGroup]="form">
  <tn-form-field
    [label]="'Service Key' | translate"
    [tooltip]="helptext.pagerDuty.serviceKeyTooltip | translate"
    [required]="true"
  >
    <tn-input formControlName="service_key" [testId]="'service_key'"></tn-input>
  </tn-form-field>

  <tn-form-field
    [label]="'Client Name' | translate"
    [tooltip]="helptext.pagerDuty.clientNameTooltip | translate"
    [required]="true"
  >
    <tn-input formControlName="client_name" [testId]="'client_name'"></tn-input>
  </tn-form-field>
</ng-container>
