:host {
  box-sizing: border-box;
  display: flex;

  &.has-cell {
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: bold;
    gap: 6px;
    padding: 3px 8px;
  }

  &.running {
    border-color: var(--status-active);
    color: var(--status-active);
  }

  &.unknown {
    border-color: var(--status-in-progress);
    color: var(--status-in-progress);

    mat-spinner::ng-deep circle {
      stroke: var(--status-in-progress);
    }
  }

  &.stopped {
    border-color: var(--status-inactive);
    color: var(--status-inactive);
  }
}
