:host {
  box-sizing: border-box;
  display: flex;

  &.has-cell {
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: bold;
    gap: 6px;
    padding: 3px 8px;
  }

  &.running {
    border-color: var(--green);
    color: var(--green);
  }

  &.unknown {
    border-color: var(--yellow);
    color: var(--yellow);

    mat-spinner::ng-deep circle {
      stroke: var(--yellow);
    }
  }

  &.stopped {
    border-color: var(--red);
    color: var(--red);
  }
}
