.widget {
  height: 400px;
  width: 600px;
}

.widget mat-card-content {
  width: 100%;
}

.card-body {
  padding: 10px;
}

mat-grid-tile {
  background-color: var(--bg1);
}

.tile {
  opacity: 0.7;
  padding: 10px;

  .nic-info {
    font-size: 12px;
    padding-right: 10px;

    .divider {
      background-color: var(--fg2);
      height: 100%;
      width: 1px;
    }

    .info-header {
      font-size: 24px;
      height: 40px;

      .mat-icon-button {
        height: 30px;
        line-height: 30px;
        margin-left: 22px;
        width: 30px;
      }
    }

    .info-body {
      font-size: 14px;

      .line-state {
        padding: 4px 0;
      }

      .defailt-info {
        font-size: 12px;
      }

      span.icon {
        display: inline-block;
        text-align: center;
        width: 25px;

        &.state {
          height: 24px;
        }
      }

      .icon.green {
        color: var(--green);
      }

      span.icon.state .mat-icon {
        font-size: 24px;
        height: 24px;
      }

      .mat-icon {
        font-size: 20px;
        height: 20px;
        margin-left: -5px;
        top: 0;

        &.mdi-set {
          margin-top: 0;
        }
      }

      ul {
        text-align: left;

        li {
          line-height: 18px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

  }

  .nic-boby {
    font-size: 12px;
  }

  .chart-body {
    background: red;
  }
}
