.wrapper {
  background-color: var(--bg2);
  border: 1px solid var(--lines);
  color: var(--fg2);
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  .bar {
    display: flex;
    height: 150px;
    width: 100%;
  }

  h3 {
    padding: 16px 0 0;
    width: 100%;
  }
}
