@import 'mixins/cards';

.card {
  @include details-card();
  width: 100%;
}

.widget mat-toolbar-row {
  justify-content: flex-start;
}

.widget .mat-mdc-card .mat-mdc-card-content > div {
  padding: 8px 16px !important;
}

.status-container {
  align-items: center;
  display: flex;
  gap: 3px;
  margin-left: 10px;

  @media(max-width: $breakpoint-sm) {
    display: none;
  }

  ix-icon {
    font-size: 24px;
    height: 24px;
    width: 24px;
  }

  .healthy {
    color: var(--green);
  }

  .warning {
    color: var(--orange);
  }
}

.empty-card-content {
  padding: 10px;
  width: 100%;

  .empty-icon {
    align-items: center;
    display: inline-flex;
    font-size: 100px;
    height: 100px;
    opacity: 0.1;
    width: auto;
  }

  .backup-actions {
    font-size: 15px;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
  }

  .details-item {
    display: flex;
    justify-content: space-between;

    .action {
      margin-left: unset;
      text-decoration: none;
    }
  }
}

.loading-card-content {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

mat-grid-tile {
  background-color: var(--bg1);
  border-radius: 2px;
  opacity: 0.7;

  ul {
    margin: 0;
    padding-left: 0;
  }

  .tile {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    place-content: stretch flex-start;
    width: 100%;

    .tile-content {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex: 1 1 1e-9px;
      flex-direction: row;
      font-size: 12px;
      place-content: center space-between;

      .divider {
        background-color: var(--lines);
        height: 75%;
        margin-right: 12px;
        width: 1px;
      }

      ul {
        box-sizing: border-box;
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
      }

      li {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        line-height: 20px;
        overflow: hidden;
        text-align: left;
        white-space: nowrap;

        .label {
          margin-right: 6px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .dash {
          width: 100%;
        }
      }

      .title {
        font-size: 20px;
        white-space: nowrap;
      }

      .backup-actions {
        font-size: 12px;
        padding: 0 10px;
      }
    }

    span.icon {
      align-items: center;
      cursor: default;
      display: inline-flex;
      height: 20px;
      min-width: 20px;
      user-select: none;
      width: 20px;

      &.error {
        color: var(--red);
      }

      &.warn {
        color: var(--orange);
      }

      &.safe {
        color: var(--green);
      }

      .ix-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
      }
    }
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  justify-content: space-between;

  .banner {
    background: var(--bg1);
    opacity: 0.7;
    padding: 8px;
  }
}

.backup-action {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}

/* NARROW SCREENS */
.xs.widget {
  height: calc(100vh - 96px);
  position: absolute;
  width: 100vw;
}

.xs.widget .mat-mdc-card {
  overflow-y: scroll;
}
