@import 'mixins/tn-card';

#wrapper {
  background-color: #0095d5;
  height: 100%;
}

#failover-card {
  @include tn-card-webui-palette;

  margin: auto;
  position: relative;
  top: 75px;
  width: 275px;
}

.card-body {
  @include tn-card-splash-body;
}

.copyright-txt,
#message,
.logo {
  text-align: center;
}

.logo {
  height: auto;
  width: 256px;
}

.copyright-txt {
  margin-top: 10px;
}

@media screen and (max-height: 700px) {
  #failover-card {
    top: 20px;
    width: 80%;
  }
}
