@import '~assets/styles/mixins/grid';

:host {
  align-items: center;
  display: flex;
  flex: 1;
  font-weight: 500;
  min-height: 48px;
  padding: 0;
}

.tree-node-grid {
  @include grid-row();

  .cell {
    @include grid-cell();
  }

  .cell-name {
    align-items: stretch;
    font-weight: bold;

    .icon-container {
      align-items: center;
      background-color: var(--bg2);
      display: flex;
    }

    .name {
      align-items: center;
      background: linear-gradient(90deg, var(--bg2) 0%, var(--bg2) calc(100% - 11px), transparent 100%);
      display: inline-flex;
      padding-right: 15px;
    }
  }
}

// TODO: Fragile (at least with css selectors)
:host-context(ix-tree-node:hover),
:host-context(ix-tree-node.selected),
:host-context(.dataset-nested-tree-root-node:hover),
:host-context(.dataset-nested-tree-root-node.selected) {
  .tree-node-grid .cell-name .name {
    background: linear-gradient(90deg, var(--hover-bg) 0%, var(--hover-bg) calc(100% - 11px), transparent 100%);
  }

  .tree-node-grid .cell-name .icon-container {
    background-color: var(--hover-bg);
  }
}

$level-offset: 40px;

::ng-deep {
  @for $i from 2 through 10 {
    ix-tree-node[aria-level="#{$i}"],
    ix-nested-tree-node[aria-level="#{$i}"] {
      .mat-icon-button:first-child {
        left: $level-offset * ($i - 2);
      }

      ix-dataset-node {
        padding-left: $level-offset * ($i - 2);
      }
    }
  }
}
