@import 'scss-imports/variables';
@import 'mixins/layout';

@include tree-node-with-details-container;

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;

  .table-container {
    background: var(--bg2);
  }
  
  .details-container {
    &::ng-deep table tbody tr {
      &.expanded {
        background-color: initial;

        td:first-child::before {
          background-color: initial;
          content: none;
        }
      }
    }
  }

  .details-container {
    color: var(--fg2);
    display: flex;
    flex: 1;
    min-width: inherit;
    overflow: hidden;
    padding: 0;
    position: sticky;
    top: 0;

    // Hide Details
    @media (max-width: $breakpoint-hidden) {
      display: none;
    }

    // One Card Column
    @media (min-width: $breakpoint-singlecolumn) and (max-width: calc($breakpoint-dualcolumn-slim - 1px)) {
      max-width: $singlecolumn-max-width;
    }

    // Two Cards Columns
    @media (min-width: $breakpoint-dualcolumn-slim) and (max-width: calc($breakpoint-dualcolumn - 1px)) {
      max-width: ($dualcolumn-slim-max-width + $scrollbar-offset);
    }

    // Two Cards Columns
    @media (min-width: $breakpoint-dualcolumn) {
      max-width: 70%;
    }
  }

  .close-details-container-mobile {
    display: none;

    @media (max-width: $breakpoint-hidden) {
      display: block;
      left: 0;
      padding: 8px 16px 0;
      position: absolute;
      text-align: right;
      top: 0;
      z-index: 4;
    }
  }

  .details-container.details-container-mobile {
    // Hide Details
    @media (max-width: $breakpoint-hidden) {
      background: var(--bg1);
      display: flex;
      height: 100% !important;
      left: 0;
      max-width: 100%;
      padding-top: 24px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 3;
    }

    @media (max-width: $breakpoint-tablet) {
      display: block;
      overflow-y: auto;
      padding-bottom: 96px;
    }

    ::ng-deep .header h3.title {
      width: calc(100% - 16px);

      @media(max-width: $breakpoint-tablet) {
        margin-left: -40px;
        width: 100%;
      }
    }

    ::ng-deep .cards .scroll-window {
      display: inline-table;
    }
  }
}

