<ix-page-header>
  <ix-all-instances-header></ix-all-instances-header>
</ix-page-header>

<div class="container">
  <div class="table-container">
    <ix-instance-list></ix-instance-list>
  </div>

  @if (selectedInstance()) {
    <div
      ixDetailsHeight="rightside-content-hold"
      class="details-container"
      [class.details-container-mobile]="showMobileDetails()"
    >
      <ix-instance-details
        [instance]="selectedInstance()"
        (closeMobileDetails)="closeMobileDetails()"
      ></ix-instance-details>
    </div>
  }
</div>
