<ix-page-header [customBadgeTitle]="'Experimental' | translate">
  <ix-all-instances-header></ix-all-instances-header>
</ix-page-header>

<ix-master-detail-view
  #masterDetailView="masterDetailViewContext"
  [selectedItem]="selectedInstance()"
>
  <ix-instance-list
    master
    [isMobileView]="masterDetailView.isMobileView()"
    (toggleShowMobileDetails)="masterDetailView.toggleShowMobileDetails($event)"
  ></ix-instance-list>

  <ng-container detail-header>
    {{ 'Details for' | translate }}
    {{ selectedInstance()?.name }}
  </ng-container>

  <ng-container detail>
    @if (selectedInstance()) {
      <ix-instance-details
        [instance]="selectedInstance()"
      ></ix-instance-details>
    }
  </ng-container>
</ix-master-detail-view>
