.dashboard-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
}
.dashboard-item {
  flex-basis: 33.3333%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
ul.ct-legend {
  top: -2em !important;
}


.give_me_space_bottom {
  padding-bottom: 20px;
}

#reporting-spinner {
  position: relative;
  left: 47%;
  top: 110px;
}

.reports-dash-global-controls{
  //padding:16px;
  color: var(--fg2);
  //margin: 24px 24px 0px;
}

.reports-dash-global-controls > *{
  //margin-bottom:32px;
}

.mat-button-toggle .mat-icon{
  font-size:24px;
  line-height: normal;
  margin-bottom: 4px;
}

#dashboardcontainerdiv{
  // Adjustment should really be applied to .rightside-content-hold (margin-top 90px instead of 104px), 
  // but didn't want to risk breaking layouts of other pages so I applied this instead
  margin-top: -14px;
}

.master-container{
  position:relative;
}

.reports-navigation,
.reports-navigation-spacer{
  width: 250px;
}

.reports-navigation{
  position:fixed;
  top:150;
  right:0;
}

.reports-navigation .mat-list-item.onscreen{
  border-left:solid 3px var(--primary);
}
