.dashboard-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
}
.dashboard-item {
  flex-basis: 33.3333%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
ul.ct-legend {
  top: -2em !important;
}


.give_me_space_bottom {
  padding-bottom: 20px;
}

#reporting-spinner {
  position: relative;
  left: 47%;
  top: 110px;
}

.reports-dash-global-controls{
  //padding:16px;
  color: var(--fg2);
  //margin: 24px 24px 0px;
}

.reports-dash-global-controls > *{
  //margin-bottom:32px;
}

.mat-card.ghost-card{
  min-height:430px;
}

.mat-button-toggle .mat-icon{
  font-size:24px;
  line-height: normal;
  margin-bottom: 4px;
}

#dashboardcontainerdiv{
  // Adjustment should really be applied to .rightside-content-hold (margin-top 90px instead of 104px), 
  // but didn't want to risk breaking layouts of other pages so I applied this instead
  margin-top: -14px;
}

nav.reports-toolbar{
  position:relative;
  top: -15px;
}

.master-container{
  top: -15px;
  height: calc(100vh - 92px - 48px); /* 92 is for the topbar && 48 is for the entity-toolbar */
  /*top:92px;*/
  position:relative;

}

.master-container.with-footer-console {
  height: calc(100vh - 92px - 48px - 45px);
}

.reports-navigation-spacer{
  width: 282px;
}

.reports-navigation{
  width: 270px;
}

.reports-navigation{
  position:fixed;
  height:100%;
  top:150;
  right:0;
  overflow: auto;
  background-color: var(--bg2);
  color:var(--fg2);
  box-shadow:2px 0 3px rgba(0,0,0,0.1) ;
}

.reports-navigation .mat-list-item.onscreen{
  border-left:solid 3px var(--primary);
}

cdk-virtual-scroll-viewport{
  height: 100%;
  width: calc(100% - 48px /*- 282px*/);

  .report-container {
    height:500px;
  }
}
