<ix-form
  [formGroup]="form"
  [externalLoading]="dataLoading()"
  [initialFormSnapshot]="initialFormSnapshot()"
  [requiredRoles]="requiredRoles"
  [submitHandler]="handleSubmit"
  (closed)="closed.emit($event)"
>
  <div class="two-columns">
    <tn-form-section [heading]="helptext.fieldsetGeneral | translate">
      <tn-form-field
        [label]="labels.identifier | translate"
        [tooltip]="tooltips.identifier | translate"
      >
        <tn-input formControlName="identifier"></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="labels.mode | translate"
        [tooltip]="tooltips.mode | translate"
      >
        <tn-select formControlName="mode" [options]="modeOptions"></tn-select>
      </tn-form-field>

      @if (isMasterMode()) {
        <tn-form-field
          [label]="labels.driver | translate"
          [tooltip]="tooltips.driver | translate"
          [required]="true"
        >
          <tn-autocomplete
            formControlName="driver"
            placeholder=""
            [options]="(driverOptions$ | async) ?? []"
            [requireSelection]="true"
          ></tn-autocomplete>
        </tn-form-field>
      } @else {
        <tn-form-field
          [label]="labels.remotehost | translate"
          [tooltip]="tooltips.remotehost | translate"
          [required]="true"
        >
          <tn-input formControlName="remotehost"></tn-input>
        </tn-form-field>

        <tn-form-field
          [label]="labels.remoteport | translate"
          [tooltip]="tooltips.remoteport | translate"
          [required]="true"
        >
          <tn-input formControlName="remoteport" [inputType]="InputType.Number" [allowDecimals]="false"></tn-input>
        </tn-form-field>
      }

      <tn-form-field
        [label]="labels.port | translate"
        [tooltip]="tooltips.port | translate"
        [required]="isMasterMode()"
      >
        <tn-autocomplete
          formControlName="port"
          placeholder=""
          [options]="(portOptions$ | async) ?? []"
          [allowCustomValue]="true"
        ></tn-autocomplete>
      </tn-form-field>
    </tn-form-section>

    <tn-form-section [heading]="helptext.fieldsetMonitor | translate">
      <tn-form-field
        [label]="labels.monuser | translate"
        [tooltip]="tooltips.monuser | translate"
      >
        <tn-input formControlName="monuser"></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="labels.monpwd | translate"
        [tooltip]="tooltips.monpwd | translate"
        [required]="true"
      >
        <tn-input formControlName="monpwd" [inputType]="InputType.Password"></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="labels.extrausers | translate"
        [tooltip]="tooltips.extrausers | translate"
      >
        <tn-input formControlName="extrausers" [multiline]="true"></tn-input>
      </tn-form-field>

      <tn-form-field [tooltip]="tooltips.rmonitor | translate">
        <tn-checkbox formControlName="rmonitor" [label]="labels.rmonitor | translate"></tn-checkbox>
      </tn-form-field>
    </tn-form-section>
  </div>

  <div class="one-column">
    <tn-form-section [heading]="helptext.fieldsetShutdown | translate">
      <tn-form-field
        [label]="labels.shutdown | translate"
        [tooltip]="tooltips.shutdown | translate"
      >
        <tn-select formControlName="shutdown" [options]="shutdownOptions"></tn-select>
      </tn-form-field>

      <tn-form-field
        [label]="labels.shutdowntimer | translate"
        [tooltip]="tooltips.shutdowntimer | translate"
      >
        <tn-input formControlName="shutdowntimer" [inputType]="InputType.Number" [allowDecimals]="false"></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="labels.shutdowncmd | translate"
        [tooltip]="tooltips.shutdowncmd | translate"
      >
        <tn-input formControlName="shutdowncmd"></tn-input>
      </tn-form-field>

      <tn-form-field [tooltip]="tooltips.powerdown | translate">
        <tn-checkbox formControlName="powerdown" [label]="labels.powerdown | translate"></tn-checkbox>
      </tn-form-field>
    </tn-form-section>
  </div>

  <div class="one-column">
    <tn-form-section [heading]="helptext.fieldsetOther | translate">
      <tn-form-field
        [label]="labels.nocommwarntime | translate"
        [tooltip]="tooltips.nocommwarntime | translate"
      >
        <tn-input formControlName="nocommwarntime" [inputType]="InputType.Number" [allowDecimals]="false"></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="labels.hostsync | translate"
        [tooltip]="tooltips.hostsync | translate"
      >
        <tn-input formControlName="hostsync" [inputType]="InputType.Number" [allowDecimals]="false"></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="labels.options | translate"
        [tooltip]="tooltips.options | translate"
      >
        <tn-input formControlName="options" [multiline]="true"></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="labels.optionsupsd | translate"
        [tooltip]="tooltips.optionsupsd | translate"
      >
        <tn-input formControlName="optionsupsd" [multiline]="true"></tn-input>
      </tn-form-field>
    </tn-form-section>
  </div>
</ix-form>
