@import 'scss-imports/splitview';
@import 'mixins/layout';

@include tree-node-with-details-container;

:host {
  display: block;

  &.details-overlay {
    .table-container {
      @media (max-width: $breakpoint-hidden) {
        display: none !important;
      }
    }
  }
}

.tree-wrapper {
  overflow: hidden;
}

ix-dataset-details-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-container.details-container-mobile {
  ix-dataset-details-panel {
    margin-top: -12px;
  }
}

.entity-empty-wrapper {
  padding: 16px;

  ix-entity-empty {
    margin: 32px 0;
  }
}
