@import 'scss-imports/variables';

.actions {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  justify-content: flex-end;

  @media(max-width: $breakpoint-sm) {
    flex-wrap: wrap;
  }

  a {
    color: var(--primary);
    cursor: pointer;
    margin: 0 8px;
    text-decoration: underline;
  }
}
