<ng-container [formGroup]="form">
  <tn-form-section [heading]="'Authentication' | translate">
    <tn-form-field
      [label]="'Account Name' | translate"
      [required]="true"
      [tooltip]="helptext.azure.account.tooltip | translate"
    >
      <tn-input formControlName="account" testId="account"></tn-input>
    </tn-form-field>

    <tn-form-field
      [label]="'Account Key' | translate"
      [required]="true"
      [tooltip]="helptext.azure.key.tooltip | translate"
    >
      <tn-input formControlName="key" testId="key" [inputType]="InputType.Password"></tn-input>
    </tn-form-field>

    <tn-form-field
      [label]="'Endpoint' | translate"
      [tooltip]="helptext.azure.endpoint.tooltip | translate"
    >
      <tn-input formControlName="endpoint" testId="endpoint"></tn-input>
    </tn-form-field>
  </tn-form-section>
</ng-container>
