@import 'scss-imports/cssvars';

:host {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-evenly;
}

.slots-and-numbers {
  padding-top: 20px;
  position: relative;

  .slot-number {
    background-color: var(--primary);
    border-radius: 50%;
    color: var(--fg1);
    font-size: 11px;
    margin-right: 3px;
    padding: 4px 7px;
    vertical-align: 1px;
  }

  .slot {
    margin-bottom: 16px;
    white-space: nowrap;
  }

  &.mini-3e {
    padding-top: 55px;
  }

  &.mini-3x {
    padding-top: 28px;

    .slot:nth-last-child(2) {
      margin-bottom: 1px;
    }
  }

  &.mini-3xl {
    padding-top: 50px;

    .slot:nth-child(4) {
      margin-bottom: 44px;
    }

    .slot:last-child {
      position: absolute;
      top: 5px;
    }
  }
}

.disk-status {
  padding-top: 20px;
  position: relative;

  .slot {
    margin-bottom: 11.5px;
  }

  &.mini-3e {
    padding-top: 55px;
  }

  &.mini-3x {
    padding-top: 28px;

    .slot:nth-last-child(2) {
      margin-bottom: -2px;
    }
  }

  &.mini-3xl {
    padding-top: 50px;

    .slot:nth-child(4) {
      margin-bottom: 38px;
    }

    .slot:last-child {
      position: absolute;
      top: 5px;
    }
  }
}

.enclosure {
  min-width: 300px;

  @media (max-width: $breakpoint-xs) {
    min-width: 75vw;
  }
}
