.mat-mdc-card.error {
  margin: 16px auto 0;
  top: 0;
  width: 600px;
}

.mat-mdc-card.error .error-message {
  text-align: left;
}

.mat-mdc-card.error .error-message,
.mat-mdc-card.error .error-header,
.mat-mdc-card.error .error-footer {
  padding: 16px;
}

nav.view-nav-bar {
  background-color: var(--bg2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  color: var(--alt-fg1);
  position: relative;
  width: 100%;
  z-index: 2;
}

.view-nav-btn-icon,
.view-nav-btn-label {
  display: inline-block;
}

.view-nav-btn-icon {
  font-size: 155%;
}

.view-nav-btn-label {
  font-size: 120%;
  left: 2px;
  position: relative;
  top: -2px;
}

.view-nav-bar .view-nav-btn {
  border-bottom: solid 2px rgba(0, 0, 0, 0);
  border-radius: 0;
  color: var(--fg2);
  height: 38px; /* Componensate for border width*/
  text-transform: capitalize !important;
}

.view-nav-bar .view-nav-btn.active {
  border-bottom-color: var(--blue);
}

.view-card {
  margin: 0 auto;
  max-width: 960px;
  min-height: 480px;
  padding: 0;
}

.enclosure-selector {
  background-color: var(--bg2);
  color: var(--fg2);
  height: 100%;
  min-height: calc(100vh - 200px);
  overflow: auto;
  position: relative;
  width: 240px;
}

.enclosure-selector .enclosure {
  border-bottom: solid 1px #333;
  border-left: solid 4px rgba(0, 0, 0, 0);
  min-height: 164px;
  padding: 12px 0 24px;
  text-align: center;
}

.enclosure-selector .enclosure.active {
  border-left: solid 4px var(--primary);
}

.enclosure-selector .enclosure:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.enclosure-selector .enclosure > div {
  margin-bottom: 16px;
}

.enclosure canvas {
  width: 80% !important;
}

.main-content {
  overflow: auto;
  position: relative;
}

.loader-dialog {
  box-shadow: #000 0 2px 30px;
  left: calc(50% - 150px);
  margin: 0 auto;
  max-width: 300px;
  min-width: 300px;
  position: absolute;
  top: 320px;
  width: 300px;
  z-index: 30;

  .loader-dialog-inner {
    padding: 16px;

    ul {
      display: table;
      margin: 16px auto;
      padding: 0;
      width: 90%;

      li {
        display: table-row;

        .td {
          display: table-cell;
          height: 40px;
          vertical-align: middle;
        }

        .indicator {
          margin-left: calc(100% - 16px);
        }

        .indicator.icon {
          color: var(--green);
        }

        .indicator.spinner {
          $spinner-size: 40px;
          height: $spinner-size;
          padding-left: 1px;
          width: $spinner-size;
        }
      }
    }
  }
}

.loader-dialog.simple {
  $simple-spinner-width: 120px;
  box-shadow: unset;
  display: block;
  left: calc(50% - 60px);
  margin: 0;
  max-width: $simple-spinner-width;
  min-width: $simple-spinner-width;
  position: relative;
  top: 100px;
  width: $simple-spinner-width;
  z-index: 30;

  .spinner.indicator {
    display: block;
    margin: 0 auto;
  }
}

.mini-container .loader-dialog.simple {
  position: absolute;
}

.lt-lg.enclosure-selector {
  color: var(--red);
}
