:host {
  color: var(--fg1);
  display: block;

  margin-bottom: 12px;
  margin-top: 18px;
  padding: 8px 0;
}

.label-container {
  margin-bottom: 5px;
  margin-left: 1px;

  .label {
    font-size: x-small;
  }

  .tooltip {
    margin-left: 8px;
    vertical-align: -4px;
  }
}

.input-container {
  font-size: 12px;
  position: relative;

  label {
    background-color: var(--btn-default-bg);
    border: none;
    border-radius: 0;
    color: var(--fg2);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    margin: 0;
    min-width: 64px;
    outline: none;
    overflow: visible;
    padding: 0 16px;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    user-select: none;
    vertical-align: baseline;
    white-space: nowrap;

    &:hover {
      background-color: var(--alt-bg1);
      color: var(--fg2);
    }

    input {
      height: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      width: 0;
      z-index: -1;
    }
  }

  p {
    margin: 5px 0;
  }

  button {
    margin-top: 8px;
  }

  &.disabled {
    opacity: 0.38;
  }
}
