.widget {
  mat-card-content {
    width: 100%;
  }
}

mat-grid-tile {
  background-color: var(--bg1);
  border-radius: 2px;
  opacity: 0.7;

  ul {
    margin: 0;
    padding-left: 0;
  }

  .tile {
    padding-left: 16px;

    &:hover,
    &:focus,
    &:active {
      .tile-header-button {
        display: inline-flex;
      }
    }

    &.rows-2 {
      .tile-header {
        padding-top: 8px;
      }
    }

    &.rows-3 {
      padding-left: 12px;
      padding-right: 4px;

      .tile-header-title {
        height: 40px;
        line-height: 40px;
        min-height: 40px;
      }
    }

    &.rows-2-2 {
      padding-left: 12px;
      padding-right: 4px;

      .tile-content {
        padding-bottom: 13px;
      }
    }

    .tile-header {
      min-width: 0;
    }

    .tile-header-button {
      display: none;
      flex-shrink: 0;
    }

    .tile-header-title {
      flex: 1;
      font-size: 24px;
      height: 48px;
      line-height: 2;
      min-height: 48px;
      overflow: hidden;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tile-content {
      font-size: 12px;
      padding-bottom: 10px;

      .divider {
        background-color: var(--lines);
        height: 75%;
        margin-right: 12px;
        width: 1px;
      }

      li {
        line-height: 20px;
        overflow: hidden;
        white-space: nowrap;

        .label {
          margin-right: 6px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    span.icon {
      align-items: center;
      cursor: default;
      display: inline-flex;
      height: 20px;
      min-width: 20px;
      user-select: none;
      width: 20px;

      &.error {
        color: var(--red);
      }

      &.warn {
        color: var(--orange);
      }

      &.safe {
        color: var(--green);
      }

      .ix-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
      }
    }
  }

  .create-new {
    font-size: 24px;
    opacity: 0.7;

    &:focus-visible {
      box-shadow: 0 0 0 1px var(--accent) inset;
    }

    .ix-icon.mdi-set {
      font-size: 48px;
      height: 48px;
      line-height: 48px;
      width: 48px;
    }
  }
}
