<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card class="chart-item" *ngFor="let item of chartItems">
      <div class="content-wrapper" fxLayout="row">
        <div class="logo-container">
          <div class="logo" style="background-image: url('{{ item.icon }}');"></div>
        </div>
        <div class=content-box>
          <div class="content">
            <strong class="chart-name">{{ item.name }}</strong><span class="version"> {{ item.version}}</span>
         
            <div *ngIf="item.update_available; else elseBlock">
                {{ 'Update available' | translate}}: {{ '???' }}
            </div>
            <ng-template #elseBlock><div>{{ 'Up to date' | translate }}</div></ng-template>
            <ng-container *ngIf="item.chart_name==='ix-chart'">
              <div class="repository docker-info">{{ 'Image' | translate }}: {{ item.repository }}</div>
              <div class="tag docker-info">{{'Tag' | translate }}: {{ item.tag }}</div>
            </ng-container>
          </div>

          <div class="chart-button-row" fxLayout="row" fxLayoutAlign="end end">
            <button mat-button (click)="portal(item.portal)" *ngIf="item.status === 'ACTIVE' && item.portal"
              ix-auto ix-auto-type="button" ix-auto-identifier="{{ item.name}}-portal">
              {{ 'Portal' | translate }}
            </button>                  
            <button mat-button (click)="stop(item.name)" *ngIf="item.status !== 'STOPPED'"
              ix-auto ix-auto-type="button" ix-auto-identifier="{{ item.name}}-stop">
              {{ 'Stop' | translate }}
            </button>                  
            <button mat-button (click)="start(item.name)" *ngIf="item.status === 'STOPPED'"
              ix-auto ix-auto-type="button" ix-auto-identifier="{{ item.name}}-start">
              {{ 'Start' | translate }}
            </button>
          </div>
       
        </div>
      </div>

      <div class="ports" textLimiter threshold="28">
        {{ item.used_ports | lowercase }}
      </div>

      <div class="more-info">
          <span class="status" [ngClass]="item.status==='ACTIVE' ? 'active' : 'other'">{{item.status}}
            <ng-container *ngIf="item.desired > 1">{{ item.count }}</ng-container>

          </span>
          <button name="chart-actions" mat-icon-button [matMenuTriggerFor]="actionsMenu"
            ix-auto ix-auto-type="button" ix-auto-identifier="chart-actions">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button name="update" mat-menu-item (click)="update(item.name)" 
              [disabled]="!item.update_available"
              ix-auto ix-auto-type="option" ix-auto-identifier="rollback">
              <mat-icon>update</mat-icon>
              <span>{{'Upgrade' | translate}}</span>
            </button>
            <button name="roll-back" mat-menu-item (click)="rollback(item.name)"
              [disabled]="!item.history"
              ix-auto ix-auto-type="option" ix-auto-identifier="rollback">
              <mat-icon>replay</mat-icon>
              <span>{{'Roll Back' | translate}}</span>
            </button>
            <button name="update-image" mat-menu-item (click)="updateImage(item.repository, item.tag)" 
              *ngIf="item.chart_name==='ix-chart'"
              ix-auto ix-auto-type="option" ix-auto-identifier="update-image">
              <mat-icon>update</mat-icon>
              <span>{{'Update Image' | translate}}</span>
            </button>
            <button name="edit" mat-menu-item (click)="edit(item.name, item.id)"
              ix-auto ix-auto-type="option" ix-auto-identifier="edit">
              <mat-icon>edit</mat-icon>
              <span>{{'Edit' | translate}}</span>
            </button>
            <button name="delete" mat-menu-item (click)="delete(item.name)"
              ix-auto ix-auto-type="option" ix-auto-identifier="delete">
              <mat-icon>delete</mat-icon>
              <span>{{'Delete' | translate}}</span>
            </button>
        </mat-menu>
      </div>

  </mat-card>
</div>
