.dynamic-field.hide {
    display: none;
}
.full-width {
	width: 100%;
}

.drop-container {
  background: #fff;
  border-radius: 6px;
  height: 150px;
  width: 100%;
  box-shadow: 1px 2px 20px hsla(0, 0%, 4%, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #c0c4c7
}

:host mat-icon.paragraph-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

:host p.large {
  font-size: 16px;
  margin-bottom: 16px;
}

:host >>> span.warning-paragraph {
  background-color: var(--red) !important;
  padding: 2px;
}

:host >>> span.info-paragraph {
  background-color: var(--primary) !important;
  padding: 2px;
}

.paratext-tooltip {
  position: relative;
  right: 3px;
  top: -2px;
}
  
.margin-for-error {
  position: relative;
  top: -12px;
}