<div id="{{config.name}}" class="dynamic-field form-list" [formGroup]="group" [ngClass]="fieldShow" *ngIf="!config['isHidden']"
    ix-auto ix-auto-type="list" ix-auto-identifier="{{config.placeholder}}">
    <ng-container *ngIf="listsFromArray?.controls">
        <div *ngFor="let liControl of listsFromArray.controls; let i = index" [fxLayout]="config.width == '100%' ? 'row wrap' : (default)"
        ix-auto ix-auto-type="list-item" ix-auto-identifier="{{i}}">
            <div *ngFor="let field of config.listFields[i]; let ii = index" fxFlex="100%"
                fxFlex.gt-xs="calc({{field.width}} - 16px)"
                [ngClass]="field.class == 'inline' ? 'form-inline' : 'form-line'">
                <div dynamicField [config]="field" [group]="listsFromArray.controls[i]"></div>
            </div>
            <div class="list-action" [style.padding-bottom]="config.width == '100%' ? '10px' : '0'">
              <div *ngIf="config.deleteButtonOnFirst; else defaultButtons">
                    <button *ngIf="i === 0" mat-button color="primary" id="{{config.name+i}}" type="button"
                        (click)="add()" [disabled]="listsFromArray.controls[i].disabled"
                        ix-auto ix-auto-type="button" ix-auto-identifier="{{config.addBtnMessage | uppercase}}">
                        {{config.addBtnMessage}}
                    </button>
                    <button mat-button color="accent" class="listBtn" type="button"
                        (click)="delete(i)" [disabled]="listsFromArray.controls[i].disabled || listsFromArray.length === 1"
                        ix-auto ix-auto-type="button" ix-auto-identifier="DELETE">
                        {{"Delete" | translate}}
                    </button>
              </div>
              <ng-template #defaultButtons>
                <button *ngIf="i === 0; else deleteButton" mat-button color="primary" class="listBtn" type="button"
                   (click)="add()" [disabled]="listsFromArray.controls[i].disabled"
                   ix-auto ix-auto-type="button" ix-auto-identifier="ADD">
                   {{"Add" | translate}}
                </button>
                <ng-template #deleteButton>
                    <button mat-button color="accent" class="listBtn" type="button" 
                    (click)="delete(i)" [disabled]="listsFromArray.controls[i].disabled"
                    ix-auto ix-auto-type="button" ix-auto-identifier="DELETE">
                    {{"Delete" | translate}}
                </button>
                </ng-template>
              </ng-template>
            </div>
        </div>
    </ng-container>
    <form-errors [control]="group.controls[config.name]" [config]="config"></form-errors>
    <mat-error *ngIf="config['hasErrors']">{{config['errors']}}</mat-error>
</div>
