<div id="{{config.name}}" class="dynamic-field form-list" [formGroup]="group" [ngClass]="fieldShow" *ngIf="!config['isHidden']">
    <ng-container *ngIf="listsFromArray?.controls">
        <div *ngFor="let liControl of listsFromArray.controls; let i = index" [fxLayout]="config.width == '100%' ? 'row wrap' : (default)">
            <div *ngFor="let field of config.listFields[i]; let ii = index" fxFlex="100%"
                fxFlex.gt-xs="calc({{field.width}} - 16px)"
                [ngClass]="field.class == 'inline' ? 'form-inline' : 'form-line'">
                <div dynamicField [config]="field" [group]="listsFromArray.controls[i]"></div>
            </div>
            <div class="list-action" [style.padding-bottom]="config.width == '100%' ? '10px' : '0'">
                <button *ngIf="i === 0; else deleteButton" mat-button color="primary" class="listBtn" type="button"
                    (click)="add()" [disabled]="listsFromArray.controls[i].disabled">Add</button>
                <ng-template #deleteButton>
                    <button mat-button color="accent" class="listBtn" type="button" (click)="delete(i)" [disabled]="listsFromArray.controls[i].disabled">Delete</button>
                </ng-template>
            </div>
        </div>
    </ng-container>
    <mat-error *ngIf="config['hasErrors']">{{config['errors']}}</mat-error>
</div>