button.listBtn {
    padding: 0 0px;
    margin-left: 24px;
}

.list-action {
}

.add-btn {
  margin-top: 10px;
  margin-left: 16px;
  border-radius: 0;
  border: solid 1px var(--fg2);
}

.top-right {
  position: absolute;
  top: 1px;
  right: 5px;
}

/* Sets form-lists off from surrounding elements; especially good for lists within lists
To use, add 'box: true' to a form-list element in entity form */
.form-list-item {
  right: 1px;
  margin-bottom: 15px;
  background: rgba(0, 0, 0, 0.1);
  /* // padding-left: 10px; */
  padding: 15px;
}

.box .listBtn {
  display: none;
  margin-top: 42px;
}

.sub-box .listBtn {
  display: block;
  margin-top: 42px;
}

.list-top-bar {
  margin: 10px 0;
}