#wrapper {
  background-color: #0095d5;
  height: 100%;
}

#reset-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 75px;
  width: 275px;
}

.copyright-txt,
#message {
  text-align: center;
}

.copyright-txt {
  margin-top: 10px;
}

.logo {
  height: auto;
  width: 256px;
}

@media screen and (max-height: 700px) {
  #reset-card {
    font-size: 80%;
    top: 20px;
    width: 225px;
  }

  .logo {
    width: 206px;
  }

  .mat-mdc-dialog-container {
    height: 100px;
    width: 100px;
  }
}
