<ix-modal-header
  [requiredRoles]="requiredRoles"
  [title]="title"
  [loading]="isLoading"
></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset>
        <ix-input
          formControlName="name"
          [label]="helptext.authenticator_name_placeholder | translate"
          [tooltip]="helptext.authenticator_name_tooltip | translate"
          [placeholder]="helptext.authenticator_name_placeholder | translate"
          [required]="true"
        ></ix-input>

        <ix-select
          formControlName="authenticator"
          [label]="helptext.authenticator_provider_placeholder | translate"
          [options]="authenticatorOptions$"
          [tooltip]="helptext.authenticator_provider_tooltip | translate"
          [required]="true"
          (ngModelChange)="onAuthenticatorTypeChanged($event)"
        ></ix-select>
      </ix-fieldset>

      @if (!isLoadingSchemas) {
        <ix-dynamic-form
          [dynamicSection]="dynamicSection"
          [dynamicForm]="formGroup"
        ></ix-dynamic-form>
      }

      <ix-form-actions>
        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          type="submit"
          color="primary"
          ixTest="save"
          [disabled]="form.invalid || isLoading"
        >
          {{ 'Save' | translate }}
        </button>
      </ix-form-actions>
    </form>
  </mat-card-content>
</mat-card>
