.container {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 100%;
}

.disk-details-header {
  align-items: center;
  border-bottom: solid 1px var(--lines);
  display: flex;
  font-size: 1.15rem;
  gap: 15px;
  height: 50px;
  padding: 12px 16px;

  button {
    height: 30px;
    width: 30px;
  }
}

.disk-details-container {
  display: flex;
  height: 100%;
  overflow: auto;

  .drive {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 25%;

    .capacity {
      font-size: 120%;
      font-weight: 500;
    }
  }

  .details {
    border-left: solid 1px var(--lines);
    overflow: auto;
    padding: 0 8px;
    width: 75%;
  }
}
