:host,
:host-context(mat-dialog-container .ix-form-container) :host {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;
  margin: 0;
}

:host-context(.ix-form-container) :host {
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  margin: 0 10px;
}

:host-context(mat-vertical-stepper) :host {
  flex-wrap: wrap;
  justify-content: flex-start;

  ::ng-deep > * {
    gap: 8px;
  }
}
