@import 'src/assets/styles/scss-imports/cssvars';

.form-ex-flex-container {
  padding: 7px;
}

.form-explorer {
  margin-bottom: 10px;
  width: 90%;
}

.form-element.form-explorer {
  //background: var(--bg1);
}

.tbody {
  border: solid 1px var(--lines);
  display: table;
  width: 100%;
}

.tr {
  border-bottom: var(--lines);
  display: table-row;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

#box1 {
  padding-bottom: 2px;
  text-align: center;
}

#box2 {
  width: 87%;
}

#box2 input {
  padding: 0 8px;
}

.tree-container {
  border-bottom: solid 1px var(--lines);
  border-left: solid 1px var(--lines);
  border-right: solid 1px var(--lines);
}

.form-ex-folder {
  font-size: 36px;
  position: relative;
  top: 10px;

  &:hover {
    cursor: pointer;
  }
}

#form-ex-input {
  width: 100%;
}

.dataset-subtitle {
  background: var(--primary);
  border-radius: 4px;
  color: white;
  display: inline;
  margin-left: 5px;
  padding: 2px 5px;
}

@media #{$media-lt-sm} {
  .form-explorer {
    margin-bottom: 20px;
  }

  #box1 {
    order: 2;
  }

  #box2 {
    margin-left: 0;
    margin-top: 8px;
    order: 1;
    width: 100%;
  }

  #box3 {
    order: 3;
  }
}

.mat-icon.explorer-folder {
  font-size: 24px;
}

.form-explorer textarea.mat-input-element {
  border: 0;
  height: auto !important;
  line-height: normal !important;
  margin: 0;
  min-height: 33px !important;
  padding: 9px;
}
