.device-type-badge {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 14px;
  gap: 8px;
  padding: 2px;
}

.device-disk {
  background-color: rgb(33 150 243 / 10%);
  color: rgb(33 150 243);
}

.device-raw {
  background-color: rgb(255 152 0 / 10%);
  color: rgb(255 152 0);
}

.device-filesystem {
  background-color: rgb(76 175 80 / 10%);
  color: rgb(76 175 80);
}

.device-usb {
  background-color: rgb(156 39 176 / 10%);
  color: rgb(156 39 176);
}

.device-nic {
  background-color: rgb(0 188 212 / 10%);
  color: rgb(0 188 212);
}

.device-unknown {
  background-color: rgb(158 158 158 / 10%);
  color: rgb(158 158 158);
}

.device-label {
  font-weight: 500;
}

ix-icon {
  font-size: 18px;
}
