<mat-card class="card">
  <ix-fake-progress-bar [loading]="isLoading$ | async"></ix-fake-progress-bar>
  <form (keydown.enter)="$event.preventDefault()">
    <mat-vertical-stepper #stepper>
      <mat-step
        ixStepActivation
        [errorMessage]="getTopLevelErrorForStep(PoolCreationWizardStep.General)"
        [hasError]="!!getTopLevelErrorForStep(PoolCreationWizardStep.General) && getWasStepActivated(PoolCreationWizardStep.General)"
        (activate)="onStepActivated(PoolCreationWizardStep.General)"
      >
        <ng-template matStepLabel>
          <div fxFlex fxLayoutAlign="start center">
            {{ 'General Info' | translate }}
            <ix-icon
              *ngIf="getTopLevelWarningForStep(PoolCreationWizardStep.General) as warning"
              class="error-warning-icon"
              name="warning"
              [matTooltip]="warning | translate"
            ></ix-icon>
          </div>
        </ng-template>
        <ix-general-wizard-step
          [isStepActive]="activeStep === PoolCreationWizardStep.General"
        ></ix-general-wizard-step>
      </mat-step>

      <mat-step
        *ngIf="hasEnclosureStep"
        ixStepActivation
        [errorMessage]="getTopLevelErrorForStep(PoolCreationWizardStep.EnclosureOptions)"
        [hasError]="!!getTopLevelErrorForStep(PoolCreationWizardStep.EnclosureOptions) && getWasStepActivated(PoolCreationWizardStep.EnclosureOptions)"
        (activate)="onStepActivated(PoolCreationWizardStep.EnclosureOptions)"
      >
        <ng-template matStepLabel>
          <div fxFlex fxLayoutAlign="start center">
            {{ 'Enclosure Options' | translate }}
            <ix-icon
              *ngIf="getTopLevelWarningForStep(PoolCreationWizardStep.EnclosureOptions) as warning"
              class="error-warning-icon"
              name="warning"
              [matTooltip]="warning | translate"
            ></ix-icon>
          </div>
        </ng-template>
        <ix-enclosure-wizard-step
          [isStepActive]="activeStep === PoolCreationWizardStep.EnclosureOptions"
        ></ix-enclosure-wizard-step>
      </mat-step>

      <mat-step
        ixStepActivation
        [errorMessage]="getTopLevelErrorForStep(PoolCreationWizardStep.Data)"
        [hasError]="!!getTopLevelErrorForStep(PoolCreationWizardStep.Data) && getWasStepActivated(PoolCreationWizardStep.Data)"
        (activate)="onStepActivated(PoolCreationWizardStep.Data)"
      >
        <ng-template matStepLabel>
          <div fxFlex fxLayoutAlign="start center">
            {{ 'Data' | translate }}
            <ix-icon
              *ngIf="getTopLevelWarningForStep(PoolCreationWizardStep.Data) as warning"
              class="error-warning-icon"
              name="warning"
              [matTooltip]="warning | translate"
            ></ix-icon>
          </div>
        </ng-template>
        <ix-data-wizard-step
          [isStepActive]="activeStep === PoolCreationWizardStep.Data"
          (goToLastStep)="goToLastStep()"
        ></ix-data-wizard-step>
      </mat-step>

      <mat-step
        ixStepActivation
        [errorMessage]="getTopLevelErrorForStep(PoolCreationWizardStep.Log)"
        [hasError]="!!getTopLevelErrorForStep(PoolCreationWizardStep.Log) && getWasStepActivated(PoolCreationWizardStep.Log)"
        (activate)="onStepActivated(PoolCreationWizardStep.Log)"
      >
        <ng-template matStepLabel>
          <div fxFlex fxLayoutAlign="start center">
            {{ 'Log (Optional)' | translate }}
            <ix-icon
              *ngIf="getTopLevelWarningForStep(PoolCreationWizardStep.Log) as warning"
              class="error-warning-icon"
              name="warning"
              [matTooltip]="warning | translate"
            ></ix-icon>
          </div>
        </ng-template>
        <ix-log-wizard-step (goToLastStep)="goToLastStep()"></ix-log-wizard-step>
      </mat-step>

      <mat-step
        ixStepActivation
        [errorMessage]="getTopLevelErrorForStep(PoolCreationWizardStep.Spare)"
        [hasError]="!!getTopLevelErrorForStep(PoolCreationWizardStep.Spare) && getWasStepActivated(PoolCreationWizardStep.Spare)"
        (activate)="onStepActivated(PoolCreationWizardStep.Spare)"
      >
        <ng-template matStepLabel>
          <div fxFlex fxLayoutAlign="start center">
            {{ 'Spare (Optional)' | translate }}
            <ix-icon
              *ngIf="getTopLevelWarningForStep(PoolCreationWizardStep.Spare) as warning"
              class="error-warning-icon"
              name="warning"
              [matTooltip]="warning | translate"
            ></ix-icon>
          </div>
        </ng-template>
        <ix-spare-wizard-step (goToLastStep)="goToLastStep()"></ix-spare-wizard-step>
      </mat-step>

      <mat-step
        ixStepActivation
        [errorMessage]="getTopLevelErrorForStep(PoolCreationWizardStep.Cache)"
        [hasError]="!!getTopLevelErrorForStep(PoolCreationWizardStep.Cache) && getWasStepActivated(PoolCreationWizardStep.Cache)"
        (activate)="onStepActivated(PoolCreationWizardStep.Cache)"
      >
        <ng-template matStepLabel>
          <div fxFlex fxLayoutAlign="start center">
            {{ 'Cache (Optional)' | translate }}
            <ix-icon
              *ngIf="getTopLevelWarningForStep(PoolCreationWizardStep.Cache) as warning"
              class="error-warning-icon"
              name="warning"
              [matTooltip]="warning | translate"
            ></ix-icon>
          </div>
        </ng-template>
        <ix-cache-wizard-step (goToLastStep)="goToLastStep()"></ix-cache-wizard-step>
      </mat-step>

      <mat-step
        ixStepActivation
        [errorMessage]="getTopLevelErrorForStep(PoolCreationWizardStep.Metadata)"
        [hasError]="!!getTopLevelErrorForStep(PoolCreationWizardStep.Metadata) && getWasStepActivated(PoolCreationWizardStep.Metadata)"
        (activate)="onStepActivated(PoolCreationWizardStep.Metadata)"
      >
        <ng-template matStepLabel>
          <div fxFlex fxLayoutAlign="start center">
            {{ 'Metadata (Optional)' | translate }}
            <ix-icon
              *ngIf="getTopLevelWarningForStep(PoolCreationWizardStep.Metadata) as warning"
              class="error-warning-icon"
              name="warning"
              [matTooltip]="warning | translate"
            ></ix-icon>
          </div>
        </ng-template>
        <ix-metadata-wizard-step (goToLastStep)="goToLastStep()"></ix-metadata-wizard-step>
      </mat-step>

      <mat-step
        ixStepActivation
        [errorMessage]="getTopLevelErrorForStep(PoolCreationWizardStep.Dedup)"
        [hasError]="!!getTopLevelErrorForStep(PoolCreationWizardStep.Dedup) && getWasStepActivated(PoolCreationWizardStep.Dedup)"
        (activate)="onStepActivated(PoolCreationWizardStep.Dedup)"
      >
        <ng-template matStepLabel>
          <div fxFlex fxLayoutAlign="start center">
            {{ 'Dedup (Optional)' | translate }}
            <ix-icon
              *ngIf="getTopLevelWarningForStep(PoolCreationWizardStep.Dedup) as warning"
              class="error-warning-icon"
              name="warning"
              [matTooltip]="warning | translate"
            ></ix-icon>
          </div>
        </ng-template>
        <ix-dedup-wizard-step (goToLastStep)="goToLastStep()"></ix-dedup-wizard-step>
      </mat-step>

      <mat-step
        ixStepActivation
        (activate)="onStepActivated(PoolCreationWizardStep.Review)"
      >
        <ng-template matStepLabel>{{ 'Review' | translate }}</ng-template>
        <ix-review-wizard-step
          [isStepActive]="activeStep === PoolCreationWizardStep.Review"
          (createPool)="createPool()"
        ></ix-review-wizard-step>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</mat-card>
