:host {
  color: var(--fg1);
  display: block;
  font-size: 12px;
  margin: 12px 0;
  padding: 8px 0;

  ix-icon {
    color: inherit;
  }
}

.icon-group {
  align-items: center;
  display: flex;
  gap: 4px;
  min-height: 30px;
}

.selected {
  color: var(--primary);
}

.title,
.description {
  display: block;
  margin: 0;
  text-align: center;
}

.title {
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 8px;
}

.description {
  color: var(--fg2);
}
