@keyframes nudge {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }

  80% {
    transform: translate(-10px, 0);
  }
}

.truecommand-button-connecting-animation {
  animation: nudge 3s infinite linear;
}

::ng-deep .truecommand-button > span.mat-badge-content {
  font-family: 'Material Icons';
}

::ng-deep .truecommand-button.CONNECTED > span.mat-badge-content {
  background: var(--green);
}

::ng-deep .truecommand-button.FAILED > span.mat-badge-content {
  background: var(--red);
}
