<h1 matDialogTitle>
  {{ 'API Key' | translate }}
</h1>

<mat-dialog-content>
  <p>
    {{ 'Success! The API key has been created or reset.' | translate }}
    <strong>{{ 'This is the only time the key is shown.' | translate }}</strong>
  </p>

  <div class="key-section">
    <ix-textarea
      [formControl]="apiKeyControl"
      [readonly]="true"
      [rows]="3"
      [label]="'API Key' | translate"
      (dblclick)="onCopyPressed(); $event.stopPropagation();"
    ></ix-textarea>
  </div>
</mat-dialog-content>

<ix-form-actions matDialogActions>
  <button
    mat-button
    ixTest="close"
    matDialogClose
  >{{ 'Close' | translate }}</button>

  <button
    mat-button
    color="primary"
    ixTest="copy-to-clipboard"
    (click)="onCopyPressed()"
  >{{ 'Copy to Clipboard' | translate }}</button>
</ix-form-actions>
