<ng-template #pageHeader>
  <ix-page-title-header>
    <ix-apps-toolbar-buttons></ix-apps-toolbar-buttons>
  </ix-page-title-header>
</ng-template>

<ix-fake-progress-bar
  *ngIf="applicationsStore.isLoading$ | async"
  class="loader-bar"
  [loading]="applicationsStore.isLoading$ | async"
></ix-fake-progress-bar>

<ix-available-apps-header></ix-available-apps-header>

<h3 *ngIf="applicationsStore.searchQuery$ | async as searchQuery" class="apps-title"> {{ 'Search Results for «{query}»' | translate: { query: searchQuery } }}</h3>
<div *ngIf="isFilterOrSearch$ | async" class="available-apps-list">
  <div class="filtered-apps">
    <ix-app-card
      *ngFor="let app of (applicationsStore.searchedApps$ | async); trackBy: trackByAppId"
      [app]="app"
      [routerLink]="['/apps', 'available', app.catalog, app.train, app.name]"
    ></ix-app-card>
  </div>
</div>
<div *ngIf="!(isFilterOrSearch$ | async)" class="available-apps-list">
  <ng-container *ngFor="let appSection of (applicationsStore.appsByCategory$ | async); trackBy: trackByAppSectionTitle">
    <section *ngIf="appSection.apps as apps">
      <ng-container *ngIf="apps.length">
        <h3 class="apps-section-title">
          {{ appSection.title }}
        </h3>

        <div class="apps">
          <ix-app-card
            *ngFor="let app of apps; trackBy: trackByAppId"
            [app]="app"
            [routerLink]="['/apps', 'available', app.catalog, app.train, app.name]"
          ></ix-app-card>
        </div>

        <p
          *ngIf="appSection.totalApps > (applicationsStore.sliceAmount$ | async)"
          class="view-all"
          (click)="applyCategoryFilter(appSection.category)"
        >
          <b>
            {{ 'View All' | translate }} {{ appSection.title | translate }}
          </b>
        </p>
      </ng-container>
    </section>
  </ng-container>
</div>
