.apps {
  column-gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  padding-top: 20px;
  row-gap: 16px;
}

.apps-title {
  color: var(--fg1);
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.6em;
  margin-top: 10px;
}
