<mat-card [ixUiSearch]="searchableElements.elements.sshKeypairs">
  <mat-toolbar-row>
    <h3>{{ 'SSH Keypairs' | translate }}</h3>

    <div class="actions action-icon">
      <button
        *ixRequiresRoles="requiredRoles"
        mat-button
        color="default"
        [ixTest]="['add-ssh-keypair']"
        [ixUiSearch]="searchableElements.elements.add"
        (click)="doAdd()"
      >
        {{ 'Add' | translate }}
      </button>
    </div>
  </mat-toolbar-row>
  <mat-card-content>
    <ix-table
      [ix-table-empty]="!(dataProvider.currentPageCount$ | async)"
      [emptyConfig]="emptyService.defaultEmptyConfig(dataProvider.emptyType$ | async)"
    >
      <thead
        ix-table-head
        [columns]="columns"
        [dataProvider]="dataProvider"
      ></thead>
      <tbody
        ix-table-body
        [columns]="columns"
        [dataProvider]="dataProvider"
        [isLoading]="!!(dataProvider.isLoading$ | async)"
      ></tbody>
    </ix-table>
    <ix-table-pager-show-more
      [pageSize]="5"
      [dataProvider]="dataProvider"
      [ixTestOverride]="['ssh-keypairs']"
    ></ix-table-pager-show-more>
  </mat-card-content>
</mat-card>
