<h1 mat-dialog-title>{{ 'Select Client Certificate' | translate }}</h1>
<div mat-dialog-content>
  <ix-select
    [formControl]="selectControl"
    [label]="'Client Certificate' | translate"
    [options]="serverCertificates$"
    [required]="true"
    class="linked-input"
  ></ix-select>
  <a class="link" (click)="certificatesLinkClicked()">
    {{ 'Certificates' | translate }}<mat-icon>open_in_new</mat-icon>
  </a>
</div>
<div mat-dialog-actions class="buttons">
  <button
    mat-button
    matDialogClose
  >{{ 'Cancel' | translate }}</button>
  <button
    mat-button
    color="primary"
    [disabled]="selectControl.invalid"
    (click)="onSave()"
  >{{ 'Save' | translate }}</button>
</div>
