<h1 mat-dialog-title>{{ 'Select Client Certificate' | translate }}</h1>
<div mat-dialog-content>
  <ix-with-manage-certificates-link>
    <ix-select
      [formControl]="selectControl"
      [label]="'Client Certificate' | translate"
      [options]="serverCertificates$"
      [required]="true"
    ></ix-select>
  </ix-with-manage-certificates-link>
</div>

<div mat-dialog-actions class="buttons">
  <button mat-button matDialogClose ixTest="cancel">{{ 'Cancel' | translate }}</button>
  <button
    mat-button
    color="primary"
    ixTest="save"
    [disabled]="selectControl.invalid"
    (click)="onSave()"
  >
    {{ 'Save' | translate }}
  </button>
</div>
