<div
  class="flex content-start flex-col flex-wrap justify-start items-start h-full grid-flow-col gap-6 p-8"
>
  @for (item of menuItems; track item) {
    <button
      class="size-24 gap-1 shadow rounded-md bg-background/10 backdrop-blur-md text-foreground overflow-hidden flex flex-col items-center justify-center"
      (click)="open(item)"
    >
      <div class="size-12 mx-auto flex-shrink-0">
        <ix-icon [name]="item.icon" [fullSize]="true"></ix-icon>
      </div>
      <div class="text-center leading-[1] text-sm">
        {{ item.name | translate }}
      </div>
    </button>
  }
</div>
