<div
  class="flex content-start flex-col flex-wrap justify-start items-start h-full grid-flow-col gap-x-6 gap-y-8 p-8 bg-background/50"
>
  @for (item of menuItems; track item) {
    <button (click)="open(item)">
      <div
        class="size-[108px] flex items-center justify-center rounded-[24px] border border-black/10 flex-shrink-0 bg-background/20 shadow-inner backdrop-blur-xl"
      >
        <div class="mx-auto size-15">
          <ix-icon [name]="item.icon" [fullSize]="true"></ix-icon>
        </div>
      </div>
      <div class="text-center leading-[1] text-sm mt-3">
        {{ item.name | translate }}
      </div>
    </button>
  }
</div>
