<tn-dialog-shell testId="two-factor-setup" [title]="'Setup Two-Factor Authentication' | translate">
<div class="wrapper">
  <div class="container">
    <div [class.step-finished]="canFinish()">
      <ix-two-factor [isSetupDialog]="true" (skipSetup)="onSkipSetup()"></ix-two-factor>
    </div>
  </div>
</div>

<div tnDialogAction>
  @if (canFinish()) {
    <tn-button
      color="primary"
      testId="finish-first-stig-login"
      [label]="'Finish' | translate"
      (onClick)="dialogRef.close()"
    ></tn-button>
  }
</div>
</tn-dialog-shell>
