<h1 mat-dialog-title>{{ title | translate }}</h1>
<mat-dialog-content class="entity-job-dialog">
  @if (showRealtimeLogs && realtimeLogs) {
    <div class="logs-container">
      <h5>{{ 'Logs' | translate }}</h5>
      <pre #logs class="message logs">{{ realtimeLogs }}</pre>
    </div>
  }

  @if (job?.state === JobState.Running) {
    <div>
      <div class="percentage-row">
        <span>{{ job.description ? job.description : job.method }}</span>
        @if (!hideProgressValue) {
          <small>
            {{ progressTotalPercent || 0 | number: '1.2-2' }}%
          </small>
        }
      </div>
      <mat-progress-bar
        color="primary"
        class="entity-job-progress"
        [value]="progressTotalPercent"
        [mode]="progressTotalPercent ? 'determinate' : 'indeterminate'"
      ></mat-progress-bar>
    </div>
  }

  @if (showHttpProgress) {
    <div>
      <div class="percentage-row">
        <span> </span>
        <small>{{ uploadPercentage || 0 | number: '1.2-2' }}%</small>
      </div>
      <mat-progress-bar
        color="primary"
        class="entity-job-progress"
        [value]="uploadPercentage"
        [mode]="uploadPercentage > 0 ? 'determinate' : 'indeterminate'"
      >
      </mat-progress-bar>
    </div>
  }

  @if (description) {
    <div
      class="entity-job-description"
      [innerHTML]="description"
    ></div>
  }

  @if (!description && !job) {
    <div>
      <mat-progress-bar
        color="primary"
        mode="indeterminate"
        class="entity-job-progress"
      ></mat-progress-bar>
    </div>
  }

  @if (!description) {
    <div>
      @if (altMessage) {
        <span [innerHTML]="altMessage"></span>
      } @else {
        <div>
          @if (job?.state === JobState.Waiting) {
            <span>{{ 'Waiting' | translate }}</span>
          } @else {
            <span>{{ 'Fetching data...' | translate }}</span>
          }
        </div>
      }
    </div>
  }
</mat-dialog-content>

<div mat-dialog-actions>
  @if (job?.state === JobState.Failed) {
    <button
      class="mat-dialog-close"
      mat-icon-button
      mat-dialog-close="close"
      ixTest="close"
      [aria-label]="'Close Job' | translate"
    >
      <ix-icon name="close"></ix-icon>
    </button>
  } @else {
    @if (showAbortButton && job?.state === JobState.Running) {
      <button
        mat-button
        ixTest="abort"
        (click)="abortJob()"
      >
        {{ 'Abort' | translate }}
      </button>
    }
    @if (showCloseButton) {
      <button
        class="mat-dialog-close"
        mat-icon-button
        mat-dialog-close="close"
        ixTest="close"
        [aria-label]="'Hide Job' | translate"
      >
        <ix-icon name="remove"></ix-icon>
      </button>
    }
  }

</div>
