mat-tab-group {
  width: 100%;

  .mat-tab-body-wrapper {
    padding: 16px;
  }
}

.inline-block {
  display: inline-block;
}

.capitalized-text {
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}

.badge-area {
  background-color: var(--yellow);
  color: rgba($color: #000, $alpha: 1);
  margin: 0 16px 16px;
  text-align: center;

  .train-badge {
    background-color: #00000052;
  }

  &.badge-official {
    background-color: var(--primary) !important;
  }
}

.catalog-item {
  height: 160px;
  width: 350px;

  .content-wrapper {
    .logo-container {
      background-color: var(--contrast-lighter);
      display: flex;
      flex-direction: column;
      height: 160px;
      width: 160px;

      .logo {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
        margin-left: 16px;
        width: calc(100% - 32px);

        img {
          height: 100px;
          object-fit: contain;
          width: 100%;
        }
      }
    }

    .content {
      left: 15px;
      padding: 1rem;
      position: relative;
      text-align: center;
      width: 140px;

      .button-row {
        position: relative;
      }
    }
  }

  .content-wrapper:hover {
    background-color: var(--contrast-lighter);
    cursor: pointer;
  }


  .more-info {
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.chart-item {
  height: 160px;
  width: 500px;

  .content-wrapper {
    .logo-container {
      background-color: var(--contrast-lighter);
      display: flex;
      flex-direction: column;
      height: 160px;
      width: 160px;

      .logo {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
        margin-left: 16px;
        width: calc(100% - 32px);

        img {
          height: 100px;
          object-fit: contain;
          width: 100%;
        }
      }

      .bulk-checkbox {
        left: 2px;
        position: absolute;
        top: 2px;
      }
    }


    .content-box {
      height: 160px;
      width: 340px;
    }

    .chart-name {
      font-size: large;
    }

    .content {
      margin-right: 50px;
      padding: 1rem;
      text-align: center;

      .version {
        opacity: 0.6;
      }

      .update-label {
        color: var(--fg2);
        white-space: nowrap;
      }

      .version-value {
        color: rgba(255, 255, 255, 0.5);
        padding-left: 5px;
        word-break: break-all;
      }
    }

    .chart-button-row {
      bottom: 5px;
      height: 45px;
      position: absolute;
      right: 15px;
      width: 315px;
    }
  }

  .content-box:hover {
    background-color: var(--contrast-lighter);
    cursor: pointer;
  }

  .more-info {
    position: absolute;
    right: 0;
    top: 10px;
  }

  .docker-info {
    font-size: smaller;
    opacity: 0.7;
  }

  .status {
    opacity: 0.75;
    padding: 3px;
  }

  .active {
    border: 1px solid var(--green);
    color: var(--green);
  }

  .other {
    border: 1px solid var(--fg1);
  }

  button {
    flex-shrink: 0;
    margin-bottom: 10px !important;
    margin-left: 5px !important;
  }

  .ports {
    display: flex;
    height: 45px;
    overflow: hidden;
    padding-right: 5px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
  }

  .ports-text {
    line-height: 40px;
    /* If the ports text is smaller than 50px, hide all text. otherwise set maxwidth to "unlimited" */
    max-width: max(0px, calc((100% - 50px)*999));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.charts-info {
  color: white;
}

.docker-item {
  height: 150px;
  padding: 15px !important;
  text-align: center;
  width: 300px;
}

ix-manage-catalogs {
  ix-entity-table {
    #entity-table-component.mat-card {
      margin: 0;
    }
  }

  .mat-column-label {
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

ix-docker-images {
  ix-entity-table {
    #entity-table-component.mat-card {
      margin: 0;
    }
  }
}

.shell-icon {
  font-size: 24px;
  line-height: 22px;
}
