# Angular 21 supported browsers
# https://angular.dev/reference/versions#browser-support
last 2 Chrome versions
last 2 Firefox versions
last 2 Edge versions
last 2 Safari versions
last 2 iOS versions
Firefox ESR
not dead
