# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
yarn-error.log

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
package-lock.json
.eslintcache
.nx/cache

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

#ip/port config
proxy.config.json
src/environments/environment.ts
src/assets/mock/configs/custom/*.json

# automation framework
*.iso
__pycache__
.pytest_cache
config.py
auto_config.py
geckodriver.log
vm_config
tests/config.cfg
tests/bdd/config.cfg
*.feature
tests/bdd/*.html*
firefox.core
code-oss.core
chrome.core

# Junit results for Jenkins
tests/bdd/results/junit/*.xml

# Json Cucumber results for Jira
tests/bdd/results/cucumber/*.json

# generated screenshot files
tests/bdd/screenshot/core/*.txt
tests/bdd/screenshot/core/*.png
tests/bdd/screenshot/scale/*.txt
tests/bdd/screenshot/scale/*.png
tests/bdd/screenshot/scale-ha/*.txt
tests/bdd/screenshot/scale-ha/*.png
tests/screenshot/*.png

.vs/slnx.sqlite

# generated polyfills
src/assets/scripts/ie-support/ie-polyfills.min.js

.vs/

# vsc history
.history
.history/*

# jest cache
.jest
