@if (!isLoading()) {
  <div>
    <div class="pool-header">
      <h2 class="pool-name">{{ pool()?.name }}</h2>
      <div class="pool-actions">
        @if (!pool()?.is_upgraded && isOnline()) {
          <button
            *ixRequiresRoles="requiredRoles"
            mat-button
            color="primary"
            [ixTest]="['upgrade-pool', pool()?.name]"
            (click)="onUpgrade()"
          >
            {{ 'Upgrade' | translate }}
          </button>
        }

        <button
          mat-icon-button
          [matTooltip]="'Advanced Actions' | translate"
          [matMenuTriggerFor]="advancedMenu"
          [ixTest]="['advanced-actions', pool()?.name]"
        >
          <ix-icon name="more_vert"></ix-icon>
        </button>

        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          color="warn"
          [ixTest]="['disconnect', pool()?.name]"
          [ixUiSearch]="searchableElements.elements.disconnect"
          (click)="onDisconnect()"
        >
          {{ 'Disconnect' | translate }}
        </button>

        <mat-menu #advancedMenu="matMenu">
          <button
            *ixRequiresRoles="requiredRoles"
            mat-menu-item
            [ixTest]="['expand', pool()?.name]"
            [ixUiSearch]="searchableElements.elements.expand"
            (click)="onExpand()"
          >
            <ix-icon name="trending_up"></ix-icon>
            {{ 'Expand Pool' | translate }}
          </button>

          <button
            *ixRequiresRoles="requiredRoles"
            mat-menu-item
            [ixTest]="['auto-trim', pool()?.name]"
            (click)="onEditAutotrim()"
          >
            <ix-icon name="content_cut"></ix-icon>
            {{ 'Auto TRIM' | translate }}
          </button>
        </mat-menu>
      </div>
    </div>

    <div class="cards">
      <ix-vdevs-card
        [poolState]="pool()"
        [disks]="disks()"
      ></ix-vdevs-card>

      @if (rootDataset()) {
        <ix-pool-usage-card
          [poolState]="pool()"
          [rootDataset]="rootDataset()"
        ></ix-pool-usage-card>
      }

      <ix-storage-health-card [pool]="pool()"></ix-storage-health-card>
      <ix-disk-health-card
        [poolState]="pool()"
        [disks]="disks()"
      ></ix-disk-health-card>
    </div>
  </div>
} @else {
  <div class="skeleton-content">
    <div class="pool-header">
      <ngx-skeleton-loader></ngx-skeleton-loader>
    </div>
    <div class="cards">
      @for (_ of counter(4); track _) {
        <mat-card class="card">
          <mat-card-content>
            @for (_ of counter(5); track _) {
              <ngx-skeleton-loader></ngx-skeleton-loader>
            }
          </mat-card-content>
        </mat-card>
      }
    </div>
  </div>
}

