<h1 mat-dialog-title>Tasks</h1>
<mat-dialog-content class="mat-typography">
    <table mat-table [dataSource]="jobs" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="method">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Method </th>
          <td mat-cell *matCellDef="let element"> {{element.method}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
          <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
          <td mat-cell *matCellDef="let element"> {{element.progress.percent}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>