<tn-dialog-shell [title]="'Delete Subsystem' | translate">
<div>
  <p class="message">{{ 'Are you sure you want to delete subsystem {subsys}?' | translate: { subsys: subsystem.name } }}</p>
  <ix-checkbox
    [label]="'Force' | translate"
    [formControl]="force"
  ></ix-checkbox>
</div>
<ix-form-actions tnDialogAction class="form-actions">
  <button mat-button ixTest="cancel">{{ 'Cancel' | translate }}</button>
  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    color="warn"
    ixTest="delete"
    (click)="delete()"
  >
    {{ 'Delete' | translate }}
  </button>
</ix-form-actions>
</tn-dialog-shell>
