<mat-card class="card">
  <mat-progress-bar
    *ngIf="isFormLoading"
    mode="indeterminate"
  ></mat-progress-bar>

  <mat-toolbar-row>
    <h3>{{ 'Global Two-Factor Authentication Configuration' | translate }}</h3>
  </mat-toolbar-row>

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span class="label">{{ 'Global 2FA' | translate }}:</span>
        <span *ixWithLoadingState="twoFactorConfig$ as twoFactorAuthConfig" class="value">
          {{ twoFactorAuthConfig.enabled ? ('Enabled' | translate) : ('Disabled' | translate) }}
        </span>
      </mat-list-item>
      <mat-list-item>
        <span class="label">{{ 'Interval' | translate }}:</span>
        <span *ixWithLoadingState="twoFactorConfig$ as twoFactorAuthConfig" class="value">
          {{ twoFactorAuthConfig.interval }}
        </span>
      </mat-list-item>
      <mat-list-item>
        <span class="label">{{ 'OTP Digits' | translate }}:</span>
        <span *ixWithLoadingState="twoFactorConfig$ as twoFactorAuthConfig" class="value">
          {{ twoFactorAuthConfig.otp_digits }}
        </span>
      </mat-list-item>
      <mat-list-item>
        <span class="label">{{ 'Window' | translate }}:</span>
        <span *ixWithLoadingState="twoFactorConfig$ as twoFactorAuthConfig" class="value">
          {{ twoFactorAuthConfig.window }}
        </span>
      </mat-list-item>
      <mat-list-item>
        <span class="label">{{ 'Two Factor Authentication for SSH' | translate }}:</span>
        <span *ixWithLoadingState="twoFactorConfig$ as twoFactorAuthConfig" class="value">
          {{ twoFactorAuthConfig.services.ssh ? ('Enabled' | translate) : ('Disabled' | translate) }}
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
        
</mat-card>
<mat-card class="card">
  <mat-toolbar-row>
    <h3>{{ 'User Two-Factor Authentication Actions' | translate }}</h3>
  </mat-toolbar-row>

  <mat-card-actions>
    <div class="status-content">
      <ix-warning
        *ngIf="twoFactorAuthConfigured"
        [message]="helptext.two_factor.enabled_status_false | translate"
      ></ix-warning>
      <button
        mat-button
        class="btn"
        color="primary"
        type="button"
        ixTest="renew-secret"
        (click)="renewSecret()"
      > {{ twoFactorAuthConfigured ? 'Renew 2FA Secret' : 'Configure 2FA Secret' | translate }}</button>
      <button
        mat-button
        class="btn"
        color="accent"
        type="button"
        ixTest="show-qr"
        [disabled]="isFormLoading || !twoFactorAuthConfigured"
        (click)="showQrCode()"
      >
        {{ 'Show QR' | translate }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
