<form class="ix-form-container" [formGroup]="form">
  <ix-fieldset [title]="'LDAP Configuration' | translate">
    <ix-chips
      formControlName="server_urls"
      [label]="'Server URLs' | translate"
      [required]="true"
      [tooltip]="helptext.hostnameTooltip | translate"
    ></ix-chips>

    <ix-input
      formControlName="basedn"
      [label]="'Base DN' | translate"
      [required]="true"
      [tooltip]="helptext.basednTooltip | translate"
    ></ix-input>

    <ix-checkbox
      formControlName="starttls"
      [label]="'Start TLS' | translate"
      [tooltip]="helptext.sslTooltip | translate"
    ></ix-checkbox>

    <ix-checkbox
      formControlName="validate_certificates"
      [label]="'Validate Certificates' | translate"
      [tooltip]="helptext.validateCertificatesTooltip | translate"
    ></ix-checkbox>

    <ix-select
      formControlName="schema"
      [label]="'Schema' | translate"
      [options]="ldapSchemaOptions$"
      [required]="true"
      [tooltip]="helptext.schemaTooltip | translate"
    ></ix-select>

    <ix-fieldset
      [title]="'Auxiliary Parameters' | translate"
    >
      <ix-checkbox
        formControlName="use_standard_auxiliary_parameters"
        [label]="'Use Standard Auxiliary Parameters' | translate"
        [tooltip]="helptext.useStandardAuxiliaryParametersTooltip | translate"
      ></ix-checkbox>
      @if (!(form.controls.use_standard_auxiliary_parameters.value)) {
        <ix-textarea
          formControlName="auxiliary_parameters"
          [label]="'Auxiliary Parameters' | translate"
          [tooltip]="helptext.auxiliaryParametersTooltip | translate"
        ></ix-textarea>
      }
    </ix-fieldset>


    <ix-fieldset [title]="'Search Bases' | translate">
      <ix-checkbox
        formControlName="use_standard_search_bases"
        [label]="'Use Standard Search Bases' | translate"
        [tooltip]="helptext.useStandardSearchBasesTooltip | translate"
      ></ix-checkbox>
      @if (!(form.controls.use_standard_search_bases.value)) {
        <div [formGroup]="form.controls.search_bases">
          <ix-input
            formControlName="base_user"
            [label]="'User Base DN' | translate"
            [tooltip]="helptext.baseUserTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="base_group"
            [label]="'Group Base DN' | translate"
            [tooltip]="helptext.baseGroupTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="base_netgroup"
            [label]="'Netgroup Base DN' | translate"
            [tooltip]="helptext.baseNetgroupTooltip | translate"
          ></ix-input>
        </div>
      }

    </ix-fieldset>

    <ix-fieldset [title]="'Attribute Maps' | translate">
      <ix-checkbox
        formControlName="use_standard_attribute_maps"
        [label]="'Use Standard Attribute Maps' | translate"
        [tooltip]="helptext.useStandardAttributeMapsTooltip | translate"
      ></ix-checkbox>
      @if (!(form.controls.use_standard_attribute_maps.value)) {
        <ix-fieldset
          [title]="'LDAP Password Attributes' | translate"
          [formGroup]="form.controls.attribute_maps.controls.passwd"
        >
          <ix-input
            formControlName="user_object_class"
            [label]="'User Object Class' | translate"
            [tooltip]="helptext.userObjectClassTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="user_name"
            [label]="'Username Attribute' | translate"
            [tooltip]="helptext.userNameTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="user_uid"
            [label]="'UID Attribute' | translate"
            [tooltip]="helptext.userUidTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="user_gid"
            [label]="'GID Attribute' | translate"
            [tooltip]="helptext.userGidTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="user_gecos"
            [label]="'GECOS Attribute' | translate"
            [tooltip]="helptext.userGecosTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="user_home_directory"
            [label]="'Home Directory Attribute' | translate"
            [tooltip]="helptext.userHomeDirectoryTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="user_shell"
            [label]="'Shell Attribute' | translate"
            [tooltip]="helptext.userShellTooltip | translate"
          ></ix-input>
        </ix-fieldset>
        <ix-fieldset
          [title]="'LDAP Shadow Attributes' | translate"
          [formGroup]="form.controls.attribute_maps.controls.shadow"
        >
          <ix-input
            formControlName="shadow_last_change"
            [label]="'Last Change Attribute' | translate"
            [tooltip]="helptext.shadowLastChangeTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="shadow_min"
            [label]="'Min Days Attribute' | translate"
            [tooltip]="helptext.shadowMinTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="shadow_max"
            [label]="'Max Days Attribute' | translate"
            [tooltip]="helptext.shadowMaxTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="shadow_warning"
            [label]="'Warning Attribute' | translate"
            [tooltip]="helptext.shadowWarningTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="shadow_inactive"
            [label]="'Inactive Attribute' | translate"
            [tooltip]="helptext.shadowInactiveTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="shadow_expire"
            [label]="'Expire Attribute' | translate"
            [tooltip]="helptext.shadowExpireTooltip | translate"
          ></ix-input>
        </ix-fieldset>
        <ix-fieldset 
          [title]="'LDAP Group Attributes' | translate"
          [formGroup]="form.controls.attribute_maps.controls.group"
        >
          <ix-input
            formControlName="group_object_class"
            [label]="'Group Object Class' | translate"
            [tooltip]="helptext.groupObjectClassTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="group_gid"
            [label]="'Group GID Attribute' | translate"
            [tooltip]="helptext.groupGidTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="group_member"
            [label]="'Group Member Attribute' | translate"
            [tooltip]="helptext.groupMemberTooltip | translate"
          ></ix-input>
        </ix-fieldset>
        <ix-fieldset
          [title]="'LDAP Net Group Attributes' | translate"
          [formGroup]="form.controls.attribute_maps.controls.netgroup"
        >
          <ix-input
            formControlName="netgroup_object_class"
            [label]="'Netgroup Object Class' | translate"
            [tooltip]="helptext.netgroupObjectClassTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="netgroup_member"
            [label]="'Netgroup Member Attribute' | translate"
            [tooltip]="helptext.netgroupMemberTooltip | translate"
          ></ix-input>

          <ix-input
            formControlName="netgroup_triple"
            [label]="'Netgroup Triple Attribute' | translate"
            [tooltip]="helptext.netgroupTripleTooltip | translate"
          ></ix-input>
        </ix-fieldset>
      }
    </ix-fieldset>
  </ix-fieldset>

</form>