@if (container(); as container) {
  <tn-card
    padding="small"
    [title]="'Tools' | translate"
    [padContent]="false"
  >
    <tn-list>
      <div [tnTooltip]="isContainerStopped() ? ('Container is not running' | translate) : ''">
        <tn-list-item
          tnTestIdType="link"
          [tnTestId]="'open-shell'"
          [class.is-clickable]="!isContainerStopped()"
          [clickable]="!isContainerStopped()"
          [disabled]="isContainerStopped()"
          (itemClick)="openShell(container.id)"
        >
          <div class="shell-row">
            <span>{{ 'Shell' | translate }}</span>
            <tn-icon name="console-line" library="mdi"></tn-icon>
          </div>
        </tn-list-item>
      </div>
    </tn-list>
  </tn-card>
}
