<ng-container [formGroup]="form">
  <ix-input
    [label]="'Hostname' | translate"
    formControlName="host"
    [required]="true"
    [tooltip]="helptext.SNMPTrap_host_tooltip | translate"
  ></ix-input>
  <ix-input
    [label]="'Port' | translate"
    formControlName="port"
    type="number"
    [tooltip]="helptext.SNMPTrap_port_tooltip | translate"
  ></ix-input>
  <ix-checkbox
    [label]="'SNMPv3 Security Model' | translate"
    formControlName="v3"
    [tooltip]="helptext.SNMPTrap_v3_tooltip | translate"
  ></ix-checkbox>

  <ng-container *ngIf="isV3">
    <ix-input
      [label]="'Username' | translate"
      formControlName="v3_username"
      [required]="true"
      [tooltip]="helptext.SNMPTrap_v3_username_tooltip | translate"
    ></ix-input>
    <ix-input
      [label]="'Secret Authentication Key' | translate"
      formControlName="v3_authkey"
      [tooltip]="helptext.SNMPTrap_v3_authkey_tooltip | translate"
    ></ix-input>
    <ix-input
      [label]="'Secret Encryption Key' | translate"
      formControlName="v3_privkey"
      [tooltip]="helptext.SNMPTrap_v3_privkey_tooltip | translate"
    ></ix-input>
    <ix-select
      [label]="'Authentication Protocol' | translate"
      formControlName="v3_authprotocol"
      [options]="authProtocols$"
      [required]="true"
      [tooltip]="helptext.SNMPTrap_v3_authprotocol_tooltip | translate"
    ></ix-select>
    <ix-select
      [label]="'Encryption Protocol' | translate"
      formControlName="v3_privprotocol"
      [options]="privProtocols$"
      [required]="true"
      [tooltip]="helptext.SNMPTrap_v3_privprotocol_tooltip | translate"
    ></ix-select>
  </ng-container>

  <ix-input
    [label]="'SNMP Community' | translate"
    formControlName="community"
    [tooltip]="helptext.SNMPTrap_community_tooltip | translate"
  ></ix-input>
</ng-container>
