<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  @if (!(isFullAdminUser$ | async)) {
    <tn-form-field [label]="'Current Password' | translate" [required]="true">
      <tn-input
        formControlName="old_password"
        autocomplete="current-password"
        [testId]="'old-password'"
        [inputType]="InputType.Password"
      ></tn-input>
    </tn-form-field>
  }

  <tn-form-field
    [label]="'New Password' | translate"
    [required]="true"
    [tooltip]="tooltips.password | translate"
  >
    <tn-input
      formControlName="new_password"
      autocomplete="new-password"
      [testId]="'new-password'"
      [inputType]="InputType.Password"
    ></tn-input>
  </tn-form-field>

  <tn-form-field [label]="'Confirm Password' | translate" [required]="true">
    <tn-input
      formControlName="passwordConfirmation"
      autocomplete="new-password"
      [testId]="'password-confirmation'"
      [inputType]="InputType.Password"
    ></tn-input>
  </tn-form-field>

  @if (showActions()) {
    <ix-form-actions>
      <tn-button
        color="primary"
        testId="save"
        [label]="'Change Password' | translate"
        [disabled]="form.invalid"
        (onClick)="onSubmit()"
      ></tn-button>
    </ix-form-actions>
  }
</form>
