@import 'scss-imports/cssvars';

:host {
  display: flex;
  gap: 5px;

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
    flex-direction: column-reverse;

    ::ng-deep {
      .selector-container {
        display: grid;
        overflow: auto;
      }
    }
  }

  ::ng-deep .mat-mdc-card {
    margin: 0;
  }

  .container {
    background-color: var(--contrast-darkest);
    padding: 0;
  }
}

.view-container {
  flex-grow: 1;
}
