@import 'scss-imports/cssvars';

mat-card-content {
  position: relative;
}

ix-fake-progress-bar {
  height: 2px;
  position: absolute;
  top: 0;
}

:host {
  display: flex;
  gap: 5px;

  @media (max-width: $breakpoint-md) {
    flex-direction: column-reverse;
    flex-wrap: wrap;

    ::ng-deep {
      .selector-container {
        display: grid;
        overflow: auto;
      }
    }
  }

  ::ng-deep .mat-mdc-card {
    margin: 0;
  }

  .container {
    align-items: stretch;
    background-color: var(--contrast-darkest);
    display: flex;
    justify-content: center;
    min-height: 50vh;
    padding: 0;
  }
}

.view-container {
  flex-grow: 1;
}
