<div class="temp-dash">
    <h3>Credentials</h3>
        <ul>
            <li (click)="goSomewhere('cloudcredentials')">Cloud Credentials</li>
            <li (click)="goSomewhere('sshconnections')">SSH Connections</li>
            <li (click)="goSomewhere('sshkeypairs')">SSH Keypairs</li>
        </ul>

    <div>--------</div>

    <h3>Certificates</h3>
        <ul>
            <li (click)="goSomewhere('ca')">CAs</li>
            <li (click)="goSomewhere('certificates')">Certificates</li>
            <li (click)="goSomewhere('acmedns')">ACME DNS</li>
        </ul>
</div>

