<div class="temp-dash" fxLayout="row wrap" fxLayout.sm="column" fxLayoutGap="20px">
    <mat-card fxFlex="45" fxFlex.sm="100" fxFlex.xs="100">
        <h3>Credentials</h3>
        <mat-divider></mat-divider>
        <ul>
            <li (click)="systemNav('cloudcredentials')">Cloud Credentials</li>
            <li (click)="systemNav('sshconnections')">SSH Connections</li>
            <li (click)="systemNav('sshkeypairs')">SSH Keypairs</li>
        </ul>
    </mat-card>

    <mat-card fxFlex="45" fxFlex.sm="100" fxFlex.xs="100">
        <h3>Certificates</h3>
        <mat-divider></mat-divider>
        <ul>
            <li (click)="systemNav('ca')">CAs</li>
            <li (click)="systemNav('certificates')">Certificates</li>
            <li (click)="systemNav('acmedns')">ACME DNS</li>
        </ul>
    </mat-card>

    <mat-card fxFlex="45" fxFlex.sm="100" fxFlex.xs="100">
        <h3>Misc</h3>
        <mat-divider></mat-divider>
        <ul>
            <li (click)="systemNav('alertsettings')">Alert Settings</li>
            <li (click)="systemNav('email')">Email</li>
            <li (click)="navExternal('https://www.truenas.com/docs/')">Guide</li>
            <li (click)="systemNav('ntpservers')">NTP Servers</li>
            <li (click)="nav('services')">Services</li>
            <li (click)="nav('shell')">Shell</li>
            <li (click)="systemNav('support')">Support</li>
            <li (click)="systemNav('dataset')">System Dataset</li>
            <li (click)="systemNav('tunable')" *ngIf="!isScale">Tunables</li>
        </ul>
    </mat-card>

    <mat-card fxFlex="45" fxFlex.sm="100" fxFlex.xs="100">
        <h3>Premium</h3>
        <mat-divider></mat-divider>
        <ul>
            <li (click)="nav('clustering')">Clustering</li>
            <li (click)="nav('containers')">Containers</li>
            <li (click)="systemNav('failover')" *ngIf="is_ha">Failover</li>
            <li (click)="systemNav('kmip')" *ngIf="isEnterprise">KMIP</li>
            <li (click)="systemNav('sysctrl')" *ngIf="isScale">Sysctrl</li>
            <li (click)="systemNav('viewenclosure')" *ngIf="isEnterprise">Enclosures (will be on Storage Dashboard)</li>
        </ul>
    </mat-card>

</div>
