<div class="temp-dash">
    <h3>Credentials</h3>
    <ul>
        <li (click)="systemNav('cloudcredentials')">Cloud Credentials</li>
        <li (click)="systemNav('sshconnections')">SSH Connections</li>
        <li (click)="systemNav('sshkeypairs')">SSH Keypairs</li>
    </ul>

    <div>--------</div>

    <h3>Certificates</h3>
    <ul>
        <li (click)="systemNav('ca')">CAs</li>
        <li (click)="systemNav('certificates')">Certificates</li>
        <li (click)="systemNav('acmedns')">ACME DNS</li>
    </ul>

    <div>--------</div>

    <h3>Misc</h3>
    <ul>
        <li (click)="nav('shell')">Shell</li>
        <li (click)="nav('services')">Services</li>
        <li (click)="systemNav('email')">Email</li>
        <li (click)="systemNav('dataset')">System Dataset</li>
        <li (click)="systemNav('alertsettings')">Alert Settings</li>
        <li (click)="systemNav('ntpservers')">NTP Servers</li>
        <li (click)="systemNav('support')">Support</li>
        <li (click)="systemNav('tunable')">Tunables</li>
        <li (click)="navExternal('https://www.truenas.com/docs/')">Guide</li>
    </ul>


    <div>--------</div>

    <h3>Premium</h3>
    <ul>
        <li (click)="nav('clustering')">Clustering</li>
        <li (click)="nav('containers')">Containers</li>
        <li (click)="systemNav('failover')">Failover</li>
        <li (click)="systemNav('sysctrl')">Sysctrl</li>
        <li (click)="systemNav('viewenclosure')">View Enclosure</li>
    </ul>

</div>
