.temp-dash {
    margin: auto;
    max-width: 800px;
}

ul {
    margin-top: 20px;
}

li {
    font-size: larger !important;
}

li:hover {
    cursor: pointer;
    opacity: .7;
}

mat-card {
    min-width: 300px;
    margin: 15px;
    padding: 15px !important;
}

h3 {
    margin-bottom: 10px;
}

h3 {
    opacity: .6;
}
