@import 'mixins/cards';
@import 'mixins/animations';

:host {
  display: flex;
}

.card {
  @include details-card();
  flex: 1;

  .content-container {
    height: 100%;
  }
}

.capacity-caption {
  border-bottom: 2px solid var(--contrast-lighter);
  font-size: 130%;
}

.list-caption {
  margin: 0;
}

.item-caption {
  margin: 10px -10px;
}

.value-caption {
  margin-left: 2px;
}

.card-content {
  display: flex;
  flex: 1 1 100%;
  gap: 10px;

  .left,
  .right {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .left {
    align-items: flex-end;
    flex: 1 1 40%;
    flex-direction: column;

    > div {
      text-align: center;
    }

    .gauge {
      margin-left: unset;
      margin-right: 8px;
    }
  }

  .right {
    display: flex;
    flex: 1 1 60%;
    flex-direction: column;
  }
}

.link {
  color: var(--primary);
  cursor: pointer;
  margin-top: 25px;
  text-decoration: underline;
}
