@import 'mixins/grid';
@import 'scss-imports/splitview';

:host {
  align-items: center;
  border-bottom: 1px solid var(--lines);
  color: var(--fg2);
  cursor: pointer;
  display: flex;
  flex: 1;
  font-weight: 500;
  min-height: 48px;
  min-width: fit-content;
  padding: 0;
  position: relative;

  &:hover {
    background-color: var(--hover-bg);
  }

  &.selected {
    background-color: var(--hover-bg);

    &::before {
      background-color: var(--primary);
      content: '';
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      width: 6px;
    }
  }

  .app-name {
    font-size: 18px;
    line-height: 1.2;
  }

  .app-catalog {
    font-size: 10px;
    line-height: 1.2;
  }

  .app-logo {
    margin-right: 12px;
    max-height: 40px;
    max-width: 40px;
    min-width: 40px;

    img {
      display: block;
      height: auto;
      max-width: 100%;
      object-fit: contain;
    }
  }
}

.row-grid {
  @include grid-row();
  align-items: center;


  // Override default fraction based values to avoid misaligned columns
  grid-template-columns: auto 125px 40px 40px 40px 125px 40px;

  @media (max-width: $breakpoint-tablet) {
    // Override default fraction based values to avoid misaligned columns
    grid-template-columns: auto 0 0 0 0 0 0;
    width: 100%;
  }

  .cell {
    align-items: center;
    display: inline-flex;
    min-height: 48px;

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }

    &:first-child {
      left: 15px;
      position: sticky;

      @media (max-width: $breakpoint-tablet) {
        display: inline-flex;
      }
    }
  }

  .cell-name {
    align-items: stretch;
    font-weight: bold;

    .name {
      align-items: center;
      background: linear-gradient(90deg, var(--bg2) 0%, var(--bg2) calc(100% - 11px), transparent 100%);
      display: inline-flex;
      padding-right: 15px;
    }
  }

  .cell-status {
    .status {
      border: 2px solid;
      border-radius: 20px;
      display: flex;
      font-weight: bold;
      gap: 8px;
      padding: 1px 20px;
    }

    .active {
      border-color: var(--green);
      color: var(--green);
    }

    .deploying {
      border-color: var(--yellow);
      color: var(--yellow);

      mat-spinner::ng-deep circle {
        stroke: var(--yellow);
      }
    }

    .stopped {
      border-color: var(--red);
      color: var(--red);
    }
  }

  .cell-update {
    gap: 4px;

    .mdi-alert-circle {
      color: var(--yellow);
      font-size: 18px;
      line-height: 1;
    }
  }
}

:host-context(ix-app-row:hover),
:host-context(ix-app-row.selected) {
  .row-grid .cell-name .name {
    background: linear-gradient(90deg, var(--hover-bg) 0%, var(--hover-bg) calc(100% - 11px), transparent 100%);
  }
}
