<tn-dialog-shell [title]="'Pool Options for {pool}' | translate: { pool: pool.name }">
<form class="ix-form-container" (submit)="onSubmit($event)">
  <ix-checkbox
    [formControl]="autotrimControl"
    [label]="'Auto TRIM' | translate"
    [tooltip]="helptext.autotrimTooltip | translate"
  ></ix-checkbox>

</form>
<ix-form-actions tnDialogAction>
  <tn-button
    variant="outline"
    ixTest="cancel"
    [label]="'Cancel' | translate"
    (onClick)="dialogRef.close(false)"
  ></tn-button>

  <tn-button
    *ixRequiresRoles="requiredRoles"
    color="primary"
    ixTest="save"
    [label]="'Save' | translate"
    (onClick)="onSubmit()"
  ></tn-button>
</ix-form-actions>
</tn-dialog-shell>
