<tn-dialog-shell testId="boot-pool-attach" [title]="'Attach' | translate">
<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <ix-fieldset>
    <ix-unused-disk-select
      formControlName="dev"
      valueField="name"
      [label]="helptextSystemBootenv.memberDiskLabel | translate"
      [tooltip]="helptextSystemBootenv.memberDiskTooltip | translate"
      [required]="true"
    ></ix-unused-disk-select>
    <ix-checkbox
      [formControlName]="expand.fcName"
      [label]="expand.label | translate"
      [tooltip]="expand.tooltip | translate"
    ></ix-checkbox>
  </ix-fieldset>

</form>

@if (isFormLoading) {
  <ix-fake-progress-bar></ix-fake-progress-bar>
}
<ix-form-actions tnDialogAction>
  <tn-button
    variant="outline"
    testId="cancel"
    [label]="'Cancel' | translate"
    (onClick)="dialogRef.close(false)"
  ></tn-button>

  <tn-button
    *ixRequiresRoles="[Role.DiskWrite]"
    color="primary"
    testId="save"
    [label]="'Save' | translate"
    [disabled]="form.invalid || isFormLoading"
    (onClick)="onSubmit()"
  ></tn-button>
</ix-form-actions>
</tn-dialog-shell>
