<button
  matButton="outlined"
  ixTest="columns"
  [matMenuTriggerFor]="menu"
>
  {{ 'Columns' | translate }}
  <tn-icon name="menu-down" library="mdi"></tn-icon>
</button>

<mat-menu #menu="matMenu" multiple overlapTrigger="false">
  <div class="menu-checkbox-item" (click)="$event.stopPropagation()">
    <mat-checkbox
      color="primary"
      [ixTest]="['toggle-all-columns']"
      [checked]="isAllSelected"
      (change)="toggleAll(); saveColumnPreferences(); enableResetButton();"
    >
      @if (isAllSelected) {
        <span>{{ 'Unselect All' | translate }}</span>
      } @else {
        <span>{{ 'Select All' | translate }}</span>
      }
    </mat-checkbox>
  </div>

  <div class="menu-checkbox-group" (click)="$event.stopPropagation()">
    @for (column of columns(); track column) {
      @if (column.title) {
        <mat-checkbox
          color="primary"
          class="menu-checkbox-item"
          [ixTest]="['toggle-column', column.title]"
          [checked]="!isSelected(column)"
          (change)="toggle(column); saveColumnPreferences(); enableResetButton();"
        >
          <span>{{ column.title | translate }}</span>
        </mat-checkbox>
      }
    }
  </div>

  <div (click)="$event.stopPropagation()">
    <button
      mat-menu-item
      [ixTest]="['reset-columns-to-defaults']"
      [disabled]="isResetToDefaultDisabled()"
      (click)="resetToDefaults(); saveColumnPreferences()"
    >
      <tn-icon name="undo" library="mdi"></tn-icon>
      <span>{{ 'Reset to Defaults' | translate }}</span>
    </button>
  </div>
</mat-menu>
