<button
  mat-button
  ixTest="columns"
  [matMenuTriggerFor]="menu"
>
  {{ 'Columns' | translate }}
  <tn-icon name="menu-down" library="mdi"></tn-icon>
</button>

<mat-menu #menu="matMenu" multiple overlapTrigger="false">
  <div (click)="$event.stopPropagation()">
    <button
      mat-menu-item
      [ixTest]="['toggle-all-columns']"
      (click)="toggleAll(); saveColumnPreferences(); enableResetButton();"
    >
      <tn-icon library="mdi" [name]="!isAllSelected ? 'minus-circle' : 'check-circle'"></tn-icon>
      @if (isAllSelected) {
        <span>{{ 'Unselect All' | translate }}</span>
      } @else {
        <span>{{ 'Select All' | translate }}</span>
      }
    </button>
  </div>

  <div (click)="$event.stopPropagation()">
    @for (column of columns(); track column) {
      @if (column.title) {
        <button
          mat-menu-item
          [ixTest]="['toggle-column', column.title]"
          (click)="toggle(column); saveColumnPreferences(); enableResetButton();"
        >
          <tn-icon library="mdi" [name]="isSelected(column) ? 'minus-circle' : 'check-circle'"></tn-icon>
          <span>{{ column.title | translate }}</span>
        </button>
      }
    }
  </div>

  <div (click)="$event.stopPropagation()">
    <button
      mat-menu-item
      [ixTest]="['reset-columns-to-defaults']"
      [disabled]="isResetToDefaultDisabled()"
      (click)="resetToDefaults(); saveColumnPreferences()"
    >
      <tn-icon name="undo" library="mdi"></tn-icon>
      <span>{{ 'Reset to Defaults' | translate }}</span>
    </button>
  </div>
</mat-menu>
