<div class="advanced-search">
  <span class="prefix-icon" [matTooltip]="errorMessages?.[0]?.message">
    @if (!queryInputValue) {
      <tn-icon name="text-search-variant" library="mdi"></tn-icon>
    } @else if (hasQueryErrors) {
      <tn-icon name="alert" library="mdi"></tn-icon>
    } @else {
      <tn-icon name="check" library="mdi"></tn-icon>
    }
  </span>

  <div #inputArea class="input-area" (focusin)="startSuggestionsCompletion()" (click)="startSuggestionsCompletion()">
    @if (showDatePicker$ | async) {
      <mat-card class="calendar">
        <mat-calendar (selectedChange)="dateSelected($event)"></mat-calendar>
      </mat-card>
    }
  </div>

  <span
    class="switch-link"
    ixTest="switch-to-basic"
    tabindex="0"
    [matTooltip]="'Switch To Basic' | translate"
    (click)="switchToBasic.emit()"
    (keydown.enter)="switchToBasic.emit()"
  >
    <tn-icon name="tune" library="mdi"></tn-icon>
    {{ 'Basic' | translate }}
  </span>

  <span
    class="reset-icon reset-input"
    role="button"
    tabindex="0"
    ixTest="clear-search"
    [class.hidden]="!editorHasValue"
    [attr.aria-label]="'Clear search' | translate"
    [matTooltip]="'Clear search' | translate"
    (click)="onResetInput()"
    (keydown.enter)="$event.preventDefault(); onResetInput()"
  >
    <tn-icon name="close-circle" library="mdi"></tn-icon>
  </span>
</div>

@if (filterPresets()?.length > 0) {
  <ix-filter-presets
    [presets]="filterPresets()"
    [selectedPresetLabels]="selectedPresetLabels()"
    (filtersChanged)="applyPreset($event.filters, $event.selectedLabels)"
  ></ix-filter-presets>
}
