<tn-dialog-shell [title]="'Upload Image File' | translate">
<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <ix-explorer
    formControlName="path"
    [required]="true"
    [label]="'ISO save location' | translate"
    [nodeProvider]="directoryNodeProvider"
    [tooltip]="helptext.upload_iso_path_tooltip | translate"
  >
    <ix-explorer-create-dataset></ix-explorer-create-dataset>
  </ix-explorer>

  <ix-file-input
    formControlName="files"
    acceptedFiles=".img,.iso"
    [required]="true"
    [label]="'Installer image file' | translate"
    [tooltip]="helptext.upload_iso_tooltip | translate"
  ></ix-file-input>

  </form>
<ix-form-actions tnDialogAction>
  <tn-button
    variant="outline"
    testId="cancel"
    [label]="'Cancel' | translate"
    (onClick)="dialogRef.close()"
  ></tn-button>

  <tn-button
    *ixRequiresRoles="requiredRoles"
    color="primary"
    testId="save"
    [label]="'Upload' | translate"
    [disabled]="form.invalid"
    (onClick)="onSubmit()"
  ></tn-button>
</ix-form-actions>
</tn-dialog-shell>
