.container {
  color: var(--fg1);
  display: flex;
  gap: 15px;

  .form {
    flex: 1;
  }
}

.actions {
  margin: 9px;
}

ix-fieldset {
  display: block;
  width: 40%;
}

.image-field {
  align-items: flex-start;
  display: flex;
  gap: 10px;

  .input {
    flex: 1;
  }

  button {
    margin-top: 43px;
  }
}

.protocol-and-port {
  display: flex;
  gap: 12px;

  .protocol {
    width: 100px;
  }
}

ngx-skeleton-loader {
  ::ng-deep span {
    min-height: 25px;
  }
}

.glossary {
  width: 25%;
}
