@import 'scss-imports/variables';

.card {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.form-columns {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }

  > * {
    width: 50%;

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }
}
