@import 'scss-imports/variables';

.form-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }

  > * {
    flex: 1 1 0;
    min-width: 0;

    @media (max-width: $breakpoint-tablet) {
      width: 100%;
    }
  }
}
