:host {
  display: block;
  margin-top: 10px;
  text-align: center;
}

p {
  margin: 0.4rem;
}

ngx-skeleton-loader {
  display: inline-block;
  flex: 0;
  height: 20px;
  width: 80%;

  &::ng-deep {
    span.loader {
      height: 22px;
      margin: 0;
    }
  }
}
