@import 'mixins/cards';

@include tn-detail-card;

.card-body {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.value {
  font-size: 3.5em;
  margin: 0;
  white-space: nowrap;
}
