@import 'scss-imports/cssvars';

ix-app-card-logo {
  align-items: center;
  background: var(--bg1);
  display: inline-flex;
  min-height: 0;
  padding: 0;
  place-content: center center;
}

ix-app-network-info {
  align-items: center;
  background: var(--bg1);
  display: inline-flex;
  max-width: 100%;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  place-content: center center;
}
