<mat-card class="card">
  <mat-card-content *ixWithLoadingState="app() as application" class="card-content">
    <div class="header">
      <h3>{{ 'App Network' | translate }}</h3>
      <ix-app-controls [app]="app() | async"></ix-app-controls>
    </div>

    <div [class]="['container', 'grid', size()]">
      <ix-app-card-logo [url]="application?.metadata?.icon"></ix-app-card-logo>
      <ix-app-network-info [stats]="stats() | async"></ix-app-network-info>
    </div>
  </mat-card-content>
</mat-card>


