.dialog-message {
  margin-bottom: 5px;
  margin-top: 0;
  padding: 0;

  &.error {
    color: var(--error);
  }
}

.reasons,
.failover-reasons {
  padding: 0 12px 12px;
}

.confirm {
  margin-right: auto;
  padding-right: 10px;
}
