@import 'scss-imports/variables';

.layout-container {
  max-width: 50%;
  padding: 0 30px;

  @media (max-width: $breakpoint-tablet) {
    max-width: 100%;
  }
}

.required-disks-hint {
  padding-left: 30px;
}
