<div *ngIf="canChangeLayout" class="layout-container">
  <ix-select
    [formControl]="layoutControl"
    [label]="'Layout' | translate"
    [tooltip]="'Select VDEV layout. This is the first step in setting up your VDEVs.' | translate"
    [options]="vdevLayoutOptions$"
    [required]="true"
  ></ix-select>
</div>

<p *ngIf="isLayoutSelected" class="required-disks-hint">
  {{ minDisksMessage }}
</p>

<ix-draid-selection
  *ngIf="usesDraidLayout; else normalSelection"
  [layout]="layoutControl.value | cast"
  [inventory]="inventory"
  [type]="type"
  [isStepActive]="isStepActive"
></ix-draid-selection>

<ng-template #normalSelection>
  <ix-normal-selection
    [layout]="layoutControl.value"
    [inventory]="inventory"
    [type]="type"
    [isStepActive]="isStepActive"
    (manualSelectionClicked)="manualSelectionClicked.emit()"
  ></ix-normal-selection>
</ng-template>
