:host {
  display: block;
  margin: 0 10px;
  padding-bottom: 12px;
}

.status-line {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.controls {
  display: flex;
  gap: 10px;
  justify-content: center;
}
