<ng-container [formGroup]="form">
  <tn-form-section [heading]="'Authentication' | translate">
    <tn-form-field
      [label]="'URL' | translate"
      [required]="true"
      [tooltip]="helptext.webdav.url.tooltip | translate"
    >
      <tn-input formControlName="url" testId="url"></tn-input>
    </tn-form-field>

    <tn-form-field
      [label]="'WebDAV Service' | translate"
      [required]="true"
      [tooltip]="helptext.webdav.vendor.tooltip | translate"
    >
      <tn-select formControlName="vendor" testId="vendor" [options]="(vendors$ | async) ?? []"></tn-select>
    </tn-form-field>

    <tn-form-field
      [label]="'Username' | translate"
      [required]="true"
    >
      <tn-input formControlName="user" testId="user"></tn-input>
    </tn-form-field>

    <tn-form-field
      [label]="'Password' | translate"
      [required]="true"
    >
      <tn-input formControlName="pass" testId="pass" [inputType]="InputType.Password"></tn-input>
    </tn-form-field>
  </tn-form-section>
</ng-container>
