<button
  mat-button
  ixTest="settings-menu"
  [matMenuTriggerFor]="menu"
>
  {{ 'Configuration' | translate }}
  <ix-icon name="mdi-menu-down" class="menu-caret"></ix-icon>
</button>

<mat-menu #menu="matMenu" overlapTrigger="false">
  <button
    mat-menu-item
    ixTest="global-configuration"
    [ixUiSearch]="searchableElements.elements.globalSettings"
    (click)="onGlobalConfiguration()"
  >
    {{ 'Global Settings' | translate }}
  </button>
</mat-menu>


@if (config()) {
  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    ixTest="create-new-container"
    [color]="'primary'"
    [ixUiSearch]="searchableElements.elements.add"
    (click)="onCreateContainer()"
  >{{ 'Create New Container' | translate }}</button>
}
