<ng-template ixPageHeader>
  <ix-page-title-header>
    <ix-search-input (search)="onListFiltered($event)"></ix-search-input>
    <button mat-button ixTest="add-privilege" [color]="'primary'" (click)="openForm()">
      {{ 'Add' | translate }}
    </button>
  </ix-page-title-header>
</ng-template>

<div class="table-container">
  <ix-table2
    [ix-table2-empty]="!(dataProvider.currentPageCount$ | async)"
    [emptyConfig]="emptyService.defaultEmptyConfig(dataProvider.emptyType$ | async)"
  >
    <thead
      ix-table-head
      [columns]="columns"
      [dataProvider]="dataProvider"
    ></thead>
    <tbody
      ix-table-body
      [columns]="columns"
      [dataProvider]="dataProvider"
      [isLoading]="dataProvider.isLoading$ | async"
    ></tbody>
  </ix-table2>
  <ix-table-pager [dataProvider]="dataProvider"></ix-table-pager>
</div>
