@import 'scss-imports/variables';
@import 'mixins/layout';

.search-container {
  align-items: flex-end;
  column-gap: 12px;
  display: flex;

  @media (max-width: $breakpoint-md) {
    min-width: 60vw;
  }

  @media (max-width: $breakpoint-tablet) {
    display: grid;
    gap: 8px;
    width: 100%;
  }

  .search-button-wrapper {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
  }
}
