.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 0;
  padding-right: 10px;

  .header {
    padding-bottom: 0;
    padding-right: 12px;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 24px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  &.empty {
    align-items: center;
    place-content: center center;
    text-align: center;

    ix-icon {
      font-size: 48px;
    }

    &.full {
      padding: 0 16px 48px;
    }
  }

  &.full {
    padding: 0 0 0 16px;

    .info-header {
      padding-left: 0;
    }
  }

  &.half {
    flex-direction: row;

    .nic-info {
      flex: 1 1 30%;
      max-width: 30%;
    }

    .nic-chart {
      flex: 1 1 70%;
      max-width: 70%;
    }
  }

  &.half,
  &.quarter {
    padding: 0;

    .info-body,
    .nic-info {
      padding: 0;
    }

    .primary {
      display: flex;
      flex-direction: column-reverse;
      padding: 0 16px 24px;
    }

    .in-out {
      flex: none;
      margin: auto;

      &.loading {
        flex: 1;
      }

      .info-list-item {
        display: grid;
        font-size: 16px;
        grid-template-columns: minmax(50px, 25%) minmax(100px, 75%);

        span:first-child {
          font-weight: bold;
          text-align: right;
        }
      }
    }

    .info-list-item.state {
      flex-direction: row-reverse;
      gap: 4px;
      margin-top: 12px;
      opacity: 0.75;
      place-content: center center;
    }
  }

  .chart {
    align-items: center;
    display: flex;
    flex: 0 0 55%;
    margin: 0;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 35px;
    position: relative;

    .skeleton {
      display: block;
      flex-grow: 1;
    }
  }
}

.nic-chart {
  flex: 1 1 1e-9px;
}

.nic-info {
  align-items: stretch;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  font-size: 12px;
  max-width: 100%;
  padding: 0 8px;
  place-content: stretch flex-start;

  .divider {
    background-color: var(--lines);
    margin: 5px 0;
    width: 1px;
  }
}

.info-body {
  align-items: center;
  display: flex;
  flex: 1 1 1e-9px;
  flex-direction: row;
  padding-bottom: 10px;
  place-content: center space-between;
}

.info-list-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  line-height: 20px;
  min-width: 0;
  place-content: center flex-start;
  width: 100%;
}

.info-column {
  &.primary {
    flex: 1;
    padding-right: 16px;
  }

  &.secondary {
    align-items: flex-start;
    border-left: solid 1px var(--lines);
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    font-size: 12px;
    max-width: 65%;
    padding-bottom: 0;
    padding-left: 16px;
    place-content: flex-start space-between;

    .skeleton {
      width: 50%;
    }
  }
}

.info-header {
  padding: 16px;
}

.info-header-title {
  font-size: 24px;
  line-height: 1.15;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-wrapper {
  cursor: default;
  display: inline-flex;
  height: 20px;
  justify-content: center;
  margin-right: 6px;
  min-width: 20px;
  text-align: center;
  user-select: none;
  user-select: none;
  width: 20px;

  .ix-icon {
    font-size: 16px;
    line-height: 20px;
  }

  &.up {
    color: var(--green);
  }

  &.down {
    color: var(--red);
  }
}

.in-out {
  display: flex;
  flex: 1;
  flex-direction: column;
}
