.container {
  background: var(--alt-bg1);
  padding: 24px;
}

.outer-container {
  display: flex;
  flex-direction: row;
}

.vdev-container {
  flex-grow: 1;
}

.vdev-container {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}

.disk-icons {
  display: flex;
  flex-wrap: wrap;

  ix-disk-icon {
    margin: 0 2.5px;
  }
}

p {
  margin: 5px 0;
}
