.container {
  background: var(--alt-bg1);
}

.outer-container {
  display: flex;
  flex-direction: row;
}

.vdev-container {
  flex-grow: 1;
}

.enclosure {
  align-items: center;
  border: 1px solid var(--alt-bg2);
  display: flex;
  flex-direction: row;
  margin: 0 16px;
  padding: 8px;
}

.vdev-container {
  display: flex;
  flex-direction: row;
}

.legend {
  position: absolute;
  top: 10px;
}

.vdev {
  display: flex;
  flex-direction: column;
}
