<tn-dialog-shell testId="save-config" [title]="helptext.title | translate">
<form class="ix-form-container" (submit)="$event.preventDefault(); onSubmit()">
  <div [innerHtml]="helptext.message | translate"></div>

  <tn-form-field>
    <tn-checkbox
      testId="export-seed"
      [formControl]="exportSeedCheckbox"
      [label]="'Export Password Secret Seed' | translate"
    ></tn-checkbox>
  </tn-form-field>

  <div [innerHtml]="helptext.warning | translate"></div>

  </form>
<ix-form-actions tnDialogAction>
  <tn-button
    variant="outline"
    testId="cancel"
    [label]="helptext.cancelButton | translate"
    (onClick)="dialogRef.close(false)"
  ></tn-button>
  <tn-button
    *ixRequiresRoles="requiredRoles"
    color="primary"
    testId="save"
    [label]="helptext.saveButton | translate"
    (onClick)="onSubmit()"
  ></tn-button>
</ix-form-actions>
</tn-dialog-shell>
