.toggle-button {
  padding: 0.4375em 0;
}

.toggle-button-wrap {
  box-direction: normal;
  box-orient: horizontal;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.toggle-button-group {
  padding-bottom: 10px;
  padding-top: 10px;
}
