<ix-modal-header
  [requiredRoles]="requiredRoles"
  [title]="title | translate"
  [loading]="isFormLoading"
></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset>
        <ix-select
          formControlName="sed_user"
          [label]="labels.sed_user | translate"
          [tooltip]="tooltips.sed_user | translate"
          [options]="sedUserOptions$"
        ></ix-select>

        <ix-input
          formControlName="sed_passwd"
          type="password"
          [label]="labels.sed_passwd | translate"
          [tooltip]="tooltips.sed_passwd | translate"
        ></ix-input>

        <ix-input
          formControlName="sed_passwd2"
          type="password"
          [label]="labels.sed_passwd2 | translate"
        ></ix-input>
      </ix-fieldset>

      <div class="form-actions">
        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          type="submit"
          color="primary"
          ixTest="save"
          [disabled]="form.invalid || isFormLoading"
        >
          {{ 'Save' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
