@import 'mixins/cards';
@import 'mixins/animations';

@include tn-detail-card;

:host {
  @include tn-details-item();

  .details-item .value {
    align-items: center;
    display: flex;
    gap: 5px;
  }
}
