<cdk-virtual-scroll-viewport
  #scrollViewport
  scrollWindow
  [itemSize]="ixItemSize()"
  [minBufferPx]="ixMinBufferPx()"
  [maxBufferPx]="ixMaxBufferPx()"
>
  <ng-container *cdkVirtualFor="let item of nodes$ | async; let i = index; trackBy: innerTrackBy">
    <div (resized)="resized($event)">
      <ng-template ixTreeVirtualScrollNodeOutlet [data]="item"></ng-template>
    </div>
  </ng-container>
</cdk-virtual-scroll-viewport>

<ng-container treeNodeOutlet></ng-container>

@if (isScrollTopButtonVisible) {
  <tn-icon-button
    name="arrow-up"
    library="mdi"
    class="scroll-top"
    ixTest="scroll-to-top"
    [matTooltip]="'Scroll to top' | translate"
    (click)="scrollToTop()"
  ></tn-icon-button>
}
