@import 'scss-imports/variables';

::ng-deep {
  ix-tree-virtual-scroll-view {
    background: var(--bg2);
    color: var(--fg2);
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;
    min-width: fit-content;
    position: relative;

    cdk-virtual-scroll-viewport {
      height: 100%;

      ix-tree-node {
        background-color: var(--bg2);

        .ix-tree-node-toggle {
          margin-left: 10px;
        }
      }
    }

    .scroll-top {
      bottom: 25px;
      left: 25px;
      position: fixed;
      z-index: 2;

      @media (max-width: $breakpoint-xs) {
        bottom: 10%;
      }

      &.mat-mdc-icon-button {
        background-color: var(--alt-bg1);
      }
    }
  }
}
