.entity-add-actions-wrapper {
  display: inline-block;
  text-align: left;

  .menu-toggle {
    height: 36px;
  }
}

.spinner {
  margin-left: 8px;
}

.ix-form-container {
  ix-input {
    height: 36px;
    margin: 0;
    padding: 0;

    ::ng-deep ix-form-errors {
      display: none;
    }
  }
}
