@import '../../../../../assets/styles/scss-imports/splitview';

:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  .topbar-mobile-footer {
    align-items: center;
    display: inline-flex;
    place-content: flex-end;
    width: inherit;

    @media (min-width: $breakpoint-min-mobile) and (max-width: $breakpoint-min-mobile) {
      display: flex;
      flex-wrap: wrap;
      height: auto;
    }

    @media (max-width: $breakpoint-tablet) {
      background-color: var(--topbar);
      bottom: 0;
      height: 48px;
      left: 0;
      padding: 0 16px;
      place-content: space-around;
      position: fixed;
      width: 100%;
    }

    .topbar-button-right {
      margin: 0;

      @media (min-width: $breakpoint-min-mobile) and (max-width: $breakpoint-tablet) {
        margin: 4px;
      }
    }

  }
}

.topbar {
  background-color: var(--topbar) !important;
  color: var(--topbar-txt) !important;
}

.topbar button:focus-visible {
  background: var(--focus-bg);
  box-shadow: 0 0 0 1px var(--focus-brd) inset !important;
  outline-width: 0;
}

::ng-deep .topbar-button-right {
  &.mat-badge.mat-badge-small.mat-badge-overlap.mat-badge-after {
    .mat-badge-content {
      right: 0;
      top: 0;
    }
  }
}

.mobile-logo {
  display: none;
  overflow: hidden;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    display: flex;
    place-content: center;
  }

  .mobile-logo-container {
    height: 48px;
    position: relative;
    width: 200px;
  }

  .logomark {
    bottom: 10px;
    left: 10px;
    max-width: 40px;
    position: absolute;
    top: 10px;
  }

  .logotype {
    bottom: 9px;
    left: 58px;
    max-width: 96px;
    position: absolute;
    top: 10px;
  }
}

:host ::ng-deep .topbar {
  min-height: 48px;

  .mat-toolbar-row {
    height: 48px !important;
  }

  .mat-icon-button,
  .mat-icon-button .ix-icon.logo {
    color: var(--topbar-txt) !important;
  }

  .mat-mdc-select-value {
    color: #fff;
    font-weight: 400;
  }

  .topbar-button-right {
    margin-left: 0.5rem !important;
  }
}
