<mat-card>
  <ix-fake-progress-bar [loading]="!!(isLoading$ | async)"></ix-fake-progress-bar>
  <mat-toolbar-row>
    <h3>{{ 'Reporting Exporters' | translate }}</h3>
    <div class="actions action-icon">
      <ix-search-input1 [value]="filterString" (search)="onListFiltered($event)"></ix-search-input1>
      <button
        *ixRequiresRoles="requiredRoles"
        mat-button
        color="primary"
        ixTest="add-reporting-exporter"
        [ixUiSearch]="searchableElements.elements.add"
        (click)="doAdd()"
      >
        {{ 'Add' | translate }}
      </button>
    </div>
  </mat-toolbar-row>
  <mat-card-content>
    <ix-table
      [ixUiSearch]="searchableElements.elements.exporters"
      [ix-table-empty]="!(dataProvider.currentPageCount$ | async)"
      [emptyConfig]="emptyService.defaultEmptyConfig(emptyType$ | async)"
    >
      <thead
        ix-table-head
        [columns]="columns"
        [dataProvider]="dataProvider"
      ></thead>
      <tbody
        ix-table-body
        [columns]="columns"
        [dataProvider]="dataProvider"
        [isLoading]="!!(isLoading$ | async)"
      ></tbody>
    </ix-table>
    <ix-table-pager
      [dataProvider]="dataProvider"
    ></ix-table-pager>
  </mat-card-content>
</mat-card>
