.message {
  max-height: 340px;
  width: 99%;
  height: 100vh;
  overflow-y: auto;
  border: none;
  word-wrap: break-word;
  background: #000000;
  padding: 20px 5px 20px 10px;
  font-size: 100%;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}

#console-box {
  max-width: 900px;
}

.mat-checkbox {
  display: inline-block;
  margin-top: 15px;
}

.mat-button {
  bottom: 40px;
}

.mat-dialog-actions {
  margin-bottom: -50px;
}

#placeholder {
  min-width: 730px;
}