.message {
	max-width: 500px;
  max-height: 340px;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  border: none;
  word-wrap: break-word;
  background: #000000;
  padding: 20px 5px 20px 10px;
  font-size: 100%;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
}