.center {
  text-align: center;
}

.icon {
  font-size: 96px;
  height: auto;
  width: 96px;
}

.card {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 150px;
  width: 275px;
}
