@import '~assets/styles/mixins/cards';

:host {
  display: flex;
}

.card {
  @include details-card();
  flex: 1;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
