@import '~assets/styles/mixins/cards';

:host {
  display: flex;
}

.card {
  @include details-card();
  flex: 1;
  min-height: 390px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
