<div class={{id}} [ngClass]="id !== slideInModalId ? 'jw-modal' : ''" cdkScrollable>
  <div class="jw-modal-body">
    <div class="slidein-title-bar" fxLayout="row">
      <div fxFlex="90%" fxLayout="row" fxLayoutAlign="start center">
        <h3 class="formtitle">{{ title | translate }}</h3>
      </div>
      <mat-icon fxFlex="10%" id="close-icon" (click)="close()">cancel</mat-icon>
    </div>
    <ng-container *ngIf="(formOpen && conf && !conf.formType) || (formOpen && conf && conf.formType == 'EntityFormComponent')">
      <ix-entity-form *ngIf="conf.fieldSets" [conf]="conf" class="slidein-entity-form"></ix-entity-form>
    </ng-container>
  </div>
</div>
<div class="jw-modal-background {{id}}-background" (click)="close()"></div>
