@import 'scss-imports/variables';

.form-card {
  margin-bottom: 50px;
}

.refresh-button {
  margin-top: 15px;
}

.header-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;

  ix-checkbox {
    min-width: 60%;

    @media(max-width: $breakpoint-sm) {
      width: 100%;
    }
  }

  .add-container {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    min-width: 40%;

    @media(max-width: $breakpoint-sm) {
      width: 100%;
    }

    ix-input {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}
