<tn-card class="form-card" [ixUiSearch]="searchableElements.elements.addInitiator">
  @if (isFormLoading()) {
    <tn-progress-bar
      mode="indeterminate"
    ></tn-progress-bar>
  }
  <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
    <div class="card-content">
      <div class="header-container">
        <tn-form-field>
          <tn-checkbox
            formControlName="all"
            [label]="helptext.initiator.allowAllLabel | translate"
          ></tn-checkbox>
        </tn-form-field>
        @if (!isAllowAll) {
          <div class="add-container">
            <tn-form-field
              [label]="helptext.initiator.addIqnLabel | translate"
              [tooltip]="helptext.initiator.initiatorsTooltip | translate"
            >
              <tn-input
                formControlName="new_initiator"
                (keydown.enter)="$event.preventDefault(); onAddInitiator()"
              ></tn-input>
            </tn-form-field>
            <tn-icon-button
              name="plus"
              library="mdi"
              [testId]="'add-initiator'"
              [ariaLabel]="'Add Initiator' | translate"
              [disabled]="isFormLoading()"
              (onClick)="onAddInitiator()"
            ></tn-icon-button>
          </div>
        }
      </div>

      @if (!isAllowAll) {
        <ix-dual-listbox
          class="padding-16"
          display="name"
          key="id"
          height="55vh"
          [sourceName]="'Connected Initiators' | translate"
          [targetName]="'Allowed Initiators' | translate"
          [source]="allInitiators()"
          [(destination)]="selectedInitiators"
        ></ix-dual-listbox>

        <tn-button
          type="button"
          variant="filled"
          color="default"
          class="refresh-button"
          icon="mdi-refresh"
          [testId]="'refresh'"
          [label]="'Refresh' | translate"
          [disabled]="isFormLoading()"
          (onClick)="getConnectedInitiators()"
        ></tn-button>
      }

      <tn-form-field [label]="helptext.initiator.descriptionLabel | translate">
        <tn-input
          formControlName="comment"
        ></tn-input>
      </tn-form-field>
    </div>

    <div class="form-actions">
      <tn-button
        *ixRequiresRoles="requiredRoles"
        type="submit"
        color="primary"
        [testId]="'save'"
        [label]="'Save' | translate"
        [disabled]="isFormLoading() || form.invalid"
      ></tn-button>
      <tn-button
        type="button"
        [testId]="'cancel'"
        [label]="'Cancel' | translate"
        (onClick)="onCancel()"
      ></tn-button>
    </div>
  </form>
</tn-card>
