div.connected-initiators-container {
    margin-right: 10px;
}
mat-selection-list.connected-initiators-list {
    overflow: auto;
    height: 500px;
    border: 1px solid var(--bg1);
    margin-bottom: 5px;
}
