.widget {
  height: 400px;
  width: 600px;
}

ul {
  padding-left: 0;
}

.widget mat-card-content {
  width: 100%;
}

.card-body {
  padding: 10px;
}

.tile {
  opacity: 0.7;
  padding: 16px;
}

.label {
  margin-right: 6px;
}

mat-grid-list {
  &:not(.nics-1) .tile {
    background-color: var(--bg1);
  }

  &.nics-1 .tile {
    padding: 12px 16px;

    .info-header {
      height: 35px;
    }

    .detail-info li {
      line-height: 20px;
    }
  }

  &.nics-2 .tile {
    padding: 12px 16px;

    .nic-info {
      width: 170px;
    }
  }

  &.nics-3 .tile {
    padding: 4px 4px 4px 16px;

    .nic-info {
      width: 150px;
    }

    .info-body {
      font-size: 12px;
    }

    .info-body .line-state {
      padding: 0;
    }

    .info-body ul li {
      line-height: 15px;
    }
  }

  &.nics-4 .tile {
    padding: 12px 16px;
  }

  &.nics-5 {
    .tile-0 .tile,
    .tile-1 .tile {
      padding: 12px 16px;
    }

    .tile-2 .tile .info-body,
    .tile-3 .tile .info-body,
    .tile-4 .tile .info-body {
      font-size: 12px;

      .line-state {
        padding: 0;
      }
    }
  }

  &.nics-6 .info-body {
    font-size: 12px;

    .line-state {
      padding: 0;
    }
  }
}


.nic-info {
  font-size: 12px;
  padding-right: 10px;

  .divider {
    background-color: var(--fg2);
    margin: 5px 0;
    width: 1px;
  }
}

.info-header {
  font-size: 24px;
  height: 40px;

  .mat-icon-button {
    height: 30px;
    line-height: 30px;
    margin-left: 18px;
    width: 30px;
  }
}

.info-body {
  font-size: 14px;

  .line-state {
    padding: 4px 0;
  }

  .detail-info {
    border-left: solid 1px var(--fg2);
    font-size: 12px;
    padding-bottom: 2px;
    padding-left: 20px;
  }

  span.icon {
    display: inline-block;
    height: 22px;
    text-align: center;
    width: 25px;

    &.up {
      color: var(--green);
    }

    &.down {
      color: var(--red);
    }

    &.state {
      height: 24px;

      .mat-icon {
        font-size: 24px;
        height: 24px;
      }
    }
  }

  .mat-icon {
    font-size: 22px;
    line-height: 22px;
    margin-left: -5px;
    margin-top: 0;

    &.mdi-set {
      margin-top: 0;
    }
  }

  ul {
    text-align: left;

    li {
      line-height: 18px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
