:host {
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 8px 0;
}

.full-width {
  color: var(--fg1);
  width: 100%;
}

.tooltip {
  margin: 0 0 0 8px;
}

.link {
  color: var(--primary);
  cursor: pointer;
  font-size: x-small;
}

.input-container {
  background: var(--bg1);
  border: solid 1.5px var(--lines);
  border-radius: 2px;
  font-size: 12px;
  padding: 6px 8px;
  position: relative;

  ::ng-deep .mat-select-trigger {
    font-size: 12px !important;
  }

  &:focus-within {
    border-color: var(--primary);
    border-width: 1px;
  }

  &.disabled {
    opacity: 0.38;

    ::ng-deep .mat-select-value {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}

.label-container {
  align-items: center;
  display: flex;
  margin-bottom: 1px;
  margin-left: 1px;
  min-height: 24px;
}

.label {
  display: inline-flex;
  font-size: x-small;
}

::ng-deep .mat-select-panel-wrap *:not(.mat-selection-list) {
  /*
    Note: asterisk to ignore doubled icons on form-select
    TODO: remove that once form-select is updated
   */
  .mat-option-pseudo-checkbox.mat-pseudo-checkbox {
    // @include material-icons();
    // @include material-icon('remove', 'after');

    background: transparent;
    border: 0;
    display: none;
    height: 24px;
    margin-right: 16px;
    width: 24px;

    &::after {
      /* reset pseudo checkbox styles */
      border: unset;
      height: unset;
      left: unset;
      opacity: 1;
      top: unset;
      transform: unset;
      width: unset;
    }

    &.mat-pseudo-checkbox-checked {
      // @include material-icon('check_circle', 'after');
    }
  }

  .mat-option {
    &[aria-disabled=true] {
      opacity: 0.5;
    }
  }
}
