<div class="full-width container has-tooltip">
  <div *ngIf="label || tooltip" class="label-container">
    <label class="label">
      {{ label }}
      <span *ngIf="required" class="required">*</span>
    </label>
    <tooltip *ngIf="tooltip" [header]="label" class="tooltip" [message]="tooltip"></tooltip>
  </div>

  <div class="input-container" [class.disabled]="isDisabled">
    <mat-select
      [(ngModel)]="value"
      [required]="required"
      [disabled]="isDisabled"
      [multiple]="multiple"
      (blur)="onTouch()"
      (ngModelChange)="onChange($event)"
    >
      <ng-container *ngIf="opts$ | async as opts; else loadingOrError">
        <mat-option *ngIf="opts.length === 0" value="" [disabled]="true">{{ 'No options' | translate  }}</mat-option>
        <mat-option *ngIf="opts.length > 0 && !multiple && !required" [value]="emptyValue">--</mat-option>
        <mat-option *ngFor="let option of opts$ | async" [value]="option.value">{{ option.label }}</mat-option>
      </ng-container>

      <ng-template #loadingOrError>
        <ng-container *ngIf="hasErrorInOptions">
          <mat-option [disabled]="true">{{ 'Options cannot be loaded' | translate }}</mat-option>
        </ng-container>
      </ng-template>
    </mat-select>
  </div>


  <div *ngIf="linkText">
    <a (click)="linkClicked.emit()" class="link">{{ linkText | translate }}<mat-icon style="font-size: x-small;">open_in_new</mat-icon></a>
  </div>
  <ix-errors [control]="controlDirective.control" [label]="label"></ix-errors>

  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>

</div>
