:host {
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 8px 0;
}

::ng-deep {
  .select-all-checkbox {
    align-items: center;
    border-bottom: 1px solid var(--alt-bg1);
    cursor: pointer;
    display: flex;
    padding: 8px;

    ix-icon {
      margin-right: 16px;
    }
  }
}

.full-width {
  color: var(--fg1);
  width: 100%;
}

.link {
  color: var(--primary);
  cursor: pointer;
  font-size: x-small;
}

.input-container {
  background: var(--bg1);
  border: solid 1.5px var(--lines);
  border-radius: 2px;
  font-size: 12px;
  position: relative;

  ::ng-deep {
    .mat-mdc-select-value {
      padding: 5.1px 8px;
    }

    .mat-mdc-select-trigger {
      font-size: 12px !important;
    }

    .mat-mdc-select-min-line {
      display: block;
      width: 0;
    }
  }

  &:focus-within {
    border-color: var(--primary);
  }

  &.disabled {
    opacity: var(--disabled-opacity);

    ::ng-deep .mat-mdc-select-value {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}

.loader {
  display: inline-block;
  margin-left: -45px;
  opacity: 0.5;
  vertical-align: middle;
}

.option-tooltip {
  margin-bottom: 0;
  margin-left: 8px;
  vertical-align: middle;
}
