@import 'assets/iconfont/variables';
@import 'assets/iconfont/mixins';

:host {
  display: block;
  margin-bottom: 12px;
}

.full-width {
  color: var(--fg1);
  width: 100%;
}

.container {
  padding: 8px 0;
}

.tooltip {
  margin-left: 8px;
}

.input-container {
  background: var(--bg1);
  border: solid 1px var(--lines);
  border-radius: 2px;
  font-size: 12px;
  padding: 7px;
  position: relative;

  &:focus-within {
    border-color: var(--fg2);
    border-width: 1px;
  }

  &.disabled {
    opacity: 0.38;

    ::ng-deep .mat-select-value {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}

.label-container {
  margin-bottom: 5px;
  margin-left: 1px;
}

.label {
  font-size: x-small;
}

::ng-deep .mat-select-panel-wrap *:not(.mat-selection-list) {
  /*
    Note: asterisk to ignore doubled icons on form-select
    TODO: remove that once form-select is updated
   */
  .mat-option-pseudo-checkbox.mat-pseudo-checkbox {
    @include material-icons();
    @include material-icon('remove', 'after');

    background: transparent;
    border: 0;
    height: 24px;
    margin-right: 16px;
    width: 24px;

    &::after {
      /* reset pseudo checkbox styles */
      border: unset;
      height: unset;
      left: unset;
      opacity: 1;
      top: unset;
      transform: unset;
      width: unset;
    }

    &.mat-pseudo-checkbox-checked {
      @include material-icon('check_circle', 'after');
    }
  }
}
