.columns {
  display: flex;

  .column {
    flex: 1;
    margin-right: 16px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.form-actions {
  margin: 8px 10px;

  button {
    margin-right: 5px;
  }
}

.linked-select {
  position: relative;

  .link-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .link {
    color: var(--primary);
    cursor: pointer;
    font-size: x-small;
    position: absolute;
    text-decoration: underline;
    top: 24px;
    z-index: 1;
  }

  ix-select {
    width: 100%;
  }
}
