<ix-modal-header
  [title]="'OpenVPN Server' | translate"
  [loading]="isLoading"
></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset>
        <div class="columns">
          <div class="column">
            <div class="linked-select">
              <div class="link-wrapper">
                <a class="link" (click)="certificatesLinkClicked()">
                  {{ 'Manage Certificates' | translate }}
                </a>
              </div>

              <ix-select
                formControlName="server_certificate"
                [label]="'Server Certificate' | translate"
                [required]="true"
                [options]="serverCertificates$"
              ></ix-select>
            </div>

            <div class="linked-select">
              <div class="link-wrapper">
                <a class="link" (click)="certificatesLinkClicked()">
                  {{ 'Manage Certificates' | translate }}
                </a>
              </div>
              <ix-select
                formControlName="root_ca"
                [label]="'Root CA' | translate"
                [required]="true"
                [options]="rootAuthorities$"
                [tooltip]="tooltips.root_ca | translate"
              ></ix-select>
            </div>

            <ix-ip-input-with-netmask
              formControlName="server"
              [label]="'Server' | translate"
              [required]="true"
              [tooltip]="tooltips.server | translate"
            ></ix-ip-input-with-netmask>

            <ix-input
              formControlName="port"
              [label]="'Port' | translate"
              type="number"
              [tooltip]="tooltips.port | translate"
            ></ix-input>

            <ix-select
              formControlName="authentication_algorithm"
              [label]="'Authentication Algorithm' | translate"
              [options]="authenticationAlgorithms$"
              [tooltip]="tooltips.authentication_algorithm | translate"
            ></ix-select>

            <ix-select
              formControlName="cipher"
              [label]="'Cipher' | translate"
              [options]="ciphers$"
              [tooltip]="tooltips.cipher | translate"
            ></ix-select>

            <ix-select
              formControlName="compression"
              [label]="'Compression' | translate"
              [options]="compressionOptions$"
              [tooltip]="tooltips.compression | translate"
            ></ix-select>

            <ix-select
              formControlName="protocol"
              [label]="'Protocol' | translate"
              [options]="protocols$"
              [tooltip]="tooltips.protocol | translate"
            ></ix-select>
          </div>
          <div class="column">
            <ix-select
              formControlName="device_type"
              [label]="'Device Type' | translate"
              [options]="deviceTypes$"
              [tooltip]="tooltips.device_type | translate"
            ></ix-select>

            <ix-select
              formControlName="topology"
              [label]="'Topology' | translate"
              [options]="topologies$"
              [tooltip]="tooltips.topology | translate"
            ></ix-select>

            <ix-checkbox
              formControlName="tls_crypt_auth_enabled"
              [label]="'TLS Crypt Auth Enabled' | translate"
              [tooltip]="tooltips.tls_crypt_auth_enabled | translate"
            ></ix-checkbox>

            <ix-textarea
              formControlName="additional_parameters"
              [label]="'Additional Parameters' | translate"
              [tooltip]="tooltips.additional_parameters | translate"
            ></ix-textarea>

            <ix-textarea
              formControlName="tls_crypt_auth"
              [label]="'TLS Crypt Auth' | translate"
              [tooltip]="tooltips.tls_crypt_auth | translate"
              [rows]="6"
            ></ix-textarea>
          </div>
        </div>
      </ix-fieldset>

      <div class="form-actions">
        <button
          mat-button
          type="submit"
          color="primary"
          [disabled]="form.invalid || isLoading"
        >
          {{ 'Save' | translate }}
        </button>

        <button mat-button type="button" (click)="onRenewStaticKey()">
          {{ 'Renew Static Key' | translate }}
        </button>

        <button mat-button type="button" (click)="onDownloadClientConfig()">
          {{ 'Download Client Config' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
