<div class="flex gap-4 bg-white rounded-[20px]">
  <div class="w-2/3 table-container max-w-none! flex-initial! px-4">
    <ng-content select="[master]"></ng-content>
  </div>

  @if (selectedItem() && showDetails()) {
    <div
      class="flex-1 bg-white border-l"
      ixDetailsHeight
      [class.details-container-mobile]="showMobileDetails() && isMobileView()"
    >
      <div class="header-container px-4!">
        @if (isMobileView()) {
          <ix-mobile-back-button
            (closed)="toggleShowMobileDetails(false)"
          ></ix-mobile-back-button>
        }
        <h3 class="header">
          <ng-content select="[detail-header]"></ng-content>
        </h3>
      </div>

      <div>
        <ng-content select="[detail]"></ng-content>
      </div>
    </div>
  }
</div>
