<ix-fieldset [title]="'Authentication' | translate" [formGroup]="form">
  <ix-input
    formControlName="host"
    [label]="'Host' | translate"
    [required]="true"
    [tooltip]="helptext.sftp.host.tooltip | translate"
  ></ix-input>

  <ix-input
    formControlName="port"
    type="number"
    [label]="'Port' | translate"
    [tooltip]="helptext.sftp.port.tooltip | translate"
  ></ix-input>

  <ix-input
    formControlName="user"
    [label]="'Username' | translate"
    [required]="true"
  ></ix-input>

  <ix-input
    formControlName="pass"
    type="password"
    [label]="'Password' | translate"
  ></ix-input>

  <ix-select
    formControlName="private_key"
    [label]="'Private Key' | translate"
    [options]="privateKeys$"
    [tooltip]="helptext.sftp.privateKey.tooltip | translate"
  ></ix-select>
</ix-fieldset>
