.vm-summary,
.vm-summary p {
  color: var(--fg1);
}

.vm-summary p {
  margin: 16px 0;
  text-align: center;
}

.table-hidden-columns {
  margin: 12px 0;

  div {
    display: flex;
    gap: 6px;
  }

  .mat-divider {
    margin-top: 6px;
  }
}
