.vm-summary {
  align-items: center;
  color: var(--fg1);
  display: flex;
  gap: 4px;

  ix-icon {
    cursor: help;
  }
}

.table-hidden-columns {
  margin: 12px 0 0;

  div {
    display: flex;
    gap: 4px;
  }

  .mat-divider {
    margin-top: 6px;
  }
}
