<ng-template ixPageHeader>
  <ix-page-title-header>
    <div *ngIf="hasVirtualizationSupport" class="vm-summary">
      <p *ngIf="availableMemory">
        <strong>{{ memTitle | translate }}</strong> {{ availableMemory }} -
        <ix-icon name="info" [matTooltip]="memWarning | translate"></ix-icon>
      </p>
    </div>

    <ix-search-input (search)="onListFiltered($event)"></ix-search-input>
    <ix-table-columns-selector [columns]="columns" (columnsChange)="columnsChange($event)"></ix-table-columns-selector>

    <button mat-button color="primary" ixTest="add-vm" (click)="doAdd()">
      {{ 'Add' | translate }}
    </button>
  </ix-page-title-header>
</ng-template>

<ix-table2
  class="table"
  [ix-table2-empty]="!(dataProvider.currentPageCount$ | async)"
  [emptyConfig]="emptyService.defaultEmptyConfig(dataProvider.emptyType$ | async)"
>
  <thead
    ix-table-head
    [columns]="columns"
    [dataProvider]="dataProvider"
  ></thead>
  <tbody
    ix-table-body
    [columns]="columns"
    [dataProvider]="dataProvider"
    [isLoading]="dataProvider.isLoading$ | async"
  >
    <ng-template let-vm ix-table-details-row [dataProvider]="dataProvider">
      <dl *ngIf="hiddenColumns.length" class="table-hidden-columns">
        <div *ngFor="let column of hiddenColumns">
          <b>{{ column.title }}:</b>
          <span>{{ column?.getValue?.(vm) || vm[column.propertyName] }}</span>
        </div>
        <mat-divider></mat-divider>
      </dl>

      <ix-vm-details-row
        [vm]="vm"
        (refresh)="dataProvider.load()"
      ></ix-vm-details-row>
    </ng-template>
  </tbody>
</ix-table2>
<ix-table-pager [dataProvider]="dataProvider"></ix-table-pager>

