<ix-form
  [formGroup]="commonForm"
  [isEditMode]="!isNew"
  [addTitle]="'Add Alert Service' | translate"
  [editTitle]="'Edit Alert Service' | translate"
  [requiredRoles]="requiredRoles"
  [dirtyPredicate]="dirtyPredicate"
  [extraDisabled]="childFormInvalid()"
  [externalLoading]="testAlertLoading()"
  [submitHandler]="handleSubmit"
>
  <ix-fieldset [title]="'Name and Type' | translate">
    <ix-input
      formControlName="name"
      [label]="'Name' | translate"
      [required]="true"
    ></ix-input>

    <ix-checkbox
      formControlName="enabled"
      [label]="'Enabled' | translate"
    ></ix-checkbox>

    <ix-select
      formControlName="type"
      [label]="'Type' | translate"
      [options]="services$"
      [required]="true"
      [tooltip]="helptext.typeTooltip | translate"
    ></ix-select>

    <ix-select
      formControlName="level"
      [label]="'Level' | translate"
      [options]="levels$"
      [required]="true"
      [tooltip]="helptext.levelTooltip | translate"
    ></ix-select>
  </ix-fieldset>

  <ix-fieldset [title]="'Settings' | translate">
    <ng-container #alertServiceContainer></ng-container>
  </ix-fieldset>

  <button
    *ixRequiresRoles="requiredRoles"
    ixExtraActions
    mat-button
    type="button"
    ixTest="send-test-alert"
    [disabled]="!canSubmit || testAlertLoading()"
    (click)="onSendTestAlert()"
  >
    {{ 'Send Test Alert' | translate }}
  </button>
</ix-form>
