<mat-card title="Are You Sure?">
  <form>
    <div *ngIf="error" class="error">
      <span>{{ error }}</span>
    </div>
    <p>
      <mat-checkbox (change)="toggleSubmit($event)">Are you sure you want to delete?</mat-checkbox>
    </p>
    <div *ngIf="conf.deleteSnapshot; else else_condition">
      <p>
        <mat-checkbox (change)="toggleExtraCheck($event)">I'm aware this will destroy snapshots within this dataset</mat-checkbox>
      </p>
      <button mat-raised-button color="primary" class="btn btn-outline-danger" [disabled]="!isSubmitEnabled || !extraWarning" (click)="doSubmit()">Yes</button>
      <button mat-raised-button color="accent" class="btn btn-outline-warning" (click)="doCancel()">Cancel</button>
    </div>
    <ng-template #else_condition>
      <button mat-raised-button color="primary" class="btn btn-outline-danger" [disabled]="!isSubmitEnabled" (click)="doSubmit()">Yes</button>
      <button mat-raised-button color="accent" class="btn btn-outline-warning" (click)="doCancel()">Cancel</button>
    </ng-template>
  </form>
</mat-card>
