<mat-card class="card">
  <mat-card-header>
    <h3 mat-card-title>
      {{ 'Filesystem Devices' | translate }}
    </h3>

    <span
      *ixRequiresRoles="requiredRoles"
      class="add-button-wrapper"
      [matTooltip]="isContainerActive() ? (helptext.deviceRequiresStoppedTooltip | translate) : ''"
      [matTooltipDisabled]="!isContainerActive()"
    >
      <button
        mat-button
        ixTest="add-disk"
        [disabled]="isContainerActive()"
        (click)="addDisk()"
      >
        {{ 'Add' | translate }}
      </button>
    </span>
  </mat-card-header>

  <mat-card-content>
    @if (isLoadingDevices()) {
      <ngx-skeleton-loader></ngx-skeleton-loader>
    } @else {
      @for (disk of visibleDisks(); track disk.id) {
        <div class="device">
          <span class="device-description">{{ getDeviceDescription(disk) }}</span>

          <ix-device-actions-menu
            [device]="disk"
            [showEdit]="true"
            [isDisabled]="isContainerActive()"
            [disabledTooltip]="isContainerActive() ? (helptext.deviceRequiresStoppedTooltip | translate) : null"
          ></ix-device-actions-menu>
        </div>
      } @empty {
        <div class="no-devices">{{ 'No filesystem devices added.' | translate }}</div>
      }
    }
  </mat-card-content>
</mat-card>
