<ix-label
  *ngIf="label || tooltip"
  [label]="label"
  [tooltip]="tooltip"
  [required]="required"
  [ixTestOverride]="controlDirective.name"
></ix-label>

<div class="input-container" [class.disabled]="isDisabled">
  <input
    #input
    matInput
    type="text"
    autocomplete="off"
    [value]="inputValue"
    [ixTest]="controlDirective.name"
    [required]="required"
    [disabled]="isDisabled"
    [attr.aria-label]="'Enter path for {label}.{multiple}' | translate: { label, multiple: multiple ? ' Use commas to separate multiple values.' : '' }"
    (change)="onInputChanged(input.value)"
    (blur)="onTouch()"
  />
</div>
<div *ngIf="canCreateDataset" class="create-dataset-container">
  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    type="button"
    class="create-dataset-btn"
    ixTest="create-dataset"
    [disabled]="createDatasetDisabled"
    (click)="createDataset()"
  >
    <ix-icon name="create_new_folder"></ix-icon>
    {{ 'Create Dataset' | translate }}
  </button>
</div>
<div class="tree-container" [class.disabled]="isDisabled" [attr.aria-label]="label">
  <tree-root
    #tree
    [nodes]="nodes"
    [options]="treeOptions"
    (select)="onNodeSelect($event)"
    (deselect)="onNodeDeselect($event)"
  >
    <!-- Do not remove #treeNodeTemplate even though it appears to be unused -->
    <ng-template #treeNodeTemplate let-node>
      <span
        *ngIf="typeNode(node) as node"
        tabindex="0"
        class="node-container"
        [attr.aria-label]="ariaLabel(node)"
        [class.selected]="isPathSelected(node.data.path)"
        (keyup.enter)="node?.toggleSelected()"
        (keyup.space)="node?.toggleExpanded()"
      >
        <ng-container *ngIf="node.data.type === ExplorerNodeType.File; else folderIcon">
          <ix-icon name="insert_drive_file"></ix-icon>
        </ng-container>

        <ng-template #folderIcon>
          <ng-container *ngIf="!node.data.isLock; else lockIcon">
            <ix-icon *ngIf="node.data.isMountpoint" name="folder"></ix-icon>
            <ix-icon *ngIf="!node.data.isMountpoint" name="folder_open"></ix-icon>
          </ng-container>
        </ng-template>

        <ng-template #lockIcon>
          <ix-icon *ngIf="node.data.isLock" name="mdi-folder-lock"></ix-icon>
        </ng-template>

        <span class="node-name" [attr.aria-label]="node.data.name">{{ node.data.name }}</span>
      </span>
    </ng-template>
  </tree-root>
</div>

<mat-error *ngIf="loadingError" class="loading-error">
  {{ loadingError }}
</mat-error>

<ix-errors [control]="controlDirective.control" [label]="label"></ix-errors>

<mat-hint *ngIf="hint">{{ hint }}</mat-hint>
