@import '../../sass/conf/conf';


// The margin between two sections
$margin-promotion-sections: 60px;

.header-background {
  height: 180px;
  margin-bottom: 60px;
    background: $primary-light;
    display: flex;
    flex-direction: column;
}

.header-section {
  text-align: center;
  padding-top: 30px;
}

.header-headline {
  h1 {
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
    margin: 45px 0 35px 0;
    color: #EEEEEE;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
}

.header-start,
.header-bottom-start {
  text-align: center;
  margin: $margin-promotion-sections 0;
}
