.container {
  border: 1px solid var(--alt-bg2);
  border-radius: 5px;
  height: 78px;
  min-width: 60px;
}

.icon-container {
  background: var(--bg1);
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.identifier-container,
.size-container {
  align-items: center;
  background: var(--alt-bg1);
  display: flex;
  justify-content: center;
}

// .identifier-container {
//   padding: 0 2px;
// }

// .size-container {
//   margin: 0 2px;
// }
