.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.container {
  background: var(--alt-bg1);
  border: 1px solid var(--alt-bg2);
  border-radius: 5px;
  font-size: 8px;
  height: 63px;
  min-width: 42px;
}

.icon-container {
  background: var(--bg1);
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.identifier-container,
.size-container {
  align-items: center;
  background: var(--alt-bg1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
