<tn-dialog-shell [title]="data.name">
<textarea class="key-textarea" ixTest="certificate" readonly>{{ data.certificate }}</textarea>

<div tnDialogAction class="actions">
  <ix-copy-button [text]="data.certificate"></ix-copy-button>
  <tn-button
    variant="outline"
    ixTest="close"
    [label]="'Close' | translate"
    (onClick)="dialogRef.close()"
  ></tn-button>
  <tn-button
    color="primary"
    ixTest="download-certificate"
    [label]="'Download' | translate"
    (onClick)="onDownloadPressed()"
  ></tn-button>
</div>
</tn-dialog-shell>
