<mat-card class="card">
  <mat-card-content class="card-content">
    <div class="header">
      <h3>{{ 'Network' | translate }}</h3>

      <button
        mat-icon-button
        matTooltipPosition="above"
        ixTest="network-reports"
        [attr.aria-label]="'Network Reports' | translate"
        [matTooltip]="'Network Reports' | translate"
        [routerLink]="['/reportsdashboard', 'network']"
      >
        <ix-icon name="insert_chart"></ix-icon>
      </button>
    </div>

    <div [class]="['container', size()]">
      <div class="nic-info">
        <div class="info-header">
          <h4 class="info-header-title">{{ stats().name }}</h4>
        </div>
        <div class="info-body">
          <div class="info-list-item">
            <span *ngIf="isLinkStateUp()" class="icon up">
              <ix-icon name="check_circle" [matTooltip]="stats().state"></ix-icon>
            </span>
            <span *ngIf="!isLinkStateUp()" class="icon down">
              <ix-icon name="cancel" [matTooltip]="stats().state"></ix-icon>
            </span>
            <span>{{ stats().state }}</span>
          </div>
        </div>
      </div>
      <div class="nic-chart">
        <div class="chart-body">
          <ngx-skeleton-loader
            *ngIf="isLoading(); else chart"
            class="skeleton"
            [theme]="{ width: '100%', height: '200px', background: 'var(--alt-bg2)', opacity: 0.25 }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #chart>
  <ix-view-chart-area
    [data]="chartData()"
    [options]="chartOptions"
  ></ix-view-chart-area>
</ng-template>
