<mat-card class="card">
  <mat-card-content class="card-content">
    <div *ngIf="isFullSize()" class="header">
      <h3>{{ 'Network' | translate }}</h3>

      <button
        mat-icon-button
        matTooltipPosition="above"
        ixTest="network-reports"
        [attr.aria-label]="'Network Reports' | translate"
        [matTooltip]="'Network Reports' | translate"
        [routerLink]="['/reportsdashboard', 'network']"
      >
        <ix-icon name="insert_chart"></ix-icon>
      </button>
    </div>

    <div *ngIf="settings()?.interface; else configureWidgetTemplate" [class]="['container', size()]">
      <div class="nic-info">
        <div class="info-header">
          <h3 *ixWithLoadingState="interface() as interface" class="info-header-title">{{ interface.name }}</h3>
        </div>
        <div class="info-body">
          <div class="info-column primary">
            <div *ngIf="!isLoading(); else skeleton" class="info-list-item state">
              <span *ngIf="isLinkStateUp()" class="icon-wrapper up">
                <ix-icon name="check_circle" [matTooltip]="linkStateLabel()"></ix-icon>
              </span>
              <span *ngIf="!isLinkStateUp()" class="icon-wrapper down">
                <ix-icon name="cancel" [matTooltip]="linkStateLabel()"></ix-icon>
              </span>
              <span>{{ linkStateLabel() }}</span>
            </div>
            <div class="info-list-item traffic">
              <span *ngIf="!isLoading() && isFullSize()" class="icon-wrapper">
                <ix-interface-status-icon [update]="interfaceUsage()"></ix-interface-status-icon>
              </span>
              <div class="in-out" [class.loading]="isLoading()">
                <div *ngIf="!isLoading(); else skeleton" class="info-list-item in">
                  <span>{{ 'In' | translate }}:</span>
                  <span>{{ bitsIn() | ixFileSize: { baseUnit: 'b', base: 10 } }}/s</span>
                </div>
                <div *ngIf="!isLoading(); else skeleton" class="info-list-item out">
                  <span>{{ 'Out' | translate }}:</span>
                  <span>{{ bitsOut() | ixFileSize: { baseUnit: 'b', base: 10 } }}/s</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="isFullSize()" class="info-column secondary">
            <div *ngIf="!isLoading(); else skeleton" class="info-list-item">
              <span>{{ 'Media Type' | translate }}:</span>
              <span>{{ interface().value.state.active_media_type }}</span>
            </div>
            <div *ngIf="!isLoading(); else skeleton" class="info-list-item">
              <span>{{ 'Media Subtype' | translate }}:</span>
              <span>{{ interface().value.state.active_media_subtype }}</span>
            </div>
            <div *ngIf="!isLoading(); else skeleton" class="info-list-item">
              <span>{{ 'IP Address' | translate }}:</span>
              <span>{{ getIpAddress(interface().value) }}</span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showChart()" class="nic-chart">
        <div class="chart-body">
          <ngx-skeleton-loader
            *ngIf="isLoading(); else chart"
            class="skeleton"
            [theme]="{
              width: 'calc(100% - 16px)',
              height: '184px',
              background: 'var(--alt-bg2)',
              opacity: 0.25,
              margin: '8px 0 0',
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #chart>
  <ix-network-chart [data]="chartData()" [aspectRatio]="aspectRatio()"></ix-network-chart>
</ng-template>

<ng-template #skeleton>
  <ngx-skeleton-loader class="skeleton"></ngx-skeleton-loader>
</ng-template>

<ng-template #configureWidgetTemplate>
  <div [class]="['empty', 'container', size()]">
    <ix-icon class="icon" name="mdi-widgets"></ix-icon>
    <h3>
      <div>{{ 'Widget is not configured.' | translate }}</div>
      <small>{{ 'Edit widget to choose network interface.' | translate }}</small>
    </h3>
  </div>
</ng-template>
