.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 0;
  padding-right: 10px;

  .header {
    padding-bottom: 0;
    padding-right: 12px;
  }

  .container {
    padding-left: 12px;
    padding-right: 0;
    padding-top: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 24px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  .chart {
    align-items: center;
    display: flex;
    flex: 0 0 55%;
    margin: 0;
    overflow: hidden;
    padding-left: 24px;
    padding-right: 35px;
    position: relative;

    .skeleton {
      display: block;
      flex-grow: 1;
    }
  }
}

.nic-chart {
  flex: 1 1 1e-9px;
}

.nic-info {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  max-width: 100%;
  place-content: stretch flex-start;

  .divider {
    background-color: var(--lines);
    margin: 5px 0;
    width: 1px;
  }
}
