<div *ngIf="label" class="label-container">
  <label class="label">
    {{label}}
    <span *ngIf="required" class="required">*</span>
  </label>
  <tooltip *ngIf="tooltip" [header]="label" class="tooltip" [message]="tooltip"></tooltip>
</div>

<div class="input-container" [class.disabled]="isDisabled">
  <span *ngIf="prefixIcon" class="prefix-icon">
    <mat-icon>{{prefixIcon}}</mat-icon>
  </span>
  <input
    matInput
    [class.prefix-padding]="prefixIcon"
    [class.security-disc]="isSecurity()"
    [required]="required"
    [disabled]="isDisabled"
    type="getType()"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    (blur)="onTouch()"
    [autocomplete]="autocomplete"
    [autocapitalize]="autocapitalize"
  >
  <span *ngIf="shouldShowResetInput()" class="reset-input">
    <mat-icon (click)="resetInput()" role="img" fontSet="mdi-set" fontIcon="mdi-close-circle"></mat-icon>
  </span>
  <button
    *ngIf="shouldShowToggle()"
    mat-icon-button type="button"
    class="toggle_pw"
    (click)="togglePW()"
    ix-auto
    ix-auto-type="button"
    ix-auto-identifier="{{label}}_toggle-pw">
    <i class="material-icons" matTooltip="Hide" *ngIf="showPassword">visibility</i>
    <i class="material-icons" matTooltip="Show" *ngIf="!showPassword">visibility_off</i>
  </button>
</div>
<ix-form-errors [control]="controlDirective.control" [label]="label"></ix-form-errors>
<mat-hint *ngIf="hint">{{hint}}</mat-hint>
