<div class="full-width container has-tooltip">

  <div *ngIf="label" class="label-container">
    <label class="label">
      {{label}}
      <span *ngIf="required" class="required">*</span>
    </label>
    <tooltip *ngIf="tooltip" [header]="label" class="tooltip" [message]="tooltip"></tooltip>
  </div>

  <div class="outlined input-container" [class.disabled]="isDisabled">
    <span *ngIf="prefixIcon" class="prefix-icon">
      <mat-icon>{{prefixIcon}}</mat-icon>
    </span>
    <input
      matInput #ixInput
      [class.prefix-padding]="prefixIcon"
      [required]="required"
      [disabled]="isDisabled"
      [type]="type"
      (input)="input($event.target.value)"
      (blur)="blur()"
    >
    <span *ngIf="shouldShowResetInput()" class="reset-input">
      <mat-icon (click)="resetInput()" role="img" fontSet="mdi-set" fontIcon="mdi-close-circle"></mat-icon>
    </span>
  </div>
  <ix-form-errors [control]="controlDirective.control" [label]="label"></ix-form-errors>
  <mat-hint *ngIf="hint">{{hint}}</mat-hint>

</div>
