.header {
  align-items: baseline;
}

.card {
  margin: 0 auto;
  max-width: 850px;
}

.dataset-path {
  display: flex;
  margin-left: 10%;

  .dataset-path-label {
    font-weight: 500;
    margin-right: 6px;
  }
}

.form {
  display: block;
  padding: 5px 10px;
}

.owner-and-access {
  display: flex;
  border-bottom: 1px solid var(--lines);

  .owner-fields,
  .access-fields {
    flex: 1;
  }
}

.advanced-fields {
  border-bottom: 1px solid var(--lines);
}

.set-acl-button {
  margin-left: auto;
}
