<mat-card>
  <mat-toolbar-row>
    <a [ixTest]="['sysctl', 'open-in-new']" [routerLink]="['/system', 'sysctl']">
      <h3 class="card-title">
        {{ 'Sysctl' | translate }}
        <ix-icon name="open_in_new" class="title-icon"></ix-icon>
      </h3>
    </a>
    <div class="actions">
      <button
        mat-button
        [ixTest]="['sysctl', 'add']"
        (click)="onAdd()"
      >{{ 'Add' | translate }}</button>
    </div>
  </mat-toolbar-row>

  <ix-table2
    class="table"
    [ix-table2-empty]="!dataProvider.rows.length"
  >
    <thead
      ix-table-head
      [columns]="columns"
      [dataProvider]="dataProvider"
    ></thead>
    <tbody
      ix-table-body
      [columns]="columns"
      [dataProvider]="dataProvider"
      [isLoading]="isLoading"
    >
      <ng-template
        let-row
        ix-table-cell
        [columnIndex]="4"
        [dataProvider]="dataProvider"
      >
        <div class="buttons">
          <button
            mat-icon-button
            [ixTest]="[row.id, 'edit']"
            [matTooltip]="'Edit' | translate"
            (click)="onEdit(row)"
          >
            <ix-icon name="edit"></ix-icon>
          </button>
          <button
            mat-icon-button
            [ixTest]="[row.id, 'delete']"
            [matTooltip]="'Delete' | translate"
            (click)="onDelete(row)"
          >
            <ix-icon name="delete"></ix-icon>
          </button>
        </div>
      </ng-template>
    </tbody>
  </ix-table2>
</mat-card>
