<ix-modal-header
  [title]="'Kernel' | translate"
  [loading]="isFormLoading"
></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset>
        <ix-checkbox
          formControlName="autotune"
          [label]="'Enable Autotune' | translate"
          [tooltip]="tooltips.autotune"
        ></ix-checkbox>

        <ix-checkbox
          formControlName="debugkernel"
          [label]="'Enable Debug Kernel' | translate"
          [tooltip]="tooltips.debugkernel"
        ></ix-checkbox>
      </ix-fieldset>

      <mat-divider></mat-divider>

      <div class="form-actions">
        <button
          mat-button
          type="submit"
          color="primary"
          [disabled]="form.invalid || isFormLoading"
        >
          {{ 'Save' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
