.debug-panel-toggle {
  background-color: var(--bg2);
  border-radius: 4px 0 0 4px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;

  &.active-mocks {
    ix-icon {
      color: var(--orange);
    }
  }
}
