.paginator {
  align-items: center;
  background: var(--bg2);
  border: solid 1px var(--contrast-lighter);
  color: var(--fg2);
  display: flex;
  justify-content: end;
  margin: 0 4px;
  padding: 10px;

  .buttons {
    display: flex;
    margin-left: 30px;
  }
}
