@import "scss-imports/variables";

:host {
  background-color: var(--bg2);
  height: auto;
  max-height: calc(100vh - 48px - 32px); // 100vh - topbarHeight - bottomMargin
  max-width: 960px !important;
  width: min(960px, calc(100vw - 32px)) !important;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 48px;
  right: 50%;
  transform: translateX(150%);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-sm) {
    height: auto;
    max-height: 100dvh;
    padding-top: 0;
    top: 0;
    width: 100%;
    left: 0;
    border-radius: 0;
  }

  &.slide-in-hidden {
    transform: translateX(150%);
    transition: transform 150ms ease-in;
  }

  &.slide-in-visible {
    transform: translateX(50%);
    transition: transform 150ms ease-out;
  }
}

// When debug panel is open, adjust the slide-in position
body:has(ix-websocket-debug-panel .websocket-debug-panel.open) {
  :host {
    right: calc(50% + var(--debug-panel-width, 550px) / 2); // shift origin when debug panel is open
  }
}

.slide-in-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
  padding: 0 20px 20px 20px;
  width: 100%;

  @media (max-width: $breakpoint-sm) {
    margin-top: 75px;
    -webkit-overflow-scrolling: touch;
  }

  >* {
    box-sizing: border-box;
    flex: 1 0 auto;
    width: 100%;
  }
}