:host {
  background-color: var(--bg2);
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.3); // default cdk-overlay backdrop background
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px - 75px); // 100vh - topbarHeight - modalHeaderHeight
  padding: 0 10px;
  padding-top: 75px;
  position: fixed;
  right: 0;
  width: 750px;
}

.slide-in-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  width: 100%;

  > * {
    box-sizing: border-box;
    flex: 1 0 auto;
    width: 100%;
  }
}
