<ix-form
  [formGroup]="form"
  [isEditMode]="!isNew"
  [addTitle]="'Add Reporting Exporter' | translate"
  [editTitle]="'Edit Reporting Exporter' | translate"
  [requiredRoles]="requiredRoles"
  [externalLoading]="isLoading()"
  [submitHandler]="handleSubmit"
>
  <ix-fieldset>
    <tn-form-field
      [label]="'Name' | translate"
      [tooltip]="'Give your exporter configuration a name' | translate"
      [required]="true"
    >
      <tn-input
        name="name"
        testId="name"
        formControlName="name"
        [required]="true"
      ></tn-input>
    </tn-form-field>
    <tn-form-field
      [label]="'Type' | translate"
      [required]="true"
    >
      <tn-select
        testId="type"
        formControlName="type"
        [options]="exporterTypeOptions()"
      ></tn-select>
    </tn-form-field>
    <tn-form-field class="checkbox-field">
      <tn-checkbox
        testId="enabled"
        formControlName="enabled"
        [label]="'Enable' | translate"
      ></tn-checkbox>
    </tn-form-field>
  </ix-fieldset>

  @if (!isLoadingSchemas()) {
    <ix-dynamic-form
      [dynamicSection]="dynamicSection"
      [dynamicForm]="formGroup"
    ></ix-dynamic-form>
  }
</ix-form>
