<ix-modal-header
  [title]="'LDAP' | translate"
  [loading]="isLoading"
></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <div class="columns">
        <ix-fieldset>
          <ix-chips
            formControlName="hostname"
            [label]="'Hostname' | translate"
            [tooltip]="helptext.ldap_hostname_tooltip"
            [required]="isEnabled$ | async"
          ></ix-chips>

          <ix-input
            formControlName="basedn"
            [label]="'Base DN' | translate"
            [tooltip]="helptext.ldap_basedn_tooltip"
          ></ix-input>

          <ix-input
            formControlName="binddn"
            [label]="'Bind DN' | translate"
            [tooltip]="helptext.ldap_binddn_tooltip"
          ></ix-input>

          <ix-input
            formControlName="bindpw"
            type="password"
            [label]="'Bind Password' | translate"
            [tooltip]="helptext.ldap_bindpw_tooltip"
          ></ix-input>

          <ix-checkbox
            formControlName="enable"
            [label]="'Enable' | translate"
            [tooltip]="helptext.ldap_enable_tooltip"
          ></ix-checkbox>

          <ng-container *ngIf="isAdvancedMode">
            <ix-checkbox
              formControlName="anonbind"
              [label]="'Allow Anonymous Binding' | translate"
              [tooltip]="helptext.ldap_anonbind_tooltip"
            ></ix-checkbox>

            <ix-select
              formControlName="ssl"
              [required]="true"
              [label]="'Encryption Mode' | translate"
              [tooltip]="helptext.ldap_ssl_tooltip"
              [options]="sslOptions$"
            ></ix-select>

            <div class="linked-select">
              <div class="link-wrapper">
                <a class="link" (click)="onManageCertificatesClicked()">
                  {{ 'Manage Certificates' | translate }}
                </a>
              </div>
              <ix-select
                formControlName="certificate"
                [label]="'Certificate' | translate"
                [tooltip]="helptext.ldap_certificate_tooltip"
                [options]="certificates$"
              ></ix-select>
            </div>
            <ix-checkbox
              formControlName="validate_certificates"
              [label]="'Validate Certificates' | translate"
              [tooltip]="helptext.ldap_validate_certificates_tooltip"
            ></ix-checkbox>

            <ix-checkbox
              formControlName="disable_freenas_cache"
              [label]="'Disable LDAP User/Group Cache' | translate"
              [tooltip]="helptext.ldap_disable_fn_cache_tooltip"
            ></ix-checkbox>
          </ng-container>
        </ix-fieldset>
        <ix-fieldset *ngIf="isAdvancedMode">
          <ix-select
            formControlName="kerberos_realm"
            [label]="'Kerberos Realm' | translate"
            [tooltip]="helptext.ldap_kerberos_realm_tooltip"
            [options]="kerberosRealms$"
          ></ix-select>

          <ix-select
            formControlName="kerberos_principal"
            [label]="'Kerberos Principal' | translate"
            [tooltip]="helptext.ldap_kerberos_principal_tooltip"
            [options]="kerberosPrincipals$"
          ></ix-select>

          <ix-input
            formControlName="timeout"
            type="number"
            [label]="'LDAP Timeout' | translate"
            [tooltip]="helptext.ldap_timeout_tooltip"
          ></ix-input>

          <ix-input
            formControlName="dns_timeout"
            type="number"
            [label]="'DNS Timeout' | translate"
            [tooltip]="helptext.ldap_dns_timeout_tooltip"
          ></ix-input>

          <ix-checkbox
            formControlName="has_samba_schema"
            [label]="'Samba Schema (DEPRECATED - see help text)' | translate"
            [tooltip]="helptext.ldap_has_samba_schema_tooltip"
          ></ix-checkbox>

          <ix-textarea
            formControlName="auxiliary_parameters"
            [label]="'Auxiliary Parameters' | translate"
            [tooltip]="helptext.ldap_auxiliary_parameters_tooltip"
          ></ix-textarea>

          <ix-select
            formControlName="schema"
            [label]="'Schema' | translate"
            [tooltip]="helptext.ldap_schema_tooltip"
            [options]="schemaOptions$"
          ></ix-select>
        </ix-fieldset>
      </div>

      <div class="form-actions">
        <button
          mat-button
          type="submit"
          color="primary"
          [disabled]="form.invalid"
        >
          {{ 'Save' | translate }}
        </button>

        <button mat-button type="button" (click)="onAdvancedModeToggled()">
          {{ isAdvancedMode ? ('Basic Options' | translate) : ('Advanced Options' | translate) }}
        </button>
        <button mat-button type="button" (click)="onRebuildCachePressed()">
          {{ 'Rebuild Directory Service Cache' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
