<mat-card class="wip">
  <h4 mat-card-title>Note: This is a work in progress for new 'Device Management' page. You can see what we are building an provide suggestions in <a href="https://github.com/truenas/webui/discussions/6771">Github discussions</a>.</h4>
</mat-card>

<div *ngIf="topology" class="container" fxLayoutGap="16px">
  <div class="table-container">
    <div class="device-search">
      <ix-search-input [disabled]="!dataSource" (search)="onSearch($event)"></ix-search-input>
    </div>

    <div class="device-tree-wrapper">
      <div class="device-tree-inner">
        <div class="device-tree-header">
          <div>
            <span>{{ 'Device Name' | translate }}</span>
          </div>
          <div>{{ 'Status' | translate }}</div>
          <div>{{ 'Capacity' | translate }}</div>
          <div>{{ 'Errors' | translate }}</div>
        </div>

        <ix-tree class="device-tree" [dataSource]="dataSource" [treeControl]="treeControl" [trackBy]="trackByFn">
          <ix-tree-node
            *ixTreeNodeDef="let device; dataSource: dataSource"
            ixTreeNodeToggle
            [ixTreeNodeToggleRecursive]="false"
            [ixTreeNodeDefDataSource]="dataSource"
            (click)="onDeviceSelected(device, $event)"
            [class.selected]="device.guid === selectedDevice?.guid"
          >
            <button mat-icon-button disabled></button>
            <ix-device-node [device]="device"></ix-device-node>
          </ix-tree-node>

          <ix-nested-tree-node
            *ixTreeNodeDef="let group; dataSource: dataSource, when: isDeviceGroup"
            [ixTreeNodeDefDataSource]="dataSource"
          >
            <ix-group-tree-node
              ixTreeNodeToggle
              (click)="$event.preventDefault()"
              [attr.aria-label]="'Toggle group {row}' | translate: { row: group.guid }"
            >
              <div class="name">
                {{ '{group} VDEVs' | translate: { group: group.guid | titlecase } }}
              </div>

              <mat-icon class="mat-icon-rtl-mirror">
                {{ treeControl.isExpanded(group) ? 'expand_less' : 'expand_more' }}
              </mat-icon>
            </ix-group-tree-node>

            <ng-container *ngIf="treeControl.isExpanded(group)" ixTreeNodeOutlet></ng-container>
          </ix-nested-tree-node>

          <ix-nested-tree-node
            *ixTreeNodeDef="let device; dataSource: dataSource, when: hasNestedChild"
            [ixTreeNodeDefDataSource]="dataSource"
          >
            <div
              class="device-nested-tree-root-node"
              (click)="onDeviceSelected(device, $event)"
              [class.selected]="device.guid === selectedDevice?.guid"
            >
              <button
                mat-icon-button
                ixTreeNodeToggle
                (click)="$event.preventDefault()"
                [attr.aria-label]="'Toggle {row}' | translate: { row: device.guid }"
              >
                <mat-icon class="mat-icon-rtl-mirror">
                  {{ treeControl.isExpanded(device) ? 'expand_more' : 'chevron_right' }}
                </mat-icon>
              </button>

              <ix-device-node [device]="device"></ix-device-node>
            </div>

            <ng-container *ngIf="treeControl.isExpanded(device)" ixTreeNodeOutlet></ng-container>
          </ix-nested-tree-node>
        </ix-tree>
      </div>
    </div>
  </div>
  <div class="details-container">
    <ix-disk-details-panel
      *ngIf="selectedDevice && diskDictionary[selectedDevice.disk]"
      [topologyItem]="selectedDevice"
      [disk]="diskDictionary[selectedDevice.disk]"
    ></ix-disk-details-panel>
  </div>
</div>
