<div
  *appLet="selectedNode$ | async as selectedNode"
  class="container"
  fxLayoutGap="16px"
>
  <div class="table-container">
    <ix-fake-progress-bar
      class="loader-bar"
      [loading]="isLoading$ | async"
    ></ix-fake-progress-bar>

    <div class="disk-search">
      <ix-search-input [disabled]="!dataSource" (search)="onSearch($event)"></ix-search-input>
    </div>

    <div class="disk-tree-wrapper">
      <div class="disk-tree-inner">
        <div class="disk-tree-header">
          <div>
            <span class="disk-name-header">{{ 'Device Name' | translate }}</span>
          </div>
          <div class="disk-status-header">{{ 'Status' | translate }}</div>
          <div>{{ 'Capacity' | translate }}</div>
          <div>{{ 'Errors' | translate }}</div>
        </div>
        <ix-tree class="disk-tree" [dataSource]="dataSource" [treeControl]="treeControl">
          <ix-tree-node
            *ixTreeNodeDef="let topologyItem; dataSource: dataSource"
            ixTreeNodeToggle
            [ixTreeNodeToggleRecursive]="false"
            [ixTreeNodeDefDataSource]="dataSource"
            [class.selected]="topologyItem.guid === selectedNode?.guid"
            [routerLink]="['/storage2', poolId, 'devices', topologyItem.guid]"
            routerLinkActive="selected"
          >
            <button mat-icon-button disabled></button>
            <ix-topology-item-node [topologyItem]="topologyItem | cast" [disk]="getDisk(topologyItem)"></ix-topology-item-node>
          </ix-tree-node>

          <ix-nested-tree-node
            *ixTreeNodeDef="let group; dataSource: dataSource, when: isVdevGroup"
            [ixTreeNodeDefDataSource]="dataSource"
          >
            <div
              class="disk-nested-tree-root-node"
              (click)="onRowGroupSelected(group, $event)"
            >
              <ix-vdev-group-node [vdevGroup]="group | cast">
                <button
                  mat-icon-button
                  ixTreeNodeToggle
                  (click)="$event.preventDefault()"
                  [attr.aria-label]="'Toggle {row}' | translate: { row: group.guid }"
                  class="vdev-group-toggle"
                >
                  <mat-icon>
                    {{ treeControl.isExpanded(group) ? 'expand_more' : 'chevron_right' }}
                  </mat-icon>
                </button>
              </ix-vdev-group-node>
            </div>

            <ng-container *ngIf="treeControl.isExpanded(group)" ixTreeNodeOutlet></ng-container>
          </ix-nested-tree-node>

          <ix-nested-tree-node
            *ixTreeNodeDef="let vdev; dataSource: dataSource, when: hasNestedChild"
            [ixTreeNodeDefDataSource]="dataSource"
          >
            <div
              class="disk-nested-tree-root-node"

              [class.selected]="vdev.guid === selectedNode?.guid"
              [routerLink]="['/storage2', poolId, 'devices', vdev.guid]"
              routerLinkActive="selected"
            >
              <button
                mat-icon-button
                ixTreeNodeToggle
                (click)="$event.preventDefault()"
                [attr.aria-label]="'Toggle {row}' | translate: { row: vdev.guid }"
              >
                <mat-icon>
                  {{ treeControl.isExpanded(vdev) ? 'expand_more' : 'chevron_right' }}
                </mat-icon>
              </button>
              <ix-topology-item-node [topologyItem]="vdev | cast" [disk]="getDisk(vdev.children[0])"></ix-topology-item-node>
            </div>

            <ng-container *ngIf="treeControl.isExpanded(vdev)" ixTreeNodeOutlet></ng-container>
          </ix-nested-tree-node>
        </ix-tree>
      </div>
    </div>
  </div>
  <div class="details-container"
    ixDetailsHeight
    ixDetailsHeightParentClass="rightside-content-hold"
    [hasConsoleFooter]="hasConsoleFooter"
    [headerHeight]="headerHeight"
    [footerHeight]="footerHeight"
    >
    <ix-disk-details-panel
      *ngIf="selectedNode"
      [topologyItem]="selectedNode | cast"
      [topologyParentItem]="selectedParentNode$ | async | cast"
      [disk]="getDisk(selectedNode)"
      [poolId]="poolId"
      [topologyCategory]="selectedTopologyCategory$ | async"
    ></ix-disk-details-panel>
  </div>
</div>
