.container {
  display: flex;
  flex-direction: row;
}

.table-container {
  color: white;
  cursor: pointer;
}

.details-container {
  color: white;
  flex: 2;
}

.wip {
  color: var(--fg2);
  margin-bottom: 20px;
  padding: 5px;
}
