.container {
  display: flex;
  flex-direction: row;
}

.table-container {
  align-items: center;
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
}

.details-container {
  color: white;
  flex: 2;
}

.wip {
  color: var(--fg2);
  margin-bottom: 20px;
  padding: 5px;
}
