<mat-card class="wip">
  <h4 mat-card-title>Note: This is a work in progress for new 'Device Management' page. You can see what we are building an provide suggestions in <a href="https://github.com/truenas/webui/discussions/6771">Github discussions</a>.</h4>
</mat-card>

<div *ngIf="topology" class="container" fxLayoutGap="16px">
  <div class="table-container">
    <div class="disk-search">
      <ix-search-input [disabled]="!dataSource" (search)="onSearch($event)"></ix-search-input>
    </div>

    <div class="disk-tree-wrapper">
      <div class="disk-tree-inner">
        <div class="disk-tree-header">
          <div>
            <span class="disk-name-header">{{ 'Device Name' | translate }}</span>
          </div>
          <div class="disk-status-header">{{ 'Status' | translate }}</div>
          <div>{{ 'Capacity' | translate }}</div>
          <div>{{ 'Errors' | translate }}</div>
        </div>
        <ix-tree class="disk-tree" [dataSource]="dataSource" [treeControl]="treeControl">
          <ix-tree-node
            *ixTreeNodeDef="let vdev; dataSource: dataSource"
            ixTreeNodeToggle
            [ixTreeNodeToggleRecursive]="false"
            [ixTreeNodeDefDataSource]="dataSource"
            (click)="onRowSelected(vdev, $event)"
            [class.selected]="vdev.guid === selectedItem?.guid"
          >
            <button mat-icon-button disabled></button>
            <ix-disk-node [vdev]="vdev | cast" [disk]="diskDictionary[vdev.disk]"></ix-disk-node>
          </ix-tree-node>

          <ix-nested-tree-node
            *ixTreeNodeDef="let vdev; dataSource: dataSource, when: isVdevGroup"
            [ixTreeNodeDefDataSource]="dataSource"
          >
            <div class="disk-nested-tree-root-node">
              <ix-vdev-group-node [vdev]="vdev | cast"></ix-vdev-group-node>
            </div>

            <ng-container *ngIf="treeControl.isExpanded(vdev)" ixTreeNodeOutlet></ng-container>
          </ix-nested-tree-node>

          <ix-nested-tree-node
            *ixTreeNodeDef="let vdev; dataSource: dataSource, when: hasNestedChild"
            [ixTreeNodeDefDataSource]="dataSource"
          >
            <div
              class="disk-nested-tree-root-node"
              (click)="onRowSelected(vdev, $event)"
              [class.selected]="vdev.guid === selectedItem?.guid"
            >
              <button
                mat-icon-button
                ixTreeNodeToggle
                (click)="$event.preventDefault()"
                [attr.aria-label]="'Toggle {row}' | translate: { row: vdev.guid }"
              >
                <mat-icon>
                  {{ treeControl.isExpanded(vdev) ? 'expand_more' : 'chevron_right' }}
                </mat-icon>
              </button>
              <ix-disk-node [vdev]="vdev | cast" [disk]="diskDictionary[vdev.children[0].disk]"></ix-disk-node>
            </div>

            <ng-container *ngIf="treeControl.isExpanded(vdev)" ixTreeNodeOutlet></ng-container>
          </ix-nested-tree-node>
        </ix-tree>
      </div>
    </div>
  </div>
  <div class="details-container">
    <ix-disk-details-panel
      *ngIf="selectedItem && isDiskSelected && diskDictionary[selectedItem.disk]"
      [topologyItem]="selectedItem | cast"
      [topologyParentItem]="selectedParentItem | cast"
      [disk]="diskDictionary[selectedItem.disk]"
    ></ix-disk-details-panel>
  </div>
</div>
