<div class="widget widget-{{widgetSize}}">
  <div class="card-container {{flipDirection}} front" animate [animation]="flipAnimation">
    <mat-card class="front" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch">
      <mat-toolbar-row fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch" fxFlex="100" class="mat-card-toolbar">
        <h4 class="mat-card-title-text"><div class="card-title-text">{{title | translate}}</div></h4>
        <button mat-icon-button (click)="toggleConfig()">
          <mat-icon>settings</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around center" fxFlex="100">
        <div fxFlex="35" style="position:relative;">
          <viewchartdonut #zpool [width]="chartSize" [height]="chartSize" [style.display]="isFlipped ? 'none': 'block'"></viewchartdonut>
        </div>
        <div fxFlex="50">
          <mat-grid-list cols="4" rowHeight="24px" role="list" *ngIf="disks.length > 0">
            <mat-grid-tile *ngFor="let disk of disks; let i=index" class="disk-tile" (click)="setSelectedDisk(i)">
                <mat-icon class="disk-icon" role="img">local_laundry_service</mat-icon>
                <span class="disk-name">{{disks[i].name}}</span>
            </mat-grid-tile>
          </mat-grid-list>
          <div class="disk-details">
            <div class="disk-detail" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch" *ngIf="selectedDisk > -1">
              <span fxFlex="100" class="disk-detail-title">{{disks[selectedDisk].name}}</span>
              <span fxFlex="100" class="disk-detail-subtitle">{{disks[selectedDisk].size}}</span>

              <div fxFlex="50" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start" style="border-right:solid 1px rgba(0,0,0,0.1);">
                <span class="label">{{"Description" | translate}}:</span><br><span class="value">{{disks[selectedDisk].description}}</span>
                <span class="label">{{"Serial" | translate}}:</span><br><span class="value">{{disks[selectedDisk].serial}}</span>
              </div>

              <div fxFlex="50" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between start">
                <span class="label">{{"S.M.A.R.T. Enabled" | translate}}:</span><br><span class="value">{{disks[selectedDisk].smart_enabled}}</span>
                <span class="label">{{"S.M.A.R.T. Options" | translate}}:</span><br><span class="value">{{disks[selectedDisk].smartoptions}}</span>
              </div>
              <!--<span class="label"></span><span class="value">{{disks[selectedDisk].}}</span>
              <span class="label"></span><span class="value">{{disks[selectedDisk].}}</span>
              <span class="label"></span><span class="value">{{disks[selectedDisk].}}</span>-->
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="back">
      <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" fxFlex="100">
        <form (ngSubmit)="setPreferences(f)" #f="ngForm" id="preferences" *ngIf="chartZpool.legend.length > 0">
          <ng-container *ngFor="let legend of chartZpool.legend; let i=index">
            <mat-checkbox ngModel name="{{chartZpool.legend[i].name}}">
              {{chartZpool.legend[i].name}}
            </mat-checkbox><br>
          </ng-container>
        </form>
      </mat-card-content>
      <div class="widget-footer">
        <button mat-button color="accent" (click)="toggleConfig()">{{"Cancel" | translate}}</button>
        <button mat-button color="primary" type="submit" form="preferences" (click)="toggleConfig()">{{"Save" | translate}}</button>
      </div>
    </mat-card>
  </div>
</div>
