.widget {
  height: 400px;
  width: 600px;
}

.widget mat-card-content {
  width: 100%;
}

.controls {
  color: var(--fg2);
  position: absolute;
  right: 16px;
  top: 0;
}

mat-grid-tile {
  background-color: var(--bg1);

  .tile {
    padding: 0 10px 10px 18px;

    .tile-header {
      font-size: 20px;
    }

    .tile-content {
      font-size: 12px;

      .divider {
        background-color: var(--fg2);
        height: 100%;
        width: 1px;
      }

      li {
        height: 25px;
        overflow: hidden;
        white-space: nowrap;

        .label {
          margin-right: 6px;
        }
      }

      &.rows-3 li {
        height: 20px;
      }
    }

    span.icon {
      height: 10px;
      text-align: left;
      width: 15px;

      &.error {
        color: var(--red);
      }

      &.warn {
        color: var(--yellow);
      }

      &.safe {
        color: var(--green);
      }

      .mat-icon {
        font-size: 18px;
        top: 0;
        width: 14px;

        &.mdi-set {
          font-size: 12px;
          margin-top: -2px;
        }
      }
    }
  }

  .create-new {
    font-size: 24px;
    opacity: 0.7;

    .mat-icon.mdi-set {
      font-size: 40px;
      height: 31px;
      width: 40px;
    }
  }
}
