@import 'mixins/tn-card';

.copyright-txt,
#shutdown-message,
.logo {
  text-align: center;
}

.logo {
  height: auto;
  width: 256px;
}

.copyright-txt {
  margin-top: 10px;
}

#wrapper {
  align-items: center;
  background-color: #0095d5;
  display: flex;
  height: 100%;
  justify-content: center;
}

#shutdown-card {
  @include tn-card-webui-palette;

  margin: auto;
  position: relative;
  top: 75px;
  width: 275px;
}

.card-body {
  @include tn-card-splash-body;
}

#overlay {
  background: black !important;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

#overlay.blackout {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  transition: all 3s ease;
}

@media screen and (max-height: 700px) {
  #shutdown-card {
    top: 20px;
    width: 80%;
  }

  .logo {
    width: 206px;
  }
}
