:host {
  display: block;
  width: 100%;

  .list-item {
    display: flex;
    flex-direction: column;
    min-height: 48px;
    padding: 16px 12px;
    position: relative;
    white-space: pre-line;
    word-break: break-word;

    .logs {
      position: relative;
    }

    pre {
      margin: 0;
      white-space: pre-line;

      code {
        display: flex;
      }
    }

    &:hover,
    &:focus,
    &:active {
      ix-copy-button {
        opacity: 1;
        visibility: visible;
      }
    }

    h4 {
      margin-bottom: 12px;
    }

    &:not(:first-of-type) {
      border-top: 1px solid var(--lines);
    }

    ix-copy-button {
      bottom: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      visibility: hidden;
    }
  }
}
