:host {
  display: block;

  entity-empty {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.mat-card {
  overflow: hidden;
}

.mat-row:not(.no-data-row) {
  cursor: pointer;
}

button:focus-visible {
  background: var(--focus-bg);
  box-shadow: 0 0 0 1px var(--focus-brd) inset !important;
  outline-width: 0;
}
