mat-card-content p {
  margin: 0 0 6px;
}

.label {
  font-weight: bold;
  margin-right: 2px;
}

.divider {
  border-bottom: 1px solid var(--lines);
  margin: 14px 0;
}

.content-wrapper {
  align-items: center;
  display: flex;
  margin: 0 0 8px;

  a {
    color: var(--primary);
    cursor: pointer;
    margin-left: auto;
    text-decoration: underline;
  }

  ix-icon {
    margin-right: 8px;
  }

  &.with-break {
    margin-bottom: 20px;
  }

  &.last-login {
    margin-top: -5px;
  }
}

.not-available {
  opacity: 0.6;
}

.flex-container {
  align-items: center;
  display: flex;
}
