@import 'scss-imports/variables';

:host {
  align-items: center;
  display: flex;
  flex: 1;
  font-weight: 500;
  min-height: 48px;
  padding: 0;
}

.tree-node-grid {
  align-items: center;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: auto 125px 125px 125px;
  min-width: fit-content;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: auto 0 0 0;
    width: 100%;
  }

  .cell {
    align-items: center;
    display: inline-flex;
    min-height: 48px;

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }

    &:first-child {
      @media (max-width: $breakpoint-tablet) {
        display: inline-flex;
      }
    }
  }

  .cell-name {
    align-items: stretch;
    font-weight: bold;

    .icon-container {
      align-items: center;
      display: flex;
      padding: 5px;
    }

    .name {
      align-items: center;
      display: inline-flex;
      gap: 6px;
      padding-right: 15px;
    }

    .descendant-warning-icon {
      font-size: 18px;

      &.severity-critical {
        color: var(--red);
      }

      &.severity-warning {
        color: var(--yellow);
      }
    }
  }

  .cell-status,
  .cell-errors {
    padding: 0 8px;
  }
}

