.url {
  display: flex;

  .label {
    margin-right: 8px;
  }

  .value {
    color: var(--primary);
    text-decoration: underline;
  }
}

.dialog-close {
  margin-left: auto;
}

.username-input {
  margin-bottom: 0;
  margin-top: 0;
}

.password-input {
  margin-top: 0;
}
