:host {
  display: block;
}

.disks-list {
  max-height: 50vh;
  overflow: auto;
  padding-right: 20px;
}

.started-tests {
  max-height: 60vh;
  max-width: 600px;
  min-width: 320px;
  overflow: auto;

  .test {
    margin-bottom: 15px;
  }

  .error {
    font-family: var(--font-family-monospace);
    white-space: pre-line;
  }
}

.progress-bar-panel {
  padding-bottom: 15px;
}

.show-results-content {
  padding: 0 24px 24px;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.link {
  color: var(--primary);
  cursor: pointer;
  text-decoration: underline;
}

.green-icon {
  color: var(--green);
}

.red-icon {
  color: var(--red);
}

.disk-name {
  align-items: center;
  display: flex;
  width: fit-content;

  a {
    margin-left: 5px;
  }

  h4 {
    margin-right: 10px;
    white-space: nowrap;
  }
}

.disk-title {
  direction: row;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

mat-progress-bar {
  height: 2px;
}
