:host {
  display: block;
}

.disks-list {
  margin-bottom: 20px;
  max-height: 50vh;
  overflow: auto;
  padding-right: 20px;
}

.started-tests {
  max-height: 60vh;
  max-width: 600px;
  min-width: 320px;
  overflow: auto;

  .test {
    margin-bottom: 15px;
  }

  .error {
    font-family: var(--font-family-monospace);
    white-space: pre-line;
  }
}

.progress-bar-panel {
  padding-bottom: 15px;
}

.show-results-content {
  padding: 0 24px 24px;
}
