<div class="wrapper">
  <div class="header">
    <div class="header-overlay">
      <div class="logo-wrapper">
        <ix-icon
          name="ix-truenas-logo"
          class="logo"
          [fullSize]="true"
        ></ix-icon>
      </div>
    </div>
  </div>

  <div mat-dialog-content>
    <h1 class="help">{{ helptext.help | translate }}</h1>
    <div class="line-item">
      <div>
        <ix-icon name="assignment" class="bullet-icon"></ix-icon>
      </div>
      <div
        class="medium-font"
        [innerHtml]="helptext.docs | translate"
      ></div>
    </div>

    <div class="line-item">
      <div><ix-icon name="group" class="bullet-icon"></ix-icon></div>
      <div
        class="medium-font"
        [innerHtml]="helptext.forums | translate"
      ></div>
    </div>

    <div
      *appLet="systemType | mapValue: productTypeLabels as product"
      id="open-source"
      [innerHtml]="helptext.opensource | translate: { product }"
    ></div>

    <div id="system-version">
      {{ ('System Version' | translate) + ': ' +  (systemVersion$ | async) }}
    </div>
  </div>
</div>

<div mat-dialog-actions id="actions">
  <ix-copyright-line class="copyright-txt"></ix-copyright-line>
  <div id="button-wrapper">
    <button
      mat-button
      color="primary"
      ixTest="close"
      (click)="dialogRef.close(false)"
    >
      {{ helptext.actionBtnText.about | translate }}
    </button>
  </div>
</div>
