.wrapper,
#actions {
  max-width: 600px;
}

.header {
  background-color: black;
  background-image: url('assets/images/backgrounds/hard_drive_2.jpg');
  background-position-x: 50%;
  background-position-y: 20%;
  background-size: cover;
  margin: 0;
  text-align: center;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 30px 10px;
  text-align: center;
}

#title {
  font-weight: 700;
  padding-bottom: 1rem;
}

.help {
  font-family: var(--font-family-header);
  font-size: 1.2rem;
}

.line-item {
  display: flex;
  margin: 20px 10px;

  > *:first-child {
    flex: 1 1 10%;
  }

  > *:last-child {
    flex: 1 1 90%;
  }
}

.bullet-icon {
  font-size: 36px;
  height: 36px;
  width: 36px;;
}

#ix-img {
  bottom: 3px;
  position: relative;
  right: 10px;
}

.medium-font {
  font-size: 1rem;
}

#open-source,
#system-version {
  font-size: 0.75rem;
  padding: 0.5rem;
  text-align: center;
}

.copyright-txt {
  align-self: center;
  font-size: 11px;
  margin-left: 10px;
  text-align: center;
}

#findme {
  font-weight: 700;
  text-align: center;
}

#findme .mat-icon {
  position: relative;
  top: 6px;
}

.emphasis {
  font-style: italic;
  opacity: 0.6;
}

#button-wrapper {
  flex-grow: 1;
  text-align: right;
}

.logo-wrapper .logo {
  height: auto;
  position: relative;
  width: 256px;
  z-index: 2;
}

@media (max-width: 599px) {
  #button-wrapper {
    margin-top: 10px;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .medium-font {
    font-size: 0.8rem;
  }

  .bullet-icon {
    font-size: 24px;
    height: 24px;
    width: 24px;;
  }
}
