.installed-badge {
  background-color: var(--contrast-darkest);
  color: var(--green);
  cursor: pointer;
  font-family: var(--font-family-header);
  font-size: 1.3em;
  font-weight: bold;
  left: -10px;
  line-height: 1.3em;
  padding: 2px 13px 2px 11px;
  position: absolute;
  top: 6px;
  z-index: 1;
}
