<mat-card class="train-card">
  @if (updateService.isLoading$ | async) {
    <mat-spinner
      class="update-spinner"
      [diameter]="40"
    >
    </mat-spinner>
  }
  <form class="ix-form-container" [formGroup]="form">
    <div class="train-card-row">
      <ix-checkbox
        *ixRequiresRoles="requiredRoles"
        formControlName="auto_check"
        [label]="'Check for Updates Daily and Download if Available' | translate"
        [tooltip]="'Check the update server daily for any updates on the chosen train. Automatically download an update if one is available. Click <i>APPLY PENDING UPDATE</i> to install the downloaded update.' | translate"
      ></ix-checkbox>
    </div>
    @if (trains.length > 1) {
      <div class="train-card-row train-select-row">
        <ix-select
          formControlName="train"
          [label]="'Train' | translate"
          [options]="trains$"
          [required]="true"
        ></ix-select>
        <button
          *ixRequiresRoles="requiredRoles"
          mat-mini-fab
          color="primary"
          class="refresh-button"
          matTooltip="Refresh"
          ixTest="refresh"
          (click)="trainService.check()"
        >
          <ix-icon name="refresh"></ix-icon>
        </button>
      </div>
    } @else {
      <div class="train-card-row train-select-row">
        <div class="single-train-name">
          {{ 'Current Train:' | translate }} {{ trainService.trainValue$ | async }}
          @if (singleDescription) {
            <span>- {{ singleDescription }}</span>
          }
        </div>
        <button
          mat-mini-fab
          color="primary"
          class="single-train-refresh-button"
          ixTest="refresh"
          [matTooltip]="'Refresh' | translate"
          [disabled]="!checkable || isUpdateRunning"
          (click)="trainService.check()"
        >
          <ix-icon name="refresh"></ix-icon>
        </button>
      </div>
    }

    <p
      class="click-for-information"
      [innerHtml]="clickForInformationLink | translate"
    ></p>
  </form>
  <div class="train-card-row">
    @if ((updateService.status$ | async) === SystemUpdateStatus.RebootRequired) {
      <div>
        {{ 'An update is already applied. Please restart the system.' | translate }}
      </div>
    }

    @if ((updateService.status$ | async) === SystemUpdateStatus.Unavailable) {
      <div>
        {{ 'No updates available.' | translate }}
      </div>
    }
  </div>
  <div class="train-card-row">
    @if (updateService.error$ | async) {
      <div>
        {{ updateService.error$ | async }}
      </div>
    }
  </div>
</mat-card>
