<div id="{{config.name}}" class="dynamic-field form-textarea" [formGroup]="group" [ngClass]="fieldShow" [class.has-tooltip]="config.tooltip" *ngIf="!config['isHidden']">
    <p [innerHTML]="config.paraText | translate | docreplace"></p>
	<tooltip *ngIf="config.tooltip" [message]="config.tooltip"></tooltip>
  <mat-error *ngIf="config['hasErrors']">{{config['errors']}}</mat-error>
  <mat-form-field class="full-width" style="display:none">
    <input matInput [type]="config.inputType ? config.inputType : 'text'"
      [placeholder]="config.placeholder"
      [attr.value]="config.value"
      [formControlName]="config.name"
      >
  </mat-form-field>
</div>
