@import 'scss-imports/splitview';

:host {
  ix-slide-toggle {
    margin-bottom: 27px;
    margin-top: 50px;
  }
}

.columns {
  box-sizing: border-box;
  column-gap: 16px;
  display: flex;
  flex-direction: row;

  @media (max-width: $breakpoint-tablet) {
    display: block !important;

    > div {
      max-width: 100% !important;
    }
  }
}
