:host {
  align-items: center;
  column-gap: 10px;
  display: flex;
  font-size: 1rem;
}

.icon {
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}

.message {
  color: var(--fg1);
  flex-grow: 1;
}
