<ng-container [formGroup]="form">
  <tn-form-field
    [label]="'Bot API Token' | translate"
    [tooltip]="helptext.telegram.botTokenTooltip | translate"
    [required]="true"
  >
    <tn-input formControlName="bot_token" [testId]="'bot_token'"></tn-input>
  </tn-form-field>

  <tn-form-field
    [label]="'List of chat IDs' | translate"
    [tooltip]="helptext.telegram.chatIdsTooltip | translate"
    [required]="true"
  >
    <tn-chip-input formControlName="chat_ids" [testId]="'chat_ids'" [allowCustomValue]="true" [addOnBlur]="true"></tn-chip-input>
  </tn-form-field>
</ng-container>
