<td [attr.colspan]="colspan">
  <ix-table-expandable-row>
    <button mat-button [ixTest]="[group.group, 'members']" (click)="openGroupMembersForm()">
      <mat-icon>people</mat-icon>
      <span>{{ 'Members' | translate }}</span>
    </button>

    <button
      *ngIf="!group.builtin"
      mat-button
      [ixTest]="[group.group, 'edit']"
      (click)="doEdit(group)"
    >
      <mat-icon>edit</mat-icon>
      <span>{{ 'Edit' | translate }}</span>
    </button>

    <button
      *ngIf="!group.builtin"
      mat-button
      [ixTest]="[group.group, 'delete']"
      (click)="doDelete(group)"
    >
      <mat-icon>delete</mat-icon>
      <span>{{ 'Delete' | translate }}</span>
    </button>
  </ix-table-expandable-row>
</td>
