<tn-dialog-shell [title]="'Delete Cron Job' | translate">
<div>
  <p class="message" [innerHtml]="deleteMessage | translate: { name: cronjob.user + ' ' + cronjob.command + ' ' + cronjob.description }"></p>
</div>
<ix-form-actions tnDialogAction class="form-actions">
  <tn-button variant="outline" testId="cancel" [label]="'Cancel' | translate" (onClick)="dialogRef.close(false)"></tn-button>
  <tn-button *ixRequiresRoles="requiredRoles" color="warn" testId="delete" [label]="'Delete' | translate" (onClick)="onDelete()"></tn-button>
</ix-form-actions>
</tn-dialog-shell>
