<ix-page-header>
  <tn-button
    [testId]="['alert', 'services']"
    [label]="'Alert Services' | translate"
    [routerLink]="['/', 'system', 'alert-settings', 'services']"
  ></tn-button>
</ix-page-header>

<ng-container>
  <div class="wizard-container">
    @for (category of categories; track category) {
      <tn-card class="card-container" [id]="category.id" [title]="category.title | translate">
        <ng-template tnCardHeaderActions>
          <tn-button
            *ixRequiresRoles="requiredRoles"
            [testId]="[category.id, '-class-', 'configure']"
            [label]="'Configure' | translate"
          ></tn-button>
        </ng-template>
        <tn-list>
          @for (cls of category.classes; track cls) {
            <tn-list-item>
              <div class="list-item">
                <div class="wrapper title">
                  <div class="column-header">{{ 'Alert' | translate }}</div>
                  <div class="column-cell">{{ cls.title | translate }}</div>
                </div>

                <div class="wrapper state-button">
                  <div class="column-header">{{ 'Severity Level' | translate }}</div>
                  <div class="column-cell">
                    <tn-icon class="icon" library="mdi" [name]="getIconName(getLevel(cls))" [style.color]="getLevelColor(getLevel(cls))"/>{{ getLevel(cls) }}
                  </div>
                </div>

                <div class="wrapper freq">
                  <div class="column-header">{{ 'Frequency' | translate }}</div>
                  <div
                    class="column-cell"
                  >{{ getPolicy(cls) }}</div>
                </div>
              </div>
            </tn-list-item>
          }
        </tn-list>
      </tn-card>
    }

  </div>
  <div class="search-container">
    <div class="search-card">
      <ix-input
        [prefixIcon]="tnIconMarker('magnify', 'mdi')"
        [formControl]="searchControl"
        [placeholder]="'Search Alert Categories' | translate"
        [autocompleteOptions]="searchOptions"
      ></ix-input>
      @for (category of categories; track category) {
        <div
          class="section"
          (click)="categoryClick(category.id)"
        >
          {{ category.title | translate }}
        </div>
      }
    </div>
  </div>
</ng-container>
