.cls-1 {
  fill-rule: evenodd;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4 {
  stroke-width: 0;
}

.cls-1,
.cls-5,
.cls-4 {
  fill: #fff;
}

.cls-6 {
  fill: #262626;
}

.cls-6,
.cls-7,
.cls-8,
.cls-9,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24 {
  stroke: #000;
}

.cls-6,
.cls-8,
.cls-9,
.cls-5,
.cls-10,
.cls-25,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-17,
.cls-18,
.cls-19,
.cls-26,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-6,
.cls-9,
.cls-5,
.cls-10,
.cls-25,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-26,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-24 {
  stroke-width: 0.25px;
}

.cls-7 {
  stroke-miterlimit: 2;
}

.cls-7,
.cls-8,
.cls-9,
.cls-2,
.cls-18 {
  fill: #000;
}

.cls-8 {
  stroke-width: 1.5px;
}

.cls-5,
.cls-25,
.cls-26 {
  stroke: #231f20;
}

.cls-10 {
  fill: #181818;
}

.cls-25 {
  fill: #b5b5b6;
}

.cls-11 {
  fill: #adc174;
}

.cls-12 {
  fill: #1e1e1e;
}

.cls-13 {
  fill: #2d2d2d;
}

.cls-14 {
  fill: #2b2b2b;
}

.cls-15,
.cls-26 {
  fill: #eaeaea;
}

.cls-16 {
  stroke-miterlimit: 10;
}

.cls-16,
.cls-3 {
  fill: #e6e7e8;
}

.cls-17 {
  fill: #d8d8d8;
}

.cls-18 {
  opacity: 0.76;
}

.cls-19 {
  fill: #333;
}

.cls-20 {
  fill: #e5e5e5;
}

.cls-21 {
  fill: #cccccb;
}

.cls-22 {
  fill: #383838;
}

.cls-23 {
  fill: #0d0d0d;
}

.cls-24 {
  fill: #3a3a3a;
}

.empty {
  opacity: 0.5;
}

.drive-cage-container.highlight .cls-6 {
  fill: #ff3;
  opacity: 1;
}

.drive-cage-container:hover .cls-6 {
  fill: #ff3;
  opacity: 0.5;
}
