<tn-dialog-shell [title]="'Delete iSCSI extent {name}?' | translate: { name: extent.name }">
<div>
  <form [formGroup]="form">
    @if (isFile) {
      <ix-checkbox
        formControlName="remove"
        [label]="'Remove file?' | translate"
      ></ix-checkbox>
    }
    <ix-checkbox
      formControlName="force"
      [label]="'Force' | translate"
    ></ix-checkbox>
  </form>
</div>
<ix-form-actions tnDialogAction class="form-actions">
  <button
    mat-button
    ixTest="cancel"
   
  >
    {{ 'Cancel' | translate }}
  </button>
  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    color="warn"
    ixTest="delete"
    (click)="onDelete()"
  >
    {{ 'Delete' | translate }}
  </button>
</ix-form-actions>
</tn-dialog-shell>
