<ix-fake-progress-bar class="loader-bar" [loading]="isLoading$ | async"></ix-fake-progress-bar>

<div class="disk-tree-wrapper">
  <div class="disk-tree-inner">
    <div class="disk-tree-header">
      <div>
        <span class="disk-name-header">{{ 'Name' | translate }}</span>
      </div>
      <div class="disk-status-header">{{ 'Status' | translate }}</div>
      <div>{{ 'Read' | translate }}</div>
      <div>{{ 'Write' | translate }}</div>
      <div>{{ 'Checksum' | translate }}</div>
      <div>{{ 'Errors' | translate }}</div>
      <div>{{ 'Actions' | translate }}</div>
    </div>

    <ix-tree class="disk-tree" [dataSource]="dataSource" [treeControl]="treeControl">
      <ix-tree-node
        *ixTreeNodeDef="let topologyItem; dataSource: dataSource"
        ixTreeNodeToggle
        [ixTreeNodeDefDataSource]="dataSource"
      >
        <button mat-icon-button disabled></button>
        <ix-bootenv-node-item
          [node]="topologyItem"
          [poolInstance]="poolInstance"
          [oneDisk]="oneDisk"
          (invokeAction)="doAction($event)"
        ></ix-bootenv-node-item>
      </ix-tree-node>

      <ix-nested-tree-node
        *ixTreeNodeDef="let topologyItem; dataSource: dataSource, when: hasNestedChild"
        [ixTreeNodeDefDataSource]="dataSource"
      >
        <div class="disk-nested-tree-root-node">
          <button
            mat-icon-button
            ixTreeNodeToggle
            (click)="$event.preventDefault()"
            [attr.aria-label]="'Toggle {row}' | translate: { row: topologyItem.guid }"
          >
            <mat-icon>{{ treeControl.isExpanded(topologyItem) ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>
          <ix-bootenv-node-item
            [node]="topologyItem"
            [poolInstance]="poolInstance"
            [oneDisk]="oneDisk"
            (invokeAction)="doAction($event)"
          ></ix-bootenv-node-item>
        </div>

        <ng-container *ngIf="treeControl.isExpanded(topologyItem)" ixTreeNodeOutlet></ng-container>
      </ix-nested-tree-node>
    </ix-tree>
  </div>
</div>
