@import 'mixins/cards';

.card {
  @include details-card();
  margin: 0;

  .details-item .value {
    display: inline-flex;
  }

  ::ng-deep ngx-skeleton-loader {
    display: flex;

    .loader {
      margin: 0;
    }
  }
}

.containers {
  margin-top: 16px;

  h4 {
    margin-bottom: 8px;
  }
}

.container-list {
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  max-height: 200px;
  min-height: 40px;
  overflow-y: auto;
  padding: 12px;
}

.container-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .container-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
  }

  .container-status {
    flex: 1;
  }

  .container-action {
    align-items: center;
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
  }
}
