<mat-card class="card">
  <mat-card-header>
    <h3 mat-card-title>
      {{ 'Containers' | translate }}
    </h3>
    <button
      *ngIf="app"
      mat-button
      [ixTest]="[app.name, 'shell']"
      (click)="shellButtonPressed()"
    >
      {{ 'Shell' | translate }}
    </button>
  </mat-card-header>
  <mat-card-content>
    <div class="details-list">
      <div class="details-item">
        <span class="label">{{ 'Pods' | translate }}:</span>
        <span class="value">
          {{ appResources?.resources?.pods?.length || 0 }}
        </span>
      </div>
      <div class="details-item">
        <span class="label">{{ 'Used Ports' | translate }}:</span>
        <span class="value">
          <ng-container *ngIf="app?.used_ports; else notAvailable">
            {{ getPorts(app) }}
          </ng-container>
        </span>
      </div>
      <div class="details-item">
        <span class="label">{{ 'Deployments' | translate }}:</span>
        <span class="value">
          {{ appResources?.resources?.deployments?.length || 0 }}
        </span>
      </div>
      <div class="details-item">
        <span class="label">{{ 'Stateful Sets' | translate }}:</span>
        <span class="value">
          {{ appResources?.resources?.statefulsets?.length || 0 }}
        </span>
      </div>
    </div>
    <div class="containers">
      <h4>{{ 'Containers' | translate }}</h4>
      <div class="container-list">
        <ngx-skeleton-loader *ngIf="isLoading"></ngx-skeleton-loader>
        <ng-container *ngIf="!isLoading && appResources?.resources?.container_images;">
          <div
            *ngFor="let containerImage of appResources.resources.container_images | keyvalue;"
            class="container-item"
          >
            <span class="container-name">{{ containerImage.key }}</span>
            <span class="container-status">
              <ng-container *ngIf="containerImage?.value?.update_available; else upToDate">
                {{ 'Update available' | translate }}
              </ng-container>
            </span>
            <span class="container-action">
              <button
                type="button"
                [ixTest]="[containerImage.key, 'view_logs']"
                (click)="viewLogsButtonPressed()"
              >{{ 'View Logs' | translate }}</button>
            </span>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #upToDate>
  {{ 'Up to date' | translate }}
</ng-template>

<ng-template #notAvailable>
  {{ 'N/A' | translate }}
</ng-template>
