@import 'mixins/cards';

.card {
  @include details-card();

  .details-item .value {
    display: inline-flex;
  }

  ::ng-deep ngx-skeleton-loader {
    display: flex;

    .loader {
      margin: 0;
    }
  }
}

.containers {
  margin-top: 16px;

  h4 {
    margin-bottom: 8px;
  }
}

.container-list {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 12px;
}

.container-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2px 0;

  .container-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
  }

  .container-status {
    flex: 1;
  }

  .container-action {
    flex: 1;
    text-align: right;
  }

  button {
    background: none;
    border: 0;
    color: var(--fg2);
    cursor: pointer;
    overflow: hidden;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
