<mat-card class="card">
  <mat-card-header>
    <h3 mat-card-title>
      {{ 'Workloads' | translate }}
    </h3>

    @if (isLoading) {
      <mat-spinner [diameter]="20"></mat-spinner>
    }
  </mat-card-header>
  <mat-card-content>
    <div class="details-list">
      <div class="details-item">
        <div class="label">{{ 'Pods' | translate }}:</div>
        <div class="value">
          @if (true) {
            <!-- TODO: Fix app resource pods -->
            {{ 'N/A' | translate }}
            <!-- {{ app.resources.pods.length }} -->
          }
        </div>
      </div>
      <div class="details-item">
        <div class="label">{{ 'Used Ports' | translate }}:</div>
        <div class="value">
          @if (app?.active_workloads?.used_ports?.length) {
            {{ getPorts(app) }}
          } @else {
            {{ 'N/A' | translate }}
          }
        </div>
      </div>
      <div class="details-item">
        <div class="lael">{{ 'Deployments' | translate }}:</div>
        <div class="value">
          @if (true) {
            <!-- TODO: Fix app resource deployments -->
            <!-- {{ app.resources.deployments.length }} -->
            {{ 'N/A' | translate }}
          }
        </div>
      </div>
      <div class="details-item">
        <div class="label">{{ 'Stateful Sets' | translate }}:</div>
        <div class="value">
          @if (true) {
            <!-- TODO: Fix app resource statefulsets -->
            <!-- {{ app.resources.statefulsets.length }} -->
            {{ 'N/A' | translate }}
          }
        </div>
      </div>
    </div>
    <div class="containers">
      <h4>{{ 'Containers' | translate }}</h4>
      <div class="container-list">
        @if (!isLoading || containerImages) {
          @if (containerImages) {
            @for (containerImage of containerImages | keyvalue; track containerImage) {
              <div class="container-item">
                <div class="container-name">{{ containerImage.key }}</div>
                <!-- TODO: https://ixsystems.atlassian.net/browse/NAS-130392 -->
                <!-- <div class="information">
                  @if (app.state === chartReleaseStatus.Active || app.state === chartReleaseStatus.Deploying) {
                    <div class="container-action">
                      <button
                        *ixRequiresRoles="requiredRoles"
                        mat-icon-button
                        matTooltipPosition="above"
                        [attr.aria-label]="'Shell' | translate"
                        [ixTest]="[containerImage.key, 'shell']"
                        [matTooltip]="'Shell' | translate"
                        (click)="shellButtonPressed(containerImage.key)"
                      >
                        <ix-icon name="mdi-console"></ix-icon>
                      </button>
                      <button
                        mat-icon-button
                        matTooltipPosition="above"
                        [attr.aria-label]="'View Logs' | translate"
                        [ixTest]="[containerImage.key, 'view_logs']"
                        [matTooltip]="'View Logs' | translate"
                        (click)="viewLogsButtonPressed(containerImage.key)"
                      >
                        <ix-icon name="mdi-text-box"></ix-icon>
                      </button>
                    </div>
                  }
                </div> -->
              </div>
            }
          } @else {
            {{ 'No containers are available.' | translate }}
          }
        } @else {
          <ngx-skeleton-loader></ngx-skeleton-loader>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>




