nav.view-nav-bar{
  background-color:var(--alt-bg1);
  color:var(--alt-fg1);
  width:100%;
  /*height:34px;
  padding-bottom: 4px;
  margin:-15px 0 32px;*/
}

.view-nav-btn-icon, 
.view-nav-btn-label{
  display:inline-block;
}

.view-nav-btn-icon{
  font-size:155%
}

.view-nav-btn-label{
  font-size:120%;
  position:relative;
  top: -2px;
  left: 2px;
}

.view-nav-bar .view-nav-btn{
  height:38px; /* Componensate for border width*/
  text-transform: capitalize !important;
  border-bottom: solid 2px rgba(0,0,0,0);
  border-radius:0;
}

.view-nav-bar .view-nav-btn.active{
  border-bottom-color:var(--blue);
}

.view-card{
  max-width:960px;
  margin: 0 auto;
  min-height:480px;
  padding:0;
}

.enclosure-selector{
  color: #efefef;
  background-color: #000;
  width: 240px;
  height: 100%;
  overflow: auto;
  /*position:absolute;
  right: 0;
  overflow:auto;
  z-index:2;*/
}

.enclosure-selector .enclosure{
  text-align:center;
  min-height: 164px;
  border-bottom: solid 1px #333;
  border-left: solid 4px rgba(0,0,0,0);
  padding:12px 0 24px;
}

.enclosure-selector .enclosure.active{
  border-left: solid 4px var(--primary);
}

.enclosure-selector .enclosure:hover{
  background-color:rgba(255,255,255,0.1);
}

.enclosure-selector .enclosure > div{
  margin-bottom:16px;
}

.enclosure canvas{
  width:80% !important;
}

.page-viewport{
  width:100%;
  /*min-width:1024px;*/
  overflow-x:auto;
  height: calc(100vh - 88px);
  position:absolute;
  top:88px;
  left:0;
}

.main-content{
  height:100%;
  overflow:auto;
  position:relative;
}

.spinner{
  position:absolute;
  left: calc(50% - 20px);
  top:64px;
  z-index:4;
}

.lt-lg.enclosure-selector{
  color: var(--red);
}
