.mat-card.error {
  margin: 16px auto 0 ;
  /*padding: 16px 16px 24px;*/
  padding: 0 16px;
  width: 600px;
}

.mat-card.error .error-message {
  text-align: left;
}

.mat-card.error .error-message,
.mat-card.error .error-header,
.mat-card.error .error-footer {
  padding:16px 0;
}

nav.view-nav-bar{
  background-color: var(--bg2);
  color:var(--alt-fg1);
  width:100%;
  box-shadow: 0 1px 6px rgba(0,0,0,0.5);
  position: relative;
  z-index: 2;
}

.view-nav-btn-icon, 
.view-nav-btn-label{
  display:inline-block;
}

.view-nav-btn-icon{
  font-size:155%
}

.view-nav-btn-label{
  font-size:120%;
  position:relative;
  top: -2px;
  left: 2px;
}

.view-nav-bar .view-nav-btn{
  height:38px; /* Componensate for border width*/
  text-transform: capitalize !important;
  border-bottom: solid 2px rgba(0,0,0,0);
  border-radius:0;
  color: var(--fg2);
}

.view-nav-bar .view-nav-btn.active{
  border-bottom-color:var(--blue);
}

.view-card{
  max-width:960px;
  margin: 0 auto;
  min-height:480px;
  padding:0;
}

.enclosure-selector{
  color: var(--fg2);
  background-color: var(--bg2);
  width: 240px;
  height: 100%;
  overflow: auto;
}

.enclosure-selector .enclosure{
  text-align:center;
  min-height: 164px;
  border-bottom: solid 1px #333;
  border-left: solid 4px rgba(0,0,0,0);
  padding:12px 0 24px;
}

.enclosure-selector .enclosure.active{
  border-left: solid 4px var(--primary);
}

.enclosure-selector .enclosure:hover{
  background-color:rgba(255,255,255,0.1);
}

.enclosure-selector .enclosure > div{
  margin-bottom:16px;
}

.enclosure canvas{
  width:80% !important;
}

.page-viewport{
  width:100%;
  overflow-x:auto;
  height: calc(100vh - 88px);
  position:absolute;
  top:0;
  left:0;
}

.main-content{
  /*height:100%;*/
  overflow:auto;
  position:relative;
}

.spinner{
  position:absolute;
  left: calc(50% - 20px);
  top:64px;
  z-index:4;
}

.lt-lg.enclosure-selector{
  color: var(--red);
}
