
<div *ngIf="system && system.enclosures" class="page-viewport" fxLayout="row wrap" >
  
  <div fxFlex="100">
    <nav class="view-nav-bar" >
      <span *ngFor="let button of views; let i=index;">
        <span *ngIf="button.showInNavbar" class="view-nav-btn mat-button mat-default" (click)="changeView(button.id)" [ngClass]="{'active': button.name == currentView.name}">
          <div class="view-nav-btn-icon" ><mat-icon role="img" fontSet="mdi-set" fontIcon="mdi-{{button.icon}}"></mat-icon></div>
          <div class="view-nav-btn-label">{{button.name}}</div>
        </span>
      </span>
    </nav>
  </div>

<!-- Persistent Visualizer -->
<div class="main-content" fxFlex="calc(100% - {{ (system.enclosures.length * 240).toString() }}px )">
  <div style="padding:64px"> 
    <enclosure-disks style.padding="32px 0 0 0"  
      *ngIf="events && system && system.pools && selectedEnclosure" 
      [controller-events]="events" 
      [current-tab]="currentView" 
      [system-profiler]="system" 
      [selected-enclosure]="selectedEnclosure">
    </enclosure-disks>
  </div>
</div>

<!--<enclosure-disks *ngIf="system && system.pools && selectedEnclosure && currentView == 'Disks'" [system-profiler]="system" [selected-enclosure]="selectedEnclosure"></enclosure-disks>-->

<!-- Enclosure Selector -->
<div fxFlex="240px" #navigation  *ngIf="events && system && system.pools && system.enclosures && system.enclosures.length > 1" class="enclosure-selector">
  <div *ngFor="let enclosure of system.enclosures; let i = index" (click)="selectEnclosure(i)" class="enclosure enclosure-{{i}} {{selectedEnclosure.enclosureKey == i ? 'active' : '' }} ">
    <div>{{enclosure.model}} ({{i}})</div>
  </div>
</div>
</div>
