@if (nonUniqueSerialDisks().length) {
  <tn-form-field [tooltip]="nonUniqueSerialDisksTooltip()">
    <tn-checkbox
      testId="allow-duplicate-serials"
      [formControl]="allowDuplicateSerials"
      [label]="'Allow non-unique serialed disks (not recommended)' | translate"
      [required]="true"
    ></tn-checkbox>
  </tn-form-field>
}

<tn-form-field
  [label]="label() || ''"
  [tooltip]="tooltip() || ''"
  [required]="required()"
>
  <tn-autocomplete
    [testId]="testId()"
    [formControl]="diskControl"
    [options]="(shownOptions$ | async) ?? []"
    [requireSelection]="true"
  ></tn-autocomplete>
</tn-form-field>
