.form-actions {
  margin: 8px 10px;
}

.linked-input {
  margin-bottom: -10px;
}

.link {
  color: var(--primary);
  cursor: pointer;
  font-size: x-small;
  margin-top: -10px;

  mat-icon {
    font-size: 12px;
  }
}
