<mat-card class="card">
  <mat-card-header>
    <h3 mat-card-title>
      {{ 'General Info' | translate }}
    </h3>

    <button
      mat-button
      ixTest="edit-instance"
      (click)="editInstance()"
    >
      {{ 'Edit' | translate }}
    </button>
  </mat-card-header>

  <mat-card-content>
    @if (instance(); as instance) {
      <p>
        <span class="label">{{ 'Description' | translate }}:</span>
        {{ instance.description || ('N/A' | translate) }}
      </p>
      <p>
        <span class="label">{{ 'Autostart' | translate }}:</span>
        {{ instance.autostart | yesNo }}
      </p>
      <p>
        <span class="label">{{ 'Dataset' | translate }}:</span>
        {{ instance.dataset }}
      </p>
      <p>
        <span class="label">{{ 'Virtual CPUs' | translate }}:</span>
        {{ instance.vcpus ?? ('N/A' | translate) }}
      </p>
      <p>
        <span class="label">{{ 'Cores' | translate }}:</span>
        {{ instance.cores ?? ('N/A' | translate) }}
      </p>
      <p>
        <span class="label">{{ 'Threads' | translate }}:</span>
        {{ instance.threads ?? ('N/A' | translate) }}
      </p>
      <p>
        <span class="label">{{ 'CPU Set' | translate }}:</span>
        {{ instance.cpuset || ('All Host CPUs' | translate) }}
      </p>
      <p>
        <span class="label">{{ 'Memory' | translate }}:</span>
        @if (instance.memory) {
          {{ instance.memory }} MB
        } @else {
          {{ 'Available Host Memory' | translate }}
        }
      </p>
      <p>
        <span class="label">{{ 'Container Time' | translate }}:</span>
        {{ instance.time }}
      </p>
      <p>
        <span class="label">{{ 'Shutdown Timeout' | translate }}:</span>
        {{ instance.shutdown_timeout }} {{ 'seconds' | translate }}
      </p>
      <p>
        <span class="label">{{ 'Init Process' | translate }}:</span>
        {{ instance.init }}
      </p>
      @if (instance.initdir) {
        <p>
          <span class="label">{{ 'Init Working Directory' | translate }}:</span>
          {{ instance.initdir }}
        </p>
      }
      @if (instance.inituser) {
        <p>
          <span class="label">{{ 'Init User' | translate }}:</span>
          {{ instance.inituser }}
        </p>
      }
      @if (instance.initgroup) {
        <p>
          <span class="label">{{ 'Init Group' | translate }}:</span>
          {{ instance.initgroup }}
        </p>
      }
      <p>
        <span class="label">{{ 'Capabilities Policy' | translate }}:</span>
        {{ instance.capabilities_policy | mapValue: containerCapabilitiesPolicyLabels | translate }}
      </p>
    }
  </mat-card-content>

  <mat-card-actions>
    <button
      *ixRequiresRoles="[Role.ContainerWrite]"
      mat-button
      ixTest="delete-instance"
      (click)="deleteInstance()"
    >
      {{ 'Delete' | translate }}
    </button>
  </mat-card-actions>
</mat-card>

