@import 'scss-imports/cssvars';

:host {
  color: var(--fg2);
  display: block;
  height: 100%;
  overflow: auto;
  position: relative;
  width: 240px;

  @media (max-width: $breakpoint-md) {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: auto;
    gap: 5px;

    ix-enclosure-side {
      width: 40vw;
      max-width: 200px;
    }
  }
}

.enclosure {
  background-color: var(--bg2);
  border: 1px solid var(--lines);
  border-bottom-width: 0;
  border-left: solid 4px transparent;
  cursor: pointer;
  display: block;
  padding: 12px 0 16px;
  text-align: center;

  &:hover {
    background-color: var(--alt-bg1);
  }

  &:last-child {
    border-bottom-width: 1px;
  }

  &.active {
    border-left: solid 4px var(--primary);
  }

  .enclosure-image {
    margin: 10px 16px;
  }
}
