@for (enclosure of enclosures(); track enclosure; let i = $index) {
  <a
    class="enclosure"
    [class.active]="enclosure.id === selectedEnclosure()"
    [ixTest]="['select-enclosure', enclosure.model]"
    [routerLink]="['/system', 'viewenclosure', enclosure.id]"
    >
    <!-- TODO: Slots were colored in old enclosure -->
    <!-- TODO: Add skeleton -->
    <ix-enclosure-side
      class="enclosure-image"
      [enclosure]="enclosure"
      [enableMouseEvents]="false"
    ></ix-enclosure-side>
    <div class="enclosure-label">
      {{ enclosure.label || enclosure.model }} ({{ i + 1 }})
    </div>
  </a>
}
