@import 'scss-imports/variables';

:host {
  background-color: var(--bg1);
  display: inline-table;
  height: 100%;
  padding: 30px 0;
}

::ng-deep {
  z-index: 99999;

  .cdk-overlay-container {
    z-index: 99999;
  }

  .cdk-overlay-pane.full-screen-modal,
  .mat-mdc-dialog-container {
    max-width: none !important;
  }
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  padding: 24px 0;
  width: 95%;

  @media(max-width: $breakpoint-sm) {
    flex-wrap: wrap;

    .left-side,
    .right-side {
      width: 100%;
    }
  }

  @media(min-width: $breakpoint-sm) {
    .left-side,
    .right-side {
      max-width: 40vw;
    }
  }

  .left-side {
    ::ng-deep {
      form {
        padding: 8px 16px 16px;
      }
    }
  }

  ::ng-deep {
    mat-card {
      margin: 0;
      width: 100%;

      .mat-toolbar-row {
        padding: 16px;
      }
    }

    .step-finished mat-card .mat-toolbar-row h3 {
      padding-right: 25px;
      position: relative;

      &::after {
        content: '✅';
        font-size: 16px;
        margin-left: 10px;
        position: static;
      }
    }
  }
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
