<div *ngIf="entity && conf" fxFlex class="entity-table-controls" fxLayout="row wrap" fxLayoutAlignGap="16px" fxLayoutAlign="end center">

  <!-- SEARCH -->
  <!-- TODO: Replace with ix-input when its ready -->
  <div class="form-element" id="row-filter">
    <mat-form-field floatPlaceholder="auto">
      <span matPrefix class="search-icon-wrapper"><mat-icon>search</mat-icon></span>
      <input matInput #filter placeholder="{{'Filter' | translate}} {{'Dataset Names' | translate}}"
        class="mat-input-element"
        ix-auto
        ix-auto-type="input"
        ix-auto-identifier="Filter {{entity.title}}">
      <span
        class="reset-filter-icon"
        [class.invisible]="!filterValue || filterValue.length == 0"
        matSuffix
      >
        <mat-icon (click)="resetDatasetFilter()" role="img" fontSet="mdi-set" fontIcon="mdi-close-circle"></mat-icon>
      </span>
    </mat-form-field>
  </div>
  <!-- END SEARCH -->

  <!-- CREATE & IMPORT BUTTONS -->
  <div class="entity-add-actions-wrapper">
    <button
      class="menu-toggle"
      mat-button
      [matTooltip]="'Import an existing pool.' | translate"
      ix-auto
      ix-auto-type="button"
      ix-auto-identifier="_POOL_IMPORT"
      (click)="onClickImport()"
    >
      {{'Import' | translate}}
    </button>
  </div>

  <div class="entity-add-actions-wrapper">
    <a
      class="menu-toggle"
      mat-button
      color="primary"
      [matTooltip]="'Create a new pool.' | translate"
      ix-auto
      ix-auto-type="button"
      ix-auto-identifier="_POOL_CREATE"
      [routerLink]="['/storage/manager']"
    >
      {{'Create Pool' | translate}}
    </a>
  </div>
  <!-- END CREATE & IMPORT BUTTONS -->

  <div>
    <button mat-button [matMenuTriggerFor]="snapshotsMenu" class="menu-toggle" ix-auto ix-auto-type="button" ix-auto-identifier="tab-selector">
      <span>{{ 'Snapshots' | translate }} <mat-icon class="menu-caret">arrow_drop_down</mat-icon></span>
    </button>

    <mat-menu #snapshotsMenu>
      <a
        mat-menu-item
        ix-auto
        ix-auto-type="button"
        ix-auto-identifier="STORAGE_SNAPSHOTS"
        [routerLink]="['/storage/snapshots']"
      >
        {{ 'Snapshots' | translate }}
      </a>
      <a
        mat-menu-item
        ix-auto
        ix-auto-type="button"
        ix-auto-identifier="STORAGE_VMWARE_SNAPSHOTS"
        [routerLink]="['/storage/vmware-snapshots']"
      >
        {{ 'VMware-Snapshots' | translate }}
      </a>
    </mat-menu>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="disksMenu" class="menu-toggle" ix-auto ix-auto-type="button" ix-auto-identifier="tab-selector">
      <span>{{ 'Disks' | translate }} <mat-icon class="menu-caret">arrow_drop_down</mat-icon></span>
    </button>

    <mat-menu #disksMenu>
      <a
        mat-menu-item
        ix-auto
        ix-auto-type="button"
        ix-auto-identifier="STORAGE_DISKS"
        [routerLink]="['/storage/disks']"
      >
        {{ 'Disks' | translate }}
      </a>
      <a
        mat-menu-item
        ix-auto
        ix-auto-type="button"
        ix-auto-identifier="STORAGE_IMPORT_DISK"
        [routerLink]="['/storage/import-disk']"
      >
        {{ 'Import Disk' | translate }}
      </a>
    </mat-menu>
  </div>

  <mat-spinner
    [diameter]="40"
    *ngIf="!entity.showDefaults && entity.showSpinner"
    id="entity-spinner"
    #entityspinner
    style="margin-left: 8px;"
  >
  </mat-spinner>
</div>
