@let schema = dynamicSchema();
@if (schema) {
  <div
    [formGroup]="dynamicForm()"
    [class.indent]="schema?.indent"
  >
    @if (!(isHidden$ | async)) {
      @switch (schema.type) {
        @case (DynamicFormSchemaType.Cron) {
          <ix-scheduler
            [formControlName]="schema.controlName"
            [label]="schema.title | translate"
            [tooltip]="schema.tooltip | translate"
            [required]="schema.required"
          ></ix-scheduler>
        }

        @case (DynamicFormSchemaType.Dict) {
          @if (schema.title) {
            <div class="label">
              <div class="label-wrapper">
                {{ schema.title }}
              </div>

              @if (schema.tooltip) {
                <div class="label-tooltip">
                  <ix-tooltip
                    class="tooltip"
                    [header]="schema.title"
                    [message]="schema.tooltip"
                  ></ix-tooltip>
                </div>
              }
            </div>
          }

          @for (attr of schema.attrs; track attr) {
            <ix-dynamic-form-item
              [id]="attr.controlName"
              [dynamicSchema]="attr"
              [dynamicForm]="dynamicForm().controls[schema.controlName] | cast"
              [isEditMode]="isEditMode()"
              (addListItem)="addControlNext($event)"
              (deleteListItem)="removeControlNext($event)"
            ></ix-dynamic-form-item>
          }
        }

        @case (DynamicFormSchemaType.Text) {
          <ix-code-editor
            [language]="schema.language"
            [label]="schema.title | translate"
            [formControlName]="schema.controlName"
            [tooltip]="schema.tooltip | translate"
            [placeholder]="schema.placeholder | translate"
            [required]="schema.required"
          ></ix-code-editor>
        }

        @case (DynamicFormSchemaType.List) {
          <ix-list
            [label]="schema.title | translate"
            [empty]="getFormArray.controls.length === 0"
            [formArrayName]="schema.controlName"
            [default]="schema.default"
            [tooltip]="schema.tooltip | translate"
            [itemsSchema]="schema.itemsSchema"
            [required]="schema.required"
            [isEditMode]="isEditMode()"
            [canAdd]="!isAllListControlsDisabled"
            [formArray]="getFormArray"
            (add)="addControl($event)"
          >
            @for (element of getFormArray.controls; track element; let i = $index) {
              <ix-list-item
                [label]="schema.title | translate"
                [canDelete]="!isAllListControlsDisabled"
                (delete)="removeControl(i)"
              >
                @for (item of schema.items; track item) {
                  <ix-dynamic-form-item
                    [dynamicSchema]="item"
                    [dynamicForm]="element | cast"
                    [isEditMode]="isEditMode()"
                    (addListItem)="addControlNext($event)"
                    (deleteListItem)="removeControlNext($event)"
                  ></ix-dynamic-form-item>
                }
              </ix-list-item>
            }
            <ix-errors [control]="dynamicForm()" [label]="schema.title | translate"></ix-errors>
          </ix-list>
        }

        @case (DynamicFormSchemaType.Input) {
          <ix-input
            [formControlName]="schema.controlName"
            [label]="schema.title | translate"
            [placeholder]="schema.placeholder | translate"
            [tooltip]="schema.tooltip | translate"
            [required]="schema.required"
            [type]="schema.inputType"
          ></ix-input>
        }

        @case (DynamicFormSchemaType.Uri) {
          <ix-input
            [formControlName]="schema.controlName"
            [label]="schema.title | translate"
            [placeholder]="schema.placeholder | translate"
            [tooltip]="schema.tooltip | translate"
            [required]="schema.required"
            [type]="schema.inputType"
          ></ix-input>
        }

        @case (DynamicFormSchemaType.Select) {
          <ix-select
            [formControlName]="schema.controlName"
            [label]="schema.title | translate"
            [options]="schema.options"
            [tooltip]="schema.tooltip | translate"
            [required]="schema.required"
            [hideEmpty]="schema.hideEmpty"
          ></ix-select>
        }

        @case (DynamicFormSchemaType.Enum) {
          <ix-combobox
            [formControlName]="schema.controlName"
            [label]="schema.title | translate"
            [provider]="getEnumTypeProvider(schema.options)"
            [tooltip]="schema.tooltip | translate"
            [required]="schema.required"
          ></ix-combobox>
        }

        @case (DynamicFormSchemaType.Explorer) {
          <ix-explorer
            [formControlName]="schema.controlName"
            [label]="schema.title | translate"
            [tooltip]="schema.tooltip | translate"
            [required]="schema.required"
            [nodeProvider]="schema.nodeProvider"
          ></ix-explorer>
        }

        @case (DynamicFormSchemaType.Checkbox) {
          <ix-checkbox
            [formControlName]="schema.controlName"
            [label]="schema.title | translate"
            [tooltip]="schema.tooltip | translate"
            [required]="schema.required"
          ></ix-checkbox>
        }

        @case (DynamicFormSchemaType.Ipaddr) {
          <ix-ip-input-with-netmask
            [formControlName]="schema.controlName"
            [label]="schema.title | translate"
            [tooltip]="schema.tooltip | translate"
            [required]="schema.required"
          ></ix-ip-input-with-netmask>
        }
      }
    }
  </div>
}
