#row-filter.form-element .mat-form-field-wrapper {
    padding: 4px 8px;
}

div#row-filter.form-element.toolbar-input {
    position: relative;
    display: inline-block;

    .toolbar-input-placeholder {
        position: absolute;
        top: 13px;
        left: 35.5px;
        opacity: 0.55;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }
}

