<button
  name="Power"
  mat-icon-button
  class="topbar-button-right size-[50px]! bg-background!"
  ixTest="power-menu"
  [matTooltip]="tooltips.power | translate"
  [matMenuTriggerFor]="powerMenu"
  [ixUiSearch]="searchableElements.elements.powerMenu"
>
  <tn-icon class="!text-foreground" size="lg" name="app-power_settings_new" library="custom"></tn-icon>
</button>
<mat-menu #powerMenu="matMenu">
  <button
    *ixRequiresRoles="requiredRoles"
    name="power-restart"
    mat-menu-item
    ixTest="restart"
    [ixUiSearch]="searchableElements.elements.restart"
    (click)="onReboot()"
  >
    <tn-icon size="lg" name="refresh" library="mdi"></tn-icon>
    {{ 'Restart' | translate }}
  </button>

  <button
    *ixRequiresRoles="requiredRoles"
    name="power-shut-down"
    mat-menu-item
    ixTest="shut-down"
    [ixUiSearch]="searchableElements.elements.shutDown"
    (click)="onShutdown()"
  >
    <tn-icon size="lg" name="power" library="mdi"></tn-icon>
    {{ 'Shut Down' | translate }}
  </button>
</mat-menu>
