@import 'scss-imports/cssvars';

.mat-sidenav-container {
  height: 100vh;
}

.mat-sidenav {
  min-width: 240px;
}

.alert-sidenav {
  max-width: 30%;
  min-width: 350px;
  width: 400px;
}

.app-logo,
.app-logo-text {
  position: relative;
}

.app-logo {
  height: 36px;
  top: 13px;
  width: 36px;
}

.logo-text {
  align-items: center;
  display: flex;
}

.branding {
  align-items: center;
  background-color: var(--topbar) !important;
  color: var(--topbar-txt) !important;
  display: flex;
  height: 48px;
  justify-content: center;
  left: 0;
  line-height: 64px;
  max-width: var(--sidenav-width); /*15rem;*/
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;

  .app-logo {
    margin-left: 8px;
    margin-right: 8px;
  }

  .app-logo-text {
    height: auto;
    margin-right: 8px;
    width: 96px;
  }

  // 'truenas-' + (productType$ | async | lowercase)
  &.truenas-scale {
    .app-logo {
      height: 40px;
      top: 12px;
      width: 40px;
    }
  }
}

.logo:focus-visible,
.logo-text:focus-visible {
  background: var(--focus-bg);
  box-shadow: 0 0 0 1px var(--focus-brd) inset !important;
  outline-width: 0;
}

.app-side-nav-container {
  height: 100vh;
  height: 100%;
}

.enterprise-logo .ix-icon {
  height: auto !important;
  margin-left: -4px !important;
  top: 14px !important;
  width: 108px !important;
}

/* To get rid of VScroll on entity tables */
.rightside-content-hold {
  padding-bottom: 5px;
}

.hostname-label {
  font-size: 12px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.fn-maincontent {
  overflow: hidden !important;
}

.sidenav-copyright-txt {
  font-size: 0.6rem;
  margin: 1rem auto;
  opacity: 0.5;
  text-align: center;
  width: 100%;

  .copyright-line {
    font-size: 10px;
    margin: 0 58px;
  }
}

.sidenav-copyright-icon {
  margin: 3rem auto 0.5rem;
  opacity: 0.4;
  text-align: center;
}

ix-jw-modal {
  display: block;
}

.slidein-nav {
  z-index: 100;

  &.slidein-nav-sm {
    @media #{$media-gt-sm} {
      display: none;
    }
  }

  &.slidein-nav-md {
    display: block;

    @media #{$media-lt-md} {
      display: none;
    }
  }
}

#scroll-area {
  max-height: 100vh;
  overflow: auto;
}

.rightside-content-hold {
  display: block;
  height: calc(100% - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px;
  position: absolute;
  top: 48px;
  width: 100%;

  &.has-footer {
    height: calc(100% - 95px);
  }
}

.isdark {
  display: block;
}

ix-navigation {
  height: 100%;
  overflow: auto;
}
