<md-card>
  <md-card-title>
    The system will reboot to perform this operation!
  </md-card-title>
  <md-card-subtitle>
    All password will be reset in case your configuration bundle does not include the password secret seed.
  </md-card-subtitle>
  <md-card-content>
    <input type="file" ngFileSelect [options]="options" (onUpload)="handleUpload($event)">
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" (click)="doSubmit($event)">Submit</button>
  </md-card-actions>
</md-card>
