@import '~assets/styles/mixins/cards';
@import '~assets/styles/mixins/animations';

:host {
  display: flex;
}

.card {
  @include details-card();
  flex: 1;

  .content-container {
    height: 100%;
  }

  .details-item {
    margin: 8px 0;
  }
}

.pool-icon {
  &.icon-online {
    color: var(--green);
  }

  &.icon-warning {
    color: var(--orange);
  }

  &.icon-faulted {
    color: var(--blue);
  }

  &.icon-error {
    color: var(--red);
  }
}

.scan-in-progress {
  @include fade-in();
  margin-top: 25px;

  .scan-description {
    text-align: center;
  }

  .scan-label {
    font-weight: bold;
  }

  .time-left {
    font-size: 0.9rem;
    text-align: center;
  }

  .progress {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
