.card-bg-wrapper{
  width:40%;
  height:100%;
  position:relative;
  text-align:center;
}

.card-bg{
  width:100%;
  height:100%;
  background-size:contain;
  background-position:50%;
  /*background-color:rgba(0,0,0,0.15);*/
  background-repeat:no-repeat;
  position:relative;
}

.bandwidth-summary{
  height:55%;
  padding:8px;
  width:100%;
  display:table;
  /*color:#fff;*/
}

.bandwidth-summary-label{
  cursor:default;
  position:absolute;
  text-align:right;
  right:16px;
}

.bandwidth-data{
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}

.bandwidth-data div.inner span.value{
  font-size:300%;
}

.bandwidth-data mat-icon.rx-icon, 
.bandwidth-data mat-icon.tx-icon{
  font-size:200%;
}

.xs .card-bg-wrapper{
  width:100%
}

.xs .card-bg{
  background-size:contain;
}

.data-container > div{
  text-align: left;
  margin: 8px 16px;
}

.data-container h3{
  font-weight:400;
}

.data-inline{
  display:inline-block;
  margin-right:16px;
  width:calc(50% - 32px);
}

.build-date{
  font-style:italic;
  opacity:0.5;
  font-size:85%;
}

.widget-loader{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:2;
}

/* SUMMARY (LEFT SIDE) */
.title-wrapper .title{
  font-size:150%;
}
.title-wrapper .subtitle{
  font-size:80%;
}
.title-wrapper{
  background-color:rgba(0,0,0,0.5);
  color:#fff;
  height:45%;
  text-align: left;
  padding: 16px;
}

.reports-btn{
  position:absolute;
  right:16px;
  bottom:16px;
}

/* DETAILS */
div.details{
  height:100%;
  padding:16px 0;
}
.label.bold strong{
  font-size:75%;
  font-weight:normal;
  opacity:0.5;
}
p.value{
  font-size:100%;
  font-weight:400;
  word-wrap:break-word;
}

.data-container > div{
  text-align: left;
  margin: 8px 16px;
}

.data-container h3{
  font-weight:400;
}

.data-inline{
  display:inline-block;
  margin-right:16px;
  width:calc(50% - 32px);
}

.xs-footer{
  display:none;
}

/* NARROW SCREENS */
.xs.widget.double-height{
  width:100%;
}
.xs .platform-image{
  height:100%;
}

.xs .title-wrapper{
  position: absolute;
  width: 100%;
  /*bottom: -100%;*/
  height:72px;
  top:0;
}

.xs .platform-logo img{
  width: 100px;
  position: absolute;
  bottom: 32px;
}

.xs .subtitle{
  font-size: 80%;
  position: absolute;
  bottom: 16px;
}
.xs .data-container{
  margin-top:16px;
}

.xs .xs-footer{
  display: block;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  max-height: 68px !important;
  color: #fff;
}

.xs .title-wrapper .reports-btn{
  display:none;
}

