/*.mat-card{
  max-width:960px;
  margin:0 auto;
}*/

.form-wrap {
	display: flex;
    flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    width: 100%;
}

.form-line {
	flex: 1 1 100%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    max-width: 100%;
}

.form-inline {
	flex: 1 1 33.33%;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    max-width: 33.33%;
}

.form-card {
    z-index:2;
}

.buttons {
    margin-left: -1px;
}

:host .dataset-acl-editor {
  margin-right: 16px !important;
}

/* Imported from embedded */
/* Embedded Form Styles */
.mat-content {
  padding:0 ;
  width:100%;
  height:100%;
  overflow: visible;
}

.mat-card-actions{
  width: 100%;
  margin-bottom:0;
  /*height: 10%;*/
  /*text-align: center;*/
  /*background-color: #fff;*/
  /*margin: 5px 0px;*/
  /*position: absolute;*/
  /*bottom: 0; */
}

.fieldset-container{
  /*position: fixed;*/
  width:100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fieldset-container .fieldset{
  display:flex;
  flex-flow:row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal; 
}

.fieldset.divider-true{
  min-height:32px;
  padding-top:16px;
}

.fieldset-container .fieldset .tooltip .material-icons{
  font-size:12px;
}

/* Default View */
.fieldset-container.fieldset-display-default{
  /*padding: 3%;*/
}
.fieldset-container.fieldset-display-default .fieldset{
  width:100%;
  margin:24px 0;
  /*height: 100%;*/
  /*float: left;*/
}

/* No Margins*/
.fieldset-container.fieldset-display-default .fieldset{
  margin:0;
}

// pw show button
#show-pw {
  margin-bottom: 10px;
}

// This hides a second button in Add Alert Services
// mat-divider + div {
//   height: 0;
//   visibility: hidden;
// }

#entity-table-spinner {
  position: absolute;
  top: 10px; left: 0; bottom: 0; right: 0;
  z-index: 10;
  margin: 0 auto;
}

span.form-message.info {
  color: var(--primary);
}
span.form-message.warning {
  color: var(--red);
}

#success-msg-wrapper {
  margin-top: 5px;
  margin-bottom: -10px;
  padding-left: 3px;
}

#form_message {
  margin-top: 8px;
  margin-bottom: -4px;
  padding-left: 3px;
}
#error_message {
  margin-top: 4px;
  padding-left: 3px;
}