/* Embedded Form Styles */
.mat-content {
  height: 100%;
  padding: 0;
  width: 100%;
}

.mat-card-actions {
  /*position: absolute;*/
  bottom: 0;
  height: 10%;
  /*background-color: #fff;*/
  margin: 5px 0;
  text-align: center;
  width: 100%; 
}

.fieldset-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85%;
  /*position: fixed;*/
  width: 100%;
}

.fieldset-container .fieldset {
  box-direction: normal;
  box-orient: horizontal;
  display: flex;
  flex-flow: row wrap; 
}

.fieldset-container .fieldset .tooltip .material-icons {
  font-size: 12px;
}

/* Default View */
.fieldset-container.fieldset-display-default {
  padding: 3%;
}

.fieldset-container.fieldset-display-default .fieldset {
  margin: 24px 0;
  width: 100%;
  /*height: 100%;
  float: left;*/
}


/* Carousel View */
.fieldset-container.fieldset-display-carousel {
  width: 200%;
}

.fieldset-container.fieldset-display-carousel .fieldset {
  width: 50%;
}

div.form-line,
div.form-inline {
  margin: 8px;
}

/* No Margins*/
.fieldset-container.fieldset-display-default .fieldset {
  margin: 0;
}

.fieldset.hidden {
  display: none !important;
}
