/* Embedded Form Styles */
.mat-content {
  padding:0 ;
  width:100%;
  height:100%;
}

.mat-card-actions{
  width: 100%;
  height: 10%;
  text-align: center;
  /*background-color: #fff;*/
  margin: 5px 0px;
  /*position: absolute;*/
  bottom: 0; 
}

.fieldset-container{
  /*position: fixed;*/
  width:100%;
  height: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.fieldset-container .fieldset{
  display:flex;
  flex-flow:row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal; 
}
.fieldset-container .fieldset .tooltip .material-icons{
  font-size:12px;
}

/* Default View */
.fieldset-container.fieldset-display-default{
  padding: 3%;
}
.fieldset-container.fieldset-display-default .fieldset{
  width:100%;
  margin:24px 0;
  /*height: 100%;
  float: left;*/
}


/* Carousel View */
.fieldset-container.fieldset-display-carousel{
  width: 200%;
}

.fieldset-container.fieldset-display-carousel .fieldset{
  width: 50%;
}

div.form-line,
div.form-inline{
  margin:8px;
}

/* No Margins*/
.fieldset-container.fieldset-display-default .fieldset{
  margin:0;
}

.fieldset.hidden{
  display:none !important;
}
