<ix-form
  [formGroup]="form"
  [requiredRoles]="requiredRoles"
  [submitHandler]="handleSubmit"
  (closed)="closed.emit($event)"
>
  <tn-form-section>
    <tn-form-field [label]="'Name' | translate" [required]="true">
      <tn-input formControlName="name" [required]="true" [testId]="'name'"></tn-input>
    </tn-form-field>

    <tn-form-field [label]="'Local Groups' | translate">
      <tn-group-chips
        formControlName="local_groups"
        [directoryOptions]="localGroupsOptions"
        [allowCustomValue]="false"
        [validateExistence]="false"
        [testId]="'local-groups'"
      ></tn-group-chips>
    </tn-form-field>

    @if (isEnterprise()) {
      <tn-form-field [label]="'Directory Services Groups' | translate">
        <tn-group-chips
          formControlName="ds_groups"
          [allowCustomValue]="true"
          [testId]="'ds-groups'"
        ></tn-group-chips>
      </tn-form-field>

      @if (showDsAuthButton()) {
        <div class="ds-auth-prompt">
          <p>{{ 'Directory Service users cannot login to TrueNAS WebUI. Enable DS authentication to allow access.' | translate }}</p>
          <tn-button
            color="primary"
            [testId]="'enable-ds-auth'"
            [disabled]="isEnablingDsAuth()"
            [label]="isEnablingDsAuth() ? ('Enabling...' | translate) : ('Enable DS Authentication' | translate)"
            (onClick)="enableDsAuth()"
          ></tn-button>
        </div>
      }
    }

    <tn-form-field
      [label]="'Roles' | translate"
      [tooltip]="helptext.minimalRolesTooltip | translate"
    >
      <tn-select
        formControlName="roles"
        [options]="(rolesOptions$ | async) ?? []"
        [multiple]="true"
        [showSelectAll]="true"
        [testId]="'roles'"
      ></tn-select>
    </tn-form-field>

    <tn-form-field>
      <tn-checkbox
        formControlName="web_shell"
        [label]="'Web Shell Access' | translate"
        [testId]="'web-shell'"
      ></tn-checkbox>
    </tn-form-field>
  </tn-form-section>
</ix-form>
