:host {
  color: var(--fg1);
  display: block;

  margin-bottom: 12px;
  margin-top: 18px;
  padding: 8px 0;
}

.label-container {
  margin-bottom: 1px;
  margin-left: 1px;

  .label {
    font-size: x-small;
  }

  .tooltip {
    margin-left: 8px;
    vertical-align: -4px;
  }
}

.input-container {
  font-size: 12px;
  position: relative;

  &.disabled {
    opacity: 0.38;
  }

  .upload-button {
    margin-top: 8px;
  }
}
