@if (!jsonText() || !isValidJson()) {
  <tn-icon-button
    matTooltipPosition="above"
    ixTest="copy-to-clipboard"
    name="content-copy"
    library="mdi"
    [matTooltip]="'Copy to Clipboard' | translate"
    (click)="copyToClipboard()"
  ></tn-icon-button>
}

@if (jsonText() && isValidJson()) {
  <tn-icon-button
    ixTest="copy-to-clipboard-menu"
    name="content-copy"
    library="mdi"
    [matTooltip]="'Copy to Clipboard' | translate"
    [matMenuTriggerFor]="menu"
  ></tn-icon-button>
}
<mat-menu #menu="matMenu">
  <button mat-menu-item ixTest="copy-text" (click)="copyToClipboard()">
    <span>{{ 'Copy Text' | translate }}</span>
  </button>
  <button mat-menu-item ixTest="copy-json-text" (click)="copyJsonToClipboard()">
    <span>{{ 'Copy Json' | translate }}</span>
  </button>
</mat-menu>
