<mat-card>
  <mat-card-title>Members of {{groupName}} group</mat-card-title>
  <mat-card-content>
    <div class="padding-16" *ngIf="members.length > 0">
      <app-dual-listbox [items]="members" [(selectedItems)]="selectedMembers">
        <ng-template #templateItem let-item="data">
          <mat-list-item class="pointer">{{item.username}}</mat-list-item>
        </ng-template>
      </app-dual-listbox>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="updateUsers()">{{ 'Save' | translate }}</button>
    <button mat-raised-button color="accent" (click)="cancel()">{{ 'Cancel' | translate }}</button>
  </mat-card-actions>
</mat-card>
