<div class="app-header">
  <h3 *ixWithLoadingState="app() as app" class="name">{{ app.name }}</h3>
  <div *ixWithLoadingState="app() as app" class="version">
    {{ app.metadata?.app_version | appVersion }}
  </div>
</div>
<div class="app-status">
  <ix-app-state-cell
    *ixWithLoadingState="app() as app"
    [app]="app"
    [job]="job()"
    [showIcon]="true"
  ></ix-app-state-cell>
  <ix-app-update-cell
    *ixWithLoadingState="app() as app"
    [app]="app"
    [showIcon]="true"
  ></ix-app-update-cell>
</div>
