:host {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-align: center;

  img {
    cursor: pointer;
    height: 24px;
  }

  .truecommand-text {
    opacity: 0.5;
    padding-left: 5px;
    text-align: center;
  }
}
