<div class="last-login">
  <span class="label">
    {{ 'Last Action' | translate }}:
  </span>
  <span class="value">
    @if (isLoading()) {
      <ngx-skeleton-loader></ngx-skeleton-loader>
    } @else {
      @if (lastAction()) {
        {{ lastAction().event | mapValue: eventLabels | translate }} <br>
        <ix-date
          class="action-date"
          [date]="lastAction().message_timestamp * 1000"
        ></ix-date>
      } @else {
        {{ 'None' | translate }}
      }
    }
  </span>

  <a
    class="search-logs"
    [ixTest]="['search-logs', username()]"
    [routerLink]="auditLink()"
  >
    {{ 'See Logs' | translate }}
  </a>
</div>
