
@import 'scss-imports/cssvars';

:host {
  display: block;
  min-height: 0;
}

form {
  max-height: 100%;
  min-height: 0;
  overflow-y: auto;
}

.half-width {
  width: 50%;

  @media (max-width: $breakpoint-xs) {
    width: 100%;
  }
}
