$component-header: 42px;

.jobs-header {
  background: var(--bg2);
  border-bottom: 1px solid var(--lines);
  height: $component-header;
  margin-left: -24px;
  margin-right: -24px;
  padding: 4px 24px 12px;
}

.jobs-list {
  height: calc(100% - #{$component-header});
  margin-left: -24px;
  margin-right: -24px;
  overflow-y: auto;
  padding: 0;
}
