@import 'scss-imports/variables';

:host {
  display: block;
  position: relative;

  ::ng-deep {
    .mat-mdc-dialog-actions {
      position: static;
    }
  }
}

mat-dialog-content.job-dialog {
  max-height: 350px;
  max-width: 100%;
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    max-width: 400px;
    min-width: 370px;
  }

  .mat-mdc-dialog-content {
    overflow: auto !important;
  }
}

.mat-dialog-close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.job-progress {
  margin: 3px 0;
}

.job-description {
  opacity: 0.75;
  white-space: pre-line;
}

.job-time {
  opacity: 0.5;
}

.logs-container {
  margin-bottom: 20px;
  max-height: 200px;
  overflow-y: auto;
}

.logs {
  background: rgba(0, 0, 0, 0.096);
  color: white;
  overflow-x: auto;
  padding: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.description-line {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}
