<mat-dialog-content>
  <h3>{{ 'Restart SMB Service' | translate }}</h3>
  <div>
    <p>{{ helptext.restartPt1 | translate }}</p>
    <ul>
      @if (data.homeshare) {
        <li>{{ homeShareMessage | translate }}</li>
      }
      @if (data.timemachine) {
        <li>{{ timemachineMessage | translate }}</li>
      }
      @if (data.hosts) {
        <li>{{ hostsMessage | translate }}</li>
      }
      @if (data.path) {
        <li>{{ pathMessage | translate }}</li>
      }
    </ul>

    <p><strong>{{ helptext.restartPt2 }}</strong></p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button ixTest="do-not-restart" [mat-dialog-close]="false">{{ 'No' | translate }}</button>
  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    cdkFocusInitial
    color="primary"
    ixTest="restart-service"
    [mat-dialog-close]="true"
  >{{ 'Restart Service' | translate }}</button>
</mat-dialog-actions>
