@import 'scss-imports/variables';

@media (max-width: $breakpoint-sm) {
  :host {
    &::ng-deep {
      div {
        word-break: break-word;
      }
    }
  }
}

.mat-mdc-card-content {
  color: var(--fg2);
}

.product-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 168px;
  max-width: 40%;
  min-height: 170px;
  overflow: hidden;
  width: 100%;
}

.links-wrapper {
  margin-bottom: 1rem;
  margin-top: 1rem;

  .links {
    margin-bottom: 5px;
    padding: 0;
  }
}

.container {
  align-items: center;
  display: flex;
  gap: 16px;
  place-content: center space-evenly;

  @media(max-width: $breakpoint-xs) {
    flex-direction: column;

    .product-image {
      max-width: 70%;
    }
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;


  @media (max-width: $breakpoint-sm) {
    button {
      width: 100%;
    }
  }
}
