<div class="enclosure-view">
  <ng-container *ngIf="selectedSlot()">
    <ix-disk-topology-description
      [selectedSlot]="selectedSlot()"
    ></ix-disk-topology-description>
  </ng-container>
  <ix-m50-front-view
    *ngIf="selectedView() !== 'expanders'"
    [enclosure]="enclosure()"
    [selectedSlot]="selectedSlot()"
  ></ix-m50-front-view>
  <ix-sas-expander-status-view
    *ngIf="selectedView() === 'expanders'"
    [expanders]="expanders()"
  ></ix-sas-expander-status-view>

  <ng-container *ngIf="selectedSlot()">
    <ix-vdev-disks-list
      [selectedSlot]="selectedSlot()"
    ></ix-vdev-disks-list>
  </ng-container>
</div>