<ix-form
  [formGroup]="form"
  [externalLoading]="dataLoading()"
  [extraDisabled]="isSupportUnavailable()"
  [initialFormSnapshot]="initialFormSnapshot()"
  [submitHandler]="handleSubmit"
  (closed)="closed.emit($event)"
>
  @if (isSupportUnavailable()) {
    <ix-warning [message]="helptext.proactive.unavailableMessage"></ix-warning>
  }
  <div class="two-columns">
    <tn-form-section
      [title]="helptext.proactive.primaryContact | translate"
      [tooltip]="helptext.proactive.instructions | translate"
    >
      <tn-form-field [label]="'Name' | translate" [required]="true">
        <tn-input formControlName="name"></tn-input>
      </tn-form-field>

      <tn-form-field [label]="'Title' | translate" [required]="true">
        <tn-input formControlName="title"></tn-input>
      </tn-form-field>

      <tn-form-field [label]="'Email' | translate" [required]="true">
        <tn-input formControlName="email"></tn-input>
      </tn-form-field>

      <tn-form-field [label]="'Phone Number' | translate" [required]="true">
        <tn-input formControlName="phone"></tn-input>
      </tn-form-field>

      <tn-form-field>
        <tn-checkbox
          formControlName="enabled"
          [label]="'Enable TrueNAS Proactive Support' | translate"
        ></tn-checkbox>
      </tn-form-field>
    </tn-form-section>

    <tn-form-section [title]="helptext.proactive.secondaryContact | translate">
      <tn-form-field [label]="'Secondary Name' | translate" [required]="true">
        <tn-input formControlName="secondary_name"></tn-input>
      </tn-form-field>

      <tn-form-field [label]="'Secondary Title' | translate" [required]="true">
        <tn-input formControlName="secondary_title"></tn-input>
      </tn-form-field>

      <tn-form-field [label]="'Secondary Email' | translate" [required]="true">
        <tn-input formControlName="secondary_email"></tn-input>
      </tn-form-field>

      <tn-form-field [label]="'Secondary Phone Number' | translate" [required]="true">
        <tn-input formControlName="secondary_phone"></tn-input>
      </tn-form-field>
    </tn-form-section>
  </div>
</ix-form>
