:host {
  width: 100%;
}

.row {
  background: var(--bg1);
  color: var(--fg2);
  display: flex;
  justify-content: space-between;
  min-height: 26px;
  padding-left: 48px;

  .caption-container {
    font-weight: bold;
    padding: 4px 0;

    &:first-child {
      display: flex;
      left: 0;
      position: sticky;
    }
  }

  .caption-name {
    align-self: center;
    background: linear-gradient(90deg, var(--bg1) 0%, var(--bg1) calc(100% - 13px), transparent 100%);
    padding-left: 8px;
    padding-right: 15px;
  }

  .toggle-container {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    right: 0;
  }
}
