<ix-page-header [pageTitle]="'Create Instance' | translate">
  @if (!(hasRequiredRoles | async)) {
    <ix-readonly-badge></ix-readonly-badge>
  }
</ix-page-header>

<div class="container">
  <form class="form" [formGroup]="form" (submit)="onSubmit()">
    <ix-form-section
      [label]="'Instance Configuration' | translate"
      [help]="containersHelptext.instance_type_tooltip | translate"
    >
      <ix-input
        formControlName="name"
        [label]="containersHelptext.name_placeholder | translate"
        [tooltip]="containersHelptext.name_tooltip | translate"
        [required]="true"
      ></ix-input>

      <ix-icon-group
        formControlName="instance_type"
        [label]="containersHelptext.instance_type_placeholder | translate"
        [tooltip]="containersHelptext.instance_type_tooltip | translate"
        [required]="true"
        [options]="virtualizationTypeIcons"
        [showLabels]="true"
      ></ix-icon-group>

      @if (isVm()) {
        <ix-radio-group
          formControlName="source_type"
          [label]="'VM Image Options' | translate"
          [required]="true"
          [options]="imageSourceTypeOptions$"
        ></ix-radio-group>
      }

      @switch (form.value.source_type) {
        @case (VirtualizationSource.Image) {
          <div class="image-field">
            <ix-input
              class="input"
              formControlName="image"
              [readonly]="true"
              [label]="'Image' | translate"
              [required]="true"
            ></ix-input>

            <button
              mat-button
              ixTest="browse-images"
              type="button"
              (click)="onBrowseCatalogImages()"
            >{{ 'Browse Catalog' | translate }}</button>
          </div>
        }

        @case (VirtualizationSource.Iso) {
          <div class="image-field">
            <ix-input
              class="input"
              formControlName="iso_volume"
              [readonly]="true"
              [label]="'Image' | translate"
              [required]="true"
            ></ix-input>

            <button
              mat-button
              ixTest="browse-isos"
              type="button"
              (click)="onBrowseIsos()"
            >{{ 'Select ISO' | translate }}</button>
          </div>
        }

        @case (VirtualizationSource.Zvol) {
          <ix-explorer
            formControlName="zvol_path"
            root="/"
            [label]="'Zvol' | translate"
            [nodeProvider]="directoryNodeProvider()"
          ></ix-explorer>
        }
      }
    </ix-form-section>

    <ix-form-section
      [label]="'CPU & Memory' | translate"
      [help]="containersHelptext.cpu_memory_tooltip | translate"
    >
      <ix-input
        formControlName="cpu"
        [label]="containersHelptext.cpu_placeholder | translate"
        [tooltip]="containersHelptext.cpu_tooltip | translate"
        [required]="isVm()"
        [hint]="isContainer() ? (containersHelptext.cpuHint | translate) : null"
      ></ix-input>

      <ix-input
        formControlName="memory"
        [label]="containersHelptext.memory_placeholder | translate"
        [tooltip]="containersHelptext.memory_tooltip | translate"
        [format]="formatter.memorySizeFormatting"
        [parse]="formatter.memorySizeParsing"
        [required]="isVm()"
        [hint]="isContainer() ? (containersHelptext.memoryHint | translate) : null"
      ></ix-input>
    </ix-form-section>

    @if (isContainer()) {
    <ix-form-section
      [label]="'Environment' | translate"
    >
      <ix-list
        formArrayName="environment_variables"
        [empty]="form.controls.environment_variables.controls.length === 0"
        [label]="containersHelptext.env_placeholder | translate"
        (add)="addEnvironmentVariable()"
      >
        @for (envControl of form.controls.environment_variables.controls; track envControl; let i = $index) {
          <ix-list-item
            [formGroupName]="i"
            [label]="'Environment Variable' | translate"
            (delete)="removeEnvironmentVariable(i)"
          >
            <div class="environment-variable">
              <ix-input
                formControlName="name"
                [label]="containersHelptext.env_name_placeholder | translate"
                [tooltip]="containersHelptext.env_name_tooltip | translate"
                [required]="true"
              ></ix-input>

              <ix-input
                formControlName="value"
                [label]="containersHelptext.env_value_placeholder | translate"
                [tooltip]="containersHelptext.env_value_tooltip | translate"
                [required]="true"
              ></ix-input>
            </div>
          </ix-list-item>
        }
      </ix-list>
    </ix-form-section>
    }

    <ix-form-section
      [label]="'Disks' | translate"
    >

      @if (isVm() && form.value.source_type !== VirtualizationSource.Zvol) {
        <ix-input
          formControlName="root_disk_size"
          type="number"
          [required]="true"
          [label]="'Root Disk Size (in GiB)' | translate"
        ></ix-input>
      }

      <ix-list
        formArrayName="disks"
        [empty]="form.controls.disks.controls.length === 0"
        [label]="containersHelptext.disks_placeholder | translate"
        [formArray]="form.controls.disks"
        (add)="addDisk()"
      >
        @for (disk of form.controls.disks.controls; track disk; let i = $index) {
          <ix-list-item
            [label]="'Disk' | translate"
            [formGroupName]="i"
            (delete)="removeDisk(i)"
          >
            <ix-explorer
              formControlName="source"
              root="/"
              [label]="containersHelptext.disks_src_placeholder | translate"
              [tooltip]="containersHelptext.disks_src_tooltip | translate"
              [required]="true"
              [nodeProvider]="directoryNodeProvider()"
              [canCreateDataset]="true"
            ></ix-explorer>

            @if (isContainer()) {
              <ix-input
                formControlName="destination"
                [label]="containersHelptext.disks_dst_placeholder | translate"
                [tooltip]="containersHelptext.disks_dst_tooltip | translate"
                [required]="true"
              ></ix-input>
            }
          </ix-list-item>
        }
      </ix-list>
    </ix-form-section>

    <ix-form-section
      [label]="'Proxies' | translate"
    >
      <ix-list
        formArrayName="proxies"
        [empty]="form.controls.proxies.controls.length === 0"
        [label]="containersHelptext.proxies_placeholder | translate"
        [formArray]="form.controls.proxies"
        (add)="addProxy()"
      >
        @for (proxy of form.controls.proxies.controls; track proxy; let i = $index) {
          <ix-list-item
            [label]="'Proxy' | translate"
            [formGroupName]="i"
            (delete)="removeProxy(i)"
          >
            <div class="protocol-and-port">
              <ix-select
                class="protocol"
                formControlName="source_proto"
                [label]="containersHelptext.host_protocol_placeholder | translate"
                [tooltip]="containersHelptext.host_protocol_tooltip | translate"
                [required]="true"
                [options]="proxyProtocols$"
              ></ix-select>

              <ix-input
                class="port"
                type="number"
                formControlName="source_port"
                [label]="containersHelptext.host_port_placeholder | translate"
                [tooltip]="containersHelptext.host_port_tooltip | translate"
                [required]="true"
              ></ix-input>
            </div>

            <div class="protocol-and-port">
              <ix-select
                class="protocol"
                formControlName="dest_proto"
                [label]="containersHelptext.instance_protocol_placeholder | translate"
                [tooltip]="containersHelptext.instance_protocol_tooltip | translate"
                [required]="true"
                [options]="proxyProtocols$"
              ></ix-select>

              <ix-input
                class="port"
                type="number"
                formControlName="dest_port"
                [label]="containersHelptext.instance_port_placeholder | translate"
                [tooltip]="containersHelptext.instance_port_tooltip | translate"
                [required]="true"
              ></ix-input>
            </div>
          </ix-list-item>
        }
      </ix-list>
    </ix-form-section>

    <ix-form-section
      [label]="'Network' | translate"
      [help]="containersHelptext.network_tooltip | translate"
    >
      <ix-checkbox
        formControlName="use_default_network"
        [label]="containersHelptext.network_use_default_placeholder | translate"
        [tooltip]="containersHelptext.network_use_default_tooltip | translate"
      ></ix-checkbox>

      @if (!form.controls.use_default_network.value) {
        @if (hasPendingInterfaceChanges()) {
          <p class="warning">
            {{ 'NIC selection is currently restricted due to pending network changes.' | translate }}
          </p>
        } @else {
          @if ((bridgedNicDevices$ | async); as devices) {
            @if (devices.length > 0) {
              <p>{{ bridgedNicTypeLabel ? (bridgedNicTypeLabel | translate) : '' }}</p>

              <ix-checkbox-list
                formControlName="bridged_nics"
                [label]="containersHelptext.network_bridged_nics_placeholder | translate"
                [tooltip]="containersHelptext.network_bridged_nics_tooltip | translate"
                [options]="bridgedNicDevices$"
              ></ix-checkbox-list>
            }
          } @else {
            <ngx-skeleton-loader></ngx-skeleton-loader>
          }

          @if ((macVlanNicDevices$ | async); as devices) {
            @if (devices.length > 0) {
              <p>{{ macVlanNicTypeLabel ? (macVlanNicTypeLabel | translate) : '' }}</p>

              <ix-checkbox-list
                formControlName="mac_vlan_nics"
                [label]="containersHelptext.network_mac_vlan_nics_placeholder | translate"
                [tooltip]="containersHelptext.network_mac_vlan_nics_tooltip | translate"
                [options]="macVlanNicDevices$"
              ></ix-checkbox-list>
            }
          } @else {
            <ngx-skeleton-loader></ngx-skeleton-loader>
          }
        }
      } @else {
        <div>
          <div class="network-list-item">
            <strong>{{ 'Bridge' | translate }}: </strong>
            <span>{{ 'Automatic' | translate }}</span>
          </div>
          <div class="network-list-item">
            <strong>{{ 'IPv4 Network' | translate }}: </strong>
            <span>{{ defaultIpv4Network() }}</span>
          </div>
          <div class="network-list-item">
            <strong>{{ 'IPv6 Network' | translate }}: </strong>
            <span>{{ defaultIpv6Network() }}</span>
          </div>
        </div>
      }
    </ix-form-section>

    @let usbDevices = usbDevices$ | async;
    @if (usbDevices && usbDevices.length > 0) {
      <ix-form-section
        [label]="'USB Devices' | translate"
      >
        <ix-checkbox-list
          formControlName="usb_devices"
          [label]="containersHelptext.usb_devices_placeholder | translate"
          [tooltip]="containersHelptext.usb_devices_tooltip | translate"
          [options]="usbDevices$"
        ></ix-checkbox-list>
      </ix-form-section>
    }

    @let gpuDevices = gpuDevices$ | async;
    @if (gpuDevices && gpuDevices.length > 0) {
      <ix-form-section
        [label]="'GPU Devices' | translate"
      >
        <ix-checkbox-list
          formControlName="gpu_devices"
          [label]="'GPU Devices' | translate"
          [options]="gpuDevices$"
        ></ix-checkbox-list>
      </ix-form-section>
    }

    @if (isVm()) {
      <ix-form-section
        [label]="'VNC' | translate"
      >
        <ix-checkbox
          formControlName="enable_vnc"
          [label]="containersHelptext.enable_vnc_placeholder | translate"
          [tooltip]="containersHelptext.enable_vnc_tooltip | translate"
          [hint]="form.value.enable_vnc && containersHelptext.vncHint | translate"
        ></ix-checkbox>

        @if (form.value.enable_vnc) {
          <ix-input
            formControlName="vnc_port"
            type="number"
            [label]="'VNC Port' | translate"
          ></ix-input>

          <ix-input
            formControlName="vnc_password"
            type="password"
            [label]="'VNC Password' | translate"
            [hint]="'VNC password is not cryptographically secure. You should not rely on it as a single authentication mechanism for your VMs.' | translate"
          ></ix-input>
        }
      </ix-form-section>

      <ix-form-section [label]="'Security' | translate">
        <ix-checkbox
          formControlName="tpm"
          [label]="containersHelptext.add_tpm_placeholder | translate"
          [tooltip]="containersHelptext.add_tpm_tooltip | translate"
        ></ix-checkbox>

        <ix-checkbox
          formControlName="secure_boot"
          [label]="'Secure Boot' | translate"
          [tooltip]="containersHelptext.secure_boot_tooltip | translate"
        ></ix-checkbox>
      </ix-form-section>
    }

    <div class="actions">
      <button
        mat-button
        type="submit"
        color="primary"
        ixTest="create"
        [disabled]="form.invalid || isLoading()"
      >
        {{ 'Create' | translate }}
      </button>
    </div>
  </form>
  <ix-form-glossary class="glossary"></ix-form-glossary>
</div>
