<mat-card
  ngClass.gt-md="gt-md"
  ngClass.md="md"
  ngClass.sm="sm"
  ngClass.xs="xs"
  class="view-card mini"
  [class.mini-xl]="chassis?.front?.totalDriveTrays > 7"
  [class.multiple-enclosures]="systemProfile && systemState?.enclosures?.length > 1"
  [id]="currentTab.alias"
  (window:resize)="onResize()"
>
  <mat-toolbar id="Disks-toolbar">
    @if (selectedEnclosure?.number > 0) {
      <div class="mat-card-title-text">
        {{ currentTab.alias }} on
        {{
          selectedEnclosure
            ? selectedEnclosure.model + ' (' + selectedEnclosure.number + ')'
            : '...'
        }}
      </div>
    }
    @if (selectedEnclosureNumber < 1) {
      <div class="mat-card-title-text">
        {{ currentTab.alias }} on
        {{
          selectedEnclosure
            ? selectedEnclosure.model + ' (' + selectedEnclosure.number + ')'
            : '...'
        }}
      </div>
    }

    <!-- ENCLOSURE MODEL -->
    <div class="model dom-overlay">
      <div class="model-inner"></div>
    </div>
  </mat-toolbar>

  <mat-card-content #cardcontent fxLayout="row wrap">
    <div id="chassis" fxFlex="640px" fxFlex.lt-lg="100%">
      <!-- LEGEND -->
      <div class="header-container" id="legend">
        <h3 class="header">{{ 'Pools' | translate }}</h3>
        @if (enclosureStore.getPools(selectedEnclosure)?.length > 0) {
          <div class="legend">
            @for (pool of selectedEnclosurePools; track pool; let i = $index) {
              <div class="legend-item">
                <div
                  class="swatch"
                  [style.background]="theme[theme.accentColors[i]]"
                ></div>
                <div class="legend-label">{{ pool }}</div>
                <!-- TODO: figure out how to detect pool health data -->
                @if (false) {
                  <div class="legend-icon">
                    <ix-icon name="mdi-alert"></ix-icon>
                  </div>
                }
              </div>
            }
          </div>
        } @else {
          <div id="legend-no-pools">
            <div>{{ 'No pools on this enclosure.' | translate }}</div>
          </div>
        }

      </div>

      <!-- VISUALIZER -->
      <div #disksoverview fxLayout="row" id="disks-overview" [class]="currentView">
        <!-- DISK NAMES -->
        @if (chassisView && chassisView.driveTrayObjects) {
          <div
            fxFlex
            class="disks-overlay names"
          >
            @for (dt of chassisView.driveTrayObjects; track dt; let i = $index) {
              <div
                class="slot-label-wrapper"
                [style.top]="'calc(' + stackPositions()[i].y + 'px + 6px)'"
              >
                <div>
                  <div class="slot-label fn-theme-primary">
                    <strong>{{ i + 1 }}</strong>
                  </div>
                </div>
                <div>
                  <div class="slot-value">
                    {{ selectedEnclosure.elements['Array Device Slot'][i + 1].dev
                    ? selectedEnclosure.elements['Array Device Slot'][i + 1].dev
                    : 'Empty' }}
                  </div>
                </div>
              </div>
            }
          </div>
        }

        <div #visualizer class="visualizer dom-overlay" id="visualizer"></div>

        <!-- DISK STATUS -->
        @if (chassisView) {
          <div fxFlex class="disks-overlay status">
            @for (dt of chassisView.driveTrayObjects; track dt; let i = $index) {
              @if (selectedEnclosure.elements['Array Device Slot'][i + 1].dev) {
                <div [style.top]="'calc(' + stackPositions()[i].y + 'px + 8px)'">
                  <div class="status-icon">
                    <ix-icon
                      name="check_circle"
                      [ngClass]="{
                        online: selectedEnclosure.elements['Array Device Slot'][i + 1].pool_info?.disk_status === 'ONLINE',
                        alert:
                          selectedEnclosure.elements['Array Device Slot'][i + 1].pool_info?.disk_status !== 'ONLINE' &&
                          selectedEnclosure.elements['Array Device Slot'][i + 1].pool_info?.disk_status !== 'UNAVAIL'
                      }"
                    ></ix-icon>
                  </div>
                  <div class="status-text">
                    {{ selectedEnclosure.elements['Array Device Slot'][i + 1].status }}
                  </div>
                </div>
              }
            }
          </div>
        }
      </div>
    </div>

    <!-- DETAILS/OVERVIEW -->
    <div #diskDetails fxFlex id="disks-details">
      @if (selectedDisk && currentView === 'details') {
        <ng-container #details>
          <!-- DISK SELECTED -->
          <div #disksdetails class="header-container" id="details">
            <button class="back-btn" mat-button ixTest="close" (click)="clearDisk()">
              <ix-icon name="close"></ix-icon>
            </button>
            <h3 class="header">
              {{ 'Drive Details' | translate }} {{ selectedSlot.dev }}
            </h3>
            <div>
              <ul>
                <li>
                  <strong>{{ 'Pool' | translate }}:</strong> &nbsp;&nbsp;&nbsp;
                  {{
                    selectedSlot.pool_info?.pool_name ? selectedSlot.pool_info?.pool_name
                    : ('Disk not attached to any pools.' | translate)
                  }}
                </li>
                <li>
                  <strong>{{ 'Vdev' | translate }}:</strong> &nbsp;&nbsp;&nbsp;
                  <span>
                    {{
                      selectedSlot.pool_info?.vdev_name === null ? ('Unassigned' | translate)
                      : (selectedSlot.pool_info?.vdev_name | uppercase)
                    }}
                  </span>
                </li>
                <li>
                  <strong>{{ 'Model' | translate }}:</strong> &nbsp;&nbsp;&nbsp;
                  {{ selectedDisk.model }}
                </li>

                <li>
                  <strong>{{ 'Serial' | translate }}:</strong>
                  &nbsp;&nbsp;&nbsp;{{ selectedDisk.serial }}
                </li>

                <li>
                  <strong>{{ 'Status' | translate }}:</strong>
                  &nbsp;&nbsp;&nbsp;{{ selectedSlot.pool_info?.disk_status }}
                </li>

                <li>
                  <strong>{{ 'Rotation Rate' | translate }}:</strong>
                  &nbsp;&nbsp;&nbsp;
                  @if (selectedDisk.rotationrate) {
                    {{ selectedDisk.rotationrate }}
                    {{ 'RPM' | translate }}
                  } @else {
                    {{ 'Not Available' | translate }}
                  }
                </li>

                <!-- <li>
                  <strong>{{ 'Advanced Power Management' | translate }}:</strong>
                  &nbsp;&nbsp;&nbsp;{{ selectedDisk.advpowermgmt }}
                </li>

                <li>
                  <strong>{{ 'S.M.A.R.T. Enabled' | translate }}:</strong>
                  &nbsp;&nbsp;&nbsp;{{ selectedDisk.togglesmart | yesNo }}
                </li>

                <li>
                  <strong>{{ 'S.M.A.R.T. Options' | translate }}:</strong>
                  &nbsp;&nbsp;&nbsp;{{
                  selectedDisk.smartoptions ? selectedDisk.smartoptions : 'None'
                  }}
                </li>

                <li>
                  <strong>{{ 'Transfer Mode' | translate }}:</strong>
                  &nbsp;&nbsp;&nbsp;{{ selectedDisk.transfermode }}
                </li>

                <li>
                  <strong>{{ 'HDD Standby' | translate }}:</strong>
                  &nbsp;&nbsp;&nbsp;{{ selectedDisk.hddstandby }}
                </li> -->
            </ul>

            <h3 class="header stats">{{ 'Stats' | translate }}</h3>
            <div
              class="disk-basic-details"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <div>
                <ix-disk-ui [data]="{ name: selectedDisk.dev, type: selectedDisk.type }"></ix-disk-ui>
                  <div class="capacity">{{ selectedSlot.size | ixFileSize }}</div>
                </div>
                <div class="disk-stats-wrapper" fxFlex>
                  @if (selectedSlot.pool_info?.pool_name) {
                    <ul class="disk-stats">
                      <li>
                        <strong>{{ 'Read Errors' | translate }}:</strong>
                        &nbsp;&nbsp;
                        {{ selectedSlot.pool_info.disk_read_errors }}
                      </li>

                      <li>
                        <strong>{{ 'Write Errors' | translate }}:</strong>
                        &nbsp;&nbsp;
                        {{ selectedSlot.pool_info.disk_write_errors }}
                      </li>

                      <li>
                        <strong>{{ 'Checksum Errors' | translate }}:</strong>
                        &nbsp;&nbsp;
                        {{ selectedSlot.pool_info.disk_checksum_errors }}
                      </li>
                    </ul>
                  } @else {
                    <div class="nostats">
                      <ix-icon name="info_icon"></ix-icon>
                      <strong>
                        {{ 'Must be part of a pool to check errors' | translate }}
                      </strong>
                    </div>
                  }
                  <ng-template #nostats>
                    <div class="nostats">
                      <ix-icon name="info_icon"></ix-icon>
                      <strong>
                        {{ 'Must be part of a pool to check errors' | translate }}
                      </strong>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      }
      @if (currentView === 'pools' || currentView === 'status') {
        <ng-container #overview>
          <!-- DISK NOT SELECTED -->
          <div class="header-container half-height" id="general-overview">
            <h3 class="header">{{ 'Disks Overview' | translate }}</h3>
            <div>
              <ul>
                <li>
                  <strong>{{ 'Pools' | translate }}:</strong>
                  &nbsp;&nbsp;&nbsp;
                  {{ enclosurePools.length }}
                </li>
                <li>
                  <strong>{{ 'Total Disks' | translate }}:</strong>
                  &nbsp;&nbsp;&nbsp;
                  {{ totalDisks }}
                </li>
                <li>
                  <strong>{{ 'Failed Disks' | translate }}:</strong>
                  &nbsp;&nbsp;&nbsp;
                  {{ failedDisks.length }}
                </li>
              </ul>
            </div>
          </div>
          <div class="header-container half-height" id="drive-temps">
            <h3 class="header">{{ 'Drive Temperatures' | translate }}</h3>
            <div fxLayout="row wrap" fxLayoutGap="10%">
              @if (temperatures && temperatureScales) {
                @for (diskName of temperatures.keys; track diskName) {
                  @if (temperatures.values[diskName]) {
                    <ix-temperature-meter
                      [fxFlex]="temperatures && temperatures.keys.length >= 4 ? '40%' : '100%'"
                      [source]="diskName"
                      [value]="temperatures.values[diskName]"
                      [unit]="temperatures.unit"
                      [symbolText]="temperatures.symbolText"
                    ></ix-temperature-meter>
                  } @else {
                    <div
                      class="no-temp"
                      [fxFlex]="temperatures && temperatures.keys.length >= 4 ? '40%' : '100%'"
                    >
                      <strong>{{ diskName }}:</strong>
                      Unknown {{ temperatures.symbolText }}
                      <ix-tooltip
                        [header]="'Temperature data missing.' | translate"
                        [message]="'No temperature data was reported by the system. There can be a number of reasons why this might occur. For troubleshooting tips please go here' | translate"
                      >
                      </ix-tooltip>
                    </div>
                  }
                }
              }

              @if (temperatures && !temperatureScales) {
                <ul>
                  <ng-container>
                    @for (diskName of temperatures.keys; track diskName) {
                      <li>
                        <strong>{{ diskName }}:</strong> &nbsp;&nbsp;&nbsp;
                        {{ temperatures.values[diskName] ? temperatures.values[diskName] : 'Temperature not available.' }}
                        {{ temperatures.values[diskName] ? temperatures.symbolText + 'C' : '' }}
                        @if (!temperatures.values[diskName]) {
                          <ix-tooltip
                            [header]="'Temperature data missing.' | translate"
                            [message]="'No temperature data was reported by the system. There can be a number of reasons why this might occur. For troubleshooting tips please go here' | translate"
                          >
                          </ix-tooltip>
                        }
                      </li>
                    }
                  </ng-container>
                </ul>
              }
            </div>
          </div>
        </ng-container>
      }
    </div>
  </mat-card-content>
</mat-card>
