<form class="ix-form-container" [formGroup]="form">
  <tn-form-section [heading]="'Trusted Domains Configuration' | translate">
    <tn-form-field [tooltip]="helptextAd.enableTrustedDomainsTooltip | translate">
      <tn-checkbox
        formControlName="enable_trusted_domains"
        testId="enable_trusted_domains"
        [label]="'Enable Trusted Domains' | translate"
      ></tn-checkbox>
    </tn-form-field>
    @if (form.controls.enable_trusted_domains.value) {
      <tn-form-list
        formArrayName="trustedDomains"
        [control]="trustedDomainsArray"
        [label]="'Trusted Domains' | translate"
        [addLabel]="'Add' | translate"
        [emptyMessage]="'No items have been added yet.' | translate"
        (add)="addTrustedDomain()"
      >
      @for (domain of trustedDomainsArray.controls; track domain; let i = $index) {
        <tn-form-list-item
          testId="remove-from-list"
          [label]="'Trusted Domain' | translate"
          [removeAriaLabel]="'Remove {label} item' | translate: { label: 'Trusted Domain' | translate }"
          [formGroupName]="i"
          (delete)="removeTrustedDomain(i)"
        >
          <tn-form-section [heading]="'Basic Configuration' | translate">
            <tn-form-field
              [label]="'IDMAP Backend' | translate"
              [tooltip]="helptext.idmapBackendTooltip | translate"
              [required]="true"
            >
              <tn-select
                formControlName="idmap_backend"
                [options]="trustedDomainIdmapOptions"
                [optionTestIdKey]="idmapBackendOptionTestId"
              ></tn-select>
            </tn-form-field>

            @let idmapBackend = getIdmapTypeForItem(i);
            @if (idmapBackend) {
              <tn-form-field
                [label]="'Name' | translate"
                [tooltip]="helptext.name.tooltip | translate"
                [required]="true"
              >
                <tn-input formControlName="name" [required]="true"></tn-input>
              </tn-form-field>
              <tn-form-field
                [label]="'Range Low' | translate"
                [tooltip]="helptext.rangeLowTooltip | translate"
                [required]="true"
              >
                <tn-input
                  formControlName="range_low"
                  [inputType]="InputType.Number"
                  [required]="true"
                ></tn-input>
              </tn-form-field>
              <tn-form-field
                [label]="'Range High' | translate"
                [tooltip]="helptext.rangeHighTooltip | translate"
                [required]="true"
              >
                <tn-input
                  formControlName="range_high"
                  [inputType]="InputType.Number"
                  [required]="true"
                ></tn-input>
              </tn-form-field>
              @if (idmapBackend === IdmapBackend.Ad) {
                <tn-form-field
                  [label]="'Schema Mode' | translate"
                  [tooltip]="helptext.schemaModeTooltip | translate"
                  [required]="true"
                >
                  <tn-select
                    formControlName="schema_mode"
                    [options]="schemaModeOptions"
                    [optionTestIdKey]="schemaModeOptionTestId"
                  ></tn-select>
                </tn-form-field>
                <tn-form-field [tooltip]="helptext.unixPrimaryGroupTooltip | translate">
                  <tn-checkbox
                    formControlName="unix_primary_group"
                    [label]="'Unix Primary Group' | translate"
                  ></tn-checkbox>
                </tn-form-field>
                <tn-form-field [tooltip]="helptext.unixNssTooltip | translate">
                  <tn-checkbox
                    formControlName="unix_nss_info"
                    [label]="'Unix NSS Info' | translate"
                  ></tn-checkbox>
                </tn-form-field>
              }
              @if (idmapBackend === IdmapBackend.Rfc2307 || idmapBackend === IdmapBackend.Ldap) {
                @if (idmapBackend === IdmapBackend.Rfc2307) {
                  <tn-form-field
                    [label]="'LDAP Url' | translate"
                    [tooltip]="helptext.ldapUrlTooltip | translate"
                    [required]="true"
                  >
                    <tn-input formControlName="ldap_url" [required]="true"></tn-input>
                  </tn-form-field>
                }
                @if (idmapBackend === IdmapBackend.Ldap) {
                  <tn-form-field
                    [label]="'LDAP Base DN' | translate"
                    [tooltip]="helptext.ldapBasednTooltip | translate"
                    [required]="true"
                  >
                    <tn-input formControlName="ldap_base_dn" [required]="true"></tn-input>
                  </tn-form-field>
                }
                <tn-form-field
                  [label]="'LDAP User DN' | translate"
                  [tooltip]="helptext.ldapUserdnTooltip | translate"
                  [required]="true"
                >
                  <tn-input formControlName="ldap_user_dn" [required]="true"></tn-input>
                </tn-form-field>
                <tn-form-field
                  [label]="'LDAP User DN Password' | translate"
                  [tooltip]="helptext.ldapUserDnPasswordTooltip | translate"
                  [required]="true"
                >
                  <tn-input formControlName="ldap_user_dn_password" [required]="true"></tn-input>
                </tn-form-field>
                @if (idmapBackend === IdmapBackend.Ldap) {
                  <tn-form-field
                    [label]="'LDAP Url' | translate"
                    [tooltip]="helptext.ldapUrlTooltip | translate"
                    [required]="true"
                  >
                    <tn-input formControlName="ldap_url" [required]="true"></tn-input>
                  </tn-form-field>
                  <tn-form-field [tooltip]="helptext.readonlyTooltip | translate">
                    <tn-checkbox
                      formControlName="readonly"
                      [label]="'Readonly' | translate"
                    ></tn-checkbox>
                  </tn-form-field>
                }
                @if (idmapBackend === IdmapBackend.Rfc2307) {
                  <tn-form-field
                    [label]="'Bind Path User' | translate"
                    [tooltip]="helptext.bindPathUserTooltip | translate"
                    [required]="true"
                  >
                    <tn-input formControlName="bind_path_user" [required]="true"></tn-input>
                  </tn-form-field>
                  <tn-form-field
                    [label]="'Bind Path Group' | translate"
                    [tooltip]="helptext.bindPathGroupTooltip | translate"
                    [required]="true"
                  >
                    <tn-input formControlName="bind_path_group" [required]="true"></tn-input>
                  </tn-form-field>
                  <tn-form-field [tooltip]="helptext.userCnTooltip | translate">
                    <tn-checkbox
                      formControlName="user_cn"
                      [label]="'User CN' | translate"
                    ></tn-checkbox>
                  </tn-form-field>
                  <tn-form-field [tooltip]="helptext.ldapRealmTooltip | translate">
                    <tn-checkbox
                      formControlName="ldap_realm"
                      [label]="'LDAP Realm' | translate"
                    ></tn-checkbox>
                  </tn-form-field>
                }
                <tn-form-field [tooltip]="helptextLdap.validateCertificatesTooltip | translate">
                  <tn-checkbox
                    formControlName="validate_certificates"
                    [label]="'Validate Certificates' | translate"
                  ></tn-checkbox>
                </tn-form-field>
              }
              @if (idmapBackend === IdmapBackend.Rid) {
                <tn-form-field [tooltip]="helptext.sssdCompatTooltip | translate">
                  <tn-checkbox
                    formControlName="sssd_compat"
                    [label]="'SSSD Compat' | translate"
                  ></tn-checkbox>
                </tn-form-field>
              }
            }
          </tn-form-section>
        </tn-form-list-item>
      }
      </tn-form-list>
    }

  </tn-form-section>
</form>
