<mat-card
  class="view-card rackmount"
  ngClass.gt-md="gt-md"
  ngClass.md="md"
  ngClass.sm="sm"
  ngClass.xs="xs"
  [id]="currentTab.alias"
  [ngClass]="{
    'multiple-enclosures': systemState && systemState.enclosures?.length > 1
  }"
  (window:resize)="onResize()"
>
  <mat-toolbar id="Disks-toolbar">
    <div *ngIf="selectedEnclosure" class="mat-card-title-text">
      {{ currentTab.alias }} on
      {{
        selectedEnclosure.label === selectedEnclosure.name
          ? selectedEnclosure.model
          : selectedEnclosure.label
      }}
      ({{ selectedEnclosure.number }})
    </div>

    <!-- ENCLOSURE MODEL -->
    <div class="model dom-overlay">
      <div class="model-inner"></div>
    </div>

    <!-- ENCLOSURE RENAME -->
    <div class="enclosure-label-actions">
      <button mat-button color="default" ixTest="edit-label" (click)="labelForm()">
        {{ 'EDIT LABEL' | translate }}
      </button>
    </div>
  </mat-toolbar>

  <!-- Tabs other than Disks -->
  <ix-tab-content
    *ngIf="currentTab.alias !== 'Disks'"
    class="other-tab"
    [data]="selectedEnclosure.elements[currentTab.elementIndex] | cast"
  ></ix-tab-content>

  <mat-card-content id="Disks-content" [class]="currentTab.alias">
    <!-- VISUALIZATION/OVERVIEW -->
    <div class="disks-overview-wrapper">
      <div #disksoverview id="disks-overview" [class]="currentView">
        <!-- POOLS OVERLAY -->
        <div *ngIf="currentView === 'pools' || exitingView === 'pools'" class="pools stage-left dom-overlay">
          <div class="content">
            <h2>{{ 'Pools' | translate }}</h2>
          </div>
        </div>
        <div *ngIf="currentView === 'pools' || exitingView === 'pools'" class="pools stage-right dom-overlay list">
          <div class="content">
            <div *ngIf="selectedEnclosureView.pools.length > 0; else noPools" class="legend">
              <div *ngFor="let pool of selectedEnclosureView.pools; let i = index">
                <div
                  class="swatch"
                  [style.background]="subenclosure
                      ? theme[themeKey(theme.accentColors[i])]
                      : theme[themeKey(theme.accentColors[i])]
                  "
                ></div>
                {{ pool }}
                <span *ngIf="!systemState.pools[i] || !systemState.pools[i].healthy">
                  <ix-icon name="mdi-alert"></ix-icon>
                </span>
              </div>

              <!-- UNASSIGNED DISKS -->
              <div>
                <div class="swatch unassigned"></div>
                {{ 'Unassigned' | translate }}
              </div>
            </div>

            <ng-template #noPools>
              <div class="legend">
                <div>{{ 'No pools on this enclosure.' | translate }}</div>
                <!-- UNASSIGNED DISKS -->
                <div>
                  <div class="swatch unassigned"></div>
                  {{ 'Unassigned' | translate }}
                </div>
              </div>
            </ng-template>
          </div>
        </div>

        <!-- STATUS OVERLAY -->
        <div *ngIf="currentView === 'status' || exitingView === 'status'" class="status stage-left dom-overlay">
          <div class="content">
            <h2>{{ 'Status' | translate }}</h2>
          </div>
        </div>
        <div *ngIf="currentView === 'status' || exitingView === 'status'" class="status stage-right dom-overlay list">
          <div class="content">
            <div class="legend">
              <div>
                <div class="swatch" [style.background]="theme.green"></div>
                {{ 'ONLINE' | translate }}
              </div>
              <div>
                <div class="swatch" [style.background]="theme.yellow"></div>
                {{ 'OTHER' | translate }}
              </div>
              <div>
                <div class="swatch" [style.background]="theme.red"></div>
                {{ 'FAULT' | translate }}
              </div>
              <div>
                <div class="swatch available"></div>
                {{ 'AVAILABLE' | translate }}
              </div>
            </div>
          </div>
        </div>

        <!-- DETAILS OVERLAY -->
        <div *ngIf="currentView === 'details' || exitingView === 'details'"
             class="details stage-left dom-overlay">
          <div class="content" >
            <h1 [class]="['disk-name', selectedSlot?.disk?.name]">
              <span *ngIf="selectedSlot?.disk">{{ selectedSlot?.disk?.name }}</span>
              <span *ngIf="!selectedSlot?.disk">{{ 'Empty' | translate }}</span>
            </h1>
            <div class="title">
              <span *ngIf="selectedSlot?.vdev" class="semibold">{{ 'vdev' | translate }}: </span>
              <span *ngIf="!selectedSlot?.vdev && selectedSlot?.disk" class="semibold">
                {{ 'UNASSIGNED' | translate }}
              </span>
              <span>
                {{ isTopologyDisk ? ('Disk' | translate) : (selectedSlot?.vdev?.name | uppercase) }}
              </span>
            </div>
            <div *ngIf="selectedSlot?.vdev" class="title">
              <span class="semibold">{{ 'Topology' | translate }}:</span>
              <span>
                {{ !selectedSlot?.vdev?.type ? ('Unknown' | translate) : (selectedSlot.vdev.type | uppercase) }}
              </span>
            </div>
            <div *ngIf="selectedSlot?.topologyCategory" class="title">
              <span class="semibold">{{ 'Category' | translate }}: </span>
              <span>{{ selectedSlot?.topologyCategory.toUpperCase() }}</span>
            </div>
            <div class="title">
              <span class="semibold">{{ 'Slot' | translate }}: </span>
              <span>{{ selectedSlot?.slot }}</span>
            </div>
          </div>
        </div>

        <div
          *ngIf="currentView === 'details' || exitingView === 'details'"
          #domLabels
          class="details stage-right dom-overlay"
        >
          <div
            class="content"
            (mouseenter)="toggleHighlightMode('on')"
            (mouseleave)="toggleHighlightMode('off')"
          >
            <div *ngIf="selectedVdevSlots.length; else noVdevDisks" class="legend">
              <div
                *ngFor="let slot of selectedVdevSlots; let i = index"
                [class]="['vdev-disk', slot.disk.name]"
                (mouseenter)="highlightPath(slot.disk.name)"
                (mouseleave)="unhighlightPath(slot.disk.name)"
              >
                <div
                  class="swatch"
                  [style.background]="selectedSlot.disk.devname === slot.disk.name ? theme.yellow : theme.cyan"
                ></div>
                {{ slot.disk.name }}
                <span *ngIf="slot.enclosure !== selectedEnclosureView.number">
                  (enclosure {{ slot.enclosure }}, slot {{ slot.slot }})
                </span>
              </div>
            </div>

            <ng-template #noVdevDisks>
              <div class="legend">
                <div class="vdev-disk">
                  <span *ngIf="selectedSlot?.disk">{{ 'No vdev info for disk.' | translate }}</span>
                  <span *ngIf="!selectedSlot?.disk">{{ 'No disk in slot' | translate }}</span>
                </div>
              </div>
            </ng-template>
          </div>
        </div>

        <!-- CAPTION OVERLAY -->
        <div
          *ngIf="showCaption && chassis && !chassis.rear && !chassis.internal"
          class="caption dom-overlay"
        >
          {{ 'Choose a Disk' | translate }}
        </div>

        <!-- FRONT/REAR TOGGLE -->
        <div
          *ngIf="chassis && (chassis.rear || chassis.internal) && currentView !== 'expanders'"
          class="caption dom-overlay front-rear-toggle"
        >
          <button mat-button ixTest="front" (click)="enclosureOverride(EnclosureLocation.Front)">
            {{ 'FRONT' | translate }}
          </button>

          <button *ngIf="chassis.rear" mat-button ixTest="rear" (click)="enclosureOverride(EnclosureLocation.Rear)">
            {{ 'REAR' | translate }}
          </button>

          <button *ngIf="chassis.internal" mat-button ixTest="internal" (click)="enclosureOverride(EnclosureLocation.Internal)">
            {{ 'INTERNAL' | translate }}
          </button>
        </div>

        <!-- CANVAS/SVG OVERLAY -->
        <div #visualizer id="visualizer" class="visualizer dom-overlay"></div>

        <!-- EXPANDERS OVERLAY -->
        <div
          *ngIf="currentView === 'expanders' || exitingView === 'expanders'"
          class="expanders full-stage dom-overlay"
        >
          <div *ngIf="expanders" class="content">
            <div *ngFor="let expander of expanders"
              class="expander-item"
              [style.width]="(100 / expanders.length).toString() + '%'"
            >
              <div class="primary-number">{{ $any(expander).status }}</div>
              <div class="title">{{ 'Expander Status' | translate }}</div>
              <div *ngIf="expander.descriptor" class="subtitle">{{ expander.descriptor }}</div>
              <div *ngIf="!expander.descriptor" class="subtitle">{{ 'No descriptor provided' | translate }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- DETAILS/TITLE -->
    <div *ngIf="systemState?.enclosureViews?.length && selectedEnclosure" id="disks-details-header" [class]="currentView">
      <a
        *ngIf="currentView === 'details'"
        class="btn-default back fn-theme-primary"
        ixTest="back-enclosure"
        (click)="clearDisk()"
      >
        <ix-icon name="chevron_left"></ix-icon>
      </a>
      <span *ngIf="currentView === 'details' && selectedSlot?.disk">
        {{ 'Disk Details for ' + selectedSlot.disk.name }}
      </span>
      <span *ngIf="currentView === 'details' && !selectedSlot?.disk">
        {{ 'Slot ' + selectedSlot.slot }}
      </span>
      <span *ngIf="currentView !== 'details'">
        {{ 'Disks Overview' }}
      </span>
    </div>

    <!-- DETAILS/OVERVIEW -->
    <div *ngIf="currentView === 'details'; then details; else overview"></div>

    <!-- OVERVIEW -->
    <ng-template #overview>
      <div class="disks-details">
        <div
          class="details-wrapper"
          id="view-selector"
          fxFill
          fxLayout="row"
          fxLayoutAlign="space-around stretch"
        >
          <!-- ZeroState -->
          <ng-template #loading>
            <div
              fxFlex
              class="tiles"
              fxLayout="column"
              fxLayoutAlign="center center"
              [class.active]="currentView === 'pools'"
            >
              {{ 'Loading...' | translate }}
            </div>
          </ng-template>

          <div
            *ngIf="systemState?.pools && selectedEnclosurePools; else loading"
            fxFlex
            class="tiles"
            fxLayout="column"
            fxLayoutAlign="center center"
            [class.active]="currentView === 'pools'"
          >
            <div class="primary-number">{{ selectedEnclosurePools.length }}</div>
            <div class="title">{{ 'Pools in Enclosure' | translate }}</div>
            <div *ngIf="unhealthyPools && unhealthyPools.length === 1" class="subtitle">
              Pool "{{ unhealthyPools[0].name }}" is
              {{ unhealthyPools[0].status }}.
            </div>
            <div *ngIf="unhealthyPools && unhealthyPools.length > 1" class="subtitle">
              {{ unhealthyPools[0] }} and {{ unhealthyPools.length - 1 }} other
              pools are not healthy.
            </div>
            <div *ngIf="unhealthyPools && unhealthyPools.length < 1" class="subtitle">
              {{ 'All pools are online.' | translate }}
            </div>
            <button
              mat-button
              color="default"
              ixTest="show-pools"
              (click)="setCurrentView('pools')"
            >
              {{ 'SHOW POOLS' | translate }}
            </button>
          </div>

          <div
            *ngIf="systemProfile && enclosureViews; else loading"
            fxFlex
            class="tiles"
            fxLayout="column"
            fxLayoutAlign="center center"
            [class.active]="currentView === 'status'"
          >
            <div class="primary-number">{{ failedDisks.length }}</div>
            <div class="title">
              Failed Disk<span *ngIf="failedDisks.length !== 1">s</span>
            </div>
            <div class="subtitle">
              <span *ngIf="failedDisks.length < 1">All disks healthy</span>
              <span *ngIf="failedDisks.length > 1">
                Check {{ failedDisks[0].disk }} and
                {{ failedDisks.length - 1 }} other disk
                <span *ngIf="failedDisks.length > 2"> s </span>
              </span>
              <span *ngIf="failedDisks.length === 1">
                Check {{ failedDisks[0].disk }}
                <span *ngIf="!subenclosure">
                  in enclosure {{ failedDisks[0].enclosure }}
                </span>
                <span *ngIf="subenclosure">
                  {{ failedDisks[0].location }} slot
                  {{ failedDisks[0].slot }}
                </span>
              </span>
            </div>
            <button
              mat-button
              color="default"
              ixTest="show-status"
              (click)="setCurrentView('status')"
            >
              {{ 'SHOW STATUS' | translate }}
            </button>
          </div>

          <div
            *ngIf="systemState && expanders && expanders.length > 0"
            fxFlex
            class="tiles"
            fxLayout="column"
            fxLayoutAlign="center center"
            [class.active]="currentView === 'expanders'"
          >
            <div class="primary-number">{{ expanders.length }}</div>
            <div class="title">{{ 'SAS Expanders' | translate }}</div>
            <div class="subtitle">{{ 'on this enclosure' | translate }}</div>
            <button
              mat-button
              color="default"
              ixTest="show-expander-status"
              (click)="setCurrentView('expanders')"
            >
              {{ 'SHOW EXPANDER STATUS' | translate }}
            </button>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- DETAILS/DISK -->
    <ng-template #details>

      <!-- Empty Slot -->
      <div
        *ngIf="!selectedSlot?.disk"
        #diskdetails
        [class]="{ 'disks-details': true, 'disk-selected': selectedSlot.disk }"
      >
        <div
          class="details-wrapper"
          fxFill
          fxLayout="row"
          fxLayoutAlign="space-around stretch"
        >
          <div
            fxFlex="80"
            class="disk-basic-details tiles empty-slot-details details-section"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <h1>Slot {{ selectedSlot.slot }} is empty</h1>
          </div>
        </div>
      </div>

      <!-- Slot with Disk -->
      <div
        *ngIf="selectedSlot?.disk"
        #diskdetails
        [class]="{ 'disks-details': true, 'disk-selected': selectedSlot.vdev }"
      >
        <div
          class="details-wrapper"
          fxFill
          fxLayout="row"
          fxLayoutAlign="space-around stretch"
        >
          <div
            fxFlex="25"
            class="disk-basic-details details-section"
            fxLayout="column"
            fxLayoutAlign="center center"
          >
            <ix-disk-ui [data]="selectedSlot.disk"></ix-disk-ui>

            <!-- disk icon + labels -->
            <div class="capacity">{{ selectedSlot.disk.size | filesize: { standard: 'iec' } }}</div>
            <div class="disk-actions">
              <button
                *ngIf="!hideIdentifyDrive"
                id="identify-btn"
                mat-button
                color="primary"
                ixTest="identify-drive"
                (click)="toggleSlotStatus()"
              >
                {{ 'Identify Drive' | translate }}
              </button>
            </div>
          </div>

          <div fxFlex="75" class="tiles details-section disk-advanced-details">
            <div class="details-wrapper" fxLayout="row wrap" fxLayoutGap="16px">
              <div
                fxFlex="calc(25% - 16px)"
                class="detail"
                fxLayout="column"
                fxLayoutAlign="start start"
              >
                <div>
                  <div class="label">{{ 'Pool' | translate }}</div>
                  <div class="value">
                    {{
                      selectedSlot.pool ? selectedSlot.pool : selectedSlot?.pool
                        ? selectedSlot.pool
                        : ('Disk not attached to any pools.' | translate)
                    }}
                  </div>
                </div>
              </div>

              <div
                fxFlex="calc(25% - 16px)"
                class="detail"
                fxLayout="column"
                fxLayoutAlign="start start"
              >
                <div>
                  <div class="label">{{ 'Model' | translate }}</div>
                  <div class="value">{{ selectedSlot.disk.model }}</div>
                </div>
              </div>

              <div
                fxFlex="calc(25% - 16px)"
                class="detail"
                fxLayout="column"
                fxLayoutAlign="start start"
              >
                <div>
                  <div class="label">{{ 'Serial' | translate }}</div>
                  <div class="value">{{ selectedSlot.disk.serial }}</div>
                </div>
              </div>

              <div
                fxFlex="calc(25% - 16px)"
                class="detail"
                fxLayout="column"
                fxLayoutAlign="start start"
              >
                <div>
                  <div class="label">{{ 'Status' | translate }}</div>
                  <div class="value">{{ selectedSlot.topologyStatus }}</div>
                </div>
              </div>

              <div
                fxFlex="calc(25% - 16px)"
                class="detail"
                fxLayout="column"
                fxLayoutAlign="start start"
              >
                <div>
                  <div class="label">{{ 'Adv. Power Mgmt.' | translate }}</div>
                  <div class="value">{{ selectedSlot.disk.advpowermgmt }}</div>
                </div>
              </div>

              <div
                fxFlex="calc(25% - 16px)"
                class="detail"
                fxLayout="column"
                fxLayoutAlign="start start"
              >
                <div>
                  <div class="label">
                    {{ 'S.M.A.R.T. Enabled' | translate }}
                  </div>
                  <div class="value">
                    {{ selectedSlot.disk.togglesmart | yesNo }}
                  </div>
                </div>
              </div>

              <div
                fxFlex="calc(25% - 16px)"
                class="detail"
                fxLayout="column"
                fxLayoutAlign="start start"
              >
                <div>
                  <div class="label">
                    {{ 'S.M.A.R.T. Options' | translate }}
                  </div>
                  <div class="value">
                    {{ selectedSlot.disk.smartoptions ? selectedSlot.disk.smartoptions : 'None' }}
                  </div>
                </div>
              </div>

              <div
                fxFlex="calc(25% - 16px)"
                class="detail"
                fxLayout="column"
                fxLayoutAlign="start start"
              >
                <div>
                  <div class="label">{{ 'Transfer Mode' | translate }}</div>
                  <div class="value">{{ selectedSlot.disk.transfermode }}</div>
                </div>
              </div>

              <div
                fxFlex="calc(25% - 16px)"
                class="detail"
                fxLayout="column"
                fxLayoutAlign="start start"
              >
                <div>
                  <div class="label">{{ 'HDD Standby' | translate }}</div>
                  <div class="value">{{ selectedSlot.disk.hddstandby }}</div>
                </div>
              </div>

              <div
                fxFlex="calc(25% - 16px)"
                class="detail"
                fxLayout="column"
                fxLayoutAlign="start start"
              >
                <div>
                  <div class="label">{{ 'Description' | translate }}</div>
                  <div class="value">
                    {{ selectedSlot.disk.description ? selectedSlot.disk.description : 'None' }}
                  </div>
                </div>
              </div>

              <div
                fxFlex="calc(50% - 16px)"
                class="detail"
                fxLayout="column"
                fxLayoutAlign="start start"
              >
                <div>
                  <div class="label">{{ 'Rotation Rate' | translate }}</div>
                  <div class="value">
                    <ng-container *ngIf="selectedSlot.disk.rotationrate; else flash">
                      {{ selectedSlot.disk.rotationrate }}{{ 'RPM' | translate }}
                    </ng-container>
                    <ng-template #flash>
                      {{ 'Not Available' | translate }}
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
