<ix-table
  [title]="title"
  [dataSource]="dataSource"
  matSort
  matSortDisableClear="true"
  [matSortActive]="defaultSort.active"
  [matSortDirection]="defaultSort.direction"
  [multiTemplateDataRows]="true"
>
  <ng-container ix-table-toolbar-after>
    <button type="button" mat-button (click)="doAdd()">{{ 'Add User' | translate }}</button>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Username' | translate }} </th>
    <td mat-cell *matCellDef="let element">{{ element.username }}</td>
  </ng-container>

  <ng-container matColumnDef="uid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'UID' | translate }} </th>
    <td mat-cell *matCellDef="let element">{{ element.uid }}</td>
  </ng-container>

  <ng-container matColumnDef="builtin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Builtin' | translate }} </th>
    <td mat-cell *matCellDef="let element">{{ element.builtin }}</td>
  </ng-container>

  <ng-container matColumnDef="home">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Home' | translate }} </th>
    <td mat-cell *matCellDef="let element">{{ element.home }}</td>
  </ng-container>

  <ng-container matColumnDef="full_name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'Full Name' | translate }} </th>
    <td mat-cell *matCellDef="let element">{{ element.full_name }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> {{ 'Actions' | translate }} </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button type="button" (click)="doEdit(element.id)">
        <mat-icon role="img" fontSet="mdi-set" fontIcon="mdi-pencil"
          matTooltip="{{'Edit' | translate}}"
          matTooltipPosition="above"
          aria-label="Edit User"
        ></mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="ix-table-details" [@detailExpand]="element == expanded ? 'expanded' : 'collapsed'">
        <div><strong>{{ 'GID' | translate }}:</strong> {{ element?.group?.bsdgrp_gid }}</div>
        <div><strong>{{ 'Home Directory' | translate }}:</strong> {{ element.home }}</div>
        <div><strong>{{ 'Shell' | translate }}:</strong> {{ element.shell }}</div>
        <div><strong>{{ 'Email' | translate }}:</strong> {{ element.email }}</div>
        <div><strong>{{ 'Password Disabled' | translate }}:</strong> {{ element.password_disabled }}</div>
        <div><strong>{{ 'Lock User' | translate }}:</strong> {{ element.locked }}</div>
        <div><strong>{{ 'Permit Sudo' | translate }}:</strong> {{ element.sudo }}</div>
        <div><strong>{{ 'Microsoft Account' | translate }}:</strong> {{ element.microsoft_account }}</div>
        <div><strong>{{ 'Samba Authentication' | translate }}:</strong> {{ element.smb }}</div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
    (click)="expandRow(element)"
    class="element-row"
    [ngClass]="{'expanded-row': expanded === element}"
  ></tr>
  <tr mat-row class="details-row" [hidden]="expanded !== row" *matRowDef="let row; columns: ['expandedDetail'];"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
      <entity-empty [conf]="emptyConf"></entity-empty>
    </td>
  </tr>

  <ng-container ix-table-paginator>
    <mat-paginator [length]="userTotal" [pageSize]="50" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
  </ng-container>
</ix-table>
