.cdk-column-expandedDetail {
  overflow: hidden;
  width: 100%;
}

.cdk-column-actions {
  justify-content: flex-end;
  text-align: right;
}

.mat-row {
  &.details-row {
    height: 0;
    min-height: 0;

    td {
      overflow: hidden;
      width: 100%;
    }
  }
}

.ix-table-details {
  .mat-divider {
    left: 0;
    position: absolute;
    width: 100%;
  }

  .details {
    padding: 16px;
  }

  .actions {
    padding: 8px 16px;
  }
}
