:host ::ng-deep {

  font-size: 14px !important;

  .mat-dialog-content {
    max-width: unset;
    overflow: auto !important;
  }

  .logo-container {
    height: 100px;
  }

  .logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin-right: 30px;
    width: 100px;

    img {
      height: 100%;
      object-fit: contain;
      width: 100px;
    }
  }

  .ports,

  .resource {
    padding: 5px 0;
    white-space: nowrap;
    width: 100%;
  }

  .chart-name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }

  .version {
    font-size: 14px;
  }

  .version-tooltip {
    cursor: default;
    margin-left: 10px;
  }

  .value {
    margin-left: 12px;
    opacity: 0.5;
  }

  mat-accordion {
    font-size: 14px !important;
    max-height: 300px;
    width: 100%;
  }

  mat-expansion-panel {
    border: none !important;
    box-shadow: none !important;
  }

  .mat-expansion-panel-header,
  .mat-expansion-panel-header.mat-expanded {
    font-size: 14px !important;
    height: 25px;
    padding: 5px 0 !important;
  }

  .mat-expansion-panel-body {
    margin-left: 5px;
    max-height: 40vh;
    overflow-y: auto;
    padding: 0 !important;
  }

  .mat-expansion-panel-spacing {
    margin: 5px 0 !important;
  }


  .event-time {
    margin-right: 10px;
    width: 130px;
  }

  .event-message {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .row-dark {
    background: rgba(0, 0, 0, 0.1);
  }

  .detail-row {
    padding: 5px;
  }

  .button-bar {
    margin-bottom: -8px;
  }
}
