@if (isLoading()) {
  <ngx-skeleton-loader class="loader"></ngx-skeleton-loader>
} @else if (hasDevicesToAdd()) {
  <span
    *ixRequiresRoles="requiredRoles"
    class="add-button-wrapper"
    [matTooltip]="isContainerActive() ? (helptext.deviceRequiresStoppedTooltip | translate) : ''"
    [matTooltipDisabled]="!isContainerActive()"
  >
    <button
      mat-button
      ixTest="add-device"
      [disabled]="isContainerActive()"
      [matMenuTriggerFor]="addDeviceMenu"
    >
      {{ 'Add' | translate }}
    </button>
  </span>

  <mat-menu #addDeviceMenu="matMenu">
    @if (availableUsbDevices().length) {
      <h4 class="menu-header">{{ 'USB Devices' | translate }}</h4>
      @for (usb of availableUsbDevices(); track usb.devicePath) {
        <button
          mat-menu-item
          [ixTest]="['add-usb-device', usb.description]"
          [matMenuTriggerFor]="usbAttachMenu"
        >
          {{ usb.description }}
        </button>

        <mat-menu #usbAttachMenu="matMenu">
          <button
            mat-menu-item
            [ixTest]="['add-usb-device', usb.description, 'port']"
            (click)="addUsbByPort(usb)"
          >
            {{ helptext.usbAttachByPortLabel | translate }}
          </button>
          @if (usb.capability?.vendor_id && usb.capability?.product_id) {
            <button
              mat-menu-item
              [ixTest]="['add-usb-device', usb.description, 'ids']"
              (click)="addUsbByIds(usb)"
            >
              {{ helptext.usbAttachByIdsLabel | translate }}
            </button>
          }
        </mat-menu>
      }
    }
  </mat-menu>
} @else {
  <span class="no-devices-available">{{ 'No USB devices available' | translate }}</span>
}
