:host {
  align-items: center;
  display: flex;
  padding: 12px 14px;
}

.icon {
  align-self: normal;
  margin-right: 8px;

  .ix-icon {
    float: left;
    font-size: 21px;
    height: 21px;
    line-height: 21px;
    width: 21px;
  }
}

.name {
  flex-grow: 1;
}

.permissions {
  font-size: 0.8rem;
  line-height: 23px;
  margin-left: 20px;
  min-height: 23px;
  opacity: 0.75;
  text-align: right;
}
