:host {
  align-items: center;
  color: var(--fg1);
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;

  mat-checkbox {
    max-width: 93%;

    &::ng-deep {
      label {
        line-height: normal;
        max-width: 90%;
      }
    }
  }

  mat-hint {
    color: var(--fg2) !important;
    margin-left: 30px;
    margin-top: 0;
  }
}

.required {
  margin-left: 2px;
}
