<mat-card>
  <div class="mat-content">
    <form #wipeDiskForm="ngForm" class="form-wrap" (ngSubmit)="onSubmit($event)">
      <ng-container *ngFor="let field of fieldConfig;" 
        dynamicField [config]="field" [group]="formGroup">
      </ng-container>
      <mat-card-actions>
        <button
          class="btn btn-block btn-warning"
          type="submit"
          mat-button
          color="primary">
          Wipe
        </button>
        <button 
          class="btn btn-block btn-lg btn-primary"
          type="button"
          (click)="goBack()"
          mat-button
          color="accent">
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </div>
</mat-card>
