<div class="header-card item-search">
  <ix-fake-progress-bar
    class="loader-bar"
    [loading]="isLoading()"
  ></ix-fake-progress-bar>

  <div class="actions-bar">
    <div class="search-container">
      <ix-search-input2
        #searchInput
        class="search-input"
        [properties]="searchProperties()"
        [filterPresets]="userPresets"
        [advancedSearchPlaceholder]="advancedSearchPlaceholder"
        [query]="searchQuery()"
        (runSearch)="onSearch(searchInput.query()); updateUrlOptions(); searchInput.advancedSearch()?.hideDatePicker()"
      ></ix-search-input2>
      <div class="search-button-wrapper">
        <button
          mat-button
          type="button"
          color="primary"
          ixTest="search"
          (click)="onSearch(searchInput.query()); updateUrlOptions(); searchInput.advancedSearch()?.hideDatePicker()"
        >
          {{ 'Search' | translate }}
        </button>
      </div>
    </div>

  </div>
</div>
