@import 'scss-imports/variables';
@import 'mixins/layout';

.actions-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;

  @media (max-width: $breakpoint-sm) {
    display: block;
  }

  .search-container {
    column-gap: 12px;
    display: flex;
    flex: 1;

    @media (max-width: $breakpoint-singlecolumn) {
      width: 100%;
    }

    @media (max-width: $breakpoint-sm) {
      display: block;
    }

    .search-button-wrapper {
      display: flex;
      gap: 8px;
      justify-content: flex-end;

      @media (max-width: $breakpoint-sm) {
        margin-top: 8px;
      }
    }

    .search-input {
      @media (min-width: $breakpoint-sm) {
        max-width: 90%;
      }

      width: 100%;
    }
  }

  .user-type-filter {
    align-items: center;
    display: flex;
    margin-top: 2px;

    @media (min-width: $breakpoint-sm) {
      margin-left: 0;
      margin-top: 0;
    }

    .user-type-select {
      margin: 0;
      max-width: 230px;
      min-width: 160px;
      padding: 0;

      ::ng-deep .input-container {
        flex: 1;
        min-width: 120px;
      }
    }
  }
}
