<ix-modal-header
  [requiredRoles]="requiredRoles"
  [title]="'Add CSR' | translate"
  [loading]="isLoading()"
></ix-modal-header>

<tn-card>
  <tn-stepper orientation="vertical" [linear]="true" (selectionChange)="updateSummary()">
    <tn-step
      [label]="'Identifier and Type' | translate"
      [completed]="identifierAndType().completed()"
    >
      <ix-csr-identifier-and-type
        (profileSelected)="onProfileSelected($event)"
      ></ix-csr-identifier-and-type>
    </tn-step>

    @if (isImport) {
      <tn-step [label]="'Import Certificate' | translate" [completed]="import()?.completed()">
        <ix-csr-import></ix-csr-import>
      </tn-step>
    } @else {
      <tn-step [label]="'Certificate Options' | translate" [completed]="options()?.completed()">
        <ix-csr-options></ix-csr-options>
      </tn-step>
      <tn-step [label]="'Certificate Subject' | translate" [completed]="subject()?.completed()">
        <ix-csr-subject></ix-csr-subject>
      </tn-step>
      <tn-step [label]="'Extra Constraints' | translate" [completed]="constraints()?.completed()">
        <ix-csr-constraints></ix-csr-constraints>
      </tn-step>
    }

    <tn-step [label]="'Confirm Options' | translate">
      <ix-summary [summary]="summary"></ix-summary>

      <p class="confirm-line">{{ 'Confirm these settings.' | translate }}</p>

      <ix-form-actions>
        <tn-button
          tnStepperPrevious
          [testId]="'back'"
          [label]="'Back' | translate"
        ></tn-button>
        <tn-button
          *ixRequiresRoles="requiredRoles"
          color="primary"
          [testId]="'save'"
          [label]="'Save' | translate"
          (onClick)="onSubmit()"
        ></tn-button>
      </ix-form-actions>
    </tn-step>
  </tn-stepper>
</tn-card>
