@if (state()) {
  <button
    mat-stroked-button
    class="state-button"
    matTooltipPosition="above"
    [ixTest]="[title, uniqueRowTag(row()), 'row-state']"
    [ngClass]="getButtonClass()"
    [matTooltip]="tooltip"
    [attr.aria-label]="getAriaLabel(row())"
    (click)="$event.stopPropagation(); onButtonClick()"
  >
    {{ state() | jobStateDisplay }}
    @if (warnings.length > 0) {
      <div class="label-warning-icon">
        <tn-icon name="alert" library="mdi"></tn-icon>
      </div>
    }
  </button>
} @else {
  {{ 'N/A' | translate }}
}

