:host {
  display: block;
}

.title {
  font-size: 1rem;
  margin: 8px 24px 6px;
  opacity: 0.75;
}

.accordion-item {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }

  &.expanded {
    .accordion-item-header {
      background-color: var(--contrast-lightest);
      border-left: 4px solid var(--primary);
      box-shadow: 1px 3px 4px #0000004f;
    }

    .permission-details {
      display: block;
    }
  }
}

.accordion-item-header {
  background-color: var(--contrast-lighter);
  border-left: 4px solid transparent;
  cursor: pointer;
  padding-left: 17px;
  padding-right: 17px;
}

.permission-details {
  display: none;

  .details-section {
    border-bottom: 1px solid var(--lines);
    padding: 12px 13px 10px;

    &:last-child {
      border-bottom: none;
    }
  }

  .details-title {
    font-size: 0.75rem;
    margin-bottom: 14px;
    opacity: 0.75;
  }

  .details-items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .details-item {
    box-sizing: border-box;
    color: var(--fg2);
    display: flex;
    margin-bottom: 12px;
    width: 50%;
  }

  .icon {
    color: var(--primary);
    line-height: 21px;
    margin-right: 7px;
  }
}

