.metadata {
  min-width: 60vw;
  word-break: break-word;
}

.card-subtitle {
  margin-bottom: 12px;
}

.details-list {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 12px;
}

section {
  margin-bottom: 24px;
}

.details-item {
  align-items: center;
  column-gap: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 4px;

  .label {
    font-weight: bold;
    margin-right: 5px;
    white-space: normal;
  }

  .value {
    font-weight: normal;
    margin-right: 5px;
    white-space: normal;
  }
}

.details-entry {
  &:not(:last-child) {
    border-bottom: 1px solid var(--lines);
    margin-bottom: 8px;
    padding-bottom: 8px;
  }
}
