.widget {
  height: 400px;
  width: 600px;
}

.widget .mat-card .mat-card-content > div {
  padding: 8px 16px !important;
}

.external-link {
  color: #396f9d;
}

.copyright-txt {
  align-self: flex-end;
  font-size: 11px;
  text-align: center;
}

.widget mat-card-content {
  width: 100%;
}

.container {
  padding: 16px;
}


.line-item {
  margin: 20px;
}

.line-item mat-icon {
  font-size: 2.5rem;
}

.line-item div {
  align-items: center;
}

.medium-font {
  font-size: 1rem;
  padding: 0 15px;
  text-align: left;
}

#open-source {
  font-size: 0.75rem;
  padding: 1rem;
  text-align: center;
}


/* NARROW SCREENS */
.xs.widget {
  height: calc(100vh - 96px);
  position: absolute;
  width: 100vw;
}

.xs.widget .mat-card {
  overflow-y: scroll;
}

.xs.widget .mobile .top {
  padding-bottom: 24px;
}

.xs.widget .mobile .bottom {
  padding: 16px 0;
  text-align: left;
}


.xs.widget .mobile .list-subheader {
  color: var(--fg1);
  font-size: 90%;
  font-weight: 700;
  padding: 8px 0 16px 16px;
  text-align: left;
}

.xs.widget .mat-list-base .mat-list-item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.mobile .mat-list-item span.label {
  font-weight: 500;
}

.mobile .mat-list-item span.subtext {
  opacity: 0.5;
}
