div.dynamic-list {
    overflow: auto;
    height: 220px;
    width: 100%;
    border: 1px solid var(--bg1);
}
mat-list-item.dynamic-list {
    height: 48px !important;
}
div.dynamic-list-container {
    margin-bottom: 13px;
}
div.move-to-action {
    padding-right: 10px;
}
div.dynamic-list-container.disabled label.dynamic-list-item {
    opacity: 0.38;
    cursor: default;
}
