<div class="dynamic-list-container" fxLayout="row">
    <div fxFlexAlign="center" class="move-to-action">
        <button mat-flat-button color="primary" class="move-to-btn" type="button" (click)="drop()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
    <div fxFlex="100%">
        <div fxLayout="row" class="input-add">
            <div fxFlex="100%">
                <div id="dynamicField_auth_network_add" dynamicField [config]="inputConfig" [group]="group"
                    [fieldShow]="'show'"></div>
            </div>
            <div>
                <button mat-flat-button color="primary" type="button" (click)="add()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout="row">
            <div class="dynamic-list">
                <mat-list>
                    <mat-list-item *ngFor="let item of this.listControl.value" class="dynamic-list">
                        <h4 mat-line>{{item}}</h4>
                        <button mat-flat-button type="button" (click)="remove(item)" color="accent">
                            <mat-icon mat-list-icon>remove</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>