div.dynamic-list {
  border: 1px solid var(--bg1);
  height: 220px;
  overflow: auto;
  width: 100%;
}

mat-list-item.dynamic-list {
  height: 48px !important;
}

div.dynamic-list-container {
  margin-bottom: 13px;
}

div.move-to-action {
  padding-right: 10px;
}

div.dynamic-list-container.disabled label.dynamic-list-item {
  cursor: default;
  opacity: var(--disabled-opacity);
}
