<div
  class="dynamic-list-container"
  fxLayout="row"
  [ngClass]="this.listControl.disabled ? 'disabled' : ''"
>
  <div fxFlexAlign="center" class="move-to-action">
    <button
      mat-flat-button
      color="primary"
      class="move-to-btn"
      type="button"
      [ixTest]="[inputConfig.name, 'move-to']"
      [disabled]="this.listControl.disabled"
      (click)="drop()"
    >
      <ix-icon name="arrow_forward"></ix-icon>
    </button>
  </div>
  <div fxFlex="100%">
    <div fxLayout="row" class="input-add">
      <div fxFlex="100%">
        <div
          id="dynamicField_auth_network_add"
          dynamicField
          [config]="inputConfig"
          [group]="formGroup"
          [fieldShow]="'show'"
        ></div>
      </div>
      <div>
        <button
          mat-flat-button
          color="primary"
          type="button"
          [ixTest]="[inputConfig.name, 'add']"
          [disabled]="this.listControl.disabled || !this.inputControl.valid"
          (click)="add()"
        >
          <ix-icon name="add"></ix-icon>
        </button>
      </div>
    </div>
    <div fxLayout="row">
      <div class="dynamic-list">
        <mat-list class="dynamic-list">
          <mat-list-item
            *ngFor="let item of this.listControl.value"
            class="dynamic-list"
          >
            <label mat-line class="dynamic-list-item">{{ item }}</label>
            <button
              mat-flat-button
              type="button"
              color="accent"
              [ixTest]="[inputConfig.name, 'remove']"
              [disabled]="this.listControl.disabled"
              (click)="remove(item)"
            >
              <ix-icon name="remove" mat-list-icon></ix-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
