<ix-page-header>
  <div class="search-container">
    <ix-search-input
      #searchInput
      class="search-input"
      [properties]="searchProperties"
      [query]="searchQuery"
      [advancedSearchPlaceholder]="advancedSearchPlaceholder"
      (runSearch)="onSearch(searchInput.query());"
    ></ix-search-input>
    <div class="search-button-wrapper">
      <tn-button
        testId="search"
        [label]="'Search' | translate"
        (onClick)="onSearch(searchInput.query())"
      ></tn-button>

      <tn-button
        href="/api/docs"
        target="_blank"
        testId="api-docs"
        [label]="'API Docs' | translate"
      ></tn-button>

      <tn-button
        *ixRequiresRoles="requiredRoles"
        color="primary"
        testId="add-api-key"
        [ixUiSearch]="searchableElements.elements.add"
        [label]="'Add' | translate"
        (onClick)="openForm()"
      ></tn-button>
    </div>
  </div>
</ix-page-header>

<div class="table-container" [ixUiSearch]="searchableElements.elements.list">
  @let emptyConfig = emptyService.defaultEmptyConfig(dataProvider.emptyType$ | async);
  <tn-table
    [dataSource]="(dataProvider.currentPage$ | async) ?? []"
    [displayedColumns]="displayedColumns"
    [trackBy]="trackById"
    [loading]="!!(dataProvider.isLoading$ | async)"
    [loadingMessage]="'Loading…' | translate"
    [emptyMessage]="emptyConfig.title | translate"
    [emptyIcon]="emptyIcon"
    (sortChange)="onSortChange($event)"
  >
    <ng-container [tnColumnDef]="'name'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Name' | translate }}</ng-template>
      <ng-template let-row tnCellDef>{{ row.name }}</ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'username'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Username' | translate }}</ng-template>
      <ng-template let-row tnCellDef>{{ row.username }}</ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'local'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Local' | translate }}</ng-template>
      <ng-template let-row tnCellDef>{{ row.local | yesNo | translate }}</ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'revoked'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Revoked' | translate }}</ng-template>
      <ng-template let-row tnCellDef>{{ row.revoked | yesNo | translate }}</ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'created_at'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Created Date' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <ix-date [date]="row.created_at.$date"></ix-date>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'expires_at'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Expires On' | translate }}</ng-template>
      <ng-template let-row tnCellDef>{{ expiresLabel(row) }}</ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'actions'" [width]="'120px'">
      <ng-template tnHeaderCellDef></ng-template>
      <ng-template let-row tnCellDef>
        <div class="actions-cell">
          @if (!row.revoked) {
            <tn-icon-button
              *ixRequiresRoles="requiredRoles"
              name="pencil"
              library="mdi"
              [tooltip]="'Edit' | translate"
              [ariaLabel]="'Edit' | translate"
              [disabled]="isActionDisabled(row)"
              [testId]="['edit', row.name]"
              (onClick)="openForm(row)"
            ></tn-icon-button>
          }
          <tn-icon-button
            *ixRequiresRoles="requiredRoles"
            name="delete"
            library="mdi"
            [tooltip]="'Delete' | translate"
            [ariaLabel]="'Delete' | translate"
            [disabled]="isActionDisabled(row)"
            [testId]="['delete', row.name]"
            (onClick)="doDelete(row)"
          ></tn-icon-button>
        </div>
      </ng-template>
    </ng-container>
  </tn-table>
  <tn-table-pager [dataProvider]="dataProvider"></tn-table-pager>
</div>
