h1 {
  margin-bottom: 1px;
}

#unlock-msg {
  padding-top: 2px;
}

.section-title {
  padding-top: 4px;
}

.red-icon {
  color: var(--red);
}

.green-icon {
  color: var(--green);
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  padding-top: 2px;

  > div {
    display: flex;
    gap: 5px;
  }

  a {
    cursor: pointer;
  }
}

div.message-content {
  min-width: 500px;
  overflow: auto;
}

mat-divider {
  margin: 8px 0;
}
