:host {
  display: block;
}

.full-width.container {
  &.hidden {
    display: none;
  }
}

:host ::ng-deep {
  .oauth-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }
}
