@import 'mixins/cards';

:host {
  display: flex;
}

.card {
  @include details-card();
  display: flex;
  flex: 1;
  flex-direction: column;

  .content-container {
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .details-item {
    margin: 8px 0;
  }
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
