@import '~assets/styles/scss-imports/splitview';

:host {
  border-bottom: solid 1px var(--lines);
  box-sizing: border-box;
  color: var(--fg2);
  display: block;
  margin: 0 auto 32px;
  padding-bottom: 8px;
  padding-top: 0;
  width: calc(100% - 16px);

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }

  @media (max-width: $breakpoint-xs) {
    padding-top: 8px;
  }
}

.header-container {
  @media (max-width: $breakpoint-xs) {
    padding: 0 16px;
  }
}

ix-breadcrumb {
  position: relative;
  top: 8px;
}

.title-container {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 8px 0;
  min-height: 40px;

  @media (max-width: $breakpoint-tablet) {
    flex-wrap: wrap;
  }
}

.actions-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 0 8px;
  justify-content: flex-end;

  @media (max-width: $breakpoint-tablet) {
    border-top: solid 1px var(--lines);
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin-top: 12px;
    padding: 14px 0;
    width: 100%;
  }
}

.actions-container:empty {
  display: none;
  opacity: 0;
}

.actions-container > ::ng-deep * {
  @media (max-width: $breakpoint-tablet) {
    margin: 0 8px;
  }
}

.actions-container > ::ng-deep .mat-button {
  @media (max-width: $breakpoint-tablet) {
    min-width: 40%;
  }
}

.actions-container > ::ng-deep ix-search-input {
  @media (max-width: $breakpoint-tablet) {
    width: 80%;
  }
}

