<tn-dialog-shell testId="set-dedup-quota" [title]="'Deduplication Quota for {pool}' | translate: { pool: pool.name }">
<form class="ix-form-container" [formGroup]="form" (submit)="submit()">
  <tn-form-field [label]="'Quota' | translate">
    <tn-select
      testId="quota-type"
      formControlName="quotaType"
      [options]="(quotaTypeOptions$ | async) ?? []"
    ></tn-select>
  </tn-form-field>

  @if (hasCustomQuota) {
    <tn-form-field [label]="'Custom Quota' | translate">
      <tn-input
        testId="quota-value"
        formControlName="quotaValue"
        [inputType]="InputType.Size"
        [required]="true"
      ></tn-input>
    </tn-form-field>
  }

</form>
<ix-form-actions tnDialogAction>
  <tn-button
    variant="outline"
    testId="cancel"
    [label]="'Cancel' | translate"
    (onClick)="dialogRef.close(false)"
  ></tn-button>

  <tn-button
    color="primary"
    testId="save"
    [label]="'Save' | translate"
    (onClick)="submit()"
  ></tn-button>
</ix-form-actions>
</tn-dialog-shell>
