@import 'scss-imports/variables';

:host {
  margin: 0 auto;
}

a {
  cursor: pointer;
  display: block;
  margin-bottom: 2px;
  text-align: center;
  text-decoration: none;

  span {
    color: var(--fg2);
    display: block;

    &.text-above {
      color: var(--primary);
      margin-bottom: 2px;
    }
  }
}
