@import 'scss-imports/variables';

:host {
  margin: 0 auto;
}

a {
  align-items: center;
  color: var(--primary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
