.mat-card-content :host {
  border: 0 !important;
}

.ix-table.cdk-table {
  border-spacing: 0;
  display: table;
  width: 100%;

  &.ix-table-fixed-layout {
    table-layout: fixed;
  }

  .mat-header-row,
  .mat-row,
  .mat-footer-row {
    height: 48px;
  }

  .mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    border-bottom: 1px solid var(--lines);
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;

    &:first-of-type {
      padding-left: 24px;
    }

    &:last-of-type {
      padding-right: 24px;
    }
  }

  .mat-header-cell {
    background-color: var(--bg2);
    color: var(--fg2);
    letter-spacing: 0.3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mat-cell {
    color: var(--fg2);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.mat-column-actions {
      padding-right: 16px;
    }
  }

  .mat-no-data-row .mat-cell {
    padding: 16px;
  }
}

