:host ::ng-deep {
  border: 1px solid var(--lines);
  display: block;
  margin-top: 8px;

  .ix-table {
    width: 100%;

    &.mat-table-fixed-layout {
      table-layout: fixed;
    }

    .mat-header-row {
      height: 48px;

      &:hover {
        background-color: var(--fg1);
      }
    }

    .mat-header-cell,
    .mat-cell,
    .mat-footer-cell {
      padding-left: 16px;
      padding-right: 16px;
    }

    .mat-header-cell {
      background-color: var(--bg2);
      color: var(--fg2);
      letter-spacing: 0.3px;
    }

    .mat-cell {
      color: var(--fg2);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.mat-column-actions {
        padding-right: 8px;
      }
    }
  }

  .mat-no-data-row .mat-cell {
    padding: 16px;
  }
}
