@import 'scss-imports/cssvars';

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 24px;
  }
}

.container {
  .pool-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .pool-info-bottom {
      display: flex;
      gap: 12px;

      > * {
        display: block;
        width: 100%;
      }
    }
  }
}
