div.color-swatch {
  border: 0;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0);
  cursor: default;
  /*display:inline-block;*/
  float: left;
  height: 32px;
  margin: 0 8px;
  width: 32px;
}

.colorpicker .mat-form-field.full-width {
  max-width: 80px;
}

:host ::ng-deep .color-picker {
  background-color: var(--bg2);
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 8px 7px rgba(0, 0, 0, 0.25);
  color: var(--fg1);
}

:host ::ng-deep .color-picker .hsla-text,
:host ::ng-deep .color-picker .rgba-text,
:host ::ng-deep .color-picker .hex-text {
  display: none !important;
}

:host ::ng-deep .color-picker .selected-color {
  border: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

:host ::ng-deep .color-picker .selected-color-background {
  height: 36px;
  margin: 1px 0 0 1px;
  width: 36px;
}

.picker-input {
  opacity: 0;
  position: absolute;
}
