@import '~assets/styles/mixins/cards';

.card {
  @include details-card();
}

.icon {
  margin-right: 8px;
}

.apps,
.vms {
  margin-bottom: 12px;
  margin-top: 12px;
  white-space: normal !important;
}
