<ix-modal-header
  [requiredRoles]="requiredRoles"
  [title]="title"
  [loading]="isLoading()"
></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="submit()">
      <ix-smb-users-warning></ix-smb-users-warning>

      <ix-fieldset [title]="'Basic' | translate">
        <ix-form-field
          [label]="helptextSharingSmb.purposeLabel | translate"
          [hint]="helptextSharingSmb.purposeTooltip | translate"
          [required]="true"
        >
          <ix-select
            formControlName="purpose"
            [options]="purposeOptions()"
          ></ix-select>
        </ix-form-field>

        @if (showLegacyWarning()) {
          <ix-warning [message]="legacyWarningMessage"></ix-warning>
        }

        @if (showExtensionsWarning()) {
          <ix-smb-extensions-warning
            (extensionsEnabled)="extensionsEnabled()"
          ></ix-smb-extensions-warning>
        }

        @if (form.controls.purpose.value !== SmbPresetType.ExternalShare) {
          <ix-explorer
            formControlName="path"
            [required]="true"
            [tooltip]="helptextSharingSmb.pathTooltip | translate"
            [label]="helptextSharingSmb.pathLabel | translate"
            [nodeProvider]="treeNodeProvider"
            [rootNodes]="rootNodes()"
          >
            <ix-explorer-create-dataset [datasetProperties]="createDatasetProps"></ix-explorer-create-dataset>
          </ix-explorer>
        }

        <ix-form-field
          [label]="helptextSharingSmb.nameLabel | translate"
          [required]="true"
        >
          <ix-input
            formControlName="name"
          ></ix-input>
        </ix-form-field>

        @if (form.controls.remote_path.enabled) {
          <ix-chips
            formControlName="remote_path"
            [label]="'Remote Paths' | translate"
            [tooltip]="'This is the path to the external server and share. Each server entry must include a full domain name or IP address and share name. Separate the server and share with the `\\` character. \n\n Example: 192.168.0.200\\SHARE' | translate"
            [required]="true"
          ></ix-chips>
        }

        <ix-form-field
          [label]="helptextSharingSmb.commentLabel | translate"
        >
          <ix-input
            formControlName="comment"
          ></ix-input>
        </ix-form-field>

        <ix-form-field
          [label]="helptextSharingSmb.enabledLabel | translate"
        >
          <ix-checkbox
            formControlName="enabled"
          ></ix-checkbox>
        </ix-form-field>
      </ix-fieldset>

      @if (isAdvancedMode) {
        <ix-fieldset [title]="'Access' | translate">
          @if (form.controls.acl.enabled) {
            <ix-form-field
              [label]="helptextSharingSmb.aclLabel | translate"
              [hint]="helptextSharingSmb.aclTooltip | translate"
            >
              <ix-checkbox
                formControlName="acl"
              ></ix-checkbox>
            </ix-form-field>
          }

          @if (form.controls.readonly.enabled) {
            <ix-form-field
              [label]="helptextSharingSmb.readOnlyLabel | translate"
              [hint]="helptextSharingSmb.readOnlyTooltip | translate"
            >
              <ix-checkbox
                formControlName="readonly"
              ></ix-checkbox>
            </ix-form-field>
          }

          @if (form.controls.browsable.enabled) {
            <ix-form-field
              [label]="helptextSharingSmb.browsableLabel | translate"
              [hint]="helptextSharingSmb.browsableTooltip | translate"
            >
              <ix-checkbox
                formControlName="browsable"
              ></ix-checkbox>
            </ix-form-field>
          }

          @if (form.controls.guestok.enabled) {
            <ix-form-field
              [label]="helptextSharingSmb.guestokLabel | translate"
              [hint]="helptextSharingSmb.guestokTooltip | translate"
            >
              <ix-checkbox
                formControlName="guestok"
              ></ix-checkbox>
            </ix-form-field>
          }

          @if (form.controls.access_based_share_enumeration.enabled) {
            <ix-form-field
              [label]="helptextSharingSmb.abeLabel | translate"
              [hint]="helptextSharingSmb.abeTooltip | translate"
            >
              <ix-checkbox
                formControlName="access_based_share_enumeration"
              ></ix-checkbox>
            </ix-form-field>
          }

          @if (form.controls.hostsallow.enabled) {
            <ix-chips
              formControlName="hostsallow"
              [label]="helptextSharingSmb.hostsallowLabel | translate"
              [tooltip]="helptextSharingSmb.hostsAllowTooltip | translate"
            ></ix-chips>
          }

          @if (form.controls.hostsdeny.enabled) {
            <ix-chips
              formControlName="hostsdeny"
              [label]="helptextSharingSmb.hostsdenyLabel | translate"
              [tooltip]="helptextSharingSmb.hostsdenyTooltip | translate"
            ></ix-chips>
          }
        </ix-fieldset>

        <ix-fieldset formGroupName="audit" [title]="'Audit Logging' | translate">
          <ix-form-field
            [label]="'Enable Logging' | translate"
            [hint]="helptextSharingSmb.auditLogTooltip | translate"
          >
            <ix-checkbox
              formControlName="enable"
            ></ix-checkbox>
          </ix-form-field>

          @if (form.value.audit.enable) {
            <ix-chips
              formControlName="watch_list"
              [hint]="'Keep this list empty to Watch All' | translate"
              [label]="'Watch List' | translate"
              [tooltip]="helptextSharingSmb.watchListTooltip | translate"
              [autocompleteProvider]="groupProvider"
              [allowNewEntries]="false"
            ></ix-chips>

            <ix-chips
              formControlName="ignore_list"
              [label]="'Ignore List' | translate"
              [tooltip]="helptextSharingSmb.ignoreListTooltip | translate"
              [autocompleteProvider]="groupProvider"
              [allowNewEntries]="false"
            ></ix-chips>
          }
        </ix-fieldset>

        @if (showOtherOptions) {
          <ix-fieldset [title]="'Other Options' | translate">
            @if (form.controls.home.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.homeLabel | translate"
                [hint]="helptextSharingSmb.homeTooltip | translate"
              >
                <ix-checkbox
                  formControlName="home"
                ></ix-checkbox>
              </ix-form-field>
            }

            @if (form.controls.timemachine.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.timemachineLabel | translate"
                [hint]="helptextSharingSmb.timemachineTooltip | translate"
              >
                <ix-checkbox
                  formControlName="timemachine"
                ></ix-checkbox>
              </ix-form-field>
            }

            @if (
              (form.controls.timemachine_quota.enabled && form.value.timemachine && form.controls.timemachine.enabled) ||
              (form.controls.timemachine_quota.enabled && !form.controls.timemachine.enabled)
            ) {
              <ix-form-field
                [label]="helptextSharingSmb.timemachineQuotaLabel | translate"
                [hint]="helptextSharingSmb.timemachineQuotaTooltip | translate"
              >
                <ix-input
                  formControlName="timemachine_quota"
                  [inputType]="InputType.PlainText"
                ></ix-input>
              </ix-form-field>
            }

            @if (form.controls.afp.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.afpLabel | translate"
                [hint]="helptextSharingSmb.afpTooltip | translate"
              >
                <ix-checkbox
                  formControlName="afp"
                ></ix-checkbox>
              </ix-form-field>
            }

            @if (form.controls.shadowcopy.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.shadowcopyLabel | translate"
                [hint]="helptextSharingSmb.shadowcopyTooltip | translate"
              >
                <ix-checkbox
                  formControlName="shadowcopy"
                ></ix-checkbox>
              </ix-form-field>
            }

            @if (form.controls.recyclebin.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.recyclebinLabel | translate"
                [hint]="helptextSharingSmb.recyclebinTooltip | translate"
              >
                <ix-checkbox
                  formControlName="recyclebin"
                ></ix-checkbox>
              </ix-form-field>
            }

            @if (form.controls.aapl_name_mangling.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.aaplNameManglingLabel | translate"
                [hint]="helptextSharingSmb.aaplNameManglingTooltip | translate"
              >
                <ix-checkbox
                  formControlName="aapl_name_mangling"
                ></ix-checkbox>
              </ix-form-field>
            }

            @if (form.controls.streams.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.streamsLabel | translate"
                [hint]="helptextSharingSmb.streamsTooltip | translate"
              >
                <ix-checkbox
                  formControlName="streams"
                ></ix-checkbox>
              </ix-form-field>
            }

            @if (form.controls.durablehandle.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.durablehandleLabel | translate"
                [hint]="helptextSharingSmb.durablehandleTooltip | translate"
              >
                <ix-checkbox
                  formControlName="durablehandle"
                ></ix-checkbox>
              </ix-form-field>
            }

            @if (form.controls.fsrvp.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.fsrvpLabel | translate"
                [hint]="helptextSharingSmb.fsrvpTooltip | translate"
              >
                <ix-checkbox
                  formControlName="fsrvp"
                ></ix-checkbox>
              </ix-form-field>
            }

            @if (form.controls.path_suffix.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.pathSuffixLabel | translate"
                [hint]="helptextSharingSmb.pathSuffixTooltip | translate"
              >
                <ix-input
                  formControlName="path_suffix"
                ></ix-input>
              </ix-form-field>
            }

            @if (form.controls.auxsmbconf.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.auxsmbconfLabel | translate"
                [hint]="helptextSharingSmb.auxsmbconfTooltip | translate"
              >
                <ix-input
                  formControlName="auxsmbconf"
                ></ix-input>
              </ix-form-field>
            }

            @if (form.controls.vuid.enabled) {
              <ix-form-field
                [label]="'VUID' | translate"
                [hint]="'Unique identifier for user session. Enter a valid UUID4 string.' | translate"
              >
                <ix-input
                  formControlName="vuid"
                ></ix-input>
              </ix-form-field>
            }

            @if (form.controls.auto_snapshot.enabled) {
              <ix-form-field
                [label]="'Auto Snapshot' | translate"
                [hint]="'Enable automatic snapshot creation for Time Machine shares.' | translate"
              >
                <ix-checkbox
                  formControlName="auto_snapshot"
                ></ix-checkbox>
              </ix-form-field>
            }

            @if (form.controls.auto_dataset_creation.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.autoDatasetCreationLabel | translate"
                [hint]="helptextSharingSmb.autoDatasetCreationTooltip | translate"
              >
                <ix-checkbox
                  formControlName="auto_dataset_creation"
                ></ix-checkbox>
              </ix-form-field>
            }

            @if (shouldShowNamingSchema) {
              <ix-form-field
                [label]="helptextSharingSmb.datasetNamingSchemaLabel | translate"
                [hint]="helptextSharingSmb.datasetNamingSchemaTooltip | translate"
              >
                <ix-input
                  formControlName="dataset_naming_schema"
                ></ix-input>
              </ix-form-field>
            }

            @if (form.controls.grace_period.enabled) {
              <ix-form-field
                [label]="'Grace Period' | translate"
                [hint]="'Specify delay before access timeout or share lock.' | translate"
              >
                <ix-input
                  formControlName="grace_period"
                  [inputType]="InputType.PlainText"
                ></ix-input>
              </ix-form-field>
            }

            @if (form.controls.auto_quota.enabled) {
              <ix-form-field
                [label]="helptextSharingSmb.autoQuotaLabel | translate"
                [hint]="helptextSharingSmb.autoQuotaTooltip | translate"
              >
                <ix-input
                  formControlName="auto_quota"
                  [inputType]="InputType.PlainText"
                ></ix-input>
              </ix-form-field>
            }
          </ix-fieldset>
        }
      }

      <ix-form-actions>
        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          type="submit"
          color="primary"
          ixTest="save"
          [disabled]="form.invalid || isLoading() || isAsyncValidatorPending"
        >
          {{ 'Save' | translate }}
        </button>

        <button
          id="smb-form-toggle-advanced-options"
          mat-button
          type="button"
          ixTest="toggle-advanced-options"
          (click)="this.isAdvancedMode = !this.isAdvancedMode"
        >
          {{ isAdvancedMode ? ('Basic Options' | translate) : ('Advanced Options' | translate) }}
        </button>
      </ix-form-actions>
    </form>
  </mat-card-content>
</mat-card>
