<tn-dialog-shell [title]="'Manage SED Password' | translate">
<form class="ix-form-container" (submit)="onSubmit($event)">
  <ix-input
    type="password"
    [formControl]="passwordControl"
    [label]="'SED Password' | translate"
    [tooltip]="helptext.passwordTooltip | translate"
  ></ix-input>

</form>
<ix-form-actions tnDialogAction>
  <tn-button
    variant="outline"
    testId="cancel"
    [label]="'Cancel' | translate"
    (onClick)="dialogRef.close(false)"
  ></tn-button>
  @if (disk?.passwd) {
    <tn-button
      variant="outline"
      testId="clear-sed-password"
      [label]="'Clear SED Password' | translate"
      (onClick)="onClearPassword()"
    ></tn-button>
  }
  <tn-button
    *ixRequiresRoles="requiredRoles"
    color="primary"
    testId="save"
    [label]="'Save' | translate"
    [disabled]="passwordControl.invalid"
    (onClick)="onSubmit()"
  ></tn-button>
</ix-form-actions>
</tn-dialog-shell>
