mat-card-title {
  align-items: center;
  display: flex;

  ix-readonly-badge {
    margin-left: 8px;
  }
}

.padding-16 {
  padding: 16px;
}

.form-card .mat-mdc-card-title {
  margin-left: 16px;
  margin-top: 12px;
}
