:host {
  font-size: 14px;
}

:host ::ng-deep .mat-mdc-dialog-content {
  max-width: unset;
  overflow: auto;

  .mat-mdc-form-field {
    margin: 0 0 0 10px;
    width: unset !important;
  }

  .mat-accordion {
    max-height: 300px;

    .mat-expansion-panel {
      border: none;
      box-shadow: none;
    }

    .mat-expansion-panel-header,
    .mat-expansion-panel-header.mat-expanded {
      font-size: 14px;
      height: 25px;
      padding: 5px 0;
    }

    .mat-expansion-panel-body {
      margin-left: 5px;
      max-height: 40vh;
      overflow-y: auto;
      padding: 0;
    }

    .mat-expansion-panel-spacing {
      margin: 5px 0;
    }
  }
}

.logo-container {
  align-items: center;
  display: flex;
  height: 100px;
  place-content: center flex-start;

  .name-container {
    align-items: baseline;
    display: flex;
  }
}

.logo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  margin-right: 30px;
  width: 100px;

  img {
    height: 100%;
    object-fit: contain;
    width: 100px;
  }
}

.resource {
  align-items: center;
  display: flex;
  padding: 5px 0;
  white-space: nowrap;
  width: 100%;
}

.app-name {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.version {
  font-size: 14px;
}

.version-tooltip {
  margin-left: 10px;
}

.value {
  margin-left: 12px;
  opacity: 0.5;
}

.row-dark {
  background: rgba(0, 0, 0, 0.1);
}

.detail-row {
  padding: 5px;
}

