.details {
  display: grid;
  gap: 2px 12px;
  grid-template-columns: minmax(auto, 40%) 1fr;
  margin: 0;

  dt {
    color: var(--fg2);
    overflow-wrap: anywhere;
  }

  dd {
    margin: 0;
    overflow-wrap: anywhere;
  }
}
