.confirm-checkbox {
    padding-right: 10px;
}

/* #confirm-label {
    margin-left: 15px !important;
    position: relative;
    top: -2px;
} */

#confirm-label:hover {
    cursor: pointer;
}

h1 {
    margin-bottom: 1px;
}

#confirm-msg {
    padding-top: 20px;
}

div.message-content {
    max-height: 300px;
    overflow: auto;
}