.card-title {
  align-items: center;
  display: flex;

  ix-icon {
    margin-left: 5px;
  }
}

:host ::ng-deep {
  .wide-actions {
    width: 80px;
  }

  .state-button {
    text-overflow: inherit !important;
    width: 78px;
  }
}
