.copyright-txt, #shutdown-message, #shark, #signin-link {
    text-align: center;
}

#logo {
    width: 80%;
}

.copyright-txt {
    margin-top: 10px;
}

#wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0095d5;
}

#shutdown-card {
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#overlay {
    background: black !important;
    opacity: 0;
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
}

#overlay.blackout {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -ms-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}
