@import 'scss-imports/cssvars';

:host {
  gap: 24px;
}

.app {
  display: flex;
  flex-direction: column;

  .installed-badge {
    background-color: var(--contrast-darkest);
    color: var(--green);
    cursor: pointer;
    font-family: var(--font-family-header);
    font-size: 1.3em;
    font-weight: bold;
    left: -10px;
    line-height: 1.3em;
    padding: 2px 13px 2px 11px;
    position: absolute;
    top: 6px;
    z-index: 1;
  }
}

.app-info {
  @media(max-width: $breakpoint-md) {
    padding: 0;
  }

  .catalog-header {
    margin-bottom: 0.5rem;
  }
}

.catalog-container {
  opacity: 0.5;
}


$app-image-size: 144px;

.app-image-holder {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: $app-image-size;
  width: 100%;

  img {
    display: inline-block;
    height: auto;
    object-fit: contain;
    width: 100%;
  }
}

.app-list-item {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0.25rem 0;
  word-wrap: break-word;

  a,
  span {
    max-width: 100%;
  }
}

.app-description {
  flex-basis: 1;
  overflow-y: auto;
}

.app-image-loader {
  ::ng-deep span {
    border-radius: 50%;
    height: $app-image-size;
    margin: 0;
    width: $app-image-size;
  }
}

.description-wrapper {
  font-size: 13px;
  white-space: pre-line;
}

.app-info {
  ngx-skeleton-loader {
    display: inline-flex;
    width: 35%;

    ::ng-deep span {
      margin: 0;
    }
  }
}
