<div
  id="breadcrumb-bar"
  class="breadcrumb-bar"
  [ngClass]="{ invisible: breadcrumbs.length < 2 }"
>
  <ul class="breadcrumb">
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
      <li *ngIf="i > 0">&gt;</li>
      <li>
        <ng-container>
          <span *ngIf="!breadcrumb.disabled; else noclick">
            <a [routerLink]="breadcrumb.url" [ixTest]="['breadcrumb', breadcrumb.title]">
              {{ breadcrumb.title | translate }}
            </a>
          </span>
        </ng-container>
        <ng-template #noclick>
          <span class="no-click">{{ breadcrumb.breadcrumb | translate }}</span>
        </ng-template>
      </li>
    </ng-container>
  </ul>
</div>
