<div mat-dialog-content>
    <div class="title-div" fxLayout="row" fxLayoutAlign="space-between center">
        <strong class="catalog-name">{{ catalogApp.name }} {{ 'Application Summary' | translate }}</strong>
        <span class="status active" *ngIf="catalogApp.healthy">{{ 'Active' | translate }}</span>
        <span class="status other" *ngIf="!catalogApp.healthy">{{ 'Not Active' | translate }}</span>
    </div>
    <div class="description" [innerHTML]="catalogApp.info">
    </div>
    <div class="categories">
        <span>{{ 'Categories' | translate }}:</span><span class="value">{{ catalogApp.categories.join(', ') }}</span>
    </div>
    <div class="resource" fxLayout="row" fxLayoutAlign="space-between center">
        <div>
            <span>{{ 'Versions' | translate }}</span>
        </div>
        <div>
            <span>{{ 'Status' | translate }}:</span>
            <mat-form-field class="">
                <mat-select class="" [(ngModel)]="selectedStatus"  (ngModelChange)="onStatusOptionChanged()"
                    ix-auto ix-auto-type="select" ix-auto-identifier="status-select">
                    <mat-option *ngFor="let option of statusOptions" value="{{ option }}">
                      {{ option }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>
    </div>
    <div class="version-list">
        <div fxLayout="row" fxLayoutAlign="center start">
            <span fxFlex="70%" class="">{{'Version' | translate }}</span>
            <span fxFlex="30%" class="text-center" >{{'Version Info' | translate }}</span>
        </div>
        <div *ngIf="hasFilterResult();else noVersions">
            <div *ngFor="let version of filteredVersions | keyvalue; let i = index" class="detail-row" [ngClass]="{'row-dark': i%2==0}">
                <div fxLayout="row" fxLayoutAlign="center start">
                    <span fxFlex="70%" class="version-number">{{ versionLabel(version) }}</span>
                    <span fxFlex="30%" class="text-center" >
                        <mat-icon class="version-tooltip" matTooltip="{{ version.value.app_readme }}">info</mat-icon>
                    </span>
                </div>
            </div>
        </div>
        <ng-template #noVersions>
            <div fxLayout="row" fxLayoutAlign="start start" class="detail-row row-dark">
                {{ 'No Version' | translate }}
            </div> 
        </ng-template>

      </div>
</div>

<div class="button-bar" mat-dialog-actions align="end">
    <button mat-button class="mat-button mat-secondary" (click)="dialogRef.close(false)"
        ix-auto ix-auto-type="button" ix-auto-identifier="CLOSE">
            {{ helptext.actionBtnText.close | translate }}
    </button>
</div>
