.ix-dark ix-catalog-summary-dialog div.mat-dialog-content {
  overflow: auto !important;
}

ix-catalog-summary-dialog {
  font-size: 14px;

  .status-filter {
    align-items: center;
    display: flex;


    .mat-form-field {
      margin: 0 0 0 10px;
      width: unset !important;

      .mat-form-field-infix {
        width: 80px;
      }
    }
  }

  .title-div {
    margin: 10px 0;
    width: 100%;
  }

  .catalog-name {
    font-size: 20px;
  }

  .status {
    opacity: 0.75;
    padding: 3px;
  }

  .other {
    border: 1px solid var(--fg1);
  }

  .active {
    border: 1px solid var(--green);
    color: var(--green);
  }

  .description {
    opacity: 0.5;

    p {
      margin-bottom: 0;
    }
  }

  .categories {
    margin-top: 5px;
  }

  .version-number {
    opacity: 0.5;
  }

  .value {
    display: inline-block;
    margin-left: 12px;
    opacity: 0.5;
  }

  .resource {
    width: 100%;
  }

  .version-list {
    margin-top: 10px;
    width: 100%;
  }

  .row-dark {
    background: rgba(0, 0, 0, 0.2);
  }

  .row-light {
    background: rgba(0, 0, 0, 0.1);
  }

  .detail-row {
    padding: 5px 10px;

    div {
      align-items: center;
    }

    .info-col {
      height: 20px;
    }
  }

  .button-bar {
    margin-bottom: -8px;
  }
}


