.ix-blue .mat-dialog-container, .ix-blue .mat-dialog-content {
    overflow: auto !important;
}

catalog-summary-dialog {
    font-size: 14px;

    .status-filter {
        display: flex;
        align-items: center;

        
        .mat-form-field {
            width: unset!important;
            margin: 0 0 0 10px;

            .mat-form-field-infix {
                width: 80px;
            }
        }
    }

    .title-div {
        width: 100%;
        margin: 10px 0;
    }

    .catalog-name {
        font-size: 20px;
    }

    .status {
        padding: 3px;
        opacity: 0.75;
    }

    .other {
        border: 1px solid var(--fg1);
    }

    .active {
        border: 1px solid var(--green);
        color: var(--green);
    }

    .description {
        opacity: 0.5;
        p {
            margin-bottom: 0;
        }
    }

    .categories {
        margin-top: 5px;
    }

    .version-number{
        opacity: 0.5;
    }

    .value {
        margin-left: 12px;
        opacity: 0.5;
        display: inline-block;
    }

    .resource {
        width: 100%;
    }
    
    .version-list {
        width: 100%;
        margin-top: 10px;
    }

    .row-dark {
        background: rgba(0, 0, 0, 0.2);
    }

    .row-light {
        background: rgba(0, 0, 0, 0.1);
    }
    
    .detail-row {
        padding: 5px 10px;
        div {
            align-items: center;
        }

        .info-col {
            height: 20px;
        }        
    }
    
    .button-bar {
        margin-bottom: -8px;
    }
}


