:host {
  display: flex;
  flex-direction: column;

  mat-spinner {
    margin: 30px auto;
  }
}

mat-table.jobs-table {
  background-color: var(--bg2);

  .mat-cell,
  .mat-header-cell,
  .mat-footer-cell {
    color: var(--fg2);
  }

  .jobs-item {
    .jobs-progress {
      margin: 3px 0;
    }

    mat-icon.state-success {
      color: var(--green);
    }

    mat-icon.state-failed {
      color: var(--red);
    }

    mat-icon.state-running {
      color: var(--primary);
    }

    mat-icon.state-waiting {
      color: var(--accent);
    }

    mat-icon.state-aborted {
      color: var(--orange);
    }
  }

  .jobs-name-column {
    min-width: 300px;
  }
}

.jobs-container {
  display: flex;
  margin-top: 16px;

  .jobs-table {
    flex-grow: 1;
    overflow-x: hidden;
  }

  .job-logs-sidebar {
    flex-shrink: 0;
    position: sticky;
    top: 0;
    width: 320px;
  }
}

::ng-deep {
  .jobs-fitlers {
    mat-button-toggle {
      &.mat-button-toggle-appearance-standard {
        background: var(--alt-bg2);
        color: var(--fg2);

        .mat-button-toggle-label-content {
          line-height: 36px;
        }

        &.mat-button-toggle-checked {
          background: var(--alt-bg1);
          color: var(--fg2);
        }
      }
    }
  }

  #row-filter.form-element.search-field {
    .mat-form-field-wrapper .mat-input-element {
      top: 0;
    }

    .reset-input {
      align-items: center;
      bottom: 0;
      cursor: pointer;
      display: flex;
      margin-left: 0.3rem;
      margin-left: 0;
      opacity: 0.5;
      padding: 5px;
      position: absolute;
      right: 0.3rem;
      top: 0;
      user-select: none;
    }

    .search-icon {
      position: relative;
      top: 2px;
    }

    .mat-icon {
      font-size: 1rem;
      height: auto;
      width: auto;
    }
  }
}
