:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  ix-entity-empty {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .cdk-column-name {
    padding-right: 24px;
  }

  .jobs-item {
    .jobs-progress {
      margin: 3px 0;
    }

    .mat-icon.state-success {
      color: var(--green);
    }

    .mat-icon.state-failed {
      color: var(--red);
    }

    .mat-icon.state-running {
      color: var(--primary);
    }

    .mat-icon.state-waiting {
      color: var(--accent);
    }

    .mat-icon.state-aborted {
      color: var(--orange);
    }
  }

  .jobs-item-icon {
    align-items: center;
    cursor: default;
    display: inline-flex;
    flex-grow: 0;
    justify-content: center;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    overflow: hidden;

    mat-spinner {
      margin: 0;
    }
  }

  .jobs-container {
    background-color: var(--bg2);
    display: flex;
    padding: 0;
    position: relative;

    .ix-table {
      flex-grow: 1;
      height: 100%;
      overflow-x: hidden;
    }
  }

  .mat-column-arguments_logs button:not(:first-of-type) {
    margin-left: 5px;
  }
}
