:host {
  display: flex;
  flex: 1;
  flex-direction: column;

  ix-entity-empty {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .cdk-column-name {
    padding-right: 24px;
  }

  .jobs-item {
    .jobs-progress {
      margin: 3px 0;
    }

    ix-icon {
      &.success {
        color: var(--green);
      }

      &.failed {
        color: var(--red);
      }

      &.running {
        color: var(--primary);
      }

      &.waiting {
        color: var(--accent);
      }

      &.aborted {
        color: var(--orange);
      }
    }
  }

  .jobs-item-icon {
    align-items: center;
    cursor: default;
    display: inline-flex;
    flex-grow: 0;
    justify-content: center;
    max-height: 24px;
    max-width: 24px;
    min-height: 24px;
    min-width: 24px;
    overflow: hidden;

    mat-spinner {
      margin: 0;
    }
  }

  .jobs-container {
    background-color: var(--bg2);
    padding: 0;
    position: relative;

    .ix-table {
      flex-grow: 1;
      height: 100%;
      overflow-x: hidden;
    }
  }
}

::ng-deep .mat-button-toggle-group {
  $border-color: var(--lines);

  &.mat-button-toggle-group-appearance-standard {
    border-color: $border-color;
    border-radius: 0;

    .mat-button-toggle + .mat-button-toggle {
      border-color: $border-color;
    }
  }

  .mat-button-toggle-appearance-standard {
    &.mat-button-toggle-checked {
      background: var(--hover-bg);
      color: var(--fg2);
    }
  }

  .mat-button-toggle {
    background-color: transparent;
    border-color: $border-color;
    color: var(--fg2);

    &:hover {
      background-color: var(--hover-bg);
    }

    &.mat-button-toggle-disabled {
      background-color: transparent;
      color: var(--fg1);
      opacity: var(--disabled-opacity);

      .mat-button-toggle-button {
        cursor: not-allowed;
      }
    }

    .mat-button-toggle-label-content {
      line-height: 34px;
      padding: 0 12px;
    }
  }
}
