<ng-template ixPageHeader>
  <ix-page-title-header>
    <mat-button-toggle-group
      aria-label="Tabs"
      [value]="selectedIndex"
      [disabled]="isLoading$ | async"
    >
      <mat-button-toggle
        [value]="JobTab.All"
        (click)="onTabChange(JobTab.All)"
      >{{ 'All' | translate }}</mat-button-toggle>
      <mat-button-toggle
        [value]="JobTab.Running"
        (click)="onTabChange(JobTab.Running)"
      >{{ 'Active' | translate }}</mat-button-toggle>
      <mat-button-toggle
        [value]="JobTab.Failed"
        (click)="onTabChange(JobTab.Failed)"
      >{{ 'Failed' | translate }}</mat-button-toggle>
    </mat-button-toggle-group>

    <ix-search-input
      [disabled]="isLoading$ | async"
      (search)="onSearch($event)"
    ></ix-search-input>
  </ix-page-title-header>
</ng-template>

  <div class="jobs-container">
    <table
      ix-table
      matSort
      matSortActive="id"
      matSortDirection="desc"
      ixTest="jobs-table"
      [ix-table-empty]="!dataSource.filteredData.length"
      [emptyConfig]="emptyConfigService.defaultEmptyConfig((emptyType$ | async))"
      [dataSource]="dataSource"
      [multiTemplateDataRows]="true"
      [trackBy]="trackByJobId"
    >
      <ng-container matColumnDef="name">
        <th
          *matHeaderCellDef
          mat-header-cell
        >
          {{ 'Name' | translate }}
        </th>
        <td *matCellDef="let job; dataSource: dataSource" mat-cell>
          <div
            class="jobs-item"
            fxFlex="1 1 100%"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            fxLayoutGap="8px"
          >
            <div
              fxFlex
              fxLayout="row"
              fxLayoutGap="8px"
              fxLayoutAlign="start center"
            >
              <div class="jobs-item-icon" [ngSwitch]="job.state">
                <ix-icon
                  *ngSwitchCase="JobState.Success"
                  name="check_circle_outline"
                  class="success"
                ></ix-icon>
                <ix-icon
                  *ngSwitchCase="JobState.Failed"
                  name="highlight_off"
                  class="failed"
                  [matTooltip]="job.error"
                ></ix-icon>
                <mat-spinner
                  *ngSwitchCase="JobState.Running"
                  class="running"
                  [diameter]="22"
                  [matTooltip]="job.progress.description"
                ></mat-spinner>
                <ix-icon *ngSwitchCase="JobState.Waiting" class="waiting" name="schedule"></ix-icon>
                <ix-icon *ngSwitchCase="JobState.Aborted" class="aborted" name="report"></ix-icon>
              </div>

              <div fxFlex="100" fxLayout="column">
                <div
                  fxLayout="row"
                  fxLayoutAlign="space-between baseline"
                  fxLayoutGap="8px"
                >
                  <span>
                    {{ job.description ? job.description : job.method }}
                  </span>
                  <small *ngIf="job.state === JobState.Running">
                    {{ job.progress.percent || 0 | number: '1.2-2' }}%
                  </small>
                </div>

                <mat-progress-bar
                  *ngIf="job.state === JobState.Running"
                  class="jobs-progress"
                  [value]="job.progress.percent"
                  [mode]="job.progress.percent ? 'determinate' : 'indeterminate'"
                  [matTooltip]="job.progress.description"
                ></mat-progress-bar>
              </div>
            </div>

            <button
              *ngIf="job.state === JobState.Running && job.abortable"
              mat-icon-button
              type="button"
              [ixTest]="['abort-job', job.description]"
              [matTooltip]="'Abort' | translate"
              (click)="onAborted(job)"
            ><ix-icon name="mdi-close-circle"></ix-icon></button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th
          *matHeaderCellDef
          mat-header-cell
          mat-sort-header
        >
          {{ 'State' | translate }}
        </th>
        <td *matCellDef="let job; dataSource: dataSource" mat-cell>{{ job.state | titlecase }}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th
          *matHeaderCellDef
          mat-header-cell
          mat-sort-header
        >
          {{ 'ID' | translate }}
        </th>
        <td *matCellDef="let job; dataSource: dataSource" mat-cell>
          {{ job.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="time_started">
        <th
          *matHeaderCellDef
          mat-header-cell
        >
          {{ 'Started' | translate }}
        </th>
        <td *matCellDef="let job; dataSource: dataSource" mat-cell>
          {{ job.time_started?.$date ? (job.time_started.$date | formatDateTime) : '–' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="time_finished">
        <th
          *matHeaderCellDef
          mat-header-cell
        >
          {{ 'Finished' | translate }}
        </th>
        <td *matCellDef="let job; dataSource: dataSource" mat-cell>
          {{ job.time_finished?.$date ? (job.time_finished.$date | formatDateTime) : '–' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="logs">
        <th
          *matHeaderCellDef
          mat-header-cell
        >{{ 'Logs' | translate }}</th>
        <td *matCellDef="let job; dataSource: dataSource" mat-cell>
          <button
            *ngIf="job.logs_path && job.logs_excerpt"
            mat-button
            type="button"
            [ixTest]="['download-logs', job.description]"
            (click)="$event.stopPropagation(); downloadLogs(job)"
          >{{ 'Download Logs' | translate }}</button>
        </td>
      </ng-container>

      <ix-expand-toggle-column
        [expandedRow]="expandedRow"
        (toggle)="onToggle($event)"
      ></ix-expand-toggle-column>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row ixTest="table-header"></tr>

      <tr
        *matRowDef="let job; columns: displayedColumns"
        mat-row
        [ixTest]="job.description || job.method"
        [ixDetailRow]="job"
        [ixDetailRowOptions]="{ colspan: displayedColumns.length }"
        [ixDetailRowTemplate]="expandedRowTemplate"
        (toggle)="onToggle($event)"
      ></tr>

    </table>
  </div>

  <ix-table-paginator [dataSource]="dataSource"></ix-table-paginator>

<ng-template #expandedRowTemplate let-job let-colspan="colspan">
  <ix-job-logs-row [colspan]="colspan" [job]="job"></ix-job-logs-row>
</ng-template>
