<form [formGroup]="form">
  <ix-textarea
    formControlName="certificate"
    [label]="'Certificate' | translate"
    [required]="true"
    [tooltip]="helptext.add.certificate.tooltip | translate"
  ></ix-textarea>

  <ix-checkbox
    formControlName="csrExistsOnSystem"
    [label]="'CSR exists on this system' | translate"
    [tooltip]="helptext.add.isCSRonSystem.tooltip | translate"
  ></ix-checkbox>

  @if (csrExists) {
    <ix-select
      formControlName="csr"
      [label]="'Certificate Signing Request' | translate"
      [required]="true"
      [options]="csrOptions$"
      [tooltip]="helptext.add.csrlist.tooltip | translate"
    ></ix-select>
  }

  @if (!csrExists) {
    <ix-textarea
      formControlName="privatekey"
      [label]="'Private Key' | translate"
      [required]="true"
      [tooltip]="helptext.add.privatekey.tooltip | translate"
    ></ix-textarea>
    <ix-input
      formControlName="passphrase"
      type="password"
      [label]="'Passphrase' | translate"
      [tooltip]="helptext.add.passphrase.tooltip | translate"
    ></ix-input>
    <ix-input
      formControlName="passphrase2"
      type="password"
      [label]="'Confirm Passphrase' | translate"
    ></ix-input>
  }

  <ix-form-actions>
    <button
      mat-button
      matStepperPrevious
      ixTest="back"
    >{{ 'Back' | translate }}</button>
    <button
      mat-button
      matStepperNext
      color="primary"
      ixTest="next"
      [disabled]="form.invalid"
    >{{ 'Next' | translate }}</button>
  </ix-form-actions>
</form>
