.generate-key-row {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}

.authentication-details {
  margin-top: 12px;
}

.dh-group-select {
  min-width: 190px;
}

.host-nqn {
  margin-bottom: 0;
}

.dh-checkbox {
  margin-top: 10px;
}
