tn-form-field {
  display: block;
  margin-bottom: 2rem;
}

.generate-key-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.authentication-details {
  margin-top: 12px;
}

.dh-group-select {
  min-width: 190px;
}

.dh-checkbox {
  margin-top: 10px;
}
