:host {
  background-color: var(--bg2);
  box-sizing: border-box;
  display: block;
  margin-bottom: 1rem;
  max-width: 420px;
  padding: 1rem;
  width: 100%;

  ::ng-deep {
    h3 {
      margin-bottom: 1rem;
    }

    .app-list-item ngx-skeleton-loader {
      display: inline-flex;
      width: 35%;

      span {
        margin: 0;
      }
    }
  }
}

.app-list-item {
  align-items: center;
  display: flex;
  margin: 0.25rem 0;
}
