@import 'scss-imports/variables';

.columns {
  display: flex;

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }

  .column {
    flex: 1;
  }
}

.input-group {
  column-gap: 5px;
  display: flex;

  > * {
    margin-bottom: 6px;
    margin-top: 0;
  }

  ix-input {
    flex: 1;
  }

  ix-select {
    width: 100px;
  }
}

.retention-warning {
  background-color: var(--bg1);
  border-radius: 4px;
  margin-top: 16px;
  padding: 12px 16px;

  .warning-text {
    color: var(--yellow);
    font-size: 14px;
    margin: 0 0 12px;
  }
}
