@import 'scss-imports/variables';

.columns {
  display: flex;

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }

  .column {
    flex: 1;
  }
}

.input-group {
  column-gap: 5px;
  display: flex;

  > * {
    margin-bottom: 6px;
    margin-top: 0;
  }

  ix-input {
    flex: 1;
  }

  ix-select {
    width: 100px;
  }
}
