:host ::ng-deep {
  .error {
    display: flex;
    justify-content: center;

    p,
    a {
      display: inline-block;
    }
  }
}

.submit-button {
  border-radius: 12px;
  margin-top: 16px;
  height: 54px;
  width: 100%;
  border-radius: 100px;
}

input,
button {
  &:disabled {
    cursor: not-allowed;
  }
}
