@import '~assets/styles/mixins/cards';

.title {
  color: var(--fg2);
  margin-bottom: 16px;
  margin-left: 4px;
}

.cards {
  @include details-cards();
  height: 100%;
  overscroll-behavior: contain;
}
