@import 'scss-imports/variables';

:host {
  background: var(--bg2);
}

.hidden {
  display: none !important;
}

.row {
  border-top: solid 1px var(--lines);
  height: 48px;
  position: relative;

  &:focus {
    box-shadow: 0 0 0 1.5px var(--focus-bg) inset;
    outline-width: 0;
  }

  td {
    box-sizing: border-box;
    font-size: 14px;
    overflow: hidden;
    padding: 0 16px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media(max-width: $breakpoint-sm) {
      padding: 0 8px;
    }
  }

  .toggle-cell {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: flex-end;
    overflow: visible;
  }
}

.row:hover {
  background: rgba(0, 0, 0, 0.1);
}

.details {
  border-top: solid 1px var(--contrast-lighter);
  height: 48px;

  td {
    font-size: 14px;
    padding: 0 16px;
    position: relative;

    @media(max-width: $breakpoint-sm) {
      padding: 0 8px;
    }
  }
}

.spinner-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
  min-height: 15vh;
}
