<ix-table-expandable-row [data]="getDetails(user())">
  @if (user().local) {
    <button
      mat-button
      [ixTest]="['edit', user().username]"
      (click)="doEdit(user())"
    >
      <ix-icon name="edit"></ix-icon>
      <span>{{ 'Edit' | translate }}</span>
    </button>
  }

  <ng-container *ixRequiresRoles="[Role.AccountWrite]">
    @if (!user().immutable && loggedInUser()?.pw_name !== user().username) {
      <button
        mat-button
        [ixTest]="['delete', user().username]"
        (click)="doDelete(user())"
      >
        <ix-icon name="mdi-delete"></ix-icon>
        <span>{{ 'Delete' | translate }}</span>
      </button>
    }
  </ng-container>

  <button
    mat-button
    [ixTest]="['logs', user().username]"
    (click)="viewLogs(user())"
  >
    <ix-icon name="receipt_long"></ix-icon>
    <span>{{ 'Audit Logs' | translate }}</span>
  </button>

  @if (user().twofactor_auth_configured) {
    <button
      *ixRequiresRoles="[Role.AccountWrite]"
      mat-button
      [ixTest]="['clear-two-factor', user().username]"
      [disabled]="globalTwoFactorConfig()?.enabled"
      [matTooltipDisabled]="!globalTwoFactorConfig()?.enabled"
      [matTooltip]="'Two-Factor Authentication cannot be cleared because it is enabled globally. Please disable the global setting first to make changes.' | translate"
      (click)="clearTwoFactorAuth(user())"
    >
      <ix-icon name="mdi-cellphone-off"></ix-icon>
      <span>{{ 'Clear Two-Factor Authentication' | translate }}</span>
    </button>
  }

  @if (loggedInUser()?.pw_name !== user().username && !user().builtin && isStigMode()) {
    <button
      *ixRequiresRoles="[Role.AccountWrite]"
      mat-button
      [ixTest]="['generate-one-time-password', user().username]"
      (click)="generateOneTimePassword(user())"
    >
      <ix-icon name="password"></ix-icon>
      <span>{{ 'Generate One-Time Password' | translate }} …</span>
    </button>
  }
</ix-table-expandable-row>
