@import '~assets/styles/mixins/cards';
@import '~assets/styles/mixins/buttons';
@import '~assets/styles/mixins/animations';

.container-card {
  @include details-card();
}

.stroked-btn {
  @include stroked-button();
}

.disabled-btn {
  @include stroked-button();
  color: var(--alt-fg2) !important;
  opacity: 0.4;
}
  
.header {
  font-weight: bold;
  margin-right: 5px;
}

.loader {
  @include loader-block();
  @include blink();
  display: inline-block;
  width: 35%;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
