@import 'mixins/cards';

.card {
  @include details-card();

  ix-copy-button {
    height: 24px;
    width: 24px;
  }

  .details-item {
    align-items: flex-start;

    .value.dataset-path {
      display: flow-root;
      max-width: calc(100% - 85px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .value.dataset-comments {
      flex: 1;
      margin: 0;
      overflow: auto;
      text-overflow: initial;
      white-space: normal;
    }
  }
}

.loader-skel {
  display: inline-block;
  height: 20px;
  width: 35%;
}

:host ::ng-deep {
  .dataset-path-tooltip {
    word-break: break-all;
  }

  .mat-mdc-card-header-text {
    width: 100%;
  }
}
