:host {
  display: block;
  min-width: 370px;

  .form-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .form-actions {
    align-items: center;
    border-top: 1px solid var(--lines);
    display: flex;
    justify-content: space-between;
    padding-top: 16px;

    ix-checkbox {
      margin: 0;
    }

    button {
      margin-left: 10px;
    }
  }

  .result-message {
    padding: 0 24px;
  }

  .error-message-container {
    margin-bottom: 16px;
    max-height: 50vh;
    overflow-y: auto;
    padding: 0 24px;
    word-break: break-word;

    p {
      white-space: pre-wrap;
    }
  }
}
