<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <tn-form-section>
    <tn-form-field [label]="'Name' | translate" [required]="true">
      <tn-input
        name="name"
        formControlName="name"
        [required]="true"
        [testId]="'name'"
      ></tn-input>
    </tn-form-field>

    @if (isFullAdmin()) {
      <ix-user-picker
        formControlName="username"
        [label]="'Username' | translate"
        [required]="true"
        [provider]="userPickerProvider"
        [hint]="'Only users with the required privileges are shown.' | translate"
      ></ix-user-picker>
    }

    <tn-form-field [tooltip]="tooltips.nonExpiring | translate">
      <tn-checkbox
        formControlName="nonExpiring"
        [label]="'Non-expiring' | translate"
        [testId]="'non-expiring'"
      ></tn-checkbox>
    </tn-form-field>

    @if (!form.controls.nonExpiring.value) {
      <tn-form-field [label]="'Expires On' | translate">
        <tn-date-input
          formControlName="expires_at"
          [min]="minDateToday"
          [testId]="'expires-at'"
        ></tn-date-input>
      </tn-form-field>
    }

    @if (!isNew() && isAllowedToReset()) {
      <tn-form-field [tooltip]="tooltips.reset | translate">
        <tn-checkbox
          formControlName="reset"
          [label]="'Reset' | translate"
          [testId]="'reset'"
        ></tn-checkbox>
      </tn-form-field>
    }
  </tn-form-section>
</form>
