.card {
  margin: 0 0 0 16px;
  position: sticky;
  top: 0;
}

.sidebar-header {
  border-bottom: 1px solid var(--lines);
  display: flex;
  padding: 11px 10px 7px 12px;

  .action {
    cursor: pointer;
    margin-left: 10px;
  }
}

.sidebar-title {
  font-size: 1rem;
  margin-right: auto;
}

.file-information {
  border-bottom: 1px solid var(--lines);
  display: flex;
  flex-wrap: wrap;
  padding: 15px 12px;

  .item {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 15px;
    padding-right: 10px;
    width: 50%;
  }

  .item-label {
    font-weight: bold;
    margin-right: 8px;
  }

  .item-path {
    margin: 0;
    width: 100%;
  }
}

:host .spinner {
  margin: 30px auto;
}
