<mat-card class="card">
  <div class="sidebar-header">
    <div class="sidebar-title">{{ 'Dataset Permissions' | translate }}</div>

    <a
      *ngIf="canEditPermissions"
      class="action"
      [attr.title]="'Edit permissions' | translate"
      [routerLink]="editPermissionsUrl"
    >
      <mat-icon>edit</mat-icon>
    </a>

    <span class="action" [attr.title]="'Close' | translate" (click)="onCloseClicked()">
      <mat-icon>cancel</mat-icon>
    </span>
  </div>

  <mat-spinner
    *ngIf="isLoading; else loaded"
    [diameter]="40"
    class="spinner"
  ></mat-spinner>

  <ng-template #loaded>
    <div class="file-information">
      <ng-container *ngIf="stat">
        <div class="item item-owner">
          <div class="item-label">{{ 'Owner:' | translate }}</div>
          <div class="item-value">{{ stat.user }}</div>
        </div>
        <div class="item item-group">
          <div class="item-label">{{ 'Group:' | translate }}</div>
          <div class="item-value">{{ stat.group }}</div>
        </div>
      </ng-container>
      <div class="item item-path">
        <div class="item-label">{{ 'Path:' | translate }}</div>
        <div class="item-value">{{ dataset.mountpoint }}</div>
      </div>
    </div>

    <div *ngIf="acl" class="permissions">
      <ix-old-trivial-permissions *ngIf="acl.trivial; else nonTrivial" [stat]="stat"></ix-old-trivial-permissions>

      <ng-template #nonTrivial>
        <ng-container [ngSwitch]="acl.acltype">
          <ix-old-posix-permissions *ngSwitchCase="AclType.Posix1e" [acl]="acl | cast"></ix-old-posix-permissions>
          <ix-old-nfs-permissions *ngSwitchCase="AclType.Nfs4" [acl]="acl | cast"></ix-old-nfs-permissions>
        </ng-container>
      </ng-template>
    </div>
  </ng-template>
</mat-card>

