<ng-container matColumnDef="actions">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let row;">
    <button
      mat-icon-button
      (click)="$event.stopPropagation(); onClick(row)"
      [matTooltip]="(expandedRow === row ? 'Collapse Row' : 'Expand Row') | translate"
      [attr.aria-label]="(expandedRow === row ? 'Collapse Row' : 'Expand Row') | translate"
    >
      <mat-icon>
        {{ expandedRow === row ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </button>
  </td>
</ng-container>
