<div class="cards">
  @if (noPoolsDisks.length) {
    <ix-unused-disk-card
      class="unused-resources"
      [title]="'Unused Disks' | translate"
      [disks]="noPoolsDisks"
      (addToStorage)="addNoPoolDisksToStorage()"
    ></ix-unused-disk-card>
  }
  @if (exportedPoolsDisks.length) {
    <ix-unused-disk-card
      class="unused-resources"
      [title]="'Disks with exported pools' | translate"
      [disks]="exportedPoolsDisks"
      (addToStorage)="addExportedPoolDisksToStorage()"
    ></ix-unused-disk-card>
  }
</div>
