
  @if (noPoolsDisks.length) {
    <div class="cards">
    <ix-unused-disk-card
      class="unused-resources"
      [title]="'Unassigned Disks' | translate"
      [disks]="noPoolsDisks"
      (addToStorage)="addNoPoolDisksToStorage()"
    ></ix-unused-disk-card></div>
  }
  @if (exportedPoolsDisks.length) {<div class="cards">
    <ix-unused-disk-card
      class="unused-resources"
      [title]="'Disks with exported pools' | translate"
      [disks]="exportedPoolsDisks"
      (addToStorage)="addExportedPoolDisksToStorage()"
    ></ix-unused-disk-card>
</div>
  }
