@import 'mixins/cards';
@import 'scss-imports/variables';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;

  .title {
    color: var(--fg2);
  }
}

.cards {
  @include resource-cards();
  height: unset;
  margin-bottom: 30px;

  @media (min-width: calc($breakpoint-tablet + 1px)) {
    display: flex;
    gap: 16px;
    overflow: auto;
  }
}

.cards > .unused-resources {
  width: unset;
}
