.info-message {
  align-items: center;
  background-color: var(--bg1);
  border: 1px solid var(--lines);
  border-radius: 4px;
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  padding: 16px;

  ix-icon {
    color: var(--primary);
  }

  &.clickable {
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--bg2);
    }
  }
}
