@import '../../sass/conf/conf';

.power-button {
	width: inherit;
	position:relative;
	top: -3em;
	text-align: center;
	line-height: 1.5em;
	font-size: 1.5em;
}

.fa-power-off {
	padding:.2em;
	color: $danger;
}
.fa-rotate-left {
	padding:.2em;
	color: $warning;
}
