<aside class="al-sidebar" (mouseleave)="hoverElemTop=outOfArea" sidebarResize>
  <ul id="al-sidebar-list" class="al-sidebar-list" baSlimScroll [baSlimScrollOptions]="{height: menuHeight}">
    <ba-menu-item
      [menuItem]="item"
      (itemHover)="hoverItem($event)"
      (toggleSubMenu)="toggleSubMenu($event)"
      *ngFor="let item of menuItems"></ba-menu-item>
  </ul>


  <div class="dropdown" class="power-button" style="position:relative;top:-2em;text-align:center;">
	<i class="fa fa-power-off" (click)="onShutdown()" style="font-size:2.4em; color:#c0392b; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);"></i>
	<i class="fa fa-rotate-left" (click)="onReboot()" style="font-size:2.4em; color:#f39c12; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);"></i>
  </div>
  <div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
       [ngClass]="{'show-hover-elem': showHoverElem }"></div>
</aside>
