.actions {
  margin-top: 10px;
}

.address-pools {
  margin-bottom: 0;
}

.address-pool {
  align-items: baseline;
  column-gap: 20px;
  display: flex;

  .base {
    flex-grow: 1;
  }

  .size {
    width: 80px;
  }
}

.registry-mirrors {
  margin-bottom: 0;
}

.registry-mirror {
  align-items: flex-end;
  column-gap: 20px;
  display: flex;

  ix-input {
    flex-grow: 1;
  }

  ix-checkbox {
    width: auto;
    padding-bottom: 12px;
  }
}
