:host ::ng-deep {
  .trains {
    fieldset {
      padding: 0 0 10px;
    }

    ix-label {
      padding-left: 10px;
    }
  }
}

.nvidia {
  border-top: 1px solid var(--lines);
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-top: 10px;
}
