<ix-page-header>
  <span class="visually-hidden-label" [id]="nfsTypeToggleLabelId">{{ 'NFS Version' | translate }}</span>
  <tn-button-toggle-group
    [ngModel]="activeNfsType()"
    [ariaLabelledby]="nfsTypeToggleLabelId"
    (ngModelChange)="nfsTypeChanged($event)"
  >
    <tn-button-toggle [value]="NfsType.Nfs3" [testId]="['nfs', 'nfs-3']">NFS 3</tn-button-toggle>
    <tn-button-toggle [value]="NfsType.Nfs4" [testId]="['nfs', 'nfs-4']">NFS 4</tn-button-toggle>
  </tn-button-toggle-group>

  <ix-basic-search
    [query]="searchQuery()"
    (queryChange)="onListFiltered($event)"
  ></ix-basic-search>

  @if (activeNfsType() === NfsType.Nfs3) {
    <ix-table-column-picker
      [columns]="nfs3Columns()"
      [columnPreferencesKey]="'nfsSessionList'"
      (columnsChange)="onColumnsChange($event)"
    ></ix-table-column-picker>
  } @else {
    <ix-table-column-picker
      [columns]="nfs4Columns()"
      [columnPreferencesKey]="'nfsSessionList'"
      (columnsChange)="onColumnsChange($event)"
    ></ix-table-column-picker>
  }

  <tn-button
    color="primary"
    [testId]="'refresh-data'"
    [label]="'Refresh' | translate"
    (onClick)="loadData()"
  ></tn-button>
</ix-page-header>

@if (activeNfsType() === NfsType.Nfs3) {
  @let emptyConf = emptyService.defaultEmptyConfig(nfs3EmptyType());
  <tn-table
    class="table"
    [testId]="'table-table'"
    [ixUiSearch]="searchableElements.elements.nfsSessions"
    [dataSource]="nfs3Rows()"
    [displayedColumns]="nfs3DisplayedColumns()"
    [trackBy]="trackByNfs3"
    [loading]="nfs3Loading()"
    [emptyMessage]="emptyConf?.title ? (emptyConf.title | translate) : ''"
    [emptyIcon]="emptyConf?.icon ?? ''"
    (sortChange)="onNfs3SortChange($event)"
  >
    <ng-container [tnColumnDef]="'ip'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'IP' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('IP' | translate), uniqueRowTag3(row), 'row-text']"
        >{{ row.ip }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'export'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Export' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('Export' | translate), uniqueRowTag3(row), 'row-text']"
        >{{ row.export }}</span>
      </ng-template>
    </ng-container>
  </tn-table>
  <tn-table-pager [dataProvider]="nfs3DataProvider"></tn-table-pager>
} @else {
  @let emptyConf = emptyService.defaultEmptyConfig(nfs4EmptyType());
  <tn-table
    class="table"
    [testId]="'table-table'"
    [ixUiSearch]="searchableElements.elements.nfsSessions"
    [dataSource]="nfs4Rows()"
    [displayedColumns]="nfs4DisplayedColumns()"
    [trackBy]="trackByNfs4"
    [loading]="nfs4Loading()"
    [emptyMessage]="emptyConf?.title ? (emptyConf.title | translate) : ''"
    [emptyIcon]="emptyConf?.icon ?? ''"
    (sortChange)="onNfs4SortChange($event)"
  >
    <ng-container [tnColumnDef]="'name'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Name' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('Name' | translate), uniqueRowTag4(row), 'row-text']"
        >{{ row.name }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'clientid'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Client ID' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('Client ID' | translate), uniqueRowTag4(row), 'row-text']"
        >{{ row.clientid }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'address'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Address' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('Address' | translate), uniqueRowTag4(row), 'row-text']"
        >{{ row.address }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'status'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Status' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('Status' | translate), uniqueRowTag4(row), 'row-text']"
        >{{ formatStatus(row.status) }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'seconds from last renew'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Seconds From Last Renew' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('Seconds From Last Renew' | translate), uniqueRowTag4(row), 'row-text']"
        >
          {{ row['seconds from last renew'] }}
        </span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'minor version'">
      <ng-template tnHeaderCellDef>{{ 'Minor Version' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('Minor Version' | translate), uniqueRowTag4(row), 'row-text']"
        >{{ row['minor version'] }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'Implementation domain'">
      <ng-template tnHeaderCellDef>{{ 'Implementation Domain' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('Implementation Domain' | translate), uniqueRowTag4(row), 'row-text']"
        >
          {{ row['Implementation domain'] }}
        </span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'Implementation name'">
      <ng-template tnHeaderCellDef>{{ 'Implementation Name' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('Implementation Name' | translate), uniqueRowTag4(row), 'row-text']"
        >
          {{ row['Implementation name'] }}
        </span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'callback state'">
      <ng-template tnHeaderCellDef>{{ 'Callback State' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('Callback State' | translate), uniqueRowTag4(row), 'row-text']"
        >{{ row['callback state'] }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'callback address'">
      <ng-template tnHeaderCellDef>{{ 'Callback Address' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span
          tnTestIdType="text"
          [tnTestId]="[('Callback Address' | translate), uniqueRowTag4(row), 'row-text']"
        >
          {{ row['callback address'] }}
        </span>
      </ng-template>
    </ng-container>
  </tn-table>
  <tn-table-pager [dataProvider]="nfs4DataProvider"></tn-table-pager>
}
