@import '../card-flush-table';
@import '../card-service-toggle';

@include card-flush-table;
@include card-service-toggle;

.card-title-link {
  color: inherit;
  display: inline-flex;
  text-decoration: none;
}

tn-banner {
  display: block;
  margin-bottom: 16px;

  &.clickable {
    cursor: pointer;
  }
}

.webshare-name-container {
  align-items: center;
  display: flex;
  gap: 8px;

  .home-icon {
    flex-shrink: 0;
  }
}
