@import 'scss-imports/splitview';
@import 'mixins/layout';

@include tree-node-with-details-container(284px);

:host ::ng-deep {
  .table-container table {
    border: 0;
  }

  ix-empty-row {
    height: 100%;
  }
}

.table-container {
  flex: 1.8;
  max-width: 100%;
}

ix-table2 {
  height: 100%;
  overflow: auto;
}

.details-container {
  flex: 1.2;
  max-width: 100%;
}

.header-card {
  border-radius: 0;
  margin-bottom: 16px;
}

.search-bar {
  column-gap: 12px;
  display: flex;
  padding: 8px 12px;

  .search-input {
    max-width: 400px;
    width: 100%;
  }
}
