// TODO: Consider extracting image uploads in a separate component
.attach-images {
  margin-bottom: 0;
  margin-top: -16px;
  padding-left: 30px;
}

:host mat-dialog-content {
  margin-bottom: 20px;
  overflow-y: auto !important;
  padding-bottom: 5px;
  padding-top: 0;
}
