<div id="disks-list.component_html" class="material mat-card mat-card-table">
  <div class="mat-toolbar mat-card-toolbar">
    <div class="mat-card-title-text">{{title}}</div>
  </div>
  <div>
    <br/>
  </div>
  <div>
    <mat-tab-group (selectChange)="tabSelectChangeHandler($event)">
      <mat-tab label="ALL_DISKS">
        <div>
          <entity-table [conf]="conf" [title]="conf.title"></entity-table>
        </div>
      </mat-tab>
      <mat-tab *ngFor="let row of zfsPoolRows" label="{{row.name}}">
        <div *ngIf="selectedKeyName === row.name">
          <entity-table *ngIf="row.isReady" [conf]="row.disksListConfig"></entity-table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
