* {
  box-sizing: border-box;
}

.container-dualListBox {
  align-items: center;

  box-align: center;
  display: flex;
  flex-align: center;
}

.container-dualListBox > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  place-content: flex-start;
}

.container-items {
  align-items: flex-start;
  border: 1px solid var(--lines);
  overflow-y: auto;
  width: 40%;
}

.container-buttons {
  align-items: center;
  width: 20%;
}

.btn-arrow {
  background: #9c9797;
  border: 1px solid #afa7a7;
  color: white;
  margin: 5px;
  padding: 3px;
  text-align: center;
  width: 90px;
}

.draggable {
  width: 100%;
}

.chosen,
.draggable:active {
  background: var(--primary);
  width: 100%;
}

.cdk-drag-placeholder {
  background: rgba(145, 148, 156, 0.1);
  border: 1px dashed var(--fg1);
  opacity: 0.5;
  width: 100%;
}

.list-title {
  background-color: var(--lines);
  border-bottom: 1px solid var(--lines);
  display: flex;
  left: 0;
  padding: 16px;
  position: sticky;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
