<tn-card [padContent]="false">
  <h3 tnCardHeader class="tn-card__title">{{ 'Notifications' | translate }}</h3>

  <ng-template tnCardHeaderActions>
    <div class="actions">
      <ix-basic-search [query]="searchQuery()" (queryChange)="onListFiltered($event)"></ix-basic-search>

      <ix-table-column-picker
        [columns]="columns()"
        [columnPreferencesKey]="'smbNotificationList'"
        (columnsChange)="onColumnsChange($event)"
      ></ix-table-column-picker>

      <tn-button
        color="primary"
        [testId]="'refresh-data'"
        [label]="'Refresh' | translate"
        (onClick)="loadData()"
      ></tn-button>
    </div>
  </ng-template>

  @let emptyConf = emptyService.defaultEmptyConfig(dataProvider.emptyType$ | async);
  <tn-table
    class="table"
    [testId]="'table-table'"
    [dataSource]="(dataProvider.currentPage$ | async) ?? []"
    [displayedColumns]="displayedColumns()"
    [trackBy]="trackByNotification"
    [loading]="!!(dataProvider.isLoading$ | async)"
    [emptyMessage]="emptyConf?.title ? (emptyConf.title | translate) : ''"
    [emptyIcon]="emptyConf?.icon ?? ''"
    (sortChange)="onSortChange($event)"
  >
    <ng-container [tnColumnDef]="'path'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Path' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span [ixTest]="[('Path' | translate), uniqueRowTag(row), 'row-text']">{{ row.path }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'filter'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Filter' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span [ixTest]="[('Filter' | translate), uniqueRowTag(row), 'row-text']">{{ row.filter }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'subdir_filter'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Subdir Filter' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span [ixTest]="[('Subdir Filter' | translate), uniqueRowTag(row), 'row-text']">{{ row.subdir_filter }}</span>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'creation_time'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Creation Time' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <span [ixTest]="[('Creation Time' | translate), uniqueRowTag(row), 'row-text']">{{ row.creation_time }}</span>
      </ng-template>
    </ng-container>
  </tn-table>
  <tn-table-pager [dataProvider]="dataProvider"></tn-table-pager>
</tn-card>
