@import 'scss-imports/variables';
@import 'mixins/layout';

:host {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--lines);
  color: var(--fg1);
  display: flex;
  padding: 2px 8px;
  position: relative;

  .prefix-icon {
    display: inline-flex;
    margin-right: 4px;

    .mat-icon {
      align-items: center;
      display: inline-flex;
      font-size: 18px;
      height: 20px;
      justify-content: center;
      width: 20px;
    }
  }

  &:focus-within {
    outline: 1.5px solid var(--primary);
  }

  .reset-input {
    align-items: center;
    bottom: 0;
    cursor: pointer;
    display: flex;
    opacity: 0.5;
    user-select: none;

    .mat-icon {
      align-items: center;
      display: inline-flex;
      font-size: 16px;
      margin-top: 0;
    }
  }
}

.reset-icon {
  .ix-icon {
    margin-left: 9px;
    margin-right: 4px;
    width: 16px;

    &:focus {
      box-shadow: 0 0 0 1.5px var(--focus-bg) inset;
      outline-width: 0;
    }
  }
}

.switch-link {
  color: var(--primary);
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 1;
  user-select: none;
  white-space: nowrap;

  @media (max-width: $breakpoint-sm) {
    margin-top: 0;
    white-space: inherit;
    width: 70px;
  }
}

input {
  @media (min-width: $breakpoint-md) {
    min-width: 250px;
  }

  font-size: 1.1em;
}
