@import 'scss-imports/cssvars';

.arrow-focused {
  background-color: var(--focus-bg);
}

:host {
  background-color: var(--bg2);
  border-radius: 2px;
  display: block;
  max-height: 400px;
  max-width: 70vw;
  min-width: 100%;
  overflow: auto;
  padding: 10px 0;
  position: absolute;
  top: 41px;
  width: max-content;

  @media(max-width: $breakpoint-sm) {
    left: 0;
    max-width: 100%;
    position: fixed;
  }

  &::ng-deep {
    .highlight {
      color: var(--fg1);
    }

    .dimmed-text {
      opacity: 0.5;
    }
  }
}

.search-results-card {
  border: 0;
  border-radius: 2px;
  margin: 0;
  overflow: auto;

  .search-result {
    border-radius: 2px;
    cursor: pointer;
    padding: 13px 20px;

    &:hover {
      background-color: var(--bg1);
    }

    &:focus {
      box-shadow: 0 0 0 1.5px var(--focus-brd) inset;
      outline: none;
    }

    .title {
      -webkit-box-orient: vertical;
      color: var(--fg1);
      display: inline-box;
      font-size: 16px;
      -webkit-line-clamp: 2;
      overflow: hidden;
      white-space: normal;
      word-break: break-word;
    }
  }
}
