@import 'scss-imports/variables';

:host {
  display: block;
  width: 550px;

  @media (max-width: $breakpoint-tablet) {
    width: inherit;
  }
}

.warning-message {
  display: block;
  margin-bottom: 16px;
}

.key-section {
  margin-bottom: 15px;
}

.secret-lost {
  color: var(--warn);
}
