<tn-dialog-shell [title]="data.title | translate">
  <div class="message-content">
    <span [innerHTML]="data.message | translate"></span>
  </div>
  <input #el class="invisible" type="text" ixTest="url" [value]="data.url" />

  <div tnDialogAction>
    <tn-button
      variant="outline"
      ixTest="cancel"
      [label]="'Cancel' | translate"
      (onClick)="dialogRef.close(false)"
    ></tn-button>
    <tn-button
      variant="outline"
      ixTest="copy-url"
      [label]="'Copy URL' | translate"
      (onClick)="copyToClipboard()"
    ></tn-button>
    <tn-button
      color="primary"
      ixTest="continue"
      [label]="'Continue' | translate"
      (onClick)="dialogRef.close(true)"
    ></tn-button>
  </div>
</tn-dialog-shell>
