@import 'scss-imports/variables';
@import 'mixins/forms';

@include tn-form-fieldsets-columns();

.form-actions {
  display: flex;
  gap: 8px;
  margin: 8px 10px;
}

.eligible-snapshots {
  font-size: 13px;
  margin-bottom: 15px;
  margin-left: 10px;

  &.danger {
    color: var(--red);
  }
}
