@import 'scss-imports/variables';

.form-actions {
  margin: 8px 10px;

  button {
    margin-right: 8px;
  }
}

.fieldsets {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }

  > * {
    width: 50%;
  }
}

tn-banner {
  display: block;
  margin: 0 10px 15px;
}

.retention-policy {
  display: flex;
  flex-direction: row;
}
