<td class="col-md-3">
  {{status.label}}
</td>
<td class="col-md-3">
  {{status.state}}
</td>
<td class="col-md-3">
    <label>Start on Boot </label>
    <md-checkbox [(ngModel)]="status.enable" (change)="enableToggle($event)" ></md-checkbox>
</td>
<td class="col-md-3">
  <button class="btn" (click)="editService(this.status.service)">
    <i class="ion-wrench"></i>
    <span>Configure</span>
  </button>
</td>
<td class="col-md-3">
<a [ngClass]="status.state == 'RUNNING' ? 'btn btn-info' : 'btn'" (click)="toggle()">
    <i [ngClass]="status.state == 'RUNNING' ? 'ion-stop' : 'ion-power'"></i>
  </a>
</td>
