<ix-modal-header
  [title]="'Card Editor' | translate"
></ix-modal-header>
<form class="ix-form-container" (submit)="$event.preventDefault(); onSubmit()">
  <ix-fieldset>
    <div class="form-row">
      <ix-icon-group
        class="layout-control"
        [formControl]="layoutControl"
        [options]="layoutOptions"
        [label]="'Layout' | translate"
      ></ix-icon-group>
    </div>
  </ix-fieldset>

  <div class="editor-container">
    <ix-widget-editor-group
      [group]="group()"
      [selectedSlot]="selectedSlot().slotPosition"
      [validationErrors]="validationErrors()"
      (selectedSlotChange)="selectedSlotChanged($event)"
    ></ix-widget-editor-group>
  </div>

  @if (selectedSlot()) {
    <ix-widget-group-slot-form
      #widgetGroupSlotForm
      [slotConfig]="selectedSlot()"
      (validityChange)="updateSlotValidation($event)"
      (settingsChange)="updateSlotSettings($event)"
    ></ix-widget-group-slot-form>
  }

  <ix-form-actions>
    <tn-button
      color="primary"
      [testId]="['add-widget-group-btn']"
      [label]="'Save' | translate"
      [disabled]="settingsHasErrors() || layoutControl.invalid"
      (onClick)="onSubmit()"
    ></tn-button>
    <tn-button
      [testId]="['cancel-add-widget-group-btn']"
      [label]="'Cancel' | translate"
      (onClick)="slideInRef.close({ response: undefined })"
    ></tn-button>
  </ix-form-actions>
</form>
