<p-treeTable [value]="conf.tableData || treeTableData" [columns]="conf.columns" [resizableColumns]="true" [autoLayout]="true">
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let col of columns" [ttSortableColumn]="col.prop" id="theader_{{col.prop}}" ttResizableColumn>
				{{col.name | translate}}
				<p-treeTableSortIcon [field]="col.prop"></p-treeTableSortIcon>
			</th>
			<th *ngIf="showActions"></th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
		<tr>
			<td *ngFor="let col of columns; let i = index" id="tbody__{{col.prop}}_{{rowData[col.prop]}}">
				<p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
				{{col.filesizePipe ? (rowData[col.prop] | filesize : {standard : "iec"}) : rowData[col.prop] | translate}}
			</td>
			<td *ngIf="showActions && rowData.actions">
				<mat-icon [matMenuTriggerFor]="appMenu" [style.cursor]="'pointer'" id="actions_menu_button__{{rowData.name}}">more_vert</mat-icon>
				<mat-menu #appMenu="matMenu">
					<span *ngFor="let action of rowData.actions" id="action_button__{{rowData.name}}_{{action.label}}">
						<button mat-menu-item *ngIf="!action.isHidden" (click)="action.onClick(rowData);">
							<span>{{action.label | translate}}</span>
						</button>
					</span>
				</mat-menu>
			</td>
		</tr>
	</ng-template>
</p-treeTable>