<table *ngIf="displayedColumns && tableDataSource" mat-table [dataSource]="tableDataSource" matSort (matSortChange)="sortTable($event)" #tt style="border-collapse: separate;">

  <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

    <!-- Table Columns -->
    <ng-container *ngFor="let column of _conf.columns; let i = index;">

      <!-- NonActions Columns -->
      <ng-container *ngIf="column.prop !== 'actions'" matColumnDef="{{column.prop}}" [sticky]="i == 0">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear [ngClass]="{'sticky-border-right': i == 0 && isTableOverflow(), 'scroll-padding': isTableOverflow()}"> {{column.name}} </th>
        <ng-container>
          <!-- Tree and Data Cells -->
          <td mat-cell *matCellDef="let element; let ii = index" [ngClass]="{ 'tree-cell': i == 0, 'sticky-border-right': i == 0 && isTableOverflow(), 'scroll-padding': isTableOverflow() }" (mouseover)="onHover($event, true)" (mouseout)="onHover($event, false)">
            <div fxLayout="row" fxLayoutAlign="start center">
              <ng-container *ngIf="i == 0">
                <div [style.margin-left]="((element.indexPath.length - 1) * 16).toString() + 'px'" [ngClass]="{ 'invisible': element.children.length == 0 }">
                  <button mat-icon-button (click)="expandNode(element)">
                    <mat-icon *ngIf="element.expanded == true" class="mat-icon-rtl-mirror expansion-trigger" role="img" fontSet="mdi-set" fontIcon="mdi-chevron-down"></mat-icon>
                    <mat-icon *ngIf="element.expanded !== true" class="mat-icon-rtl-mirror expansion-trigger" role="img" fontSet="mdi-set" fontIcon="mdi-chevron-right"></mat-icon>
                  </button>
                </div>
              </ng-container>
              {{element.data[column.prop]}} 
              <span *ngIf="column.filesizePipe">{{ (element[column.prop] || 0) | filesize : {standard : "iec"} }}</span>
              <span *ngIf="!column.filesizePipe">{{ element[column.prop]?.value || element[column.prop] }}</span>
              <span class="icons">
                <span *ngIf="column.prop === 'name' && element.data.hasOwnProperty('is_encrypted_root') && element.data.hasOwnProperty('non_encrypted_on_encrypted')">
                  &nbsp;
                  <mat-icon role="img" fontSet="mdi-set" fontIcon="mdi-lock-open-variant" *ngIf="element.data.is_encrypted_root && !element.data.locked">
                  </mat-icon>
                  <mat-icon role="img" fontSet="mdi-set" fontIcon="mdi-lock" *ngIf="element.data.is_encrypted_root && element.data.locked">
                  </mat-icon>
                  <mat-icon svgIcon="anti-lock" *ngIf="element.data.non_encrypted_on_encrypted || (!element.data.encrypted && element.data.has_encrypted_children)">
                  </mat-icon>
                </span>
              </span>
            </div>
          </td>
        </ng-container>
      </ng-container>

      <!-- Actions Column -->
      <ng-container *ngIf="column.prop == 'actions'" matColumnDef="{{column.prop}}" stickyEnd>
        <th class="action-cell" [ngClass]="{'sticky-border-left': isTableOverflow()}" mat-header-cell *matHeaderCellDef> 

        </th>
        <ng-container>
          <!-- Row Action Cells -->
          <td class="action-cell" [ngClass]="{'sticky-border-left': isTableOverflow()}" (mouseover)="onHover($event, true)" (mouseout)="onHover($event, false)" mat-cell *matCellDef="let element; let ii = index">

            <ng-container *ngIf="element.data.actions">
              <button mat-icon-button [matMenuTriggerFor]="rowActions" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
  
              <mat-menu #rowActions="matMenu">
                <ng-container *ngFor="let actionGroup of element.data.actions">
                  <div class="group-menu-header">
                    <mat-divider role="separator"></mat-divider>
                    <div class="title">
                      <strong>{{actionGroup.title}}</strong>
                    </div>
                  </div>
                  <button mat-menu-item *ngFor="let action of actionGroup.actions" (click)="action.onClick(element.data)">
                    {{action.label}}
                  </button>
                </ng-container>
              </mat-menu>

            </ng-container>
          </td>
        </ng-container>
      </ng-container>

    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
