.card-title {
  align-items: center;
  display: flex;

  ix-icon {
    margin-left: 5px;
  }
}

:host ::ng-deep {
  .justify-end {
    display: flex;
    height: inherit;
    justify-content: flex-end;

    mat-slide-toggle {
      align-items: center;
      display: flex;
      height: 100%;
    }
  }
}
