.columns {
  display: flex;

  > .column {
    flex: 1;
  }
}

.refquota-warning-fields,
.refquota-critical-fields,
.quota-warning-fields,
.quota-critical-fields {
  column-gap: 14px;
  display: flex;

  > * {
    flex: 1;
  }

  .inherit-field {
    margin-top: 22px;
  }
}
