#theme-preview{
    background-color: var(--bg1);
    padding:32px;
}
#theme-preview.fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}
