.container {
  align-items: center;
  background: black;
  display: flex;
  height: 300px;
  justify-content: center;
  width: 100%;
}

.view-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.horizontal-container {
  display: flex;
  width: 100%;
}

.view-container {
  flex-grow: 1;
}
