:host ::ng-deep {
  .mat-mdc-card {
    margin: 0;
  }
}

.container {
  align-items: center;
  background: black;
  display: flex;
  height: 400px;
  justify-content: center;
  width: 100%;
}

.view-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.horizontal-container {
  background: var(--bg1);
  column-gap: 5px;
  display: flex;
  width: 100%;
}

.view-container {
  flex-grow: 1;
}

.view-options-container {
  align-items: end;
  display: flex;
  flex-direction: column;
}

.view-options-switch {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  width: 100%;
}

.enclosure-view {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
