.form-wrap {
  box-direction: normal;
  box-orient: horizontal;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.form-line {
  box-flex: 1;
  box-sizing: border-box;
  flex: 1 1 100%;
  max-width: 100%;
}

.form-inline {
  box-flex: 1;
  box-sizing: border-box;
  flex: 1 1 33.33%;
  max-width: 33.33%;
}

.form-card {
  z-index: 2;
}

.buttons {
  margin-left: 1px;
}


/* Imported from embedded */
/* Embedded Form Styles */
.mat-content {
  height: 100%;
  padding: 0;
  width: 100%;
}

.mat-card-actions {
  margin-bottom: 0;
  width: 100%;
}

.fieldset-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 85%;
  width: 100%;
}

.fieldset-container .fieldset {
  box-direction: normal;
  box-orient: horizontal;
  display: flex;
  flex-flow: row wrap;
}

.fieldset.divider-true {
  min-height: 32px;
  padding-top: 16px;
}

.fieldset-container .fieldset .tooltip .material-icons {
  font-size: 12px;
}

/* Default View */
.fieldset-container.fieldset-display-default .fieldset {
  margin: 24px 0;
  width: 100%;
}

/* No Margins*/
.fieldset-container.fieldset-display-default .fieldset {
  margin: 0;
}
