<ng-template #pageHeader>
  <ix-page-title-header>
    <ix-search-input
      [disabled]="isLoading$ | async"
      (search)="onSearch($event)"
    ></ix-search-input>
    <mat-slide-toggle
      color="primary"
      [checked]="!hideBuiltinGroups"
      [disabled]="isLoading$ | async"
      (change)="toggleBuiltins()"
    >
      <label>{{ 'Show Built-In Groups' | translate }}</label>
    </mat-slide-toggle>
    <button mat-button color="primary" (click)="doAdd()">
      {{ 'Add' | translate }}
    </button>
  </ix-page-title-header>
</ng-template>

<mat-card>
  <mat-card-content>
    <table
      ix-table
      matSort
      matSortDisableClear="true"
      [ix-table-empty]="!dataSource.filteredData.length"
      [emptyConfig]="emptyConfigService.defaultEmptyConfig((emptyType$ | async), ('Groups' | translate))"
      [dataSource]="dataSource"
      [matSortActive]="defaultSort.active"
      [matSortDirection]="defaultSort.direction"
      [multiTemplateDataRows]="true"
      [fixedLayout]="true"
    >
      <ng-container matColumnDef="group">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'Group' | translate }}
        </th>
        <td *matCellDef="let group; dataSource: dataSource" mat-cell>
          {{ group.group }}
        </td>
      </ng-container>

      <ng-container matColumnDef="gid">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'GID' | translate }}
        </th>
        <td *matCellDef="let group; dataSource: dataSource" mat-cell>
          {{ group.gid }}
        </td>
      </ng-container>

      <ng-container matColumnDef="builtin">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'Builtin' | translate }}
        </th>
        <td *matCellDef="let group; dataSource: dataSource" mat-cell>
          {{ group.builtin }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sudo">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'Permit Sudo' | translate }}
        </th>
        <td *matCellDef="let group; dataSource: dataSource" mat-cell>
          {{ group.sudo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="smb">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>
          {{ 'Samba Authentication' | translate }}
        </th>
        <td *matCellDef="let group; dataSource: dataSource" mat-cell>
          {{ group.smb }}
        </td>
      </ng-container>

      <ix-expand-toggle-column
        [expandedRow]="expandedRow"
        (toggle)="onToggle($event)"
      ></ix-expand-toggle-column>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        *matRowDef="
          let group;
          columns: displayedColumns;
          dataSource: dataSource
        "
        mat-row
        [ixDetailRow]="group"
        [ixDetailRowOptions]="{ colspan: displayedColumns.length }"
        [ixDetailRowTemplate]="expandedRowTemplate"
        (toggle)="onToggle($event)"
      ></tr>
    </table>

    <ix-table-paginator [dataSource]="dataSource"></ix-table-paginator>
  </mat-card-content>
</mat-card>

<ng-template #expandedRowTemplate let-group let-colspan="colspan">
  <ix-group-details-row
    [group]="group"
    [colspan]="colspan"
  ></ix-group-details-row>
</ng-template>
