.readonly-badge {
  align-items: center;
  background-color: var(--alt-fg1);
  border-radius: 2px;
  display: inline-flex;
  font-size: 13px;
  margin-left: 2px;
  padding: 1px 7px 1px 2px;
  vertical-align: middle;

  ix-icon {
    align-items: center;
    display: flex;
    font-size: 16px;
    margin-right: 2px;
    width: 16px;
  }
}
