<tn-dialog-shell [title]="title">
  @if (isEnterprise()) {
    <ix-select
      [formControl]="form.controls.reason"
      [label]="'Reason' | translate"
      [options]="reasonOptions$"
      [required]="true"
    ></ix-select>

    @if(form.controls.customReason.enabled) {
      <ix-input
        [formControl]="form.controls.customReason"
        [label]="'Custom Reason' | translate"
        [required]="true"
      ></ix-input>
    }
  }

  <ix-form-actions tnDialogAction>
    <ix-checkbox
      class="confirm"
      [formControl]="form.controls.confirm"
      [label]="'Confirm' | translate"
      [required]="true"
    ></ix-checkbox>

    <tn-button
      variant="outline"
      ixTest="cancel"
      [label]="'Cancel' | translate"
      (onClick)="dialogRef.close()"
    ></tn-button>

    <tn-button
      color="primary"
      ixTest="submit"
      [label]="buttonText"
      [disabled]="!form.controls.confirm.value || (isEnterprise() && form.invalid)"
      (onClick)="onSubmit()"
    ></tn-button>
  </ix-form-actions>
</tn-dialog-shell>
