<tn-dialog-shell testId="reboot-or-shutdown" [title]="title">
  @if (isEnterprise()) {
    <ix-select
      [formControl]="form.controls.reason"
      [label]="'Reason' | translate"
      [options]="reasonOptions$"
      [required]="true"
    ></ix-select>

    @if(form.controls.customReason.enabled) {
      <ix-input
        [formControl]="form.controls.customReason"
        [label]="'Custom Reason' | translate"
        [required]="true"
      ></ix-input>
    }
  }

  <tn-checkbox
    testId="confirm"
    class="confirm"
    [formControl]="form.controls.confirm"
    [label]="'Confirm' | translate"
    [required]="true"
    [error]="form.controls.confirm.touched && form.controls.confirm.invalid ? ('Confirm is required' | translate) : null"
  ></tn-checkbox>

  <ix-form-actions tnDialogAction>
    <tn-button
      variant="outline"
      testId="cancel"
      [label]="'Cancel' | translate"
      (onClick)="dialogRef.close()"
    ></tn-button>

    <tn-button
      color="primary"
      testId="submit"
      [label]="buttonText"
      [disabled]="!form.controls.confirm.value || (isEnterprise() && form.invalid)"
      (onClick)="onSubmit()"
    ></tn-button>
  </ix-form-actions>
</tn-dialog-shell>
