.status-wrapper {
  align-items: center;
  display: flex;

  &:hover {
    cursor: help;
  }

  mat-spinner {
    margin-right: 4px;
  }

  ix-icon {
    height: 20px;
    margin-right: 4px;
    width: 20px;

    &.running {
      color: var(--green);
    }
  }
}
