<mat-icon
  [color]="alertLevelColor"
  class="alert-icon"
  [matTooltip]="iconTooltip"
>{{ icon }}</mat-icon>

<div class="alert-body">
  <h3 *ngIf="!alert.dismissed" class="alert-level {{ alertLevelColor }}">
    {{ alertLevelLabel }}
  </h3>
  <h4 class="alert-message" [innerHTML]="alert.formatted"></h4>
  <div class="alert-time">
    {{ alert.datetime.$date | formatDateTime }}
    <ng-container *ngIf="timezone">({{ timezone }})</ng-container>
  </div>

  <a
    *ngIf="alert.dismissed; else reopenLink"
    (click)="onReopen()"
    tabindex="0"
    role="button"
    class="action-link"
  >{{ 'Re-Open' | translate }}</a>
  <ng-template #reopenLink>
    <a
      (click)="onDismiss()"
      tabindex="0"
      role="button"
      class="action-link"
    >{{ 'Dismiss' | translate }}</a >
  </ng-template>
</div>
