mat-card {
  margin: 0 auto;
  max-width: 90%;
  width: 960px;
}

p {
  margin-bottom: 15px;
}

#eula {
  color: var(--fg1);
  font-size: 120%;
  padding: 3rem 3rem 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.mat-mdc-card-actions {
  margin-bottom: unset;
}

#button-row {
  display: flex;
  justify-content: center;
  padding-top: 22px;
}
