<mat-card>
  <mat-card-content>
    <form [formGroup]="form" class="ix-form-container" (submit)="onSubmit()">
      <ix-fieldset>
        <ix-input
          formControlName="var"
          [label]="'Variable' | translate"
          [required]="true"
          [tooltip]="tooltips.var"
        ></ix-input>
        <ix-textarea
          formControlName="value"
          [label]="'Value' | translate"
          [required]="true"
          [tooltip]="tooltips.value"
        ></ix-textarea>
        <ix-input
          formControlName="comment"
          [label]="'Description' | translate"
          [tooltip]="tooltips.comment"
        ></ix-input>
        <ix-checkbox
          formControlName="enabled"
          [label]="'Enabled' | translate"
          [tooltip]="tooltips.enabled"
        ></ix-checkbox>
      </ix-fieldset>

      <div class="form-actions">
        <button
          mat-button
          type="submit"
          [disabled]="form.invalid || isFormLoading"
          color="primary"
        >{{ 'Save' | translate }}</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
