@import 'scss-imports/cssvars';
@import 'scss-imports/variables';

.mat-sidenav-container {
  height: 100vh;
}

.product-type a {
  background: var(--fg1);
  color: var(--bg1);
  font-size: 12px;
  margin: 10px auto;
  padding: 0 5px;
  text-transform: uppercase;
  width: max-content;
}

.alert-sidenav {
  max-width: 30%;
  min-width: 330px;
  width: 400px;
}

ix-truenas-logo {
  background-color: var(--topbar) !important;
  box-sizing: border-box;
  color: var(--topbar-txt) !important;
  height: 48px;
  left: 0;
  line-height: 48px;
  max-width: var(--sidenav-width);
  padding: 7px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  &::ng-deep {
    .app-link {
      transform: scale(1.4);
    }
  }
}

.app-side-nav-container {
  height: 100vh;
  height: 100%;
}

.hostname-label {
  font-size: 12px;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.fn-maincontent {
  overflow: hidden !important;
}

.sidenav-copyright-txt {
  font-size: 0.6rem;
  margin: 1rem auto;
  opacity: 0.5;
  text-align: center;
  width: 100%;

  .copyright-line {
    font-size: 10px;
    margin: 0 35px;
  }
}

.sidenav-copyright-icon {
  margin: 3rem auto 0.5rem;
  opacity: 0.4;
  text-align: center;
}

ix-jw-modal {
  display: block;
}

.slidein-nav {
  background-color: var(--contrast-darker);
  height: calc(100vh - 48px);
  left: -239px;
  overflow: auto;
  position: absolute;
  top: 48px;
  transition: 200ms;
  width: 239px;
  z-index: 100;

  &.slidein-nav-sm {
    @media #{$media-gt-sm} {
      display: none;
    }
  }

  &.slidein-nav-md {
    display: block;

    @media #{$media-lt-md} {
      display: none;
    }
  }
}

#scroll-area {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: auto;
}

.rightside-content-hold {
  box-sizing: border-box;
  display: block;
  height: calc(100% - 48px);
  overflow-x: hidden;
  overflow-y: auto !important;
  padding: 16px;
  position: absolute;
  top: 48px;
  width: 100%;

  @media (max-width: $breakpoint-tablet) {
    padding-bottom: 96px !important;
  }

  &.has-console-footer {
    height: calc(100% - #{$console-footer-height + $topbar-mobile-height});
  }
}

.isdark {
  display: block;
}

ix-navigation {
  height: 100%;
  overflow: auto;
}
