@import 'scss-imports/cssvars';
@import 'scss-imports/variables';

// .mat-sidenav-container {
//   background-image: url("https://images.unsplash.com/photo-1525909002-1b05e0c869d8?q=80&w=1335&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
//   background-size: cover;
// }

.alert-sidenav {
  max-width: 30%;
  min-width: 330px;
  width: 400px;
}
