fieldset {
  border: none;
  margin: 0;

  // Needed to prevent overflow of flexbox children with white-space: nowrap
  min-width: 0;
}

.title-container {
  align-items: center;
  display: flex;
  margin-bottom: 18px;
  margin-top: 9px;

}

legend {
  color: var(--fg1);
  font-family: var(--font-family-body);
  font-size: 15px;
  font-weight: 600;
  padding: 0;
}

.tooltip {
  margin-left: 8px;
  vertical-align: -4px;
}
