<ix-page-header>
  <tn-button-toggle-group
    [ngModel]="selectedIndex"
    [ariaLabel]="'Filter jobs by state' | translate"
    [disabled]="!!(isLoading$ | async)"
    (ngModelChange)="onTabChange($event)"
  >
    <tn-button-toggle
      [value]="JobTab.All"
      [testId]="'all'"
    >{{ 'All' | translate }}</tn-button-toggle>
    <tn-button-toggle
      [value]="JobTab.Running"
      [testId]="'active'"
    >{{ 'Active' | translate }}</tn-button-toggle>
    <tn-button-toggle
      [value]="JobTab.Failed"
      [testId]="'failed'"
    >{{ 'Failed' | translate }}</tn-button-toggle>
  </tn-button-toggle-group>

  <ix-basic-search
    [query]="searchQuery()"
    (queryChange)="onListFiltered($event)"
  ></ix-basic-search>
</ix-page-header>

<ix-table
  [ixUiSearch]="searchableElements.elements.jobs"
  [ix-table-empty]="!(dataProvider.currentPageCount$ | async)"
  [emptyConfig]="emptyService.defaultEmptyConfig(emptyType$ | async)"
>
  <thead
    ix-table-head
    [columns]="columns"
    [dataProvider]="dataProvider"
  ></thead>
  <tbody
    ix-table-body
    [columns]="columns"
    [dataProvider]="dataProvider"
    [isLoading]="!!(isLoading$ | async)"
    (expanded)="onRowExpanded($event)"
  >
    <ng-template
      let-job
      ix-table-cell
      [columnIndex]="0"
      [dataProvider]="dataProvider"
    >
      <ix-job-name [job]="job"></ix-job-name>
    </ng-template>

    <ng-template let-job ix-table-details-row [dataProvider]="dataProvider">
      <ix-job-logs-row [job]="job"></ix-job-logs-row>
    </ng-template>
  </tbody>
</ix-table>
<tn-table-pager [dataProvider]="dataProvider"></tn-table-pager>
