:host {
  display: block;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 0;
}

.details {
  margin: 0;
  padding: 16px 0;

  .details-row {
    display: flex;
  }

  dt {
    display: inline-block;
    font-weight: bold;
    margin-right: 8px;
  }

  dd {
    display: inline-block;
    margin: 0;
  }

  ngx-skeleton-loader {
    height: 28px;
    width: 50px;
  }

  mat-checkbox {
    margin-left: 0;
  }
}
