.unused-disks {
  max-height: calc(65vh - 230px);
  overflow-y: auto !important;
}

.mat-mdc-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.inline-warning {
  display: inline-block;
}
