@import 'mixins/cards';

:host ::ng-deep {
  ix-permissions-item {
    padding: 12px 0;
  }
}

.card {
  @include details-card();

  mat-card-content {
    padding: 0;

    .file-information {
      border-bottom: 1px solid var(--lines);
      display: flex;
      flex-wrap: wrap;
      padding: 0 0 10px;

      .details-item:not(:last-child) {
        width: 50%;
      }

      .details-item {
        max-width: 100%;
        width: 100%;

        .value.dataset-path {
          display: flow-root;
          max-width: calc(100% - 85px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        ix-copy-button {
          margin-top: -4px;
        }
      }
    }
  }
}

.loader-permissions {
  background-color: var(--bg2);
  margin: 4px;
  padding: 50px 24px 24px;
}
