@import '~assets/styles/mixins/cards';

.card {
  @include details-card();

  mat-card-content {
    padding: 0;

    .file-information {
      border-bottom: 1px solid var(--lines);
      display: flex;
      flex-wrap: wrap;
      padding: 20px 25px;

      .details-item:not(:last-child) {
        margin-bottom: 15px;
        width: 50%;
      }
    }

    .skeleton-content {
      ngx-skeleton-loader {
        min-width: 100%;
      }

      .permissions {
        padding: 17px 10px 3px;

        .permissions-item {
          padding: 10px 15px;
        }
      }

      .file-information {
        justify-content: space-between;
        padding-bottom: 0;

        .details-item {
          margin: 0;
          margin-bottom: 23px;
          width: 47%;
        }
      }
    }
  }
}
