@import 'src/assets/styles/scss-imports/cssvars';

input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  display: block;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  padding: 10px 15px;
  width: 100%;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

.form-checkbox {
  &.form-element {
    align-items: center;
    display: flex;
    margin: 1px 0 22px;
    min-height: 24px;
  }

  &.expanded-height {
    margin: 48px 0 22px;
  }
}

@media #{$media-lt-sm} {
  .form-checkbox {
    &.expanded-height {
      margin: 22px 0;
    }
  }
}

.inline-label div.label.half-width,
.inline-label .mat-form-field {
  display: inline-block;
}

.inline-label div.label.half-width {
  width: calc(50% - 16px);
}

.inline-label .mat-form-field {
  width: calc(40% - 16px);
}

.inline-label mat-checkbox {
  padding: 8px;
}

:host-context(app-system-alert) {
  .inline-label label.label.input-select {
    padding: 8px !important;
  }
}
