<ix-form [formGroup]="form" (cancel)="cancelled()" [title]="formTitle" (formSubmit)="submit($event)">
  <ix-input
    label="Name"
    name="name"
    required="true"
    tooltip="nameTooltip"
    placeholder="namePlaceholder"
    [ngModel]="name"
    [formControlName]="nameFormControlName"
  ></ix-input>
  <ix-select
    [label]="siblingLabel"
    name="sibling"
    required="true"
    [options]="siblingOptions"
    [tooltip]="siblingTooltip"
    [ngModel]="sibling"
    [formControlName]="siblingFormControlName"></ix-select>
</ix-form>