<ng-container [formGroup]="form">
  <ix-fieldset [title]="'Authentication' | translate">
    <ix-input
      formControlName="access_key_id"
      [label]="'Access Key ID' | translate"
      [required]="true"
      [tooltip]="helptext.s3.accessKey.tooltip | translate"
    ></ix-input>

    <ix-input
      formControlName="secret_access_key"
      type="password"
      [label]="'Secret Access Key' | translate"
      [required]="true"
      [tooltip]="helptext.s3.secretAccessKey.tooltip | translate"
    ></ix-input>
  </ix-fieldset>

  <ix-fieldset [title]="'Advanced Options' | translate">
    <ix-input
      formControlName="max_upload_parts"
      type="number"
      [label]="'Maximum Upload Parts' | translate"
      [tooltip]="helptext.s3.maxUploadParts.tooltip | translate"
    ></ix-input>

    <ix-input
      formControlName="endpoint"
      [label]="'Endpoint URL' | translate"
      [tooltip]="helptext.s3.endpoint.tooltip | translate"
    ></ix-input>

    <ix-input
      formControlName="region"
      [label]="'Region' | translate"
      [tooltip]="helptext.s3.region.tooltip | translate"
    ></ix-input>

    <ix-checkbox
      formControlName="skip_region"
      [label]="'Disable Endpoint Region' | translate"
      [tooltip]="helptext.s3.skipRegion.tooltip | translate"
    ></ix-checkbox>

    <ix-checkbox
      formControlName="signatures_v2"
      [label]="'Use Signature Version 2' | translate"
      [tooltip]="helptext.s3.signaturesV2.tooltip | translate"
    ></ix-checkbox>
  </ix-fieldset>
</ng-container>
