@import 'scss-imports/cssvars';

.category-type-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}

.half-width {
  width: 50%;

  @media (max-width: $breakpoint-xs) {
    width: 100%;
  }
}

tn-form-field {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}
