<mat-card>
  <form (ngSubmit)="onSubmit($event)" [formGroup]="formGroup" #entityForm="ngForm">
    <div class="fieldset-container fieldset-display-default" *ngIf="fieldSets">
      <ng-container *ngFor="let fieldSet of fieldSets; let i = index">
        <div [ngClass]="fieldSet.class" class="fieldset divider-{{fieldSet.divider}}" fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="100%" fxFlex.gt-xs="calc({{fieldSets[i].width}} - 16px)">
          <mat-divider *ngIf="fieldSets[i].divider && i > 0"></mat-divider>
          <div *ngFor="let field of fieldSet.fieldConfig;" fxFlex="100%" fxFlex.gt-xs="calc(100% - 16px)" class="form-line">
            <div dynamicField [config]="field" [group]="formGroup"></div>
          </div>
          <div *ngIf="selectedType == 'Mail'" fxFlex="100%" fxFlex.gt-xs="calc(100% - 16px)" class="form-line">
            <div *ngFor="let emailField of fieldSet.emailFieldConfig;">
              <div dynamicField [config]="emailField" [group]="emailFormGroup"></div>
            </div>
          </div>
          <div *ngIf="selectedType == 'SNMPTrap'" fxFlex="100%" fxFlex.gt-xs="calc(100% - 16px)" class="form-line">
            <div *ngFor="let snmpTrapField of fieldSet.snmpTrapFieldConfig;">
              <div dynamicField [config]="snmpTrapField" [group]="snmpTrapFormGroup"></div>
            </div>
          </div>
          <div *ngIf="selectedType == 'Slack'" fxFlex="100%" fxFlex.gt-xs="calc(100% - 16px)" class="form-line">
            <div *ngFor="let slackField of fieldSet.slackFieldConfig;">
              <div dynamicField [config]="slackField" [group]="slackFormGroup"></div>
            </div>
          </div>
          <div *ngIf="selectedType == 'AWSSNS'" fxFlex="100%" fxFlex.gt-xs="calc(100% - 16px)" class="form-line">
            <div *ngFor="let awssnsField of fieldSet.awssnsFieldConfig;">
              <div dynamicField [config]="awssnsField" [group]="awssnsFormGroup"></div>
            </div>
            <!-- <button type="button" mat-button id="show-pw" (click)="togglePW()">{{"Show/Hide Passwords" | translate}}</button> -->
          </div>
          <div *ngIf="selectedType == 'InfluxDB'" fxFlex="100%" fxFlex.gt-xs="calc(100% - 16px)" class="form-line">
            <div *ngFor="let influxdbField of fieldSet.influxdbFieldConfig;">
              <div dynamicField [config]="influxdbField" [group]="influxdbFormGroup"></div>
            </div>
            <!-- <button type="button" mat-button id="show-pw" (click)="togglePW()">{{"Show/Hide Passwords" | translate}}</button> -->
          </div>
          <div *ngIf="selectedType == 'Mattermost'" fxFlex="100%" fxFlex.gt-xs="calc(100% - 16px)" class="form-line">
            <div *ngFor="let mattermostField of fieldSet.mattermostFieldConfig;">
              <div dynamicField [config]="mattermostField" [group]="mattermostFormGroup"></div>
            </div>
            <!-- <button type="button" mat-button id="show-pw" (click)="togglePW()">{{"Show/Hide Passwords" | translate}}</button> -->
          </div>
          <div *ngIf="selectedType == 'OpsGenie'" fxFlex="100%" fxFlex.gt-xs="calc(100% - 16px)" class="form-line">
            <div *ngFor="let opsgenieField of fieldSet.opsgenieFieldConfig;">
              <div dynamicField [config]="opsgenieField" [group]="opsgenieFormGroup"></div>
            </div>
          </div>
          <div *ngIf="selectedType == 'HtpChat'" fxFlex="100%" fxFlex.gt-xs="calc(100% - 16px)" class="form-line">
            <div *ngFor="let htpchatField of fieldSet.htpchatFieldConfig;">
              <div dynamicField [config]="htpchatField" [group]="htpchatFormGroup"></div>
            </div>
          </div>
          <div *ngIf="selectedType == 'PagerDuty'" fxFlex="100%" fxFlex.gt-xs="calc(100% - 16px)" class="form-line">
            <div *ngFor="let pagerdutyField of fieldSet.pagerdutyFieldConfig;">
              <div dynamicField [config]="pagerdutyField" [group]="pagerdutyFormGroup"></div>
            </div>
          </div>
          <div *ngIf="selectedType == 'VictorOps'" fxFlex="100%" fxFlex.gt-xs="calc(100% - 16px)" class="form-line">
            <div *ngFor="let victoropsField of fieldSet.victoropsFieldConfig;">
              <div dynamicField [config]="victoropsField" [group]="victoropsFormGroup"></div>
            </div>
          </div>
        </div>
      </ng-container>
      <mat-card-actions class="buttons">
        <button id="save_button" class="btn btn-block btn-warning" type="submit" mat-button color="primary" [disabled]="!entityForm.form.valid">{{"Save" | translate}}</button>
        <button id="goback_button" *ngIf="route_success" class="btn  btn-block btn-lg btn-primary" type="button" (click)="goBack()" mat-button color="accent">{{"Cancel" | translate}}</button>
        <button id="test-alert" type="button" (click)="sendTestAlet()" mat-button class="mat-basic" [disabled]="!entityForm.form.valid">{{"Send Test Alert" | translate}}</button>
      </mat-card-actions>
    </div>
  </form>
</mat-card>
