:host {
  display: block;
  font-size: 12px;


  margin-bottom: 19px;
  margin-top: 12px;

  mat-checkbox {
    margin-left: 0;
  }

  tooltip {
    vertical-align: -4px;
  }
}

.mat-error {
  display: block;
  font-size: 12px;
  margin-top: 3px;
}
