<ix-modal-header
  [requiredRoles]="requiredRoles"
  [title]="'WebShare' | translate"
  [loading]="isFormLoading()"
></ix-modal-header>

<mat-card class="card">
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset>
        <ix-checkbox
          formControlName="search"
          [label]="'Enable TrueSearch' | translate"
          [tooltip]="helptext.search_enabled_tooltip | translate"
        ></ix-checkbox>

        <ix-select
          formControlName="passkey"
          [label]="'Passkey' | translate"
          [tooltip]="helptext.passkey_tooltip | translate"
          [options]="passkeyOptions$"
          [required]="true"
        ></ix-select>
      </ix-fieldset>

      <ix-form-actions>
        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          type="submit"
          color="primary"
          ixTest="save"
          [disabled]="form.invalid || isFormLoading()"
        >
          {{ 'Save' | translate }}
        </button>
      </ix-form-actions>
    </form>
  </mat-card-content>
</mat-card>
