@import 'mixins/text';

:host {
  display: block;
  max-width: 100%;
}

table {
  background: var(--contrast-darker);
  border: solid 1px var(--contrast-lighter);
  border-collapse: collapse;
  color: var(--fg2);
  table-layout: fixed;
  width: 100%;
}

:host ::ng-deep {
  tr > th ng-component,
  tr > td span.mat-mdc-tooltip-trigger,
  tr > td div.mat-mdc-tooltip-trigger span {
    @include line-clamp(2);
    margin: 0 0 -5px;
  }
}
