<ix-modal-header2
  [requiredRoles]="requiredRoles"
  [title]="'Console' | translate"
  [loading]="isFormLoading"
></ix-modal-header2>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset>
        <ix-checkbox
          ixUiSearchableElement
          formControlName="consolemenu"
          [label]="'Show Text Console without Password Prompt' | translate"
          [tooltip]="tooltips.consolemenu"
          [ixSearchConfig]="searchElements.consolemenu"
        ></ix-checkbox>

        <ix-checkbox
          ixUiSearchableElement
          formControlName="serialconsole"
          [label]="'Enable Serial Console' | translate"
          [tooltip]="tooltips.serialconsole"
          [ixSearchConfig]="searchElements.serialconsole"
        ></ix-checkbox>

        <ix-select
          ixUiSearchableElement
          formControlName="serialport"
          [label]="'Serial Port' | translate"
          [tooltip]="tooltips.serialport"
          [options]="serialPortOptions$"
          [ixSearchConfig]="searchElements.serialport"
        ></ix-select>

        <ix-select
          ixUiSearchableElement
          formControlName="serialspeed"
          [label]="'Serial Speed' | translate"
          [tooltip]="tooltips.serialport"
          [options]="serialSpeedOptions$"
          [ixSearchConfig]="searchElements.serialspeed"
        ></ix-select>

        <ix-textarea
          ixUiSearchableElement
          formControlName="motd"
          [label]="'MOTD Banner' | translate"
          [tooltip]="tooltips.motd"
          [ixSearchConfig]="searchElements.motd"
        ></ix-textarea>
      </ix-fieldset>

      <ix-form-actions>
        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          type="submit"
          color="primary"
          ixTest="save"
          [disabled]="form.invalid || isFormLoading"
        >
          {{ 'Save' | translate }}
        </button>
      </ix-form-actions>
    </form>
  </mat-card-content>
</mat-card>
