<div class="bulk-actions-container">
  <div class="bulk-selected">
    <span>{{ checkedApps().length }}</span>
    <span>{{ 'Selected' | translate }}</span>
  </div>

  <div class="bulk-button-wrapper">
    <label>{{ 'Bulk Actions' | translate }}</label>
    <span class="bulk-actions-button">
      <tn-button
        *ixRequiresRoles="requiredRoles"
        variant="outline"
        color="default"
        testId="bulk-actions-menu"
        [label]="'Select action' | translate"
        [tnMenuTriggerFor]="menu"
      ></tn-button>
      <tn-icon class="bulk-actions-caret" name="menu-down" library="mdi" aria-hidden="true"></tn-icon>
    </span>
  </div>

  <tn-menu #menu>
    <tn-menu-item
      *ixRequiresRoles="requiredRoles"
      testId="start-selected"
      [label]="'Start All Selected' | translate"
      [disabled]="isBulkStartDisabled()"
      (itemClick)="bulkStart.emit()"
    ></tn-menu-item>
    <tn-menu-item
      *ixRequiresRoles="requiredRoles"
      testId="stop-selected"
      [label]="'Stop All Selected' | translate"
      [disabled]="isBulkStopDisabled()"
      (itemClick)="bulkStop.emit()"
    ></tn-menu-item>
    <tn-menu-item
      *ixRequiresRoles="requiredRoles"
      testId="update-selected"
      [label]="'Update All Selected' | translate"
      [disabled]="isBulkUpdateDisabled()"
      (itemClick)="bulkUpdate.emit()"
    ></tn-menu-item>
    <tn-menu-item
      *ixRequiresRoles="requiredRoles"
      testId="delete-selected"
      [label]="'Delete All Selected' | translate"
      (itemClick)="bulkDelete.emit()"
    ></tn-menu-item>
  </tn-menu>
</div>
