<ix-card
  [title]="cardTitle()"
  [titleLink]="'/sharing/nvme-of'"
  [headerStatus]="headerStatus()"
  [headerMenu]="headerMenu()"
  [primaryAction]="primaryAction"
  [footerLink]="footerLink()"
>
  @if (!(dataProvider().currentPageCount$ | async) && !(dataProvider().isLoading$ | async)) {
    <ix-empty [conf]="emptyConfig"></ix-empty>
  } @else {
    <ix-table
      class="table"
      [ix-table-empty]="!(dataProvider().currentPageCount$ | async)"
      [emptyConfig]="emptyService.defaultEmptyConfig(dataProvider().emptyType$ | async)"
    >
      <thead
        ix-table-head
        [columns]="columns"
        [dataProvider]="dataProvider()"
      ></thead>
      <tbody
        ix-table-body
        [columns]="columns"
        [dataProvider]="dataProvider()"
        [isLoading]="!!(dataProvider().isLoading$ | async)"
      >
        <ng-template
          let-subsystem
          ix-table-cell
          [columnIndex]="0"
          [dataProvider]="dataProvider()"
        >
          <ix-subsystem-name-cell [subsystem]="subsystem"></ix-subsystem-name-cell>
        </ng-template>
      </tbody>
    </ix-table>

    <ix-table-pager-show-more
      [pageSize]="4"
      [dataProvider]="dataProvider()"
      [ixTestOverride]="['nvme-of']"
      [routerLink]="['/sharing', 'nvme-of']"
    ></ix-table-pager-show-more>
  }
</ix-card>
