<button
  mat-button
  ixTest="configuration-menu"
  [matMenuTriggerFor]="configMenu"
>
  {{ 'Configuration' | translate }}
  <tn-icon name="mdi-menu-down" class="menu-caret"></tn-icon>
</button>

<mat-menu #configMenu="matMenu" overlapTrigger="false">
  <button
    mat-menu-item
    ixTest="global-configuration"
    [ixUiSearch]="searchableElements.elements.settings"
    (click)="onGlobalConfiguration()"
  >
    {{ 'Settings' | translate }}
  </button>

  <button
    *ixRequiresRoles="requiredRoles"
    mat-menu-item
    ixTest="map-user-group-ids"
    (click)="onMapUserGroupIds()"
  >
    {{ 'Map User/Group IDs' | translate }}
  </button>
</mat-menu>

@if (config()) {
  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    ixTest="create-new-container"
    [color]="'primary'"
    [ixUiSearch]="searchableElements.elements.add"
    (click)="onCreateContainer()"
  >{{ 'Create New Container' | translate }}</button>
}
