.edit-trigger {
  all: unset;
  background-color: var(--alt-bg1);
  color: var(--primary-txt);
  column-gap: 2px;
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  padding: 0 5px;
  vertical-align: top;

  &.readonly {
    background-color: transparent;
    cursor: default;
    padding: 0 1px;
    pointer-events: none;

    .edit-trigger-icon {
      display: none;
    }
  }

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;

    .edit-trigger-icon {
      opacity: 0.2;
    }
  }

  &.edit-trigger-empty {
    font-style: italic;
  }

  .edit-trigger-icon {
    height: 18px;
    margin-left: 2px;
    margin-top: 2px;
    width: 18px;
  }
}
