/* content padding top 14px bottom 15px*/
div.dashboard {
    height: calc(100% - 29px);
}
div.title {
    display: flex;
    margin: 0px 24px;
    color: var(--fg2);
}

div.right-column div {
    height: calc(50% - 34px);
}