:host ::ng-deep .datatable-body {
  overflow-x: hidden !important;
}

.has-tooltip mat-form-field.full-width {
  width: calc(100% - 25px);
}

.div-content {
  padding-bottom: 10px;
}

.jail-spinner {
  position: absolute;
  top: 30px; left: 0; bottom: 0; right: 0;
  z-index: 10;
  margin: 0 auto;
}