<mat-card *ngIf="availablePools != undefined">
    <form (ngSubmit)="activatePool($event)">
      <h4>{{ "Activated Pool for Jail Manager:" | translate}} {{ activatedPool }}</h4>
      <div class="dynamic-field form-select has-tooltip" *ngIf="toActivatePool">
        <mat-form-field class="form-control full-width">
          <mat-select placeholder="{{ 'Choose a pool or dataset for jail storage' | translate }}" required [(ngModel)]="selectedPool" name="Pool">
            <mat-option *ngFor="let pool of availablePools" [value]="pool.name">{{ pool.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <tooltip [message]=tooltipMsg></tooltip>
      </div>
      <button mat-button color="primary" type="submit" [disabled]="!selectedPool" *ngIf="toActivatePool">{{ "Activate" | translate }}</button>
      <button mat-button color="primary" type="button" *ngIf="toActivatePool && availablePools.length === 0"
      (click)="router.navigate(['/storage', 'pools', 'manager'])">{{ "Create Pool" | translate }}</button>
      <button mat-button color="primary" type="button" (click)="toActivatePool = !toActivatePool">
        <label *ngIf="!toActivatePool">{{ "Config" | translate }}</label>
        <label *ngIf="toActivatePool">{{ "Hide Config" | translate }}</label>
      </button>
    </form>
</mat-card>

<entity-table [title]="title" [conf]="this" *ngIf="isPoolActivated"></entity-table>
