<h1 md-dialog-title>{{title}}</h1>
<div md-dialog-content>
	<div *ngIf="job && job.state == 'RUNNING'">
	    <md-progress-bar class="example-margin"
			color="primary"
			mode="indeterminate"
			[value]="progressTotalPercent"
			bufferValue="bufferValue">
    	</md-progress-bar>
    	{{ progressTotalPercent }}%
    </div>
    <div>
		<span *ngIf="description">{{ description }}</span>
    </div>
    <div>
		<span *ngIf="!description">Starting job...</span>
    </div>
</div>
<div md-dialog-actions *ngIf="showCloseButton || (job && job.state == 'FAILED')">
    <button md-button md-dialog-close="close">Close</button>
</div>
