<mat-card>
  <mat-toolbar-row>
    <h3>{{ 'Interfaces' | translate }}</h3>
    <div class="actions">
      <div [matTooltip]="isHaEnabled ? (helptext.ha_enabled_edit_msg | translate) : ''">
        <button
          mat-button
          [ixTest]="['add', 'interface']"
          [disabled]="isHaEnabled"
          (click)="onAddNew()"
        >{{ 'Add' | translate }}</button>
      </div>
    </div>
  </mat-toolbar-row>
  <ix-table2 class="interfaces-table">
    <thead
      ix-table-head
      [columns]="columns"
      [dataProvider]="dataProvider"
    ></thead>
    <tbody
      ix-table-body
      [columns]="columns"
      [dataProvider]="dataProvider"
      [isLoading]="isLoading"
    >
      <ng-template
        let-interface
        ix-table-cell
        [columnIndex]="0"
        [dataProvider]="dataProvider"
      >
        <ix-interface-status-icon
          class="interface-icon"
          [update]="inOutUpdates?.[interface.name]"
        ></ix-interface-status-icon>
      </ng-template>
      <ng-template
        let-interface
        ix-table-cell
        [columnIndex]="3"
        [dataProvider]="dataProvider"
      >
        <div class="buttons">
          <button
            mat-icon-button
            [ixTest]="['edit', 'interface', interface.name]"
            [matTooltip]="'Edit' | translate"
            (click)="onEdit(interface)"
          >
            <ix-icon name="edit"></ix-icon>
          </button>

          <div
            [matTooltip]="isHaEnabled ? (helptext.ha_enabled_reset_msg | translate) : ('Reset configuration' | translate)"
          >
            <button
              *ngIf="isPhysical(interface)"
              mat-icon-button
              [ixTest]="['reset', 'interface', interface.name]"
              [disabled]="isHaEnabled"
              (click)="onReset(interface)"
            >
              <ix-icon name="refresh"></ix-icon>
            </button>
          </div>

          <div [matTooltip]="isHaEnabled ? (helptext.ha_enabled_delete_msg | translate) : ''">
            <button
              *ngIf="!isPhysical(interface)"
              mat-icon-button
              [ixTest]="['delete', 'interface', interface.name]"
              [disabled]="isHaEnabled"
              (click)="onDelete(interface)"
            >
              <ix-icon name="delete"></ix-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </tbody>
  </ix-table2>
</mat-card>
