:host {
  display: block;
  margin-bottom: 12px;
}

.full-width {
  color: var(--fg1);
  width: 100%;
}

.container {
  padding: 8px 0;
}

.tooltip {
  margin-left: 8px;
}

.input-container {
  background: var(--bg1);
  border: solid 1.5px var(--lines);
  border-radius: 2px;
  position: relative;

  ::ng-deep {
    mat-select .mat-mdc-select-value {
      padding: 5px 8px;
    }

    mat-select .mat-mdc-select-value-text {
      white-space: initial;
    }
  }

  &:focus-within {
    border-color: var(--primary);
  }

  &.disabled {
    opacity: var(--disabled-opacity);

    ::ng-deep .mat-mdc-select-value {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}

::ng-deep .mat-mdc-select-panel .mat-mdc-option.schedule-option {
  height: auto;
  line-height: 24px;
  min-height: 3em;
  white-space: normal;

  .crontab {
    font-style: italic;
  }

  .preset-description,
  .crontab {
    font-size: 11px;
    margin: 0 1px;
    opacity: 0.7;
  }
}

.label-container {
  margin-bottom: 5px;
  margin-left: 1px;
}

.label {
  font-size: x-small;
}
