<mat-card class="card">
  <mat-card-content class="card-content">
    <div class="header">
      <h3>{{ label() | translate }}</h3>
    </div>

    <div [class]="['container', size()]">
      <div
        [fittext]="true"
        [modelToWatch]="text"
        [activateOnResize]="true"
        [maxFontSize]="49"
        [minFontSize]="12"
      >
        {{ text() | translate }}

        <div *ngIf="subText" class="sub-text">
          {{ subText() | translate }}
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
