@import '../../../dashboard-variables';

:host {
  display: flex;
  height: 100%;
  width: 100%;
}

mat-card {
  height: 100%;
  width: 100%;

  .card-content {
    height: 100%;
    width: 100%;

    .header {
      padding-bottom: 0;
      padding-right: 12px;
    }

    .container {
      align-items: center;
      display: flex;
      height: calc($widget-group-height * 0.3);
      justify-content: center;
      line-height: normal;
      margin: 12px 0;
      overflow: hidden;
      padding: 0 12px;
      text-align: center;
      width: 100%;

      &.full {
        height: calc($widget-group-height * 0.8);
      }

      .sub-text {
        display: inline-block;
        font-size: smaller;
        transform: scale(0.75);
        transform-origin: -15px 15px;
        vertical-align: sub;
      }
    }
  }
}
