.row {
    margin-bottom: 10px;
}
#train-selector {
    max-width: 200px;
}
.update-button {
    margin-right: 3px;
}

.changelog {
    height: 350px;
}

#changelog-box {
    max-height: 220px;
    overflow-y: scroll;
}

.stable-warning {
    margin: 20px 0;
    font-size: 1.1rem;
}

.stable-warning a {
    text-decoration: underline;
}