@import 'scss-imports/variables';

.update-container {
  color: var(--fg2);
  display: grid;
  gap: 5%;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;

  ::ng-deep > * {
    display: block;
  }

  @media(max-width: $breakpoint-sm) {
    gap: 32px;
    grid-template-columns: 1fr;
  }

  .up-to-date-icon {
    bottom: 2px;
    color: var(--green);
    position: relative;
  }

  .error-color {
    color: var(--red);
  }

  ix-icon {
    width: 18px;
  }

  a {
    color: var(--primary);
    margin: 10px 0 0;
    text-decoration: underline;
  }

  h2,
  h3 {
    border-bottom: 1px solid var(--lines);
    padding-bottom: 10px;
  }

  h3 {
    margin-top: 40px;
  }

  .train-warning {
    align-items: center;
    display: flex;
    gap: 8px;
    padding: 0;

    a {
      margin: 0;
    }
  }

  .update-available {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    padding: 16px 0 0;

    .label {
      margin-right: 0;
    }

    .profile-mismatch {
      font-size: 12px;
      margin-top: 2px;
    }

    h4 {
      align-items: flex-start;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .versions {
      display: grid;
      flex-wrap: wrap;
      gap: 16px;

      ngx-skeleton-loader {
        height: 18px;
        margin-left: 10px;
        width: 100px;
      }
    }

    .current-version-number {
      font-weight: 600;
    }
  }

  .update-summary {
    h4 {
      margin-top: 15px;
    }

    .changelog {
      margin-top: 3px;
    }
  }

  .other-options {
    margin-top: 40px;

    .manual-update {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 15px;

      h4 {
        margin-bottom: 6px;
        margin-top: 3px;
      }
    }
  }

  .hint {
    color: var(--alt-fg1);
    margin-top: 15px;
  }
}
