#train-card {
    padding: 15px 20px 20px 20px;
    max-height: 85px;
}

.train-card-row {
    margin-bottom: 10px;
}

#train-label {
    margin-right: 10px;
}

#train-selector {
    max-width: 85%;
    border: 1px solid;
    padding: 3px 5px;
}

#upgrades-card {
    max-height: 180px;
}

#upgrades-card-scrollbox {
    height:170px;
    overflow-y: auto;
}

#changelog-card {
    height: 230px;
    padding-right: 24px !important;
}

#changelog-title {
    margin: 10px 25px;
    padding-top: 15px;
    font-weight: 700;
}

#changelog-scrollbox {
    height:140px;
    overflow-y: scroll;
}

#stable-warning-card {
    padding: 2px 20px;
}

.stable-warning {
    margin: 10px 0 !important;
    font-size: 1.1rem;
}

.stable-warning a {
    text-decoration: underline;
}

#stable_warning_line_2 {
    padding-left: 35px;
}

.update-button {
    margin-right: 3px;
}

#update-info {
    position: relative;
    top: 3px;
    margin-right: 10px;
}

#update-spinner {
    position: absolute;
    top: 30px; left: 0; bottom: 0; right: 0;
    margin: 0 auto;
    z-index: 10;
}

#single-train-name {
    display: inline-block;
}

.train-select-row {
    margin-top: -6px;
    margin-bottom: 3px;
    vertical-align: top;
}

#refresh-button, #single-train-refresh-button {
    margin-left: 20px;
}

#single-train-refresh-button {
    vertical-align: top;
    margin-top: -12px;
}

@media screen and (max-width: 1270px) {
    #train-selector, #single-train-name {
        max-width: 75%;
    }
}

@media screen and (max-width: 595px) {
    #train-selector, #single-train-name {
        max-width: 65%;
    }
}



