.row {
    margin-bottom: 10px;
}
#train-selector {
    max-width: 200px;
}
.update-button {
    margin-right: 3px;
}

.changelog {
    height: 350px;
}

#changelog-box {
    max-height: 220px;
    overflow-y: scroll;
}

/* #button-card {
    width: 85%;
} */