@import 'scss-imports/variables';

ix-fake-progress-bar {
  position: absolute;
  top: 0;
}

.update-container {
  color: var(--fg2);
  display: grid;
  gap: 5%;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;

  @media(max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
  }

  .green-color {
    color: var(--green);
  }

  .error-color {
    color: var(--red);
  }

  ix-icon {
    width: 18px;
  }

  a {
    color: var(--primary);
    margin: 10px 0 0;
    text-decoration: underline;
  }

  h2,
  h3 {
    border-bottom: 1px solid var(--lines);
    padding-bottom: 10px;
  }

  h3 {
    margin-top: 30px;
  }

  .train-warning {
    align-items: center;
    display: flex;
    gap: 16px;
    padding: 0;
  }

  .update-available {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    padding: 16px 0 0;

    h4 {
      align-items: center;
      display: flex;
      gap: 8px;
    }

    .versions {
      display: grid;
      flex-wrap: wrap;
      gap: 16px;

      ngx-skeleton-loader {
        height: 18px;
        margin-left: 10px;
        width: 100px;
      }
    }
  }

  .update-summary {
    h4 {
      margin-top: 15px;
    }
  }

  .other-options {
    margin-top: 20px;

    h4 {
      margin-top: 15px;
    }

    .manual-update {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  .available-profiles {
    .profile-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 8px 0;

      .profile-row {
        align-items: center;
        display: grid;
        gap: 1rem;
        grid-template-columns: 150px 1fr;
      }

      .profile-name {
        font-size: 1rem;
        line-height: 1.4;
      }

      .profile-note {
        color: var(--alt-fg1);
        display: block;
        font-size: 0.85rem;
        padding-top: 2px;
      }
    }
  }

  .update-profile {
    align-items: center;
    display: flex;
    gap: 16px;

    ix-select {
      margin: 0;
      min-width: 50%;
    }

    button {
      margin-top: 24px;
    }
  }

  .hint {
    color: var(--alt-fg1);
  }
}

#upgrades-card {
  max-height: 180px;
}

#upgrades-card-scrollbox {
  max-height: 170px;
  overflow-y: auto;
}

.release-notes-link {
  display: block;
  margin: 3px;
  text-decoration: underline;
}

#changelog-card {
  height: 230px;
  padding-right: 40px !important;
}

#changelog-title {
  font-weight: 700;
  margin: 10px 25px;
  padding-top: 15px;
}

#changelog-scrollbox {
  height: 140px;
  overflow-y: auto;
}

mat-card {
  margin: 0 auto 15px;
  max-width: 960px;
  padding: 20px !important;
}

.upgrades-table {
  width: 100%;
}
