@import '../mixins';

h3 {
  @include section-title;
}

.disk {
  margin: 8px 0 6px;

  .dev {
    margin-right: 6px;
  }

  .temperature {
    margin-right: 3px;
  }

  .tooltip-icon {
    vertical-align: -2px;
  }
}
