@import '../mixins';

h3 {
  @include section-title;
}

.disk {
  align-items: center;
  display: flex;
  gap: 6px;
  margin: 8px 0 6px;

  .dev {
    min-width: 32px;
  }

  ngx-skeleton-loader {
    display: inline-flex;
    width: 32px;
  }

  .temperature {
    margin-right: 3px;
  }

  .tooltip-icon {
    vertical-align: -2px;
  }
}
