:host {
  display: block;
  padding: 8px 24px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--lines);
  }

  &:hover {
    background: var(--hover-bg);
    cursor: pointer;
  }

  &:focus,
  &:active {
    background: var(--hover-bg);
  }
}

.job-item {
  &.abortable {
    max-width: calc(100% - 32px);
  }
}

.job-progress {
  margin: 3px 0;
}

.job-progress-description {
  opacity: 0.75;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.job-time {
  opacity: 0.5;
}

.job-icon-failed {
  color: var(--red);
}
