:host {
  display: block;
}

#row-filter.form-element.toolbar-input {
  display: inline-block;
  position: relative;

  .toolbar-input-placeholder {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    left: 35.5px;
    opacity: 0.55;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 13px;
    white-space: nowrap;
    width: calc(100% - 37px);
  }
}

