<mat-card class="card">
  <mat-card-header>
    <h3 mat-card-title>{{ 'Hardware Disk Encryption' | translate }}</h3>
  </mat-card-header>

  <mat-card-content>
    <div class="details-item">
      <span class="label">{{ 'SED Password' | translate }}:</span>
      <ng-container *ngIf="hasDiskEncryption$ | async as diskEncryption">
        <ngx-skeleton-loader
          *ngIf="diskEncryption.isLoading"
        ></ngx-skeleton-loader>
        <span *ngIf="diskEncryption.value !== undefined" class="value">
          {{ diskEncryption.value ? ('Password is set' | translate) : ('Password is not set' | translate) }}
        </span>
        <ng-container *ngIf="diskEncryption.error">
          <!-- TODO: Add error handler -->
          Error
        </ng-container>
      </ng-container>
      <a (click)="onManageSedPassword()">
        {{ 'Manage SED Password' | translate }}
      </a>
    </div>

    <div class="details-item">
      <span class="label">{{ 'Global SED Password' | translate }}:</span>
      <ng-container *ngIf="hasGlobalEncryption$ | async as globalEncryption">
        <ngx-skeleton-loader
          *ngIf="globalEncryption.isLoading"
        ></ngx-skeleton-loader>
        <span *ngIf="globalEncryption.value !== undefined" class="value">
          {{ globalEncryption.value ? ('Password is set' | translate) : ('Password is not set' | translate) }}
        </span>
        <ng-container *ngIf="globalEncryption.error">
          <!-- TODO: Add error handler -->
          Error
        </ng-container>
      </ng-container>
      <a [routerLink]="['/system/advanced']">
        {{ 'Manage Global SED Password' | translate }}
      </a>
    </div>
  </mat-card-content>
</mat-card>
