.columns {
  column-gap: 10px;
  display: flex;

  .column {
    flex: 1;
  }
}

.view-actions {
  column-gap: 10px;
  display: flex;
  margin-bottom: 24px;
  margin-top: 13px;

  button {
    flex: 1;
  }
}
