<tn-dialog-shell [title]="'Delete Namespace' | translate">
<div class="message">
  <p>
    {{ 'Are you sure you want to delete this namespace?' | translate }}
  </p>

  @if (isFile) {
    <ix-checkbox
      [formControl]="removeFileControl"
      [label]="('Also delete the underlying file – {name}' | translate: { name: namespace.device_path })"
    ></ix-checkbox>
  } @else {
    <p>
      {{ 'Underlying Zvol will not be deleted.' | translate }}
    </p>
  }
</div>

<ix-form-actions tnDialogAction>
  <tn-button variant="outline" ixTest="cancel" [label]="'Cancel' | translate" (onClick)="dialogRef.close(false)"></tn-button>
  <tn-button color="warn" ixTest="delete" [label]="'Delete' | translate" (onClick)="onDelete()"></tn-button>
</ix-form-actions>
</tn-dialog-shell>
