$sidenav-width: 240px;
$table-min-width: 700px;
$table-width: 800px;
$card-width: 520px;
$gap: 8px;
$breakpoint-singlecolumn: calc($card-width + $table-width + $sidenav-width);
$breakpoint-dualcolumn: 2027px;
$breakpoint-triplecolumn: 2560px;
$breakpoint-flex: 3132px;
$breakpoint-hidden: calc($breakpoint-singlecolumn - 1px);
