@import 'text-security/text-security.css';

:host {
  color: var(--fg1);
  display: block;
  margin-bottom: 12px;
  margin-top: 18px;
  padding: 8px 0;
}

td {
  padding: 5px 7px;
}

.permissions-container {
  &.disabled {
    opacity: var(--disabled-opacity);

    mat-checkbox {
      cursor: not-allowed;
    }
  }

  &.readonly {
    input {
      cursor: copy;
    }
  }
}

.header-label {
  font-size: x-small;
}

.mat-error,
.mat-mdc-form-field-error {
  display: block;
  font-size: 12px;
  margin-top: 3px;
}
