@if (status(); as status) {
  @if (status === DockerStatus.Running) {
    <div class="status-wrapper" [matTooltip]="statusDescription()">
      <ix-icon name="mdi-check-circle" class="running"></ix-icon>
      <span>{{ status | mapValue: dockerStatusLabels | translate }}</span>
    </div>
  }

  @if (status === DockerStatus.Initializing || status === DockerStatus.Stopping) {
    <div
      class="status-wrapper"
      [matTooltip]="statusDescription()"
    >
      <mat-spinner [diameter]="20"></mat-spinner>
      <span>{{ status | mapValue: dockerStatusLabels | translate }}</span>
    </div>
  }

  @if (status === DockerStatus.Stopped) {
    <div class="status-wrapper" [matTooltip]="statusDescription()">
      <ix-icon name="stop_circle"></ix-icon>
      <span>{{ status | mapValue: dockerStatusLabels | translate }}</span>
    </div>
  }

  @if (status === DockerStatus.Failed) {
    <div class="status-wrapper" [matTooltip]="statusDescription()">
      <ix-icon name="mdi-close-circle" class="error"></ix-icon>
      <span>{{ status | mapValue: dockerStatusLabels | translate }}</span>
    </div>
  }

  @if (status === DockerStatus.Unconfigured) {
    <div class="status-wrapper" [matTooltip]="statusDescription()">
      <ix-icon name="settings"></ix-icon>
      <span>{{ status | mapValue: dockerStatusLabels | translate }}</span>
    </div>
  }

  @if (status === DockerStatus.Pending) {
    <div class="status-wrapper" [matTooltip]="statusDescription()">
      <ix-icon name="pending"></ix-icon>
      <span>{{ status | mapValue: dockerStatusLabels | translate }}</span>
    </div>
  }
}
