<ng-container *ngIf="(status$ | async) as status">
  <div *ngIf="status === kubernetesStatus.Running" class="status-wrapper" [matTooltip]="statusDescription$ | async">
    <ix-icon name="mdi-check-circle" class="running"></ix-icon>
    <span>{{ status | mapValue: kubernetesStatusLabels | translate }}</span>
  </div>
  <div *ngIf="status === kubernetesStatus.Initializing" class="status-wrapper" [matTooltip]="statusDescription$ | async">
    <mat-spinner [diameter]="20"></mat-spinner>
    <span>{{ status | mapValue: kubernetesStatusLabels | translate }}</span>
  </div>
  <div *ngIf="status === kubernetesStatus.Error" class="status-wrapper" [matTooltip]="statusDescription$ | async">
    <ix-icon name="mdi-close-circle" class="error"></ix-icon>
    <span>{{ status | mapValue: kubernetesStatusLabels | translate }}</span>
  </div>
</ng-container>
