<p *ngIf="error" type="danger"><span id="idmap-err" [innerHTML]="error"></span></p>
<mat-card>
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  	<div *ngIf="idmap_type === 'ad'">
    	<ng-container *ngFor="let adField of adFieldConfig;" dynamicField [config]="adField" [group]="formGroup">
    	</ng-container>
	</div>
	<div *ngIf="idmap_type === 'autorid'">
	    <ng-container *ngFor="let autoridField of autoridFieldConfig;" dynamicField [config]="autoridField" [group]="formGroup">
	    </ng-container>
	</div>
	<div *ngIf="idmap_type === 'fruit'">
	    <ng-container *ngFor="let fruitField of fruitFieldConfig;" dynamicField [config]="fruitField" [group]="formGroup">
	    </ng-container>
	</div>
	<div *ngIf="idmap_type === 'ldap'">
	    <ng-container *ngFor="let ldapField of ldapFieldConfig;" dynamicField [config]="ldapField" [group]="formGroup">
	    </ng-container>
	</div>
	<div *ngIf="idmap_type === 'nss'">
	    <ng-container *ngFor="let nssField of nssFieldConfig;" dynamicField [config]="nssField" [group]="formGroup">
	    </ng-container>
	</div>
	<div *ngIf="idmap_type === 'rfc2307'">
	    <ng-container *ngFor="let rfcField of rfcFieldConfig;" dynamicField [config]="rfcField" [group]="formGroup">
	    </ng-container>
	</div>
	<div *ngIf="idmap_type === 'rid'">
	    <ng-container *ngFor="let ridField of ridFieldConfig;" dynamicField [config]="ridField" [group]="formGroup">
	    </ng-container>
	</div>
	<div *ngIf="idmap_type === 'script'">
	    <ng-container *ngFor="let scriptField of scriptFieldConfig;" dynamicField [config]="scriptField" [group]="formGroup">
	    </ng-container>
	</div>
	<div *ngIf="idmap_type === 'tdb'">
	    <ng-container *ngFor="let tdbField of tdbFieldConfig;" dynamicField [config]="tdbField" [group]="formGroup">
	    </ng-container>
	</div>
	<div *ngIf="idmap_type === 'tdb2'">
	    <ng-container *ngFor="let tdb2Field of tdb2FieldConfig;" dynamicField [config]="tdb2Field" [group]="formGroup">
	    </ng-container>
	</div>
    <mat-card-actions id="idmap-actions">
      <button class="btn btn-block btn-warning" type="submit" mat-button color="primary">Save</button>
      <button *ngIf="route_success" (click)="goBack()" mat-button color="accent" type="button">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
