<div class="tooltip">
  <popper-content #popperTooltip class="fn-theme-tooltip">
    <div class="tooltip-header">
      <div class="title-wrapper">
        <div>
          <h5 class="tooltip-title">
            {{ 'Help' | translate }}{{ header ? ': ' : '' }}
            <i>{{ header ? (header | translate) : '' }}</i>
          </h5>
        </div>
      </div>
      <div>
        <mat-icon
          class="close-icon"
          fontSet="mdi-set"
          fontIcon="mdi-close"
          ixTest="close-tooltip"
          (click)="popperTooltip.hide()"
        ></mat-icon>
      </div>
    </div>
    <div
      class="tooltip-message"
      ixTest="tooltip-message"
      [innerHTML]="message | translate"
    ></div>
  </popper-content>

  <mat-icon
    class="material-icons tooltip-icon"
    popperAppendTo="body"
    [ixTest]="['tooltip', header]"
    [popperTrigger]="'click' | cast"
    [popper]="popperTooltip"
    [popperShowOnStart]="false"
  >help_outline</mat-icon>
</div>
