@import 'scss-imports/variables';

.fieldsets {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }

  .fieldset {
    width: 50%;
  }
}

.form-actions {
  border-top: 1px solid var(--lines);
  padding: 16px 11px;
}
