@if (!hasSmbUsers()) {
  <div class="smb-users-warning">
    <p class="title">
      <ix-icon name="warning"></ix-icon>

      <span>
        {{ "Looks like you don't have any users who'll be able to access this share." | translate}}
      </span>
    </p>

    <p>{{ 'You can:' | translate }}</p>

    <ul>
      <li>
        <a ixTest="go-to-users-page" (click)="closeForm(['/credentials', 'users'])">
          {{ 'Create a new user' | translate }}
        </a>
      </li>
      <li>
        <a ixTest="go-to-directory-services-page" (click)="closeForm(['/credentials', 'directory-services'])">
          {{ 'Configure Directory Services' | translate }}
        </a>
      </li>
      <li>
        <span (click)="hasSmbUsers.set(true)">
          {{ 'Ignore the error and add users later.' | translate }}
        </span>
      </li>
    </ul>
  </div>
}
