<div class="cards">
  <div class="scroll-window">
    <ix-user-profile-card
      [user]="user()"
      [ixUiSearch]="searchableElements.elements.profile"
    ></ix-user-profile-card>

    <ix-user-access-card
      [user]="user()"
      [ixUiSearch]="searchableElements.elements.accessCard"
      (reloadUsers)="reloadUsers.emit()"
    ></ix-user-access-card>

    @if (!user()?.password_disabled) {
      <ix-user-password-card
        [user]="user()"
        [ixUiSearch]="searchableElements.elements.passwordCard"
      ></ix-user-password-card>
    }
  </div>
</div>
