<div class="widget stats-widget" ngClass.xs="double-height xs">
  <div class="card-container front">
    <mat-card
      class="front"
      fxLayout="row"
      fxLayoutWrap
      fxLayoutAlign="space-between stretch"
    >
      <mat-card-content>
        <ix-drag-handle [showReorderHandle]="showReorderHandle">
          <ng-content [select]="[cdkDragHandle]"></ng-content>

          <mat-toolbar-row>
            <!-- Mobile Only: Exit widget -->
            <button
              *ngIf="screenType === ScreenType.Mobile"
              class="mat-card-title-text primary-nav"
              mat-icon-button
              color="default"
              ixTest="cpu-back"
              (click)="goBack()"
            >
              <ix-icon name="chevron_left" class="back-arrow"></ix-icon>
            </button>

            <h3 class="mat-card-title-text">
              <ix-drag-handle [showReorderHandle]="showReorderHandle">
                <div class="card-title-text">
                  <span *ngIf="showReorderHandle" class="grip"></span>
                  <span>{{ 'CPU' | translate }}</span>
                </div>
              </ix-drag-handle>
            </h3>

            <div class="controls">
              <a
                mat-icon-button
                ixTest="cpu-reports"
                [routerLink]="['/reportsdashboard/cpu']"
              >
                <ix-icon
                  name="insert_chart"
                  aria-label="CPU Reports"
                  matTooltipPosition="above"
                  [matTooltip]="'CPU Reports' | translate"
                ></ix-icon>
              </a>
            </div>
          </mat-toolbar-row>
        </ix-drag-handle>

        <div *ngIf="screenType === ScreenType.Desktop" class="cpu-model top">
          {{ cpuModel ? cpuModel : ('Unknown CPU' | translate) }}
        </div>

        <!-- Chart -->
        <div
          id="cpu-load-wrapper"
          fxLayout="row wrap"
          fxLayoutAlign="space-around center"
          [class.mobile]="screenType === ScreenType.Mobile"
        >
          <div class="viewchartgauge" fxFlex="47" fxFlex.xs="100">
            <ix-view-chart-gauge
              *ngIf="isCpuAvgReady; else loader"
              [config]="cpuAvg"
            ></ix-view-chart-gauge>
          </div>

          <ng-template #loader>
            <mat-spinner class="spinner" [diameter]="40"></mat-spinner>
          </ng-template>

          <div
            *ngIf="screenType === ScreenType.Desktop"
            fxFlex="53"
            fxFlex.xs="100"
            id="cpu-load-cores"
            class="no-flicker"
          >
            <mat-list>
              <mat-list-item>
                <span class="label">
                  <strong>{{ 'Cores' | translate }}:</strong>
                </span>

                {{ coreCount }} {{ 'cores' | translate }}

                <span *ngIf="hyperthread">
                  &nbsp;({{ threadCount }}
                  {{ 'threads' | translate }})
                </span>
              </mat-list-item>
              <mat-list-item>
                <span class="label">
                  <strong> {{ 'Highest Usage' | translate }}: </strong>
                </span>

                <ng-container *ngIf="usageMax > 0; else noDataProvided">
                  {{ usageMax }}% &nbsp;
                  <span class="subtext">
                    ({{
                      usageMaxThreads.length === 0
                        ? ('All Threads' | translate)
                        : usageMaxThreads.length < 2
                          ? ('Thread #' | translate) + usageMaxThreads.toString()
                          : usageMaxThreads.length + (' threads at ' | translate) + usageMax + '%'
                    }})
                  </span>
                </ng-container>
              </mat-list-item>
              <mat-list-item>
                <div
                  *ngIf="tempMax >= 70"
                  class="label-icon"
                  [ngClass]="{ warn: tempMax < 80, danger: tempMax > 79 }"
                >
                  <ix-icon name="mdi-alert"></ix-icon>
                </div>
                <span class="label">
                  <strong>{{ 'Hottest' | translate }}:</strong>
                </span>
                <ng-container *ngIf="tempMax > 0; else noDataProvided">
                  <span>{{ tempMax }}°C &nbsp;</span>
                  <span class="subtext">
                    ({{
                      tempMaxThreads.length === 0
                        ? ('All Cores' | translate)
                        : tempMaxThreads.length < 2
                          ? ('Core #' | translate) + tempMaxThreads.toString()
                          : tempMaxThreads.length + (' cores at ' | translate) + tempMax + '°C'
                    }})
                  </span>
                </ng-container>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

        <div
          *ngIf="screenType === ScreenType.Mobile"
          fxLayout="column"
          class="mobile no-flicker"
        >
          <div fxFlex="65" class="bottom">
            <div class="list-subheader">
              <span class="capitalize">{{ 'CPU Details' | translate }}</span>
            </div>
            <mat-list>
              <mat-list-item>
                <span class="label">{{ 'Model:' | translate }}</span>
                {{ cpuModel ? cpuModel : 'Unknown CPU' }}
              </mat-list-item>
              <mat-list-item>
                <span class="label">
                  <strong>{{ 'Cores' | translate }}:</strong>
                </span>

                {{ coreCount }} {{ 'cores' | translate }}

                <span *ngIf="hyperthread">
                  &nbsp;({{ threadCount }}
                  {{ 'threads' | translate }})
                </span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

        <div
          *ngIf="screenType === ScreenType.Mobile"
          fxLayout="column"
          class="mobile no-flicker"
        >
          <div fxFlex="65" class="bottom">
            <div class="list-subheader">
              <span class="capitalize">
                {{ 'Stats Per Thread' | translate }}
              </span>
            </div>
            <mat-list>
              <ng-container *ngIf="tempMax > 0; else noDataProvided">
                <mat-list-item>
                  <span class="label">{{ 'Hottest:' | translate }}</span>
                  {{ tempMax }}°C &nbsp;&nbsp;
                  <span class="subtext">
                    ({{
                      tempMaxThreads.length === 0
                        ? ('All Cores' | translate)
                        : tempMaxThreads.length < 2
                          ? ('Core #' | translate) + tempMaxThreads.toString()
                          : tempMaxThreads.length + (' cores at ' | translate) + tempMax + '°C'
                    }})
                  </span>
                </mat-list-item>
              </ng-container>
              <ng-container *ngIf="tempMin > 0; else noDataProvided">
                <mat-list-item>
                  <span class="label">{{ 'Coolest:' | translate }}</span>
                  {{ tempMin }}°C &nbsp;&nbsp;
                  <span class="subtext">
                    ({{
                      tempMinThreads.length === 0
                        ? ('All Cores' | translate)
                        : tempMinThreads.length < 2
                          ? ('Core #' | translate) + tempMinThreads.toString()
                          : tempMinThreads.length + (' cores at ' | translate) + tempMin + '°C'
                    }})
                  </span>
                </mat-list-item>
              </ng-container>
              <mat-list-item>
                <span class="label">{{ 'Highest Usage:' | translate }}</span>
                <ng-container *ngIf="usageMax > 0; else noDataProvided">
                  {{ usageMax }}% &nbsp;&nbsp;
                  <span class="subtext">
                    ({{
                      usageMaxThreads.length === 0
                        ? ('All Threads' | translate)
                        : usageMaxThreads.length < 2
                          ? ('Thread #' | translate) + usageMaxThreads.toString()
                          : usageMaxThreads.length + (' threads at ' | translate) + usageMax + '%'
                    }})
                  </span>
                </ng-container>
              </mat-list-item>
              <mat-list-item>
                <span class="label">{{ 'Lowest Usage:' | translate }}</span>
                {{ usageMin }}% &nbsp;&nbsp;
                <span class="subtext">
                  ({{
                    usageMinThreads.length === 0
                      ? ('All Threads' | translate)
                      : usageMinThreads.length < 2
                        ? ('Thread #' | translate) + usageMinThreads.toString()
                        : usageMinThreads.length + ' threads at ' + usageMin + '%'
                  }})
                </span>
              </mat-list-item>
            </mat-list>
          </div>
        </div>

        <!-- Start Cores Wrapper -->
        <div id="cpu-cores-wrapper" class="bar-chart-wrapper" fxLayout="column">
          <div
            fxFlex="100"
            id="cpu-load-cores-legend"
            fxLayout="row wrap"
            [ngClass]="{ mobile: screenType === ScreenType.Desktop }"
          >
            <div
              *ngIf="legendData && screenType === ScreenType.Desktop; else noLegend"
              id="cpu-load-cores-legend-values"
              fxFlex
              fxLayout="row wrap"
              fxLayoutAlign="space-around center"
            >
              <div
                *ngIf="screenType === ScreenType.Desktop"
                fxFlex="23"
                fxFlex.xs="calc(100% - 16px)"
                class="legend-item core-number"
              >
                <span class="label">{{ 'Thread:' | translate }}</span>
                {{ legendIndex }}
              </div>

              <div
                fxFlex="22"
                fxFlex.xs="calc(50% - 16px)"
                class="legend-item usage"
              >
                <div class="legend-swatch primary"></div>
                <span class="label">{{ legendData[0].label }}:</span>
                {{ legendData[0].data[legendIndex] }}%
              </div>

              <ng-container *ngIf="tempMin && tempMax">
                <div
                  *ngIf="legendData[1]"
                  fxFlex="32"
                  fxFlex.xs="calc(50% - 16px)"
                  class="legend-item temperature"
                >
                  <div
                    class="legend-swatch"
                    [ngClass]="{
                      defaultTheme: themeService.isDefaultTheme,
                      nonDefaultTheme: !themeService.isDefaultTheme
                    }"
                  ></div>
                  <span class="label">{{ legendData[1].label }}:</span>
                  {{ legendData[1].data[legendIndex] }}°C
                </div>
              </ng-container>
            </div>
          </div>

          <ng-template #noLegend>
            <div
              id="cpu-load-cores-legend-values"
              fxFlex
              fxLayout="row wrap"
              fxLayoutAlign="space-around center"
            >
              <div
                fxFlex="23"
                fxFlex.xs="calc(100% - 16px)"
                class="legend-item core-number"
              >
                <span class="label">{{ 'Stats Per Thread' | translate }}</span>
              </div>

              <div
                fxFlex="22"
                fxFlex.xs="calc(50% - 16px)"
                class="legend-item usage"
              >
                <div class="legend-swatch primary"></div>
                <span class="label">{{ 'Usage' | translate }}</span>
              </div>

              <ng-container *ngIf="usageMin && usageMax">
                <div
                  fxFlex="32"
                  fxFlex.xs="calc(50% - 16px)"
                  class="legend-item temperature"
                >
                  <div
                    class="legend-swatch"
                    [ngClass]="{
                      defaultTheme: themeService.isDefaultTheme,
                      nonDefaultTheme: !themeService.isDefaultTheme
                    }"
                  ></div>
                  <span class="label">{{ 'Temperature' | translate }}</span>
                </div>
              </ng-container>
            </div>
          </ng-template>

          <div fxFlex="104px" id="cpu-cores-chart" class="bar-chart">
            <canvas></canvas>
          </div>
        </div>
        <!-- End Cores Wrapper -->

        <!-- DETAILS -->
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #noDataProvided>
  <ngx-skeleton-loader></ngx-skeleton-loader>
</ng-template>
