<ng-container [ngSwitch]="true">
  <div fxLayout="column" fxLayoutAlign="center center" *ngSwitchCase="!isActiveDirectoryEnabled && !isLdapEnabled" class="everything-disabled">
    <ix-entity-empty [conf]="noDirectoryServicesConfig"></ix-entity-empty>
    <div class="actions">
      <button mat-button (click)="openActiveDirectoryForm()">
        {{ 'Configure Active Directory' | translate }}
      </button>
      <button mat-button (click)="openLdapForm()">
        {{ 'Configure LDAP' | translate }}
      </button>
    </div>
  </div>

  <div *ngSwitchCase="isActiveDirectoryEnabled" class="services">
    <ng-container *ngTemplateOutlet="dataCard; context: { card: activeDirectoryDataCard }"></ng-container>
    <mat-card>
      <mat-toolbar-row><h3>{{ 'LDAP' | translate }}</h3></mat-toolbar-row>
      <mat-card-content>
        <div class="disabled-message">
          <p>{{ 'LDAP is disabled.' | translate }}</p>
          <p>{{ 'To enable disable Active Directory first.' | translate }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngSwitchCase="isLdapEnabled" class="services">
    <mat-card>
      <mat-toolbar-row><h3>{{ 'Active Directory' | translate }}</h3></mat-toolbar-row>
      <mat-card-content>
        <div class="disabled-message">
          <p>{{ 'Active Directory is disabled.' | translate }}</p>
          <p>{{ 'To enable disable LDAP first.' | translate }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <ng-container *ngTemplateOutlet="dataCard; context: { card: ldapDataCard }"></ng-container>
  </div>
</ng-container>

<cdk-accordion-item
  class="advanced-settings"
  [class.expanded]="expansionPanel.expanded"
  #expansionPanel="cdkAccordionItem"
>
  <h3 class="header">
    {{ 'Advanced Settings' | translate }}

    <button
      *ngIf="!expansionPanel.expanded"
      mat-button
      (click)="onAdvancedSettingsOpened(expansionPanel)"
    >{{ 'Show' | translate }}</button>
  </h3>

  <div class="advanced-settings-cards">
    <ix-conf-table [conf]="idmapTableConf"></ix-conf-table>
    <ng-container *ngTemplateOutlet="dataCard; context: { card: kerberosSettingsDataCard }"></ng-container>
    <ix-conf-table [conf]="kerberosRealmsTableConf"></ix-conf-table>
    <ix-conf-table [conf]="kerberosKeytabTableConf"></ix-conf-table>
  </div>
</cdk-accordion-item>

<ng-template #dataCard let-card="card">
  <mat-card *ngIf="typeCard(card) as card">
    <mat-toolbar-row>
      <h3>{{ card.title | translate }}</h3>
      <div class="actions action-icon">
        <button mat-button color="default" (click)="card.onSettingsPressed()">
          {{ 'Settings' | translate }}
        </button>
      </div>
    </mat-toolbar-row>

    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of card.items" class="card-list-item">
          <span class="label">{{ item.label | translate }}:</span>
          <span class="value">{{ item.value || ('None' | translate) }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>
