:host {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.label-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.label {
  font-family: var(--font-family-body);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-left: 2px;
}

.sublabel {
  font-size: 13px;
  font-weight: normal;
  opacity: 0.7;
}
