<ix-modal-header [title]="title" [loading]="isLoading"></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset [title]="'Path' | translate">
        <ix-explorer
          formControlName="path"
          [required]="true"
          [label]="'Path' | translate"
          [tooltip]="helptext.tooltip_path | translate"
          [nodeProvider]="treeNodeProvider"
        ></ix-explorer>
      </ix-fieldset>

      <ix-fieldset [title]="'General Options' | translate">
        <ix-input
          formControlName="comment"
          [label]="'Description' | translate"
          [tooltip]="helptext.tooltip_comment | translate"
        ></ix-input>

        <ix-checkbox
          formControlName="enabled"
          [label]="'Enabled' | translate"
          [tooltip]="helptext.tooltip_enabled | translate"
        ></ix-checkbox>
      </ix-fieldset>

      <ix-fieldset *ngIf="isAdvancedMode" [title]="'Access' | translate">
        <ix-checkbox
          formControlName="ro"
          [label]="'Read Only' | translate"
          [tooltip]="helptext.tooltip_ro | translate"
        ></ix-checkbox>

        <ix-combobox
          formControlName="maproot_user"
          [label]="'Maproot User' | translate"
          [tooltip]="helptext.tooltip_maproot_user | translate"
          [provider]="userProvider"
        ></ix-combobox>

        <ix-combobox
          formControlName="maproot_group"
          [label]="'Maproot Group' | translate"
          [tooltip]="helptext.tooltip_maproot_group | translate"
          [provider]="groupProvider"
        ></ix-combobox>

        <ix-combobox
          formControlName="mapall_user"
          [label]="'Mapall User' | translate"
          [tooltip]="helptext.tooltip_mapall_user | translate"
          [provider]="userProvider"
        ></ix-combobox>

        <ix-combobox
          formControlName="mapall_group"
          [label]="'Mapall Group' | translate"
          [tooltip]="helptext.tooltip_mapall_group | translate"
          [provider]="groupProvider"
        ></ix-combobox>

        <ix-select
          formControlName="security"
          [label]="'Security' | translate"
          [options]="securityOptions$"
          [multiple]="true"
        ></ix-select>
      </ix-fieldset>

      <ix-fieldset>
        <ix-list
          formArrayName="networks"
          [empty]="form.controls.networks.controls.length === 0"
          [label]="'Networks' | translate"
          (add)="addNetworkControl()"
        >
          <ix-list-item
            *ngFor="let network of form.controls.networks.controls; let i = index"
            (delete)="removeNetworkControl(i)"
          >
            <ix-ip-input-with-netmask
              class="list-item"
              [required]="true"
              [formControlName]="i"
              [label]="'Network' | translate"
              [tooltip]="helptext.tooltip_network | translate"
            ></ix-ip-input-with-netmask>
          </ix-list-item>
        </ix-list>

        <ix-list
          formArrayName="hosts"
          [empty]="form.controls.hosts.controls.length === 0"
          [label]="'Hosts' | translate"
          (add)="addHostControl()"
        >
          <ix-list-item
            *ngFor="let network of form.controls.hosts.controls; let i = index"
            (delete)="removeHostControl(i)"
          >
            <ix-input
              class="list-item"
              [required]="true"
              [formControlName]="i"
              [label]="'Authorized Hosts and IP addresses' | translate"
              [tooltip]="helptext.tooltip_hosts | translate"
            ></ix-input>
          </ix-list-item>
        </ix-list>
      </ix-fieldset>

      <ix-form-actions>
        <button
          mat-button
          type="submit"
          color="primary"
          ixTest="save"
          [disabled]="form.invalid || isLoading"
        >
          {{ 'Save' | translate }}
        </button>

        <button mat-button type="button" ixTest="toggle-advanced-options" (click)="toggleAdvancedMode()">
          {{
            isAdvancedMode
              ? ('Basic Options' | translate)
              : ('Advanced Options' | translate)
          }}
        </button>
      </ix-form-actions>
    </form>
  </mat-card-content>
</mat-card>
