<ng-container *ngIf="popupIsVisible && showPopup">
  <div class="copy-btn-popup tooltip-container">
    <div class="text-limiter-tooltip">

      <div class="copy-btn-header">
        <div class="copy-btn-header-txt">
          (Copied to clipboard)
        </div>

        <div class="copy-btn-close-trigger">
          <button mat-icon-button (click)="onPopupClose()">
            <mat-icon class="copy-btn-icon" role="img" fontSet="mdi-set" fontIcon="mdi-close"></mat-icon>
          </button>
        </div>

      </div>

      <div class="copy-btn-copied-txt">{{ text }}</div>

    </div>
  </div>
</ng-container>

<button class="copy-btn-trigger" mat-icon-button (click)="onIconClick()" *ngIf="!btnText; else textBtn">
  <mat-icon class="copy-btn-icon" role="img" fontSet="mdi-set" fontIcon="mdi-clipboard-text"></mat-icon>
</button>

<ng-template #textBtn>
  <button
    mat-button
    class="mat-button mat-accent"
    (click)="onIconClick()"
    ix-auto
    ix-auto-type="button"
    ix-auto-identifier="{{btnText | uppercase}}"
  >{{ btnText | translate }}</button>
</ng-template>
<input #el class="invisible" [value]="text" type="text">
