<ix-modal-header
  [requiredRoles]="requiredRoles"
  [title]="title"
  [loading]="isLoading"
></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset [title]="'Name And Method' | translate">
        <ix-input
          formControlName="connection_name"
          [label]="'Name' | translate"
          [required]="true"
          [tooltip]="helptext.name_tooltip | translate"
        ></ix-input>

        @if (isNew) {
          <ix-select
            formControlName="setup_method"
            [label]="'Setup Method' | translate"
            [required]="true"
            [options]="setupMethods$"
            [tooltip]="helptext.setup_method_tooltip | translate"
          ></ix-select>
        }
      </ix-fieldset>

      <ix-fieldset [title]="'Authentication' | translate">
        @if (isManualSetup) {
          <ix-input
            formControlName="host"
            [label]="'Host' | translate"
            [required]="true"
            [tooltip]="helptext.host_tooltip | translate"
          ></ix-input>
          <ix-input
            formControlName="port"
            type="number"
            [label]="'Port' | translate"
            [required]="true"
            [tooltip]="helptext.port_tooltip | translate"
          ></ix-input>
        }

        @if (!isManualSetup) {
          <ix-input
            formControlName="url"
            [label]="'TrueNAS URL' | translate"
            [required]="true"
            [tooltip]="helptext.url_tooltip | translate"
            [parse]="formatter.stringAsUrlParsing"
          ></ix-input>
        }

        @if (!isManualSetup) {
          <ix-input
            formControlName="admin_username"
            [label]="'Admin Username' | translate"
            [tooltip]="helptext.admin_username_tooltip | translate"
          ></ix-input>
        }

        @if (!isManualSetup) {
          <ix-input
            formControlName="password"
            type="password"
            [required]="true"
            [label]="'Admin Password' | translate"
            [tooltip]="helptext.password_tooltip | translate"
          ></ix-input>
        }

        @if (!isManualSetup) {
          <ix-input
            formControlName="otp_token"
            [label]="'One-Time Password (if necessary)' | translate"
            [tooltip]="helptext.otp_tooltip | translate"
          ></ix-input>
        }

        <ix-input
          formControlName="username"
          [required]="true"
          [label]="'Username' | translate"
          [tooltip]="helptext.username_tooltip | translate"
        ></ix-input>

        @if (!isManualSetup && (isNotRootUsername$ | async)) {
          <ix-checkbox
            formControlName="sudo"
            [label]="'Enable passwordless sudo for zfs commands' | translate"
            [tooltip]="helptext.sudo_tooltip | translate"
          ></ix-checkbox>
        }

        <ix-select
          formControlName="private_key"
          [label]="'Private Key' | translate"
          [required]="true"
          [options]="privateKeys$"
          [tooltip]="helptext.private_key_tooltip | translate"
        ></ix-select>

        @if (isManualSetup) {
          <ix-textarea
            class="remote-host-key-textarea"
            formControlName="remote_host_key"
            [label]="'Remote Host Key' | translate"
            [tooltip]="helptext.remote_host_key_tooltip | translate"
          ></ix-textarea>
        }

        <ng-container *ixRequiresRoles="requiredRoles">
          @if (isManualSetup) {
            <button
              type="button"
              mat-button
              class="discover-key-button"
              ixTest="discover-remote-host-key"
              [disabled]="!isManualAuthFormValid"
              (click)="onDiscoverRemoteHostKeyPressed()"
            >
              {{ 'Discover Remote Host Key' | translate }}
            </button>
          }
        </ng-container>
      </ix-fieldset>

      <ix-fieldset [title]="'More Options' | translate">
        <ix-input
          formControlName="connect_timeout"
          [label]="'Connect Timeout' | translate"
          [tooltip]="helptext.connect_timeout_tooltip | translate"
        ></ix-input>
      </ix-fieldset>

      <ix-form-actions>
        <button
          *ixRequiresRoles="requiredRoles"
          type="submit"
          mat-button
          color="primary"
          ixTest="save"
          [disabled]="!form.valid || isLoading"
        >
          {{ 'Save' | translate }}
        </button>
      </ix-form-actions>
    </form>
  </mat-card-content>
</mat-card>
