:host {
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.card-badge {
  align-items: center;
  background: var(--primary); // Default to info color (blue)
  border-radius: 10px;
  color: var(--primary-txt);
  display: inline-flex;
  font-size: 0.7rem;
  font-weight: 600;
  gap: 3px;
  height: 18px;
  justify-content: center;
  line-height: 1;
  min-width: 18px;
  padding: 0 5px;
  vertical-align: middle;

  tn-icon {
    height: 12px;
    width: 12px;
  }

  &.critical {
    background: var(--red);
  }

  &.warning {
    background: var(--orange);
  }

  &.info {
    background: var(--primary);
  }
}
