:host ::ng-deep {
  ix-modal-header {
    > mat-progress-bar {
      bottom: auto;
      top: 71px;
    }

    app-job-item {
      background-color: var(--bg1);
      border-bottom: 1px solid var(--lines);
      color: var(--fg1);
      margin: 0 -20px;

      .job-item {
        padding: 8px 20px 8px 30px;
      }
    }
  }

  .ix-form-container {
    fieldset {
      padding-top: 24px;
    }
  }
}

.form-actions {
  margin: 8px 10px;
}
