<div class="mobile-reorder-buttons">
  <button
    mat-icon-button
    [attr.aria-label]="'Move card up' | translate"
    [ixTest]="['move-up', 'widget' + index()]"
    [disabled]="!canMoveUp()"
    (click)="moveUp.emit()"
  >
    <tn-icon name="menu-up" library="mdi"></tn-icon>
  </button>
  <button
    mat-icon-button
    [attr.aria-label]="'Move card down' | translate"
    [ixTest]="['move-down', 'widget' + index()]"
    [disabled]="!canMoveDown()"
    (click)="moveDown.emit()"
  >
    <tn-icon name="menu-down" library="mdi"></tn-icon>
  </button>
</div>



<div class="edit-and-delete flex items-center">
  <button
    mat-icon-button
    [attr.aria-label]="'Edit group' | translate"
    [ixTest]="['edit-group', 'widget' + index()]"
    (click)="edit.emit()"
  >
    <tn-icon class="size-5! text-foreground!" name="app-pencil" library="custom"></tn-icon>
  </button>
  <button
    mat-icon-button
    [attr.aria-label]="'Delete group' | translate"
    [ixTest]="['delete-group', 'widget' + index()]"
    (click)="delete.emit()"
  >
    <tn-icon class="size-5! text-foreground!" name="app-delete" library="custom"></tn-icon>
  </button>
  <button cdkDragHandle mat-icon-button>
    <tn-icon class="size-5! text-foreground!" name="app-drag-horizontal" library="custom"></tn-icon>
  </button>
</div>
