@import "scss-imports/cssvars";
@import "../../../dashboard-variables";

:host {
  box-sizing: border-box;
  color: var(--fg2);
  display: flex;
  justify-content: space-between;
  opacity: 0;
  padding: 5px 4px 0;
  position: absolute;
  transition: opacity $animation-duration;
  width: 100%;
  z-index: 100;

  .mobile-reorder-buttons {
    align-self: flex-start;
    display: flex;
    visibility: hidden;

    @media #{$media-lt-sm} {
      column-gap: 5px;
      pointer-events: auto;
      visibility: visible;
    }
  }

  .edit-and-delete {
    ::ng-deep {
      .mat-mdc-icon-button {
        width: 32px !important;
        height: 32px !important;
      }
    }
  }
}