<div class="mobile-reorder-buttons">
  <tn-icon-button
    name="menu-up"
    library="mdi"
    [ariaLabel]="'Move card up' | translate"
    [testId]="['move-up', 'widget', index()]"
    [disabled]="!canMoveUp()"
    (onClick)="moveUp.emit()"
  ></tn-icon-button>
  <tn-icon-button
    name="menu-down"
    library="mdi"
    [ariaLabel]="'Move card down' | translate"
    [testId]="['move-down', 'widget', index()]"
    [disabled]="!canMoveDown()"
    (onClick)="moveDown.emit()"
  ></tn-icon-button>
</div>

<div class="drag-handle" cdkDragHandle>
  <tn-icon name="drag-horizontal" library="mdi"></tn-icon>
</div>

<div class="edit-and-delete">
  <tn-icon-button
    name="pencil"
    library="mdi"
    [ariaLabel]="'Edit group' | translate"
    [testId]="['edit-group', 'widget', index()]"
    (onClick)="edit.emit()"
  ></tn-icon-button>
  <tn-icon-button
    name="delete"
    library="mdi"
    [ariaLabel]="'Delete group' | translate"
    [testId]="['delete-group', 'widget', index()]"
    (onClick)="delete.emit()"
  ></tn-icon-button>
</div>
