:host {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  background: var(--bg1);
  display: flex;
  flex-direction: column;
  margin: 8px 0 8px 28px;
}

.vdev-wrapper {
  display: flex;
}

.vdev-table {
  padding-bottom: 10px;
}

.vdev-actions {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin: 0 12px;
  width: 48px;
}

.vdev-action-btn {
  border: none;
  outline: none;

  &.close {
    margin-top: 12px;
  }
}

.vdev-type {
  flex: 1 1 auto;
}

.vdev-close {
  flex: 0 0 auto;

  button {
    margin-top: 0;
  }
}

.vdevTooltip {
  display: auto;
}

.custom_cell_styling {
  height: 20px;
  overflow: hidden;
  padding-left: 5px;
  width: 100%;
}

.datainfo {
  margin: 4px 16px;
}

@media screen and (max-width: 1399px) {
  .vdev-wrapper {
    margin-left: 1rem;
  }
}

.row-details {
  padding-left: 35px;
}

.vdev-estimated {
  display: inline-block;
  margin-left: 16px;

  ix-tooltip {
    left: 4px;
    position: relative;
    top: 3px;
  }
}

.size-message {
  margin: 0.5rem 1rem;

  &.red {
    color: var(--red);
  }

  &.orange {
    color: var(--orange);
  }
}

.inline-warn {
  display: inline-block;
}

.table-background {
  background: var(--bg2) !important;
}

.type-wrapper {
  margin-left: 0;
}

.title-wrapper {
  display: inline-block;
  padding-left: 24px;
}

.header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 48px;
  justify-content: space-between;
}

.full-width {
  display: flex;
  flex-direction: row-reverse;
}
