<ix-page-header [title]="'Users' | translate">
  <ix-all-users-header (userCreated)="loadNewUser($event)"></ix-all-users-header>
</ix-page-header>

<ix-master-detail-view
  #masterDetailView="masterDetailViewContext"
  [showDetails]="!!dataProvider.expandedRow"
  [selectedItem]="dataProvider.expandedRow"
>
  <ix-user-list
    #masterList
    master
    [dataProvider]="dataProvider"
    [ixUiSearch]="searchableElements.elements.list"
    [isMobileView]="masterDetailView.isMobileView()"
    (toggleShowMobileDetails)="masterDetailView.toggleShowMobileDetails($event)"
    (userSelected)="onUserSelected($event)"
  ></ix-user-list>

  <ng-container detail-header>
    @if (dataProvider.expandedRow; as user) {
      <ix-user-detail-header
        [user]="user"
      ></ix-user-detail-header>
    }
  </ng-container>

  <ng-container detail>
    @if (dataProvider.expandedRow; as user) {
      <ix-user-details
        [user]="user"
        (reloadUsers)="dataProvider.load()"
      ></ix-user-details>
    }
  </ng-container>
</ix-master-detail-view>
