@if (isRunning()) {
  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    [ixTest]="['stop', vm().id]"
    (click)="doStop()"
  >
    <ix-icon name="mdi-stop-circle"></ix-icon>
    <span>{{ 'Stop' | translate }}</span>
  </button>

  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    [ixTest]="['restart', vm().id]"
    (click)="doRestart()"
  >
    <ix-icon name="replay"></ix-icon>
    <span>{{ 'Restart' | translate }}</span>
  </button>

  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    [ixTest]="['power_off', vm().id]"
    (click)="doPowerOff()"
  >
    <ix-icon name="power_settings_new"></ix-icon>
    <span>{{ 'Power Off' | translate }}</span>
  </button>
} @else {
  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    [ixTest]="['start', vm().id]"
    (click)="doStart()"
  >
    <ix-icon name="mdi-play-circle"></ix-icon>
    <span>{{ 'Start' | translate }}</span>
  </button>
}

<button
  mat-button
  [ixTest]="['edit', vm().id]"
  (click)="doEdit()"
>
  <ix-icon name="edit"></ix-icon>
  <span>{{ 'Edit' | translate }}</span>
</button>

<button
  *ixRequiresRoles="requiredRoles"
  mat-button
  [ixTest]="['delete', vm().id]"
  (click)="doDelete()"
>
  <ix-icon name="mdi-delete"></ix-icon>
  <span>{{ 'Delete' | translate }}</span>
</button>

<button
  mat-button
  [ixTest]="['devices', vm().id]"
  (click)="openDevices()"
>
  <ix-icon name="device_hub"></ix-icon>
  <span>{{ 'Devices' | translate }}</span>
</button>

<button
  *ixRequiresRoles="requiredRoles"
  mat-button
  [ixTest]="['clone', vm().id]"
  (click)="doClone()"
>
  <ix-icon name="filter_none"></ix-icon>
  <span>{{ 'Clone' | translate }}</span>
</button>

@if (showDisplayButton()) {
  <button
    mat-button
    [ixTest]="['open_display', vm().id]"
    (click)="openDisplay()"
  >
    <ix-icon name="settings_ethernet"></ix-icon>
    <span>{{ 'Display' | translate }}</span>
  </button>
}

@if (isRunning()) {
  <button
    mat-button
    [ixTest]="['open_serial_shell', vm().id]"
    (click)="openSerialShell()"
  >
    <ix-icon name="keyboard_arrow_right"></ix-icon>
    <span>{{ 'Serial Shell' | translate }}</span>
  </button>
}

<button
  *ixRequiresRoles="requiredReadRoles"
  mat-button
  [ixTest]="['download_logs', vm().id]"
  (click)="downloadLogs()"
>
  <ix-icon name="content_paste"></ix-icon>
  <span>{{ 'Download Logs' | translate }}</span>
</button>




