<ix-modal-header [title]="title" [loading]="isLoading"></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <div class="columns">
        <div class="column">
          <ix-fieldset [title]="'General' | translate">
            <ix-input
              formControlName="name"
              [label]="'Name' | translate"
              [required]="true"
              [tooltip]="tooltips.name | translate"
            ></ix-input>

            <ix-explorer
              formControlName="path"
              [label]="'Path' | translate"
              [required]="true"
              [tooltip]="tooltips.path | translate"
              [nodeProvider]="treeNodeProvider"
            ></ix-explorer>

            <ix-input
              formControlName="comment"
              [label]="'Comment' | translate"
              [tooltip]="tooltips.comment | translate"
            ></ix-input>

            <ix-checkbox
              formControlName="enabled"
              [label]="'Enabled' | translate"
              [tooltip]="tooltips.enabled | translate"
            ></ix-checkbox>
          </ix-fieldset>

          <ix-fieldset [title]="'Other Options' | translate">
            <ix-textarea
              formControlName="auxiliary"
              [label]="'Auxiliary Parameters' | translate"
              [tooltip]="tooltips.auxiliary | translate"
            ></ix-textarea>
          </ix-fieldset>
        </div>
        <div class="column">
          <ix-fieldset [title]="'Access' | translate">
            <ix-select
              formControlName="mode"
              [label]="'Access Mode' | translate"
              [required]="true"
              [options]="modeOptions$"
              [tooltip]="tooltips.mode | translate"
            ></ix-select>

            <ix-input
              formControlName="maxconn"
              [label]="'Max Connections' | translate"
              [tooltip]="tooltips.maxconn | translate"
              type="number"
            ></ix-input>

            <ix-combobox
              formControlName="user"
              [label]="'User' | translate"
              [tooltip]="tooltips.user | translate"
              [provider]="userProvider"
            ></ix-combobox>

            <ix-combobox
              formControlName="group"
              [label]="'Group' | translate"
              [tooltip]="tooltips.group | translate"
              [provider]="groupProvider"
            ></ix-combobox>

            <ix-chips
              formControlName="hostsallow"
              [label]="'Hosts Allow' | translate"
              [tooltip]="tooltips.hostsallow | translate"
            ></ix-chips>

            <ix-chips
              formControlName="hostsdeny"
              [label]="'Hosts Deny' | translate"
              [tooltip]="tooltips.hostsdeny | translate"
            ></ix-chips>
          </ix-fieldset>
        </div>
      </div>

      <div class="form-actions">
        <button
          mat-button
          type="submit"
          color="primary"
          [disabled]="form.invalid || isLoading"
        >
          {{ 'Save' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
