<h1 matDialogTitle>{{ 'IPMI Identify' | translate }}</h1>
<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <ix-select
    formControlName="duration"
    [label]="'IPMI Flash Duration' | translate"
    [required]="true"
    [options]="durationOptions$"
  ></ix-select>

  <div class="form-actions">
    <button mat-button type="submit" color="primary" [disabled]="form.invalid">
      {{ 'OK' | translate }}
    </button>

    <button mat-button type="button" matDialogClose>
      {{ 'Close' | translate }}
    </button>
  </div>
</form>
