@import 'scss-imports/cssvars';

:host ::ng-deep ix-with-loading-state-error {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  padding: 16px;
  place-content: center center;
  text-align: center;
  width: 100%;
}

.card {
  height: 100%;

  ::ng-deep > ix-with-loading-state-loader {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 54px;
    padding: 16px 8px 8px 16px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  &.full {
    padding-bottom: 8px;
    padding-top: 8px;
  }

  &.empty {
    align-items: center;
    place-content: center center;
    text-align: center;

    ix-icon {
      font-size: 48px;
    }

    &.full {
      padding: 0 16px 48px;
    }
  }
}

ix-app-card-logo {
  align-items: center;
  aspect-ratio: 2;
  background: var(--bg1);
  display: inline-flex;
  flex: 1 1 30%;
  max-width: 30%;
  padding: 0;
  place-content: center center;
}

.app-header-row {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
  min-height: 112px;
}

.app-stats {
  display: grid;
  gap: 6px 8px;
  grid-template-columns: 50% 50%;
  height: 100%;
  max-width: calc(100% - 8px);

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: 25% 75%;
  }
}

.app-stats-row {
  display: flex;
  flex: 1;
  gap: 8px;

  h4 {
    font-size: 16px;
  }

  strong {
    font-size: 12px;
  }
}

.square {
  align-items: center;
  background: var(--bg1);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  order: 1;
  padding: 12px 0;
  text-align: center;

  @media (min-width: $breakpoint-sm) {
    & + & {
      order: 3;
    }
  }
}

.rectangle {
  align-items: center;
  background: var(--bg1);
  display: inline-flex;
  order: 2;

  @media (min-width: $breakpoint-sm) {
    place-content: center center;

    & + & {
      order: 4;
    }
  }
}
