@if (label() || tooltip()) {
  <ix-label
    [label]="label()"
    [tooltip]="tooltip()"
    [required]="required()"
    [ixTestOverride]="controlDirective.name || ''"
  ></ix-label>
}

<div class="input-container" [class.disabled]="isDisabled">
  <input
    #addressInput
    type="text"
    tnTestIdType="input"
    [required]="required()"
    [tnTestId]="controlDirective.name"
    [disabled]="isDisabled"
    [value]="address"
    [attr.aria-label]="label()"
    (input)="onAddressInput(addressInput)"
    (blur)="onTouched()"
  />
  <div class="slash">/</div>
  <tn-select
    class="select"
    testId="netmasks"
    [options]="netmaskOptions"
    [ngModel]="netmask"
    [ngModelOptions]="{ standalone: true }"
    (ngModelChange)="onNetmaskChange($event)"
  ></tn-select>
</div>

@if (hint()) {
  <p class="hint">
    {{ hint() }}
  </p>
}

@let control = controlDirective.control;
@if (control) {
  <ix-errors [control]="control" [label]="label()"></ix-errors>
}
