@import 'scss-imports/variables';

:host {
  display: block;

  ::ng-deep {
    [ix-table-head] {
      display: none !important;
    }

    [ix-table-body]::ng-deep {
      tr.row td {
        font-size: 12px;
      }
    }
  }

  .cards {
    display: grid;
    gap: 8px;
    grid-template-columns: 40% repeat(2, 1fr);

    @media #{$media-lt-lg} {
      grid-template-columns: 100%;
    }
  }
}

