:host {
  display: block;

  ::ng-deep {
    [ix-table-head] {
      display: none !important;
    }

    [ix-table-body]::ng-deep {
      .actions {
        display: flex;
        justify-content: flex-end;
        margin-right: -16px;
      }

      tr.row td {
        font-size: 12px;
      }
    }
  }

  .cards {
    display: grid;
    gap: 8px;
    grid-template-columns: 40% repeat(2, 1fr);
  }
}

