<button
  ixTest="tnc-show-status"
  mat-icon-button
  [matTooltip]="tooltip()"
  (click)="showStatus()"
>
  <span class="icon-wrapper">
    <tn-icon size="lg" name="tn-truenas-connect-logo"></tn-icon>
    @let currentBadge = badge();
    @if (currentBadge) {
      <ix-status-badge
        [icon]="currentBadge.icon ?? null"
        [label]="currentBadge.label ?? null"
        [background]="currentBadge.background"
        [spinning]="currentBadge.spinning ?? false"
      ></ix-status-badge>
    }
  </span>
</button>
