.wizard-action {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 20px 1px;
}

#goback_button,
#noconfirm_button {
  margin-right: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul.wizard-ul {
  list-style-type: none;
}

ul.wizard-ul li {
  padding-inline-start: 20px;
}

#entity-spinner { bottom: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 10;
}

:host mat-vertical-stepper {
  overflow: hidden;
}

::ng-deep .mat-vertical-stepper-content[style*='visibility: visible'] {
  overflow: visible !important;
}
