<!-- <ng-template [ngTemplateOutlet]="templateTop" [ngTemplateOutletContext]="this"></ng-template> -->
<mat-card>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">
    <mat-horizontal-stepper [linear]="conf?.isLinear" formArrayName="formArray">
      <div *ngFor="let step of conf.wizardConfig; let i = index">
        <mat-step formGroupName="{{i}}" [stepControl]="formArray?.get([i])">
          <ng-template matStepLabel>{{step.label | translate}}</ng-template>
          <ng-container *ngFor="let field of step.fieldConfig; let j = index">
            <div [ngClass]="field.class == 'inline' ? 'form-inline' : 'form-line'" id="{{j}}">
              <div id="dynamicField_{{field.name}}" dynamicField [config]="field" [group]="formArray?.get([i])" [fieldShow]="isShow(field.name) ? 'show' :'hide'">
              </div>
            </div>
          </ng-container>
          <div>
            <button mat-button matStepperPrevious *ngIf="i == 0 ? false : true" type="button">{{"BACK" | translate}}</button>
            <button mat-button matStepperNext type="button">{{"NEXT" | translate}}</button>
          </div>
        </mat-step>
      </div>
      <mat-step>
        <ng-template matStepLabel>{{"WIZARD_CONFIRM_TITLE" | translate}}</ng-template>
        <p> OS: {{ conf.summary.OS }} </p>
        <p> vcpus: {{ conf.summary.vcpus }} </p>
        <p> memory: {{ conf.summary.memory }} </p>
        <p> volsize: {{ conf.summary.volsize }} </p>
        <p> ISO: {{ conf.summary.iso_path }} </p>
        {{"WIZARD_CONFIRM_MESSAGE" | translate}}
        <div>
          <button mat-button matStepperPrevious type="button">{{"BACK" | translate}}</button>
          <button type="Submit" mat-button>{{"SUBMIT" | translate}}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>
