<!-- <ng-template [ngTemplateOutlet]="templateTop" [ngTemplateOutletContext]="this"></ng-template> -->
<mat-card>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)">
    <mat-horizontal-stepper [linear]="conf?.isLinear" formArrayName="formArray">
      <div *ngFor="let step of conf.wizardConfig; let i = index">
        <mat-step formGroupName="{{i}}" [stepControl]="formArray?.get([i])">
          <ng-template matStepLabel>{{step.label | translate}}</ng-template>
          <ng-container *ngFor="let field of step.fieldConfig; let j = index">
            <div [ngClass]="field.class == 'inline' ? 'form-inline' : 'form-line'" id="{{j}}">
              <div id="dynamicField_{{field.name}}" dynamicField [config]="field" [group]="formArray?.get([i])" [fieldShow]="isShow(field.name) ? 'show' :'hide'">
              </div>
            </div>
          </ng-container>
          <div>
            <button mat-raised-button matStepperPrevious *ngIf="i == 0 ? false : true" type="button">{{"Back" | translate}}</button>
            <button mat-raised-button matStepperNext type="button">{{"Next" | translate}}</button>
          </div>
        </mat-step>
      </div>
      <mat-step>
        <ng-template matStepLabel>{{"WIZARD_CONFIRM_TITLE" | translate}}</ng-template>
        <div *ngIf="conf.summary">
          <div> {{ conf.summary_title }}</div>
            <div *ngFor="let key of conf.objectKeys(conf.summary)">
                <div>{{key + ' : ' + conf.summary[key]}}</div>
            </div>
        </div>
        {{"WIZARD_CONFIRM_MESSAGE" | translate}}
        <div>
          <button mat-raised-button matStepperPrevious type="button">{{"Back" | translate}}</button>
          <button mat-raised-button type="Submit">{{"Submit" | translate}}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</mat-card>
