.wizard-action {
  padding: 20px 1px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#goback_button, #noconfirm_button {
  margin-right: 0px;
}

ul.wizard-ul {
  list-style-type: none;
}
ul.wizard-ul li{
  padding-inline-start: 20px;
}
#entity-spinner {
  position: absolute;
  top: 10px; left: 0; bottom: 0; right: 0;
  z-index: 10;
  margin: 0 auto;
}