 <div id="{{config.name}}" class="dynamic-field form-input" [formGroup]="group" [ngClass]="fieldShow" [class.has-tooltip]="config.tooltip" *ngIf="!config['isHidden']">
  <div class="top">
    <label>{{ config.placeholder | translate }}</label>
    <tooltip *ngIf="config.tooltip" [header]="config.placeholder" [message]="config.tooltip"></tooltip>
  </div>
  <div *ngIf="config.hideButton;else showButton">
      <mat-card-content>
          <input type="file" *ngIf="!config.multiple;else multipleFiles" #fileInput accept="{{config.acceptedFiles}}" (change)="upload(config.fileLocation)" [formControlName]="config.name">
          <ng-template #multipleFiles>
            <input type="file" #fileInput accept="{{config.acceptedFiles}}" (change)="upload(config.fileLocation)" [formControlName]="config.name" multiple>
          </ng-template>
      </mat-card-content>
      <mat-error *ngIf="config['hasErrors']">{{config['errors']}}</mat-error>
  </div>
  <ng-template #showButton>
      <mat-card-content>
          <input type="file" #fileInput accept="{{config.acceptedFiles}}" [formControlName]="config.name">
      </mat-card-content>
      <mat-card-actions class="buttons">
          <button mat-button type="button" color="primary" (click)="upload(config.fileLocation)">Upload</button>
      </mat-card-actions>
      <mat-error *ngIf="config['hasErrors']">{{config['errors']}}</mat-error>
  </ng-template>
</div>
