.bg-photo {
	background: url(assets/images/beastie-shark.svg);
	background-repeat: no-repeat;
  background-size: auto 63%;
  background-position: top right;
  min-width: 550px;
}

.copyright-txt {
  font-size: 11px;
  text-align: center;
}

.copyright-txt a:link {
  color: #396f9d;
}

@media (max-width: 1025px) {
  .bg-photo {
  	background-size: auto 50%;
	  min-width: 500px;
  }
}

@media (max-width: 769px) {
  .bg-photo {
  	background-size: auto 45%;
    padding-right: 15%;
    min-width: 400px;
  }
  #about-version {
    max-width: 240px;
    word-wrap: break-word;
  }

  .mat-icon.mat-primary {
  	display: none;
  }
}

@media (max-width: 550px) {
  .bg-photo {
  	background-size: auto 35%;
    padding-right: -20px;
    min-width: auto;
  }
}

@media (max-width: 450px) {
  #about-list {
    margin-top: 10px;
  }
  .bg-photo {
  	background-size: auto 25%;
  }
}

@media (max-width: 400px) {
  #about-list .mr-1, #about-list p {
    font-size: 80%;
  }
  .mat-dialog-actions, .mat-dialog actions .copyright-text, .mat-dialog-actions .mat-button {
    display: block !important;
    margin: 10px auto;
  }
}

.wrapper {
  min-height: 620px;
}