.bg-photo {
	background: url(/assets/images/beastie-shark.svg);
	background-repeat: no-repeat;
  background-size: auto 75%;
  background-position: top right;
  padding-right: 30%;
}

.copyright-txt {
  font-size: 11px;
  text-align: center;
}

.copyright-txt a:link {
  color: #396f9d;
}

@media (max-width: 1025px) {
  .bg-photo {
  	background-size: auto 50%;
	  padding-right: 20%;
	  min-width: auto;
  }
}

@media (max-width: 769px) {
  .bg-photo {
  	background-size: auto 45%;
	  padding-right: 15%;
  }
  #about-version {
    max-width: 240px;
    word-wrap: break-word;
  }

  .mat-icon.mat-primary {
  	display: none;
  }
}

@media (max-width: 550px) {
  .bg-photo {
  	background-size: auto 35%;
    padding-right: -20px;
  }
}

@media (max-width: 420px) {
  #about-list {
    margin-top: 10px;
  }
  .bg-photo {
  	background-size: auto 25%;
  }
}