.bg-photo {
	background: url(/assets/images/beastie-shark.svg);
	background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: top right;
  padding-right: 30%;
  min-width: 600px;
}

.copyright-txt {
  font-size: 11px;
  text-align: center;
}

.copyright-txt a:link {
  color: #396f9d;
}

@media (max-width: 1025px) {
  .bg-photo {
  	background-size: auto 50%;
	  padding-right: 20%;
	  min-width: auto;
  }
}

@media (max-width: 769px) {
  .bg-photo {
  	background-size: auto 40%;
	  padding-right: 15%;
  }

  .mat-icon.mat-primary {
  	display: none;
  }
}

@media (max-width: 550px) {
  .bg-photo {
  	background-size: auto 70px;
	  padding-right: 0px;
  }
}
