ix-tree-view {
  background: var(--bg2);
  color: var(--fg2);
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: fit-content;
}

::ng-deep {
  .ix-tree-node-toggle {
    height: 40px !important;
    width: 40px !important;
  }
}
