@import 'mixins/cards';

.card {
  @include details-card();
  margin: 0;
}

.notes {
  h4 {
    margin-bottom: 8px;
  }
}

.notes-list {
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 12px;
}

.gradient {
  background: linear-gradient(to bottom,
  rgba(0, 0, 0, 0),
  var(--bg2),);
  height: 25px;
  margin-top: -25px;
  position: relative;
}

.more-less {
  display: flex;
  justify-content: flex-end;
  padding-top: 6px;

  span {
    color: var(--primary);
    cursor: pointer;
    text-decoration: underline;
  }
}
