<ix-fieldset [title]="'Authentication' | translate" [formGroup]="form">
  <ix-input
    formControlName="host"
    [label]="'Host' | translate"
    [required]="true"
    [tooltip]="helptext.host_ftp.tooltip | translate"
  ></ix-input>

  <ix-input
    formControlName="port"
    type="number"
    [label]="'Port' | translate"
    [tooltip]="helptext.port_ftp.tooltip | translate"
  ></ix-input>

  <ix-input
    formControlName="user"
    [label]="'Username' | translate"
    [required]="true"
    [tooltip]="helptext.user_ftp.tooltip | translate"
  ></ix-input>

  <ix-input
    formControlName="pass"
    type="password"
    [label]="'Password' | translate"
    [tooltip]="helptext.pass_ftp.tooltip | translate"
  ></ix-input>
</ix-fieldset>
