fieldset {
  border: none;
  margin: 0;
}

.title-container {
  margin-bottom: 18px;
  margin-top: 9px;
}

legend {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 0;
}

.divider {
  margin: 16px 0 !important;
}
