@if ((isFailoverLicensed$ | async) && statusText) {
  <button
    mat-icon-button
    id="ha"
    class="topbar-button-right"
    [ixTest]="isDisabled ? 'ha-indicator-disabled' : 'ha-indicator-enabled'"
    [matTooltip]="statusText | translate"
    (click)="showHaPopover()"
  >
    @switch (true) {
      @case (isReconnecting) {
        <tn-icon size="lg" name="tn-ha-reconnecting"></tn-icon>
      }
      @case (isDisabled) {
        <tn-icon size="lg" name="tn-ha-disabled"></tn-icon>
      }
      @default {
        <tn-icon size="lg" name="tn-ha-enabled"></tn-icon>
      }
    }
  </button>
}
