<ng-container [formGroup]="form">
  <ix-input
    formControlName="url"
    [label]="'Webhook URL' | translate"
    [required]="true"
    [tooltip]="helptext.mattermost.urlTooltip | translate"
    [parse]="formatter.stringAsUrlParsing"
  ></ix-input>

  <ix-input
    formControlName="username"
    [label]="'Username' | translate"
    [required]="true"
  ></ix-input>

  <ix-input
    formControlName="channel"
    [label]="'Channel' | translate"
    [tooltip]="helptext.mattermost.channelTooltip | translate"
  ></ix-input>

  <ix-input
    formControlName="icon_url"
    [label]="'Icon URL' | translate"
    [tooltip]="helptext.mattermost.iconUrlTooltip | translate"
    [parse]="formatter.stringAsUrlParsing"
  ></ix-input>
</ng-container>
