<tn-dialog-shell testId="inspect-vdevs" [title]="'Inspect VDEVs' | translate">
<div class="inner-container">
  <div class="left-pane">
    <mat-nav-list>
      @for (type of presentTypes; track type) {
        <mat-list-item
          class="vdev-type"
          [class.selected]="type === selectedType"
          (click)="selectType(type)"
        >{{ getTypeLabel(type) | translate }}</mat-list-item>
      }
    </mat-nav-list>
  </div>
  <mat-divider class="divider" [vertical]="true"></mat-divider>
  <div class="right-pane">
    <div class="header vdevs-header">
      <h3>{{ '{type} VDEVs' | translate: { type: (getTypeLabel(selectedType) | translate) } }}</h3>
    </div>

    <mat-divider class="header-divider"></mat-divider>
    <div class="vdevs-container">
      @for (vdev of vdevs; track vdev) {
        <ix-manual-selection-vdev
          [vdev]="vdev"
          [layout]="layout"
          [enclosures]="data.enclosures"
        ></ix-manual-selection-vdev>
      }
    </div>
  </div>
</div>
</tn-dialog-shell>
