<h1 mat-dialog-title>
    <mat-icon *ngIf="conf.icon">{{conf.icon}}</mat-icon>
    <span *ngIf="conf.title">{{conf.title}}</span>
</h1>
<div mat-dialog-content>
    <div class="content">
        <span *ngIf="conf.is_html; else normalContent" [innerHtml]="conf.message | translate"></span>
        <ng-template #normalContent>
            <span>{{conf.message}}</span>
        </ng-template>
    </div>
    <mat-checkbox *ngIf="conf.confirmCheckbox" (change)="toggleSubmit($event)">{{conf.confirmCheckboxMsg || 'CONFIRM'}}</mat-checkbox>
</div>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button *ngIf="!conf.hideCancel" mat-button (click)="dialogRef.close(false)">{{conf.cancelBtnMsg || 'CANCEL'}}</button>
    <button mat-button [disabled]="isDisabled()" (click)="dialogRef.close(true)">{{conf.confirmBtnMsg || 'CLOSE'}}</button>
</div>