<mat-card class="card">
  <mat-card-content>
    <mat-progress-bar
      *ngIf="isFormLoading"
      mode="indeterminate"
    ></mat-progress-bar>

    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <div class="columns">
        <ix-fieldset [title]="'Path' | translate">
          <ix-explorer
            formControlName="directory"
            [label]="'Directory' | translate"
            [tooltip]="tooltips.directory"
            [nodeProvider]="treeNodeProvider"
          ></ix-explorer>
        </ix-fieldset>

        <ix-fieldset [title]="'Connection' | translate">
          <ix-select
            formControlName="host"
            [label]="'Host' | translate"
            [tooltip]="tooltips.host"
            [options]="hosts$"
          ></ix-select>

          <ix-input
            formControlName="port"
            [label]="'Port' | translate"
            [tooltip]="tooltips.port"
            type="number"
          ></ix-input>

          <ix-combobox
            formControlName="username"
            [label]="'Username' | translate"
            [tooltip]="tooltips.username"
            [provider]="userProvider"
          ></ix-combobox>
        </ix-fieldset>
      </div>
      <div class="columns">
        <ix-fieldset [title]="'Access' | translate">
          <ix-permissions
            formControlName="umask"
            [label]="'File Permissions' | translate"
            [tooltip]="tooltips.umask"
            [hideOthersPermissions]="true"
          ></ix-permissions>

          <ix-checkbox
            formControlName="newfiles"
            [label]="'Allow New Files' | translate"
            [tooltip]="tooltips.newfiles"
          ></ix-checkbox>
        </ix-fieldset>

        <ix-fieldset [title]="'Other Options' | translate">
          <ix-textarea
            formControlName="options"
            [label]="'Auxiliary Parameters' | translate"
            [tooltip]="tooltips.options"
          ></ix-textarea>
        </ix-fieldset>
      </div>

      <div class="form-actions">
        <button
          mat-button
          type="submit"
          color="primary"
          [disabled]="form.invalid || isFormLoading"
        >
          {{ 'Save' | translate }}
        </button>

        <button mat-button type="button" [routerLink]="['/services']">
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
