.widget{
  width:600px;
  height:400px;
}

.widget mat-card-content{
  width: 100%;
}

.widget mat-toolbar-row{
  position:absolute;
  height:48px;
  width:calc(100% - 16px);
  z-index:2;
  background:unset;
  padding:0 8px;
  left:0;
  text-align:left;

  font-size: 1.5rem;
  line-height: 180%;
}

.widget mat-toolbar-row.view-overview .primary-nav{
  color:#efefef;
}

.view-overview .mat-card-title-text{
  margin-left:calc(40% + 16px) !important;
}

span.passive{
  font-size:90%;
}

.primary-nav .card-title-text{
  font-size:1.5rem;
  font-weight: 500;
  display:inline-block;
  vertical-align:middle;
  position: relative;
  top: 2px;
}

.carousel{
  position:absolute;
  width:100%;
  height:100%;
}

.slide{
  display:inline;
  width:100%;
  height:100%;
}

.slide .hidden{
  display:none;
}

.slide .left,
.slide .right{
  width:50%;
  height:100%;
  display:inline-block;
  padding:32px 0;
}

.slide.overview .right > div{
  width:100%;
}

.slide.overview .right{
  padding:0;
}

.slide.overview .left{
  background-color:var(--primary);
  color:#efefef;
  position:relative;
  padding:0;
}

.slide.overview .left .overlay{
  position:absolute;
  width:100%;
  height:100%;
  padding:48px 0;
  text-shadow:0 0px 48px #000;
}

.data-container{
  position: absolute;
  top: 0;
  height: 100%;
}

.product-image.truenas img,
.product-image.ix-logo img {
  width:80%;
}

.product-image img{
  width:60%;
}

.slide .right{
  text-align:left;
  border-left:solid 1px rgba(0,0,0,0.1);
}
 
.slide .right li{
  font-size: 115%;
  padding: 6px;
  margin-left: 8px;
}

.nic-name{
  font-size:300%;
}

.link-state .icon-wrapper{
  display: inline-block;
  font-size: 175%;
  top: 3px;
  position: relative;
}

.nic-name .icon-wrapper{
  display: inline;
  font-size: 75%;
}

.nic-name.up .icon-wrapper,
.link-state.up .icon-wrapper{
  color: var(--green);
}

.nic-name.down .icon-wrapper,
.link-state.down .icon-wrapper{
  color: var(--red);
}

.controls{
  position:absolute;
  top:0;
  right:16px;
  color: var(--fg2);
}

.controls button{
  display:inline-block;
}

.carousel-nav{
  position:absolute;
  bottom:0;
  width:100%;
  height:48px;
  padding:6px;
  border-top:solid 1px var(--bg1);
  background:var(--bg2);
  text-align:left;
}

.carousel-nav .btn{
  width:12px;
  height:12px;
  border-radius:50%;
  display:inline-block;
  margin:0 4px;
  background-color:var(--fg1);
  opacity:0.5;
  cursor:pointer;
}

.carousel-nav .back-arrow.mat-icon{
  margin-top: -3px;
}

.carousel-nav .btn.active{
  opacity:1;
}

.nic-traffic{
}

.stat{
}

.slide{
  overflow:auto;
}

.slide .mat-list-item.clickable{
  cursor:pointer;
}

.slide .mat-icon.next-slide{
  position:absolute;
  right:0;
}

.mat-list-base .mat-list-item{
  border-bottom:solid 1px rgba(0,0,0,0.1);
}

.mat-list-base {
}

.list-subheader{
  margin-top:48px;
  text-transform:capitalize;
  font-weight:700;
  padding:8px 8px 0 16px;
  text-align:left;
  font-size: 90%;
  color: var(--fg1);
}

.platform-logo-wrapper{
  padding-top:12px;
}

.product-image.truenas{
  padding-bottom:0;
}

.product-image.ix-logo,
.freenas .generic{
  padding-bottom:10%;
}

.freenas .mat-icon.generic{
  width:50%;
  height:auto;
}

img.platform-logo{
  width: 70%;
}

.product-image img.certified-badge{
  position: absolute;
  left: 54%;
  bottom: 30%;
  width: auto !important;
  height: 16%;
  border-radius:5px;
}

.content-left{
  position:relative;
}

.ha-node-status{
  font-weight:500;
}

.left.passive .product-image img {
  opacity: 0.5;
}

/* NARROW SCREENS */
.xs.widget{
  width: 100%;
  height: calc(100vh - 96px);
  position: absolute;
}

.xs.widget .overview .right .list-subheader{
  margin-top: 0;
}

.xs.widget .left,
.xs.widget .right{
  width:100%;
}

#update-in-progress {
  font-weight: 500;
  margin-bottom: 40px;
}

.xs.widget .data-container{
  position:relative;
}

.xs.widget .product-image.truenas img,
.xs.widget .product-image.ix-logo img {
  width:auto;
  height:28%;
  margin: 21% 0 8px;
}

.xs.widget img.platform-logo{
    width: auto;
    height: 48px;
}

.xs.widget .view-overview .mat-card-title-text {
  color: var(--primary-txt);
  margin-left: unset !important;
}

.xs.widget .ha-node-status{
  font-size:125%;
}

.xs.widget .slide.overview {
    overflow-x: hidden;
}

.xs.widget .mat-card {
    border-radius: 0;
}

.xs.widget .mobile-update-action {
  padding:32px 0;
  text-align:center;
}

.xs.widget img#Z20{
  margin: 14% 0 18px;
}

/* FIX Generic hardware icon */
.xs.widget.generic-hardware .platform-logo-wrapper{
  display:none;
}

.xs.widget.generic-hardware .product-image.freenas{
  margin-top:50%;
}
.xs.widget.generic-hardware .product-image.freenas .certified-badge{
  bottom:-40%;
  height:25%;
}

.xs.widget .left {
  min-height:275px;
}

.primary-nav.mat-card-title-text{
  position:absolute;
  top:4px;
  left:16px;
  z-index:2;
}


