<div class="widget widget-{{widgetSize}}" ngClass.xs="double-height xs">
  <div class="card-container front">
    <mat-card class="front" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch">
      <mat-card-content fxLayout="column" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-between center" fxFlex="100">
        <div fxFlex="100" fxFlex.gt-xs="40" class="card-bg-wrapper">
          <div class="card-bg" [ngStyle]="{'background-image': 'url(assets/images/' + cardBg + ')'}" *ngIf="cardBg !== 'logo.svg'"></div>
          <div class="logo-bg" id="widget-sysinfo-logo-bg"  *ngIf="cardBg == 'logo.svg'"><img class="os-logo" src="assets/images/logo.svg"></div>
          <!--<div class="logo-bg" *ngIf="cardBg == 'logo.svg'" animate [colorLoop]="themeAccentColors"><img class="os-logo" src="assets/images/logo.svg"></div>-->
          <!--<div class="logo-bg" *ngIf="cardBg == 'logo.svg'"><img class="os-logo" src="assets/images/logo.svg"></div>-->
        </div>
        <div fxFlex="100" fxFlex.gt-xs="60">
        <div  *ngIf="data" class="data-container">
          <div *ngIf="!data.system_product"><h1>FreeNAS</h1></div>
          <div *ngIf="data.system_product && manufacturer == 'ixsystems' "><h2>{{data.system_product}}</h2></div>
          <div  *ngIf="data.system_serial && manufacturer == 'ixsystems' ">
            <div class="label bold"><strong>Serial Number:</strong> </div><p class="value">{{data.system_serial}}</p>
          </div>
          <div  *ngIf="data.license"><span class="label bold"><strong>License:</strong> </span>  <p class="value">{{data.license}}</p></div>
          <div class="data-row"><span class="label bold"><strong>OS Version:</strong> </span>  <p class="value">{{data.version}}</p></div>
          <div class="data-row"><span class="label bold"><strong>Processor:</strong> </span>  <p class="value">{{data.model}} ({{data.cores}} cores)</p></div>
          <div class="data-row"><span class="label bold"><strong>Memory:</strong> </span>  <p class="value">{{memory}}</p></div>
          <div class="data-row">
            <div class="data-inline"><span class="label bold"><strong>HostName:</strong> </span>  <p class="value">{{data.hostname}}</p></div>
            <div class="data-inline"><span class="label bold"><strong>IP Address:</strong> </span>  <p class="value">{{connectionIp}}</p></div>
          </div>
          <div class="data-row"><span class="label bold"><strong>Uptime:</strong> </span>  <p class="value">{{data.uptime}}</p></div>
          <div class="data-row">
            <button class="update-btn" mat-raised-button color="{{updateBtnStatus}}" (click)="router.navigate(['system','update'])">{{updateBtnLabel}}</button>
          </div>
          </div>
        </div>
      </mat-card-content>
      <!--<div class="widget-footer"><button md-raised-button color="primary" (click)="toggleConfig()">Flip</button></div>-->
    </mat-card>
    <mat-card class="back">
      <mat-card-content>
        <h3>Form goes here</h3>
      </mat-card-content>
      <div class="widget-footer"><button mat-raised-button color="primary" (click)="toggleConfig()">Flip</button></div>
    </mat-card>
  </div>
</div>
