<!-- 
  This component is the parent for all the views on the page.
  It's role is management of data and creating/destroying
  views. 
-->
<mat-card class="card-filter">
  <mat-card-header>
    <!--
      This is the filter bar which shares an mat-card 
      with the table view
    -->
    <div class="filter-field">
      <mat-icon role="img">search</mat-icon>
      <div class="card-filter-field">
        <mat-input-container floatPlaceholder="Filter VMs">
          <input matInput #filter placeholder="Filter VM List" [ngModel]="searchTerm" (ngModelChange)="displayFilter('name',$event)">
        </mat-input-container>
      </div>
    </div>
    <div class="view-controls" >
      <mat-button-toggle-group #viewMode="matButtonToggleGroup" >
        <mat-button-toggle value="cards">Cards</mat-button-toggle>
        <mat-button-toggle value="slim" >Slim</mat-button-toggle>
        <mat-button-toggle value="table" >Table</mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-mini-fab class="add-vm" (click)="addVM()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-mini-fab class="add-vm" (click)="addVMWizard()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
    <!-- Inject table view here -->
    <div *ngIf="viewMode.value == 'table'"
                          fxLayout="row"
                          fxLayoutWrap
                          fxLayoutAlign="space-between start"
                          fxLayoutGap="5%">

      <!-- Summary and forms for table view go here -->
      <div class="dynamic-content" fxFlex="100">
        <!-- Template for back face of card -->
        <vm-card-edit [ngClass]="vm-card-edit" 
                                   *ngIf="focusedVM && cards[focusedVM].template == 'edit' && cards[focusedVM].isFlipped" 
                                   [isNew]="cards[focusedVM].isNew"
                                   [machineId]="cards[focusedVM].id"  
                                   (cancel)="cancel(focusedVM)"
                                   (saved)="toggleForm($event.flipState,cards[focusedVM],'none');refreshVM(focusedVM,$event.id)">
        </vm-card-edit>
        <vm-summary [virtualMachines]="cache" *ngIf="!focusedVM || !cards[focusedVM].isFlipped"></vm-summary>
      </div>

      <!-- Table data -->
      <vm-table [data]="cards" fxFlex="100" fxLayout="column"
                                            (edit)="focusVM($event);toggleForm(true,cards[focusedVM],'edit');"
                                            (delete)="deleteVM($event)"
                                            (power)="toggleVmState($event)"
                                            ></vm-table>

    </div>
  </mat-card-content>
</mat-card>



<div class="entity-cards-container" *ngIf="viewMode.value == 'cards' || viewMode.value == 'slim'">
  <div *ngFor="let card of cards; let i=index" class="entity-card-wrapper" 
                                               [ngClass]="{'slim':viewMode.value == 'slim'}">
    <!-- 
      This is where both the regular and slim cards are created. The difference between
      slim and regular card views are generated purely via css there is no
      ng-template for slim cards.

      Create ng-templates that you inject into the entity-card component. 
      Keep in mind, entity-card is injecting your ng-template into an <mat-card> 
      so you can use any of the usual mat-card internal selectors like <md-header>, 
      <md-content> etc.
    -->
    <ng-template #cardfront let-name="name">
      <!-- Template for front face of card -->
      <div *ngIf="viewMode.value == 'cards'" class="vm-bg"></div>
      <div class="side-content section">

        <button mat-fab
           *ngIf="viewMode.value == 'slim'"
           class="vm-power-btn"
           [ngClass]="{'vm-power-btn-off':cards[i].state == 'stopped','vm-power-btn-on':cards[i].state == 'running'}" 
           (click)="toggleVmState(i)"
           matTooltip="{{ powerBtnLabel(cards[i].state) }}" matTooltipPosition="above">
          <mat-icon>power_settings_new</mat-icon>
        </button>


        <div class="side-content-header">
          <button class="card-close" (click)="deleteVM(i)"><mat-icon>close</mat-icon></button>
          <button mat-fab 
                  *ngIf="viewMode.value == 'cards'"
                  class="vm-power-btn"
                  [ngClass]="{'vm-power-btn-off':cards[i].state == 'stopped','vm-power-btn-on':cards[i].state == 'running'}" 
                  (click)="toggleVmState(i)"
                  matTooltip="{{ powerBtnLabel(cards[i].state) }}" matTooltipPosition="above">
            <mat-icon>power_settings_new</mat-icon>
          </button>

          <h3>{{ cards[i].name }}</h3>
          <mat-chip  class="vm-state">{{ cards[i].state }}</mat-chip>
        </div>

        <div class="stats-info">
          <table><tbody>
              <tr><td class="stat-label">Description:</td><td class="stat"> {{ cards[i].description }}</td></tr>
              <tr><td class="stat-label">Autostart:</td><td class="stat"> {{ cards[i].autostart }}</td></tr>
              <tr><td class="stat-label">Virtual CPUs:</td><td class="stat"> {{ cards[i].vcpus }}</td></tr>
              <tr><td class="stat-label">Memory:</td><td class="stat">{{ cards[i].memory }}</td></tr>
              <tr><td class="stat-label">BootLoader:</td><td class="stat">{{ cards[i].bootloader }}</td></tr>
            </tbody></table>
        </div>


        <div class="vm-controls">
          <button mat-raised-button color="primary" (click)="vnc(i)">VNC</button>
          <button mat-raised-button color="primary" (click)="goToDevices(i)">Devices</button>
          <button mat-raised-button color="primary" (click)="toggleForm(true,cards[i],'edit');">Edit</button>
        </div>
      </div>
    </ng-template>

    <ng-template #cardback let-name="name" >
      <!-- Template for back face of card -->
      <vm-card-edit 
        *ngIf="cards[i].template == 'edit'" 
        [isNew]="cards[i].isNew"
        [machineId]="cards[i].id"  
        (cancel)="cancel(i)"
        (saved)="toggleForm($event.flipState,cards[i],'none');refreshVM(i,$event.id)">
      </vm-card-edit>
    </ng-template>

    <!-- Create your cards here -->
    <entity-card [ngStyle]="cardStyles()" [conf]="cards[i]" [front]="cardfront" [back]="cardback" [lazyLoaded]="cards[i].lazyLoaded"></entity-card>

  </div>

</div>
