/* Search Field */

mat-card.card-filter.mat-card{
  width: 85%;
  margin: 24px auto 0;
  overflow:visible;
  padding:0;
}

/*
mat-card.card-filter.mat-card .mat-card-content{
  padding:8px 0;
}
*/

mat-card.card-filter.mat-card .mat-card-header div.filter-field{
  /*display:inline-block;*/
  margin-bottom: 16px;
}


mat-card.card-filter .filter-field{
  width:70%;
  margin-right:5%;
  margin-top:12px;
}

mat-card.card-filter .filter-field mat-icon{
  width:2%;
  position:absolute;
  top:24px;
}

mat-card.card-filter .view-controls{
  width:22%;
  position:relative;
/*  text-align:right;*/
  min-width: 274px;
  margin-right: 16px;
  margin-top:10px;
}

.vm-fab-speed-dial {
  right: 0px;
  top: 0px;
}

mat-card.card-filter .view-controls .mat-button-toggle-group{
  top:10px;
  position:relative;
  margin:2px 16px;
}

mat-card.card-filter .view-controls .add-vm{
  position: relative;
  top: 10px;  
}

.card-filter mat-input-container.mat-input-container{
 width:97%;
 padding-left:32px;
}

/* table view */
.dynamic-content{
  position:relative;
  background-color:rgba(0,0,0,0.03);
  margin:0 0 16px !important;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  border-top: solid 1px rgba(0,0,0,0.1);
  min-height:400px;
}

/* cards */
.entity-cards-container .entity-card-wrapper{
  display:inline-flex;
  padding:0 32px;
  text-align:left;
}

.entity-cards-container{
  text-align:center;
}

:host ::ng-deep .fieldset-container.fieldset-display-default{
  margin:0;
}

vm-cards mat-card.front {
  padding:0 !important;
}

.vm-bg{
  width: 40%;
  text-align: center;
  background-color: #111;
  background-image:url('/assets/images/vm-card-bg.jpg');
  background-size:cover;
  background-position:50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #efefef;
}

.side-content-header{
  position:relative;
  padding:16px;
}
.side-content button.vm-power-btn {
 box-shadow:none; 
}

.side-content{
  margin-left:40%;
  text-align:center;
}

.side-content ul.stats{
  list-style-type:none;
}

.side-content .vm-controls{
  border-top:solid 1px rgba(0,0,0,0.1);
  position:absolute;
  padding:16px 0;
  width:60%;
  text-align:center;
  bottom:0;
}

.side-content .stats-info table{
  width:80%;
  margin:40px auto 0;
}

.side-content .stats-info td.stat-label,
.side-content .stats-info td.stat{
  text-align:left;
}

.vm-power-btn.mat-fab,
.vm-power-btn.mat-fab{
  box-shadow:0px 3px 3px rgba(0,0,0,0.5)!important;
  top: 28px;
  left: -28px;
  position: absolute;
}

mat-chip.vm-state,
mat-chip.vm-state-on,
mat-chip.vm-state-off{
  padding:4px 10px;
}

mat-chip.vm-state{  
 background-color:#666 !important;
 color:#fff !important;
}

mat-chip.vm-state-on,
.vm-power-btn-on.mat-fab{
 background-color:#41bd45 !important;
 color:#fff !important;
}

.vm-state-off,
.vm-power-btn-off.mat-fab{
  background-color:#900 !important;
  color: #fff !important;
}

.card-close{
    background: none;
    border: none;
    position: fixed;
    top: 5px;
    right:0px;
    color: rgba(0,0,0,0.35);
}

.card-close mat-icon.mat-icon.material-icons{
  font-size:18px;
  cursor:pointer;
}
.indent{
  margin-left: 10px;
}

/* Slim Cards */

/*.slim .flip{
  width:288px !important;
  background-color:red;
}*/

.slim .side-content{
  margin:0;
}

.slim .vm-controls{
  width:100%;
}

.slim .vm-power-btn{  
  top: initial;
  bottom: 90px;
  left: 116px;
  position: fixed;
}
