<md-card class="card-filter">
	<md-card-content>
		<!--<div class="filter-icon"><h3>Virtual Machines</h3></div>-->

		<div class="filter-field">
			<md-icon role="img">search</md-icon>
			<div class="card-filter-field">
				<md-input-container floatPlaceholder="Filter VMs">
					<input mdInput #filter placeholder="Filter VM List" [ngModel]="searchTerm" (ngModelChange)="displayFilter('name',$event)">
				</md-input-container>
			</div>
		</div>
		<div class="view-controls" >
			<md-button-toggle-group #viewMode="mdButtonToggleGroup" >
				<md-button-toggle value="cards">Cards</md-button-toggle>
				<!--<md-button-toggle value="Slim" disabled>Slim</md-button-toggle>-->
				<md-button-toggle value="table" >Table</md-button-toggle>
			</md-button-toggle-group>
			<button md-mini-fab class="add-vm" (click)="addVM()">
				<md-icon>add</md-icon>
			</button>
		</div>

		<div *ngIf="viewMode.value == 'table'">
			<vm-table [data]="cards"></vm-table>
		</div>
	</md-card-content>
</md-card>

<div class="entity-cards-container" *ngIf="viewMode.value == 'cards' ">
	<div *ngFor="let card of cards; let i=index" class="entity-card-wrapper">
		<!-- 
		Create ng-templates that you inject into the entity-card component. 
		Keep in mind, entity-card is injecting your ng-template into an <md-card> 
		so you can use almost any of the usual components like <md-header>, 
		<md-content> etc. except for md-footer. The entity-card will provide 
		the controls there.
		-->
		<ng-template #cardfront let-name="name">
			<div class="sidebar section">

				<div class="name-info">
					<button 
				 md-fab 
				 [ngClass]="{'vm-power-btn-off':cards[i].state == 'stopped','vm-power-btn-on':cards[i].state == 'running'}" 
				 (click)="toggleVmState(i)"
				 mdTooltip="{{ powerBtnLabel }}" mdTooltipPosition="above"
																		 >
																		 <md-icon>power_settings_new</md-icon>
						<!--<span [mdTooltip]="pwrBtnLabel" mdTooltipPosition="above"></span>-->
					</button>

				</div>

				<!--<div class="api-info">
			{{ cards[i].info }}
			</div>-->
			</div>
			<div class="side-content section">

				<div class="side-content-header">
					<button class="card-close" (click)="deleteVM(i)"><md-icon>close</md-icon></button>
					<h3>{{ cards[i].name }}</h3>
					<md-chip  class="vm-state">{{ cards[i].state }}</md-chip>
				</div>

				<div class="stats-info">
					<table><tbody>
							<tr><td class="stat-label">Description:</td><td class="stat"> {{ cards[i].description }}</td></tr>
							<tr><td class="stat-label">Autostart:</td><td class="stat"> {{ cards[i].autostart }}</td></tr>
							<tr><td class="stat-label">Virtual CPUs:</td><td class="stat"> {{ cards[i].vcpus }}</td></tr>
							<tr><td class="stat-label">Memory:</td><td class="stat">{{ cards[i].memory }}</td></tr>
							<tr><td class="stat-label">BootLoader:</td><td class="stat">{{ cards[i].bootloader }}</td></tr>
						</tbody></table>
				</div>

				<div class="vm-controls">
					<button md-raised-button color="primary" (click)="vnc(i)">VNC</button>
					<button md-raised-button color="primary" (click)="goToDevices(i)">Devices</button>
					<button md-raised-button color="primary" (click)="toggleForm(true,cards[i],'edit');">Edit</button>
				</div>
			</div>
		</ng-template>

		<ng-template #cardback let-name="name" >
			<vm-card-edit 
												 *ngIf="cards[i].template == 'edit'" 
												 [isNew]="cards[i].isNew"
												 [machineId]="cards[i].id"  
												 (cancel)="cancel(i)"
												 (saved)="toggleForm($event.flipState,cards[i],'none');refreshVM(i,$event.id)"
												 ></vm-card-edit>
		</ng-template>

			<entity-card  [conf]="cards[i]" [front]="cardfront" [back]="cardback" [lazyLoaded]="cards[i].lazyLoaded"></entity-card>
	</div>

</div>
