@import 'mixins/cards';

.card {
  @include details-card();
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.results-by-category {
  margin-bottom: 4px;

  .label {
    text-transform: capitalize;
  }
}
