:host {
  color: var(--fg1);
  display: block;
  margin-bottom: 12px;
  margin-top: 18px;
  padding: 8px 0;
}

.input-container {
  background: var(--bg1);
  border: solid 1.5px var(--lines);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  position: relative;

  input {
    min-height: 26px;
    padding: 3px 8px;
  }

  &:focus-within {
    border-color: var(--primary);
  }

  &.disabled {
    opacity: var(--disabled-opacity);

    input {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}

.tree-container {
  background: var(--bg1);
  border-bottom: solid 1px var(--lines);
  border-left: solid 1px var(--lines);
  border-right: solid 1px var(--lines);
  font-size: 12px;
  padding-top: 2px;

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;

    ::ng-deep > * {
      opacity: 0.6;
    }
  }

  ::ng-deep {
    tree-viewport {
      max-height: 300px;
      overflow: auto;
    }

    .tree-node {
      word-break: break-all;
    }

    .toggle-children {
      filter: invert(50%);
      left: 4px;
      top: 5px;
    }
  }

  .node-container {
    display: flex;

    &:focus-visible {
      outline: 1.5px solid var(--primary);
    }
  }
}

.loading-error {
  font-size: 12px;
  margin-top: 2px;
}

.selected {
  color: var(--primary);
}

.create-dataset-container {
  background: var(--alt-bg1);
  display: flex;
  justify-content: flex-end;
}

.create-dataset-btn {
  background: inherit !important;
  font-size: 12px;
}

button.create-dataset-btn:hover {
  background: inherit !important;
}
