@import '~@angular/material/theming';
@include mat-core();

$modern-primary: mat-palette($mat-indigo);
$modern-accent:  mat-palette($mat-light-blue, A200, A100, A400);

$modern-warn:    mat-palette($mat-red);

$modern-theme: mat-light-theme($modern-primary, $modern-accent, $modern-warn);

@include angular-material-theme($modern-theme);
