<tn-dialog-shell testId="manage-hosts" [title]="'Hosts' | translate">


  <ix-table
    class="table"
    [ix-table-empty]="!(dataProvider.currentPageCount$ | async)"
    [emptyConfig]="emptyService.defaultEmptyConfig(dataProvider.emptyType$ | async)"
  >
    <thead
      ix-table-head
      [columns]="columns"
      [dataProvider]="dataProvider"
    ></thead>
    <tbody
      ix-table-body
      [columns]="columns"
      [dataProvider]="dataProvider"
      [isLoading]="!!(dataProvider.isLoading$ | async)"
    ></tbody>
  </ix-table>

  <tn-button
    tnDialogAction
    variant="outline"
    [testId]="['add-new']"
    [label]="'Add New' | translate"
    (onClick)="onAdd()"
  ></tn-button>
</tn-dialog-shell>
