<tn-dialog-shell testId="dialog" [title]="'Hosts' | translate">
  @let emptyConf = emptyService.defaultEmptyConfig(dataProvider.emptyType$ | async);
  <tn-table
    class="table"
    [dataSource]="(dataProvider.currentPage$ | async) ?? []"
    [displayedColumns]="displayedColumns"
    [trackBy]="trackByHostId"
    [loading]="!!(dataProvider.isLoading$ | async)"
    [emptyMessage]="emptyConf?.title ? (emptyConf.title | translate) : ''"
    [emptyIcon]="emptyConf?.icon ?? ''"
  >
    <ng-container [tnColumnDef]="'hostnqn'">
      <ng-template tnHeaderCellDef>{{ 'NQN' | translate }}</ng-template>
      <ng-template let-row tnCellDef>{{ row.hostnqn }}</ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'description'">
      <ng-template tnHeaderCellDef>{{ 'Description' | translate }}</ng-template>
      <ng-template let-row tnCellDef>{{ row.description }}</ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'dhchap_key'">
      <ng-template tnHeaderCellDef>{{ 'Has Host Authentication' | translate }}</ng-template>
      <ng-template let-row tnCellDef>{{ row.dhchap_key ? ('Yes' | translate) : ('No' | translate) }}</ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'usedInSubsystems'">
      <ng-template tnHeaderCellDef>{{ 'Used In Subsystems' | translate }}</ng-template>
      <ng-template let-row tnCellDef>{{ row.usedInSubsystems }}</ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'actions'" [width]="'120px'">
      <ng-template tnHeaderCellDef></ng-template>
      <ng-template let-row tnCellDef>
        <ix-table-actions-cell
          mode="inline"
          [actions]="actions"
          [row]="row"
          [uniqueRowTag]="'host-' + row.hostnqn"
          [ariaLabel]="row.id + ' ' + ('Host' | translate)"
        ></ix-table-actions-cell>
      </ng-template>
    </ng-container>
  </tn-table>

  <tn-button
    tnDialogAction
    variant="outline"
    [testId]="['add-new']"
    [label]="'Add New' | translate"
    (onClick)="onAdd()"
  ></tn-button>
</tn-dialog-shell>
