tn-form-field {
  display: block;
  margin-bottom: 2rem;
}

.entry-row {
  column-gap: 10px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;

  > * {
    flex: 1;
  }

  tn-form-field {
    margin-bottom: 0;
  }
}
