:host {
  color: var(--fg1);
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  margin-bottom: 19px;
  margin-top: 12px;

  mat-checkbox {
    margin-left: 0;
  }

  ::ng-deep tooltip {
    display: inline-flex;
    margin: 0 0 0 8px;

    .tooltip {
      display: inline-flex;
    }
  }
}
