:host {
  display: block;

  .mat-divider {
    left: 0;
    position: absolute;
    width: 100%;
  }

  .details {
    margin: 0;
    padding: 16px 0;

    dt {
      display: inline-block;
      font-weight: bold;
      margin-right: 8px;
    }

    dd {
      display: inline-block;
      margin: 0;
    }
  }

  .detail-label {
    margin-right: 8px;
  }

  .actions {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px 0;

    ::ng-deep {
      .mat-mdc-button .ix-icon {
        margin-right: 8px;
      }
    }
  }
}

.clickable {
  color: var(--primary);
  cursor: pointer;
}
