.full-width {
  color: var(--fg1);
  width: 100%;
}

.container {
  padding: 8px;
}

.tooltip {
  margin-left: 8px;
}

.input-container {
  background: var(--bg1);
  border: 2px solid var(--primary);
  border-radius: 2px;
  font-size: 12px;
  padding: 6px;
  position: relative;

  &:not(:focus-within) {
    border: solid 1px var(--lines);
    padding: 7.5px;
  }
}

.label-container {
  margin-bottom: 5px;
  margin-left: 1px;
}

.label {
  font-size: x-small;
}
