<h1 matDialogTitle>{{ 'Upload Config' | translate }}</h1>
<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <div [innerHtml]="helptext.upload_config_form.message | translate"></div>

  <ix-file-input
    formControlName="config"
    [label]="'Select Configuration File' | translate"
  ></ix-file-input>

  <div class="form-actions">
    <button mat-button type="submit" color="primary" [disabled]="form.invalid">
      {{ 'Upload' | translate }}
    </button>
    <button mat-button type="button" [matDialogClose]="false">
      {{ 'Cancel' | translate }}
    </button>
  </div>
</form>
