<tn-card
  [title]="'General Info' | translate"
>
  <ng-template tnCardFooterActions>
    @if (canModify()) {
      <tn-button
        variant="outline"
        color="default"
        [label]="'Edit' | translate"
        [testId]="'edit-container'"
        (onClick)="editContainer()"
      ></tn-button>
      <tn-button
        variant="outline"
        color="default"
        [label]="'Delete' | translate"
        [testId]="'delete-container'"
        (onClick)="deleteContainer()"
      ></tn-button>
    }
  </ng-template>
  @if (container(); as container) {
    <p>
      <span class="label">{{ 'Description' | translate }}:</span>
      {{ container.description || ('N/A' | translate) }}
    </p>
    <p>
      <span class="label">{{ 'Autostart' | translate }}:</span>
      {{ container.autostart | yesNo }}
    </p>
    <p>
      <span class="label">{{ 'Dataset' | translate }}:</span>
      {{ container.dataset }}
    </p>
    <p>
      <span class="label">{{ 'CPU Set' | translate }}:</span>
      {{ container.cpuset || ('All Host CPUs' | translate) }}
    </p>
    <p>
      <span class="label">{{ 'Container Time' | translate }}:</span>
      {{ container.time | mapValue: containerTimeLabels | translate }}
    </p>
    <p>
      <span class="label">{{ 'Shutdown Timeout' | translate }}:</span>
      {{ container.shutdown_timeout }} {{ 'seconds' | translate }}
    </p>
    <p>
      <span class="label">{{ 'Init Process' | translate }}:</span>
      {{ container.init }}
    </p>
    @if (container.initdir) {
      <p>
        <span class="label">{{ 'Init Working Directory' | translate }}:</span>
        {{ container.initdir }}
      </p>
    }
    @if (container.inituser) {
      <p>
        <span class="label">{{ 'Init User' | translate }}:</span>
        {{ container.inituser }}
      </p>
    }
    @if (container.initgroup) {
      <p>
        <span class="label">{{ 'Init Group' | translate }}:</span>
        {{ container.initgroup }}
      </p>
    }
    <p>
      <span class="label">{{ 'ID Map Type' | translate }}:</span>
      @if (container.idmap) {
        {{ container.idmap.type | mapValue: containerIdmapTypeLabels | translate }}
        @if (container.idmap.slice) {
          ({{ 'Slice' | translate }}: {{ container.idmap.slice }})
        }
      } @else {
        {{ 'Privileged' | translate }}
      }
    </p>
    <p>
      <span class="label">{{ 'Capabilities Policy' | translate }}:</span>
      {{ container.capabilities_policy | mapValue: containerCapabilitiesPolicyLabels | translate }}
    </p>
  }
</tn-card>

<tn-side-panel
  [title]="'Edit Container' | translate"
  [closeGuard]="editCloseGuard"
  [(open)]="editOpen"
>
  @if (editOpen()) {
    <ix-container-form
      [editContainer]="container()"
      (closed)="onEditClosed($event)"
    ></ix-container-form>
  }
  @if (editForm(); as form) {
    <tn-button
      tnSidePanelAction
      color="primary"
      testId="save"
      [label]="'Save' | translate"
      [disabled]="!form.canSubmit()"
      (onClick)="form.submit()"
    ></tn-button>
  }
</tn-side-panel>
