<div id="{{config.name}}" class="dynamic-field form-explorer" [formGroup]="group" [ngClass]="fieldShow" [class.has-tooltip]="config.tooltip" *ngIf="!config['isHidden']">
    <div class="form-ex-flex-container" id="form-ex-flex-container">
        <div id="box1">
            <!-- <button mat-button (click)="toggleTree()" type="button">{{"Browse" | translate}}</button> -->
            <i class="material-icons form-ex-folder" (click)="toggleTree()">folder</i>
        </div>

        <div id="box2">
            <mat-form-field class="full-width" id="formexinput">
                <tooltip style="float: right;" *ngIf="config.tooltip" [message]="config.tooltip"></tooltip>
                <textarea matInput *ngIf="config.multiple; else textInput" [placeholder]="config.placeholder | translate" [formControlName]="config.name" [required]="config.required"></textarea>
                <ng-template #textInput>
                    <input matInput [type]="'text'" [placeholder]="config.placeholder | translate" [formControlName]="config.name" [required]="config.required">
                </ng-template>
            </mat-form-field>
        </div>

        <tree-root #tree id="form-ex-input" *ngIf="treeVisible" [nodes]="nodes" [options]="customTemplateStringOptions" [focused]="true" id="box3" (select)="onClick($event)" (deselect)="onClick($event)">
            <ng-template #treeNodeTemplate let-node *ngIf="(config.explorerType == 'zvol')">
                <mat-icon>folder</mat-icon>
                <span title="{{node.data.mountpoint}}">{{ node.data.name }}</span>
            </ng-template>
            <ng-template #treeNodeTemplate let-node *ngIf="(config.explorerType == 'directory') || (config.explorerType == 'dataset') || (config.explorerType == 'file') || !config.explorerType">
                <mat-icon *ngIf="node.data.hasChildren || node.data.children; else fileIcon">folder</mat-icon>
                <ng-template #fileIcon><mat-icon>insert_drive_file</mat-icon></ng-template>
                <span title="{{node.data.name}}">{{ node.data.subTitle }}</span>
            </ng-template>
        </tree-root>
    </div>
    
    <mat-error *ngIf="config['hasErrors']">{{config['errors']}}</mat-error>
    <mat-error *ngIf="config.warnings">{{config.warnings | translate}}</mat-error>
</div>
