<div class="widget stats-widget" ngClass.xs="double-height xs">
  <div class="card-container">
    <mat-card class="front">
      <mat-card-content>
        <ix-drag-handle [showReorderHandle]="showReorderHandle">
          <ng-content [select]="[cdkDragHandle]"></ng-content>

          <mat-toolbar-row>
            <button
              class="mat-card-title-text primary-nav"
              mat-icon-button
              color="default"
              ixTest="cpu-back"
              [attr.aria-label]="'Go back' | translate"
              (click)="goBack()"
            >
              <ix-icon name="chevron_left"></ix-icon>
            </button>

            <h3 class="mat-card-title-text">
              <ix-drag-handle [showReorderHandle]="showReorderHandle">
                <div class="card-title-text">
                  @if (showReorderHandle) {
                    <span class="grip"></span>
                  }
                  <span>{{ 'CPU' | translate }}</span>
                </div>
              </ix-drag-handle>
            </h3>

            <div class="controls">
              <a
                mat-icon-button
                ixTest="cpu-reports"
                matTooltipPosition="above"
                [attr.aria-label]="'CPU Reports' | translate"
                [matTooltip]="'CPU Reports' | translate"
                [routerLink]="['/reportsdashboard/cpu']"
              >
                <ix-icon name="insert_chart"></ix-icon>
              </a>
            </div>
          </mat-toolbar-row>
        </ix-drag-handle>

        @if (isDesktop) {
          <div class="cpu-model top">
            {{ cpuModel ? cpuModel : ('Unknown CPU' | translate) }}
          </div>
        }

        <!-- Chart -->
        <div class="cpu-load-wrapper" [class.mobile]="isMobile">
          <div class="viewchartgauge">
            @if (isCpuAvgReady) {
              <ix-view-chart-gauge
                [config]="cpuAvg"
              ></ix-view-chart-gauge>
            } @else {
              <mat-spinner class="spinner" [diameter]="40"></mat-spinner>
            }
          </div>


          @if (isDesktop) {
            <div class="cpu-load-cores no-flicker">
              <mat-list>
                <mat-list-item>
                  <span class="label">
                    <strong>{{ 'Cores' | translate }}:</strong>
                  </span>
                  {{ coreCount }} {{ 'cores' | translate }}
                  @if (hyperthread) {
                    <span>
                      &nbsp;({{ threadCount }}
                      {{ 'threads' | translate }})
                    </span>
                  }
                </mat-list-item>
                <mat-list-item>
                  <span class="label">
                    <strong>{{ 'Highest Usage' | translate }}: </strong>
                  </span>
                  @if (usageMax || usageMax === 0) {
                    @if (usageMax === 0) {
                      {{ 'N/A' | translate }}
                    } @else {
                      {{ usageMax }}% &nbsp;
                      <span class="subtext">
                        ({{
                          usageMaxThreads.length === 0
                            ? ('All Threads' | translate)
                            : usageMaxThreads.length < 2
                              ? ('Thread #' | translate) + usageMaxThreads.toString()
                              : usageMaxThreads.length + (' threads at ' | translate) + usageMax + '%'
                        }})
                      </span>
                    }
                  } @else {
                    <ngx-skeleton-loader></ngx-skeleton-loader>
                  }
                </mat-list-item>
                <mat-list-item>
                  @if (tempMax >= 70) {
                    <div
                      class="label-icon"
                      [class.warn]="tempMax < 80"
                      [class.danger]="tempMax > 79"
                    >
                      <ix-icon name="mdi-alert"></ix-icon>
                    </div>
                  }
                  <span class="label">
                    <strong>{{ 'Hottest' | translate }}:</strong>
                  </span>
                  @if (tempMax || tempMax === 0) {
                    @if (tempMax === 0) {
                      <span>{{ 'N/A' | translate }}</span>
                    } @else {
                      <span>{{ tempMax }}°C &nbsp;</span>
                      <span class="subtext">
                        ({{
                        tempMaxThreads.length === 0
                        ? ('All Cores' | translate)
                        : tempMaxThreads.length < 2
                        ? ('Core #' | translate) + tempMaxThreads.toString()
                        : tempMaxThreads.length + (' cores at ' | translate) + tempMax + '°C'
                        }})
                      </span>
                    }
                  } @else {
                    <ngx-skeleton-loader></ngx-skeleton-loader>
                  }
                </mat-list-item>
              </mat-list>
            </div>
          }
        </div>

        @if (isMobile) {
          <div class="cpu-details mobile no-flicker">
            <div class="bottom">
              <div class="list-subheader">
                <span class="capitalize">{{ 'CPU Details' | translate }}</span>
              </div>
              <mat-list>
                <mat-list-item>
                  <span class="label">{{ 'Model:' | translate }}</span>
                  {{ cpuModel ? cpuModel : 'Unknown CPU' }}
                </mat-list-item>
                <mat-list-item>
                  <span class="label">
                    <strong>{{ 'Cores' | translate }}:</strong>
                  </span>
                  {{ coreCount }} {{ 'cores' | translate }}
                  @if (hyperthread) {
                    <span>
                      &nbsp;({{ threadCount }}
                      {{ 'threads' | translate }})
                    </span>
                  }
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        }

        @if (isMobile) {
          <div class="cpu-details mobile no-flicker">
            <div class="bottom">
              <div class="list-subheader">
                <span class="capitalize">
                  {{ 'Stats Per Thread' | translate }}
                </span>
              </div>
              <mat-list>
                @if (tempMax || tempMax === 0) {
                  <mat-list-item>
                    <span class="label">{{ 'Hottest:' | translate }}</span>
                    @if (tempMax === 0) {
                      {{ 'N/A' | translate }}
                    } @else {
                      {{ tempMax }}°C &nbsp;&nbsp;
                      <span class="subtext">
                        ({{
                          tempMaxThreads.length === 0
                            ? ('All Cores' | translate)
                            : tempMaxThreads.length < 2
                              ? ('Core #' | translate) + tempMaxThreads.toString()
                              : tempMaxThreads.length + (' cores at ' | translate) + tempMax + '°C'
                        }})
                      </span>
                    }
                  </mat-list-item>
                } @else {
                  <ngx-skeleton-loader></ngx-skeleton-loader>
                }
                @if (tempMin || tempMin === 0) {
                  <mat-list-item>
                    <span class="label">{{ 'Coolest:' | translate }}</span>
                    @if (tempMin === 0) {
                      {{ 'N/A' | translate }}
                    } @else {
                      {{ tempMin }}°C &nbsp;&nbsp;
                      <span class="subtext">
                        ({{
                          tempMinThreads.length === 0
                            ? ('All Cores' | translate)
                            : tempMinThreads.length < 2
                              ? ('Core #' | translate) + tempMinThreads.toString()
                              : tempMinThreads.length + (' cores at ' | translate) + tempMin + '°C'
                        }})
                      </span>
                    }
                  </mat-list-item>
                } @else {
                  <ngx-skeleton-loader></ngx-skeleton-loader>
                }
                <mat-list-item>
                  <span class="label">{{ 'Highest Usage:' | translate }}</span>
                  @if (usageMax || usageMax === 0) {
                    {{ usageMax }}% &nbsp;&nbsp;
                    <span class="subtext">
                      ({{
                        usageMaxThreads.length === 0
                          ? ('All Threads' | translate)
                          : usageMaxThreads.length < 2
                            ? ('Thread #' | translate) + usageMaxThreads.toString()
                            : usageMaxThreads.length + (' threads at ' | translate) + usageMax + '%'
                      }})
                    </span>
                  } @else {
                    <ngx-skeleton-loader></ngx-skeleton-loader>
                  }
                </mat-list-item>
                <mat-list-item>
                  <span class="label">{{ 'Lowest Usage:' | translate }}</span>
                  {{ usageMin }}% &nbsp;&nbsp;
                  <span class="subtext">
                    ({{
                      usageMinThreads.length === 0
                        ? ('All Threads' | translate)
                        : usageMinThreads.length < 2
                          ? ('Thread #' | translate) + usageMinThreads.toString()
                          : usageMinThreads.length + ' threads at ' + usageMin + '%'
                    }})
                  </span>
                </mat-list-item>
              </mat-list>
            </div>
          </div>
        }

        <!-- Start Cores Wrapper -->
        <div class="cpu-cores-wrapper bar-chart-wrapper">
          <div class="cpu-load-cores-legend" [class.mobile]="isMobile">
            @if (legendData && isDesktop) {
              <div class="cpu-load-cores-legend-values">
                @if (isDesktop) {
                  <div class="legend-item core-number">
                    <span class="label">{{ 'Thread:' | translate }}</span>
                    {{ legendIndex }}
                  </div>
                }
                <div class="legend-item usage">
                  <div class="legend-swatch primary"></div>
                  <span class="label">{{ legendData[0].label | translate }}:</span>
                  {{ legendData[0].data[legendIndex] }}%
                </div>
                @if (tempMin && tempMax) {
                  @if (legendData[1]) {
                    <div class="legend-item temperature">
                      <div
                        class="legend-swatch"
                        [class.defaultTheme]="themeService.isDefaultTheme"
                        [class.nonDefaultTheme]="!themeService.isDefaultTheme"
                      ></div>
                      <span class="label">{{ legendData[1].label | translate }}:</span>
                      {{ legendData[1].data[legendIndex] }}°C
                    </div>
                  }
                }
              </div>
            } @else {
              <div class="cpu-load-cores-legend-values">
                <div class="legend-item core-number">
                  <span class="label">{{ 'Stats Per Thread' | translate }}</span>
                </div>
                <div class="legend-item usage">
                  <div class="legend-swatch primary"></div>
                  <span class="label">{{ 'Usage' | translate }}</span>
                </div>
                @if (usageMin && usageMax) {
                  <div class="legend-item temperature">
                    <div
                      class="legend-swatch"
                      [class.defaultTheme]="themeService.isDefaultTheme"
                      [class.nonDefaultTheme]="!themeService.isDefaultTheme"
                    ></div>
                    <span class="label">{{ 'Temperature' | translate }}</span>
                  </div>
                }
              </div>
            }
          </div>


          <div class="cpu-cores-chart bar-chart">
            <canvas></canvas>
          </div>
        </div>
        <!-- End Cores Wrapper -->

        <!-- DETAILS -->
      </mat-card-content>
    </mat-card>
  </div>
</div>

