:host {
  display: block;

  ::ng-deep .checkboxs-column {
    text-overflow: unset !important;
    width: 20px;
  }
}

.batch-actions-toolbar {
  background: var(--bg2);
  border-bottom: 1px solid var(--lines);
  color: var(--fg1);

  .title {
    padding: 16px 28px 8px;
  }

  .actions {
    display: flex;
    gap: 8px;
    padding: 0 28px 16px;
  }
}
