<mat-card class="card">
  <mat-card-header>
    <h3 mat-card-title>
      {{ 'Disks' | translate }}
    </h3>

    <button
      mat-button
      ixTest="add-disk"
      (click)="addDisk()"
    >{{ 'Add' | translate }}</button>
  </mat-card-header>

  <mat-card-content>
    @if (isVm() && instance().root_disk_size) {
      <div class="root-disk-size">
        <span class="label">{{ 'Root Disk' | translate }}:</span>
        <span class="value">
          {{ +instance().root_disk_size | ixFileSize }}

          @if (instance().root_disk_io_bus) {
            ({{ instance().root_disk_io_bus | mapValue: diskIoBusLabels}})
          }
        </span>
        <a
          class="action"
          ixTest="change-disk-setup"
          (click)="showRootDiskIncreaseDialog()"
        >
          {{ 'Change' | translate }}
        </a>
      </div>
    }

    @if (isLoadingDevices()) {
      <ngx-skeleton-loader></ngx-skeleton-loader>
    } @else {
      @for (disk of visibleDisks(); track disk.name) {
        <div class="disk">
          @if (disk.destination) {
            <div>{{ disk.source }} → {{ disk.destination }}</div>
          } @else {
            <div>
              {{ disk.source }}

              @if (isVm()) {
                ({{ disk.io_bus | mapValue: diskIoBusLabels}})
              }
            </div>
          }

          <ix-device-actions-menu
            [device]="disk"
            (edit)="editDisk(disk)"
          ></ix-device-actions-menu>
        </div>
      } @empty {
        @if (!instance().root_disk_size) {
          {{ 'No disks added.' | translate }}
        }
      }
    }
  </mat-card-content>
</mat-card>
