:host {
  box-sizing: border-box;
  display: flex;

  &.has-icon {
    align-items: center;
    gap: 8px;
    justify-content: flex-start;

    ix-icon {
      display: inline-flex;
      line-height: 24px;
    }

    span {
      color: var(--fg2);
    }
  }

  &.has-cell {
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: bold;
    gap: 6px;
    padding: 3px 8px;
  }

  &.running {
    border-color: var(--status-active);
    color: var(--status-active);
  }

  &.starting,
  &.deploying,
  &.stopping {
    border-color: var(--status-in-progress);
    color: var(--status-in-progress);

    mat-spinner::ng-deep circle {
      stroke: var(--status-in-progress);
    }
  }

  &.crashed {
    border-color: var(--status-error);
    color: var(--status-error);
  }

  &.stopped {
    border-color: var(--status-inactive);
    color: var(--status-inactive);
  }
}
