nav.view-nav-bar{
  background-color:var(--alt-bg1);
  color:var(--alt-fg1);
  width:100%;
  height:32px;
  padding-bottom: 4px;
  margin:-15px 0 32px;
}

.view-nav-bar .view-nav-btn{
  /*display:inline-block;*/
  height:40px;
  text-transform: capitalize !important;
  /*font-weight:500;
  padding:0 16px;
  text-align:center;*/
}

.view-card{
  max-width:960px;
  margin: 0 auto;
  min-height:480px;
  padding:0;
}

.view-card #disks-overview{
  height:304px;
  background-color:rgba(0, 0, 0, 0.85);
}

.view-card #disks-details{
  height:250px;
}

.view-card #disks-details-header{
  font-size: 1.15rem;
  border-bottom:solid 1px var(--bg1);
  padding:12px 16px;
}

.view-card .tiles{
  text-align: center;
  /*border:solid 1px red;*/
}


.view-card .details-wrapper{
  width: 100%;
  min-height: 400;
}

.view-card .tiles.active{
  background-color:rgba(0,0,0,0.1);
}

.view-card .primary-number{
  font-size: 3.25rem;
  font-weight: 100;
}

.view-card .title{
  font-size: 1rem;
}

.view-card .subtitle{
  font-size: 0.65rem;
  opacity: 0.85;
}

.view-card .tiles .mat-button{
  margin: 16px;
}

.view-card .disk-actions{
  margin:16px;
  text-align: center;
}

.view-card .disk-actions button{
  margin:4px 16px;
}

.view-card .disk-basic-details{
  border-right:solid 1px rgba(0,0,0, 0.1);
}
