:host {
  display: block;
  margin-bottom: 12px;
  margin-top: 18px;
}

.full-width {
  color: var(--fg1);
  width: 100%;
}

.container {
  padding: 8px 0;
}

.input-container {
  background: var(--bg1);
  border: solid 1.5px var(--lines);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  position: relative;

  textarea {
    max-height: 250px;
    min-height: 14px;
    overflow-y: auto;
    resize: vertical;
  }

  &:focus-within {
    border-color: var(--primary);
  }

  &.disabled {
    opacity: var(--disabled-opacity);

    input {
      cursor: not-allowed;
      opacity: 1;
    }
  }

  &.readonly {
    background: var(--bg2);

    input {
      cursor: copy;
    }
  }
}
