<div
  class="sticky top-0 z-20 bg-background bg-opacity-100 flex justify-center items-center h-20 pt-4"
  [class.has-many-components]="(componentsSize$ | async) > 1"
>
  @if ((componentsSize$ | async) > 1 && !disableClose()) {
    <button
      mat-icon-button
      id="ix-close-icon"
      [ixTest]="['close-slide-in']"
      [matTooltip]="tooltip()"
      [attr.aria-label]="
        'Close {formType} Form' | translate: { formType: title() }
      "
      (click)="close()"
    >
      <ix-icon name="mdi-chevron-left"></ix-icon>
    </button>
  }
  <h3>
    {{ title() ? (title() | translate) : "" }}
    @if (requiredRoles().length && !(hasRequiredRoles | async)) {
      <ix-readonly-badge></ix-readonly-badge>
    }
  </h3>
  @if ((componentsSize$ | async) <= 1 && !disableClose()) {
    <button
      mat-icon-button
      class="absolute! right-2!"
      id="ix-close-icon"
      [ixTest]="['close-slide-in']"
      [matTooltip]="tooltip()"
      [attr.aria-label]="
        'Close {formType} Form' | translate: { formType: title() }
      "
      (click)="close()"
    >
      <ix-icon
        name="cancel"
        (keydown.enter)="close()"
      ></ix-icon>
    </button>
  }
</div>

@if (loading()) {
  <mat-progress-bar
    mode="indeterminate"
    class="progress-bar"
  ></mat-progress-bar>
}
