:host {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.ix-slidein-title-bar {
  align-content: center;
  align-items: center;
  background-color: var(--bg2);
  border-bottom: 2px solid var(--lines);
  display: flex;
  height: 75px;
  justify-content: space-between;

  &.has-many-components {
    justify-content: flex-start;
  }
}

.ix-form-title {
  color: var(--fg1);
  word-break: break-all;
}

.title-left-margin {
  margin-left: 30px;
}

#ix-close-icon {
  color: var(--fg1);
  cursor: pointer;
  margin-left: 20px;

  &:focus {
    border-radius: 50%;
    outline: 1.5px solid var(--primary);
  }

}

.icon-margin-right {
  margin-right: 20px;
}

.progress-bar {
  z-index: 1;
}
