:host {
  display: block;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20000;
}

.ix-slidein-title-bar {
  align-content: center;
  align-items: center;
  background-color: var(--bg2);
  display: flex;
  height: 75px;
  justify-content: space-between;

  &.has-many-components {
    justify-content: flex-start;
  }
}

.ix-form-title {
  color: var(--fg1);
  margin-left: 20px;
  word-break: break-all;
}

#ix-close-icon {
  color: var(--fg1);
  cursor: pointer;
  margin-right: 20px;

  &:focus {
    border-radius: 50%;
    outline: 1.5px solid var(--primary);
  }
}

mat-progress-bar {
  bottom: 0;
  left: -20px;
  position: absolute;
  width: calc(100% + 40px);
  z-index: 10005;
}
