<h1 mat-dialog-title>{{ 'Delete Subsystem' | translate }}</h1>
<div mat-dialog-content>
  <p class="message">{{ 'Are you sure you want to delete subsystem {subsys}?' | translate: { subsys: subsystem.name } }}</p>
  <ix-checkbox
    [label]="'Force' | translate"
    [formControl]="force"
  ></ix-checkbox>
</div>
<ix-form-actions mat-dialog-actions class="form-actions">
  <button mat-button ixTest="cancel" [matDialogClose]="{ confirmed: false }">{{ 'Cancel' | translate }}</button>
  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    color="warn"
    ixTest="delete"
    (click)="delete()"
  >
    {{ 'Delete' | translate }}
  </button>
</ix-form-actions>
