@import 'mixins/cards';

:host {
  display: flex;
}

.card {
  @include details-card();
  flex: 1;

  .content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .vdev-line {
    align-items: center;
    display: flex;
    margin: 8px 0;
    place-content: center space-between;

    &:first-child {
      margin-top: 0;
    }
  }

  .vdev-stats {
    align-items: center;
    display: flex;
    place-content: center;
  }
}

.warning {
  display: flex;
  padding: 0 6px;
}

