<mat-card class="card" fxLayout="column">
  <mat-card-header>
    <h3 mat-card-title>
      {{ 'Topology' | translate }}
      <ix-pool-card-icon [type]="iconType" [tooltip]="iconTooltip"></ix-pool-card-icon>
    </h3>

    <button
      mat-button
      ix-auto-type="button"
      (click)="router.navigate(['/storage', this.poolState.id, 'devices'])"
    >
      {{ 'Manage Devices' | translate }}
    </button>
  </mat-card-header>

  <mat-card-content fxFlex="100">
    <div class="content-container" fxLayout="column">
      <div class="vdev-line" fxLayoutAlign="space-between center">
        <b>{{ 'Data VDEVs' | translate }}</b>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span
            *ngIf="isTopologyWarning(topologyWarningsState.data)"
            class="warning"
            [matTooltip]="topologyWarningsState.data"
          >
            <ix-icon name="error" class="pool-icon icon-warning"></ix-icon>
          </span>
          <span class="vdev-value">{{ topologyState.data }}</span>
        </div>
      </div>
      <div class="vdev-line" fxLayoutAlign="space-between center">
        <b>{{ 'Metadata VDEVs' | translate }}</b>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span
            *ngIf="isTopologyWarning(topologyWarningsState.metadata)"
            class="warning"
            [matTooltip]="topologyWarningsState.metadata"
          >
            <ix-icon name="error" class="pool-icon icon-warning"></ix-icon>
          </span>
          <span class="vdev-value">{{ topologyState.metadata }}</span>
        </div>
      </div>
      <div class="vdev-line" fxLayoutAlign="space-between center">
        <b>{{ 'Log VDEVs' | translate }}</b>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span
            *ngIf="isTopologyWarning(topologyWarningsState.log)"
            class="warning"
            [matTooltip]="topologyWarningsState.log"
          >
            <ix-icon name="error" class="pool-icon icon-warning"></ix-icon>
          </span>
          <span class="vdev-value">{{ topologyState.log }}</span>
        </div>
      </div>
      <div class="vdev-line" fxLayoutAlign="space-between center">
        <b>{{ 'Cache VDEVs' | translate }}</b>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span
            *ngIf="isTopologyWarning(topologyWarningsState.cache)"
            class="warning"
            [matTooltip]="topologyWarningsState.cache"
          >
            <ix-icon name="error" class="pool-icon icon-warning"></ix-icon>
          </span>
          <span class="vdev-value">{{ topologyState.cache }}</span>
        </div>
      </div>
      <div class="vdev-line" fxLayoutAlign="space-between center">
        <b>{{ 'Spare VDEVs' | translate }}</b>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span
            *ngIf="isTopologyWarning(topologyWarningsState.spare)"
            class="warning"
            [matTooltip]="topologyWarningsState.spare"
          >
            <ix-icon name="error" class="pool-icon icon-warning"></ix-icon>
          </span>
          <span class="vdev-value">{{ topologyState.spare }}</span>
        </div>
      </div>
      <div class="vdev-line" fxLayoutAlign="space-between center">
        <b>{{ 'Dedup VDEVs' | translate }}</b>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span
            *ngIf="isTopologyWarning(topologyWarningsState.dedup)"
            class="warning"
            [matTooltip]="topologyWarningsState.dedup"
          >
            <ix-icon name="error" class="pool-icon icon-warning"></ix-icon>
          </span>
          <span class="vdev-value">{{ topologyState.dedup }}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
