@if (slideInRef) {
  <ix-modal-header
    [title]="isNew() ? ('Add Port' | translate) : ('Edit Port' | translate)"
    [loading]="isLoading()"
  ></ix-modal-header>
}

<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <ix-fieldset>
    <tn-form-field [label]="'Transport Type' | translate" [required]="true">
      <tn-select
        testId="addr-trtype"
        formControlName="addr_trtype"
        [options]="(types$ | async) ?? []"
      ></tn-select>
    </tn-form-field>

    <tn-form-field [label]="'Port' | translate">
      <tn-input
        testId="addr-trsvcid"
        formControlName="addr_trsvcid"
        [inputType]="isFibreChannel ? InputType.PlainText : InputType.Number"
        [placeholder]="portPlaceholder"
      ></tn-input>
    </tn-form-field>

    <tn-form-field
      [label]="'Address' | translate"
      [required]="true"
      [hint]="isTcp ? (helptext.onlyStaticIpsShown | translate) : ''"
    >
      <tn-select
        testId="addr-traddr"
        formControlName="addr_traddr"
        [options]="(addresses$ | async) ?? []"
      ></tn-select>
    </tn-form-field>
  </ix-fieldset>

  @if (slideInRef) {
    <ix-form-actions>
      <tn-button
        *ixRequiresRoles="requiredRoles"
        type="submit"
        color="primary"
        [testId]="'save'"
        [label]="'Save' | translate"
        [disabled]="form.invalid || isLoading()"
      ></tn-button>
    </ix-form-actions>
  }
</form>
