:host {
  display: block;

  ix-entity-empty {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.mat-mdc-card {
  overflow: hidden;
}

.header-container {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;

  .title-container {
    display: flex;
    flex-direction: column;

    a {
      color: var(--primary);
    }
  }

  .header-actions {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 100;
    gap: 10px;

    .btn {
      height: 36px;
    }

    .slider {
      color: white;
    }

    .input-container {
      background: var(--bg1);
      border: solid 1.5px var(--lines);
      border-radius: 2px;
      color: white;
      display: flex;
      flex-direction: row;
      font-size: 12px;
      padding: 3px 8px;
      position: relative;

      input {
        min-height: 26px;
      }

      &:focus-within {
        border-color: var(--primary);
      }
    }

    .input-container .ix-icon {
      font-size: 1rem;
      height: auto;
      max-width: 16px;
      width: auto;
    }

    .has-reset-input-icon {
      padding-right: 20px;
    }

    .prefix-padding {
      padding-left: 16px;
    }

    .reset-input,
    .prefix-icon {
      align-items: center;
      bottom: 0;
      cursor: pointer;
      display: flex;
      opacity: 0.5;
      padding: 5px;
      position: absolute;
      right: 0.3rem;
      top: 0;
      user-select: none;
    }

    .prefix-icon {
      cursor: default;
      left: 0;
      right: auto;
    }
  }
}
