<ng-template #pageHeader>
  <ix-page-title-header>
    <ix-search-input
      [disabled]="isLoading$ | async"
      (search)="onSearch($event)"
    ></ix-search-input>
    <a mat-button href="/api/docs" target="_blank">
      {{ 'API Docs' | translate }}
    </a>
    <button mat-button color="primary" (click)="openApiKeyForm()">
      {{ 'Add' | translate }}
    </button>
  </ix-page-title-header>
</ng-template>

<ix-entity-empty
  *ngIf="isLoading$ | async; else loaded"
  [conf]="loadingConfig"
></ix-entity-empty>

<ng-template #loaded>
  <mat-card>
    <mat-card-content>
      <table
        ix-table
        matSort
        matSortDisableClear="true"
        [dataSource]="dataSource"
        [matSortActive]="defaultSort.active"
        [matSortDirection]="defaultSort.direction"
        [multiTemplateDataRows]="true"
        [fixedLayout]="true"
      >
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ 'Name' | translate }}
          </th>
          <td mat-cell *matCellDef="let apiKey; dataSource: dataSource">
            {{ apiKey.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>
            {{ 'Created Date' | translate }}
          </th>
          <td mat-cell *matCellDef="let apiKey; dataSource: dataSource">
            {{ apiKey.created_at.$date | formatDateTime }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td mat-cell *matCellDef="let apiKey; dataSource: dataSource">
            <button
              mat-icon-button
              [matMenuTriggerFor]="actionsMenu"
              [attr.aria-label]="'API Key Actions' | translate"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
              <button mat-menu-item (click)="openApiKeyForm(apiKey)">
                <mat-icon>edit</mat-icon>
                <span>{{ 'Edit' | translate }}</span>
              </button>
              <button mat-menu-item (click)="doDelete(apiKey)">
                <mat-icon>delete</mat-icon>
                <span>{{ 'Delete' | translate }}</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let apiKey; columns: displayedColumns; dataSource: dataSource"
        ></tr>

        <tr class="mat-row no-data-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            <ix-entity-empty
              [conf]="emptyOrErrorConfig$ | async"
            ></ix-entity-empty>
          </td>
        </tr>
      </table>

      <ix-table-paginator [dataSource]="dataSource"></ix-table-paginator>
    </mat-card-content>
  </mat-card>
</ng-template>
