<tn-card
  padding="small"
  [title]="'Certificates' | translate"
>
  @if (!(dataProvider.currentPageCount$ | async) && !(dataProvider.isLoading$ | async)) {
    @let emptyType = dataProvider.emptyType$ | async;
    <tn-empty
      iconSize="56px"
      [icon]="emptyService.iconForType(emptyType)"
      [title]="emptyService.defaultEmptyConfig(emptyType).title | translate"
    ></tn-empty>
  } @else {
    <tn-table
      class="table"
      [dataSource]="(dataProvider.currentPage$ | async) ?? []"
      [displayedColumns]="displayedColumns"
      [trackBy]="trackBy"
      [loading]="!!(dataProvider.isLoading$ | async)"
    >
      <ng-container [tnColumnDef]="'name'" [width]="'24%'">
        <ng-template tnHeaderCellDef>{{ 'Name' | translate }}</ng-template>
        <ng-template let-row tnCellDef>{{ row.name }}</ng-template>
      </ng-container>

      <ng-container [tnColumnDef]="'date'" [width]="'30%'">
        <ng-template tnHeaderCellDef>{{ 'Date' | translate }}</ng-template>
        <ng-template let-row tnCellDef>
          <div class="list-item">
            <strong>{{ 'From' | translate }}:</strong>
            <span>{{ row.from | formatDateTime }}</span>
          </div>
          <div class="list-item">
            <strong>{{ 'Until' | translate }}:</strong>
            <span>{{ row.until | formatDateTime }}</span>
          </div>
        </ng-template>
      </ng-container>

      <ng-container [tnColumnDef]="'cn'">
        <ng-template tnHeaderCellDef>{{ 'CN' | translate }}</ng-template>
        <ng-template let-row tnCellDef>
          @if (row.common?.length > 0) {
            <div class="list-item">
              <strong>{{ 'CN' | translate }}:</strong>
              <span>{{ row.common }}</span>
            </div>
          }
          @if (row.san?.length > 0) {
            <div class="list-item">
              <strong>{{ 'SAN' | translate }}:</strong>
              <span>{{ row.san }}</span>
            </div>
          }
        </ng-template>
      </ng-container>

      <ng-container [tnColumnDef]="'actions'" [width]="'56px'">
        <ng-template tnHeaderCellDef></ng-template>
        <ng-template let-row tnCellDef>
          <ix-table-actions-cell
            [actions]="actions"
            [row]="row"
            [uniqueRowTag]="uniqueRowTag(row)"
            [ariaLabel]="ariaLabel(row)"
          ></ix-table-actions-cell>
        </ng-template>
      </ng-container>
    </tn-table>
  }

  <ix-table-pager-show-more
    [pageSize]="4"
    [dataProvider]="dataProvider"
    [ixTestOverride]="['certificates']"
  ></ix-table-pager-show-more>

  <ng-template tnCardFooterActions>
    <tn-button
      *ixRequiresRoles="requiredRoles"
      color="primary"
      [testId]="['import-certificate']"
      [ixUiSearch]="searchableElements.elements.import"
      [label]="'Import' | translate"
      (onClick)="doImport()"
    ></tn-button>
  </ng-template>
</tn-card>
