:host {
  display: flex;
}

[ix-table-head] {
  display: none !important;
}

[ix-table-body]::ng-deep tr.row td {
  font-size: 12px;
}

.list-item {
  align-items: flex-start;
  column-gap: 4px;
  display: flex;
  flex-wrap: wrap;

  span {
    display: inline-flex;
    flex-wrap: wrap;
    white-space: normal;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}
