<ix-page-header [loading]="pools() === null"></ix-page-header>

@if (pools() === 0) {
  <ix-empty
    [conf]="emptyConfig"
    [requiredRoles]="requiredRoles"
  ></ix-empty>
} @else {
  <div class="cards" [ixUiSearch]="searchableElements.elements.dashboard">
    <ix-cloud-backup-card></ix-cloud-backup-card>
    <ix-cloudsync-task-card></ix-cloudsync-task-card>
    <ix-snapshot-task-card></ix-snapshot-task-card>
    <ix-rsync-task-card></ix-rsync-task-card>
    <ix-replication-task-card></ix-replication-task-card>
  </div>
}
