mat-dialog-content.dir-service-monitor-dialog.mat-dialog-content {
  padding: 0px;
  position: relative;
  top: -24px;
  overflow: hidden !important;
}
.header {
  height: 50px;
  background-color: var(--primary);
}
.header h4 {
  text-align: center;
  position: relative;
  top: 15px;
  color: white;
  font-weight: 700;
}
.mat-dialog-actions {
  height: 20px !important;
  min-height: 20px !important;
}
button.dir-services-monitor-action-button {
  width: 100%;
  margin-top: -25px;
}
mat-icon.state-healthy {
  color: var(--green);
}
mat-icon.state-faulted {
  color: var(--red);
}
mat-icon.state-joining {
  color: var(--primary);
}
mat-icon.state-leaving {
  color: var(--accent);
}
mat-icon.state-disabled {
  color: black;
}
.table-row:hover {
  background: #f5f5f5;
}
