<ix-modal-header
  [requiredRoles]="requiredRoles"
  [title]="title"
  [loading]="isLoading"
></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset>
        <ix-select
          formControlName="name"
          [label]="'Name' | translate"
          [required]="true"
          [options]="isNew ? createIdmapNames$ : editIdmapNames$"
          [tooltip]="helptext.idmap.name.tooltip | translate"
        ></ix-select>

        @if (isCustomName) {
          <ix-input
            formControlName="custom_name"
            [label]="'Custom Name' | translate"
            [required]="true"
            [tooltip]="helptext.idmap.custom_name.tooltip | translate"
          ></ix-input>
        }

        @if (hasBackendField$ | async) {
          <ix-select
            formControlName="idmap_backend"
            [label]="'Idmap Backend' | translate"
            [required]="true"
            [options]="backends$"
            [tooltip]="helptext.idmap.idmap_backend.tooltip | translate"
          ></ix-select>
        }

        <ix-input
          formControlName="dns_domain_name"
          [label]="'DNS Domain Name' | translate"
          [tooltip]="helptext.idmap.dns_domain_name.tooltip | translate"
        ></ix-input>

        <ix-input
          formControlName="range_low"
          type="number"
          [label]="'Range Low' | translate"
          [required]="true"
          [tooltip]="helptext.idmap.range_tooltip | translate"
        ></ix-input>

        <ix-input
          formControlName="range_high"
          type="number"
          [label]="'Range High' | translate"
          [required]="true"
          [tooltip]="helptext.idmap.range_tooltip | translate"
        ></ix-input>

        @if (hasCertificateField$ | async) {
          <ix-with-manage-certificates-link>
            <ix-select
              formControlName="certificate"
              [label]="'Certificate' | translate"
              [options]="certificates$"
              [tooltip]="helptext.idmap.certificate_id.tooltip | translate"
            ></ix-select>
          </ix-with-manage-certificates-link>
        }
      </ix-fieldset>

      <ix-fieldset [title]="'Options' | translate">
        @if (isOptionVisible('schema_mode')) {
          <ix-select
            formControlName="schema_mode"
            [label]="'Schema Mode' | translate"
            [options]="schemaModes$"
            [required]="true"
            [tooltip]="helptext.idmap.schema_mode.tooltip | translate"
          ></ix-select>
        }

        @if (isOptionVisible('unix_primary_group')) {
          <ix-checkbox
            formControlName="unix_primary_group"
            [label]="'Unix Primary Group' | translate"
            [required]="isOptionRequired('unix_primary_group')"
            [tooltip]="helptext.idmap.unix_primary_group.tooltip | translate"
          ></ix-checkbox>
        }

        @if (isOptionVisible('unix_nss_info')) {
          <ix-checkbox
            formControlName="unix_nss_info"
            [label]="'Unix NSS Info' | translate"
            [required]="isOptionRequired('unix_nss_info')"
            [tooltip]="helptext.idmap.unix_nss.tooltip | translate"
          ></ix-checkbox>
        }

        @if (isOptionVisible('rangesize')) {
          <ix-input
            formControlName="rangesize"
            type="number"
            [label]="'Range Size' | translate"
            [required]="isOptionRequired('rangesize')"
            [tooltip]="helptext.idmap.rangesize.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('readonly')) {
          <ix-checkbox
            formControlName="readonly"
            [label]="'Read Only' | translate"
            [required]="isOptionRequired('readonly')"
            [tooltip]="helptext.idmap.readonly.tooltip | translate"
          ></ix-checkbox>
        }

        @if (isOptionVisible('ignore_builtin')) {
          <ix-checkbox
            formControlName="ignore_builtin"
            [label]="'Ignore Builtin' | translate"
            [required]="isOptionRequired('ignore_builtin')"
            [tooltip]="helptext.idmap.ignore_builtin.tooltip | translate"
          ></ix-checkbox>
        }

        @if (isOptionVisible('ldap_base_dn')) {
          <ix-input
            formControlName="ldap_base_dn"
            [label]="'Base DN' | translate"
            [required]="isOptionRequired('ldap_base_dn')"
            [tooltip]="helptext.idmap.ldap_basedn.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('ldap_user_dn')) {
          <ix-input
            formControlName="ldap_user_dn"
            [label]="'LDAP User DN' | translate"
            [required]="isOptionRequired('ldap_user_dn')"
            [tooltip]="helptext.idmap.ldap_userdn.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('ldap_user_dn_password')) {
          <ix-input
            formControlName="ldap_user_dn_password"
            type="password"
            [label]="'LDAP User DN Password' | translate"
            [required]="isOptionRequired('ldap_user_dn_password')"
            [tooltip]="helptext.idmap.ldap_user_dn_password.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('ldap_url')) {
          <ix-input
            formControlName="ldap_url"
            [label]="'URL' | translate"
            [required]="isOptionRequired('ldap_url')"
            [tooltip]="helptext.idmap.ldap_url.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('ssl')) {
          <ix-select
            formControlName="ssl"
            [label]="'Encryption Mode' | translate"
            [options]="sslModes$"
            [required]="true"
            [tooltip]="helptext.idmap.ssl.tooltip | translate"
          ></ix-select>
        }

        @if (isOptionVisible('linked_service')) {
          <ix-select
            formControlName="linked_service"
            [label]="'Linked Service' | translate"
            [options]="linkedServices$"
            [required]="true"
            [tooltip]="helptext.idmap.linked_service.tooltip | translate"
          ></ix-select>
        }

        @if (isOptionVisible('ldap_server')) {
          <ix-input
            formControlName="ldap_server"
            [label]="'LDAP Server' | translate"
            [required]="isOptionRequired('ldap_server')"
            [tooltip]="helptext.idmap.ldap_server.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('ldap_realm')) {
          <ix-input
            formControlName="ldap_realm"
            [label]="'LDAP Realm' | translate"
            [required]="isOptionRequired('ldap_realm')"
            [tooltip]="helptext.idmap.ldap_realm.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('bind_path_user')) {
          <ix-input
            formControlName="bind_path_user"
            [label]="'User Bind Path' | translate"
            [required]="isOptionRequired('bind_path_user')"
            [tooltip]="helptext.idmap.bind_path_user.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('bind_path_group')) {
          <ix-input
            formControlName="bind_path_group"
            [label]="'Group Bind Path' | translate"
            [required]="isOptionRequired('bind_path_group')"
            [tooltip]="helptext.idmap.bind_path_group.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('user_cn')) {
          <ix-input
            formControlName="user_cn"
            [label]="'User CN' | translate"
            [required]="isOptionRequired('user_cn')"
            [tooltip]="helptext.idmap.user_cn.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('cn_realm')) {
          <ix-input
            formControlName="cn_realm"
            [label]="'CN Realm' | translate"
            [required]="isOptionRequired('cn_realm')"
            [tooltip]="helptext.idmap.cn_realm.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('ldap_domain')) {
          <ix-input
            formControlName="ldap_domain"
            [label]="'LDAP Domain' | translate"
            [required]="isOptionRequired('ldap_domain')"
            [tooltip]="helptext.idmap.ldap_domain.tooltip | translate"
          ></ix-input>
        }

        @if (isOptionVisible('sssd_compat')) {
          <ix-checkbox
            formControlName="sssd_compat"
            [label]="'SSSD Compat' | translate"
            [required]="isOptionRequired('sssd_compat')"
            [tooltip]="helptext.idmap.sssd_compat.tooltip | translate"
          ></ix-checkbox>
        }
      </ix-fieldset>
      <ix-form-actions>
        <button
          *ixRequiresRoles="requiredRoles"
          type="submit"
          mat-button
          color="primary"
          ixTest="save"
          [disabled]="form.invalid || isLoading"
        >
          {{ 'Save' | translate }}
        </button>
      </ix-form-actions>
    </form>
  </mat-card-content>
</mat-card>
