@font-face {
  font-display: swap;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('../../fonts/Inconsolata/Inconsolata-VariableFont_wdth_wght.ttf') format('truetype');
}
