/* Tooltip container */
.tooltip {
    display: inline-block;
    position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
    position: absolute;
    background-color: black;
    max-width: 400px;
    width: 90vw;
    margin: auto;
    padding: 11px;
    border-radius: 6px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 110%;
    text-align: left;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
    white-space: normal;
}

/* Show the tooltip text when the mouse is hovering over the tooltip container */
.tooltip .tooltiptext.show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.tooltip .material-icons {
    font-size: 20px;
}

.tooltip .tooltiptext.lock {
    visibility: visible !important;
    opacity: 1;
    transition-delay: 0s;
}

.pin {
    position: absolute;
    right: -8px;
    cursor: pointer;
    color: black;
    background: white;
    height: 16px;
}

.pin-icon {
    width: 16px;
    height: 16px;
}
