<div #tooltip class="tooltip" (mouseenter)="showTooltip(true)" (mouseleave)="showTooltip(false)">
  <i class="material-icons">help_outline</i>
  <div class="tooltiptext" [class.show]="isShowTooltip" [class.lock]="isLockTooltip" [ngStyle]="tooltipMsgStyle">
    <div [innerHTML]="message | translate | docreplace"></div>
    <div class="pin" 
      (click)="toggleVis()" 
      matTooltip="Pin or unpin this tooltip.">
      <img *ngIf="!isLockTooltip" class="pin-icon" src="assets/images/add_box.png">
      <img *ngIf="isLockTooltip" class="pin-icon" src="assets/images/subtract_box.png">    </div>
  </div>
</div>