<tn-dialog-shell testId="default-gateway" [title]="'Set Gateway and DNS' | translate">
<div>
  <p class="message">{{ 'Editing interface will result in default gateway being removed, which may result in TrueNAS being inaccessible. You can provide new default gateway and DNS information now:' | translate }}</p>
  <p class="message">{{ 'Current values are pre-filled in the form below.' | translate }}</p>
</div>
<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <div>
    <ix-fieldset>
      <tn-form-field
        [label]="'New IPv4 Default Gateway' | translate"
        [tooltip]="helptext.ipv4gatewayTooltip | translate"
      >
        <tn-input
          testId="default-gateway"
          name="defaultGateway"
          formControlName="defaultGateway"
          [required]="true"
        ></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="'Primary DNS Server' | translate"
        [tooltip]="'Primary DNS server address (optional)' | translate"
      >
        <tn-input
          testId="dns1"
          name="dns1"
          formControlName="dns1"
        ></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="'Secondary DNS Server' | translate"
        [tooltip]="'Secondary DNS server address (optional)' | translate"
      >
        <tn-input
          testId="dns2"
          name="dns2"
          formControlName="dns2"
        ></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="'Tertiary DNS Server' | translate"
        [tooltip]="'Tertiary DNS server address (optional)' | translate"
      >
        <tn-input
          testId="dns3"
          name="dns3"
          formControlName="dns3"
        ></tn-input>
      </tn-form-field>
    </ix-fieldset>
  </div>
</form>

<ix-form-actions tnDialogAction class="form-actions">
  <tn-button variant="outline" testId="cancel" [label]="'Skip' | translate" (onClick)="dialogRef.close(false)"></tn-button>

  <tn-button *ixRequiresRoles="requiredRoles" color="primary" testId="register" [label]="'Register' | translate" [disabled]="form.invalid" (onClick)="onSubmit()"></tn-button>
</ix-form-actions>
</tn-dialog-shell>
