<ix-fieldset [title]="'Credential Configuration' | translate">
  <form class="ix-form-container" [formGroup]="form">
    <ix-select
      formControlName="credential_interface_type"
    [label]="'Credential Type' | translate"
    [options]="credentialTypeOptions$"
    [tooltip]="'Select the type of credential interface to use for authentication' | translate"
  ></ix-select>

  @if (selectedCredentialInterfaceType() === 'KerberosCredentialPrincipal') {
    <ix-select
      formControlName="principal"
      [label]="'Kerberos Principal' | translate"
      [required]="true"
      [options]="kerberosPrincipals$"
      [tooltip]="'Select a Kerberos principal for authentication' | translate"
    ></ix-select>
    @if (configurationType() === 'LDAP') {
      <div class="kerberos-ldap-warning">
        <ix-icon name="info"></ix-icon>
        <span>{{ 'Note: Prior configuration of Kerberos realm is required for LDAP with Kerberos credentials.' | translate }}</span>
      </div>
    }
  }

  @if (selectedCredentialInterfaceType() === 'KerberosCredentialUser') {
    <ix-input
      formControlName="username"
      [label]="'Username' | translate"
      [required]="true"
      [tooltip]="'Username for Kerberos authentication' | translate"
    ></ix-input>

    <ix-input
      formControlName="password"
      type="password"
      [label]="'Password' | translate"
      [required]="true"
      [tooltip]="'Password for Kerberos authentication' | translate"
    ></ix-input>
    @if (configurationType() === 'LDAP') {
      <div class="kerberos-ldap-warning">
        <ix-icon name="info"></ix-icon>
        <span>{{ 'Note: Prior configuration of Kerberos realm is required for LDAP with Kerberos credentials.' | translate }}</span>
      </div>
    }
    @if (configurationType() === 'IPA') {
      <div class="ipa-kerberos-user-info">
        <ix-icon name="info"></ix-icon>
        <span>{{ 'Note: KERBEROS_USER should be used when initially joining an IPA domain.' | translate }}</span>
      </div>
    }
  }

  @if (selectedCredentialInterfaceType() === 'LdapCredentialPlain') {
    <ix-input
      formControlName="binddn"
      [label]="'Bind DN' | translate"
      [required]="true"
      [tooltip]="'Distinguished name for LDAP bind operations' | translate"
    ></ix-input>

    <ix-input
      formControlName="bindpw"
      type="password"
      [label]="'Bind Password' | translate"
      [required]="true"
      [tooltip]="'Password for LDAP bind operations' | translate"
    ></ix-input>
  }

  @if (selectedCredentialInterfaceType() === 'LdapCredentialMutualTls') {
    <ix-select
      formControlName="client_certificate"
      [label]="'Client Certificate' | translate"
      [required]="true"
      [options]="certificates$"
      [tooltip]="'Client certificate for mutual TLS authentication' | translate"
    ></ix-select>
  }

  @if (selectedCredentialInterfaceType() === 'LdapCredentialAnonymous') {
    <div class="ldap-anonymous-info">
      <ix-icon name="info"></ix-icon>
      <span>{{ 'Anonymous binding selected. No additional credentials required.' | translate }}</span>
    </div>
  }
  </form>
</ix-fieldset>