@mixin smd-fab-speed-dial-container($box-orient, $flex-direction) {
  box-direction: normal;
  box-orient: $box-orient;
  flex-direction: $flex-direction;
}

@mixin smd-fab-speed-dial-box-order($ordinal-group, $order) {
  box-ordinal-group: $ordinal-group;
  order: $order;
  order: $order;
}

@mixin smd-fab-speed-dial-actions($box-orient, $box-direction, $flex-direction, $ordinal-group, $order, $action-item-margin-direction) {

  @include smd-fab-speed-dial-box-order($ordinal-group, $order);
  box-direction: $box-direction;
  box-orient: $box-orient;
  flex-direction: $flex-direction;

  .smd-fab-action-item {
    margin-#{$action-item-margin-direction}: 10px;
  }
}

smd-fab-speed-dial {
  display: inline-block;
  position: absolute;
  right: 33px;
  top: 10px;
  z-index: 2;

  &.smd-opened {
    .smd-fab-speed-dial-container {
      smd-fab-trigger {
        &.smd-spin {
          transform: rotate(360deg);
        }
      }
    }
  }

  .smd-fab-speed-dial-container {
    align-items: center;
    box-align: center;
    display: flex;
    position: relative;
    z-index: 20;

    smd-fab-trigger {
      pointer-events: auto;
      z-index: 24;

      &.smd-spin {
        transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    smd-fab-actions {
      display: flex;
      height: auto;
    }
  }

  &.smd-fling {
    .smd-fab-speed-dial-container {
      smd-fab-actions {
        .smd-fab-action-item {
          display: block;
          opacity: 1;
          transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        }
      }
    }
  }

  &.smd-scale {
    .smd-fab-speed-dial-container {
      smd-fab-actions {
        .smd-fab-action-item {
          transform: scale(0);
          transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
          transition-duration: 0.14286s;
        }
      }
    }
  }

  &.smd-down {
    .smd-fab-speed-dial-container {
      @include smd-fab-speed-dial-container(vertical, column);

      smd-fab-trigger {
        @include smd-fab-speed-dial-box-order(2, 1);
      }

      smd-fab-actions {
        @include smd-fab-speed-dial-actions(vertical, normal, column, 3, 2, top);
      }
    }
  }

  &.smd-up {
    .smd-fab-speed-dial-container {
      @include smd-fab-speed-dial-container(vertical, column);

      smd-fab-trigger {
        @include smd-fab-speed-dial-box-order(3, 2);
      }

      smd-fab-actions {
        @include smd-fab-speed-dial-actions(vertical, reverse, column-reverse, 2, 1, bottom);
      }
    }
  }

  &.smd-left {
    .smd-fab-speed-dial-container {
      @include smd-fab-speed-dial-container(horizontal, row);

      smd-fab-trigger {
        @include smd-fab-speed-dial-box-order(3, 2);
      }

      smd-fab-actions {
        @include smd-fab-speed-dial-actions(horizontal, normal, row-reverse, 2, 1, right);
      }
    }
  }

  &.smd-right {
    .smd-fab-speed-dial-container {
      @include smd-fab-speed-dial-container(horizontal, row);

      smd-fab-trigger {
        @include smd-fab-speed-dial-box-order(2, 1);
      }

      smd-fab-actions {
        @include smd-fab-speed-dial-actions(horizontal, normal, row, 3, 2, left);
      }
    }
  }

}

