<tn-dialog-shell testId="set-enclosure-label" [title]="'Change Enclosure Label' | translate">
<form [formGroup]="form" (submit)="onSubmit()">
  <tn-form-field [label]="enclosureLabel | translate">
    <tn-input
      testId="label"
      formControlName="label"
      [required]="!form.value.resetToDefault"
    ></tn-input>
  </tn-form-field>

  <tn-checkbox
    testId="reset-to-default"
    formControlName="resetToDefault"
    [label]="'Reset to default' | translate"
  ></tn-checkbox>

  </form>
<ix-form-actions tnDialogAction>
  <tn-button
    variant="outline"
    testId="cancel"
    [label]="'Cancel' | translate"
    (onClick)="dialogRef.close()"
  ></tn-button>

  <tn-button
    color="primary"
    testId="save"
    [label]="'Save' | translate"
    [disabled]="form.invalid"
    (onClick)="onSubmit()"
  ></tn-button>
</ix-form-actions>
</tn-dialog-shell>
