<table mat-table class="table" id="tab-data" ixTest="element-table" [dataSource]="data">
  Column
  <ng-container matColumnDef="descriptor">
    <th *matHeaderCellDef mat-header-cell>Descriptor<th>
    <td *matCellDef="let row" mat-cell>{{ row.descriptor }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th *matHeaderCellDef mat-header-cell>Status<th>
    <td *matCellDef="let row" mat-cell>{{ row.status }}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th *matHeaderCellDef mat-header-cell>Value<th>
    <td *matCellDef="let row" mat-cell>{{ row.value }}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row ixTest="table-header"></tr>
  <tr *matRowDef="let row; columns: displayedColumns" mat-row [ixTest]="row.name"></tr>
</table>

