/* Universal Overrides for Egret */

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

/* Navigation shorter and fixed to Top */
topbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

topbar {
  top: 0;
}

div.mat-toolbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 64px;
  padding: 0 16px;
  width: 100%;
}

topbar .mat-toolbar .mat-toolbar-row {
  height: 48px !important;
}

.xs .rightside-content-hold {
  padding: 0 !important;
}

@keyframes silde_to_top {
  0% {
    bottom: -60px;
  }

  100% {
    bottom: 0;
    z-index: 1000000;
  }
}

/* Tabbed navigation is fixed too */
.tab-header-fixed .mat-tab-header {
  background: #efefef;
  flex-shrink: 0;
  overflow: hidden;
  position: fixed !important;
  top: 104px;
  width: 100%;
  z-index: 2;
}
/*--- Data table ---*/
.datatable-checkbox input[type='checkbox'] {
  margin-left: -3px;
  margin-top: -10px;
}

.mat-tab-body-wrapper {
  padding: 16px;
}

/* Cards & Tables */
.mat-card-table {
  padding: 0 !important;
}

.mat-card-table .ngx-datatable {
  margin: 0 !important;
}

ngx-datatable .mat-box-shadow {
  box-shadow: none;
}

.mat-card-title-text {
  font-family: var(--font-family-body), sans-serif;
  font-size: 24px;
  margin: 16px;
}

/* mat-sidenav */
mat-sidenav-content.fn-maincontent {
  transform: translate3d(0, 0, 0);
}

body.collapsed-menu mat-sidenav.mat-sidenav-closed mat-sidenav-content.fn-maincontent {
  margin-left: 48px !important;
  margin-right: 0 !important;
  transform: translate3d(0, 0, 0);
}

body.collapsed-menu mat-sidenav-container.mat-drawer-opened mat-sidenav-content.fn-maincontent {
  margin-left: 48px !important;
  margin-right: 0 !important;
  transform: translate3d(0, 0, 0);
}

.mat-sidenav.mat-sidenav-opened,
.mat-sidenav.mat-sidenav-opening {
  transform: translate3d(0, 0, 0);
}

/* side menu*/
.mat-nav-list .mat-list-item {
  display: block;
  height: auto !important;
}

/* Widget Cards */

/* Override our material overrides :)) */

/* END of our Overrides*/

.widget {
  perspective: 1520px !important;
  perspective-origin: 50% 50% !important;
  position: relative;
}

.widget .card-container {
  height: 100%;
  transform-style: preserve-3d;
  width: 100%;
}

.widget .card-container.vertical .back {
  transform: rotateX(-180deg);
}

.widget .card-container.horizontal .back {
  transform: rotateY(-180deg);
}

.widget .mat-card .carousel {
  padding: 0 !important;
}

.xs .widget.splitv.double-height .mat-card,
.xs .widget.splitv.double-height,
.xs .widget.splitv.double-height .card-container {
  height: 840px;
}

.widget .mat-card {
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  right: 0;
  width: 100%;
}

.widget.splitv .mat-card .mat-toolbar-row,
.widget.splith .mat-card .mat-toolbar-row {
  padding: 0 !important;
}

.widget .mat-card .mat-toolbar-row,
.widget .mat-card .mat-toolbar-row,
.widget.splitv .mat-card .mat-toolbar-row,
.widget.splith .mat-card .mat-toolbar-row {
  border-bottom: none !important;
  height: 56px !important;
}

.widget .mat-card,
.widget .mat-raised-button,
.widget .mat-button {
  backface-visibility: hidden;

}

.widget .mat-card .widget-footer {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  bottom: 0;
  padding: 16px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.widget .mat-card-content {
  text-align: center;
}

.report .card-title-text {
  font-size: 20px;
}

.widget .mat-card.back {
  display: none;
}

.legend-item-time {
  height: 82px;
}

.c3 .tick text,
.c3 text.c3-axis-y-label {
  fill: var(--fg2);
  font-weight: 500;
  opacity: 0.8;
}

.c3 text.c3-axis-y-label {
  font-size: 22px;
}

.widget .c3 g.c3-axis {
  opacity: 0.75;
}

.widget .c3 g.c3-axis-y g.tick:first-child {
  opacity: 0;
  visibility: hidden;
}

/* Max Y axis*/
.widget .c3 g.c3-axis-y g.tick tspan {
  font-family: Roboto;
  font-weight: 500;
}

/* Split Layout Widgets */
.widget,
.widget.splitv,
.widget.splith,
.widget.stats-widget {
  left: calc(50% - 270px);
  margin: 8px 0;
  position: relative;
  width: calc(600px * 0.9) !important;
}

/* New Rules */
.widget mat-card-content {
  padding: 0 !important;
}

.widget mat-toolbar-row {
  background: var(--bg2);
}

.widget .mat-card .mat-card-content > div {
  padding: 0 !important;
}

/* MOBILE */
.xs.widget {
  left: -6px;
  min-width: 320px;
  overflow-x: auto;
  top: -10px;
  width: 100vw !important;
}
