/*
 *
 *   EGRET - Angular Material Design Admin Template
 *   version 1.0.0
 *   Supported Angular material 5 - Updated by Lola
 *
*/

/*
# Table of contents
## Globals
## Common
## Loader
## Third pirty adjust
    Scroll Bar
    Data table
## Top Bar
## Main Sidenav
## Collapsed Sidenav
## Pages
    Sign in
    sign up
    forgot
    lockscreen
## Forms
## Inbox
## Calendar
## Chats
## Gallery
## Plans & Pricings
## Users
## Media queries
*/


/*---- Globals -----*/
html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-height: 100%;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  -webkit-touch-callout: none;
  width: 100%;
}

body:not(.safari-platform) {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto',Helvetica Neue,sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

div {
  box-sizing: border-box;
}

.mat-card {
  font-size: 0.875rem;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

.h1,
h1 {
  font-size: 2rem;
}

.h2,
h2 {
  font-size: 1.75rem;
}

.h3,
h3 {
  font-size: 1.5rem;
}

.h4,
h4 {
  font-size: 1.25rem;
}

.h5,
h5 {
  font-size: 1rem;
}

.h6,
h6 {
  font-size: 0.875rem;
}

code {
  background: rgba(0, 0, 0, 0.08);
  font-family: 'Droid Sans Mono', 'Courier New', Courier, monospace !important;
  padding: 8px;
}

samp {
  background: rgba(180, 180, 180, 0.5);
  font-family: 'Droid Sans Mono', 'Courier New', Courier, monospace !important;
  padding: 2px;
}
/*---- Common -----*/
.bg-none {
  background: transparent !important;
}

.bg-white {
  background: #fff !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mb-05 {
  margin-bottom: 0.5rem !important;
}

.margin-333 {
  margin: 0.333333rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1rem !important;
}

.p-05 {
  padding: 0.5rem !important;
}

.height-100 {
  min-height: 100vh;
}

.mat-box-shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.light-gray {
  background: rgba(0, 0, 0, 0.024);
}

.mat-blue {
  background: #247ba0;
  color: #fefefe;
}

.mat-indigo {
  background-color: #3f51b5 !important;
}

.mat-brown {
  background-color: #785548 !important;
  color: #fefefe;
}

.fz-1 {
  font-size: 1rem !important;
}

.fz-2 {
  font-size: 2rem !important;
}

.text-center {
  text-align: center;
}

.font-normal {
  font-weight: normal !important;
}

.text-muted {
  color: rgba(0, 0, 0, 0.54) !important;
}

.text-muted-white {
  color: rgba(255, 255, 255, 0.54) !important;
}

.text-gray {
  color: rgba(0, 0, 0, 0.7) !important;
}

.text-sm {
  font-size: 0.813rem;
}

.material-icons.icon-sm {
  font-size: 18px !important;
  height: 18px;
  line-height: 18px !important;
  width: 18px;
}

.material-icons.icon-xs {
  font-size: 13px !important;
  height: 13px;
  line-height: 13px;
  width: 13px;
}

.mat-card.default {
  padding: 0;
}

.mat-card.default .mat-card-title {
  font-weight: 600;
  line-height: 1;
  padding: 1rem;
}

.mat-card.default>:first-child {
  border-radius: 2px 2px 0 0;
}

.mat-card.default .mat-card-subtitle:first-child {
  padding-top: 1rem;
}

.mat-card.default .mat-card-subtitle {
  line-height: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mat-card.default .mat-card-content {
  margin-bottom: 0;
  padding: 1rem;
  position: relative;
}

.mat-card.default .mat-card-actions,
.mat-card.default .mat-card-actions:last-child {
  margin: 0;
  padding: 0.5rem;
}

.mat-card.default>:last-child {
  border-radius: 0 0 2px 2px;
}

.mat-card {
  margin: 0.333333rem;
  /*overflow: hidden;*/ /* Removed by Daisuke */
}

.mat-card .mat-card-title .mat-divider,
.mat-divider.full-width {
  margin-left: -24px;
  margin-right: -24px;
}

.mat-card.p-0 .mat-card-title .card-title-text {
  padding: 1rem 1.5rem;
}

.mat-card.p-0 .mat-card-title .card-title-text .card-control {
  height: 24px;
  line-height: 24px;
  width: 24px;
}

.mat-card.p-0 .mat-card-title .card-title-text .mat-card-subtitle {
  margin: 0;
}

.mat-card.p-0 .mat-card-title .mat-divider {
  border-top-color: rgba(0, 0, 0, 0.04);
  margin-left: 0;
  margin-right: 0;
}

.mat-card.p-0 .mat-card-image {
  margin: 0 0 1rem !important;
}

.mat-card.p-0 .mat-card-content {
  padding: 0 1.5rem 1.5rem;
}

.mat-button,
.mat-raised-button {
  font-weight: 400 !important;
}

.toolbar-avatar {
  display: inline-block;
  height: 40px;
  line-height: 24px;
  position: relative;
  width: 40px;
}

.toolbar-avatar > img {
  border-radius: 50%;
  width: 40px !important;
}

.toolbar-avatar.mat,
.toolbar-avatar.mat > img {
  height: 48px;
  width: 48px !important;
}

.toolbar-avatar > .status-dot {
  background: #ccc;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  right: -2px;
  top: 25px;
  width: 10px;
}

.full-width {
  width: 100%;
}

.dnd-item {
  cursor: move;
  cursor: grab;
}

.icon-circle {
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
}

.rightside-content-hold {
  overflow-x: hidden;
  padding: 0.333333rem;
}

.text-small {
  font-size: 0.813rem;
}

.text-small .mat-icon {
  font-size: 1rem;
  margin: 0 2px;
  vertical-align: sub;
}

.mat-card-header .mat-card-title {
  font-size: 1rem;
}

.icon-chip {
  align-items: center;
  display: flex !important;
  flex-direction: row;
  font-size: 11px !important;
  justify-content: center;
  padding: 4px 8px !important;
}

.icon-chip .mat-icon {
  font-size: 16px;
  height: 16px;
  margin-right: 4px;
  width: 16px;
}

.mat-chip:not(.mat-basic-chip) {
  border-radius: 24px;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  padding: 8px 12px;
}

.chart {
  display: block;
  width: 100%;
}

.form-error-msg {
  color: #f44336;
  display: block;
  padding: 5px 0;
}

.accordion-handle {
  cursor: pointer;
}

.app-accordion {
  max-height: 200px;
  transition: max-height 0.3s ease;
}

.app-accordion.open {
  max-height: 1000px;
}

.app-accordion .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.app-accordion.open .accordion-content {
  max-height: 800px;
}

.app-accordion.open .hidden-on-open {
  display: none !important;
}

.app-accordion:not(.open) .show-on-open {
  display: none !important;
}

/*---- Loader ----*/
.app-loader {
  align-items: center;
  background: #3f51b5;
  bottom: 0;
  display: flex;
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.loading-logo {
  fill: #000;
  height: 66.6%;
  margin: auto;
  position: relative;
  width: 66.6%;
}

@keyframes sk-bounce {
  0%,
  100% { transform: scale(0); }
  50% { transform: scale(1); }
}
@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.ct-legend {
  list-style-type: none;
  position: relative;
  top: -2.3em !important;
  z-index: 10;
}

.ct-legend li {
  margin-bottom: 4px !important;
  margin-left: 5px !important;
  padding-left: 22px !important;
}
/*---- Third party adjust -----*/
/*--------- Material ---------*/
mat-list a[mat-list-item] .mat-list-item-content,
mat-list mat-list-item .mat-list-item-content,
mat-nav-list a[mat-list-item] .mat-list-item-content,
mat-nav-list mat-list-item .mat-list-item-content,
[mat-menu-item],
.mat-option,
body .mat-select-trigger {
  font-size: 0.875rem !important;
}

.datatable-header-cell-wrapper {
  padding: 0.5rem;
}

.datatable-body-cell-label {
  overflow: hidden;
  padding: 0.5rem;
}

.empty-row {
  padding: 1rem;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  font-weight: 330;
  padding: 0.5rem;
}

.ngx-datatable.fullscreen {
  height: calc(100vh - 90px);
}

.ngx-datatable.fullscreen .datatable-header {
  background: blue;
  overflow: hidden;
  position: fixed;
  z-index: 999;
}

.ngx-datatable.material {
  background: rgba(255, 255, 255, 0.42);
}

.ngx-datatable.material .datatable-header {
  background: rgba(255, 255, 255, 0.66);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  font-weight: 500;
  padding: 0.5rem;
}

.ngx-datatable.material .datatable-header .datatable-header-cell:hover {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
  background: rgba(0, 0, 0, 0.04);
}

.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
  transition-duration: 0.3s;
  transition-property: background;
  transition-timing-function: linear;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  line-height: 2.2rem;
  overflow: hidden;
  /*padding: .9rem .6rem;
    line-height: 0rem;*/
  padding: 0 16px;
}

.ngx-datatable.material .datatable-body .datatable-body-row:last-child {
  border-bottom: 0 solid black;
}

.ngx-datatable.material .datatable-footer {
  border-top: 1px solid rgba(255, 255, 255, 0);
}

.ngx-datatable.material .datatable-footer .page-count {
  height: 50px;
  line-height: 50px;
  padding: 0 1.2rem;
}

.ngx-datatable .datatable-footer .datatable-pager .pager {
  padding: 0 1.2rem !important;
}

.ngx-datatable .datatable-footer .datatable-pager .pager .pages {
  margin: 0 0.5rem;
}

.ngx-datatable .datatable-footer .datatable-pager .pager .pages a {
  border-radius: 3px;
  height: 22px;
  line-height: 22px;
  min-width: 24px;
  padding: 0 6px;
  text-align: center;
  text-decoration: none;
}

.ngx-datatable .datatable-footer .datatable-pager .pager .pages.active a {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
/*------ Map ------*/
.agm-info-window-content {
  color: rgba(0, 0, 0, 0.87);
}
/*-------- Chart js ---------*/
.chart {
  margin-left: -10px;
}

/*-------- Hopscotch Tour ---------*/
div.hopscotch-bubble,
div.hopscotch-bubble .hopscotch-title,
div.hopscotch-bubble .hopscotch-content,
div.hopscotch-bubble .hopscotch-nav-button {
  font-family: 'Roboto',Helvetica Neue,sans-serif !important;
}

div.hopscotch-bubble {
  border: 1px solid;
  border-radius: 2px;
}

div.hopscotch-bubble .hopscotch-bubble-number {
  background: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  padding: 0;
  width: 32px;
}

div.hopscotch-bubble .hopscotch-title {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

div.hopscotch-bubble .hopscotch-content {
  margin: -5px 0 16px;
}

div.hopscotch-bubble .hopscotch-bubble-close {
  background: url('../../images/cancel.png');
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 8px;
  cursor: pointer;
}

div.hopscotch-bubble .hopscotch-bubble-close:active {
  outline: 0;
}
/* up arrow  */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.up {
  top: -17px;
}
/* right arrow */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.right {
  right: -34px;
}
/* bottom arrow */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.down {
  bottom: -34px;
}
/* Left Arrow */
div.hopscotch-bubble .hopscotch-bubble-arrow-container.left {
  left: -17px;
}

div.hopscotch-bubble .hopscotch-nav-button {
  background-image: none !important;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 13px;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  padding: 0 18px;
  text-shadow: none !important;
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

body:not(.safari-platform) div.hopscotch-bubble .hopscotch-nav-button {
  transform: translate3d(0, 0, 0);
}

div.hopscotch-bubble .hopscotch-nav-button:hover,
div.hopscotch-bubble .hopscotch-nav-button:active,
div.hopscotch-bubble .hopscotch-nav-button:focus {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

div.hopscotch-bubble .hopscotch-nav-button.prev,
div.hopscotch-bubble .hopscotch-nav-button.prev:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}

/*---- Top Bar -----*/
.topbar.mat-toolbar {
  /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); */
  min-height: 48px;
}

.topbar .mat-select-value {
  color: #fff;
  font-weight: 400;
}

.notification-number {
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  height: 20px;
  left: 50%;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}

.toggle-collapsed {
  transform: rotate(0deg);
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.collapsed-menu .toggle-collapsed {
  transform: rotate(180deg);
}

.search-bar .top-search-form {
  background: #fff;
  border-radius: 2px;
  display: block;
  margin-left: 20px;
  margin-right: 1rem;
  max-width: 800px;
  position: relative;
}

.search-bar .top-search-form .material-icons {
  color: rgba(0, 0, 0, 0.87);
  left: 10px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
}

.search-bar .top-search-form input {
  background: transparent;
  border: none;
  cursor: text;
  font-size: 1rem;
  outline: 0;
  padding: 0.95rem 0.75rem;
  text-indent: 30px;
  width: 100%;
  z-index: 2;
}

.theme-list .mat-menu-item {
  height: 48px;
  padding: 5px;
  width: 48px;
}

.theme-list .mat-menu-item .egret-swatch {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.theme-list .mat-menu-item .active-icon {
  bottom: 0;
  color: #fff;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.topbar-button-right {
  margin-left: 0.5rem !important;
}

/*---- Main Sidenav -----*/
.branding {
  align-items: center;
  color: #444;
  display: flex;
  height: 64px;
  justify-content: center;
  left: 0;
  line-height: 64px;
  max-width: var(--sidenav-width); /*15rem;*/
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.branding .app-logo {
  height: 40px;
  margin-right: 8px;
  width: auto;
}

.branding .app-logo-text {
  height: 40px;
  width: auto;
}

.app-user {
  opacity: 0.5;
  padding: 1rem 0 0.4rem;
  text-align: center;
  width: 100%;
}

.app-user .app-user-photo {
  height: 64px;
  margin: 0 auto 8px;
  width: 64px;
}

.app-user img {
  border-radius: 50%;
  height: auto;
  width: 100%;
}

.app-user .app-user-name {
  color: rgba(0, 0, 0, 0.96);
  font-size: 0.875rem;
  font-weight: 300;
  margin-left: -2px;
}

.sidebar-band {
  display: block;
  left: 0;
  position: fixed;
  top: 64px;
  width: 100%;
  z-index: 100;
}

.icon-menu {
  padding: 0 24px;
}

.icon-menu .icon-menu-item {
  display: inline-block;
}

.icon-menu .icon-menu-item button {
  margin: 4px;
  min-width: auto;
}

.icon-menu > .mat-divider {
  margin: 1rem 0;
}

.app-side-nav-container {
  height: 100vh;
  height: 100%;
}

.sidebar-panel.mat-sidenav {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  min-height: 620px;
  min-width: var(--sidenav-width); /*15rem;*/
  width: var(--sidenav-width); /*15rem;*/
}

.sidebar-panel.mat-sidenav .navigation-hold {
  background: rgba(255, 255, 255, 0.95);
  height: 100%;
  padding-top: 40px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.nav-section-title {
  display: block;
  font-size: 12px;
  padding: 16px 0 0 16px;
}

.sidebar-panel.mat-sidenav .mat-nav-list .sidebar-list-item .mat-list-item-content {
  display: block;
  font-size: 0.875rem !important;
  height: auto;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  width: 100%;
}

.mat-nav-list .mat-list-item-content.mat-list-item-focus,
.mat-nav-list .mat-list-item-content:hover {
  background: transparent;
}

.sidebar-list-item.open > .mat-list-item-content {
  background: rgba(0, 0, 0, 0.03);
}

.sidebar-panel .mat-nav-list a,
.slide-in-nav-item a {
  align-items: center;
  box-align: center;
  box-direction: normal;
  box-orient: horizontal;
  display: flex;
  flex-align: center;
  flex-direction: row;
  height: 48px;
  padding: 0 16px 0 0;
  position: relative;
  z-index: 99;
}

.sidebar-panel.mat-sidenav .sidebar-list-item mat-icon:not(.menu-caret) {
  height: 48px;
  line-height: 48px;
  margin-right: 8px;
  text-align: center;
  width: 48px;
}

.sidebar-panel.mat-sidenav .mat-list-item-content > a,
.slide-in-nav-item a {
  box-direction: normal;
  box-orient: horizontal;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sidebar-panel.mat-sidenav .sidebar-list-item.open > .mat-list-item-content > .sub-menu {
  max-height: 1000px;
}

.sidebar-panel.mat-sidenav .sidebar-list-item .sub-menu {
  padding: 0;
  transition: max-height 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.sidebar-panel.mat-sidenav .sidebar-list-item .sub-menu .mat-list-item {
  transition: height 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}

.sidebar-panel.mat-sidenav .sidebar-list-item .sub-menu .mat-list-item.selected {
  background: rgba(0, 0, 0, 0.05);
}

.sidebar-panel.mat-sidenav .sub-menu a {
  padding-left: 54px;
}

.app-side-nav-container .mat-sidenav-content {
  padding: 0;
}

/*------- Collapsed Sidenav -------*/
.collapsed-menu .sidebar-panel {
  min-width: 48px;
  overflow: visible !important;
  width: 48px;
}

.collapsed-menu .sidebar-panel .sidebar-list-item {
  border-left: 0 solid rgba(0, 0, 0, 0) !important;
  width: 100% !important;
}

.collapsed-menu .sidebar-panel .navigation-hold,
.collapsed-menu .sidebar-panel .sidebar-list-item > .mat-list-item-content {
  overflow: visible !important;
}

.collapsed-menu .sidebar-panel .icon-menu {
  padding: 0;
}

.collapsed-menu .icon-menu .icon-menu-item button {
  margin: 0 0 4px;
  padding: 0 12px;
}

.collapsed-menu .sidebar-panel .sidebar-list-item > .mat-list-item-content > a {
  padding: 0;
  position: relative;
}

.collapsed-menu .sidebar-panel .sidebar-list-item > .mat-list-item-content > a .menu-item-tooltip {
  background: transparent;
  display: block;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.collapsed-menu .sidebar-panel .branding {
  max-width: 48px;
}

.collapsed-menu .sidebar-panel .branding .app-logo-text {
  display: none;
}

.collapsed-menu .sidebar-panel .branding .app-logo {
  margin: 0;
}

.collapsed-menu .sidebar-panel .sidebar-list-item.open .sub-menu {
  background: #fff;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  display: block;
  left: 47px;
  max-height: 600px !important;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 200px;
  z-index: 9999;
}

.collapsed-menu .sidebar-panel .sidebar-list-item.open .sub-menu .mat-list-item a {
  padding-left: 1rem;
}

.collapsed-menu .sidebar-panel .mat-nav-list > div > .sidebar-list-item a .mat-icon {
  margin: 0;
}

.collapsed-menu .sidebar-panel .mat-nav-list > div > .sidebar-list-item a span:not(.menu-item-tooltip),
.collapsed-menu .sidebar-panel .nav-section-title,
.collapsed-menu .sidebar-panel .icon-menu-separator,
.collapsed-menu .sidebar-panel .app-user,
.collapsed-menu .sidebar-panel .sub-menu {
  display: none;
}

.collapsed-menu .sidebar-panel .mat-nav-list > div >  .sidebar-list-item a .menu-caret {
  font-size: medium;
  left: 33px;
  position: absolute;
  top: 16px;
}


/*---- Pages (Sign in, sign up, forgot, lockscreen) -----*/
.page-wrap {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 40px 1rem;
}

.session-progress {
  bottom: -5px;
  position: relative;
  z-index: 9999;
}

.session-form-hold {
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

.session-form-hold > .mat-card {
  margin: 0;
}

.session-lockscreen {
  max-width: 320px;
}

.lockscreen-user {
  display: flow-root;
  margin-bottom: 1rem;
  overflow: hidden;
}

.lockscreen-face {
  float: left;
  margin-right: 1rem;
  max-height: 72px;
  max-width: 72px;
}


/*---- Forms -----*/
.fileupload-drop-zone {
  border: 1px dashed rgba(0, 0, 0, 0.15);
  height: 120px;
  padding: 48px;
  text-align: center;
}

.default-table {
  text-align: left;
}

.default-table > thead  tr th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-weight: 400;
  padding: 0.9rem 1.2rem;
}

.default-table tbody tr td {
  padding: 0.9rem 1.2rem;
}

/*---- Inbox -----*/
.inbox-sidenav {
  background: transparent !important;
  padding-right: 0.333rem;
  width: 15rem;
}

.inbox-sidenav .inbox-nav-list .mat-list-item-content > a > span {
  font-size: 0.875rem;
}

.inbox-sidenav .mat-list-item-content .mat-icon {
  margin-right: 8px;
}

.inbox-toolbar {
  margin-bottom: 0.333rem;
  min-height: 56px !important;
}

.inbox-toolbar .mat-toolbar-row {
  height: 56px !important;
}

.inbox-toolbar .mat-toolbar-row .inbox-toggle-all {
  align-items: center;
  display: flex;
}

.inbox-toolbar .mat-toolbar-row .mat-checkbox-frame {
  border-color: #fff;
}

.messages-wrap {
  min-height: 800px;
}

.messages.mat-list,
.messages .mat-list-item-content {
  font-size: 0.875rem !important;
  padding: 0 !important;
}

.messages-wrap .inbox-hold {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-right: 1px;
}

.messages-wrap .inbox-hold .message-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.messages-wrap .inbox-hold .message-item:last-child {
  border: 0;
}

.message-item .message-head {
  padding: 0.5rem 0.54rem;
}

.message-item.open .message-head {
  padding: 0.5rem 1.5rem;
}

.message-item.open .message-head {
  background: rgb(250, 250, 250);
}

.message-item .mat-list-item-content {
  display: block !important;
  height: auto !important;
}

.message-item .mat-list-item-content .mail-check {
  padding: 0 0.5rem;
}

.message-item .mat-list-item-content p.accordion-handle {
  margin: 0;
}

.inbox-face {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.message-item .message-text {
  overflow: hidden;
  padding: 1.5rem;
}

/*---- Calendar -----*/
.card-title-text.calendar-title {
  padding: 0.5rem 1.5rem !important;
}

.cal-top-col {
  float: left;
  width: 33.3333%;
}

.cal-event-action .material-icons {
  margin: 6px;
  vertical-align: sub;
}

.cal-open-day-events {
  box-shadow: none !important;
}

/*---- Chats -----*/
.chat-sidenav {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 15rem;
}

.chat-sidebar-toolbar,
.chat-toolbar,
.chat-sidebar-toolbar .mat-toolbar-row,
.chat-toolbar .mat-toolbar-row {
  height: 56px !important;
  min-height: 56px !important;
}

.chats-wrap .conversations-hold .single-conversation {
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 0 2rem;
}

.chats-wrap .conversations-hold .single-conversation .toolbar-avatar {
  margin-right: 1rem;
  vertical-align: bottom;
}

.chats-wrap .conversations-hold .single-conversation .chat-username {
  font-size: 0.875rem;
  margin: 0 0 0.625rem;
}

.chats-wrap .conversations-hold .single-conversation .conversation-msg {
  border-radius: 4px;
  display: inline-block;
  padding: 0.48rem 0.94rem;
}

.chats-wrap .conversations-hold .single-conversation.sender .conversation-msg {
  background: #fff;
}

.chats-wrap .conversations-hold .single-conversation .chat-date {
  clear: both;
  font-size: 11px;
  margin: 0;
  padding: 2px;
}

.chats-wrap .chat-input-actions {
  padding: 0.6rem;
}

.mat-grid-tile .mat-figure {
  align-items: left !important;
  bottom: 0;
  display: flex;
  height: 100%;
  justify-content: left !important;
  left: 0;
  line-height: 25px !important;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.theme-list .mat-menu-item .active-icon {
  font-size: 0.7rem;
  left: 7px;
  top: 12px;
}

.mat-menu-panel.mat-menu-after.mat-menu-below {
  min-width: 140px !important;
}

.theme-list .mat-menu-item {
  font-size: 0.6rem;
  height: 25px;
  padding: 4px;
  width: 25px;
}
/*---- Gallery -----*/
.app-gallery .mat-figure .gallery-control-wrap {
  background: rgba(0, 0, 0, 0.35);
  height: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease-in;
  width: 100%;
}

.app-gallery .mat-figure:hover .gallery-control-wrap {
  opacity: 1;
}

.app-gallery .mat-figure .gallery-control-wrap .gallery-control {
  padding: 0 0 0 1rem;
}

.app-gallery .mat-figure .gallery-control-wrap .gallery-control .photo-detail {
  color: #fefefe;
  line-height: 40px;
  margin: 0;
}

.app-gallery .mat-figure .gallery-control-wrap .gallery-control .mat-icon {
  color: #fff;
}

/*---- Plans & Pricings -----*/
.plan-pricing .mat-list-item .mat-list-item-content {
  display: inline-flex !important;
  font-size: 0.875rem !important;
  text-align: center;
}

/*---- Users -----*/
.user-card .card-title-text {
  align-items: center;
  padding: 0.5rem 1.5rem !important;
}

.user-card .user-details > p:last-child {
  margin-bottom: 0;
}

.user-card .user-details .mat-icon {
  margin-right: 0.5rem;
  vertical-align: top;
}

/*---- Media queries -----*/
@media (max-width: 767px) {
  .mat-card-title .mat-divider {
    margin-left: 0;
    margin-right: 0;
  }

  .cal-top-col {
    width: 100%;
  }

  .accordion-handle {
    flex-direction: column !important;
  }
}

@media (max-width: 959px) {
  .inbox-sidenav {
    background: inherit !important;
  }
}

/*---- Modal Dialog ----*/
.overflow-hide {
  overflow: hidden !important;
}

.system-info .mat-list .mat-list-item-content {
  height: 40px !important;
}

@media (max-width: 415px) {
  .system-info .mat-list .mat-list-item-content {
    height: 50px !important;
  }
}

.system-info .mat-list .mat-list-item-content label,
.system-info .mat-list .mat-list-item-content p {
  overflow: visible;
  white-space: normal;
  word-break: keep-all;
}

/*---- Embedded page ----*/
.embedding-active .sidebar-panel,
.embedding-active topbar,
.embedding-active app-breadcrumb {
  display: none;
}

.embedding-active .rightside-content-hold {
  padding-top: 0 !important;
}

/*---- tooltip ----*/
.tooltip .tooltiptext a {
  color: #bbe2f9;
  text-decoration: underline;
}

.tooltip .tooltiptext a:hover {
  text-decoration: none;
}

.has-tooltip mat-form-field.full-width,
.has-tooltip mat-select.full-width {
  width: 100%;
}

.has-tooltip .tooltip .material-icons {
  vertical-align: middle;
}

/*---- Safari compatibility - to overwrite the current css style ----*/
body.safari-platform .mat-fab,
body.safari-platform .mat-mini-fab,
body.safari-platform .mat-raised-button {
  transform: none;
}

/*---- Ascii art font ----*/
.ascii-art-font {
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace !important;
  line-height: 1 !important;
}
