// Globally available helpers

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden !important;
}

.display-none {
  display: none !important;
}

@keyframes loading {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0.1;
  }
}
