@use '@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();
@import '../scss-imports/cssvars';

// mandatory stuff for theming
$ix-primary: mat.define-palette($md-primary);
$ix-accent: mat.define-palette($md-accent);

// include the custom theme components into a theme object
$ix-theme: mat.define-light-theme($ix-primary, $ix-accent);

$primary-dark: darken(map-get($md-primary, 500), 8%);

@mixin ix-tree-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .ix-tree {
    background: var(--bg2);
    color: var(--fg2);
  }

  .ix-tree-node,
  .ix-nested-tree-node {
    color: var(--fg2);
  }
}

// Bring theme colors to various ripple effects
@mixin mat-ripple-theme($theme) {
  .mat-checkbox .mat-ripple-element,
  .mat-radio-button .mat-ripple-element {
    @include variable(background, --accent, $accent, !important);
  }

  .mat-button.mat-primary .mat-ripple-element,
  .mat-icon-button.mat-primary .mat-ripple-element,
  .mat-tab-label .mat-ripple-element {
    @include variable(background, --primary, $primary, !important);
  }

  .mat-button.mat-accent .mat-ripple-element,
  .mat-icon-button.mat-accent .mat-ripple-element,
  .mat-slide-toggle .mat-ripple-element {
    @include variable(background, --primary, $primary, !important);
  }

  .mat-button .mat-ripple-element,
  .mat-raised-button .mat-ripple-element {
    background: rgba(0, 0, 0, 0.12);
  }
}

// include the custom theme object into the angular material theme
.ix-dark {
  @include mat.all-component-themes($ix-theme);
  @include ix-tree-theme($ix-theme);

  // UI SHELL
  .mat-sidenav-container {
    height: 100vh;
  }

  ix-topbar .mat-toolbar-multiple-rows {
    min-height: unset;
  }

  .mat-sidenav {
    min-width: 240px;
  }

  // END UI SHELL

  img.fn-img {
    margin: 10%;
    width: 80%;
  }

  .mat-bg-primary,
  .sidebar-panel.mat-sidenav .sidebar-list-item.open md-icon:not(.menu-caret),
  .chats-wrap .conversations-hold .single-conversation.me .conversation-msg,
  .ngx-datatable .datatable-footer .datatable-pager .pager .pages.active a,
  .fileupload-drop-zone.dz-file-over,
  .toolbar-avatar.online > .status-dot,
  .cal-open-day-events {
    background: map-get($md-primary, 500) !important;
    color: #fff !important;
  }

  .mat-color-primary,
  .sidebar-panel.mat-sidenav .sidebar-list-item.open .sub-menu .mat-list-item.selected a {
    color: map-get($md-primary, 500) !important;
  }

  .sidebar-panel .mat-nav-list .mat-list-item {
    color: rgba(0, 0, 0, 0.94);
  }

  .sidebar-panel.mat-sidenav .sidebar-list-item.open > .mat-list-item-content > .sub-menu {
    @include variable(border-left, --primary, $primary, !important);
  }

  .breadcrumb-bar {
    @include variable(color, --fg1, $fg1, !important);
  }

  .mat-checkbox-label {
    color: var(--fg1);
  }

  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: var(--primary);
  }

  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: var(--primary);
  }

  .mat-bg-accent {
    background-color: map-get($md-accent, 500);
    color: black;
  }

  .mat-bg-warn {
    @include variable(background-color, --red, $red);
    color: white;
  }

  .mat-color-accent {
    @include variable(color, --accent, $accent);
  }

  .mat-color-warn {
    @include variable(color, --warn, $warn);
  }

  .mat-sidenav-container {
    @include variable(background, --bg1, $bg1);
  }

  .mat-snack-bar-container {
    background-color: var(--bg1);
    color: var(--fg1);
  }

  /////////////////// Typography (egret overrides)

  html,
  body {
    font-size: 13px;
    /* Experimental thin fonts */
    font-weight: 250;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h4 {
    font-size: 15px;
  }

  /////////////////// SpecSelectors: Selectors not originally in ix-dark theme
  .mat-tab-label,
  .mat-tab-link {
    @include variable(color, --fg1, $fg1);
  }

  .mat-menu-item .mat-icon:not([color]),
  .mat-menu-item .theme-picker-swatch .mat-icon:not([color]),
  .mat-menu-item-submenu-trigger::after {
    @include variable(color, --fg1, $fg1);
  }

  .mat-toolbar,
  .mat-raised-button {
    @include variable(color, --fg1, $fg1);
    background-color: rgba(0, 0, 0, 0.1);
  }

  .mat-bg-primary,
  .mat-raised-button.mat-primary,
  .mat-fab.mat-primary,
  .mat-mini-fab.mat-primary,
  .sidebar-panel.mat-sidenav .sidebar-list-item.open md-icon:not(.menu-caret),
  .chats-wrap .conversations-hold .single-conversation.me .conversation-msg,
  .ngx-datatable .datatable-footer .datatable-pager .pager .pages.active a,
  .fileupload-drop-zone.dz-file-over,
  .toolbar-avatar.online > .status-dot,
  .cal-open-day-events,
  .mat-step-header .mat-step-icon {
    @include variable(background, --primary, $primary, !important);
    @include variable(color, --primary-txt, $primary-txt, !important);

  }

  .ngx-datatable.material {
    background: none;
  }

  .datatable-header,
  .datatable-footer {
    @include variable(border-top-color, --bg1, $bg1, !important);
    border-top-style: solid;
    border-top-width: 1px;
  }

  .datatable-header,
  .datatable-footer {
    @include variable(background, --bg2, $bg2, !important);
    background-color: rgba(0, 0, 0, 0.75);
  }


  .mat-bg-accent,
  .mat-raised-button.mat-accent,
  .mat-fab.mat-accent,
  .mat-mini-fab.mat-accent,
  .ngx-datatable .datatable-footer .datatable-pager .pager .pages.active a,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    @include variable(background, --accent, $accent, !important);
    @include variable(color, #000, #000, !important);
    background-color: map-get($md-accent, 500);
    color: black;
  }

  .mat-drawer,
  .sidebar-panel.mat-sidenav .navigation-hold#scroll-area,
  .mat-card,
  .mat-paginator,
  .mat-select-content,
  .mat-select-panel,
  .mat-select-panel-done-animating,
  .mat-expansion-panel,
  .mat-dialog-container,
  .mat-stepper-horizontal,
  .mat-stepper-vertical,
  .dx-treelist-container {
    @include variable(background, --bg2, $bg2);
    @include variable(color, --fg2, $fg2);
  }

  .mat-button-toggle-checked {
    @include variable(color, --fg2, $fg2);
    background-color: rgba(0, 0, 0, 0.1);
  }

  .mat-card .mat-divider {
    @include variable(background, --alt-fg1, $alt-fg1);
    opacity: 0.15;
  }


  .sidebar-panel .mat-nav-list .mat-list-item,
  .app-user .app-user-name,
  .text-muted,
  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description,

  .mat-list .mat-list-item,
  .mat-menu-panel button,
  .mat-menu-panel a,
  .mat-paginator-navigation-next,
  .mat-paginator-navigation-previous,

  .mat-nav-list .mat-list-item,
  .mat-form-field-label,
  .mat-selection-list .mat-list-item,
  .mat-option,
  .mat-select-arrow,
  .mat-select-value {
    @include variable(color, --fg2, $fg2, !important);
  }

  .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow,
  .mat-select-disabled .mat-select-value {
    @include variable(color, --fg2, $fg2);
    cursor: not-allowed;
    opacity: 0.38;
  }

  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    @include variable(color, --primary, $primary, !important);
  }

  .mat-checkbox-disabled .mat-checkbox-label {
    @include variable(color, --grey, #4d4d4d);
    cursor: not-allowed;
    opacity: 0.6;
  }

  .mat-checkbox-disabled .mat-checkbox-frame,
  .mat-checkbox-disabled .mat-checkbox-inner-container {
    opacity: 0.7;
  }

  .menu-toggle {
    .mat-icon {
      position: relative;
      right: -10px;
      vertical-align: middle;
    }
  }

  .mat-menu-panel,
  .mat-option.mat-active,
  .mat-nav-list a {
    @include variable(background, --bg2, $bg2);
    @include variable(color, --fg2, $fg2, !important);
  }

  .mat-form-field-underline {
    @include variable(background-color, --fg2, $fg2, !important);
    opacity: 0.35;
  }

  .mat-warn .mat-form-field-underline {
    opacity: 0.85;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple {
    @include variable(background-color, --primary, $primary, !important);
  }

  #test-alert {
    @include variable(color, --fg2, $fg2);
  }

  .mat-form-field.mat-focused.mat-primary {
    @include variable(color, --fg2, $fg2, !important);
  }

  .mat-form-field-invalid .mat-form-field-label {
    color: #f44336 !important;
  }

  .mat-form-field-disabled .mat-form-field-label {
    opacity: 0.38;
  }

  .mat-button:disabled {
    opacity: 0.38;
  }

  .mat-form-field-ripple {
    @include variable(background-color, --primary, $primary);
  }

  .mat-input-element {
    @include variable(caret-color, --fg2, $fg2, !important);
  }

  .mat-input-element:disabled {
    @include variable(color, --fg2, $fg2);
    opacity: 0.38;
  }

  .mat-calendar-table-header,
  .mat-calendar-table,
  .mat-calendar-body-cell-content,
  .mat-calendar-body-label {
    @include variable(color, --fg2, $fg2);
  }

  .mat-calendar-table-header,
  .mat-calendar-body-cell,
  .mat-calendar-body-cell-content {
    cursor: default;
  }

  .mat-raised-button.mat-primary[disabled],
  .mat-raised-button.mat-accent[disabled],
  .mat-raised-button.mat-warn[disabled],
  .mat-raised-button[disabled][disabled],
  .mat-fab.mat-primary[disabled],
  .mat-fab.mat-accent[disabled],
  .mat-fab.mat-warn[disabled],
  .mat-fab[disabled][disabled],
  .mat-mini-fab.mat-primary[disabled],
  .mat-mini-fab.mat-accent[disabled],
  .mat-mini-fab.mat-warn[disabled],
  .mat-mini-fab[disabled][disabled] {
    @include variable(background-color, #999, #999);
    opacity: 0.38;
  }

  .egret-swatch,
  .mat-checkbox-frame,
  .mat-radio-outer-circle {
    @include variable(border-color, --primary, $primary);
  }

  .headerCheckBox .mat-checkbox-frame,
  .ngx-datatable .datatable-body .mat-checkbox-frame {
    @include variable(border-color, --alt-fg1, $alt-fg1, !important);
  }

  .mat-expansion-indicator::after,
  button.card-close,
  .mat-pseudo-checkbox {
    @include variable(color, --fg1, $fg1);
  }

  .toggle-children {
    filter: invert(50%);
    left: 4px;
    top: 5px;
  }

  .mat-menu-item[disabled] {
    @include variable(color, --primary-txt, $primary-txt);
    opacity: 0.38;
  }

  .spacer {
    flex: 1 1 auto;
  }

  // System wide hover effects
  .mat-select-panel .mat-option:focus,
  .mat-select-panel .mat-option:focus-visible,
  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    @include variable(background, --primary, $primary, !important);
    @include variable(color, --primary-txt, $primary-txt, !important);
  }

  .mat-menu-content button.mat-menu-item:hover,
  .mat-menu-content button.mat-menu-item:hover .mat-icon:not(.theme-picker-swatch-icon),
  .ngx-datatable .datatable-body .datatable-row-wrapper:hover,
  .ngx-datatable .datatable-body .datatable-row-wrapper:hover .plugin-buttons,
  .ngx-datatable .datatable-body .datatable-row-wrapper:hover .plugin-icons,
  .mat-menu-content button.mat-menu-item:focus,
  .mat-menu-content button.mat-menu-item:focus .mat-icon:not(.theme-picker-swatch-icon),
  .ngx-datatable .datatable-body .datatable-row-wrapper:focus {
    background-color: var(--hover-bg);
  }

  .ngx-datatable .datatable-body .datatable-row-wrapper:hover .mat-checkbox .mat-checkbox-frame {
    @include variable(border-color, --primary-txt, $primary-txt, !important);
  }

  .ngx-datatable .datatable-body .datatable-row-wrapper:hover .mat-slide-toggle:not(.mat-checked) .mat-slide-toggle-bar {
    @include variable(background, --bg1, $bg1, !important);
  }

  // Treelists in storage/volumes
  .mat-expansion-panel-body {
    position: relative;
  }

  .dx-treelist-container {
    background: transparent;
  }

  .dx-treelist-headers {
    border-bottom: none;
  }

  .dx-treelist-rowsview {
    border: 0;
  }

  .dx-treelist .dx-column-lines> td {
    border-left: solid 1px rgba(128, 128, 128, 0.1);
    border-right: none;
  }

  .dx-treelist .dx-row-lines > td {
    border-color: rgba(128, 128, 128, 0.1);
  }

  tr.dx-row:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  // END Treelist styles

  //Entity Module Overrides

  ix-device-edit .form-card.mat-card,
  ix-entity-form .form-card.mat-card {
    margin: 0 auto;
    max-width: 960px;
  }

  .mat-card-actions .mat-button {
    margin-left: 1px !important;
    margin-right: 3px !important;
  }

  .form-card.mat-card {
    font-size: 12px;
  }

  .fieldset-label {
    margin-bottom: 16px;
    min-width: 100%;
  }

  .combo-box-menu.mat-menu-panel {
    max-height: 256px;
  }

  .mat-checkbox {
    margin: 4px 8px;
  }

  .form-line .mat-checkbox {
    margin-left: 0;
  }

  .ngx-datatable .mat-checkbox-inner-container {
    margin-left: 4px;
  }

  .mat-checkbox-inner-container {
    height: 16px;
    overflow: visible;
    width: 16px;
  }

  .mat-checkbox-ripple {
    left: -17px;
    top: -17px;
  }
  /////////////////// END SpecSelectors

  .mat-dialog-container {
    max-width: 800px;
  }

  .overflow-dialog .mat-dialog-container {
    max-height: calc(100vh - 100px);
    overflow: auto !important;
  }

  .ix-overflow-dialog .mat-dialog-container {
    max-height: calc(100vh - 100px);
    overflow: auto !important;
    padding-top: 0;
  }

  .mat-dialog-title {
    .warning-icon {
      color: #ffc107;
      font-size: 35px;
      margin-right: 10px;
      position: relative;
      top: 8px;
    }
  }

  .mat-dialog-content {
    overflow: hidden;
    padding-bottom: 0;

    .more-info {
      align-items: center;
      cursor: pointer;
      display: flex;
      gap: 8px;
      min-height: 40px;
    }

    .more-info .mat-icon {
      margin: 0 4px;
    }

    .info-panel {
      border: 0;
      max-height: 100px;
      overflow: hidden;
      padding: 0;
      transition: max-height 0.5s linear;

      &.open {
        margin-bottom: 24px;
        max-height: calc(80vh - 48px - 240px); // Viewport - topbar - sum of sibling elements
        padding: 2px;
      }

      .textarea {
        background: var(--contrast-darker);
        border: 1px solid var(--lines);
        color: var(--fg2);
        height: 100%;
        min-height: 100px;
        overflow: auto;
        padding: 1rem;
      }
    }
  }

  // To fix alignment issues w/checkboxes on Create Pool page
  .headerCheckBox {
    left: 16px;
    margin-top: 7px;
    position: relative;
  }

  // For Detach Pools functions on volumes-list.component.ts
  #pool_detach_warning,
  #pool_processes {
    margin-bottom: 15px;
  }

  // For some items on VM Wizard Hard Disks page
  #disk_radio {
    max-width: 220px;
  }
  // ---------------

  // Vertically align header-footer items on datatables
  .datatable-header-cell {
    position: relative;
  }

  // Put header labels directly over cells
  .datatable-header-cell-label {
    margin-left: 7px;
    position: relative;
    text-align: center;
    top: 7px;
  }

  // Fix bug where ngx-datatable rows get stuck at original window width
  .datatable-scroll {
    min-width: 100%;
  }

  // Style the ix logo with the primary theme color
  .ix-logo {
    @include variable(fill, --primary, $primary);
  }

  // Color the small lock icon with theme colors
  .app-user-name .icon-xs {
    @include variable(color, --fg2, $fg2, !important);
  }

  .mat-spinner circle {
    @include variable(stroke, --primary, $primary, !important);
  }

  // Add a visual effect when any sidenav menu item is clicked
  .highlight {
    opacity: 0.5;
  }

  // Add rule for entity wizards to make text light on dark themes
  .mat-step-header .mat-step-label.mat-step-label-active {
    @include variable(color, --fg2, $fg2);
    opacity: 1;
  }

  .mat-step-header .mat-step-label {
    @include variable(color, --fg2, $fg2);
    opacity: 0.38;
  }

  // Style file trees to be highlighted with a theme color
  .node-content-wrapper:hover,
  .node-content-wrapper-focused {
    background-color: var(--bg2);
  }

  // Give vdev and dual-list arrow buttons theme colors
  .vdev-action-btn,
  .dual-list-action-btn {
    @include variable(background, --bg1, $bg1);
  }

  .vdev-action-btn .arrow,
  .dual-list-action-btn .arrow {
    @include variable(color, --primary, $primary);
    font-size: 36px;
    height: 36px;
    width: 36px;
  }

  ix-dual-listbox .chosen .mat-list-item-content {
    color: var(--fg2);
  }

  .vdev-action-btn:disabled {
    opacity: 0.38;
  }

  #vdev__close-button {
    color: var(--primary) !important;
  }

  // style nav chevrons on datatable pager w/regard to theme
  .mat-button-wrapper .mat-paginator-decrement,
  .mat-button-wrapper .mat-paginator-increment {
    @include variable(border-color, --fg1, $fg1);
  }

  .mat-icon-button:disabled .mat-button-wrapper .mat-paginator-decrement,
  .mat-icon-button:disabled .mat-button-wrapper .mat-paginator-increment {
    @include variable(border-color, --fg1, $fg1);
    opacity: 0.38;
  }

  // style to make sure all radio buttons catch the theme color
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    @include variable(background-color, --primary, $primary, !important);
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    @include variable(border-color, --primary, $primary, !important);
  }

  // Fix icon color in notification area
  .info-icon {
    @include variable(color, --primary, $primary, !important);
  }

  .mat-spinner circle {
    @include variable(stroke, --primary, $primary, !important);
  }

  // Theme color for slider (Shell page and elsewhere)
  .mat-slider {
    @include variable(color, --accent, $accent, !important);
  }

  .mat-slider-track-fill,
  .mat-slider-thumb {
    @include variable(background-color, --accent, $accent, !important);
  }

  // Fix a layout problem on Sharing/ISCSI page with ink-bar under active link...
  ix-iscsi .mat-tab-label-active,
  ix-reports-dashboard .mat-tab-label-active {
    @include variable(border-color, --primary, $primary);
    border-bottom: 2px solid;
  }

  //...by hiding ink bar, replacing it with a bottom border, above.
  ix-iscsi .mat-ink-bar,
  ix-reports-dashboard .mat-ink-bar {
    opacity: 0;
  }

  // Adjustment of highlight over page number on pager in footer
  .ngx-datatable .datatable-footer .datatable-pager .pager .pages.active a {
    padding-top: 1px;
  }

  // Background visually links the items in the form-explorer
  .form-ex-flex-container {
    @include variable(background, --bg1, $bg1);
  }

  // Helper styles for red,blue,green,cyan,orange,magenta,violet,yellow
  // The --color-txt css vars are generated by theme service
  .fn-theme-primary {
    @include variable(background-color, --primary, $primary);
    @include variable(color, --primary-txt, $primary-txt);
  }

  .fn-theme-tooltip {
    @import '~ngx-popperjs/scss/theme';
    @include ngx-popperjs-theme(var(--primary), var(--primary-txt), 400px, 20001);
  }

  .fn-theme-red {
    @include variable(background-color, --red, $red);
    @include variable(color, --red-txt, $red-txt);
  }

  .fn-theme-blue {
    @include variable(background-color, --blue, $blue);
    @include variable(color, --blue-txt, $blue-txt);
  }

  .fn-theme-grey {
    @include variable(background-color, --grey, #4d4d4d);
    @include variable(color, --grey, #4d4d4d);
  }

  .fn-theme-green {
    @include variable(background-color, --green, $green);
    @include variable(color, --green-txt, $green-txt);
  }

  .fn-theme-cyan {
    @include variable(background-color, --cyan, $cyan);
    @include variable(color, --cyan-txt, $cyan-txt);
  }

  .fn-theme-orange {
    @include variable(background-color, --orange, $orange);
    @include variable(color, --orange-txt, $orange-txt);
  }

  .fn-theme-magenta {
    @include variable(background-color, --magenta, $magenta);
    @include variable(color, --magenta-txt, $magenta-txt);
  }

  .fn-theme-violet {
    @include variable(background-color, --violet, $violet);
    @include variable(color, --violet-txt, $violet-txt);
  }

  .fn-theme-yellow {
    @include variable(background-color, --yellow, $yellow);
    @include variable(color, --yellow-txt, $yellow-txt);
  }

  .fn-theme-contrast-darker {
    background-color: var(--contrast-darker);
    color: var(--fg2);
  }

  .fn-theme-contrast-lighter {
    background-color: var(--contrast-lighter);
    color: var(--fg2);
  }

  .mat-button {
    @include variable(font-family, --font-family-body, $font-family-body, !important);
    background: var(--btn-default-bg);
    font-weight: 700 !important;
    text-transform: capitalize !important;
  }

  .mat-stroked-button {
    background-color: transparent !important;
    border: 1px solid currentColor !important;
    border-radius: 25px;
    line-height: 28px;

    &.fn-theme-primary {
      @include variable(color, --primary, $primary);
    }

    &.fn-theme-grey {
      @include variable(color, --grey, #4d4d4d);
    }

    &.fn-theme-red {
      @include variable(color, --red, $red);
    }

    &.fn-theme-blue {
      @include variable(color, --blue, $blue);
    }

    &.fn-theme-green {
      @include variable(color, --green, $green);
    }

    &.fn-theme-cyan {
      @include variable(color, --cyan, $cyan);
    }

    &.fn-theme-orange {
      @include variable(color, --orange, $orange);
    }

    &.fn-theme-magenta {
      @include variable(color, --magenta, $magenta);
    }

    &.fn-theme-violet {
      @include variable(color, --violet, $violet);
    }

    &.fn-theme-yellow {
      @include variable(color, --yellow, $yellow);
    }
  }

  .mat-button[color='default'] {
    @include variable(color, --fg2, $fg2, !important);
  }

  // Gets checkboxes in SMART tests to pick up theme color
  .mat-checkbox-checked .mat-checkbox-background,
  .mat-primary .mat-pseudo-checkbox-checked,
  .mat-primary .mat-pseudo-checkbox-indeterminate,
  .mat-primary.mat-checkbox-indeterminate .mat-checkbox-background {
    @include variable(background, --primary, $primary, !important);
    border: none;
  }

  .mat-checkbox .mat-checkbox-background {
    @include variable(border-color, --primary, $primary, !important);
    border: solid 2px;
  }

  .mat-checkbox.mat-checkbox-disabled,
  .mat-checkbox.mat-checkbox-checked.mat-checkbox-disabled {
    cursor: not-allowed;
  }

  .mat-checkbox.mat-checkbox-disabled .mat-checkbox-background,
  .mat-checkbox.mat-checkbox-checked.mat-checkbox-disabled .mat-checkbox-background {
    @include variable(background, --grey, #4d4d4d, !important);
    @include variable(border-color, --grey, #4d4d4d, !important);
    border: solid 2px;
  }

  .form-selection-list {
    .mat-pseudo-checkbox {
      @include variable(border-color, --primary, $primary, !important);
      border: solid 2px;
      opacity: 0.75;

      &::after {
        border-bottom: 1.35px solid currentColor;
        border-left: 1.35px solid currentColor;
      }
    }

    .mat-list-text {
      opacity: 0.75;
    }
  }

  // for multi-selection only
  .mat-option-pseudo-checkbox.mat-pseudo-checkbox {
    display: none;
  }

  // Bring tooltips to the front in dialogs
  .mat-dialog-container,
  .mat-dialog-content {
    overflow: visible !important;
  }

  // Fix for overscrolling problem with sidenav
  .sidebar-panel.mat-sidenav .navigation-hold {
    position: static !important;
  }

  .mat-drawer {
    overflow-y: hidden !important;
  }

  ix-admin-layout .not-alerts .mat-drawer-inner-container {
    overflow: visible !important;
  }

  // Bring theme colors to rollover effect for standard primary buttons
  .mat-button.mat-primary .mat-button-focus-overlay {
    @include variable(background-color, --primary, $primary);
    opacity: 0.12;
  }

  // Bring theme colors to rollover effect for standard accent buttons
  .mat-button.mat-accent .mat-button-focus-overlay {
    @include variable(background-color, --accent, $accent);
    opacity: 0.12;
  }

  // Bring theme color to tab underline on Theme Preview
  #theme-preview .mat-ink-bar {
    @include variable(background-color, --primary, $primary !important);
  }

  // Bring theme color to small icon buttons
  .mat-icon-button.mat-primary {
    @include variable(color, --primary, $primary !important);
  }

  .mat-icon-button.mat-accent {
    @include variable(color, --accent, $accent !important);
  }

  // Make room for checkbox ripple effect in datatables
  .datatable-header-cell .mat-checkbox,
  .datatable-body-cell .mat-checkbox {
    margin-left: 5px;
  }

  .ngx-datatable .datatable-header .datatable-header-cell .sort-btn {
    vertical-align: -8px;
  }

  // Adjustments to checkboxes and header labels on unique tables
  ix-services .datatable-body-cell .mat-checkbox {
    bottom: 7px !important;
  }

  ix-services .datatable-header-cell-label {
    margin-left: 15px;
  }

  .mat-progress-bar-fill::after {
    @include variable(background-color, --primary, $primary);
  }

  .mat-progress-bar-buffer {
    @include variable(background-color, --primary, $primary);
    opacity: 0.5;
  }

  .mat-progress-bar .mat-progress-bar-background {
    display: none;
  }

  .mat-tab-nav-bar,
  .mat-tab-header {
    border-bottom: 1px solid var(--lines);
  }

  ix-entity-dialog .has-pwtoggle {
    background: rgba(0, 0, 0, 0) !important;
    padding: 0 0 10px !important;

    mat-form-field {
      width: 79% !important;
    }
  }

  .toggle_pw {
    @include variable(display, --toggle_pw_display_prop, $toggle-pw-display-prop);
  }

  datatable-selection > .empty-row {
    color: var(--alt-fg1);
  }

  #update-info {
    color: var(--accent);
  }

  .mat-simple-snackbar-action {
    color: var(--accent);
  }

  input[type=number] {
    appearance: textfield !important;
  }

  input[type=number]::-webkit-inner-spin-button {
    appearance: none;
  }

  .mat-autocomplete-panel {
    background: var(--bg2) !important;
  }

  .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover),
  .mat-autocomplete-panel .mat-option:hover {
    background-color: var(--primary) !important;
  }

  .mat-autocomplete-panel .mat-option-text {
    color: var(--fg2) !important;
  }

  .ui-treetable-thead {
    text-align: left;
    vertical-align: top;
  }

  ix-volumes-list .ui-treetable-resizable .ui-treetable-tfoot>tr>td,
  .ui-treetable-resizable .ui-treetable-tbody>tr>td {
    max-width: 300px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }

  ix-volumes-list td[id^='tbody__comments_'] {
    min-width: 200px;
    text-overflow: unset;
    white-space: normal !important;
  }

  .ngx-datatable .datatable-header .datatable-header-cell .resize-handle {
    @include variable(border-color, --primary-txt, $primary-txt);
    border-right: 1px solid !important;
    opacity: 0.25;
    visibility: visible !important;
  }

  .datatable-header-inner {
    height: 52px;
  }

  .rightside-content-hold {
    overflow-y: auto;
  }

  ix-select-dialog .mat-select-placeholder,
  ix-ipmi .mat-select-placeholder {
    @include variable(color, --fg2, $fg2);
  }

  ix-acmedns-form {
    h4 {
      font-size: 20px;
    }

    .fieldset:first-of-type {
      padding-left: 5px;
    }

    .fieldset:nth-of-type(2) {
      padding-left: 30px;
      padding-top: 38px;
    }

    p .material-icons {
      font-size: 36px;
      margin-left: -4px;
      margin-right: 10px;
      position: relative;
      top: 10px;
    }

    #select_auth,
    #auth_attributes {
      font-size: 140%;
    }
  }

  #acme_directory_uri mat-form-field {
    width: 50%;
  }

  ix-certificate-acme-add #authenticators {
    position: relative;
    top: -18px;
  }

  ix-entity-form ix-form-combobox mat-form-field {
    min-width: 180px;
    width: 50%;
  }

  mat-radio-group .radio-option-tooltip {
    left: 5px;
    position: relative;
  }

  .tooltiptext samp {
    background: rgba(255, 255, 255, 0.25);
  }

  .node-content-wrapper {
    margin-left: 2px;
    padding-left: 3px;
  }

  tree-node-content .mat-icon {
    vertical-align: top;
  }

  tree-node-content span {
    line-height: 25px;
    padding-left: 3px;
    vertical-align: top;
  }

  .mat-card {
    border-radius: 6px;
  }


  // Scrollbars need separate rules for firefox and webkit

  ix-entity-dialog #pool_processes p,
  ix-export-disconnect-modal .pool-summary,
  ix-confirm-dialog .warning-box {
    background-color: rgb(223, 223, 223);
    color: rgb(19, 19, 19);
    max-height: 170px;
    overflow-y: auto;
    padding: 3px;
    width: 100%;
  }

  ix-confirm-dialog pre,
  ix-error-dialog pre {
    background: rgba(0, 0, 0, 0.096);
    overflow-x: auto;
    padding: 5px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  .fieldset-container {
    .disabled-select .mat-select-arrow {
      opacity: 0.38;
    }

    ix-entity-form-list .form-list .form-list-item > div.form-line {
      display: block;
    }

    #failover_address,
    #failover_virtual_address {
      width: 85%;
    }

  }

  ix-iscsi .mat-tab-links {
    flex-wrap: wrap;
  }

  ix-interfaces-list #timeout-field {
    text-align: center;
    width: 50px;
  }

  ix-confirm-dialog div.message-content p {
    margin-bottom: 10px;
  }

  ix-eula p {
    margin-bottom: 15px;
  }

  mat-error a {
    text-decoration: underline;
  }

  .mat-select-panel {
    max-height: 50vh !important; // values over 50vh will push last visible element out the screen
  }

  tree-viewport {
    max-height: 300px;
    overflow: auto;
  }

  ix-two-factor {
    #instructions,
    #enabled_status {
      font-size: 115%;
    }

    #enabled_status {
      margin-bottom: 8px;
    }

    button {
      margin-top: 8px !important;
    }
  }

  ix-qr-dialog {
    text-align: center;

    #qr-dialog-buttons {
      flex-direction: row-reverse;
    }
  }

  .chip-warn {
    background-color: var(--red) !important;
    color: white !important;

    .mat-icon {
      color: white !important;
      opacity: 0.8 !important;
    }
  }

  .entity-table-cell-error {
    color: var(--red) !important;
  }

  mat-hint {
    color: var(--yellow) !important;
    font-size: 0.7rem;
  }

  /// Slide-in menu ///////////////////////////////

  .sidebar-panel.mat-sidenav .sidebar-list-item {
    border-bottom: 1px solid var(--lines);
    border-left: 6px solid rgba(0, 0, 0, 0);
    width: calc(100% - 6px);
  }

  .sidebar-panel.mat-sidenav .sidebar-list-item:hover {
    border-left: 6px solid var(--hover-bg);
  }

  .sidenav-link:hover,
  .slide-in-nav-item:hover,
  .mat-button.mat-default:hover {
    background: var(--hover-bg) !important;
  }

  .slide-in-nav-item:focus-within {
    background-color: var(--hover-bg) !important;
    box-shadow: -1px 0 0 1px var(--btn-default-bg) !important;
  }

  .sidebar-panel.mat-sidenav .sidebar-list-item.highlighted {
    background-color: var(--bg2);
    border-left: 6px solid var(--primary);

    .mat-list-item-content > a {
      background-color: var(--bg2);

      ix-icon {
        color: var(--primary);
      }
    }

    .mat-list-item-content > a:focus-visible {
      background: var(--hover-bg);
    }
  }

  .slidein-nav {
    background-color: var(--contrast-darker);
    height: 100vh;
    left: -239px;
    position: absolute;
    top: 48px;
    transition: 200ms;
    width: 239px;
    z-index: 4;
  }

  .slidein-open {
    left: 0 !important;
    transition: 200ms;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    height: 100vh;
    position: absolute;
    transition: 200ms;
    width: 100vw;
    z-index: 3;
  }

  .slidein-nav .mat-list {
    padding: 0;
  }

  .slidein-nav .mat-list-item {
    border-bottom: solid 1px var(--lines);
  }

  // End slide-in menu ////////////////

  // Remove indentation for form elements on vertical stepper
  .jw-modal-body ix-entity-wizard {
    mat-card {
      margin: 18px 0;
      padding: 0;
    }
  }

  a[href*='//'] {
    color: var(--primary);

    &:focus-visible {
      background: var(--hover-bg) !important;
    }
  }

  .complex-table-data {
    font-size: 85%;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .key-textarea {
    height: 280px;
    resize: none;
    width: 540px;
  }

  button.menu-toggle {
    .mat-button-wrapper {
      align-items: center;
      display: inline-flex;
    }

    .mat-icon {
      position: relative;
      right: -10px;
    }
  }

  .topbar-panel {
    .mat-dialog-container {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding-bottom: 8px;
      padding-top: 8px;
    }

    .mat-dialog-content {
      overflow: auto !important;
    }

    .mat-dialog-actions {
      padding-bottom: 24px;
    }
  }

  // Disabled form fields
  .form-element.form-combobox .mat-form-field[disabled],
  .form-element.form-combobox .mat-menu-trigger[disabled]
  .form-element.form-ip-netmask .mat-form-field[disabled],
  .form-element .mat-form-field-wrapper[disabled],
  .form-element input[type=email][disabled],
  .form-element input[type=number][disabled],
  .form-element input[type=password][disabled],
  .form-element input[type=text][disabled],
  .form-element select[disabled],
  .form-element textarea[disabled] {
    opacity: 0.38;
  }

  .search-icon-wrapper {
    cursor: default;
    user-select: none;
  }

  .reset-icon-wrapper {
    cursor: pointer;
    opacity: 0.5;
    user-select: none;

    .mat-icon {
      font-size: 150%;
    }

    &.invisible {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }

  // focus state styles for mat-form-field
  .mat-form-field.mat-focused:focus-within {
    outline: 1px solid var(--primary);
  }
} // end of ix theme
