@import '~assets/styles/mixins/cards';
@import '~assets/styles/mixins/animations';

:host {
  display: flex;
}

.card {
  @include details-card();
  flex: 1;
}

.pool-icon {
  &.icon-online {
    color: var(--green);
  }

  &.icon-warning {
    color: var(--orange);
  }

  &.icon-faulted {
    color: var(--blue);
  }

  &.icon-error {
    color: var(--red);
  }
}

.warning {
  padding: 0 6px;
}

.vdev-line {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.loader-caption {
  @include loader-block();
  @include blink();
  display: inline-block;
  width: 150px;
}

.loader-state {
  @include loader-block();
  @include blink();
  display: inline-block;
  height: 25px;
  margin-left: 8px;
  width: 25px;
}

.loader-button {
  @include loader-block();
  @include blink();
  display: inline-block;
  height: 35px;
  width: 140px;
}
