<ng-container [formGroup]="form()">
  <ix-input
    formControlName="name"
    [label]="helptextSharingIscsi.nameLabel | translate"
    [tooltip]="helptextSharingIscsi.nameTooltip | translate"
    [required]="true"
  ></ix-input>
  <ix-select
    formControlName="type"
    [label]="helptextSharingIscsi.extent.typeLabel | translate"
    [tooltip]="helptextSharingIscsi.extent.typeTooltip | translate"
    [options]="typeOptions$"
    [required]="true"
  ></ix-select>
  @if (isDevice) {
    <ix-select
      formControlName="disk"
      [label]="helptextSharingIscsi.diskName | translate"
      [tooltip]="helptextSharingIscsi.diskTooltip | translate"
      [options]="diskOptions$"
      [required]="true"
    ></ix-select>
  }
  @if (isNewZvol) {
    <ix-explorer
      formControlName="dataset"
      [label]="helptextSharingIscsi.datasetLabel | translate"
      [tooltip]="helptextSharingIscsi.datasetTooltip | translate"
      [required]="true"
      [nodeProvider]="fileNodeProvider"
      [canCreateDataset]="true"
    ></ix-explorer>

    <ix-input
      formControlName="volsize"
      [label]="helptextSharingIscsi.sizeLabel | translate"
      [tooltip]="helptextSharingIscsi.sizeTooltip | translate"
      [format]="formatter.memorySizeFormatting"
      [parse]="formatter.memorySizeParsing"
      [required]="true"
    ></ix-input>
  }
  @if (!isDevice) {
    <ix-explorer
      formControlName="path"
      [label]="helptextSharingIscsi.extent.pathLabel | translate"
      [required]="true"
      [nodeProvider]="fileNodeProvider"
    ></ix-explorer>

    <ix-input
      formControlName="filesize"
      [label]="helptextSharingIscsi.extent.filesizeLabel | translate"
      [tooltip]="helptextSharingIscsi.extent.filesizeTooltip | translate"
      [format]="formatter.memorySizeFormatting"
      [parse]="formatter.memorySizeParsing"
      [required]="true"
    ></ix-input>
  }
  <ix-select
    formControlName="usefor"
    [label]="helptextSharingIscsi.useforLabel | translate"
    [tooltip]="helptextSharingIscsi.useforTooltip | translate"
    [options]="useforOptions$"
    [required]="true"
  ></ix-select>
</ng-container>
