<ng-container [formGroup]="form()">
  <ix-input
    formControlName="name"
    [label]="helptextSharingIscsi.nameLabel | translate"
    [tooltip]="helptextSharingIscsi.nameTooltip | translate"
    [required]="true"
  ></ix-input>
  <ix-select
    formControlName="type"
    [label]="helptextSharingIscsi.extent.typeLabel | translate"
    [tooltip]="helptextSharingIscsi.extent.typeTooltip | translate"
    [options]="typeOptions$"
    [required]="true"
  ></ix-select>
  @if (isDevice) {
    <ix-select
      formControlName="disk"
      [label]="helptextSharingIscsi.diskName | translate"
      [tooltip]="helptextSharingIscsi.diskTooltip | translate"
      [options]="diskOptions$"
      [required]="true"
    ></ix-select>

    @if (isSnapshot) {
      <div class="snapshot-info-box" role="status">
        <div class="info-header">
          <tn-icon name="information-outline" library="mdi"></tn-icon>
          <span>{{ 'Snapshot Selected' | translate }}</span>
        </div>
        <p class="info-message">
          {{ 'Snapshots preserve data at a specific point in time and cannot be changed. Clients can only read from this extent.' | translate }}
        </p>
      </div>
    }
  }
  @if (isNewZvol) {
    <ix-explorer
      formControlName="dataset"
      [label]="helptextSharingIscsi.datasetLabel | translate"
      [tooltip]="helptextSharingIscsi.datasetTooltip | translate"
      [required]="true"
      [nodeProvider]="fileNodeProvider"
    >
      <ix-explorer-create-dataset></ix-explorer-create-dataset>
    </ix-explorer>

    <ix-input
      formControlName="volsize"
      [label]="helptextSharingIscsi.sizeLabel | translate"
      [tooltip]="helptextSharingIscsi.sizeTooltip | translate"
      [format]="formatter.memorySizeFormatting"
      [parse]="formatter.memorySizeParsing"
      [required]="true"
    ></ix-input>
  }
  @if (!isDevice) {
    <ix-explorer
      formControlName="path"
      [label]="helptextSharingIscsi.extent.pathLabel | translate"
      [required]="true"
      [nodeProvider]="fileNodeProvider"
    ></ix-explorer>

    <ix-input
      formControlName="filesize"
      [label]="helptextSharingIscsi.extent.filesizeLabel | translate"
      [tooltip]="helptextSharingIscsi.extent.filesizeTooltip | translate"
      [format]="formatter.memorySizeFormatting"
      [parse]="formatter.memorySizeParsing"
      [required]="true"
    ></ix-input>
  }
  <ix-checkbox
    formControlName="ro"
    [label]="helptextSharingIscsi.extent.readOnlyLabel | translate"
    [tooltip]="helptextSharingIscsi.extent.readOnlyTooltip | translate"
  ></ix-checkbox>
  <ix-select
    formControlName="usefor"
    [label]="helptextSharingIscsi.useforLabel | translate"
    [tooltip]="helptextSharingIscsi.useforTooltip | translate"
    [options]="useforOptions$"
    [required]="true"
  ></ix-select>
</ng-container>
