mat-card.kmip-status-card {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 0;
}

mat-card.kmip-status-card mat-card-content {
  margin-bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

mat-card.kmip-status-card mat-card-actions {
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.key-status mat-icon {
  font-size: 24px;
  height: auto;
  padding-right: 15px;
  position: relative;
  width: auto;
}

mat-icon.key-syncing {
  color: var(--green);
  top: 3px;
}

mat-icon.key-pending {
  color: var(--red);
  top: 3px;
}

mat-icon.key-disabled {
  color: var(--grey);
  top: 3px;
}

.kmip-spinner {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 10;
}
