.confirm-checkbox {
  margin: 0 16px 16px 0;
}

.dialog-button {
  margin-bottom: 16px;
}

.simple-failover-btn {
  background-color: var(--primary) !important;
  color: var(--primary-txt) !important;
  opacity: 1;
}
