<h1 mat-dialog-title>{{ 'Delete User' | translate }}</h1>
<div mat-dialog-content>
  <p class="message" [innerHtml]="deleteMessage | translate: { user: user.username }"></p>

  <ix-checkbox
    *ngIf="isLastGroupMember"
    class="delete-checkbox"
    ixTestOverride="delete-primary-group"
    [formControl]="deleteGroupCheckbox"
    [label]="'Delete user primary group `{name}`' | translate: { name: user.group.bsdgrp_group }"
  ></ix-checkbox>
</div>
<div mat-dialog-actions class="buttons">
  <button mat-button ixTest="cancel" [matDialogClose]="false">{{ 'Cancel' | translate }}</button>
  <button
    mat-button
    color="primary"
    ixTest="delete"
    (click)="onDelete()"
  >
    {{ 'Delete' | translate }}
  </button>
</div>
