<tn-dialog-shell testId="clone-vm" [title]="'Clone' | translate">
<div>
  <ix-input
    [label]="'Enter a Name (optional)' | translate"
    [formControl]="nameControl"
  ></ix-input>
</div>
<ix-form-actions tnDialogAction>
  <tn-button
    variant="outline"
    testId="cancel"
    [label]="'Cancel' | translate"
    (onClick)="dialogRef.close(false)"
  ></tn-button>
  <tn-button
    *ixRequiresRoles="requiredRoles"
    color="primary"
    testId="clone"
    [label]="'Clone' | translate"
    (onClick)="onClone()"
  ></tn-button>
</ix-form-actions>
</tn-dialog-shell>
