@import 'cssvars';

/* MODAL STYLES
-------------------------------*/

.jw-modal {
  bottom: 0;
  left: 0;

  /* enables scrolling for tall modals */
  overflow: auto;
  /* modal container fixed across whole screen */
  position: fixed;
  right: 0;
  top: 0;

  /* z-index must be higher than .jw-modal-background */
  z-index: -10;
}

.jw-modal.open {
  z-index: 1000;
}

.slide-in-form {
  bottom: 0;
  min-width: 480px;

  /* enables scrolling for tall modals */
  overflow: auto;
  position: fixed;
  right: -480px;
  top: 48px;
  transition: 200ms;
  width: 480px;

  /* z-index must be higher than .jw-modal-background */
  /* ...but less than 1000 otherwise you cover select */
  z-index: 999;
}

.slide-in-form.open {
  overflow-x: hidden;
  overflow-y: auto;
  right: 0;
  transition: 200ms;
}

.slide-in-form.open.wide {
  width: 800px;
}

.slidein-title-bar {
  align-items: center;
  background-color: var(--bg2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  height: 75px;
  margin: 0 -15px 10px;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 20000;
}

.formtitle {
  color: var(--fg1);
}

#close-icon {
  color: var(--fg1);
  cursor: pointer;
  position: absolute;
  right: 30px;
  z-index: 10;
}

.jw-modal-body {
  background: #fff;

  /* margin exposes part of the modal background */
  margin: 40px;
  padding: 0 20px 20px;
}

.slide-in-form .jw-modal-body {
  background-color: var(--bg2);
  margin: 0;
  min-height: 100%;
}

.jw-modal-background {

  /* semi-transparent black  */
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.75;
  /* modal background fixed across whole screen */
  position: fixed;
  right: 0;
  top: 48px;
  transition: 100ms;

  /* z-index must be below .jw-modal and above everything else  */
  z-index: -10;
}

.jw-modal-background.open {
  transition: 200ms;
  z-index: 900;
}

body.jw-modal-open .slide-in-form .jw-modal-body {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

@media #{$media-lt-sm} {
  .slide-in-form {
    min-width: auto;
    width: auto;
  }
}

.control-group {
  color: var(--fg2);

  .control-group-inner {
    margin: 0 8px;
  }

  ix-toolbar-menu {
    max-height: 36px;
  }
}


