<h1 mat-dialog-title>
  <mat-icon class="warning-icon">report_problem</mat-icon>
  {{ title | translate }}
</h1>
<div mat-dialog-content>
  <p>{{message | translate}}</p>
  <div class="more-info" (click)="toggleOpen($event)" *ngIf="backtrace">
    <mat-icon *ngIf="isCloseMoreInfo">add_circle_outline</mat-icon>
    <mat-icon *ngIf="!isCloseMoreInfo">remove_circle_outline</mat-icon>
    <span>More info...</span>
  </div>
  <div class="backtrace-panel" [ngClass]="{'open':!isCloseMoreInfo}" *ngIf="backtrace">
    <textarea id="bt-text"readonly matInput>Error: {{backtrace}}</textarea>
  </div>  
</div>
<div mat-dialog-actions>
  &nbsp;
  <span fxFlex></span>
  <button mat-button class="mat-button mat-accent" (click)="dialogRef.close(true)">{{"Close" | translate}}</button>
</div>