.form-actions {
  margin: 8px 10px;
  margin-bottom: 15px;
}

:host .mat-mdc-card .keys-actions {
  border-bottom: 1px solid var(--lines);
  margin-bottom: 5px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-top: 9px;

  button {
    margin-right: 10px;
  }
}

.columns {
  column-gap: 20px;
  display: flex;
  flex-direction: row;

  .column {
    flex: 1;
  }
}

.key-status {
  > div {
    align-items: center;
    display: flex;
  }

  .key-syncing {
    color: var(--green);
  }

  .ix-icon {
    height: auto;
    margin-right: 2px;
    margin-top: 0;
  }
}
