<tn-card class="form-card" [ixUiSearch]="searchableElements.elements.kmip">
  @if (isLoading()) {
    <tn-progress-bar mode="indeterminate"></tn-progress-bar>
  }
  <ix-fieldset [title]="'KMIP Key Status' | translate">
    <div class="key-status">
      @if (isSyncPending()) {
        <div>
          <tn-icon
            class="key-pending"
            name="progress-clock"
            library="mdi"
          ></tn-icon>
          <span>{{ 'Pending Sync' | translate }}</span>
        </div>
      }
      @if (!isKmipEnabled()) {
        <div>
          <tn-icon
            class="key-disabled"
            name="sync-off"
            library="mdi"
          ></tn-icon>
          <span>{{ 'Disabled' | translate }}</span>
        </div>
      }
      @if (!isSyncPending() && isKmipEnabled()) {
        <div class="key-syncing">
          <tn-icon
            class="key-syncing"
            name="check-circle-outline"
            library="mdi"
          ></tn-icon>
          <span>{{ 'Synced' | translate }}</span>
        </div>
      }
    </div>
  </ix-fieldset>

  <div class="keys-actions">
    <tn-button
      *ixRequiresRoles="requiredRoles"
      [testId]="'sync-keys'"
      [disabled]="!isSyncPending()"
      [label]="'Sync Keys' | translate"
      (onClick)="onSyncKeysPressed()"
    ></tn-button>
    <tn-button
      *ixRequiresRoles="requiredRoles"
      [testId]="'clear-sync-keys'"
      [disabled]="!isSyncPending()"
      [label]="'Clear Sync Keys' | translate"
      (onClick)="onClearSyncKeysPressed()"
    ></tn-button>
  </div>

  <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
    <ix-fieldset [title]="'KMIP Server' | translate">
      <div class="columns">
        <div class="column">
          <tn-form-field
            [label]="'Server' | translate"
            [tooltip]="helptext.server.tooltip | translate"
          >
            <tn-input
              formControlName="server"
              name="server"
              testId="server"
            ></tn-input>
          </tn-form-field>
        </div>
        <div class="column">
          <tn-form-field
            [label]="'Port' | translate"
            [tooltip]="helptext.port.tooltip | translate"
          >
            <tn-input
              formControlName="port"
              name="port"
              testId="port"
              [inputType]="InputType.Number"
            ></tn-input>
          </tn-form-field>
        </div>
      </div>
    </ix-fieldset>
    <ix-fieldset [title]="'Certificate' | translate">
      <div class="columns">
        <div class="column">
          <ix-with-manage-certificates-link>
            <tn-form-field
              [label]="'Certificate' | translate"
              [tooltip]="helptext.certificate.tooltip | translate"
            >
              <tn-select
                formControlName="certificate"
                testId="certificate"
                [options]="certificates()"
                [allowEmpty]="true"
              ></tn-select>
            </tn-form-field>
          </ix-with-manage-certificates-link>
        </div>
        <div class="column"></div>
      </div>
    </ix-fieldset>
    <ix-fieldset [title]="'Management' | translate">
      @if (allowSedManage()) {
        <tn-form-field [tooltip]="helptext.manageSedDisks.tooltip | translate">
          <tn-checkbox
            formControlName="manage_sed_disks"
            testId="manage-sed-disks"
            [label]="'Manage SED Passwords' | translate"
          ></tn-checkbox>
        </tn-form-field>
      }
      <tn-form-field [tooltip]="helptext.manageZfsKeys.tooltip | translate">
        <tn-checkbox
          formControlName="manage_zfs_keys"
          testId="manage-zfs-keys"
          [label]="'Manage ZFS Keys' | translate"
        ></tn-checkbox>
      </tn-form-field>

      <tn-form-field [tooltip]="helptext.enabled.tooltip | translate">
        <tn-checkbox
          formControlName="enabled"
          testId="enabled"
          [label]="'Enabled' | translate"
        ></tn-checkbox>
      </tn-form-field>

      <tn-form-field [tooltip]="helptext.changeServer.tooltip | translate">
        <tn-checkbox
          formControlName="change_server"
          testId="change-server"
          [label]="'Change Server' | translate"
        ></tn-checkbox>
      </tn-form-field>

      <tn-form-field [tooltip]="helptext.validate.tooltip | translate">
        <tn-checkbox
          formControlName="validate"
          testId="validate"
          [label]="'Validate Connection' | translate"
        ></tn-checkbox>
      </tn-form-field>

      <tn-form-field [tooltip]="helptext.forceClear.tooltip | translate">
        <tn-checkbox
          formControlName="force_clear"
          testId="force-clear"
          [label]="'Force Clear' | translate"
        ></tn-checkbox>
      </tn-form-field>
    </ix-fieldset>

    <div class="form-actions">
      <tn-button
        *ixRequiresRoles="requiredRoles"
        type="submit"
        color="primary"
        [testId]="'save'"
        [label]="'Save' | translate"
        [disabled]="form.invalid || isLoading()"
      ></tn-button>
    </div>
  </form>
</tn-card>
