<div id="FN-sys-info-wrapper">
  <p class="support-title" id="fn-support-title"><i class="material-icons">info</i>{{'System Information' | translate}}</p>
  <div class="fn-sys-info-line"><h4>{{"OS Version:" | translate}}</h4> {{FN_version}}</div>
  <div class="fn-sys-info-line"><h4>{{"Model:" | translate}}</h4> {{FN_model}}</div>
  <div class="container" fxLayout="row">
    <div class="fn-sys-info-line" fxFlex="50%"><h4>{{"Memory:" | translate}}</h4> {{FN_memory}}</div>
    <div class="fn-sys-info-line" fxFlex="50%"><h4>{{"Serial Number:" | translate}}</h4> {{FN_serial}}</div>
  </div>

  <div class="fn-sys-info-line" id="fn-instructions" [innerHTML]="FN_instructions | translate"></div>
  <button mat-flat-button id="update-license-btn" (click)="updateLicense()">{{"ENTER LICENSE" | translate}}</button>
</div>
