<div id="sys-info-wrapper">
  <div class="sys-info-line"><span class="label"> {{"OS Version:" | translate}}</span> 
    <span class="value">{{version}}</span>
  </div>
  <div class="sys-info-line"><span class="label"> {{"Model:" | translate}}</span> 
    <span class="value">{{model}}</span>
  </div>
  <div class="sys-info-line"><span class="label"> {{"Memory:" | translate}}</span> 
    <span class="value">{{memory}}</span>
  </div>
  <div *ngIf="serial" class="fn-sys-info-line"><span class="label"> {{"Serial Number:" | translate}}</span> 
    <span class="value">{{serial}}</span>
  </div>
</div>


