<div id="FN-sys-info-wrapper">
  <p class="support-title" id="fn-support-title"><i class="material-icons">info</i>System Information</p>
  <div class="fn-sys-info-line"><h4>OS Version:</h4> {{FN_version}}</div>
  <div class="fn-sys-info-line"><h4>Model:</h4> {{FN_model}}</div>
  <div class="fn-sys-info-line"><h4>Memory:</h4> {{FN_memory}}</div>
  <div class="fn-sys-info-line"><h4>Serial Number:</h4> {{FN_serial}}</div>
  <div class="fn-sys-info-line" id="fn-instructions" [innerHTML]=FN_instructions></div>
</div>
