@import 'scss-imports/cssvars';

div.content {
  display: flex;
  flex-direction: row;
  gap: 8px;

  .right-column {
    flex-basis: 35%;
  }

  .left-column {
    flex-basis: 65%;
    gap: 8px;
  }

  @media #{$media-lt-md} {
    flex-direction: column;

    .right-column,
    .left-column {
      flex-basis: 100%;
    }
  }
}

div.right-column div.left-column {
  height: inherit;
}

mat-card > mat-card-actions.interface-pending-actions,
div.disabled-notice {
  margin: 0;
  padding: 0 16px 16px;
}

.pseudolink {
  cursor: pointer;
  text-decoration: underline;
}

.dashboard-card {
  display: flex;
  flex: 1 1 0;
}

#timeout-field {
  text-align: center;
  width: 50px;
}
