<div
  class="dashboard"
  [ixUiSearch]="searchableElements.elements.network"
>
  <div class="content">
    <div class="left-column">
      @if (hasPendingChanges) {
        <div class="pending-changes">
          @if (!checkinWaiting) {
            <div class="timeout-field-row">
              <span>
                {{ helptext.checkinText | translate }}
                <mat-form-field floatPlaceholder="never" id="timeout-field">
                  <input
                    #checkinTimeoutField="ngModel"
                    matInput
                    type="number"
                    ixTest="checkin-timeout"
                    required
                    [min]="checkinTimeoutMinValue"
                    [pattern]="checkinTimeoutPattern"
                    [(ngModel)]="checkinTimeout"
                  />
                </mat-form-field>
                {{ helptext.checkinText2 | translate }}
              </span>

              @if (!checkinTimeout || checkinTimeoutField.errors?.min || checkinTimeoutField.errors?.pattern) {
                <mat-error>
                  {{ 'Invalid value. Must be greater than or equal to ' | translate }} {{ checkinTimeoutMinValue }}
                </mat-error>
              }
            </div>

            @if (willLoseUiAccess) {
              <tn-banner
                type="error"
                [heading]="helptext.uiAccessLossHeading | translate"
                [message]="helptext.uiAccessLossMessage | translate"
              />
            }

            @if (newSystemUrls.length === 0) {
              <tn-banner
                type="info"
                [heading]="helptext.pendingChangesText | translate"
              >
                <button
                  tnBannerAction
                  mat-button
                  ixTest="revert-changes"
                  [disabled]="isHaEnabled()"
                  (click)="rollbackPendingChanges()"
                >
                  {{ helptext.revertChangesButton | translate }}
                </button>
                <button
                  tnBannerAction
                  mat-button
                  ixTest="test-changes"
                  [disabled]="isHaEnabled() || isCheckinTimeoutFieldInvalid"
                  (click)="commitPendingChanges()"
                >
                  {{ helptext.commitButton | translate }}
                </button>
              </tn-banner>
            } @else {
              <tn-banner
                type="warning"
                [heading]="helptext.ipAddressChangedHeading | translate"
                [message]="helptext.ipAddressChangedMessage | translate"
              >
                <button
                  tnBannerAction
                  mat-button
                  ixTest="revert-changes"
                  [disabled]="isHaEnabled()"
                  (click)="rollbackPendingChanges()"
                >
                  {{ helptext.revertChangesButton | translate }}
                </button>
                <button
                  tnBannerAction
                  mat-button
                  ixTest="test-and-open-ui"
                  [disabled]="isHaEnabled() || isCheckinTimeoutFieldInvalid"
                  (click)="commitAndOpenNewUi()"
                >
                  {{ helptext.commitAndOpenUiButton | translate }}
                </button>
              </tn-banner>
            }
          } @else {
            <tn-banner
              type="warning"
              [heading]="helptext.pendingCheckinText | translate: { x: checkinRemaining }"
            >
              <button
                tnBannerAction
                mat-button
                ixTest="revert-changes"
                [disabled]="isHaEnabled()"
                (click)="rollbackPendingChanges()"
              >
                {{ helptext.revertChangesButton | translate }}
              </button>
              <button
                tnBannerAction
                mat-button
                ixTest="save-changes"
                [disabled]="isHaEnabled()"
                (click)="checkInNow()"
              >
                {{ helptext.keepButton | translate }}
              </button>
            </tn-banner>
          }

          @if (isHaEnabled()) {
            <div class="disabled-notice">
              {{ helptext.haEnabledText | translate }}
              (
              <span
                class="pseudolink"
                (click)="goToHa()"
              >
                {{ helptext.goToHa | translate }}
              </span>
              ).
            </div>
          }
        </div>
      }
      <ix-interfaces-card
        (interfacesUpdated)="loadCheckinStatusAfterChange()"
      ></ix-interfaces-card>
      <ix-network-configuration-card
        class="dashboard-card"
      ></ix-network-configuration-card>
    </div>

    <div class="right-column">
      <ix-static-routes></ix-static-routes>
      <ix-ipmi-card></ix-ipmi-card>
    </div>
  </div>
</div>
