<h1 mat-dialog-title>
  <ix-icon class="information-icon" [name]="icon"></ix-icon>
  <span class="information-title" [innerHTML]="title | translate"></span>
</h1>
<div mat-dialog-content>
  @if (isHtml) {
    <div class="info-panel ip-overflow-auto">
      <span [innerHtml]="info | translate"></span>
    </div>
  } @else {
    <div class="info-panel">
      <div class="textarea" readonly matInput>{{ info | translate }}</div>
    </div>
  }
</div>
<div mat-dialog-actions>
  &nbsp;
  <button
    mat-button
    ixTest="dialog-close"
    (click)="dialogRef.close(true)"
  >
    {{ 'Close' | translate }}
  </button>
</div>
