<h1 matDialogTitle>{{ 'Update' | translate }}</h1>
<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  @if (isJobCompleted) {
    <p>
      @if (failedCount) {
        <strong>
          {{ 'Warning: {n} of {total} docker images could not be updated.' | translate: { n: failedCount, total: bulkItems.size } }}
        </strong>
      }
      @if (successCount) {
        <strong>
          {{ '{n, plural, one {# docker image} other {# docker images}} has been updated.' | translate: { n: successCount } }}
        </strong>
      }
    </p>
  } @else {
    <p>
      <strong>
        {{ 'The following { n, plural, one {docker image} other {# docker images} } will be updated. Are you sure you want to proceed?' | translate: { n: bulkItems.size } }}
      </strong>
    </p>
  }

  <div class="bulk-list">
    @for (bulkItem of bulkItems | keyvalue; track trackByKey($index, bulkItem)) {
      <ix-bulk-list-item [item]="bulkItem.value">
        {{ bulkItem.value.item.repo_tags.length ? bulkItem.value.item.repo_tags.join(', ') : bulkItem.value.item.id }}

        <div class="version">
          <ix-icon name="arrow_right_alt"></ix-icon>
          @if (options.has(bulkItem.key) && !wasSubmitted) {
            <ix-select
              [formControlName]="bulkItem.key"
              [label]="'Select Image Tag' | translate"
              [required]="true"
              [tooltip]="tooltips.tag | translate"
              [options]="options.get(bulkItem.key)"
            ></ix-select>
          }
          @if ((wasSubmitted || !options.has(bulkItem.key)) && !isJobCompleted) {
            <span>
              {{ form.get(bulkItem.key).value | translate }}
            </span>
          }
          @if (isJobCompleted && bulkItem?.value?.message) {
            <span>
              {{ bulkItem.value.message | translate }}
            </span>
          }
        </div>
      </ix-bulk-list-item>
    }
  </div>

  <div class="form-actions">
    <ng-container *ixRequiresRoles="requiredRoles"></ng-container>
    @if (wasSubmitted) {
      <button
        mat-button
        type="button"
        ixTest="close"
        [matDialogClose]="true"
        [disabled]="!isJobCompleted"
      >
        {{ 'Close' | translate }}
      </button>
    } @else {
      <button
        mat-button
        type="submit"
        color="primary"
        ixTest="update"
        [disabled]="form.invalid"
      >
        {{ 'Update' | translate }}
      </button>

      <button
        mat-button
        type="button"
        matDialogClose
        ixTest="cancel"
      >
        {{ 'Cancel' | translate }}
      </button>
    }
  </div>
</form>
