<ng-template ixPageHeader>
  <ix-page-title-header>
    <ix-search-input
      [disabled]="loading"
      (search)="onSearch($event)"
    ></ix-search-input>
  </ix-page-title-header>
</ng-template>

<mat-card>
  <table
    ix-table
    ixTest="services-table"
    [ix-table-empty]="shouldShowEmpty"
    [emptyConfig]="emptyConfigService.defaultEmptyConfig(loading ? EmptyType.Loading : EmptyType.NoSearchResults)"
    [dataSource]="dataSource"
  >
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>{{ 'Name' | translate }}</th>
      <td *matCellDef="let service; dataSource: dataSource" mat-cell>
        {{ service.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th *matHeaderCellDef mat-header-cell>{{ 'Running' | translate }}</th>
      <td *matCellDef="let service; dataSource: dataSource" mat-cell>
        <mat-spinner
          *ngIf="serviceLoadingMap.get(service.service); else slider"
          matTooltipPosition="right"
          [diameter]="30"
          [matTooltip]="
            (service.state === ServiceStatus.Running
              ? ('Stopping' | uppercase | translate)
              : ('Starting' | uppercase | translate)
            )
          "
        ></mat-spinner>

        <ng-template #slider>
          <mat-slide-toggle
            color="primary"
            matTooltipPosition="right"
            [checked]="service.state === ServiceStatus.Running"
            [matTooltip]="service.state"
            [ixTest]="[service.service, 'service']"
            (change)="onSliderChange(service)"
          ></mat-slide-toggle>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="enable">
      <th *matHeaderCellDef mat-header-cell>
        {{ 'Start Automatically' | translate }}
      </th>
      <td *matCellDef="let service; dataSource: dataSource" mat-cell>
        <mat-checkbox
          color="primary"
          [ixTest]="[service.service, 'service']"
          [(ngModel)]="service.enable"
          (change)="onCheckboxChange(service)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let service; dataSource: dataSource" mat-cell>
        <button
          mat-icon-button
          type="button"
          matTooltipPosition="left"
          [ixTest]="[service.service, 'edit']"
          [attr.aria-label]="'Edit' | translate"
          [attr.name]="service.name"
          [matTooltip]="'Configure' | translate"
          (click)="configureService(service)"
        >
          <ix-icon name="edit"></ix-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row ixTest="table-header"></tr>
    <tr
      *matRowDef="
        let service;
        columns: displayedColumns;
        dataSource: dataSource
      "
      mat-row
      [ixTest]="service.service"
    ></tr>
  </table>
</mat-card>
