
/* cards */
 .entity-card-wrapper {
  text-align:left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
}

.entity-cards-container{
  text-align:center;
}
.service-item {
  flex-basis: 355px !important;
  -webkit-box-flex: 1 !important;
  flex-grow: 1 !important;
  flex: 1 0 100%;
  height:100%;
}
.service-item:last-child {
  max-width: 48%;
}
