.services-wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	box-sizing: border-box;
}
.service-item {
	flex-basis: auto;
	-webkit-box-flex: 1;
	flex-grow: 1;
}

.card-view {
  width: 25%;
}

.slim-view {
  width: 20%;
}

.view-controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 10px 0;
}
