
.checkbox {
  left: 43px;
  position: relative !important;
  top: 1px;
}

.mat-slide-toggle {
  position: relative;
  top: 2px;
}

.service-toggle {
  width: 48px;
}

.clickable {
  background: rgba(0, 0, 0, 0);
  height: 28px;
  position: absolute;
  width: 40px;
  z-index: 10;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
