:host {
  display: block;
}

.mat-mdc-card {
  overflow: hidden;
}

.actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

:host ::ng-deep {
  .ix-table.cdk-table .cdk-column-actions {
    width: 50px;
  }
}
