@import 'mixins/cards';

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;

  h3 {
    font-size: 24px;
  }
}

.status-container {
  align-items: center;
  display: flex;
  gap: 3px;
  margin-left: 10px;

  @media(max-width: $breakpoint-sm) {
    display: none;
  }

  tn-icon {
    height: 24px;
    width: 24px;
  }

  .healthy {
    color: var(--green);
  }

  .warning {
    color: var(--orange);
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  padding-bottom: 0;
  padding-right: 10px;

  .header {
    padding-right: 12px;

    .title {
      align-items: center;
      display: flex;
    }
  }

  .container {
    flex: 1;
    min-height: 0;
    overflow: auto;
    padding-top: 0;

    .container-content {
      display: flex;
      flex-direction: column;
      min-height: 100%;
      justify-content: space-between;

      .banner {
        background: var(--bg1);
        opacity: 0.7;
        padding: 8px;
      }
    }
  }
}

mat-grid-tile {
  background-color: var(--bg1);
  border-radius: 2px;
  opacity: 0.7;
}
