@import 'scss-imports/variables';

:host {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  .topbar-mobile-footer {
    align-items: center;
    display: inline-flex;
    place-content: flex-end;
    width: inherit;

    @media (min-width: $breakpoint-min-mobile) and (max-width: $breakpoint-min-mobile) {
      display: flex;
      flex-wrap: wrap;
      height: auto;
    }

    @media (max-width: $breakpoint-tablet) {
      background-color: var(--topbar);
      bottom: 0;
      height: $topbar-mobile-height;
      left: 0;
      padding: 0 16px;
      place-content: space-around;
      position: fixed;
      width: 100%;

      &.has-console-footer {
        bottom: $console-footer-height;
      }
    }

    .topbar-button-right {
      margin: 0;

      @media (min-width: $breakpoint-min-mobile) and (max-width: $breakpoint-tablet) {
        margin: 4px;
      }
    }

  }
}

.topbar {
  background-color: var(--topbar) !important;
  color: var(--topbar-txt) !important;
}

.topbar button:focus-visible {
  background: var(--focus-bg);
  box-shadow: 0 0 0 1.5px var(--focus-brd) inset !important;
  outline-width: 0;
}

::ng-deep .topbar-button-right {
  &.mat-badge.mat-badge-small.mat-badge-overlap.mat-badge-after {
    .mat-badge-content {
      left: unset;
      margin: 0;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}

ix-truenas-logo {
  height: 48px;
  opacity: 1;
  visibility: visible;

  @media(min-width: $breakpoint-tablet) {
    opacity: 0;
    visibility: hidden;
  }
}

:host ::ng-deep nav mat-toolbar {
  min-height: 48px;

  .mat-toolbar-row {
    height: 48px !important;
  }

  button .ix-icon,
  button span,
  .mat-icon-button,
  .mat-icon-button .ix-icon.logo {
    color: var(--topbar-txt) !important;
  }

  .mat-mdc-select-value {
    color: #fff;
    font-weight: 400;
  }

  .topbar-button-right {
    margin-left: 0.5rem !important;
  }
}
