<nav [attr.aria-label]="'Top bar' | translate">
  <mat-toolbar class="topbar">
    <mat-toolbar-row>
      <!-- Sidenav toggle button -->
      <button
        mat-icon-button
        id="sidenavToggle"
        matTooltipPosition="right"
        ixTest="toggle-sidenav"
        [attr.aria-label]="'Toggle Sidenav' | translate"
        [matTooltip]="tooltips.toggle_collapse | translate"
        (click)="onSidenavIndicatorPressed()"
      >
        <ix-icon name="menu"></ix-icon>
      </button>

      <ix-global-search-trigger></ix-global-search-trigger>

      <a class="mobile-logo" routerLink="/" ixTest="mobile-logo">
        <div class="mobile-logo-container">
          <ix-icon name="ix-truenas-logo-mark-color" class="logomark" [fullSize]="true"></ix-icon>
          <ix-icon name="ix-truenas-logo-type-color" class="logotype" [fullSize]="true"></ix-icon>
        </div>
      </a>

      <div class="topbar-mobile-footer" [class.has-console-footer]="hasConsoleFooter$ | async">
        <ix-logo></ix-logo>

        <button
          mat-icon-button
          class="topbar-button-right"
          ixTest="leave-feedback"
          [matTooltip]="'Send Feedback' | translate"
          [ixUiSearch]="searchableElements.elements.sendFeedback"
          (click)="onFeedbackIndicatorPressed()"
        >
          <ix-icon name="mdi-emoticon"></ix-icon>
        </button>

        <ix-truecommand-button></ix-truecommand-button>

        @if (hasRebootRequiredReasons()) {
          <button
            mat-icon-button
            class="topbar-button-right"
            ixTest="reboot-info"
            [matTooltip]="tooltips.reboot_info | translate"
            (click)="showRebootInfoDialog()"
          >
            <ix-icon class="movement" name="update"></ix-icon>
          </button>
        }

        <!-- finish update -->
        @if (updateIsRunning) {
          <button
            mat-icon-button
            id="update-running"
            class="topbar-button-right"
            ixTest="update-is-running"
            [matTooltip]="tooltips.update | translate"
            (click)="showUpdateDialog()"
          >
            <ix-icon class="movement" name="system_update_alt"></ix-icon>
          </button>
        }
        <ix-checkin-indicator></ix-checkin-indicator>
        <ix-resilvering-indicator></ix-resilvering-indicator>
        <ix-ha-status-icon></ix-ha-status-icon>
        <ix-directory-services-indicator></ix-directory-services-indicator>
        <ix-jobs-indicator></ix-jobs-indicator>

        <!-- Alert toggle button -->
        @let alertBadgeCount = alertBadgeCount$ | async;
        <button
          matBadgeSize="small"
          matBadgeColor="warn"
          mat-icon-button
          class="topbar-button-right"
          ixTest="alerts-indicator"
          [matBadge]="alertBadgeCount"
          [matBadgeHidden]="alertBadgeCount === 0"
          [matTooltip]="tooltips.alerts | translate"
          [ixUiSearch]="searchableElements.elements.alerts"
          (click)="onAlertIndicatorPressed()"
        >
          <ix-icon name="notifications"></ix-icon>
        </button>

        <ix-user-menu></ix-user-menu>
        <ix-power-menu></ix-power-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
