<tn-dialog-shell [title]="'Delete Group' | translate">
<div>
  <p class="message" [innerHtml]="deleteMessage | translate: { name: group.group }"></p>

  @if (group.users.length) {
    <ix-checkbox
      class="delete-checkbox"
      [formControl]="deleteUsersCheckbox"
      [label]="deleteUsersMessage"
    ></ix-checkbox>
  }
</div>
<ix-form-actions tnDialogAction class="form-actions">
  <tn-button variant="outline" ixTest="cancel" [label]="'Cancel' | translate" (onClick)="dialogRef.close(false)"></tn-button>
  <tn-button *ixRequiresRoles="requiredRoles" color="warn" ixTest="delete" [label]="'Delete' | translate" (onClick)="onDelete()"></tn-button>
</ix-form-actions>
</tn-dialog-shell>
