@import '~@angular/material/theming';
@include mat-core();

$modern-theme-primary:          mat-palette($mat-blue);
//$modern-theme-accent:           mat-palette($mat-amber, A400, A300, A700);
$modern-theme-accent:           mat-palette($mat-amber);
$modern-theme-warn:             mat-palette($mat-red);
$modern-theme:                  mat-light-theme($modern-theme-primary, $modern-theme-accent, $modern-theme-warn);

@include angular-material-theme($modern-theme);


$default:                       #000000;
$border-light:                  rgba(0, 0, 0, 0.2);
$disabled-bg:                   transparent;
$input-border:                  transparent;
$mail-box:                      whitesmoke;
$progress-background:           #fafafa;
$auth-panel-background:         #fafafa;
$sidebar:                       #fafafa;
$bootstrap-panel-bg:            #fafafa;
$body-bg:                       #F5F5F6;
$input-background:              #F5F5F6;
$default-text:                  #212121;
$dropdown-text:                 #212121;
$dark-text:                     #212121;
$bootstrap-panel-text:          #212121;
$label-text:                    #212121;
$sidebar-text:                  #212121;
$content-text:                  #454545;
$help-text:                     #757575;
$light-text:                    #EEEEEE;
$disabled:                      #BDBDBD;
$border:                        #EEEEEE;
$progress-default:              #C5CAE9;
$primary:                       #0d47a1 !default;
$warning:                       #ff3d00 !default;
$accent-color:                  #ff3d00 !default;
$info:                          #768fff !default;
$primary-light:                 #5472d3;
$primary-dark:                  #002171;
$success:                       #002171 !default;
$danger:                        #c0392b !default;
$info-light:                    tint($info, 30%);
$success-light:                 tint($success, 30%);
$warning-light:                 tint($warning, 30%);
$danger-light:                  tint($danger, 30%);
$info-dark:                     shade($info, 15%);
$success-dark:                  shade($success, 15%);
$warning-dark:                  shade($warning, 15%);
$danger-dark:                   shade($danger, 15%);
$primary-bg:                    tint($primary, 20%);
$info-bg:                       tint($info, 20%);
$success-bg:                    tint($success, 20%);
$warning-bg:                    tint($warning, 20%);
$danger-bg:                     tint($danger, 20%);
$activelink:                    $help-text;
$hoverlink:                     $default-text;
$bootstrap-panel-radius:        5px;
$bootstrap-panel-header-bg:     #002171;
$bootstrap-panel-header-border: 1px solid rgba(#1976d2, 0.12);
