<h1 matDialogTitle>
  {{ 'Select File or Zvol' | translate }}
</h1>

<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <ix-explorer
    class="file-picker"
    formControlName="namespacePath"
    [label]="'Path' | translate"
    [rootNodes]="rootNodes"
    [required]="true"
    [nodeProvider]="treeNodeProvider"
  ></ix-explorer>

  <ix-form-actions>
    <button
      mat-button
      color="primary"
      type="submit"
      ixTest="save"
      [disabled]="form.invalid"
    >
      {{ 'Select' | translate }}
    </button>

    <button
      mat-button
      type="button"
      ixTest="cancel"
      matDialogClose
    >
      {{ 'Cancel' | translate }}
    </button>
  </ix-form-actions>
</form>
