:host {
  width: 100%;
}

.expanders {
  .expander-item {
    display: inline-block;
    width: 100%;
  }
}

.item {
  text-align: center;
}

.content {
  padding: 3px;
  text-align: center;
  width: 100%;
}

.primary-number {
  font-size: 3.25rem;
  font-weight: 100;
}

.title {
  font-size: 1rem;
}

.subtitle {
  font-size: 0.65rem;
  opacity: 0.85;
}
