:host {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  margin: 0 20px;
}

.expander {
  padding: 15px 0 30px;
  text-align: center;
}

.content {
  padding: 3px;
  text-align: center;
  width: 100%;
}

.status-value {
  font-size: 4.25rem;
  font-weight: 100;
}

.title {
  font-size: 1rem;
}

.descriptor {
  font-size: 0.75rem;
  opacity: 0.85;
}
