@for (expander of expanders(); track expander) {
  <div class="expander">
    <div class="status-value" tnTestIdType="text" [tnTestId]="['expander', $index, 'status']">{{ expander.status | titlecase }}</div>
    <div class="title">{{ 'Expander Status' | translate }}</div>
    @if (expander.descriptor) {
      <div class="descriptor" tnTestIdType="text" [tnTestId]="['expander', $index, 'descriptor']">{{ expander.descriptor }}</div>
    } @else {
      <div class="descriptor" tnTestIdType="text" [tnTestId]="['expander', $index, 'descriptor']">{{ 'No descriptor provided' | translate }}</div>
    }
  </div>
}
