<h1 mat-dialog-title> {{ title | translate }} </h1>

<div mat-dialog-content>
  <span [innerHTML]="conf.message"></span>
  <br>
  <ng-container *ngFor="let field of fieldConfig;" dynamicField [config]="field" [group]="formGroup" [fieldShow]="'show'">
    <button mat-icon-button type="button" *ngIf="field.hideButton===false" (click)="togglePW()">
      <mat-icon matTooltip="Hide" *ngIf="showPassword">visibility</mat-icon>
      <mat-icon matTooltip="Show" *ngIf="!showPassword">visibility_off</mat-icon>
  </button>

  </ng-container>
  <span [innerHTML]="conf.warning"></span>
</div>
<div>
  <mat-error *ngIf="error" type="danger" id="error_message"><div [innerHTML]="error"></div></mat-error>
</div>

<div mat-dialog-actions>
  <span fxFlex></span>
  <span *ngFor="let custBtn of conf.custActions">
    <button id="cust_button_{{custBtn.id}}" mat-button class="mat-button"
      *ngIf="!conf.isCustActionVisible || conf.isCustActionVisible(custBtn.id)" type="button"
      (click)="custBtn['function']()" [name]="custBtn.name + '_button'">{{custBtn.name | translate}}</button>
  </span>
  <button mat-button class="mat-flat-button mat-accent" (click)="cancel()" [name]="cancelButtonText + '_button'">{{cancelButtonText | translate}}</button>
  <button mat-button class="mat-flat-button mat-primary" (click)="submit()" [disabled]="!formGroup.valid || !submitEnabled"
    *ngIf="saveButtonText" [name]="saveButtonText + '_button'">{{saveButtonText | translate}}</button>
</div>
