button.action-btn {
  margin-right: 5px;
}

div.entity-dialog-form-message {
  margin: 0 0 13px;
}

.entity-dialog-form-title,
.entity-dialog-form-message {
  overflow-wrap: break-word;
}

.mat-dialog-content.entity-dialog-form-content {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
