button.action-btn {
    margin-right: 5px;
}

div.entity-dialog-form-message {
    margin: 0 0 13px;
}

.entity-dialog-form-content {
    overflow-y: auto !important;
}
.entity-dialog-form-title, .entity-dialog-form-message {
    overflow-wrap: break-word;
}