<div id="{{config.name}}" class="dynamic-field form-textarea" [formGroup]="group" [ngClass]="fieldShow" [class.has-tooltip]="config.tooltip" *ngIf="!config.isHidden">
  <mat-input-container class="full-width">
    <input type="text" #textAreaSSH matInput [placeholder]="config.placeholder" [formControlName]="config.name" [ngClass]="config.class" />
  </mat-input-container>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="customEventMethod($event)">{{config.customEventActionLabel}}</button>
  </mat-card-actions>
	<tooltip *ngIf="config.tooltip" [message]="config.tooltip"></tooltip>
  <mat-error *ngIf="config.hasErrors">{{config.errors}}</mat-error>
</div>
