* {
  box-sizing: border-box;
}

.container-dualListBox {
  align-items: center;

  box-align: center;
  display: flex;
  flex-align: center;
}

.container-dualListBox > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  place-content: flex-start;

  .mat-list {
    width: 100%;
  }
}

.mat-list-item {
  min-height: 48px;

  &:hover,
  &:active {
    cursor: pointer;
  }

  &::ng-deep .mat-icon.mat-list-icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin: 0 8px 0 0;
    padding: 0;
  }
}

.container-items {
  align-items: flex-start;
  border: 1px solid var(--lines);
  overflow-y: auto;
  width: 40%;
}

.container-buttons {
  align-items: center;
  width: 20%;
}

.draggable {
  width: 100%;
}

.chosen,
.draggable:active {
  align-items: center;
  background: var(--primary);
  color: var(--fg2);
  display: inline-flex;
  font-size: 14px;
  min-height: 48px;
  padding: 12px 0;
  width: 100%;
}


.cdk-drag-placeholder {
  align-items: center;
  background: rgba(var(--fg1), 0.1);
  display: inline-flex;
  opacity: 0.5;
  outline: 1px dashed var(--fg1);
  outline-offset: -1px;
  width: 100%;
}

.list-title {
  background-color: var(--lines);
  border-bottom: 1px solid var(--lines);
  display: flex;
  left: 0;
  padding: 12px 16px;
  position: sticky;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
