<ng-container [formGroup]="form">
  <div class="type-container">
    <ix-select
      formControlName="type"
      [label]="'Type' | translate"
      [tooltip]="'Select a VDEV layout' | translate"
      [options]="vdevLayoutOptions$"
      [required]="true"
    ></ix-select>
  </div>
  <div
    *ngIf="!(poolManagerStore.disksSelectedManually$ | async)"
    class="content-container"
  >
    <div class="automated-disk-selection-container">
      <h3>{{ 'Automated Disk Selection' | translate }}</h3>
      <ix-select
        formControlName="sizeAndType"
        [label]="'Disk Size' | translate"
        [tooltip]="'Select a disk size from inventory' | translate"
        [options]="diskSizeAndTypeOptions$"
        [required]="true"
      ></ix-select>
      <ix-select
        formControlName="width"
        [label]="'Width' | translate"
        [tooltip]="'Select VDEV width' | translate"
        [options]="widthOptions$"
        [required]="true"
      ></ix-select>
      <ix-select
        formControlName="vdevsNumber"
        [label]="'Number of VDEVs' | translate"
        [tooltip]="'Number of VDEVs to create' | translate"
        [options]="numberOptions$"
        [required]="true"
      ></ix-select>
    </div>
    <div class="advanced-options-container">
      <h3>{{ 'Advanced Options' | translate }}</h3>

      <ix-radio-group
        *ngIf="poolManagerStore.hasMultipleEnclosures$ | async"
        formControlName="minimizeEnclosureDispersal"
        [options]="dispersalOptions$"
        [required]="true"
      ></ix-radio-group>

      <ix-checkbox
        *ngIf="false"
        formControlName="treatDiskSizeAsMinimum"
        [label]="'Treat Disk Size as Minimum' | translate"
      ></ix-checkbox>

      <button
        mat-button
        type="button"
        class="manual-disk-selection"
        ixTest="manual"
        (click)="openManualDiskSelection()"
      >
        {{ 'Manual Disk Selection' | translate }}
      </button>
      <button
        *ngIf="poolManagerStore.disksSelectedManually$ | async"
        mat-button
        type="button"
        class="reset-layout"
        ixTest="reset"
        (click)="resetLayout()"
      >
        {{ 'Reset Layout' | translate }}
      </button>
    </div>
  </div>

  <div *ngIf="poolManagerStore.disksSelectedManually$ | async" class="content-container">
    <div class="automated-disk-selection-container">
      <h3>{{ 'Manually Configured VDEVs' | translate }}</h3>
      <p>{{ manualDiskSelectionMessage }}</p>
      <div class="selection-actions">
        <button
          mat-button
          type="button"
          class="manual-disk-selection"
          ixTest="manual"
          (click)="openManualDiskSelection()"
        >
          {{ 'Edit Manual Disk Selection' | translate }}
        </button>
        <button
          *ngIf="poolManagerStore.disksSelectedManually$ | async"
          mat-button
          class="manual-disk-selection"
          type="button"
          ixTest="reset"
          (click)="resetLayout()"
        >
          {{ 'Reset' | translate }}
        </button>
      </div>
    </div>
    <div class="advanced-options-container">
      <h3>{{ 'Description' | translate }}</h3>
      <ul class="description-list">
        <li>
          <strong>{{ 'VDEVs' | translate }}: </strong>{{ vdevsCountString$ | async }}
        </li>
        <li>
          <strong>{{ 'Total Usable Capacity' | translate }}: </strong>{{ totalUsableCapacity$ | async | filesize: { standard: 'iec' } }}
        </li>
        <li>
          <strong>{{ 'No warnings' | translate }}</strong>
        </li>
      </ul>
    </div>
  </div>
</ng-container>
