@import '../../sass/conf/conf';
@import '../../components/baMsgCenter/baMsgCenter';
.page-top {
    background-color: #1a237e;
    position: fixed;
    z-index: 904;
    box-shadow: 2px 0 3px rgba(10, 9, 9, .8);
    height: 66px;
    width: 100%;
    min-width: $resMin;
    padding: 0;
    top: 0;
    .dropdown-toggle::after {
        display: none;
    }
}

.blur {
    .page-top.scrolled {
        background-color: #1a237e;
    }
}
.ng2-dropdown-container {
    float: right;
    margin-right: 8px;
}

.top-dropdown-menu { 
    top: 51px !important; 
    overflow-y: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    padding: 0.5em 0;
    background: #fff;
    border-radius: 1px;
    max-height: 400px;
    width: 260px;
}
.ion-android-more-vertical:before {
    color: $light-text;
}
.dropdown-arr { right: 9px !important; color: $light-text !important; }
.fa-bell:before {
    font-size: 1.5em;
    cursor: pointer;
    display: block;
    text-decoration: none;
    line-height: 2.5em;
    padding: 0;
    float: left;
    margin: 0 0 0 8px;
    color: $light-text;
    position: relative;
    left: 36px;
    top: 2px;
}
a.al-logo {
    width: 222px;
    height: 66px;
    color: $sidebar-text;
    display: block;
    font-size: 2em;
    font-family: $font-family;
    white-space: nowrap;
    float: left;
    outline: none !important;
    line-height: 66px;
    @include bg('../../../../assets/img/freenas-logo.png');
    span {
        color: $primary;
    }
}

a.al-logo:hover {
    color: $primary;
}

.user-profile {
    float: right;
    min-width: 40px;
    margin-top: 12px;
    margin-right: 40px;
}

.al-user-profile {
    float: right;
    margin-right: 12px;
    transition: all .15s ease-in-out;
    padding: 0;
    width: 36px;
    height: 36px;
    border: 0;
    opacity: 1;
    position: relative;
    a {
        display: block;
    }
    img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
}

a.refresh-data {
    color: $sidebar-text;
    font-size: 13px;
    text-decoration: none;
    font-weight: $font-normal;
    float: right;
    margin-top: 13px;
    margin-right: 26px;
    &:hover {
        color: $warning !important;
    }
}

a.collapse-menu-link {
    font-size: 1.5em;
    cursor: pointer;
    display: block;
    text-decoration: none;
    line-height: 2.5em;
    padding: 0;
    float: left;
    margin: 0 0 0 8px;
    &:hover {
        text-decoration: none;
        color: $info;
    }
}

.al-skin-dropdown {
    float: right;
    margin-top: 14px;
    margin-right: 26px;
    .tpl-skin-panel {
        max-height: 300px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.icon-palette {
    display: inline-block;
    width: 14px;
    height: 13px;
    @include bg('../../../../public/assets/img/theme/palette.png');
    background-size: cover;
}

.search {
    text-shadow: none;
    font-size: 13px;
    line-height: 25px;
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    width: 162px;
    float: left;
    margin: 20px 0 0 30px;
    label {
        cursor: pointer;
    }
    i {
        width: 16px;
        display: inline-block;
        cursor: pointer;
        padding-left: 1px;
        font-size: 16px;
        margin-right: 13px;
    }
    input {
        color: $sidebar-text;
        background: none;
        border: none;
        outline: none;
        width: 120px;
        padding: 0;
        margin: 0 0 0 -3px;
        height: 27px;
    }
}

@media screen and (max-width: $resS) {
    .search {
        display: none;
    }
}

@media screen and (max-width: $resXS) {
    .page-top {
        padding: 0 20px;
    }
}

@media (max-width: $resXXS) {
    .user-profile {
        min-width: 136px;
    }
    a.refresh-data {
        margin-right: 10px;
    }
    a.collapse-menu-link {
        margin-left: 10px;
    }
    .al-skin-dropdown {
        display: none;
    }
}

.profile-toggle-link {
    cursor: pointer;
}

.fa-sign-out {
    padding: .2em;
    font-size: 2em;
    color: $accent-color;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}
.fa-rotate-left {
    padding: .2em;
    font-size: 2em;
    color: $warning !important;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}
.fa-power-off {
    padding: .2em;
    font-size: 2em;
    color: $danger !important;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}


button.ng2-dropdown-button {
    font-size: 2em !important;
    color: $label-text !important;
    background: transparent !important;
}