:host {
  display: flex;
  align-items: center;
  gap: 8px;
}

ix-icon {
  font-size: 18px;

  &.unlocked {
    color: var(--green);
  }

  &.locked {
    color: var(--yellow);
  }

  &.uninitialized {
    color: var(--fg2);
  }

  &.unsupported {
    color: var(--fg2);
  }

  &.failed {
    color: var(--red);
  }

  &.unknown {
    color: var(--fg2);
  }
}
