%error {
  margin: 0 12px 24px;

  p {
    font-size: 12px;
    margin: 0;
  }
}

.cloudflare-validation-error {
  @extend %error;

  color: var(--error);
}

.cloudflare-hint {
  @extend %error;

  color: var(--yellow);
}
