<tn-card class="card" [title]="'New Devices' | translate">
  <div>
    @for (category of topology$ | async | keyvalue; track category.key) {
      <div class="details-item">
        <span class="label">
          {{ category.key | mapValue: vdevTypeLabels | translate }}:
        </span>
        <span class="value">
          {{ category.value | ixTopologyCategoryDescription: !isLimitedToOneLayout(category.key | cast) : category.key === vDevType.Spare }}
        </span>
      </div>
    } @empty {
     <div class="no-new-devices">
       {{ 'No new devices added yet.' | translate }}
     </div>
    }
  </div>
</tn-card>
