<div id="{{config.name}}" class="dynamic-field form-select" [formGroup]="group" [ngClass]="fieldShow" [class.has-tooltip]="config.tooltip" *ngIf="!config.isHidden">
   <mat-input-container *ngIf="config.inputType != 'file' else elseBlock" class="full-width">
    <input matInput [type]="config.inputType ? config.inputType : 'text'"
      list="options"
			[placeholder]="config.placeholder | translate"
			[attr.value]="config.value"
			[formControlName]="config.name"
			[readonly]="config.readonly"
			[required]="config.required"
			[max]="config.max"
      [min]="config.min">
    </mat-input-container>
    <mat-form-field class="full-width">
    <mat-select [multiple]="config.multiple" (change)="onChangeOption($event)">
      <mat-option *ngFor="let option of config.options" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <tooltip *ngIf="config.tooltip" [message]="config.tooltip"></tooltip>
  <mat-error *ngIf="config.hasErrors">{{config.errors}}</mat-error>
</div>
