mat-option.text-wrap,
.mat-menu-item.text-wrap {
  white-space: normal !important;
  text-overflow: initial !important;
  line-height: inherit !important;
  height: unset !important;
  padding-top: 4px;
  padding-bottom: 4px;
}

mat-option.text-wrap {
  min-height: 48px;
}

.mat-menu-item.text-wrap {
  min-height: 36px;
}

.input-container {
  position: relative;
}

.input-container .searchable,
.input-container .reset-input {
  cursor: default;
  user-select: none;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 5px;
  display: flex;
  align-items: center;
}

.input-container .reset-input {
  opacity: 0.5;
  cursor: pointer;
  margin-left: 0;
  right: 0;
}

.input-container mat-icon {
  font-size: 1rem;
  width: auto;
  height: auto;
}