<ng-container [formGroup]="form">
  <ix-input
    formControlName="name"
    [label]="'Name' | translate"
    [tooltip]="tooltips.name | translate"
    [required]="true"
  ></ix-input>

  <ix-input
    formControlName="email"
    [label]="'Email' | translate"
    [tooltip]="tooltips.email | translate"
    [required]="true"
  ></ix-input>

  <ix-chips
    formControlName="cc"
    [label]="'CC' | translate"
    [tooltip]="tooltips.cc | translate"
  ></ix-chips>

  <ix-input
    formControlName="phone"
    [label]="'Phone' | translate"
    [tooltip]="tooltips.phone | translate"
    [required]="true"
  ></ix-input>

  <ix-select
    formControlName="category"
    [label]="'Type' | translate"
    [options]="categoryOptions$"
    [tooltip]="tooltips.category | translate"
    [required]="true"
  ></ix-select>

  <ix-select
    formControlName="environment"
    [label]="'Environment' | translate"
    [options]="environmentOptions$"
    [tooltip]="tooltips.environment | translate"
    [required]="true"
  ></ix-select>

  <ix-select
    formControlName="criticality"
    [label]="'Criticality' | translate"
    [options]="criticalityOptions$"
    [tooltip]="tooltips.criticality | translate"
    [required]="true"
  ></ix-select>

  <ix-input
    formControlName="title"
    [label]="'Subject' | translate"
    [tooltip]="tooltips.title | translate"
    [placeholder]="tooltips.title | translate"
    [required]="true"
  ></ix-input>
</ng-container>
