@if (similarIssueLinks$ | async; as links) {
  <div class="similar-issues">
    @if (links.length) {
      <div class="similar-issues-header">
        <div class="similar-issues-title">
          {{ 'The following issues were already reported.' | translate }}
        </div>
        <div class="similar-issues-subtitle">
          {{ 'Do any of them look similar?' | translate }}
        </div>
      </div>
    }
    <div
      class="similar-issues-body"
      [class.outdated]="isLoading$ | async"
    >
      @for (link of links; track link.issue) {
        <a
          class="similar-issue"
          target="_blank"
          tnTestIdType="link"
          [href]="link.issue.url"
          [tnTestId]="link.testId"
        >
          <span
            class="issue-type-icon"
            [style.background-image]="'url(' + jiraHostname + link.issue.img + ')'"
          ></span>
          <span class="issue-summary">{{ link.issue.summaryText }}</span>
          <tn-icon name="open-in-new" library="mdi" size="sm" style="margin-top: -2px"></tn-icon>
        </a>
      }
    </div>
  </div>
}
