@import 'mixins/animations';

.similar-issues-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 148px;
  overflow-y: auto;
  padding: 0;
}

.similar-issue {
  align-items: flex-start;
  background: var(--bg1);
  border: 1px solid var(--lines);
  display: flex;
  gap: 6px;
  padding: 4px 8px;

  .ix-icon.mdi-set {
    font-size: inherit;
  }
}

.issue-type-icon {
  @include fade-in();
  background: var(--bg2);
  border-radius: 2px;
  display: inline-flex;
  flex: 0 0 auto;
  height: 16px;
  margin-top: 2px;
  width: 16px;
}

.similar-issues-header {
  font-weight: bold;
  margin-bottom: 8px;
}

.outdated {
  @include blink();
}
