.progress-item {
  color: var(--fg2);
  margin: 0.33rem;
  width: 350px;
}

.unhealthy-warning {
  cursor: help;
  margin-bottom: 7px;
  text-transform: uppercase;

  .icon {
    margin-right: 2px;
    vertical-align: -7px;
  }
}
