.mat-radio {
  border-top: 0.84375em solid transparent;
  padding: 0.4375em 0;
  padding-bottom: 1.29688em;
}

mat-radio-button {
  display: block;
  margin-bottom: 5px;
}

.top {
  margin-bottom: 10px;
}
