@if (isLoadingDevices()) {
  <ngx-skeleton-loader class="loader"></ngx-skeleton-loader>
} @else if (hasNicsToAdd()) {
  <button
    mat-button
    ixTest="add-nic"
    [disabled]=""
    [matMenuTriggerFor]="addNicMenu"
  >
    {{ 'Add' | translate }}
  </button>

  <mat-menu #addNicMenu="matMenu">
    @for (nic of availableNics(); track nic.key) {
      <button
        mat-menu-item
        [ixTest]="['add-nic', nic.key]"
        (click)="addNic(nic.key)"
      >
        {{ nic.label }}
      </button>
    }
  </mat-menu>
}
