.preset-container {
  border: solid 1px var(--lines);
  margin: 10px 0 20px 0;
  border-radius: 24px;
  padding: 12px 16px;

  .controls {
    padding-top: 10px;

    ix-input {
      margin: 0;
    }
  }

  .smb-comment {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
