.widget{
  width:600px;
  height:400px;
}

.widget mat-card-content{
  width: 100%;
}

/*:host ::ng-deep .c3-axis-y g:nth-child(2n){
  visibility:hidden;
}*/


.carousel{
  position:absolute;
  top:48px;
  width:400%;
  height:calc(100% - 48px);
  /*background:var(--alt-bg2);*/
}

/*.carousel.lagg{
  width:400%;
}*/

.slide{
  /*position:absolute;
  top:48px;*/
  display:inline;
  width:100%;
  /*height:calc(100% - 96px);*/
  height:100%;
  /*border-left:solid 1px var(--bg1);*/
}

.slide .hidden{
  display:none;
}

.slide .left,
.slide .right{
  width:50%;
  height:100%;
  display:inline-block;
  padding:32px 0;
}

.slide.overview .right > div{
  width:100%;
}

.slide.overview .right{
  padding:0;
}

.slide.overview .left{
  /*background-color:var(--alt-bg1);*/
}

.slide .right{
  text-align:left;
  border-left:solid 1px rgba(0,0,0,0.1);
}
 
.slide .right li{
  font-size: 115%;
  padding: 6px;
  margin-left: 8px;
}

.pool-name{
  font-size:300%;
}

.pool-status .icon-wrapper{
  display: inline-block;
  font-size: 175%;
  top: 3px;
  position: relative;
}

.pool-name .icon-wrapper{
  display: inline;
  font-size: 75%;
}

.pool-name.up .icon-wrapper,
.pool-status.up .icon-wrapper{
  color: var(--green);
}

.pool-name.down .icon-wrapper,
.pool-status.down .icon-wrapper{
  color: var(--red);
}

.carousel-nav{
  position:absolute;
  bottom:0;
  width:100%;
  height:48px;
  padding:6px;
  border-top:solid 1px var(--bg1);
  background:var(--bg2);
  text-align:left;
}

.carousel-nav .btn{
  width:12px;
  height:12px;
  border-radius:50%;
  display:inline-block;
  margin:0 4px;
  background-color:var(--fg1);
  opacity:0.5;
  cursor:pointer;
}

.carousel-nav .back-arrow.mat-icon{
  margin-top: -3px;
}

.carousel-nav .btn.active{
  opacity:1;
}

.nic-traffic{
  /*font-size: 150%;*/
}

.stat{
  /*font-size: 250%;*/
}

.slide{
  overflow:auto;
}

.slide div.clickable,
.slide .mat-list-item.clickable{
  cursor:pointer;
}

.slide .mat-icon.next-slide{
  position:absolute;
  right:0;
}

.mat-list-base .mat-list-item{
  border-bottom:solid 1px rgba(0,0,0,0.1);
}

.mat-list-base {
}

.list-subheader{
  font-weight:700;
  padding:48px 8px 0 16px;
  text-align:left;
  font-size: 90%;
  color: var(--fg1);
}

span.capitalize{
  text-transform:capitalize;
}

.list-subheader:first-child{
  padding:8px 8px 0 16px;
}

.detail-key{
  text-transform:capitalize;
}

.healthy {
  color:var(--green);
}

.warning {
  color:var(--yellow);
}

.error {
  color:var(--red);
}

.error, .warning , .healthy {
  font-size: 120%;
}
/* NARROW SCREENS */
.xs.widget{
  width:100%;
  max-height:320px;
}
