<div class="widget stats-widget" ngClass.xs="double-height xs">
  <div class="card-container  front">
    <mat-card style="overflow:hidden" class="front" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch">
      <mat-card-content #carouselparent>
        <mat-toolbar-row >
          <button class="mat-card-title-text" *ngIf="currentSlide !== '0'" mat-icon-button color="default" (click)="updateSlide(path[previousSlide].name, true, previousSlide)">
            <mat-icon class="back-arrow">chevron_left</mat-icon>
          </button>
          <h3 class="mat-card-title-text">
            <div class="card-title-text">
              &nbsp;{{title | translate}} 
            </div>
          </h3>

          <!--<ng-template *ngIf="configurable === true">
            <button mat-icon-button (click)="toggleConfig()">
            <mat-icon>settings</mat-icon>
            </button>
            </ng-template>-->
            <!--<button mat-button color="primary" class="" (click)="router.navigate(['reportsdashboard/cpu'])">CPU REPORTS</button>-->

        </mat-toolbar-row>


        <!-- Carousel -->
        <div *ngIf="poolState && path" id="" class="carousel" #carousel >

          <!--<ng-container *ngTemplateOutlet="path[0].template"></ng-container>-->
          <div *ngFor="let slide of path;" fxFlex="100" class="slide {{slide.name}}" >
            <ng-content *ngTemplateOutlet="slide.template"></ng-content>
          </div>
          
          <ng-template #overview>
            <div fxFlex="100" class="overview-inner" fxLayout="row" fxLayoutAlign="space-between">
            <div class="left {{poolHealth.selector}}" fxFlex="50" fxLayout="column" fxLayoutAlign="space-around center">

              <div fxFlex="95">
                <div class="pool-name" >
                  {{poolState.name | translate}}
                  <div class="icon-wrapper">
                    <span *ngIf="poolState.status == 'LOCKED' || !poolState.is_decrypted" class="{{poolHealth.level}}">
                      <mat-icon>lock</mat-icon>
                    </span>
                    <span *ngIf="poolState.status == 'HEALTHY'" class="{{poolHealth.level}}">
                      <mat-icon>check_circle</mat-icon>
                    </span>
                    <span *ngIf="poolHealth.level == 'error'" class="{{poolHealth.level}}">
                      <!--<mat-icon>close-circle</mat-icon>-->
                      <mat-icon class="poolHealth.level" role="img" fontSet="mdi-set" fontIcon="mdi-close-circle"></mat-icon>
                    </span>
                    <span *ngIf="poolHealth.level == 'warn' && poolState.status == 'UNKNOWN'" class="{{poolHealth.level}}">
                      <!--<mat-icon>alert</mat-icon>-->
                      <mat-icon role="img">help</mat-icon>
                    </span>
                    <span *ngIf="poolHealth.level == 'warn' && poolState.status !== 'UNKNOWN'" class="{{poolHealth.level}}">
                      <!--<mat-icon>alert</mat-icon>-->
                      <mat-icon role="img" fontSet="mdi-set" fontIcon="mdi-alert"></mat-icon>
                    </span>
                    <span *ngIf="poolState.status == 'ONLINE'" class="{{poolHealth.level}}">
                      <mat-icon role="img" fontSet="mdi-set" fontIcon="mdi-check-circle"></mat-icon>
                    </span>
                    <!--<mat-icon *ngIf="poolState.link_state == 'LINK_STATE_UP' " role="img" fontSet="mdi-set" fontIcon="mdi-check-circle"></mat-icon>
                      <mat-icon *ngIf="poolState.link_state !== 'LINK_STATE_UP' " role="img" fontSet="mdi-set" fontIcon="mdi-close-circle"></mat-icon>-->
                  </div>
                </div> 

                <div class="pool-status" >
                  {{poolState.status}}
                  <!--<div *ngIf="traffic && poolState.link_state == 'LINK_STATE_UP'" class="nic-traffic">
                    <div><strong>In: </strong><span class="stat">{{traffic["KB/s in"]}}</span> KB/s</div>
                    <div><strong>Out: </strong><span class="stat">{{traffic["KB/s out"]}}</span> KB/s</div>
                    </div>

                  <div *ngIf="!traffic && poolState.link_state == 'LINK_STATE_UP'" class="nic-traffic-gathering">
                    Gathering data...
                  </div> 

                  <div *ngIf="poolState.link_state !== 'LINK_STATE_UP'" class="no-nic-traffic">
                    No Traffic
                    </div> -->
                </div>

              </div>
            </div>

            <div class="right" fxFlex="50" fxLayout="column" fxLayoutAlign="space-around center">
              <div fxFlex="100">
                <div class="list-subheader">  <span class="capitalize">{{currentSlideName}}</span></div>
                <mat-list>
                  <mat-list-item><strong>Path: </strong>&nbsp;&nbsp; {{poolState.path}}</mat-list-item>
                  <mat-list-item (click)="updateSlide('data', poolState.topology.data.length > 0, 1)" [ngClass]="{'clickable': poolState.topology.data.length > 0}">
                    <strong>Data: </strong>&nbsp;&nbsp; {{poolState.topology.data.length}} vdev<span *ngIf="poolState.topology.data.length > 1">s</span>
                    <mat-icon *ngIf="poolState.topology.data.length > 0" class="next-slide">chevron_right</mat-icon>
                  </mat-list-item>

                  <mat-list-item (click)="updateSlide('disks', poolState.topology.cache.length > 0, 1, 0, { children: poolState.topology.cache})" [ngClass]="{'clickable': poolState.topology.cache.length > 0}">
                    <strong>Caches: </strong>&nbsp;&nbsp; {{poolState.topology.cache.length}}
                    <mat-icon *ngIf="poolState.topology.cache.length > 0" class="next-slide">chevron_right</mat-icon>
                  </mat-list-item>

                  <mat-list-item (click)="updateSlide('disks', poolState.topology.spare.length > 0, 1, 0, {children: poolState.topology.spare})" [ngClass]="{'clickable': poolState.topology.spare.length > 0}">
                    <strong>Spares: </strong>&nbsp;&nbsp; {{poolState.topology.spare.length}}
                    <mat-icon *ngIf="poolState.topology.spare.length > 0" class="next-slide">chevron_right</mat-icon>
                  </mat-list-item>

                  <mat-list-item (click)="updateSlide('disks', poolState.topology.log.length > 0, 1, 0, {children: poolState.topology.log})" [ngClass]="{'clickable': poolState.topology.log.length > 0}">
                    <strong>Logs: </strong>&nbsp;&nbsp; {{poolState.topology.log.length}}
                    <mat-icon *ngIf="poolState.topology.log.length > 0" class="next-slide">chevron_right</mat-icon>
                  </mat-list-item>

                </mat-list>
              </div>
            </div>

            </div>
          </ng-template>


          <ng-template #data>
            <!--<div class="slide topology" *ngIf="path[currentSlideIndex].name == 'topology'" fxFlex="100">-->
            <div class="list-subheader"><span class="capitalize">{{currentSlideName}}</span></div>
            <mat-list *ngIf="poolState && poolState.topology.data">
              <mat-list-item role="listitem"*ngFor="let vdev of poolState.topology.data; let i=index"
                 (click)="updateSlide('disks', true, currentSlideIndex + 1, i, vdev)" 
                 [ngClass]="{'clickable': true}">
                  <strong>{{vdev.type}}:</strong>&nbsp;&nbsp; {{vdev.status}}
                  <span *ngIf="vdev.status == 'ONLINE'" class="{{poolHealth.level}} healthy" >
                    <mat-icon role="img" fontSet="mdi-set" fontIcon="mdi-check-circle"></mat-icon>
                  </span>

                <mat-icon class="next-slide">chevron_right</mat-icon>
              </mat-list-item>
            </mat-list>
            <!--</div>-->
          </ng-template>

          <ng-template #disks>
            <!--<div #disks class="slide disks" *ngIf="path[currentSlideIndex].name == 'disks'; else emptySlide"  fxFlex="100">-->
            <div class="list-subheader"><span class="capitalize">Disks</span></div>

            <mat-list *ngIf="!path[currentSlideIndex].dataSource.type || path[currentSlideIndex].dataSource.type !== 'DISK'">
              
              <mat-list-item role="listitem" *ngFor="let disk of path[currentSlideIndex].dataSource.children; let i=index" 
                 (click)="updateSlide('disk details', true, currentSlideIndex + 1, i, disk )" 
                 (click)="getDiskDetails('name', disk.disk, checkMultipath(disk.disk))" 
                 [ngClass]="{'clickable': true}">
                <strong>{{checkMultipathLabel(disk.disk)}}<span *ngIf="checkMultipath(disk.disk)">&nbsp;(multipath)</span>:</strong>&nbsp;&nbsp; {{disk.status}}
                <span *ngIf="disk.status == 'ONLINE'" class="{{poolHealth.level}} healthy" >
                  <mat-icon role="img" fontSet="mdi-set" fontIcon="mdi-check-circle"></mat-icon>
                </span>
                <mat-icon class="next-slide">chevron_right</mat-icon>
              </mat-list-item>
              
            </mat-list>

            <mat-list *ngIf="path[currentSlideIndex].dataSource.type == 'DISK'">
              <mat-list-item role="listitem" 
                 (click)="updateSlide('disk details', true, currentSlideIndex + 1, i, path[currentSlideIndex].dataSource)" 
                 (click)="getDiskDetails('name', path[currentSlideIndex].dataSource.disk, checkMultipath(path[currentSlideIndex].dataSource.disk))" 
                 [ngClass]="{'clickable': true}">
                <strong>{{path[2].dataSource.disk}}:</strong>&nbsp;&nbsp; {{path[2].dataSource.status}}
                <span *ngIf="path[2].dataSource.status == 'ONLINE'" class="{{poolHealth.level}} healthy" >
                  <mat-icon role="img" fontSet="mdi-set" fontIcon="mdi-check-circle"></mat-icon>
                </span>
                <mat-icon class="next-slide">chevron_right</mat-icon>
              </mat-list-item>
            </mat-list>

            <!--</div>-->
          </ng-template>


          <ng-template #disk_details>
            <!--<div #disk_details class="slide disk-details" *ngIf="path[currentSlideIndex].name == 'disk details'; else emptySlide"  fxFlex="100">-->
            <div class="list-subheader"><span class="capitalize">Disk Details</span></div>
            <!--<div *ngIf="!currentMultipathDetails" class="list-subheader"><span class="capitalize">Details</span> for {{path[currentSlideIndex].dataSource.disk}}</div>
              <div *ngIf="currentMultipathDetails" class="list-subheader"><span class="capitalize">Details</span> for multipath device {{checkMultipathLabel(path[currentSlideIndex].dataSource.disk)}} &nbsp;&nbsp;</div>-->
            <mat-list >
              <mat-list-item *ngIf="!currentMultipathDetails" role="listitem">
                <strong> Name:</strong>&nbsp;&nbsp; {{currentMultipathDetails ? checkMultipathLabel(path[currentSlideIndex].dataSource.disk) : path[currentSlideIndex].dataSource.disk}}
              </mat-list-item>

            <ng-template [ngIf]="currentMultipathDetails">
              <mat-list-item role="listitem">
                <strong> Multipath Name:</strong>&nbsp;&nbsp; {{currentMultipathDetails ? checkMultipathLabel(path[currentSlideIndex].dataSource.disk) : path[currentSlideIndex].dataSource.disk}}
              </mat-list-item>

              <mat-list-item *ngFor="let child of currentMultipathDetails.children" role="listitem">
                <strong class="multipath-detail-label"><span class="capitalize">{{child.status.toLowerCase()}}</span> Disk:</strong>&nbsp;&nbsp; {{child.name}}
              </mat-list-item>
            </ng-template>

              <mat-list-item role="listitem">
                <strong> GUID:</strong>&nbsp;&nbsp; {{path[currentSlideIndex].dataSource.guid}}
              </mat-list-item>
              <mat-list-item role="listitem">
                <strong> Read Errors:</strong>&nbsp;&nbsp; {{path[currentSlideIndex].dataSource.stats.read_errors}}
              </mat-list-item>
              <mat-list-item role="listitem">
                <strong> Write Errors:</strong>&nbsp;&nbsp; {{path[currentSlideIndex].dataSource.stats.write_errors}}
              </mat-list-item>
              <mat-list-item role="listitem">
                <strong> Self Healed:</strong>&nbsp;&nbsp; {{path[currentSlideIndex].dataSource.stats.self_healed}}
              </mat-list-item>
            </mat-list>
            
            <!-- Multipath disk details-->
            <!--<div *ngIf="currentMultipathDetails" class="list-subheader">Multipath Details</div>
            <mat-list *ngIf="currentMultipathDetails">
              <mat-list-item *ngFor="let child of currentMultipathDetails.children" role="listitem">
                <strong class="multipath-detail-label"><span class="capitalize">{{child.status.toLowerCase()}}</span> Disk:</strong>&nbsp;&nbsp; {{child.name}}
              </mat-list-item>
              </mat-list>-->
            
            <!-- Dynamic disk details-->
            <div class="list-subheader">Advanced Details</div>
            <mat-list >
              <mat-list-item *ngFor="let key of currentDiskDetailsKeys" role="listitem">
                <strong class="detail-key"> {{key}}:</strong>&nbsp;&nbsp; {{currentDiskDetails[key]}}
              </mat-list-item>
            </mat-list>
            <!--</div>-->
          </ng-template>


          <ng-template #empty>
            <div class="empty"></div>
            <!--<div class="slide empty" fxFlex="100">
              </div>-->
          </ng-template>

        </div>

        <div class="carousel-nav">
          <div class="btn-wrapper">

            <!--<button *ngIf="currentSlide == '0'" mat-button color="default" (click)="updateSlide('overview', 0, previousSlide)">Overview</button>
              <button *ngIf="currentSlide !== '0'" mat-button color="default" (click)="updateSlide(path[previousSlide].name, true, previousSlide)"><mat-icon class="back-arrow">chevron_left</mat-icon>&nbsp; {{currentSlideName}}</button>-->

          </div>
        </div>

        <!-- DETAILS -->
        <!--<div class="title-wrapper fn-theme-primary" fxFlex="100">
          <mat-progress-bar class="widget-loader" *ngIf="loader" mode="indeterminate"></mat-progress-bar>
          <ng-container *ngIf="showLegendValues">
          <p class="title">{{altTitle}}</p>
          <p class="subtitle">{{altSubtitle}}</p>
          </ng-container>
          <ng-container *ngIf="!showLegendValues">
          <p class="title">{{title}}</p>
          <p class="subtitle">{{subtitle}}</p>
          </ng-container>
          <button mat-button class="reports-btn" (click)="router.navigate(['reportsdashboard/cpu'])">REPORTS</button>
          </div>-->
      </mat-card-content>
    </mat-card>

    <!--<ng-template *ngIf="configurable">
      <mat-card class="back">
      <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" fxFlex="100">
      </mat-card-content>
      <div class="widget-footer">
      <button mat-button color="accent" (click)="toggleConfig()">{{"Cancel" | translate}}</button>
      <button mat-button color="primary" type="submit" form="preferences" (click)="toggleConfig()">{{"Save" | translate}}</button>
      </div>
      </mat-card>
      </ng-template>-->

  </div>
</div>
