.disk-grid-header{
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.disk-tile{
  background-color:rgba(0,0,0,0.15);
}

.disk-name{
  font-weight:bold;
  margin: 0 4px 4px;
  font-size: 16px;
  width:100%;
}

.high-density .disk-name{
  font-size: 12px;
}

.disk-icon{
  font-size: 18px;
  margin: 4px 0 2px;
}

.high-density .disk-icon{
  display:none;
}

.disk-icon,
.disk-name{
  text-align:center;
  color:#fff;
}

.disk-tile,
.disk-icon,
.disk-name{
  cursor:pointer;
}

.disk-details{
  height: 240px;
  background: rgba(0,0,0,0.05);
  border: solid 1px rgba(0,0,0,0.1);
  padding: 8px;
}

span.disk-detail-title {
  font-weight: bold;
  font-size: 1.25em;
  text-align: left;
}

span.disk-detail-subtitle {
  text-align: left;
  font-size: 0.85em;
  opacity: 0.65;
}

.disk-detail span.label{
  font-weight:bold;
}

.pool-status{
  background-color: #333;
  color: #fff;
  border-radius: 2px;
  font-weight: bold;
  font-size: 12px;
  padding: 6px;
}
