.dir-service-monitor-dialog {
  width: 350px;
}

.header {
  background: var(--bg2);
  border-bottom: 1px solid var(--lines);
  height: 42px;
  margin-left: -24px;
  margin-right: -24px;
  padding: 4px 8px 12px 24px;
}

.header-actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.mat-mdc-table {
  background: var(--bg2);
  margin-left: -24px;
  margin-right: -24px;

  .mat-header-row {
    display: none !important;
  }

  .mat-cell,
  .mat-footer-cell,
  .mat-header-cell {
    color: var(--fg1);
  }
}

.mat-icon.state-healthy {
  color: var(--green);
}

.mat-icon.state-faulted {
  color: var(--red);
}

.mat-icon.state-joining {
  color: var(--primary);
}

.mat-icon.state-leaving {
  color: var(--accent);
}

.mat-icon.state-disabled {
  color: var(--grey);
}

.table-row:hover {
  background: var(--hover-bg);
}

.clickable {
  cursor: pointer;
}

.spinner-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 98px;
  text-align: center;
  width: 100%;
}
