.dialog {
  padding: 0;
  width: 350px;
}

.header {
  background: var(--bg2);
  border-bottom: 1px solid var(--lines);
  display: flex;
  justify-content: space-between;
  padding: 11px 6px 7px 16px;
}

.header-actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.status-row {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  padding: 11px 18px;

  &:hover {
    background: var(--hover-bg);
  }

  .state {
    align-items: center;
    display: flex;
    font-size: 14px;
    gap: 8px;
  }

  .icon {
    &.state-healthy {
      color: var(--green);
    }

    &.state-faulted {
      color: var(--red);
    }

    &.state-joining {
      color: var(--primary);
    }

    &.state-leaving {
      color: var(--accent);
    }

    &.state-disabled {
      color: var(--grey);
    }
  }
}

.spinner-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 98px;
  text-align: center;
  width: 100%;
}
