@import 'mixins/cards';

.card {
  @include details-card();
}

.details-item {
  padding-bottom: 10px;

  ix-icon {
    margin-right: 10px;
  }
}

.loading {
  padding: 16px;
}

.sed-badge {
  background-color: var(--primary);
  border-radius: 4px;
  color: var(--contrast-darkest);
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  margin-left: 8px;
  padding: 4px 8px;
  text-transform: uppercase;
  vertical-align: middle;
}
