<mat-card>
  <mat-toolbar-row>
    <h3>{{ 'NTP Servers' | translate }}</h3>
    <div class="actions action-icon">
      <button mat-button color="default" (click)="doAdd()">{{ 'Add' | translate }}</button>
    </div>
  </mat-toolbar-row>
  <mat-card-content>
    <table ix-table [dataSource]="dataSource" class="mat-elevation-z0">
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>{{ 'Address' | translate }}</th>
        <td mat-cell *matCellDef="let server; dataSource: dataSource" (click)="doEdit(server)">{{ server.address }}</td>
      </ng-container>
      <ng-container matColumnDef="burst">
        <th mat-header-cell *matHeaderCellDef>{{ 'Burst' | translate }}</th>
        <td mat-cell *matCellDef="let server; dataSource: dataSource" (click)="doEdit(server)">{{ server.burst }}</td>
      </ng-container>
      <ng-container matColumnDef="iburst">
        <th mat-header-cell *matHeaderCellDef>{{ 'IBurst' | translate }}</th>
        <td mat-cell *matCellDef="let server; dataSource: dataSource" (click)="doEdit(server)">{{ server.iburst }}</td>
      </ng-container>
      <ng-container matColumnDef="prefer">
        <th mat-header-cell *matHeaderCellDef>{{ 'Prefer' | translate }}</th>
        <td mat-cell *matCellDef="let server; dataSource: dataSource" (click)="doEdit(server)">{{ server.prefer }}</td>
      </ng-container>
      <ng-container matColumnDef="minpoll">
        <th mat-header-cell *matHeaderCellDef>{{ 'Min Poll' | translate }}</th>
        <td mat-cell *matCellDef="let server; dataSource: dataSource" (click)="doEdit(server)">{{ server.minpoll }}</td>
      </ng-container>
      <ng-container matColumnDef="maxpoll">
        <th mat-header-cell *matHeaderCellDef>{{ 'Max Poll' | translate }}</th>
        <td mat-cell *matCellDef="let server; dataSource: dataSource" (click)="doEdit(server)">{{ server.maxpoll }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let server; dataSource: dataSource">
          <button
            mat-icon-button
            type="button"
            (click)="doDelete(server)"
            aria-label="Delete"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
        *matRowDef="let server; columns: displayedColumns; dataSource: dataSource"
        class="clickable-row"
      ></tr>

      <tr class="mat-row no-data-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          <entity-empty [conf]="ixEmptyService.defaultEmptyConfig(emptyType, 'NTP Servers')"></entity-empty>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

