.ion-android-more-vertical::before {
  color: black;
}

.panel_container {
  text-align: center;
}

.global_volume_based_action_menu {
  float: right;
  margin-top: 8px;
  padding-bottom: 20px;
}

.group-menu-header {
  margin-top: 12px;
  min-width: 200px;
  padding-bottom: 16px;
}

.group-menu-header div.title {
  font-size: 0.85rem;
  margin-left: 16px;
  margin-top: 4px;
  opacity: 0.5;
}

.group-menu-header mat-divider {
  background-color: var(--fg2);
  opacity: 0.35;
}

.action-length-1 button {
  position: relative;
  right: -16px;
}

.transparent-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
}
