<tn-form-list
  [control]="formArray()"
  [empty]="formArray().controls.length === 0"
  [label]="label()"
  [tooltip]="tooltip()"
  [addLabel]="'Add' | translate"
  [emptyMessage]="'No items have been added yet.' | translate"
  (add)="addGrant()"
>
  @for (group of formArray().controls; track group; let i = $index) {
    <tn-form-list-item
      testId="remove-from-list"
      [label]="label()"
      [removeAriaLabel]="'Remove {label} item' | translate: { label: label() }"
      (delete)="removeGrant(i)"
    >
      <div class="grant" [formGroup]="group">
        <tn-form-field [label]="'Principal' | translate" [required]="true">
          <tn-select formControlName="principal_type" [options]="principalTypeOptions"></tn-select>
        </tn-form-field>

        @switch (group.controls.principal_type.value) {
          @case (S3PrincipalType.User) {
            <ix-combobox
              formControlName="xid"
              [label]="'User' | translate"
              [provider]="providersFor(group).user"
              [required]="true"
            ></ix-combobox>
          }
          @case (S3PrincipalType.Group) {
            <ix-combobox
              formControlName="xid"
              [label]="'Group' | translate"
              [provider]="providersFor(group).group"
              [required]="true"
            ></ix-combobox>
          }
        }

        <tn-form-field [label]="'Access' | translate" [required]="true">
          <tn-select formControlName="access" [options]="accessOptions"></tn-select>
        </tn-form-field>
      </div>
    </tn-form-list-item>
  }
</tn-form-list>
