<div class="item-search">
  <ix-basic-search
    [query]="searchQuery()"
    (queryChange)="onListFiltered($event)"
  ></ix-basic-search>
</div>

@if (!list.empty.count() && !list.isLoading()) {
  @if (searchQuery()) {
    <tn-empty
      [icon]="noSearchResultsIcon.name"
      [iconLibrary]="noSearchResultsIcon.library"
      [iconSize]="noSearchResultsIcon.size"
      [title]="noSearchResultsConfig.title | translate"
      [description]="noSearchResultsConfig.message | translate"
    ></tn-empty>
  } @else {
    <tn-empty
      [icon]="emptyIcon.name"
      [iconLibrary]="emptyIcon.library"
      [iconSize]="emptyIcon.size"
      [title]="emptyConfig.message | translate | flattenEmptyMessage"
    ></tn-empty>
  }
} @else {
  <tn-table
    class="backups"
    [testId]="'table-table'"
    [ixUiSearch]="searchableElements.elements.tasks"
    [dataSource]="list.rows()"
    [displayedColumns]="list.displayedColumns()"
    [trackBy]="trackByBackupId"
    [loading]="list.isLoading()"
    [clickable]="true"
    [activeRow]="activeRow()"
    (rowClick)="onRowClick($event)"
    (sortChange)="list.onSortChange($event)"
  >
    <ng-container [tnColumnDef]="'description'" [sortable]="true">
      <ng-template tnHeaderCellDef>{{ 'Name' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <ix-table-text-cell
          [value]="row.description"
          [title]="'Name' | translate"
          [uniqueRowTag]="uniqueRowTag(row)"
          [tooltip]="row.description || ''"
        ></ix-table-text-cell>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'enabled'" [sortable]="true" [width]="'70px'">
      <ng-template tnHeaderCellDef>{{ 'Enabled' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <ix-table-toggle-cell
          #enabledToggle
          [title]="'Enabled' | translate"
          [uniqueRowTag]="uniqueRowTag(row)"
          [ariaLabel]="ariaLabel(row)"
          [checked]="!!row.enabled"
          [requiredRoles]="requiredRoles"
          (toggled)="onChangeEnabledState(row, enabledToggle)"
        ></ix-table-toggle-cell>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'snapshot'" [sortable]="true" [width]="'90px'">
      <ng-template tnHeaderCellDef>{{ 'Snapshot' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <ix-table-text-cell
          testIdSuffix="row-yesno"
          [value]="row.snapshot | yesNo | translate"
          [title]="'Snapshot' | translate"
          [uniqueRowTag]="uniqueRowTag(row)"
        ></ix-table-text-cell>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'state'" [width]="'120px'">
      <ng-template tnHeaderCellDef>{{ 'State' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <ix-task-state-cell
          [state]="row.job?.state"
          [job]="row.job"
          [testId]="[('State' | translate), uniqueRowTag(row), 'row-state']"
          [ariaLabel]="ariaLabel(row)"
        ></ix-task-state-cell>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'last-run'">
      <ng-template tnHeaderCellDef>{{ 'Last Run' | translate }}</ng-template>
      <ng-template let-row tnCellDef>
        <ix-table-relative-date-cell
          [value]="row.job?.time_finished?.$date"
          [title]="'Last Run' | translate"
          [uniqueRowTag]="uniqueRowTag(row)"
        ></ix-table-relative-date-cell>
      </ng-template>
    </ng-container>

    <ng-container [tnColumnDef]="'actions'" [width]="'80px'">
      <ng-template tnHeaderCellDef></ng-template>
      <ng-template let-row tnCellDef>
        <ix-table-actions-cell
          [actions]="actions"
          [row]="row"
          [uniqueRowTag]="uniqueRowTag(row)"
          [ariaLabel]="ariaLabel(row)"
        ></ix-table-actions-cell>
      </ng-template>
    </ng-container>
  </tn-table>

  <tn-table-pager [dataProvider]="dataProvider()"></tn-table-pager>
}
