<div *appLet="isMobile$ | async as isMobile" class="widget stats-widget" ngClass.xs="double-height xs">
  <div class="card-container">
    <mat-card class="front">
      <mat-card-content class="card">
        <ix-drag-handle [showReorderHandle]="showReorderHandle">
          <ng-content [select]="[cdkDragHandle]"></ng-content>

          <mat-toolbar-row>
            <button
              class="mat-card-title-text primary-nav"
              mat-icon-button
              color="default"
              ixTest="help-back"
              [attr.aria-label]="'Go back' | translate"
              (click)="goBack()"
            >
              <ix-icon name="chevron_left"></ix-icon>
            </button>

            <h3 class="mat-card-title-text">
              <ix-drag-handle [showReorderHandle]="showReorderHandle">
                <div class="card-title-text">
                  <span *ngIf="showReorderHandle" class="grip"></span>
                  <span>{{ 'Backup Tasks' | translate }}</span>
                </div>
              </ix-drag-handle>
            </h3>

            <div *ngIf="!!allCount" class="status-container">
              <ix-icon
                *ngIf="!failedCount"
                name="mdi-check-circle"
                class="icon healthy"
              ></ix-icon>
              <ix-icon
                *ngIf="!!failedCount"
                name="mdi-alert"
                class="icon warning"
              ></ix-icon>
              <span *ngIf="!!failedCount">
                {{ '{failedCount} of {allCount, plural, =1 {# task} other {# tasks}} failed' | translate : { failedCount, allCount } }}
              </span>
            </div>

            <div class="controls">
              <a
                mat-icon-button
                ixTest="go-to-backups"
                matTooltipPosition="above"
                [attr.aria-label]="'Data Protection' | translate"
                [matTooltip]="'Data Protection' | translate"
                [routerLink]="['/data-protection']"
              >
                <ix-icon name="open_in_new"></ix-icon>
              </a>
            </div>
          </mat-toolbar-row>
        </ix-drag-handle>

        <div *ngIf="backupsTiles.length" class="card-content">
          <mat-grid-list gutterSize="5px" [cols]="1" [rowHeight]="hasSendTasks ? 105 : 90">
            <mat-grid-tile *ngFor="let tile of backupsTiles; trackBy: trackByTile">
              <div class="tile">
                <div class="tile-content">
                  <ul class="caption" [style.max-width.%]="isMobile ? 50 : 25">
                    <span class="title">{{ tile.title | translate }}</span>
                    <div *ngIf="hasSendTasks && !tile.totalSend" class="backup-actions">
                      <ng-template *ngTemplateOutlet="backupActions"></ng-template>
                    </div>
                  </ul>
                  <div class="divider"></div>
                  <ul [style.max-width.%]="isMobile ? 50 : 25">
                    <li>
                      <span [class]="['icon', tile.failedSend ? 'warn' : 'safe']">
                        <ix-icon [name]="tile.failedSend ? 'mdi-alert' : 'mdi-check-circle'"></ix-icon>
                      </span>
                      <span class="label">
                        {{ '{tasks, plural, =1 {# send task} other {# send tasks}}' | translate : { tasks: tile.totalSend } }}
                      </span>
                    </li>
                    <li>
                      <span [class]="['icon', tile.failedReceive ? 'warn' : 'safe']">
                        <ix-icon [name]="tile.failedReceive ? 'mdi-alert' : 'mdi-check-circle'"></ix-icon>
                      </span>
                      <span class="label">
                        {{ '{tasks, plural, =1 {# receive task} other {# receive tasks}}' | translate : { tasks: tile.totalReceive } }}
                      </span>
                    </li>
                    <li>
                      <span [class]="['icon', tile.failedSend + tile.failedReceive ? 'warn' : 'safe']">
                        <ix-icon [name]="tile.failedSend + tile.failedReceive ? 'mdi-alert' : 'mdi-check-circle'"></ix-icon>
                      </span>
                      <span class="label">
                        {{ 'Total failed' | translate }}: {{ tile.failedSend + tile.failedReceive }}
                      </span>
                    </li>
                  </ul>
                  <div *ngIf="!isMobile" class="divider"></div>
                  <ul *ngIf="!isMobile" [style.max-width.%]="50">
                    <li>
                      <span *ngIf="!tile.lastWeekSend" class="label dash">—</span>
                      <span *ngIf="tile.lastWeekSend" class="label">
                        {{ '{tasks, plural, =1 {# sent task} other {# sent tasks}} this week' | translate : { tasks: tile.lastWeekSend } }}
                      </span>
                    </li>
                    <li>
                      <span *ngIf="!tile.lastWeekReceive" class="label dash">—</span>
                      <span *ngIf="tile.lastWeekReceive" class="label">
                        {{ '{tasks, plural, =1 {# received task} other {# received tasks}} this week' | translate : { tasks: tile.lastWeekReceive } }}
                      </span>
                    </li>
                    <li>
                      <span class="label">
                        {{ 'Last successful' | translate }}:
                        {{ tile.lastSuccessfulTask ? (tile.lastSuccessfulTask.$date | formatDateTime) : ('Never' | translate) }}
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <div *ngIf="!hasSendTasks" class="banner">
            <ng-template *ngTemplateOutlet="backupActions"></ng-template>
          </div>
        </div>
        <div *ngIf="!backupsTiles.length">
          <div *ngIf="!isLoading" class="empty-card-content">
            <ix-icon name="mdi-format-list-text" class="empty-icon"></ix-icon>
            <div class="backup-actions">
              <ng-template *ngTemplateOutlet="backupActions"></ng-template>
            </div>
            <div class="details-item">
              <div class="label">{{ 'Actions' | translate }}</div>
            </div>
            <div class="details-item">
              <a
                class="action"
                tabIndex="0"
                ixTest="cloud-sync"
                (click)="addCloudSyncTask()"
                (keydown.enter)="addCloudSyncTask()"
              >
                {{ 'Cloud Sync to Storj or similar provider' | translate }}
              </a>
            </div>
            <div class="details-item">
              <a
                class="action"
                tabIndex="0"
                ixTest="replication"
                (click)="addReplicationTask()"
                (keydown.enter)="addReplicationTask()"
              >
                {{ 'ZFS Replication to another TrueNAS' | translate }}
              </a>
            </div>
            <div class="details-item">
              <a
                class="action"
                tabIndex="0"
                ixTest="rsync"
                (click)="addRsyncTask()"
                (keydown.enter)="addRsyncTask()"
              >
                {{ 'Rsync to another server' | translate }}
              </a>
            </div>
          </div>
          <div *ngIf="isLoading" class="loading-card-content">
            <mat-spinner [diameter]="40"></mat-spinner>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #backupActions>
  <ng-container *ngIf="!!allCount">
    {{ 'Backup' | translate }}
    <a class="backup-action" ixTest="cloud" (click)="addCloudSyncTask()">
      {{ 'to cloud' | translate }}
    </a>
    {{ 'or' | translate }}
    <a class="backup-action" ixTest="another-TrueNAS" (click)="addReplicationTask()">
      {{ 'to another TrueNAS' | translate }}
    </a>
  </ng-container>
  <ng-container *ngIf="!allCount">
    {{ 'Backup to Cloud or another TrueNAS via links below' | translate }}
  </ng-container>
</ng-template>
