input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.7);
  display: block;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  padding: 10px 15px;
  width: 100%;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
}

.form-checkbox {
  &.form-element {
    margin: 1px 0 22px;
    min-height: 24px;
  }

  &.expanded-height {
    margin: 48px 0 22px;
  }
}

@import 'cssvars';
@media #{$media-lt-sm} {
  .form-checkbox {
    &.expanded-height {
      margin: 22px 0;
    }
  }
}
