.full-width {
  color: var(--fg1);
  width: 100%;
}

.container {
  padding: 8px 0;
}

.tooltip {
  margin-left: 8px;
}

.input-container {
  background: var(--bg1);
  border: 1.5px solid var(--lines);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding: 6px;
  position: relative;

  &:focus-within {
    border-color: var(--primary);
  }
}

.label-container {
  margin-bottom: 5px;
  margin-left: 1px;
}

.label {
  font-size: x-small;
}


.reset-input {
  align-items: center;
  bottom: 0;
  cursor: pointer;
  display: flex;
  opacity: 0.5;
  padding: 5px;
  position: absolute;
  right: 0.3rem;
  top: 0;
  user-select: none;
}

.input-container mat-icon {
  font-size: 1rem;
  height: auto;
  width: auto;
}

.ix-selected {
  background: var(--primary) !important;
}
