<ng-container [formGroup]="form">
  <tn-form-field>
    @for (option of (dispersalOptions$ | async) ?? []; track option.value) {
      <tn-radio
        name="dispersalStrategy"
        formControlName="dispersalStrategy"
        [value]="option.value"
        [label]="option.label"
      ></tn-radio>
    }
  </tn-form-field>

  @if (isLimitingToSingle) {
    <div class="limiting">
      <tn-form-field [label]="'Enclosure' | translate" [required]="true">
        <tn-select
          formControlName="limitToEnclosure"
          [options]="(enclosureOptions$ | async) ?? []"
        ></tn-select>
      </tn-form-field>

      <div class="description">
        {{ helptext.enclosureOptionsDescription | translate }}
      </div>
    </div>
  }
</ng-container>

@if (stepWarning()) {
  <p class="error-warning">
    {{ stepWarning() }}
  </p>
}

<ix-form-actions>
  <tn-button
    tnStepperPrevious
    color="secondary"
    type="button"
    [testId]="'back-enclosure'"
    [label]="'Back' | translate"
    [disabled]="form.invalid"
  ></tn-button>
  <div class="step-buttons">
    <tn-button
      tnStepperNext
      color="primary"
      type="button"
      [testId]="'next-enclosure'"
      [label]="'Next' | translate"
      [disabled]="form.invalid"
    ></tn-button>
  </div>
</ix-form-actions>
