.tool {
  display: flex;
  margin: 0 -16px;

  &:not(&.disabled) {
    color: var(--fg2) !important;
  }

  &.disabled {
    color: var(--fg2) !important;
    opacity: 0.5;
  }

  ::ng-deep .mdc-button__label {
    flex-grow: 1;
    justify-content: space-between;
  }
}
