:host {
  display: block;
}

.pool-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.pool-name {
  color: var(--fg2);
}

.pool-cards {
  column-gap: 5px;
  display: flex;
  row-gap: 5px;

  > * {
    // TODO: Potentially duplicates numbers on other pages
    flex: 1;
    max-width: 620px;
    min-width: 420px;
  }
}

