@import '~assets/styles/mixins/cards';

:host {
  display: block;
}

.pool-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.pool-name {
  color: var(--fg2);
}

.pool-cards {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

  @media #{$media-gt-lg} {
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  }
}

.pool-actions {
  button {
    margin-left: 6px;
  }
}
