.fn-mat-select .mat-menu-panel {
  max-width: none !important;
}

.inline-label div.label.half-width,
.inline-label .mat-form-field {
  display: inline-block;
}

.inline-label div.label.half-width {
  width: calc(50% - 16px);
}

.inline-label .mat-form-field {
  width: calc(40% - 16px);
}

.inline-label .mat-form-field {
  padding: 8px;
}

.link {
  align-items: center;
  color: var(--primary);
  cursor: pointer;
  display: flex;
  font-size: x-small;
  margin-left: auto;

  .mat-icon {
    align-items: center;
    display: flex;
    line-height: 40px;
    margin-left: 3px;
    margin-right: 1px;
    width: unset;
  }
}

:host-context(ix-alert-config-form) {
  .inline-label label.label.input-select {
    padding: 8px !important;
  }
}

.alert-icon {
  position: absolute;
  right: 0;
}

.alert-icon .mat-icon {
  font-size: 1rem;
  height: auto;
  width: auto;
}

mat-option.text-wrap,
.mat-menu-item.text-wrap {
  height: unset !important;
  line-height: inherit !important;
  padding-bottom: 4px;
  padding-top: 4px;
  text-overflow: initial !important;
  white-space: normal !important;
}

mat-option {
  &.text-wrap {
    min-height: 48px;
  }

  &[disabled] {
    opacity: 0.5;
  }

  .option-tooltip {
    margin-left: 3px;
    vertical-align: -2px;
  }
}

.mat-menu-item.text-wrap {
  min-height: 36px;
}
