:host {
  display: block;
  min-width: 350px;
}

h1 {
  align-items: center;
  display: flex;

  ix-icon {
    margin-right: 5px;
  }
}

.attributes {
  font-family: monospace;
  white-space: pre-line;
}
