:host {
  display: block;
  min-width: 330px;
}

h1 {
  align-items: center;
  display: flex;

  ix-icon {
    margin-right: 5px;
  }
}

.attributes {
  font-family: var(--font-family-monospace);
  white-space: pre-line;
}
