<mat-card class="card">
  <mat-card-header>
    <h3 mat-card-title>{{ 'ZFS Info' | translate }}</h3>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div class="details-item" *ngIf="topologyParentItem.name">
        <span class="label">{{ 'Parent' | translate }}:</span>
        <span class="value">{{ topologyParentItem.name | uppercase }}</span>
      </div>
      <div class="details-item">
        <span class="label">{{ 'Read Errors' | translate }}:</span>
        <span class="value">{{ readErrors }}</span>
      </div>
      <div class="details-item">
        <span class="label">{{ 'Write Errors' | translate }}:</span>
        <span class="value">{{ writeErrors }}</span>
      </div>
      <div class="details-item">
        <span class="label">{{ 'Checksum Errors' | translate }}:</span>
        <span class="value">{{ checksumErrors }}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="isDisk">
    <button *ngIf="canRemoveDisk" mat-stroked-button (click)="onRemove()">{{ 'Remove' | translate }}</button>
    <button *ngIf="canDetachDisk" mat-stroked-button (click)="onDetach()">{{ 'Detach' | translate }}</button>
    <button *ngIf="canOfflineDisk" mat-stroked-button (click)="onOffline()">{{ 'Offline' | translate }}</button>
    <button *ngIf="canOnlineDisk" mat-stroked-button (click)="onOnline()">{{ 'Online' | translate }}</button>
    <button *ngIf="canReplaceDisk" mat-stroked-button (click)="onReplace()">{{ 'Replace' | translate }}</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="isMirror">
    <button mat-stroked-button (click)="onExtend()">{{ 'Extend' | translate }}</button>
    <button mat-stroked-button (click)="onRemove()">{{ 'Remove' | translate }}</button>
  </mat-card-actions>
</mat-card>
