.header {
  align-items: baseline;
  flex-wrap: wrap;

  .header-title {
    margin-bottom: 0;
  }

  .dataset-path {
    display: flex;
    margin-left: 10px;
  }

  .header-label {
    font-weight: 500;
    margin-right: 6px;
  }

  .ownership-row {
    display: flex;
    padding-left: 25px;
    width: 100%;

    label {
      margin-top: 15px;
    }

    ix-checkbox {
      margin-bottom: 8px;
      margin-top: 0;
    }
  }

  .owner-combobox {
    margin: 0;
    margin-right: 20px;
    min-width: 220px;
  }
}

.card {
  margin: 0 auto;
}

.content {
  padding-bottom: 1px;
}

.spinner {
  margin: 30px auto;
}

.columns {
  display: flex;
  padding: 0;

  .column-left {
    background-color: var(--contrast-darker);
    flex-basis: 400px;
  }

  .column-right {
    flex-grow: 1;
  }
}

.add-item {
  margin: 10px 0 16px 17px;
}

.controls-container {
  border-top: 1px solid var(--lines);
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  margin: 21px 20px 0;
  min-width: 240px;
  padding-bottom: 40px;

  .recursive-checkbox {
    margin-bottom: 5px;
    margin-top: 1px;
  }

  .presets-label {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 16px;
  }
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  ::ng-deep > * {
    flex-grow: 1;
    margin-right: 6px;

    button {
      width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
