<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <tn-form-section>
    <tn-form-field [label]="helptext.name | translate" [required]="true">
      <tn-input
        name="name"
        testId="name"
        formControlName="name"
        [placeholder]="helptext.name | translate"
        [required]="true"
      ></tn-input>
    </tn-form-field>

    <ix-file-input
      formControlName="file"
      [label]="helptext.keytab | translate"
      [tooltip]="helptext.keytabTooltip | translate"
      [multiple]="false"
      [required]="true"
      [acceptedFiles]="'binary'"
    ></ix-file-input>
  </tn-form-section>
</form>
