.card {
  margin: 0 auto;
  max-width: 850px;
}

.form-actions {
  margin-top: 12px;
  padding-bottom: 12px;
  height: 54px;
  width: 100%;
  display: flex;
  gap: 10px;

  button {
    height: 54px;
    flex: 1;
  }
}

.oauth-message {
  display: flex;

  .tn-icon {
    margin-right: 4px;
  }
}

:host ::ng-deep {
  .oauth-button {
    margin: 10px 0;
    width: 100%;
  }
}