.card {
  margin: 0 auto;
  max-width: 850px;
}

.form-actions {
  padding-bottom: 12px;

  button {
    margin-left: 10px;
  }
}

.oauth-message {
  display: flex;

  .ix-icon {
    margin-right: 4px;
  }
}

:host ::ng-deep {
  .oauth-button {
    margin: 10px 0;
    width: 100%;
  }
}
