<ix-form
  [formGroup]="form"
  [title]="'Email Options' | translate"
  [externalLoading]="isLoading()"
  [requiredRoles]="requiredRoles"
  [extraDisabled]="extraDisabled()"
  [submitHandler]="handleSubmit"
  (closed)="closed.emit($event)"
>
  <tn-form-section>
    <ix-radio-group
      [label]="'Send Mail Method' | translate"
      [formControl]="sendMethodControl"
      [options]="sendMethodOptions$"
    ></ix-radio-group>

    <tn-form-field
      [label]="'From Email' | translate"
      [required]="isFromEmailRequired"
      [tooltip]="helptext.fromemail.tooltip | translate"
    >
      <tn-input formControlName="fromemail"></tn-input>
    </tn-form-field>

    <tn-form-field
      [label]="'From Name' | translate"
      [tooltip]="helptext.fromname.tooltip | translate"
    >
      <tn-input formControlName="fromname"></tn-input>
    </tn-form-field>

    @if (isSmtp()) {
      <tn-form-field
        [label]="'Outgoing Mail Server' | translate"
        [tooltip]="helptext.outgoingserver.tooltip | translate"
      >
        <tn-input formControlName="outgoingserver"></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="'Mail Server Port' | translate"
        [required]="true"
        [tooltip]="helptext.port.tooltip | translate"
      >
        <tn-input
          formControlName="port"
          [inputType]="InputType.Number"
        ></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="'Security' | translate"
        [tooltip]="helptext.security.tooltip | translate"
      >
        <tn-select
          formControlName="security"
          [options]="(securityOptions$ | async) ?? []"
        ></tn-select>
      </tn-form-field>

      <tn-form-field [tooltip]="helptext.auth.smtp.tooltip | translate">
        <tn-checkbox
          formControlName="smtp"
          [label]="'SMTP Authentication' | translate"
        ></tn-checkbox>
      </tn-form-field>

      @if (hasSmtpAuthentication) {
        <tn-form-field
          [label]="'Username' | translate"
          [required]="true"
          [tooltip]="helptext.user.tooltip | translate"
        >
          <tn-input formControlName="user"></tn-input>
        </tn-form-field>

        <tn-form-field
          [label]="'Password' | translate"
          [tooltip]="helptext.pass.tooltip | translate"
        >
          <tn-input
            formControlName="pass"
            [inputType]="InputType.Password"
            [showPasswordToggle]="true"
          ></tn-input>
        </tn-form-field>
      }
    } @else {
      <div class="oauth-message">
        @if (hasOauthAuthorization()) {
          <tn-icon name="check-circle" library="mdi"></tn-icon>
          {{ '{oauthType} credentials have been applied.' | translate: { oauthType } }}
        } @else {
          <tn-icon name="information" library="mdi"></tn-icon>
          {{ 'Log in to {oauthType} to set up Oauth credentials.' | translate: { oauthType } }}
        }
      </div>
      <ix-oauth-button
        testId="login-to-oauth-provider"
        [oauthType]="oauthType"
        [oauthUrl]="oauthUrl"
        [isLoggedIn]="hasOauthAuthorization()"
        (loggedIn)="onLoggedIn($event)"
      ></ix-oauth-button>
    }
  </tn-form-section>
</ix-form>
