<tn-dialog-shell [title]="'Logs Details' | translate">
<form class="ix-form-container" [formGroup]="form">
  <ix-input
    formControlName="tail_lines"
    type="number"
    [label]="'Tail Lines' | translate"
    [required]="true"
  ></ix-input>

  <div tnDialogAction align="end">
    <button
      mat-button
      type="button"
      ixTest="cancel"
     
    >
      {{ 'Cancel' | translate }}
    </button>
    <button
      mat-button
      type="submit"
      color="primary"
      ixTest="choose"
      [disabled]="form.invalid"
     
    >
      {{ 'Connect' | translate }}
    </button>
  </div>
</form>
</tn-dialog-shell>
