<ix-modal-header
  [requiredRoles]="requiredRoles"
  [title]="'S.M.A.R.T.' | translate"
  [loading]="isFormLoading"
></ix-modal-header>

<mat-card class="card">
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset [title]="'General Options' | translate">
        <ix-input
          formControlName="interval"
          type="number"
          [label]="'Check Interval' | translate"
          [required]="true"
          [tooltip]="tooltips.interval"
        ></ix-input>

        <ix-select
          formControlName="powermode"
          [label]="'Power Mode' | translate"
          [required]="true"
          [options]="powermodeOptions$"
          [tooltip]="tooltips.powermode"
        ></ix-select>

        <ix-input
          formControlName="difference"
          type="number"
          [label]="'Difference' | translate"
          [tooltip]="tooltips.difference"
          [required]="true"
        ></ix-input>

        <ix-input
          formControlName="informational"
          type="number"
          [label]="'Informational' | translate"
          [tooltip]="tooltips.informational"
          [required]="true"
        ></ix-input>

        <ix-input
          formControlName="critical"
          type="number"
          [label]="'Critical' | translate"
          [tooltip]="tooltips.critical"
          [required]="true"
        ></ix-input>
      </ix-fieldset>

      <ix-form-actions>
        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          type="submit"
          color="primary"
          ixTest="save"
          [disabled]="form.invalid || isFormLoading"
        >
          {{ 'Save' | translate }}
        </button>
      </ix-form-actions>
    </form>
  </mat-card-content>
</mat-card>
