:host {
  color: var(--fg2);
}

.columns {
  box-sizing: border-box;
  column-gap: 16px;
  display: flex;
  flex-direction: row;

  > div {
    flex: 1 1 50%;
  }
}

.username {
  margin-bottom: 0;
  margin-top: 6px;
  max-width: 55%;
}

.password {
  margin-bottom: 0;
}

.inlined-control {
  margin: 0;
  padding: 0;
}

.role {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1px;
  padding-top: 2px;
}

.role-hint {
  color: var(--alt-fg1);
  margin-bottom: -5px;
  margin-left: 2px;
  margin-top: 0;

  a {
    text-decoration: underline;
  }
}

.ssh_key {
  margin-top: 10px;
}

.api-access-hint {
  color: var(--alt-fg1);
  margin-bottom: 0;
}

.access-checkbox {
  align-items: center;
  column-gap: 7px;
  display: inline-flex;

  ix-icon {
    height: 22px;
    margin-top: 1px;
    width: 22px;
  }
}

.truenas-access-field {
  align-items: baseline;
  column-gap: 13px;
  display: flex;

  .role-container {
    flex-grow: 1;
  }
}

.extra-details.alternative-colors {
  margin-left: -2px;
  row-gap: 0;

  .item > * {
    align-self: stretch;
    min-height: 27px;
    padding-top: 2px;
  }

  .item:nth-child(odd) > * {
    background-color: #1e1e1e54;
  }

  .name {
    padding-left: 6px;
  }

  .value-prompt {
    background-color: transparent;
  }
}

.extra-details {
  align-items: baseline;
  color: var(--fg1);
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 16px;
  row-gap: 6px;
  width: 100%;

  .item {
    display: contents;
    font-size: 13px;
  }

  .with-spacer {
    margin-top: 10px;
  }

  .name {
    font-weight: bold;
    max-width: 110px;
    padding-right: 8px;
  }

  .extra-controls-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
  }

  .value-prompt {
    background-color: var(--alt-bg1);
    column-gap: 2px;
    cursor: pointer;
    display: inline-flex;
    padding: 0 5px;

    > .edit-icon {
      height: 18px;
      margin-left: 2px;
      margin-top: 2px;
      width: 18px;
    }

    &.empty-value {
      font-style: italic;
    }
  }
}

.sharing-admins-group {
  line-height: 115%;
  margin-bottom: 2px;
  margin-top: 5px;
}
