<ix-modal-header
  [title]="'Add User' | translate"
></ix-modal-header>

<form
  class="ix-form-container"
  [formGroup]="form"
  (submit)="onSubmit()"
>
  <ix-fieldset>
    <div>
      <ix-input
        formControlName="username"
        class="username"
        [label]="'Username' | translate"
        [tooltip]="fakeTooltip"
        [required]="true"
      ></ix-input>
    </div>
  </ix-fieldset>

  <ix-allowed-access-section
    (allowAccessConfigUpdate)="setAllowAccessConfig($event)"
  ></ix-allowed-access-section>
  <ix-auth-section
    [sshAccessEnabled]="allowedAccessConfig().sshAccess"
    [smbAccessEnabled]="allowedAccessConfig().smbAccess"
    (authConfigUpdate)="setAuthConfig($event)"
  ></ix-auth-section>  

  <ix-additional-details-section
    [shellAccessEnabled]="allowedAccessConfig().shellAccess"
    [truenasAccessEnabled]="allowedAccessConfig().truenasAccess?.enabled"
    [role]="allowedAccessConfig().truenasAccess?.role"
    (additionalDetailsUpdate)="setAdditionalDetails($event)"
  ></ix-additional-details-section>
  <ix-form-actions>
    <button
      mat-button
      type="submit"
      color="primary"
      ixTest="save"
      [disabled]="form.invalid"
    >
      {{ 'Save' | translate }}
    </button>
  </ix-form-actions>
</form>
