<ix-modal-header
  [title]="'Add User' | translate"
></ix-modal-header>

<form
  class="ix-form-container"
  [formGroup]="form"
  (click)="onCloseInlineEdits($event)"
  (submit)="onSubmit()"
>
  <ix-fieldset>
    <div>
      <ix-input
        formControlName="username"
        class="username"
        [label]="'Username' | translate"
        [tooltip]="fakeTooltip"
        [required]="true"
      ></ix-input>
    </div>
  </ix-fieldset>

  <ix-allowed-access-section></ix-allowed-access-section>

  <ix-fieldset [title]="'Authentication' | translate">
    <ix-input
      type="password"
      class="password"
      formControlName="password"
      [label]="'Password' | translate"
      [tooltip]="fakeTooltip"
      [required]="true"
    ></ix-input>

    <ix-checkbox
      formControlName="disable_password"
      [label]="'Disable Password' | translate"
      [tooltip]="fakeTooltip | translate"
    ></ix-checkbox>

    @if (allowedAccessConfig().sshAccess) {
      <ix-checkbox
        formControlName="allow_ssh_login_with_password"
        [label]="'Allow SSH Login with Password (not recommended)' | translate"
        [tooltip]="fakeTooltip | translate"
      ></ix-checkbox>
    }

    @if (allowedAccessConfig().sshAccess) {
      <ix-textarea
        class="ssh_key"
        formControlName="ssh_key"
        [label]="'Public SSH Keys' | translate"
        [tooltip]="fakeTooltip"
      ></ix-textarea>
    }
  </ix-fieldset>

  <ix-fieldset
    [title]="'Additional Details' | translate"
    (dblclick)="isUsingAlternativeColors = !isUsingAlternativeColors;"
  >
    <div class="extra-details" [class.alternative-colors]="isUsingAlternativeColors">
      <div class="item">
        <div class="name">
          {{ 'Full Name' | translate }}:
        </div>
        <div class="value">
          @if (!isEditingFullName) {
            <div
              class="value-prompt"
              [class.empty-value]="!form.value.full_name"
              (click)="onEditFullName(); $event.stopPropagation()"
            >
              {{ form.value.full_name || ('Not Set' | translate) }}
              <ix-icon name="mdi-pencil" class="edit-icon"></ix-icon>
            </div>
          } @else {
            <div class="extra-controls-container">
              <ix-input
                formControlName="full_name"
                class="inlined-control"
                [tooltip]="fakeTooltip"
              ></ix-input>
            </div>
          }
        </div>
      </div>

      <div class="item">
        <div class="name">
          {{ 'Email' | translate }}:
        </div>
        <div class="value">
          <div class="value-prompt empty-value">
            {{ 'Not Set' | translate }}
            <ix-icon name="mdi-pencil" class="edit-icon"></ix-icon>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="name with-spacer">
          {{ 'Groups' | translate }}:
        </div>
        <div class="value with-spacer">
          @if (!isEditingGroups) {
            <div class="value-prompt" (click)="onEditGroups(); $event.stopPropagation()">
              <div>
                <div class="selected-group">
                  @if (hasSharingRole) {
                    &bull;
                  }
                  {{ 'New bob group' | translate }}
                </div>

                @if (hasSharingRole) {
                  <div class="sharing-admins-group selected-group">
                    &bull; truenas_sharing_administrators<br>
                    <span style="opacity: 0.65;">&nbsp;&nbsp;(for Sharing Admin role)</span>
                  </div>
                }
              </div>

              <ix-icon name="mdi-pencil" class="edit-icon"></ix-icon>
            </div>
          } @else {
            <div class="extra-controls-container">
              <ix-checkbox
                formControlName="create_group"
                [label]="'Create New Primary Group' | translate"
                [tooltip]="fakeTooltip | translate"
              ></ix-checkbox>

              <ix-chips
                class="inlined-control"
                formControlName="groups"
                [label]="'Auxiliary Groups' | translate"
                [tooltip]="fakeTooltip"
                [resolveValue]="true"
                [resolveOptions]="groupOptions$"
                [autocompleteProvider]="groupsProvider"
              ></ix-chips>
            </div>
          }
        </div>
      </div>

      <div class="item">
        <div class="name">
          {{ 'UID' | translate }}:
        </div>
        <div class="value">
          <div class="value-prompt">
            Next Available
            <ix-icon name="mdi-pencil" class="edit-icon"></ix-icon>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="name">
          {{ 'Home Directory' | translate }}:
        </div>
        <div class="value">
          @if (!isEditingHomeDirectory) {
            <div class="value-prompt empty-value" (click)="onEditHomeDirectory(); $event.stopPropagation()">
              {{ 'None' | translate }}
              <ix-icon name="mdi-pencil" class="edit-icon"></ix-icon>
            </div>
          } @else {
            <div class="extra-controls-container">
              <ix-checkbox
                formControlName="create_home_directory"
                [label]="'Create New Home Directory' | translate"
                [tooltip]="fakeTooltip | translate"
              ></ix-checkbox>

              @if (form.value.create_home_directory) {
                <ix-explorer
                  style="margin: 0"
                  formControlName="home"
                  [label]="'Home Directory' | translate"
                  [tooltip]="fakeTooltip"
                  [nodeProvider]="treeNodeProvider"
                  [canCreateDataset]="true"
                ></ix-explorer>

                <mat-checkbox
                  formControlName="default_permissions"
                  [ixTest]="['default-permissions']"
                >
                  <span style="line-height: 116%; margin-top: 1px;">
                    {{ 'Default Permissions' | translate }}
                    <div style="opacity: 0.65;">700 or owner – all, others – none</div>
                  </span>
                </mat-checkbox>
              }
            </div>
          }
        </div>
      </div>

      @if (allowedAccessConfig().shellAccess) {
        <div class="item">
          <div class="name with-spacer">
           {{ 'Shell' | translate }}:
          </div>
          <div class="value with-spacer">
            <div class="value-prompt empty-value">
              zsh
              <ix-icon name="mdi-pencil" class="edit-icon"></ix-icon>
            </div>
          </div>
        </div>
      }

      @if (allowedAccessConfig().shellAccess) {
        <div class="item">
          <div class="name">
            {{ 'Allowed Sudo Commands' | translate }}:
          </div>
          <div class="value">
            <div class="value-prompt empty-value">
              {{ 'None' | translate }}
              <ix-icon name="mdi-pencil" class="edit-icon"></ix-icon>
            </div>
          </div>
        </div>
      }
    </div>
  </ix-fieldset>

  <ix-form-actions>
    <button
      mat-button
      type="submit"
      color="primary"
      ixTest="save"
      [disabled]="form.invalid"
    >
      {{ 'Save' | translate }}
    </button>
  </ix-form-actions>
</form>
