<div id="{{config.name}}" class="dynamic-field form-permissions" [formGroup]="group" [ngClass]="fieldShow" [class.has-tooltip]="config.tooltip" *ngIf="!config['isHidden']">
	<div class="top">
		<label>{{ config.placeholder | translate }}</label>
		<tooltip *ngIf="config.tooltip" [header]="config.placeholder" [message]="config.tooltip"></tooltip>
		<mat-form-field class="full-width" style="display:none">
			<input matInput [type]="config.inputType ? config.inputType : 'text'"
				[placeholder]="config.placeholder"
				[attr.value]="config.value"
				[formControlName]="config.name"
				>
		</mat-form-field>
	</div>
		<table>
			<tr>
				<td></td>
				<td>{{"User" | translate}}</td>
				<td>{{"Group" | translate}}</td>
				<td>{{"Other" | translate}}</td>
			</tr>
			<tr>
				<td>
					{{"Read" | translate}}
				</td>
				<td>
					<mat-checkbox [checked]="ownerRead" (change)="toggleOwnerRead()"
						ix-auto
						ix-auto-type="checkbox"
						ix-auto-identifier="{{config.name}}_ownerRead">
					</mat-checkbox>
				</td>
				<td>
					<mat-checkbox [checked]="groupRead" (change)="toggleGroupRead()"
					ix-auto
					ix-auto-type="checkbox"
					ix-auto-identifier="{{config.name}}_groupRead">
					</mat-checkbox>
				</td>
				<td>
					<mat-checkbox [checked]="otherRead" (change)="toggleOtherRead()"
					ix-auto
					ix-auto-type="checkbox"
					ix-auto-identifier="{{config.name}}_otherRead">
					</mat-checkbox><br/>
				</td>
			</tr>
			<tr>
				<td>
					{{"Write" | translate}}
				</td>
				<td>
					<mat-checkbox [checked]="ownerWrite" (change)="toggleOwnerWrite()"
						ix-auto
						ix-auto-type="checkbox"
						ix-auto-identifier="{{config.name}}_ownerWrite">
					</mat-checkbox>
				</td>
				<td>
					<mat-checkbox [checked]="groupWrite" (change)="toggleGroupWrite()"
					ix-auto
					ix-auto-type="checkbox"
					ix-auto-identifier="{{config.name}}_groupWrite">
					</mat-checkbox>
				</td>
				<td>
					<mat-checkbox [checked]="otherWrite" (change)="toggleOtherWrite()"
					ix-auto
					ix-auto-type="checkbox"
					ix-auto-identifier="{{config.name}}_otherWrite">
					</mat-checkbox><br/>
				</td>
			</tr>
			<tr *ngIf="!config.noexec">
				<td>
					{{"Execute" | translate}}
				</td>
				<td>
					<mat-checkbox [checked]="ownerExec" (change)="toggleOwnerExec()"
						ix-auto
						ix-auto-type="checkbox"
						ix-auto-identifier="{{config.name}}_ownerExec">
					</mat-checkbox>
				</td>
				<td>
					<mat-checkbox [checked]="groupExec" (change)="toggleGroupExec()"
						ix-auto
						ix-auto-type="checkbox"
						ix-auto-identifier="{{config.name}}_groupExec">
					</mat-checkbox>
				</td>
				<td>
					<mat-checkbox [checked]="otherExec" (change)="toggleOtherExec()"
						ix-auto
						ix-auto-type="checkbox"
						ix-auto-identifier="{{config.name}}_otherExec">
					</mat-checkbox>
				</td>
			</tr>
		</table>
	
	<mat-error *ngIf="config['hasErrors']">{{config['errors']}}</mat-error>
</div>
