<ng-template #pageHeader>
  <ix-page-title-header>
    <button
      mat-button
      (click)="onImportPool()"
    >{{ 'Import Pool' | translate }}</button>

    <a
      mat-button
      color="primary"
      [routerLink]="['/storage2/create']"
    >{{ 'Create Pool' | translate }}</a>
  </ix-page-title-header>
</ng-template>

<mat-card class="wip">
  <h4 mat-card-title>Note: This is a work in progress for new 'Pools Dashboard' page. You can see what we are building an provide suggestions in <a href="https://github.com/truenas/webui/discussions/6767">Github discussions</a>.</h4>
</mat-card>

<ix-unused-resources [pools]="pools"></ix-unused-resources>

<ix-dashboard-pool
  *ngFor="let pool of pools"
  [pool]="pool"
  class="pool"
></ix-dashboard-pool>
