<ng-container [formGroup]="form">
  <tn-form-section [heading]="'Authentication' | translate">
    <!-- TODO: Should have [required]="true", but because of required FormsModule directly, it creates issues on edit -->
    <ix-file-input
      formControlName="upload_credentials"
      [label]="'Service Account Key' | translate"
      [tooltip]="helptext.googleCloudStorage.uploadKey.tooltip | translate"
    ></ix-file-input>

    <tn-form-field
      [label]="'Preview JSON Service Account Key' | translate"
      [tooltip]="helptext.googleCloudStorage.previewKey.tooltip | translate"
    >
      <tn-input
        formControlName="service_account_credentials"
        testId="service-account-credentials"
        [multiline]="true"
        [rows]="4"
        [readonly]="true"
      ></tn-input>
    </tn-form-field>
  </tn-form-section>
</ng-container>
