:host {
  display: block;
  position: relative;
}

.gradient {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, var(--bg2) 90%);
  bottom: 0;
  height: 64px;
  left: 0;
  position: absolute;
  right: 0;
}

.more-less {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.gradient ~ .more-less {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.content-wrapper {
  overflow: hidden;
  position: relative;
}
