<div class="full-width container has-tooltip">

  <div *ngIf="label" class="label-container">
    <label class="label">
      {{label}}
      <span *ngIf="required">*</span>
    </label>
    <tooltip *ngIf="tooltip" [header]="label" class="tooltip" [message]="tooltip"></tooltip>
  </div>


  <div class="outlined input-container">
    <input matInput
      [placeholder]="'Search'"
      [required]="required"
      [(ngModel)]="value"
      (ngModelChange)="modelChanged($event)"
      [matAutocomplete]="auto"
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
        {{option.label}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <mat-hint *ngIf="hint">{{hint}}</mat-hint>

</div>
