<mat-card
  ngClass.gt-md="gt-md"
  ngClass.md="md"
  ngClass.sm="sm"
  ngClass.xs="xs"
  class="view-card mini"
  [class.mini-xl]="chassis?.front?.totalDriveTrays > 7"
  [class.multiple-enclosures]="systemProfile && systemState?.enclosures?.length > 1"
  [id]="currentTab.alias"
  (window:resize)="onResize()"
>
  <mat-toolbar id="Disks-toolbar">
    <div *ngIf="selectedEnclosure?.number > 0" class="mat-card-title-text">
      {{ currentTab.alias }} on
      {{
        selectedEnclosure
          ? selectedEnclosure.model + ' (' + selectedEnclosure.number + ')'
          : '...'
      }}
    </div>
    <div *ngIf="selectedEnclosureNumber < 1" class="mat-card-title-text">
      {{ currentTab.alias }} on
      {{
        selectedEnclosureView
          ? selectedEnclosureView.model + ' (' + selectedEnclosure.number + ')'
          : '...'
      }}
    </div>

    <!-- ENCLOSURE MODEL -->
    <div class="model dom-overlay">
      <div class="model-inner"></div>
    </div>
  </mat-toolbar>

  <mat-card-content #cardcontent fxLayout="row wrap">
    <div id="chassis" fxFlex="640px" fxFlex.lt-lg="100%">
      <!-- LEGEND -->
      <div class="header-container" id="legend">
        <h3 class="header">{{ 'Pools' | translate }}</h3>
        <div *ngIf="enclosurePools?.length > 0; else noPools" class="legend">
          <div *ngFor="let pool of selectedEnclosurePools; let i = index" class="legend-item">
            <div
              class="swatch"
              [style.background]="theme[themeKey(theme.accentColors[i])]"
            ></div>
            <div class="legend-label">{{ pool }}</div>
            <div *ngIf="!findPoolByName(pool)?.healthy" class="legend-icon">
              <ix-icon name="mdi-alert"></ix-icon>
            </div>
          </div>
        </div>

        <ng-template #noPools>
          <div id="legend-no-pools">
            <div>{{ 'No pools on this enclosure.' | translate }}</div>
          </div>
        </ng-template>
      </div>

      <!-- VISUALIZER -->
      <div #disksoverview fxLayout="row" id="disks-overview" [class]="currentView">
        <!-- DISK NAMES -->
        <div
          *ngIf="chassisView && chassisView.driveTrayObjects"
          fxFlex
          class="disks-overlay names"
        >
          <ng-container *ngFor="let dt of chassisView.driveTrayObjects; let i = index">
            <div
              class="slot-label-wrapper"
              [style.top]="'calc(' + stackPositions()[i].y + 'px + 6px)'"
            >
              <div>
                <div class="slot-label fn-theme-primary">
                  <strong>{{ i + 1 }}</strong>
                </div>
              </div>
              <div>
                <div class="slot-value">
                  {{ findDiskBySlotNumber(i + 1) ? findDiskBySlotNumber(i + 1).name : 'Empty' }}
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <div #visualizer class="visualizer dom-overlay" id="visualizer"></div>

        <!-- DISK STATUS -->
        <div *ngIf="chassisView" fxFlex class="disks-overlay status">
          <ng-container *ngFor="let dt of chassisView.driveTrayObjects; let i = index">
            <div *ngIf="findDiskBySlotNumber(i + 1)" [style.top]="'calc(' + stackPositions()[i].y + 'px + 8px)'">
              <div class="status-icon">
                <ix-icon
                  name="check_circle"
                  [ngClass]="{
                    online: findEnclosureSlotFromSlotNumber(i + 1).topologyStatus === 'ONLINE',
                    alert:
                      findEnclosureSlotFromSlotNumber(i + 1).topologyStatus !== 'ONLINE' &&
                      findEnclosureSlotFromSlotNumber(i + 1).topologyStatus !== 'AVAILABLE'
                  }"
                ></ix-icon>
              </div>
              <div class="status-text">
                {{ findEnclosureSlotFromSlotNumber(i + 1).topologyStatus }}
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- DETAILS/OVERVIEW -->
    <div #diskDetails fxFlex id="disks-details">
      <ng-container *ngIf="selectedSlot?.disk && currentView === 'details'" #details>
        <!-- DISK SELECTED -->
        <div #disksdetails class="header-container" id="details">
          <button class="back-btn" mat-button ixTest="close" (click)="clearDisk()">
            <ix-icon name="close"></ix-icon>
          </button>
          <h3 class="header">
            {{ 'Drive Details' | translate }} {{ selectedSlot.disk.name }}
          </h3>
          <div>
            <ul>
              <li>
                <strong>{{ 'Pool' | translate }}:</strong> &nbsp;&nbsp;&nbsp;
                {{
                  selectedSlot.disk?.pool ? selectedSlot.disk.pool : ('Disk not attached to any pools.' | translate)
                }}
              </li>

              <li>
                <strong>{{ 'Vdev' | translate }}:</strong> &nbsp;&nbsp;&nbsp;
                <span>
                  {{
                    selectedSlot.vdev === null ? ('Unassigned' | translate) : (selectedSlot.vdev.name | uppercase)
                  }}
                </span>
              </li>

              <li>
                <strong>{{ 'Model' | translate }}:</strong> &nbsp;&nbsp;&nbsp;
                {{ selectedSlot.disk.model }}
              </li>

              <li>
                <strong>{{ 'Serial' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;{{ selectedSlot.disk.serial }}
              </li>

              <li>
                <strong>{{ 'Status' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;{{ selectedSlot.topologyStatus }}
              </li>

              <li>
                <strong>{{ 'Rotation Rate' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;
                <ng-container *ngIf="selectedSlot.disk.rotationrate; else flash">
                  {{ selectedSlot.disk.rotationrate }}
                  {{ 'RPM' | translate }}
                </ng-container>
                <ng-template #flash>
                  {{ 'Not Available' | translate }}
                </ng-template>
              </li>

              <li>
                <strong>{{ 'Advanced Power Management' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;{{ selectedSlot.disk.advpowermgmt }}
              </li>

              <li>
                <strong>{{ 'S.M.A.R.T. Enabled' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;{{ selectedSlot.disk.togglesmart | yesNo }}
              </li>

              <li>
                <strong>{{ 'S.M.A.R.T. Options' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;{{
                  selectedSlot.disk.smartoptions ? selectedSlot.disk.smartoptions : 'None'
                }}
              </li>

              <li>
                <strong>{{ 'Transfer Mode' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;{{ selectedSlot.disk.transfermode }}
              </li>

              <li>
                <strong>{{ 'HDD Standby' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;{{ selectedSlot.disk.hddstandby }}
              </li>
            </ul>

            <h3 class="header stats">{{ 'Stats' | translate }}</h3>
            <div
              class="disk-basic-details"
              fxLayout="row wrap"
              fxLayoutAlign="center center"
            >
              <div>
                <ix-disk-ui [data]="selectedSlot.disk"></ix-disk-ui
                ><!-- disk icon + labels -->
                <div class="capacity">{{ selectedSlot.disk.size | filesize: { standard: 'iec' } }}</div>
              </div>
              <div class="disk-stats-wrapper" fxFlex>
                <ul *ngIf="selectedSlot.topologyStats; else nostats" class="disk-stats">
                  <li>
                    <strong>{{ 'Read Errors' | translate }}:</strong>
                    &nbsp;&nbsp;
                    {{ selectedSlot.topologyStats.read_errors }}
                  </li>

                  <li>
                    <strong>{{ 'Write Errors' | translate }}:</strong>
                    &nbsp;&nbsp;
                    {{ selectedSlot.topologyStats.write_errors }}
                  </li>

                  <li>
                    <strong>{{ 'Checksum Errors' | translate }}:</strong>
                    &nbsp;&nbsp;
                    {{ selectedSlot.topologyStats.checksum_errors }}
                  </li>
                </ul>
                <ng-template #nostats>
                  <div class="nostats">
                    <ix-icon name="info_icon"></ix-icon>
                    <strong>
                      {{ 'Must be part of a pool to check errors' | translate }}
                    </strong>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container
        *ngIf="currentView === 'pools' || currentView === 'status'"
        #overview
      >
        <!-- DISK NOT SELECTED -->
        <div class="header-container half-height" id="general-overview">
          <h3 class="header">{{ 'Disks Overview' | translate }}</h3>
          <div>
            <ul>
              <li>
                <strong>{{ 'Pools' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;
                {{ count(selectedEnclosureView.pools) }}
              </li>
              <li>
                <strong>{{ 'Total Disks' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;
                {{ count(selectedEnclosureView.slots) }}
              </li>
              <li>
                <strong>{{ 'Estimated Raw Capacity' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;
                {{ rawCapacity(selectedEnclosureView) | filesize: { standard: 'iec' }  }}
              </li>
              <li>
                <strong>{{ 'Failed Disks' | translate }}:</strong>
                &nbsp;&nbsp;&nbsp;
                {{ failedDisks.length }}
              </li>
            </ul>
          </div>
        </div>

        <div class="header-container half-height" id="drive-temps">
          <h3 class="header">{{ 'Drive Temperatures' | translate }}</h3>
          <div fxLayout="row wrap" fxLayoutGap="10%">
            <ng-container *ngIf="temperatures && temperatureScales">
              <ng-container *ngFor="let diskName of temperatures.keys">
                <ix-temperature-meter
                  *ngIf="temperatures.values[diskName]; else notemps"
                  [fxFlex]="temperatures && temperatures.keys.length >= 4 ? '40%' : '100%'"
                  [source]="diskName"
                  [value]="temperatures.values[diskName]"
                  [unit]="temperatures.unit"
                  [symbolText]="temperatures.symbolText"
                ></ix-temperature-meter>
                <ng-template #notemps>
                  <div
                    class="no-temp"
                    [fxFlex]="temperatures && temperatures.keys.length >= 4 ? '40%' : '100%'"
                  >
                    <strong>{{ diskName }}:</strong>
                    Unknown {{ temperatures.symbolText }}
                    <ix-tooltip
                      [header]="'Temperature data missing.' | translate"
                      [message]="'No temperature data was reported by the system. There can be a number of reasons why this might occur. For troubleshooting tips please go here' | translate"
                    >
                    </ix-tooltip>
                  </div>
                </ng-template>
              </ng-container>
            </ng-container>

            <ul *ngIf="temperatures && !temperatureScales">
              <ng-container>
                <li *ngFor="let diskName of temperatures.keys">
                  <strong>{{ diskName }}:</strong> &nbsp;&nbsp;&nbsp;
                  {{ temperatures.values[diskName] ? temperatures.values[diskName] : 'Temperature not available.' }}
                  {{ temperatures.values[diskName] ? temperatures.symbolText + 'C' : '' }}
                  <ix-tooltip
                    *ngIf="!temperatures.values[diskName]"
                    [header]="'Temperature data missing.' | translate"
                    [message]="'No temperature data was reported by the system. There can be a number of reasons why this might occur. For troubleshooting tips please go here' | translate"
                  >
                  </ix-tooltip>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-card-content>
</mat-card>
