.notific-icon {
  padding-right: 12px;
}

h3.notific-title.warn {
  color: var(--red);
}

h3.notific-title.accent {
  color: var(--accent);
}

a.dismiss {
  text-decoration: underline;
}

.notific-item {
  margin-top: 8px;
  margin-top: 8px;

  &.unread {
    &.last {
      border-bottom: unset !important;
    }
  }

  &.read {
    &.last {
      margin-bottom: 0;
    }
  }
}

a:hover {
  cursor: pointer;
}

.mat-list-base .mat-list-item {
  height: unset;
}

.dismissed {
  opacity: 0.6;
}

.notifications-header {
  border-bottom: 1px solid var(--lines);
  padding: 4px 0 4px 20px;
}

.notification-list {
  .button-row {
    &.sticky {
      border-top: 1px solid var(--lines);
      bottom: 0;
      position: sticky;
    }

    .mat-button {
      background: var(--bg2) !important;
      width: 100%;
    }
  }
}
