<div id="sys-info-wrapper">
  <div class="sys-info-line"><span class="label">{{'Customer Name' | translate}}:</span> <span class="value">{{customer_name}}</span></div>
  <div class="sys-info-line"><span class="label">{{'Features' | translate}}:</span> <span class="value">{{features}}</span></div>
  <div class="sys-info-line"><span class="label">{{'Contract Type' | translate}}:</span> <span class="value">{{contract_type}}</span></div>
  <div class="sys-info-line"><span class="label">{{'Expiration Date' | translate}}:</span> <span class="value">{{expiration_date}}</span>
    <span *ngIf="daysLeftinContract && daysLeftinContract > 0" class="value"> 
      ({{'expires in' | translate}} {{daysLeftinContract}} {{daysLeftinContract==1 ? 'day' : 'days' | translate}})</span>
    <span *ngIf="daysLeftinContract==0" class="value"> ({{'EXPIRES TODAY  ' | translate}})</span>
    <span *ngIf="daysLeftinContract < 0 " class="value"> ({{'EXPIRED' | translate}})</span>
  </div>

  <div class="sys-info-line"><span class="label">{{'Model' | translate}}:</span> <span class="value">{{model}}</span></div>
  <div class="sys-info-line"><span class="label">{{'System Serial' | translate}}:</span> <span class="value">{{sys_serial}}</span></div>
  <div class="sys-info-line"><span class="label">{{'Additional Hardware' | translate}}:</span> <span class="value">{{add_hardware}}</span></div>
</div>
