@let subsys = dataProvider.expandedRow;
@let showDetails = !masterList.filterString || subsys.name.toLowerCase().includes(masterList.filterString.toLowerCase());

<ix-master-detail-view
  #masterDetailView="masterDetailViewContext"
  [selectedItem]="subsys"
  [showDetails]="showDetails"
>
  <ix-subsystems-list
    #masterList
    master
    [dataProvider]="dataProvider"
    [subsystems]="subsystems()"
    [isMobileView]="masterDetailView.isMobileView()"
    (toggleShowMobileDetails)="masterDetailView.toggleShowMobileDetails($event)"
  ></ix-subsystems-list>

  <div detail-header class="detail-header">
    @if (subsys) {
      <span>
        {{ 'Details for' | translate }}
        {{ subsys?.name }}
      </span>

      <div class="detail-actions">
        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          ixTest="edit-subsys"
          (click)="addSubsystem()"
        >
          {{ 'Edit' | translate }}
        </button>

        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          ixTest="delete-subsys"
          (click)="deleteSubsys(subsys)"
        >
          {{ 'Delete' | translate }}
        </button>
      </div>
    }
  </div>

  <ng-container detail>
    @if (subsys) {
      <ix-subsystem-details [subsystem]="subsys"></ix-subsystem-details>
    }
  </ng-container>
</ix-master-detail-view>
