#wrapper {
    height: 100%;
    background-color: #0095d5;
}

#shutdown-card {
    width: 275px;
    position: relative;
    margin: auto;
    top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.copyright-txt, #message, #logo {
    text-align: center;
}

#logo {
    width: 80%;
}

.copyright-txt {
    margin-top: 10px;
}

@media screen and (max-height: 700px) {
    #shutdown-card {
        width: 225px;
        font-size: 80%;
        top: 20px;
    }

    .mat-dialog-container {
        height: 100px;
        width: 100px;
    }
}