<ix-form
  [formGroup]="form"
  [isEditMode]="true"
  [requiredRoles]="requiredRoles"
  [submitHandler]="handleSubmit"
  (closed)="onFormClosed()"
>
  <tn-form-section [heading]="helptextBulkEdit.title | translate">
    <div>
      <label class="disk-list-label">
        {{ "Disks to be edited:" | translate }}
        <tn-icon
          class="tooltip-icon"
          name="information-outline"
          library="mdi"
          [tooltip]="disksTooltip"
        ></tn-icon>
      </label>
      <div
        class="disk-list"
        role="list"
        [attr.aria-label]="'Disks to be edited' | translate"
      >
        @for (diskName of form.controls.disknames.value; track diskName) {
          <div class="disk-item" role="listitem">
            <tn-icon
              name="hdd"
              library="custom"
              class="disk-icon"
              [attr.aria-hidden]="true"
            ></tn-icon>
            <span class="disk-name">{{ diskName }}</span>
          </div>
        }
      </div>
    </div>
  </tn-form-section>

  <tn-form-section [heading]="helptextBulkEdit.label | translate">
    <tn-form-field
      [label]="'HDD Standby' | translate"
      [tooltip]="helptext.standbyTooltip | translate"
      [required]="true"
    >
      <tn-select
        formControlName="hddstandby"
        [options]="hddstandbyOptions"
      ></tn-select>
    </tn-form-field>

    <tn-form-field
      [label]="'Advanced Power Management' | translate"
      [required]="true"
    >
      <tn-select
        formControlName="advpowermgmt"
        [options]="advpowermgmtOptions"
        [optionTestIdKey]="optionLabelTestId"
      ></tn-select>
    </tn-form-field>
  </tn-form-section>
</ix-form>
