<ng-container [formGroup]="form">
  @if (nonUniqueSerialDisks.length) {
    <div class="spacer-top">
      <ix-warning [message]="nonUniqueSerialDisksTooltip"></ix-warning>
      <tn-form-field
        [label]="'Allow non-unique serialed disks (not recommended)' | translate"
        [tooltip]="nonUniqueSerialDisksTooltip | translate"
        [required]="true"
      >
        @for (option of (allowNonUniqueSerialDisksOptions$ | async) ?? []; track option.value) {
          <tn-radio
            name="allowNonUniqueSerialDisks"
            formControlName="allowNonUniqueSerialDisks"
            [value]="option.value"
            [label]="option.label"
          ></tn-radio>
        }
      </tn-form-field>
    </div>
  }

  @if (disksWithExportedPools.length) {
    <div class="spacer-bottom">
      <ix-warning [message]="exportedPoolsWarning"></ix-warning>
      <ix-label [label]="'Select disks you want to use' | translate"></ix-label>
      @for (item of poolAndDisks | keyvalue; track item.key) {
        <tn-checkbox
          [testId]="[item.key, 'exported_pool']"
          (change)="checkboxChanged(item.key, $event)"
        >
          <div tnCheckboxLabel class="label">
            <strong class="pool-name">{{ item.key }}</strong>
            <small class="disk-name">{{ item.value.join(', ') }}</small>
          </div>
        </tn-checkbox>
      }
    </div>
  }
</ng-container>
