@if (allTabs.length) {
  <form class="reports-toolbar" [formGroup]="form">
    @if (activeTab?.value === ReportType.Disk) {
      <tn-select
        formControlName="devices"
        [ariaLabel]="'Devices' | translate"
        [options]="diskDevices()"
        [multiple]="true"
        testId="devices"
      ></tn-select>

      <tn-select
        formControlName="metrics"
        [ariaLabel]="'Metrics' | translate"
        [options]="diskMetrics()"
        [multiple]="true"
        testId="metrics"
      ></tn-select>
    }

    <tn-slide-toggle
      formControlName="autoRefresh"
      color="primary"
      [label]="'Auto Refresh' | translate"
    ></tn-slide-toggle>

    <tn-select
      formControlName="tab"
      [ariaLabel]="'Category' | translate"
      [options]="tabOptions()"
      testId="category"
      [ixUiSearch]="searchableElements.elements.selectReporting"
    ></tn-select>
    <tn-button
      testId="exporters-nav"
      [label]="'Exporters' | translate"
      [routerLink]="['/reportsdashboard','exporters']"
    ></tn-button>
  </form>
}
