.menu-toggle {
  color: var(--fg2);
}

.toolbar-control {
  ::ng-deep .form-element {
    align-items: center;
    display: inline-flex;
    gap: 8px;
    justify-content: center;

    mat-label {
      line-height: 24px;
    }

    .mat-form-field-flex {
      align-items: center;
    }

    .mat-form-field-infix {
      align-items: center;
      display: flex;
      width: 120px;
    }
  }
}

.reports-dash-global-controls {
  gap: 12px;
}
