:host {
  color: var(--fg2);
}

.reports-toolbar {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;

  tn-slide-toggle {
    align-items: center;
    display: flex;
    margin: 0;
    min-height: 36px;
  }

  tn-select {
    display: flex;
    margin: 0;
    padding: 0;
    width: 180px;
    max-width: 180px;
  }
}
