<div
  *ngIf="!config['isHidden']"
  class="entity-slider"
  [formGroup]="group"
  [ngClass]="fieldShow"
  [attr.id]="config.name"
>
  <label>{{ config.placeholder | translate }}</label>
  <mat-slider
    class="full-width"
    thumbLabel
    [ixTest]="config.name"
    [min]="config.min"
    [max]="config.max"
  >
    <input
      matSliderThumb
      [ixTest]="config.name"
      [formControlName]="config.name"
      [(ngModel)]="value"
    />
  </mat-slider>
  <label>
    <h5>
      <b>{{ value }}</b>
    </h5>
  </label>
</div>
