<ix-fieldset [formGroup]="form">
  <div class="form-row">
    <ix-select
      formControlName="template"
      [options]="templateOptions$"
      [label]="'Template' | translate"
      [tooltip]="'Select a template' | translate"
    ></ix-select>

    <ix-icon-group
      formControlName="layout"
      [options]="layoutsMap"
      [label]="'Layouts' | translate"
      [tooltip]="'Select a layout' | translate"
    ></ix-icon-group>
  </div>
</ix-fieldset>

<button
  *ngFor="let slotIndex of slotRange()"
  tabindex="0"
  [attr.aria-label]="'Slot {n}' | translate: { n: slotIndex + 1 }"
  [ixTest]="['slot', slotIndex]"
  [class]="['slot', 'slot' + slotIndex]"
  [class.selected]="slotIndex === selectedSlot() && slotRange().length > 1"
  [class.empty]="!slots()[slotIndex]"
  (click)="selectedSlotChange.emit(slotIndex)"
  (keydown.enter)="$event.preventDefault(); selectedSlotChange.emit(slotIndex)"
>
  <ng-container *ngIf="slots()[slotIndex] as slot; else emptySlot">
    <ng-container *ngComponentOutlet="slot.component; inputs: slot.inputs;" />
  </ng-container>
</button>

<ng-template #emptySlot>
  {{ 'Empty' | translate }}
</ng-template>
