
<div *ngIf="dynamicSchema" [formGroup]="dynamicForm" [class.indent]="dynamicSchema?.indent">
  <ng-container *ngIf="dynamicSchema.type === DynamicFormSchemaType.Dict">
    <div *ngIf="!isHide && !dynamicSchema.hidden">{{dynamicSchema.title}}</div>
    <ix-dynamic-form-item
      *ngFor="let attr of dynamicSchema.attrs"
      [dynamicSchema]="attr"
      [dynamicForm]="getFormGroup"
      (addListItem)="addControlNext($event)"
      (deleteListItem)="removeControlNext($event)"
      [fxHide]="isHide || dynamicSchema.hidden"
      [class.disabled]="dynamicSchema.editable === false"
    ></ix-dynamic-form-item>
  </ng-container>
  <ix-list
    *ngIf="dynamicSchema.type === DynamicFormSchemaType.List"
    [label]="dynamicSchema.title | translate" 
    [empty]="getFormArray.controls.length === 0"
    [formArrayName]="dynamicSchema.controlName"
    (add)="addControl()"
    [fxHide]="isHide || dynamicSchema.hidden"
    [class.disabled]="dynamicSchema.editable === false"
  >
    <ix-list-item
      *ngFor="let element of getFormArray.controls; let i = index"
      (delete)="removeControl(i)"
    >
      <ix-dynamic-form-item
        *ngFor="let item of dynamicSchema.items"
        [dynamicSchema]="item"
        [dynamicForm]="element | cast"
        (addListItem)="addControlNext($event)"
        (deleteListItem)="removeControlNext($event)"
        class="list"
      ></ix-dynamic-form-item>
    </ix-list-item>
  </ix-list>
  <ix-input
    *ngIf="dynamicSchema.type === DynamicFormSchemaType.Input"
    [formControlName]="dynamicSchema.controlName"
    [label]="dynamicSchema.title | translate"
    [placeholder]="dynamicSchema.placeholder | translate"
    [tooltip]="dynamicSchema.tooltip | translate"
    [required]="dynamicSchema.required"
    [fxHide]="isHide || dynamicSchema.hidden"
    [class.disabled]="dynamicSchema.editable === false"
    [type]="dynamicSchema.private === true ? 'password' : undefined"
  ></ix-input>
  <ix-select
    *ngIf="dynamicSchema.type === DynamicFormSchemaType.Select"
    [formControlName]="dynamicSchema.controlName"
    [label]="dynamicSchema.title | translate"
    [options]="dynamicSchema.options"
    [tooltip]="dynamicSchema.tooltip | translate"
    [required]="dynamicSchema.required"
    [fxHide]="isHide || dynamicSchema.hidden"
    [class.disabled]="dynamicSchema.editable === false"
  ></ix-select>
  <ix-explorer
    *ngIf="dynamicSchema.type === DynamicFormSchemaType.Explorer"
    [formControlName]="dynamicSchema.controlName"
    [label]="dynamicSchema.title | translate"
    [tooltip]="dynamicSchema.tooltip | translate"
    [required]="dynamicSchema.required"
    [nodeProvider]="dynamicSchema.nodeProvider"
    [fxHide]="isHide || dynamicSchema.hidden"
    [class.disabled]="dynamicSchema.editable === false"
  ></ix-explorer>
  <ix-checkbox
    *ngIf="dynamicSchema.type === DynamicFormSchemaType.Checkbox"
    [formControlName]="dynamicSchema.controlName"
    [label]="dynamicSchema.title | translate"
    [tooltip]="dynamicSchema.tooltip | translate"
    [required]="dynamicSchema.required"
    [fxHide]="isHide || dynamicSchema.hidden"
    [class.disabled]="dynamicSchema.editable === false"
  ></ix-checkbox>
</div>
