:host {
  display: block;
  max-height: 300px;
  overflow: auto;
  padding: 14px 0 17px;

  &::ng-deep {
    .last {
      color: var(--fg1);
    }

    .highlight {
      color: var(--primary);
    }
  }
}

.search-results-card {
  border-radius: 2px;
  margin: 0;
  overflow: auto;

  .search-result {
    border-radius: 2px;
    cursor: pointer;
    font-size: 13px;
    padding: 3px 10px;

    &:hover {
      background-color: var(--bg1);
    }

    &:focus {
      box-shadow: 0 0 0 1.5px var(--focus-brd) inset;
      outline: none;
    }

    .title {
      -webkit-box-orient: vertical;
      color: var(--alt-fg1);
      display: inline-box;
      font-size: 16px;
      -webkit-line-clamp: 2;
      overflow: hidden;
      white-space: normal;
      word-break: break-word;
    }
  }
}
