::ng-deep {
  .search-results-backdrop {
    top: 48px;
  }

  .search-results-panel {
    width: 600px;
  }
}

:host {
  display: block;
  max-height: 300px;
  overflow: auto;
  padding: 14px 0 17px;
}

.search-result {
  cursor: pointer;
  font-size: 13px;
  padding: 10px 20px 11px;

  &:hover {
    background-color: var(--bg1);
  }

  &:focus {
    box-shadow: 0 0 0 1.5px var(--focus-brd) inset;
    outline: none;
  }

  .title {
    color: var(--alt-fg1);
    font-size: 16px;

    .highlighted {
      color: var(--fg1);
    }
  }
}
