<ng-container *ngTemplateOutlet="template"></ng-container>
<div class="tooltip">
  <popper-content #popperTooltip class="fn-theme-tooltip">
    <div class="tooltip-header">
      <div class="title-wrapper">
        <div>
          <h5 class="tooltip-title">
            {{ 'Help' | translate }}
          </h5>
        </div>
      </div>
      <div>
        <button
          mat-icon-button
          ixTest="tooltip-close"
          class="close-button"
          (click)="popperTooltip.hide()"
        >
          <ix-icon
            class="close-icon"
            name="mdi-close"
          ></ix-icon>
        </button>
      </div>
    </div>
    <div
      class="tooltip-message"
      ixTest="tooltip-message"
      [innerHTML]="indicator.message"
    ></div>
  </popper-content>

  <ix-icon
    class="tooltip-icon"
    name="circle"
    popperAppendTo="body"
    [popperTrigger]="'click' | cast"
    [popper]="popperTooltip"
    [popperShowOnStart]="false"
    (popperOnHidden)="onHidden()"
  ></ix-icon>
</div>
