@import 'scss-imports/splitview';

$singlecolumn-max-width: ($card-width-slim + $gap * 2);
$dualcolumn-slim-max-width: ($card-width-slim * 2 + $gap * 2);
$scrollbar-offset: 20px;
$header-height: 193px;

:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - #{$header-height});
}

.table-container {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 16px;
  max-width: $table-width;
  min-width: $table-min-width;
  position: relative;

  // Hide Details and stop compressing table width
  @media (min-width: $breakpoint-min-mobile) and (max-width: $breakpoint-tablet) {
    margin-right: unset;
    min-width: $breakpoint-min-mobile;
    width: 100%;
  }

  // Hide Details and stretch table
  @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-hidden) {
    margin-right: unset;
    min-width: 100%;
  }

  // One Cards Column
  @media (min-width: $breakpoint-singlecolumn) and (max-width: calc($breakpoint-dualcolumn-slim - 1px)) {
    max-width: calc(100% - $singlecolumn-max-width - 16px);
    min-width: calc($table-min-width + 0px);
  }

  // Two Cards Slim Columns
  @media (min-width: $breakpoint-dualcolumn-slim) and (max-width: calc($breakpoint-dualcolumn - 1px)) {
    max-width: calc(100% - $dualcolumn-slim-max-width - 16px - $scrollbar-offset);
    min-width: calc($table-min-width + 0px);
  }

  // Two Cards Columns
  @media (min-width: $breakpoint-dualcolumn) and (max-width: calc($breakpoint-flex - 1px)) {
    min-width: calc(98% - 2 * ($card-width + $gap));
  }

  // Three Cards Columns
  @media (min-width: $breakpoint-triplecolumn) and (max-width: calc($breakpoint-flex - 1px)) {
    min-width: calc(98% - 3 * ($card-width + $gap));
  }

  // Cards spill to the right
  @media (min-width: $breakpoint-flex) {
    max-width: 1200px;
    width: 50%;
  }

  .table-header {
    align-items: flex-end;
    color: var(--fg1);
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    min-height: 56px;

    h2 {
      align-items: center;
      display: flex;
      margin-top: 20px;
      min-height: 36px;
    }

    .bulk {
      align-items: center;
      display: flex;
      gap: 6px;
    }
  }
}

.app-search {
  background-color: var(--bg2);
  padding: 16px;
  position: relative;

  ix-fake-progress-bar {
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.app-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.app-inner {
  background-color: var(--bg2);
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: fit-content;

  @media (max-width: $breakpoint-tablet) {
    min-height: fit-content;
    min-width: unset;
    overflow-x: auto;
  }
}

.no-apps {
  color: var(--fg1);
  display: flex;
  justify-content: center;
  margin: 15px;
}

ix-app-row,
.app-header-row {
  grid-template-columns: minmax(180px, auto) minmax(100px, 120px) 55px 55px 85px minmax(100px, 115px) 60px;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: auto 0 0 0 0 0 0;
  }
}

.app-header-row {
  align-items: center;
  background: var(--bg1);
  border-bottom: 1px solid var(--lines);
  color: var(--fg2);
  display: grid;
  grid-gap: 8px;
  min-height: 48px;
  min-width: fit-content;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;

  > div {
    font-weight: bold;
    padding: 4px 0;

    @media (max-width: $breakpoint-tablet) {
      display: none !important;
    }

    &:first-child {
      left: 0;
      position: sticky;

      @media (max-width: $breakpoint-tablet) {
        display: block !important;
      }
    }
  }

  .app-name-header {
    background: linear-gradient(90deg, var(--bg1) 0%, var(--bg1) calc(100% - 13px), transparent 100%);
    padding-left: 15px;
    padding-right: 15px;
  }

  .app-update-header {
    align-items: center;
    display: flex;
    gap: 4px;

    ix-icon {
      color: var(--yellow);
      font-size: 18px;
      line-height: 1;
    }
  }
}

.details-container {
  color: var(--fg2);
  display: flex;
  flex: 1;
  min-width: inherit;
  overflow: hidden;
  padding: 0;
  position: sticky;
  top: 0;

  // Hide Details
  @media (max-width: $breakpoint-hidden) {
    display: none;
  }

  // One Card Column
  @media (min-width: $breakpoint-singlecolumn) and (max-width: calc($breakpoint-dualcolumn-slim - 1px)) {
    max-width: $singlecolumn-max-width;
  }

  // Two Cards Columns
  @media (min-width: $breakpoint-dualcolumn-slim) and (max-width: calc($breakpoint-dualcolumn - 1px)) {
    max-width: ($dualcolumn-slim-max-width + $scrollbar-offset);
  }

  // Two Cards Columns
  @media (min-width: $breakpoint-dualcolumn) {
    max-width: 70%;
  }
}

ix-app-details-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-container.details-container-mobile {
  // Hide Details
  @media (max-width: $breakpoint-hidden) {
    background: var(--bg1);
    display: flex;
    height: 100% !important;
    left: 0;
    max-width: 100%;
    padding-top: 24px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  @media (max-width: $breakpoint-tablet) {
    display: block;
    overflow-y: auto;
    padding-bottom: 96px;
  }

  ::ng-deep .cards .scroll-window {
    display: block;
  }
}


.bulk-selected {
  align-items: center;
  align-self: flex-end;
  display: inline-flex;
  font-size: 16px;
  gap: 4px;
  height: 36px;
}

.bulk-actions-container {
  align-items: flex-end;
  display: flex;
  gap: 12px;
}

.bulk-button-wrapper {
  display: flex;
  flex-direction: column;


  label {
    color: var(--fg2);
    font-size: 10px;
    margin-bottom: 2px;
  }

  button {
    background-color: var(--bg1);
    border: 1px solid var(--lines);
    font-size: 12px;
  }
}

.global-update {
  align-items: center;
  display: flex;
  gap: 8px;

  > span {
    font-size: 16px;
  }
}

.discover-apps-button {
  min-width: 180px;
}

.update-all-button ::ng-deep {
  .mdc-button__label {
    gap: 4px;

    ix-icon {
      font-size: 18px;
    }
  }
}
