.wrapper {
    margin: 20px;
    display: grid;
    margin: 0 auto;
    grid-template-rows: fit-content(50vh);
    grid-template-columns: 50% 25% 25%;
    grid-template-areas: "system-card data-card1 data-card2"
                         "system-card ntp-card ntp-card";   
        .system-card {
            grid-area: system-card;
            min-width: 450px;
        }
        .data-card1 {
            grid-area: data-card1;
        }
        .data- card2 {
            grid-area: data-card2;
        }
        .ntp-card {
            grid-area: ntp-card;
        }

        mat-card {
            margin: 5px;

            h3 {
                margin-bottom: 10px;
                opacity: 0.6;
            }
            .label {

            }
            .value {
                margin-left: 10px;
            }
            .action-icon {
                cursor: pointer;
            }
        }
}