<div class="wrapper">
    <mat-card class="system-card">
        <div class="title-bar">
            <h3>{{ supportTitle }}</h3>
        </div>
        <mat-divider></mat-divider>
        <app-support></app-support>
    </mat-card>

    <mat-card class="data-card{{i+1}}" *ngFor="let card of dataCards; index as i; ">
        <div class="title-bar">
            <h3 fxFlex="95%">{{ card.title }}</h3>
            <mat-icon fxFlex="5%" (click)="doAdd(card.id)" class="action-icon">settings</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div *ngFor="let item of card.items">
            <span class="label">{{ item.label | translate }}</span>
            <span class="value">{{ item.value | translate }}</span>
        </div>
    </mat-card>

    <mat-card class="ntp-card">
        <div class="title-bar">
            <h3 fxFlex="95%">{{ ntpTitle }}</h3>
            <mat-icon fxFlex="5%" class="action-icon">add_circle</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <app-ntpserver-list></app-ntpserver-list>
    </mat-card>
</div>