<mat-card>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      *ngFor="let link of navLinks"
      #rla="routerLinkActive"
      mat-tab-link
      routerLinkActive
      [ixTest]="link.label"
      [active]="rla.isActive"
      [routerLink]="link.path"
    >
      {{ link.label }}
    </a>
  </nav>

  <router-outlet>
    <mat-tab-nav-panel #tabPanel>
      <ix-rsync-configure *ngIf="activedTab === 'configure'"></ix-rsync-configure>
      <ix-rsync-module-list
        *ngIf="activedTab === 'rsync-module'"
      ></ix-rsync-module-list>
    </mat-tab-nav-panel>
  </router-outlet>
</mat-card>
