@import 'cssvars';

:host {
  $pagetitle: 68px;
  $outer-padding: 16px;

  display: block;
  height: calc(100% - #{$pagetitle} - #{$outer-padding});
  margin-right: -#{$outer-padding};
  position: relative;
}

.time-warning {
  align-items: center;
  color: var(--fg2);
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 10px;
  max-width: 70%;

  .mat-icon {
    align-items: center;
    font-size: 16px;
    justify-content: center;
    margin-right: 6px;
  }
}

.dashboard-wrap {
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
}

.dashboard-item {
  box-flex: 1;
  flex-basis: 33.3333%;
  flex-grow: 1;
}

ul.ct-legend {
  top: -2em !important;
}

#reporting-spinner {
  left: 47%;
  position: relative;
  top: 110px;
}

.reports-dash-global-controls {
  color: var(--fg2);
}

.mat-card.ghost-card {
  min-height: 430px;
}

.mat-button-toggle .mat-icon {
  font-size: 24px;
  line-height: normal;
  margin-bottom: 4px;
}

#dashboardcontainerdiv {
  // Adjustment should really be applied to .rightside-content-hold (margin-top 90px instead of 104px),
  // but didn't want to risk breaking layouts of other pages so I applied this instead
  margin-top: -14px;

  .mat-ink-bar {
    @include variable(background-color, --primary, $primary);
  }
}

nav.reports-toolbar {
  background-color: var(--alt-bg1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  left: 0;
  padding: 4px 32px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.master-container {
  bottom: 0;
  height: 100%;
  left: 0;
  padding-bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.reports-navigation-spacer {
  width: 282px;
}

.reports-navigation {
  width: 270px;
}

.reports-navigation {
  background-color: var(--bg2);
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1);
  color: var(--fg2);
  height: 100%;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 150;
}

.reports-navigation .mat-list-item.onscreen {
  border-left: solid 3px var(--primary);
}

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}
