<ng-template ixPageHeader>
  <ix-page-title-header>
    <ix-reports-global-controls
      (diskOptionsChanged)="buildDiskReport($event)"
    ></ix-reports-global-controls>
  </ix-page-title-header>
</ng-template>

<div
  *ngIf="visibleReports && activeReports"
  class="master-container"
>
  <cdk-virtual-scroll-viewport [itemSize]="325" [minBufferPx]="325" [maxBufferPx]="325">
    <div *cdkVirtualFor="let key of visibleReports; let i = index" class="report-container">
      <ix-report
        *ngIf="activeReports[key] && activeReports[key].identifiers.length > 0"
        [report]="activeReports[key]"
        [identifier]="activeReports[key].identifiers[0]"
      ></ix-report>
      <ix-report
        *ngIf="activeReports[key].identifiers.length === 0"
        [report]="activeReports[key]"
      ></ix-report>
    </div>
    <div class="bottom-spacer"></div>
  </cdk-virtual-scroll-viewport>
</div>
