<ng-template #pageHeader>
  <ix-page-title-header>
    <ix-reports-global-controls
      [diskMetrics]="diskMetrics"
      [diskDevices]="diskDevices"
      [selectedDisks]="selectedDisks"
      [activeTab]="activeTab"
      [activeTabVerified]="activeTabVerified"
      [allTabs]="allTabs"
      (showConfigForm)="showConfigForm()"
      (navigateToTab)="navigateToTab($event)"
      (diskOptionsChanged)="buildDiskReport($event)"
    ></ix-reports-global-controls>
  </ix-page-title-header>
</ng-template>

<div
  *ngIf="visibleReports && activeReports"
  class="master-container"
  lazyViewer
  view=".report"
  fxLayout="row wrap"
  fxLayoutAlign="space-evenly"
>
  <div class="time-warning" *ngIf="showTimeDiffWarning">
    <div>
      <mat-icon>warning</mat-icon>
    </div>
    <div>
      {{ timeDiffWarning }}

      {{ 'NAS/browser time mismatch can lead to the reporting data display misbehavior.' | translate }}
    </div>
  </div>
  <!-- Cards Container -->
  <cdk-virtual-scroll-viewport
    itemSize="325"
    templateCacheSize="4"
    (scrolledIndexChange)="nextBatch($event)"
  >
    <!-- Report Cards -->
    <div
      class="report-container"
      *cdkVirtualFor="let key of visibleReports; let i = index"
    >
      <ix-report
        *ngIf="activeReports[key] && activeReports[key].identifiers.length > 0"
        [report]="activeReports[key]"
        [identifier]="activeReports[key].identifiers[0]"
        [isReversed]="isReportReversed(activeReports[key])"
      ></ix-report>
      <ix-report
        *ngIf="activeReports[key].identifiers.length == 0"
        [report]="activeReports[key]"
        [isReversed]="isReportReversed(activeReports[key])"
      ></ix-report>
    </div>
    <div class="bottom-spacer"></div>
  </cdk-virtual-scroll-viewport>
  <!-- /Cards Container -->
</div>
