@import 'mixins/loader';
@import 'scss-imports/variables';
@import 'scss-imports/cssvars';

:host {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-items: stretch;
  position: relative;

  .initial-loader {
    padding-top: 5px;

    /**
     * this is absolutely necessary to ensure that the card loading state
     * displays properly instead of just collapsing the card to 0 size
     */
    tn-card {
      display: block;
      height: 430px;
      margin: 0 6px;
    }
  }

  &.loading {
    @include background-logo-loader(1.5);

    &::before {
      background: var(--bg2);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 20;
    }

    &::after {
      z-index: 30;
    }
  }
}

.master-container {
  flex-grow: 1;
}

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;

  @media(max-width: $breakpoint-sm) {
    height: 100vh; // Fallback for browsers without dvh support
    height: 100dvh;

    &::ng-deep {
      .cdk-virtual-scroll-content-wrapper {
        padding-bottom: 100px;
        width: 100%;
      }
    }
  }
}
