<div class="dual-list">
  <div class="listbox">
    <p>{{ sourceName() }}</p>

    <div class="record-picker">
      <mat-list
        cdkDropList
        #availableDropList="cdkDropList"
        id="available-list"
        [cdkDropListData]="availableList()"
        [cdkDropListConnectedTo]="[selectedDropList]"
        [attr.aria-label]="sourceName()"
        [ngStyle]="{ 'max-height': height(), 'min-height': height() }"
        (cdkDropListDropped)="onDrop($event)"
      >
        @for (item of availableList().items; track trackByKey($index, item); let idx = $index) {
          <mat-list-item
            cdkDrag
            tabindex="0"
            [ngClass]="{ selected: isItemSelected(availableList(), idx) }"
            (click)="onItemClick('available', idx, $event)"
            (keydown)="onItemKeydown('available', idx, $event)"
          >
            @if (listItemIcon(); as icon) {
              <ix-icon [name]="icon"></ix-icon>
            }

            <label>{{ getDisplayValue(item) }}</label>
          </mat-list-item>
        }
      </mat-list>
    </div>
  </div>

  <div class="button-box">
    <button
      mat-icon-button
      type="button"
      color="primary"
      ixTest="move-selected-right"
      matTooltipPosition="right"
      [attr.aria-label]="'Move selected items to the right side list' | translate"
      [matTooltip]="'Move selected items to the right side list' | translate"
      [disabled]="!hasAvailableSelection()"
      (click)="moveSelectedRight()"
    >
      <ix-icon name="mdi-chevron-right"></ix-icon>
    </button>

    <button
      mat-icon-button
      type="button"
      color="primary"
      ixTest="move-all-right"
      matTooltipPosition="right"
      [disabled]="!canMoveAllRight()"
      [attr.aria-label]="'Move all items to the right side list' | translate"
      [matTooltip]="'Move all items to the right side list' | translate"
      (click)="moveAllRight()"
    >
      <ix-icon name="mdi-chevron-double-right"></ix-icon>
    </button>

    <button
      mat-icon-button
      type="button"
      color="primary"
      ixTest="move-selected-left"
      matTooltipPosition="right"
      [attr.aria-label]="'Move selected items to the left side list' | translate"
      [matTooltip]="'Move selected items to the left side list' | translate"
      [disabled]="!hasSelectedSelection()"
      (click)="moveSelectedLeft()"
    >
      <ix-icon name="mdi-chevron-left"></ix-icon>
    </button>

    <button
      mat-icon-button
      type="button"
      color="primary"
      ixTest="move-all-left"
      matTooltipPosition="right"
      [attr.aria-label]="'Move all items to the left side list' | translate"
      [matTooltip]="'Move all items to the left side list' | translate"
      [disabled]="!canMoveAllLeft()"
      (click)="moveAllLeft()"
    >
      <ix-icon name="mdi-chevron-double-left"></ix-icon>
    </button>
  </div>

  <div class="listbox">
    <p>{{ targetName() }}</p>

    <div class="record-picker">
      <mat-list
        cdkDropList
        #selectedDropList="cdkDropList"
        id="selected-list"
        [cdkDropListData]="selectedList()"
        [cdkDropListConnectedTo]="[availableDropList]"
        [attr.aria-label]="targetName()"
        [ngStyle]="{ 'max-height': height(), 'min-height': height() }"
        (cdkDropListDropped)="onDrop($event)"
      >
        @for (item of selectedList().items; track trackByKey($index, item); let idx = $index) {
          <mat-list-item
            cdkDrag
            tabindex="0"
            [ngClass]="{ selected: isItemSelected(selectedList(), idx) }"
            (click)="onItemClick('selected', idx, $event)"
            (keydown)="onItemKeydown('selected', idx, $event)"
          >
            @if (listItemIcon(); as icon) {
              <ix-icon [name]="icon"></ix-icon>
            }

            <label>{{ getDisplayValue(item) }}</label>
          </mat-list-item>
        }
      </mat-list>
    </div>
  </div>
</div>

<div class="hint">
  @if (isMacOs) {
    {{ 'You can select multiple items with the Command and Shift keys.' | translate }}
  } @else {
    {{ 'You can select multiple items with the Ctrl and Shift keys.' | translate }}
  }
</div>

<div class="sr-only" role="status" aria-live="polite" aria-atomic="true">
  {{ ariaMessage() }}
</div>
