:host {
  display: block;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 20000;
}

.ix-slidein-title-bar {
  align-items: center;
  background-color: var(--bg2);
  border-bottom: 2px solid var(--lines);
  height: 75px;
  margin: 0 -20px;
  padding: 0 30px;
}

.ix-formtitle {
  color: var(--fg1);
  word-break: break-all;
}

#ix-close-icon {
  color: var(--fg1);
  cursor: pointer;

  &:focus {
    border-radius: 50%;
    outline: 1.5px solid var(--primary);
  }
}

mat-progress-bar {
  bottom: 0;
  left: -20px;
  position: absolute;
  width: calc(100% + 40px);
  z-index: 10005;
}

.readonly-badge {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  background-color: var(--alt-fg1);
  border-radius: 2px;
  padding: 1px 7px 1px 2px;
  vertical-align: -1px;
  margin-left: 2px;

  ix-icon {
    font-size: 16px;
    margin-right: 2px;
  }
}
