<mat-card class="card">
  <mat-card-header>
    <h3 mat-card-title>{{ 'ZFS Info' | translate }}</h3>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div *ngIf="topologyParentItem?.name" class="details-item">
        <div class="label">{{ 'Parent' | translate }}:</div>
        <div class="value">{{ topologyParentItem.name | uppercase }}</div>
      </div>
      <div class="details-item">
        <div class="label">{{ 'Read Errors' | translate }}:</div>
        <div class="value">{{ topologyItem.stats?.read_errors }}</div>
      </div>
      <div class="details-item">
        <div class="label">{{ 'Write Errors' | translate }}:</div>
        <div class="value">{{ topologyItem.stats?.write_errors }}</div>
      </div>
      <div class="details-item">
        <div class="label">{{ 'Checksum Errors' | translate }}:</div>
        <div class="value">{{ topologyItem.stats?.checksum_errors }}</div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="isDisk">
    <ng-container *ngIf="canExtendDisk" [ngTemplateOutlet]="extend"></ng-container>
    <ng-container *ngIf="canRemoveDisk" [ngTemplateOutlet]="remove"></ng-container>

    <button *ngIf="canDetachDisk" mat-button ixTest="detach" (click)="onDetach()">
      {{ 'Detach' | translate }}
    </button>

    <button *ngIf="canOfflineDisk" mat-button ixTest="offline" (click)="onOffline()">
      {{ 'Offline' | translate }}
    </button>

    <button *ngIf="canOnlineDisk" mat-button ixTest="online" (click)="onOnline()">
      {{ 'Online' | translate }}
    </button>
  </mat-card-actions>
  <mat-card-actions *ngIf="isMirror">
    <ng-container [ngTemplateOutlet]="extend"></ng-container>
    <ng-container *ngIf="canRemoveVDEV" [ngTemplateOutlet]="remove"></ng-container>
  </mat-card-actions>
</mat-card>

<ng-template #extend>
  <button mat-button ixTest="extend" (click)="onExtend()">
    {{ 'Extend' | translate }}
  </button>
</ng-template>

<ng-template #remove>
  <button mat-button ixTest="remove" (click)="onRemove()">
    {{ 'Remove' | translate }}
  </button>
</ng-template>
