<ng-container [formGroup]="form">
  <ix-input
    formControlName="region"
    [label]="'AWS Region' | translate"
    [required]="true"
    [tooltip]="helptext.awsSns.regionTooltip | translate"
  ></ix-input>

  <ix-input
    formControlName="topic_arn"
    [label]="'ARN' | translate"
    [required]="true"
    [tooltip]="helptext.awsSns.topicArnTooltip | translate"
  ></ix-input>

  <ix-input
    formControlName="aws_access_key_id"
    [label]="'Key ID' | translate"
    [required]="true"
    [tooltip]="helptext.awsSns.accessKeyIdTooltip | translate"
  ></ix-input>

  <ix-input
    formControlName="aws_secret_access_key"
    type="password"
    [label]="'Secret Key' | translate"
    [required]="true"
    [tooltip]="helptext.awsSns.secretAccessKeyTooltip | translate"
  ></ix-input>
</ng-container>
