<mat-card class="container-card">
  <mat-card-header>
    <h3 mat-card-title>{{ 'Disk Info' | translate }}</h3>
    <button
      mat-button
      (click)="onEdit()"
    >{{ 'Edit' | translate }}</button>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <span class="header">{{ 'Disk Size' | translate }}:</span>
      <span *ngIf="disk?.size; else notAvailable">
        {{ disk.size | filesize: { standard: 'iec' } }}
      </span>
    </div>
    <div class="row">
      <span class="header">{{ 'Transfer Mode' | translate }}:</span>
      <span *ngIf="disk?.transfermode; else notAvailable">
        {{ disk.transfermode }}
      </span>
    </div>
    <div class="row">
      <span class="header">{{ 'Serial' | translate }}:</span>
      <span *ngIf="disk?.serial; else notAvailable">
        {{ disk.serial }}
      </span>
    </div>
    <div class="row">
      <span class="header">{{ 'Model' | translate }}:</span>
      <span *ngIf="disk?.model; else notAvailable">
        {{ disk.model }}
      </span>
    </div>
    <div class="row">
      <span class="header">{{ 'Rotation Rate' | translate }}:</span>
      <span *ngIf="disk?.rotationrate; else notAvailable">
        {{ '{n} RPM' | translate: { n: disk.rotationrate } }}
      </span>
    </div>
    <div class="row">
      <span class="header">{{ 'Type' | translate }}:</span>
      <span *ngIf="disk?.type; else notAvailable">
        {{ disk.type }}
      </span>
    </div>
    <div class="row">
      <span class="header">{{ 'HDD Standby' | translate }}:</span>
      <span *ngIf="disk?.hddstandby; else notAvailable">
        {{ disk.hddstandby }}
      </span>
    </div>
    <div class="row">
      <span class="header">{{ 'Description' | translate }}:</span>
      <span *ngIf="disk?.description; else notAvailable">
        {{ disk.description }}
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button
      class="stroked-btn"
      mat-stroked-button
      (click)="onReplace()"
    >{{ 'Replace' | translate }}</button>
  </mat-card-actions>
</mat-card>

<ng-template #notAvailable>
  {{ 'N/A' | translate }}
</ng-template>
