/deep/ #tree-list-demo {
    min-height: 530px;   
}

/deep/ #employees {
   max-height: 530px;
}

.hov:hover{
    cursor: pointer;
}

.ion-android-more-vertical:before {
    color: black;
}


:host ::ng-deep .global_volume_based_action_menu .panel_container {
  text-align:right;
}

.panel_status_enc {
    padding-right: 20px;
    width: 30px;
}

.encryption_icon {
    float: right; 
    padding-bottom: 20px;
    padding-top: 4px;
    position:relative;
    z-index:50;
}

.unlock_button {
    cursor: pointer;
}

#pools-spinner {
    position: absolute;
    left: 47%;
    top: 12px;
}

.pool-icon {
    margin-left: 15px;
    position: relative;
    top: 10px;
}

.icon-row {
    margin-right: -5px;
}

.green-icon {
    color: var(--green);
}

.orange-icon {
    color: var(--orange);
}

.yellow-icon {
    color: var(--yellow);
}

.blue-icon {
    color: var(--blue);
}

.red-icon {
    color: var(--red);
}


