<!-- START OF CONTROLS SECTION -->
<div *ngIf="entity && conf" fxFlex class="entity-table-controls" fxLayout="row wrap" fxLayoutAlignGap="16px" fxLayoutAlign="end center">
  
  <!-- SEARCH -->
  <div class="form-element" id="row-filter">
    <mat-form-field floatPlaceholder="auto">
      <span matPrefix style="cursor: default; user-select: none;"><mat-icon>search</mat-icon></span>
      <input matInput #filter placeholder="{{'Filter' | translate}} {{'Dataset Names' | translate}}"
        class="mat-input-element"
        ix-auto
        ix-auto-type="input"
        ix-auto-identifier="Filter {{entity.conf.title}}">
      <span [ngClass]="{'hidden': !filterValue || filterValue.length == 0}" matSuffix style="opacity: 0.5; cursor: pointer; user-select: none;">
        <mat-icon (click)="resetDatasetFilter()" role="img" style="font-size: 150%;" fontSet="mdi-set" fontIcon="mdi-close-circle"></mat-icon>
      </span>
    </mat-form-field>
  </div>
  <!-- END SEARCH -->

  <!-- START COLUMN FILTER -->
  <div *ngIf="entity.columnFilter && entity.allColumns && entity.allColumns.length > 0">
    <button mat-button [matMenuTriggerFor]="menu" color="default" class="menu-toggle"
      ix-auto
      ix-auto-type="button"
      ix-auto-identifier="{{conf.title}}_COLUMNS">
      <span>{{"Columns" | translate}} <mat-icon class="menu-caret">arrow_drop_down</mat-icon> </span>
    </button>
    <mat-menu #menu="matMenu" multiple overlapTrigger="false">

      <!-- SELECT ALL -->
      <div (click)="$event.stopPropagation()">
        <button mat-menu-item (click)="entity.checkAll()" id="check-all"
          ix-auto
          ix-auto-type="action"
          ix-auto-identifier="COLUMNS_SELECT">
          <span>
            <mat-icon *ngIf="entity.checkLength()">check_circle</mat-icon>
            <mat-icon *ngIf="!entity.checkLength()">remove</mat-icon>
          </span>
          <span *ngIf="!entity.checkLength()">{{"Select All" | translate}}</span>
          <span *ngIf="entity.checkLength()">{{"Unselect All" | translate}}</span>
        </button>
      </div>

      <!-- INDIVIDUAL COLUMNS-->
      <div (click)="$event.stopPropagation();">
        <button mat-menu-item *ngFor="let col of entity.allColumns" (click)="entity.toggle(col);" id="menu_option-{{col.name}}"
          ix-auto
          ix-auto-type="action"
          ix-auto-identifier="COLUMNS_{{col.name}}">
          <span>
            <mat-icon *ngIf="entity.isChecked(col)">check_circle</mat-icon>
            <mat-icon *ngIf="!entity.isChecked(col)">remove</mat-icon>
          </span>
          <span>{{col.name | translate}}</span>
        </button>
      </div>

      <div (click)="$event.stopPropagation()">
        <button mat-menu-item (click)="resetColViewToDefaults()" id="reset_col_view"
          ix-auto
          ix-auto-type="action"
          ix-auto-identifier="COLUMNS_Reset_to_Defaults">
          <span>
            <mat-icon>undo</mat-icon>
          </span>
          <span>{{"Reset to Defaults" | translate}}</span>
        </button>
      </div>
    </mat-menu>
  </div>
  <!-- END COLUMN FILTER -->

  <!-- CREATE & IMPORT BUTTONS -->
  <div class="entity-add-actions-wrapper">
    <button 
      style="height:37px; margin-top:-1px;" 
      mat-button color="default" 
      (click)="onClickImport()"
      class="menu-toggle" 
      matTooltip="{{ 'Import an existing pool.' | translate}}"
      ix-auto
      ix-auto-type="button"
      ix-auto-identifier="{{entity.conf.title}}_POOL_IMPORT">
      {{'Import' | translate}}
    </button>
  </div>

  <div class="entity-add-actions-wrapper">
    <button 
      style="height:37px; margin-top:-1px;" 
      mat-button color="primary" 
      (click)="navigate('storage/manager')"
      class="menu-toggle" 
      matTooltip="{{ 'Create a new pool.' | translate}}"
      ix-auto
      ix-auto-type="button"
      ix-auto-identifier="{{entity.conf.title}}_POOL_CREATE">
      {{'Create' | translate}}
    </button>
    </div>

  <!-- END CREATE & IMPORT BUTTONS -->


<!-- END OF CONTROLS SECTION -->

  <!-- COG -->
  <div>
    <button mat-icon-button 
      ix-auto ix-auto-type="button" ix-auto-identifier="STORAGE_ACTIONS"
      [matMenuTriggerFor]="volumesListMenu">
      <mat-icon>settings</mat-icon>
    </button>
  
    <mat-menu #volumesListMenu>
      <button mat-menu-item ix-auto ix-auto-type="button" ix-auto-identifier="STORAGE_SNAPSHOTS" (click)="navigate('storage/snapshots')">{{ 'Snapshots' | translate }}</button>
      <button mat-menu-item ix-auto ix-auto-type="button" ix-auto-identifier="STORAGE_VMWARE_SNAPSHOTS" (click)="navigate('storage/vmware-Snapshots')">{{ 'VMware-Snapshots' | translate }}</button>
      <button mat-menu-item ix-auto ix-auto-type="button" ix-auto-identifier="STORAGE_DISKS" (click)="navigate('storage/disks')">{{ 'Disks' | translate }}</button>
      <button mat-menu-item ix-auto ix-auto-type="button" ix-auto-identifier="STORAGE_IMPORT_DISK" (click)="navigate('storage/import-disk')">{{ 'Import Disk' | translate }}</button>
      <button mat-menu-item ix-auto ix-auto-type="button" ix-auto-identifier="STORAGE_MULTIPATHS" (click)="navigate('storage/multipaths')">{{ 'Multipaths' | translate }}</button>
      <button mat-menu-item ix-auto ix-auto-type="button" ix-auto-identifier="STORAGE_SYSTEM_DATASET_POOL" (click)="onChooseSystemDatasetPool()">{{ 'System Dataset Pool' | translate }}</button>
    </mat-menu>
  </div>

</div>


