@import 'scss-imports/variables';

:host {
  border-bottom: solid 1px var(--lines);
  box-sizing: border-box;
  color: var(--fg2);
  display: block;
  margin-bottom: 32px;
  margin-top: 0;
  padding-bottom: 8px;
  padding-top: 0;
  position: relative;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }

  @media (max-width: $breakpoint-xs) {
    padding-top: 8px;
  }
}

.header-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;

  @media (max-width: $breakpoint-xs) {
    padding: 0 16px;
  }
}

.breadcrumbs {
  position: relative;
  top: 8px;
  width: 100%;
}

ix-fake-progress-bar {
  bottom: 0;
  height: 2px;
  position: absolute;
}

.title-container {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 8px;
  margin: 8px 0;
  min-height: 40px;

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
  }

  .title-and-indicator {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    place-content: center;
  }
}

.actions-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 0 8px;
  justify-content: flex-end;

  @media (max-width: $breakpoint-tablet) {
    border-top: solid 1px var(--lines);
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 12px;
    padding: 12px 0 0;
    width: 100%;
  }
}

.actions-container:empty {
  display: none;
  opacity: 0;
}

.actions-container > ::ng-deep ix-search-input1 {
  @media (max-width: $breakpoint-tablet) {
    width: 80%;
  }
}
