.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.form-actions {
  margin: 16px 8px;

  button {
    margin: 0 4px;
  }
}

.divider {
  margin: 16px 0 !important;
}


mat-card-title {
  color: var(--fg1) !important;
  font-size: 14px !important;
  margin-left: 8px !important;
  margin-top: 8px !important;
}
