.tc-dialog-content {
  margin-bottom: 20px;
  margin-top: 10px;
}

tn-icon.status-connected {
  color: var(--blue);
}

tn-icon.status-failed {
  color: var(--red);
}

tn-icon.status-disabled {
  color: var(--grey);
}

tn-icon.tc-icon {
  height: 21px;
  padding: 2px 0 2px 2px;
  width: 21px;
}

div.tc-dialog-content tn-icon {
  margin-right: 10px;
  position: relative;
  top: 5px;
}
