.card-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-group {
  align-items: center;
  display: flex;
  gap: 4px;
}

:host tn-card {
  height: auto;
}
