<div
  class="wrapper"
  gdGap="8px"
  gdRows="fit-content(30vh)"
  gdColumns="100% 100%"
  gdColumns.gt-xs="50% 50%"
  gdAreas="data-card1 | data-card2 | sysctl-card | data-card3 | cron-card | initshutdown-card | data-card7 | data-card8"
  gdAreas.gt-xs="data-card1 data-card2 | sysctl-card data-card3 | cron-card initshutdown-card | data-card7 data-card8"
>
  <ng-container *ngFor="let card of dataCards; index as i">
    <mat-card
      *ngIf="[CardId.Cron, CardId.InitShutdown, CardId.Sysctl].includes(card.id) === false"
      class="data-card{{ i + 1 }}"
      gdArea="data-card{{ i + 1 }}"
    >
      <mat-toolbar-row>
        <h3>{{ card.title | translate }}</h3>
        <div class="actions action-icon">
          <button mat-button color="default" (click)="onSettingsPressed(card.id)">
            {{ 'Configure' | translate }}
          </button>
        </div>
      </mat-toolbar-row>

      <mat-card-content>
        <entity-empty [conf]="card.emptyConf" *ngIf="card.emptyConf; else data"></entity-empty>
        <ng-template #data>
          <mat-list>
            <mat-list-item *ngFor="let item of card.items" class="card-list-item">
              <span class="label">{{ item.label | translate }}:</span>
              <span class="value text-overflow-ellipsis">{{ item.value | cast | translate }}</span>
            </mat-list-item>
          </mat-list>
        </ng-template>
      </mat-card-content>
    </mat-card>

    <app-table
      *ngIf="[CardId.Cron, CardId.InitShutdown, CardId.Sysctl].includes(card.id)"
      [conf]="card.tableConf"
      [gdArea]="card.id + '-card'"
    ></app-table>
  </ng-container>
</div>
