@import 'scss-imports/cssvars';

.cards {
  display: grid;
  gap: 8px;
  grid-template-columns: 50% 50%;

  @media #{$media-lt-md} {
    grid-template-columns: 100%;
  }

  > * {
    display: flex;
    flex-direction: column;

    ::ng-deep > * {
      flex: 1;
    }
  }
}
