:host {
  display: block;
  margin-bottom: 12px;
}

.full-width {
  color: var(--fg1);
  width: 100%;
}

.container {
  padding: 8px 0;
}

.tooltip {
  margin-left: 8px;
}

.input-container {
  background: var(--bg1);
  border: solid 1px var(--lines);
  border-radius: 2px;
  font-size: 12px;
  padding: 7px;
  position: relative;


  &.disabled {
    opacity: 0.38;

    ::ng-deep .mat-select-value {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}

.label-container {
  margin-bottom: 5px;
  margin-left: 1px;
}

.label {
  font-size: x-small;
}
