:host /deep/ .dynamic-field {
  margin-bottom: 15px;
  label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.9);
  }
}
