.columns {
  column-gap: 10px;
  display: flex;

  .column {
    flex: 1;
  }
}

.leading-fields {
  margin-bottom: 34px;
  margin-top: 26px;
}

.attributes {
  margin-bottom: 21px;
}

dl {
  font-size: 12px;
  margin: 0;

  > div {
    margin-bottom: 20px;
  }

  dt {
    display: inline;
    font-weight: 600;
    margin-right: 4px;
  }

  dd {
    display: inline;
    margin: 0;
    word-break: break-all;
  }
}
