.card {
  height: 100%;

  ::ng-deep > ix-with-loading-state-loader {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 54px;
    padding: 16px 8px 8px 16px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    height: 100%;
  }
}

ix-app-cpu-info {
  align-items: center;
  background: var(--bg1);
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  max-width: 100%;
  text-align: center;
}
