:host .container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

ix-app-cpu-info {
  align-items: center;
  background: var(--bg1);
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  font-size: 1.5em;
  height: 100%;
  justify-content: space-evenly;
  max-width: 100%;
  text-align: center;
}
