@import 'scss-imports/splitview';
@import 'mixins/layout';

@include tree-node-with-details-container();

:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

ix-disk-details-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.disk-tree {
  border-top: 2px solid var(--lines);
}

.vdev-group-toggle {
  height: 25px;
  line-height: 0;
  margin-right: 18px;
  width: 25px;
}
