@if (showIcon()) {
  @if (hasUpdate()) {
    <tn-icon
      class="icon"
      matTooltipPosition="above"
      name="alert-circle"
      library="mdi"
      [matTooltip]="getVersionMsg()"
    ></tn-icon>
  } @else {
    <tn-icon
      matTooltipPosition="above"
      name="check-circle"
      library="mdi"
      [matTooltip]="'Up to date' | translate"
    ></tn-icon>
  }
}

@if (hasUpdate()) {
  <span>{{ 'Update available' | translate }}</span>
} @else {
  <span>{{ 'Up to date' | translate }}</span>
}
