:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 4px;

  ix-icon {
    display: inline-flex;
    line-height: 1;
  }

  .mdi-alert-circle {
    color: var(--yellow);
  }
}
