<div id="entity-card.component" class="flip" style="width:inherit; height:inherit;">
	<div class="card-container" [ngClass]="{'flipped':conf.isFlipped}">

		<mat-card class="card front face animated slideInUp">
			<ng-template [ngTemplateOutlet]="front" [ngTemplateOutletContext]="{name: 'Child'}"></ng-template>
			<mat-card-footer *ngIf="actions" class="card-footer">
				<div class="">
					<app-entity-card-actions [entity]="this"></app-entity-card-actions>
				</div>
			</mat-card-footer>
		</mat-card>

		<mat-card class="card back face" style="overflow-y:auto;">

			<ng-template *ngIf="lazyLoaded" [ngTemplateOutlet]="back" [ngTemplateOutletContext]="{name: 'Child'}"></ng-template>
		</mat-card>

	</div>
</div>

<div>
	<app-entity-table-add-actions [entity]="this"></app-entity-table-add-actions>
</div>
