  .fab-br {
      top: auto !important;
      right: 30px !important;
      bottom: 48px !important;
      left: auto !important;
      position: fixed !important;
      z-index: 1;
  }
  
  .action-menu {
      text-align: right;
      float: right;
  }
  
  .table>thead>tr>th:first-child {
      text-align: left;
  }
  
  .table>tbody>tr>td:first-child {
      text-align: left;
  }
  
  .table-bordered,
  .table-bordered>thead>tr>th,
  .table-bordered>tbody>tr>th,
  .table-bordered>tfoot>tr>th,
  .table-bordered>thead>tr>td,
  .table-bordered>tbody>tr>td,
  .table-bordered>tfoot>tr>td {
      line-height: 1.5em;
      height: 1.5em;
      padding: .5em;
      font-size: .9em;
  }
  
  i {
      line-height: 1.5em;
  }
  
  .card-wrap {
      display: flex;
      flex-flow: row wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      box-sizing: border-box;
  }
  
  .card-item {
      flex: 1 1 25%;
      box-sizing: border-box;
      -webkit-box-flex: 1;
      max-width: 50%;
  }
  
  .card-item-title {
      font-size: 20px !important;
  }