  .fab-br {
      top: auto !important;
      right: 30px !important;
      bottom: 48px !important;
      left: auto !important;
      position: fixed !important;
      z-index: 1;
  }
  
  .action-menu {
      text-align: right;
      float: right;
  }
  
  .table>thead>tr>th:first-child {
      text-align: left;
  }
  
  .table>tbody>tr>td:first-child {
      text-align: left;
  }
  
  .table-bordered,
  .table-bordered>thead>tr>th,
  .table-bordered>tbody>tr>th,
  .table-bordered>tfoot>tr>th,
  .table-bordered>thead>tr>td,
  .table-bordered>tbody>tr>td,
  .table-bordered>tfoot>tr>td {
      line-height: 1.5em;
      height: 1.5em;
      padding: .5em;
      font-size: .9em;
  }
  
  i {
      line-height: 1.5em;
  }
  
  .card-wrap {
      display: flex;
      flex-flow: row wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      box-sizing: border-box;
  }
  
  .card-item {
      flex: 1 1 25%;
      box-sizing: border-box;
      -webkit-box-flex: 1;
      max-width: 50%;
  }
  
  .card-item-title {
      font-size: 20px !important;
  }
  /* Cards */
  
  .card {
      /*margin: 10px 0 20px 0;*/
      border-top-width: 0;
      border-bottom-width: 2px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .card .card-footer {
      /*background-color:#fff;*/
      position: absolute;
      width: 100%;
      bottom: 15px;
      min-height: 60px;
      border-top: solid 1px rgba(0, 0, 0, 0.1);
      text-align: center;
  }
  /* Flip Card Animations */
  
  .flip {
      perspective: 820px !important;
      perspective-origin: 50% 50% !important;
      /*width: 400px;*/
      height: 420px;
      position: relative;
      margin: 50px auto;
  }
  
  .flip .card-container {
      width: 100%;
      height: 100%;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.5s;
  }
  
  .flip .card-container.flipped {
      transform: rotatey(-180deg);
  }
  
  .flip .card-container .front {
      position: absolute;
      z-index: 1;
  }
  
  .flip .card-container .back {
      transform: rotatey(-180deg);
      min-height: 250px;
  }
  
  .flip .card-container .face {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      z-index: 2;
      margin:0;
  }
