:host {
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 8px 0;
}

.label-container {
  align-items: center;
  display: flex;
  margin-bottom: 1px;
  margin-left: 1px;
  min-height: 24px;
}

.label {
  display: inline-flex;
  font-size: x-small;
}

.tooltip {
  margin: 0 0 0 8px;
}

.group-container {
  display: flex;

  ::ng-deep > * {
    flex: 1;
    margin: 0;
    padding: 0;

    &:last-of-type {
      flex: auto;
    }
  }

  &.group-label {
    ::ng-deep > * .label-container {
      height: 0;
      min-height: 0;
      opacity: 0;
      overflow: hidden;
      visibility: hidden;
      width: 0;
    }
  }
}
