<mat-card class="container">
  <mat-card-content>
    <div class="outer-container">
      <div class="type-container">
        <h3>RaidZ2</h3>
        <p>24 Tib Est. Usable Capacity</p>
        <p>{{ 'Vdevs spans enclosure' | translate }}</p>
      </div>
      <div class="vdev-container">
        <ix-vdev-wrapper>
          <div class="disk-icons">
            <ix-disk-icon
              class="disk-icon"
            ></ix-disk-icon>
          </div>
        </ix-vdev-wrapper>
      </div>
    </div>
  </mat-card-content>
</mat-card>
