<mat-card class="container">
  <mat-card-content>
    <div class="outer-container">
      <div class="type-container">
        <h3>{{vdev.type}}</h3>
        <p>{{'{size} Est. Usable Capacity' | translate: { size: ixFormatter.convertBytesToHumanReadable(vdev.rawSize) } }}</p>
        <ix-warning *ngIf="spansEnclosures" [message]="'Vdevs spans enclosure' | translate"></ix-warning>
      </div>
      <div class="vdev-container">
        <ix-vdev-wrapper *ngFor="let enclosureDisks of enclosuresDisks | keyvalue" 
          [enclosure]="enclosureDisks.key"[vdev]="vdev"
        >
          <div class="disk-icons">
            <ix-disk-icon
              *ngFor=
               of enclosureDisks.value"
              class="disk-icon"
              [dndDraggable]="disk"
              [dndEffectAllowed]="'move'"
              [disk]="disk""let disk(dndStart)="onDragStart()"
              (dndCanceled)="onDragCanceled()"
              (dndEnd)="onDragEnd()"
            ></ix-disk-icon>
          </div>
        </ix-vdev-wrapper>
      </div>
    </div>
  </mat-card-content>
</mat-card>
