.status{
  color: var(--fg2);
  display:inline-block;
  width: 32px;
  height: auto;
  position: relative;
  top: 12px;
  left: 8px;
}

.status,
.status svg{
}


/* Misc Vars */
--curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

body {
  align-items: center;
  justify-content: center;
}

.checkmark {
  opacity:0;
  width: 32px;
  height: auto;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -32px;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px var(--green);
  animation: fadein 0.1s ease-in 0s forwards, /*fill .4s ease-in-out .4s forwards,*/ scale .2s ease-in-out 0s both, fadeout 1s linear 2s forwards ;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--green);
  /*fill: none;*/
  fill:var(--green);
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke: var(--green-txt);
  stroke-dashoffset: 48;
}

@keyframes stroke {
  0% { stroke-opacity:1;}
  100% {
    stroke-dashoffset: 0.25;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px var(--green);
  }
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeout {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
