<ix-form
  [formGroup]="formGroup"
  [title]="'Localization Settings' | translate"
  [isEditMode]="true"
  [submitHandler]="handleSubmit"
>
  <tn-form-section [heading]="fieldsetTitle | translate">
    <tn-form-field
      [label]="kbdMap.label | translate"
      [required]="true"
    >
      <tn-select
        [formControlName]="kbdMap.fcName"
        [options]="(kbdMap.options | async) ?? []"
      ></tn-select>
    </tn-form-field>
    <ix-combobox
      [formControlName]="timezone.fcName"
      [label]="timezone.label | translate"
      [provider]="timezone.provider"
      [required]="true"
    ></ix-combobox>
  </tn-form-section>
</ix-form>
