.ix-form-container {
  display: flex;
  flex-direction: column;
  padding: 0 8px;

  > * {
    width: 100%;
  }
}

.language-hint {
  font-size: 12px;
  margin-top: -12px;
}

.divider {
  margin: 16px 0 !important;
}
