.fn-mat-select .mat-menu-panel {
  //min-width:calc(100% - 32px);
  max-width: none !important;
}

.inline-label div.label.half-width,
.inline-label .mat-form-field {
  display: inline-block;
}

.inline-label div.label.half-width {
  width: calc(50% - 16px);
}

.inline-label .mat-form-field {
  width: calc(40% - 16px);
}

.inline-label .mat-form-field {
  padding: 8px;
}

mat-selection-list {
  max-height: 400px;
  overflow: auto;
}

:host-context(app-system-alert) {
  .inline-label label.label.input-select {
    padding: 8px !important;
  }
}

.alert-icon {
  position: absolute;
  right: 0;
}

.alert-icon mat-icon {
  font-size: 1rem;
  height: auto;
  width: auto;
}

mat-option.text-wrap,
.mat-menu-item.text-wrap {
  height: unset !important;
  line-height: inherit !important;
  padding-bottom: 4px;
  padding-top: 4px;
  text-overflow: initial !important;
  white-space: normal !important;
}

mat-option.text-wrap {
  min-height: 48px;
}

.mat-menu-item.text-wrap {
  min-height: 36px;
}
