@import 'scss-imports/variables';
$chart-size: 100px;

:host {
  display: flex;
  gap: 24px;
  min-height: $chart-size;

  @media (max-width: calc($breakpoint-dualcolumn - 1px)) {
    flex-wrap: wrap;
  }
}

.chart-wrapper {
  height: $chart-size;
  width: $chart-size;

  @media (max-width: calc($breakpoint-dualcolumn - 1px)) {
    margin: 0 auto;
  }
}

.chart-wrapper canvas {
  height: $chart-size !important;
  width: $chart-size !important;
}

.chart-description {
  flex: 1;
}

.chart-header {
  align-items: center;
  border-bottom: 1px solid var(--lines);
  box-sizing: border-box;
  display: flex;
  font-size: 18px;
  font-weight: normal;
  gap: 8px;
  margin-bottom: 10px;
  padding: 0 0 10px;
  white-space: nowrap;
}

.chart-placeholder {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  height: $chart-size;
  width: $chart-size;

  ::ng-deep .loader {
    border-radius: 50%;
    height: $chart-size;
    margin: 0;
    width: $chart-size;
  }
}

.value-placeholder {
  align-items: center;
  display: inline-flex;
  flex: 1;

  ::ng-deep .loader {
    margin: 0;
  }
}

.legend-placeholder {
  align-items: center;
  display: flex;
  flex: 1;
  margin-bottom: 8px;

  ::ng-deep .loader {
    margin: 0;
  }
}

.legend-list-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  .legend-label {
    align-items: center;
    display: flex;
    gap: 8px;
  }

  .legend-swatch {
    background-color: var(--lines);
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px;
  }
}
