<ix-users-search
  [dataProvider]="dataProvider()"
></ix-users-search>

@let emptyType = dataProvider().emptyType$ | async;
<tn-table
  class="users-table"
  [dataSource]="(dataProvider().currentPage$ | async) ?? []"
  [displayedColumns]="displayedColumns"
  [trackBy]="trackByUid"
  [clickable]="true"
  [activeRow]="dataProvider().expandedRow"
  [loading]="!!(dataProvider().isLoading$ | async)"
  [loadingMessage]="emptyService.loadingMessage()"
  [emptyMessage]="emptyService.titleForType(emptyType)"
  [emptyDescription]="emptyService.descriptionForType(emptyType)"
  [emptyIcon]="emptyService.iconForType(emptyType)"
  (sortChange)="onSortChange($event)"
  (rowClick)="expanded($event)"
>
  <ng-container [tnColumnDef]="'username'" [sortable]="true">
    <ng-template tnHeaderCellDef>{{ 'Username' | translate }}</ng-template>
    <ng-template let-row tnCellDef>
      <ix-table-text-cell
        [value]="row.username"
        [title]="'Username' | translate"
        [uniqueRowTag]="uniqueRowTag(row)"
      ></ix-table-text-cell>
    </ng-template>
  </ng-container>

  <ng-container [tnColumnDef]="'full_name'" [sortable]="true">
    <ng-template tnHeaderCellDef>{{ 'Full Name' | translate }}</ng-template>
    <ng-template let-row tnCellDef>
      <ix-table-text-cell
        [value]="row.full_name"
        [title]="'Full Name' | translate"
        [uniqueRowTag]="uniqueRowTag(row)"
      ></ix-table-text-cell>
    </ng-template>
  </ng-container>

  <ng-container [tnColumnDef]="'builtin'" [sortable]="true">
    <ng-template tnHeaderCellDef>{{ 'Type' | translate }}</ng-template>
    <ng-template let-row tnCellDef>
      <ix-table-text-cell
        [value]="userType(row)"
        [title]="'Type' | translate"
        [uniqueRowTag]="uniqueRowTag(row)"
      ></ix-table-text-cell>
    </ng-template>
  </ng-container>

  <ng-container [tnColumnDef]="'roles'">
    <ng-template tnHeaderCellDef>{{ 'Access' | translate }}</ng-template>
    <ng-template let-row tnCellDef>
      <ix-user-access-cell
        tnTestIdType="text"
        [user]="row"
        [uniqueRowTag]="uniqueRowTag(row)"
        [tnTestId]="[('Access' | translate), uniqueRowTag(row), 'row-text']"
      ></ix-user-access-cell>
    </ng-template>
  </ng-container>
</tn-table>

<tn-table-pager [dataProvider]="dataProvider()"></tn-table-pager>
