<ix-page-header [title]="'Dashboard' | translate">
  <button
    *ngIf="!isEditing(); else editingButtons"
    mat-button
    color="primary"
    ixTest="configure-dashboard"
    [disabled]="isLoading()"
    (click)="onConfigure()"
  >
    {{ 'Configure' | translate }}
  </button>

  <ng-template #editingButtons>
    <button
      mat-button
      class="add-button"
      ixTest="add-group"
      (click)="onAddGroup()"
    >
      {{ 'Add' | translate }}
    </button>
    <button
      mat-button
      color="primary"
      ixTest="save"
      (click)="onSave()"
    >
      {{ 'Save' | translate }}
    </button>
    <button
      mat-button
      ixTest="cancel"
      (click)="onCancelConfigure()"
    >
      {{ 'Cancel' | translate }}
    </button>
  </ng-template>
</ix-page-header>

<div
  class="groups"
  ixDropGrid
  [ixDropGridModel]="renderedGroups()"
  (ixDropGridModelChange)="onGroupsReordered($event)"
>
  <ng-container *ngIf="renderedGroups().length > 0; else noWidgets">
    <div
      *ngFor="let group of renderedGroups(); index as i"
      class="group-slot"
      ixDropGridItem
      @groupRemovedTrigger
    >
      <div
        ixDrag
        class="group-container"
        [class.editing]="isEditing()"
      >
        <div class="group-controls">
          <div class="mobile-reorder-buttons">
            <button
              mat-icon-button
              [attr.aria-label]="'Move widget up' | translate"
              [ixTest]="['move-up', 'widget' + i]"
              [disabled]="!canMoveUp(i)"
              (click)="onMoveGroup(i, 1)"
            >
              <ix-icon name="mdi-menu-up"></ix-icon>
            </button>
            <button
              mat-icon-button
              [attr.aria-label]="'Move widget down' | translate"
              [ixTest]="['move-down', 'widget' + i]"
              [disabled]="!canMoveDown(i)"
              (click)="onMoveGroup(i, -1)"
            >
              <ix-icon name="mdi-menu-down"></ix-icon>
            </button>
          </div>
          <div class="drag-handle" ixDragHandle>
            <ix-icon name="mdi-drag-horizontal"></ix-icon>
          </div>
          <div class="edit-and-delete">
            <button
              mat-icon-button
              [attr.aria-label]="'Edit group' | translate"
              [ixTest]="['edit-group', 'widget' + i]"
              (click)="onEditGroup(group)"
            >
              <ix-icon name="edit"></ix-icon>
            </button>
            <button
              mat-icon-button
              [attr.aria-label]="'Delete group' | translate"
              [ixTest]="['delete-group', 'widget' + i]"
              (click)="onDeleteGroup(group)"
            >
              <ix-icon name="delete"></ix-icon>
            </button>
          </div>
        </div>
        <ix-widget-group
          class="group"
          [group]="group"
        ></ix-widget-group>
      </div>
    </div>
  </ng-container>

  <ng-template #noWidgets>

  </ng-template>
</div>
