#dashboard-spinner {
  left: 48%;
  position: absolute;
  top: 58px;
  z-index: 10;
}

.mobile-viewport {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 48px;
  width: 100vw;
  z-index: 2;
}

.mobile-viewport.hidden {
  display: none;
}

.mobile-viewport .carousel {
  width: 200%;
}

.mobile-widget-container {
  background-color: var(--bg2);
  height: 100vh;
  left: 100vw;
  position: relative;
  top: 0;
  width: 100vw;
}

.widgets-wrapper-container {
  //width:calc(100% - 32px);
  margin: 0 auto;
}

.widgets-wrapper {
  margin: 0 auto;
}

.widgets-wrapper > * {
  margin: 0 4px;
}
