
:host ::ng-deep .role-missing {
  button {
    cursor: none;
    pointer-events: none;
  }
  
  .mat-mdc-button,
  .mdc-button {
    margin-right: 8px;
  }
  
  .mdc-button__label,
  .mat-icon,
  .mat-mdc-menu-item-text {
    // color: var(--alt-fg1);
    opacity: 0.5;
    text-decoration: line-through;
  }
}

