
:host ::ng-deep .role-missing {
  .mat-mdc-checkbox,
  .mdc-switch__handle,
  button {
    cursor: none;
    pointer-events: none;
  }

  .mdc-label {
    text-decoration: line-through;
  }

  .mat-mdc-checkbox,
  .mat-mdc-slide-toggle,
  .mdc-button__label,
  .mat-icon,
  .mat-mdc-menu-item-text {
    opacity: 0.5;
    text-decoration: line-through;
  }
}

