<div
  *ngIf="!config['isHidden']"
  class="dynamic-field form-permissions form-element"
  [formGroup]="group"
  [class.has-tooltip]="config.tooltip"
  [ngClass]="fieldShow"
  [attr.id]="config.name"
>
  <div class="top">
    <label>
      {{ config.placeholder | translate }}
      <span *ngIf="config.required">*</span>
      &nbsp;&nbsp;
    </label>

    <ix-tooltip
      *ngIf="config.tooltip"
      [header]="config.placeholder"
      [message]="config.tooltip | translate"
    ></ix-tooltip>

    <mat-form-field class="full-width display-none">
      <input
        matInput
        [ixTest]="config.name"
        [type]="config.inputType ? config.inputType : 'text'"
        [placeholder]="config.placeholder | translate"
        [attr.value]="config.value"
        [formControlName]="config.name"
      />
    </mat-form-field>
  </div>
  <table>
    <tr [ixTest]="[config.name, 'permissions-header']">
      <td></td>
      <td>{{ 'Read' | translate }}</td>
      <td>{{ 'Write' | translate }}</td>
      <td>{{ 'Execute' | translate }}</td>
    </tr>
    <tr ixTest="[config.name, 'user-permissions']">
      <td>
        {{ 'User' | translate }}
      </td>
      <td>
        <mat-checkbox
          color="primary"
          [ixTest]="[config.name, 'user-read']"
          [checked]="ownerRead"
          (change)="toggleOwnerRead()"
        ></mat-checkbox>
      </td>
      <td>
        <mat-checkbox
          color="primary"
          [ixTest]="[config.name, 'user-write']"
          [checked]="ownerWrite"
          (change)="toggleOwnerWrite()"
        ></mat-checkbox>
      </td>
      <td>
        <mat-checkbox
          color="primary"
          [ixTest]="[config.name, 'user-execute']"
          [checked]="ownerExec"
          (change)="toggleOwnerExec()"
        ></mat-checkbox>
      </td>
    </tr>
    <tr [ixTest]="[config.name, 'group-permissions']">
      <td>
        {{ 'Group' | translate }}
      </td>
      <td>
        <mat-checkbox
          color="primary"
          [ixTest]="[config.name, 'group-read']"
          [checked]="groupRead"
          (change)="toggleGroupRead()"
        ></mat-checkbox>
      </td>
      <td>
        <mat-checkbox
          color="primary"
          [ixTest]="[config.name, 'group-write']"
          [checked]="groupWrite"
          (change)="toggleGroupWrite()"
        ></mat-checkbox>
      </td>
      <td>
        <mat-checkbox
          color="primary"
          [ixTest]="[config.name, 'group-execute']"
          [checked]="groupExec"
          (change)="toggleGroupExec()"
        ></mat-checkbox>
      </td>
    </tr>
    <tr *ngIf="!config.hideOthersPermissions" [ixTest]="[config.name, 'other-permissions']">
      <td>
        {{ 'Other' | translate }}
      </td>
      <td>
        <mat-checkbox
          color="primary"
          [ixTest]="[config.name, 'other-read']"
          [checked]="otherRead"
          (change)="toggleOtherRead()"
        ></mat-checkbox
        ><br />
      </td>
      <td>
        <mat-checkbox
          color="primary"
          [ixTest]="[config.name, 'other-write']"
          [checked]="otherWrite"
          (change)="toggleOtherWrite()"
        ></mat-checkbox
        ><br />
      </td>
      <td>
        <mat-checkbox
          color="primary"
          [ixTest]="[config.name, 'other-execute']"
          [checked]="otherExec"
          (change)="toggleOtherExec()"
        ></mat-checkbox>
      </td>
    </tr>
  </table>

  <mat-error *ngIf="config['hasErrors']">{{ config['errors'] }}</mat-error>
</div>
