@import 'mixins/cards';
@import 'mixins/animations';

:host {
  display: flex;
}

:host ::ng-deep {
  .card {
    @include details-card();
    flex: 1;

    .content-container {
      height: 100%;
    }

    .details-item {
      margin: 8px 0;

      ix-missing-access-wrapper {
        margin-left: auto;
      }
    }
  }
}

.card-content {
  display: flex;
  flex-direction: column;
}

.controls {
  column-gap: 8px;
  display: flex;
}

.scan-in-progress {
  @include fade-in();
  margin-top: 25px;

  .scan-description {
    text-align: center;
  }

  .scan-label {
    font-weight: bold;
  }

  .time-left {
    font-size: 0.9rem;
    text-align: center;
  }

  .progress {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.dedup-actions {
  display: flex;
  gap: 8px;
  margin-left: auto;
}
