@import 'mixins/cards';
@import 'mixins/animations';

:host {
  display: flex;
}

:host ::ng-deep {
  .card {
    @include details-card();
    flex: 1;

    .content-container {
      height: 100%;
    }

    .details-item {
      align-items: center;
      column-gap: 8px;
      display: flex;
      margin: 8px 0;

      ix-missing-access-wrapper {
        margin-left: auto;
      }
    }

    .blank-spacer {
      width: 24px;
    }

    .scrub-tooltip {
      width: 20px;
      padding-left: 4px;
    }
  }
}


.card-content {
  display: flex;
  flex-direction: column;
}

.controls {
  column-gap: 8px;
  display: flex;
}
