.card-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.interfaces-table {
  ix-interface-status-icon {
    display: block;
  }
}

:host tn-card {
  height: auto;
}
