.padding-16 {
  padding: 16px;
}

.pointer {
  cursor: pointer;
}

.mat-fab-bottom-right-1 {
  bottom: 48px !important;
  left: auto !important;
  position: fixed !important;
  right: 30px !important;
  top: auto !important;
  z-index: 1;
}

.mat-fab-bottom-right-2 {
  bottom: 48px !important;
  left: auto !important;
  position: fixed !important;
  right: 90px !important;
  top: auto !important;
  z-index: 1;
}

.button-container {
  bottom: 16px;
  left: 24px;
  position: relative;
}

.form-card .mat-card-title {
  margin-left: 16px;
  margin-top: 12px;
}
