<ix-page-header>
  @if (shellConnected) {
    <ix-toolbar-slider
      [label]="'Set font size' | translate"
      [min]="10"
      [max]="20"
      [value]="fontSize"
      (valueChange)="onFontSizeChanged($event)"
    ></ix-toolbar-slider>
    <button mat-button color="primary" ixTest="restore-default" (click)="resetDefault()">
      {{ 'Restore Default' | translate }}
    </button>

    <ix-tooltip
      [header]="'Shell Commands' | translate"
      [message]="toolbarTooltip | translate"
    ></ix-tooltip>
  } @else {
    <button mat-button color="primary" ixTest="reconnect" (click)="reconnect()">
      {{ 'Reconnect' | translate }}
    </button>
  }
</ix-page-header>

<div class="terminal-wrapper">
  <div
    #terminal
    id="terminal"
    [ngStyle]="{ 'font-size': fontSize + 'px' }"
    (window:resize)="onResize()"
    (contextmenu)="onRightClick()"
  ></div>
</div>
