:host ::ng-deep {
  @import '../../../../../../node_modules/xterm/css/xterm.css';
}

.terminal-wrapper {
  background: black;
  height: 100%;
  margin-left: 8px;
  margin-right: 8px;
  padding: 10px 0 10px 10px;
}

:host ::ng-deep #terminal {
  height: 100%;
  position: relative;
  width: 100%;

  .xterm-viewport {
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  .xterm-screen {
    overflow: hidden auto;

    .xterm-helpers {
      height: 0;
      opacity: 0;
    }

    canvas {
      left: 0;
      max-width: 100%;
      position: absolute;
      top: 0;
    }
  }
}
