<ix-page-header>
  @if (shellConnected) {
    <ix-terminal-font-size (fontSizeChanged)="onFontSizeChanged($event)"></ix-terminal-font-size>
  } @else {
    <button
      mat-button
      color="primary"
      ixTest="reconnect"
      [disabled]="isReconnecting"
      (click)="reconnect()"
    >
      @if (isReconnecting) {
        {{ 'Reconnecting...' | translate }}
      } @else {
        {{ 'Reconnect' | translate }}
      }
    </button>
  }
</ix-page-header>

<div class="terminal-wrapper">
  <div
    #terminal
    id="terminal"
    [ngStyle]="{ 'font-size': fontSize + 'px' }"
    (window:resize)="onResize()"
  ></div>
</div>
