.input-container {
  position: relative;
}

.input-container .searchable,
.input-container .reset-input {
  align-items: center;
  bottom: 0;
  cursor: default;
  display: flex;
  margin-left: 0.3rem;
  padding: 5px;
  position: absolute;
  top: 0;
  user-select: none;
}

.input-container .reset-input {
  cursor: pointer;
  margin-left: 0;
  opacity: 0.5;
  right: 0.3rem;
}

.input-container .mat-icon {
  font-size: 1rem;
  height: auto;
  width: auto;
}

input[name='DummyPassword'],
input[name='DummyUsername'] {
  display: none;
}

.form-element .has_toggle_pw input {
  padding-right: 35px;
}

.input-container input:focus-visible {
  box-shadow: 0 0 0 1px var(--primary) inset;
  outline: 0 transparent;
}


