:host {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  min-width: fit-content;
}

:host ::ng-deep {
  ix-nested-tree-node {
    &[aria-level='2'] .ix-tree-node-toggle {
      margin-left: 10px;
    }
  }
}

