<p *ngIf="error" type="danger"><span [innerHTML]="error"></span></p>
<mat-card>
  <form (ngSubmit)="onSubmit($event)" [formGroup]="formGroup">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Basic Properties
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ng-container *ngFor="let field of basicfieldConfig;" dynamicField [config]="field" [group]="formGroup" [fieldShow]="'show'">
        </ng-container>
      </div>
      <mat-action-row>
        <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Jail Properties
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ng-container *ngFor="let jailfield of jailfieldConfig;" dynamicField [config]="jailfield" [group]="formGroup" [fieldShow]="'show'">
        </ng-container>
      </div>
      <mat-action-row>
        <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Network Properties
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ng-container *ngFor="let networkfield of networkfieldConfig;" dynamicField [config]="networkfield" [group]="formGroup" [fieldShow]="'show'">
        </ng-container>
      </div>
      <mat-action-row>
        <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Custom Properties
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ng-container *ngFor="let customfield of customConfig;" dynamicField [config]="customfield" [group]="formGroup" [fieldShow]="'show'">
        </ng-container>
      </div>
      <mat-action-row>
        <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" type="button" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          RCTL Limits
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <ng-container *ngFor="let rctlfield of rctlConfig;" dynamicField [config]="rctlfield" [group]="formGroup" [fieldShow]="'show'">
        </ng-container>
      </div>
      <mat-action-row>
        <button mat-button color="warn" type="button" (click)="prevStep()">Previous</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-card-actions>
      <button class="btn btn-block btn-warning" type="submit" mat-raised-button color="primary">Save</button>
      <button *ngIf="route_success" (click)="goBack()" mat-raised-button color="accent" type="button">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>
