.dialog-content {
  max-height: 50vh;
  overflow: auto !important;
}

:host {
  display: block;
  width: 400px;
}

.attachments {
  .services {
    list-style-type: none;
    padding: 0;

    .service-name {
      font-weight: bold;
    }
  }

  .service-attachments {
    list-style-type: disc;
    padding-left: 20px;
  }
}

.known-processes,
.unknown-processes {
  ul {
    list-style-type: disc;
    margin-top: 5px;
    padding-left: 20px;
  }
}
