.dynamic-field.hide {
  display: none;
}

.full-width {
  width: 100%;
}

.drop-container {
  align-items: center;
  background: #fff;
  border: 2px dashed #c0c4c7;
  border-radius: 6px;
  box-shadow: 1px 2px 20px hsla(0, 0%, 4%, 0.1);
  display: flex;
  height: 150px;
  justify-content: center;
  width: 100%;
}

:host .mat-icon.paragraph-icon {
  align-self: center;
  font-size: 40px;
  height: 40px;
  padding-right: 8px;
  width: 40px;
}

:host p.large {
  font-size: 13px;
  margin-bottom: 16px;
}

:host >>> span.warning-paragraph {
  background-color: var(--red) !important;
  padding: 2px;
}

:host >>> span.info-paragraph {
  background-color: var(--primary) !important;
  padding: 2px;
}

.paratext-tooltip {
  position: relative;
  right: 3px;
  top: -2px;
}

.margin-for-error {
  position: relative;
  top: -12px;
}

.form-input-spinner {
  left: 150px;
  position: absolute;
}

.textarea-filereader {
  margin-top: 10px;
}

.form-textarea textarea:focus-visible {
  outline: 0 transparent;
  outline: 1px solid var(--primary);
}

.form-textarea {
  &.paragraph {
    overflow-wrap: break-word;
  }
}

.form-ip-netmask {
  .divider {
    padding: 0 8px;
    text-align: center;
  }

  .label-container {
    max-height: 27px;
  }
}
