@import 'mixins/animations';
$size: 24px;

:host {
  align-items: center;
  display: inline-flex;
  fill: currentColor;
  flex-grow: 0;
  flex-shrink: 0;
  height: $size;
  justify-content: center;
  width: $size;

  &.mat-ligature-font::before {
    display: inline-block;
    visibility: hidden;
    width: 0;
  }

  &.mdi-set {
    display: flex;
    font-size: $size;
  }

  &:where(.full-size) {
    height: 100%;
    width: 100%;
  }

  svg {
    height: 100%;
    width: 100%;
  }
}
