@import 'assets/styles/mixins/animations';
$size: 24px;

.ix-icon {
  align-items: center;
  display: inline-flex;
  fill: currentColor;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;

  &:not([name^='ix:logo']):not([data-mat-icon-name^='logo_']) {
    svg {
      height: $size;
      width: $size;
    }
  }

  &.mat-ligature-font::before {
    display: inline-block;
    visibility: hidden;
    width: 0;
  }
}

.mat-icon,
.ix-icon {
  &.mdi-set {
    font-size: $size;
  }
}
