@import 'assets/styles/mixins/animations';
$size: 24px;

.ix-icon {
  align-items: center;
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;

  svg {
    height: $size;
    width: $size;
  }

  &.mat-ligature-font::before {
    display: inline-block;
    visibility: hidden;
    width: 0;
  }
}
