@import 'scss-imports/cssvars';

.widget mat-card-content {
  width: 100%;
}

.widget mat-toolbar-row {
  background: unset;
  font-size: 1.5rem;
  height: 48px;
  padding: 0 8px;
  text-align: left;
  width: 100%;

  &.view-overview {
    padding: 0 16px;

    .mat-card-title-text {
      z-index: 99;
    }
  }

  @media #{$media-sm} {
    h3.mat-card-title-text {
      margin: 0;
      max-width: 100%;
    }
  }

  .controls {
    z-index: 99;
  }
}

.carousel {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: absolute;
  top: 0;
  width: 300%;
}

.slide {
  display: inline;
  height: 100%;
  width: 100%;
}

.slide .hidden {
  display: none;
}

.slide .left,
.slide .right {
  display: inline-block;
  height: 100%;
  padding: 32px 0;
}

.slide.overview {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  max-width: 100%;
  place-content: stretch space-between;
}

.xs.widget .slide.overview {
  flex-direction: column;
}

.slide.overview .right > div {
  width: 100%;
}

.slide.overview .right {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  max-width: 60%;
  padding: 0;
  place-content: center space-around;
}

.slide.overview .left {
  background-blend-mode: overlay;
  background-color: #666;
  background-image: url('assets/images/backgrounds/rj45.jpg');
  background-position-x: 65%;
  background-position-y: center;
  background-size: cover;
  box-sizing: border-box;
  color: #efefef;
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  max-width: 40%;
  padding: 0;
  position: relative;
}

.xs.widget .slide.overview .left,
.xs.widget .slide.overview .right {
  max-width: 100%;
}

.slide.overview .left .overlay {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1 1 100%;
  height: 100%;
  max-width: 100%;
  padding: 48px 0;
  place-content: center space-around;
  position: absolute;
  text-shadow: 0 0 48px #000;
  width: 100%;
}

.slide .right {
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.slide .right li {
  font-size: 115%;
  margin-left: 8px;
  padding: 6px;
}

.slide.overview .left .left-content {
  display: table;
  flex: 1 1 100%;
  height: calc(400px * 0.5);
  max-height: 66%;
}

.slide.overview .right .right-content {
  box-sizing: border-box;
  flex: 1 1 100%;
  max-height: 100%;
}

.nic-name {
  font-family: var(--font-family-body);
  font-size: 250%;
}

.nic-info {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  place-content: stretch flex-start;
}

.nic-chart {
  flex: 1 1 1e-09px;
}

.link-state {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 16px 0 8px;
}

.link-state .icon-wrapper {
  display: inline-block;
  font-size: 175%;
  position: relative;
  top: 3px;
}

.nic-name .icon-wrapper {
  display: inline;
  font-size: 75%;
}

.nic-name.up .icon-wrapper,
.link-state.up .icon-wrapper,
.link-state.up .ix-icon {
  color: var(--green);
}

.nic-name.down .icon-wrapper,
.link-state.down .icon-wrapper,
.link-state.down .ix-icon {
  color: var(--red);
}

.link-state .ix-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.carousel-nav {
  background: var(--bg2);
  border-top: solid 1px var(--bg1);
  bottom: 0;
  height: 48px;
  padding: 6px;
  position: absolute;
  text-align: left;
  width: 100%;
}

.carousel-nav .btn {
  background-color: var(--fg1);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 0 4px;
  opacity: 0.5;
  width: 12px;
}

.carousel-nav .btn.active {
  opacity: 1;
}

.nic-traffic {
  display: table;
  margin: 4px 0;
}

.nic-traffic .tr {
  display: table-row;
}

.nic-traffic .td {
  display: table-cell;
  text-align: left;
}

.nic-traffic .td.label {
  text-align: right;
}

.slide {
  overflow: auto;
}

.slide .mat-mdc-list-item.clickable {
  cursor: pointer;
}

.slide .ix-icon.next-slide {
  position: absolute;
  right: 0;
}

.mat-mdc-list-base .mat-mdc-list-item {
  border-bottom: solid 1px var(--lines);

  strong {
    margin-right: 6px;
  }
}

.list-subheader {
  color: var(--fg1);
  font-size: 90%;
  font-weight: 700;
  margin-top: 48px;
  padding: 8px 8px 0 16px;
  text-align: left;
  text-transform: capitalize;
}

/* NARROW SCREENS */
.xs.widget {
  height: calc(100vh - 96px);
  min-height: 600px;
  position: absolute;
  width: 100%;
}

.xs.widget .overview .right .list-subheader {
  margin-top: 0;
}

.more-addresses {
  margin-left: 4px;
}

.link-state-label {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 4px;
  place-content: center flex-start;
}

.slide.vlan-addresses,
.slide.empty,
.slide.lagg-ports,
.slide.vlans,
.slide.addresses {
  box-sizing: border-box;
  flex: 1 1 100%;
  max-width: 100%;
}

.widget .view-addresses {
  justify-content: flex-start;
}
