.widget mat-card-content {
  width: 100%;
}

.widget mat-toolbar-row {
  background: unset;

  font-size: 1.5rem;
  height: 48px;
  left: 0;
  padding: 0 8px;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 4;

  &.view-overview {
    padding: 0 16px;
  }
}

.xs.widget mat-toolbar-row.view-overview .controls,
.widget mat-toolbar-row.view-overview .primary-nav {
  color: #efefef; /* Don't use CSS var as text is over a dark image */
  font-family: var(--font-family-body);
}

.primary-nav .card-title-text {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 2px;
  vertical-align: middle;
}

.carousel {
  height: 100%;
  position: absolute;
  width: 300%;
}

.slide {
  display: inline;
  height: 100%;
  width: 100%;
}

.slide .hidden {
  display: none;
}

.slide .left,
.slide .right {
  display: inline-block;
  height: 100%;
  padding: 32px 0;
}

.slide.overview .right > div {
  width: 100%;
}

.slide.overview .right {
  padding: 0;
}

.slide.overview .left {
  background-blend-mode: overlay;
  background-color: #666;
  background-image: url('~assets/images/backgrounds/rj45.jpg');
  background-position-x: 65%;
  background-position-y: center;
  background-size: cover;
  color: #efefef;
  padding: 0;
  position: relative;
}

.slide.overview .left .overlay {
  height: 100%;
  padding: 48px 0;
  position: absolute;
  text-shadow: 0 0 48px #000;
  width: 100%;
}

.slide .right {
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.slide .right li {
  font-size: 115%;
  margin-left: 8px;
  padding: 6px;
}

.slide.overview .left .left-content {
  display: table;
  height: calc(400px * 0.5);
}

.nic-name {
  font-family: var(--font-family-body);
  font-size: 250%;
}

.link-state { margin: 16px 0 8px; }

.link-state .icon-wrapper {
  display: inline-block;
  font-size: 175%;
  position: relative;
  top: 3px;
}

.nic-name .icon-wrapper {
  display: inline;
  font-size: 75%;
}

.nic-name.up .icon-wrapper,
.link-state.up .icon-wrapper,
.link-state.up .mat-icon {
  color: var(--green);
}

.nic-name.down .icon-wrapper,
.link-state.down .icon-wrapper,
.link-state.down .mat-icon {
  color: var(--red);
}

.link-state .mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.carousel-nav {
  background: var(--bg2);
  border-top: solid 1px var(--bg1);
  bottom: 0;
  height: 48px;
  padding: 6px;
  position: absolute;
  text-align: left;
  width: 100%;
}

.carousel-nav .btn {
  background-color: var(--fg1);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 0 4px;
  opacity: 0.5;
  width: 12px;
}

.carousel-nav .back-arrow.mat-icon {
  margin-top: -3px;
}

.carousel-nav .btn.active {
  opacity: 1;
}

.nic-traffic {
  display: table;
  margin: 4px 0 4px 8px;
}

.nic-traffic .tr {
  display: table-row;
}

.nic-traffic .td {
  display: table-cell;
  text-align: left;
}

.nic-traffic .td.label {
  text-align: right;
}

.slide {
  overflow: auto;
}

.slide .mat-list-item.clickable {
  cursor: pointer;
}

.slide .mat-icon.next-slide {
  position: absolute;
  right: 0;
}

.mat-list-base .mat-list-item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);

  strong {
    margin-right: 6px;
  }
}

.list-subheader {
  color: var(--fg1);
  font-size: 90%;
  font-weight: 700;
  margin-top: 48px;
  padding: 8px 8px 0 16px;
  text-align: left;
  text-transform: capitalize;
}

/* NARROW SCREENS */
.xs.widget {
  height: calc(100vh - 96px);
  min-height: 600px;
  position: absolute;
  width: 100%;
}

.xs.widget .overview .right .list-subheader {
  margin-top: 0;
}

.xs.widget .nic-traffic {
  margin-left: 4px;
}

.more-addresses {
  margin-left: 4px;
}
