<mat-card class="form-card">
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset>
        <ix-input
          [formControlName]="port.fcName"
          [label]="port.label | translate"
          [tooltip]="port.tooltip | translate"
        ></ix-input>

        <ix-textarea
          [formControlName]="auxiliary.fcName"
          [label]="auxiliary.label | translate"
          [tooltip]="auxiliary.tooltip | translate"
        ></ix-textarea>
      </ix-fieldset>

      <div class="form-actions">
        <button
          mat-button
          type="submit"
          color="primary"
          [disabled]="form.invalid"
        >
          {{ 'Save' | translate }}
        </button>

        <button mat-button color="accent" (click)="cancel()">
          {{ 'Cancel' | translate }}
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
