.host-item {
  display: flex;
  flex-direction: column;
  gap: 2px;

  .description {
    font-weight: 600;
  }

  .hostnqn {
    color: var(--fg2);
    font-size: 0.875rem;
  }
}

:host ::ng-deep .mat-mdc-menu-item {
  min-height: 56px;
  height: auto;
  white-space: normal;
}
