/*
 * Variables 
 * height 36px
 *
 * */

/* MENUS */
.mat-menu-item {
  line-height:36px !important;
  height:36px !important;
}

/* CSS Vars */
:root {
  --fn-dropshadow:0 1px 2px rgba(0,0,0,0);
}

/* Cards */

.mat-card{
  border:solid var(--highlights) rgba(255,255,255,0.025);
  /*border-top-size:var(--highlights);*/
}

entity-table .mat-card,
entity-form .mat-card{
  padding:0 !important;
}

.form-card.mat-card {
  max-width:960px;
  margin:0 auto;
}

/*entity-form .mat-content,
entity-table .mat-content,*/
entity-form .mat-card > *,
entity-table .mat-card > *{
  padding:16px !important;
  margin:0 !important;
}

.mat-card > .no-padding{
  padding:0 !important;
}

.mat-card-title-text{
  margin:0 !important;
}

.mat-toolbar .mat-button{
  height:36px !important;
  margin: 0 4px;
}

.fn-toolbar{
  background:var(--alt-bg1);
}

.fn-toolbar.icons-only{
  padding:8px !important;
}

/* Special Override Classes */
/*.widget-loader,
.widget .mat-card-content,
.no-padding{
padding:0px !important;
}*/

/* FreeNAS Specific */

button.menu-toggle .mat-icon{
  position:relative;
  top:6px;
  right:-10px;
}

.form-card{}

/* This element is part of entity-table.
 * It currently uses css to do artificially 
 * put itselt inside the title bar.
 * This needs to be changed in the markup 
 * instead of using this type of hack */
#filter{
  position: static !important;
  margin-top:-10px; /* The form field reserves too much space in mat-toolbar. This wins some of the screen back */
  text-align:right;
  max-height:38px;
  /*padding:0 !important;
  right: 150px;
  top: 9px;
  z-index: 10;*/
}

entity-table .multiactions-title{
  margin-bottom: 16px ;
}

entity-table .mat-toolbar.mat-card-toolbar{
  position:relative;
  z-index:2;
}
/* Elements with shadows */
/*.mat-card,*/
.datatable-header,
entity-table .mat-toolbar.mat-card-toolbar{
  box-shadow:var(--fn-dropshadow);
}

/*********************************************************************/
/* Dematerialize Form Fields :) */
.form-element{
  margin: 16px 0;
  text-align:left;
}
.form-element .label{
}

.form-element .label.input-text,
.form-element .label.input-select{
  font-size: x-small;
}

.form-element .label-container {
  margin-bottom: 4px;
  padding: 4px 0;
}

.form-element .mat-form-field-wrapper,
.form-element input[type = "password"],
.form-element input[type = "email"],
.form-element input[type = "text"],
.form-element select{
  width: 100%;
  background-color: var(--bg1);
  color: var(--fg1);
  border: solid 1px var(--alt-fg1);
  padding: 8px;
  box-sizing: border-box;
}

.form-element input[type = "password"],
.form-element .has_toggle_pw input {
  width: calc(100% - 40px);
  display: inline;
}

.form-element button.toggle_pw i{
  font-size: 22px;
  opacity: 0.75;
}

.margin-for-error{
  position: static !important;
}

.form-element input[type = "checkbox"]{
  appearance: none;
  /* background-color: var(--primary); */
  width: 20px;
  height: 20px;
  border: solid 2px var(--primary);
  border-radius: 2px;
  margin-right: 8px;
  position: relative;
}

[type=radio]:checked::before,
[type=checkbox]:checked::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: var(--primary);
  position: absolute;
  top: 2px;
  left: 2px;
}

tooltip button i{
  opacity: 0.5;
}

.label-container tooltip {
  margin: 0 0 4px 4px;
}

.tooltip .material-icons{
  font-size: 16px !important;
}

/* Normalize mat-select */
.mat-form-field-label-wrapper,
.mat-form-field-underline,
.mat-form-field-subscript-wrapper {
  display: none;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
  border: 0;
}

/* Buttons */
.mat-button{
  border-radius : 0 !important;
}
