/*
 * Variables 
 * height 36px
 *
 * */

/* MENUS */
.mat-menu-item {
  line-height:36px !important;
  height:36px !important;
}

/* Cards */
entity-table .mat-card,
entity-form .mat-card{
  padding:0 !important;
}

.form-card.mat-card {
  max-width:960px;
  margin:0 auto;
}

entity-table .mat-toolbar.mat-card-toolbar{
  max-height: 40px !important;
}

/*entity-form .mat-content,
entity-table .mat-content,*/
entity-form .mat-card > *,
entity-table .mat-card > *{
  padding:16px !important;
  margin:0 !important;
}

.mat-card > .no-padding{
  padding:0 !important;
}

.mat-card-title-text{
  margin:0 !important;
}

/* Special Override Classes */
/*.widget-loader,
.widget .mat-card-content,
.no-padding{
  padding:0px !important;
}*/

/* FreeNAS Specific */

button.menu-toggle .mat-icon{
  position:relative;
  top:6px;
  right:-10px;
}

.form-card{}

/* This element is part of entity-table.
 * It currently uses css to do artificially 
 * put itselt inside the title bar.
 * This needs to be changed in the markup 
 * instead of using this type of hack */
#filter{
    position: static !important;
    margin-top:-10px; /* The form field reserves too much space in mat-toolbar. This wins some of the screen back */
    /*padding:0 !important;
    right: 150px;
    top: 9px;
    z-index: 10;*/
}
