.dashboard-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
}
.dashboard-item {
  flex-basis: 400px;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.mat-fab-bottom-right-1 {
  top: auto !important;
  right: 30px !important;
  bottom: 48px !important;
  left: auto !important;
  position: fixed !important;
  z-index: 1;
}
.dashboard-note-cardback {
  /*padding-left: -3%;*/
  width: 80%;
}