#dashboard-spinner {
  position: absolute;
  left: 48%;
  top: 58px;
  z-index: 10;
}

.mobile-viewport{
  position:fixed; 
  z-index:2;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  top:88px;
}

.mobile-viewport.hidden{
  display:none;
}

.mobile-viewport .carousel{
  width:200%;
}

.mobile-widget-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  top:0;
  left:100vw;
  background-color:var(--bg2);
}

