.dashboard-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
}
.dashboard-item {
  flex-basis: 550px;
  -webkit-box-flex: 1;
  flex-grow: 1;
}