:host {
  display: block;
  max-width: 100%;
}

mat-card.app-table {
  height: calc(100% - 8px);
  max-width: 100%;
}

mat-card-content.table-container{
  height: inherit;
  max-width: 100%;
}

div.table-container {
  padding: 0px;
  height: calc(100% - 41px);
  max-width: 100%;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.table-component {
  max-width: 100%;
  table-layout: fixed;
}

div.table-row-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

mat-icon.state-icon,
mat-icon.state-info-icon,
mat-icon.table-action-button {
  position: inherit;
}

div.state-info {
  display: flex;
  align-items: center;
}

div.view-more-row {
  padding: 9px;
  text-align: center;
  cursor: pointer;
}

div.view-more-row:hover {
  background: rgba(0,0,0,0.1);
}
