:host {
  display: flex;
}

.pool-icon {
  &.icon-online {
    color: var(--green);
  }

  &.icon-warning {
    color: var(--orange);
  }

  &.icon-faulted {
    color: var(--blue);
  }

  &.icon-error {
    color: var(--red);
  }
}
