:host {
  align-items: center;
  display: flex;
}

.ix-icon {
  margin-right: 4px;
}

.ix-icon.mdi-set {
  height: auto;
  margin-right: 6px;
}

.by-ancestor {
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin-bottom: 5px;
}
