@import 'scss-imports/cssvars';

.user-menu-wrapper {
  align-items: center;
  display: flex;

  > button {
    border-radius: 4px !important;
    padding: 4px !important;
    width: inherit !important;
  }

  .username {
    -webkit-box-orient: vertical;
    cursor: pointer;
    /* stylelint-disable-next-line */
    display: -webkit-inline-box;
    font-size: 14px;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    margin-right: 0.5rem;
    max-width: 200px;
    overflow: hidden;
    white-space: normal;
    word-break: break-all;

    @media(max-width: $breakpoint-md) {
      display: none;
    }
  }
}
