:host {
  .chart-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    padding: 6px 0 6px 8px;
    width: 100%;

    h4,
    small {
      color: var(--fg2);
    }

    small {
      font-weight: 500;
      opacity: 0.75;
    }

    .in-out {
      font-size: 12px;
    }

    .in-out-row {
      align-items: center;
      display: flex;
      gap: 4px;
      white-space: nowrap;
    }
  }

  .chart-graph {
    .skeleton {
      display: flex;
      padding: 4px;
    }
  }
}
