.status {
  color: var(--fg2);
  display: inline-block;
  height: auto;
  left: 8px;
  position: relative;
  top: 12px;
  width: 32px;
}

/* Misc Vars */
body {
  align-items: center;
  justify-content: center;
}

.checkmark {
  animation: fadein 0.1s ease-in 0s forwards,  scale 0.2s ease-in-out 0s both, fadeout 1s linear 2s forwards;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--green);
  display: block;
  height: auto;
  opacity: 0;
  position: absolute;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2;
  top: -32px;
  width: 32px;
}

.checkmark__circle {
  /*fill: none;*/
  fill: var(--green);
  stroke: var(--green);
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-miterlimit: 10;
  stroke-width: 2;
}

.checkmark__check {
  stroke: var(--green-txt);
  stroke-dashoffset: 48;
  transform-origin: 50% 50%;
}

@keyframes stroke {
  0% { stroke-opacity: 1;}

  100% {
    stroke-dashoffset: 0.25;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 30px var(--green);
  }
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeout {
  0% {opacity: 1;}
  100% {opacity: 0;}
}
