.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.movement {
  animation: nudge 3s infinite linear;
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }

  80% {
    transform: translate(-10px, 0);
  }
}

.mat-menu-item  span.flag-icon {
  /*padding-left: 30px;
  background-position-x: left;*/
}

.mdi-icon {
  font-size: 24px;
}

.hidden-button {
  display: none;
}