<md-toolbar class="topbar">
  <!-- Sidenav toggle button -->
  <button md-icon-button id="sidenavToggle" (click)="toggleSidenav()" md-tooltip="Toggle Hide/Open">
    <md-icon>menu</md-icon>
  </button>
  <!-- Sidenav toggle collapse -->
  <button md-icon-button id="collapseToggle" fxHide.lt-md="true" (click)="toggleCollapse()" md-tooltip="Toggle Collapse" class="toggle-collapsed">
    <md-icon>chevron_left</md-icon>
  </button>
  <!-- Search form
  <div
  fxFlex
  fxHide.lt-sm="true"
  class="search-bar">
    <form class="top-search-form">
      <md-icon role="img">search</md-icon>
      <input autofocus="true" placeholder="Search" type="text"> 
    </form>
  </div -->
  <span fxFlex></span>
  <button *ngIf="showReplication" md-icon-button id="loading" mdTooltip="replication" (click)="showReplicationDetails()" class="topbar-button-right">
    <md-icon class="movement">content_copy</md-icon>
  </button>
  
  <!-- Theme Switcher -->
  <button md-icon-button id="schemeToggle" [style.overflow]="'visible'" mdTooltip="FreeNAS Themes" [mdMenuTriggerFor]="themeMenu" class="topbar-button-right">
    <md-icon>format_color_fill</md-icon>
  </button>
  <md-menu #themeMenu="mdMenu" >
    <md-grid-list class="theme-list" cols="1" rowHeight="24px">
      <md-grid-tile *ngFor="let theme of themeService.freenasThemes" (click)="changeTheme(theme)">
        <div md-menu-item [title]="theme.name">
          <div [style.background]="theme.baseColor" class="egret-swatch"></div>
          <md-icon class="active-icon" *ngIf="theme.isActive">check</md-icon>
        </div>
        <span class="mat-color-accent text-muted text-sm mat-list-item-ripple mat-ripple">{{ theme.label }}</span>
      </md-grid-tile>
    </md-grid-list>
  </md-menu>

  <button md-icon-button (click)="startTour()" class="topbar-button-right" mdTooltip="Guide Tour" [style.overflow]="'visible'">
    <md-icon>flight_takeoff</md-icon>
  </button>

  <!-- Notification toggle button -->
  <button md-icon-button mdTooltip="Notifications" (click)="toggleNotific()" [style.overflow]="'visible'" class="topbar-button-right">
    <md-icon>notifications</md-icon>
    <span *ngIf="notifications.length > 0" class="notification-number mat-bg-warn">{{notifications.length}}</span>
  </button>

  <!-- Top left user menu -->
  <button md-icon-button [mdMenuTriggerFor]="accountMenu" class="topbar-button-right">
    <md-icon>settings</md-icon>
  </button>
  <md-menu #accountMenu="mdMenu">
    <button md-menu-item (click)="$event.stopPropagation()" [mdMenuTriggerFor]="languageMenu">
      <md-icon>translate</md-icon>
      <ng-container *ngFor="let lang of availableLangs">
        <span *ngIf="lang.code == currentLang">{{ lang.name }}</span>
      </ng-container>
    </button>
    <button md-menu-item [routerLink]="['/account/users/edit/1']">
      <md-icon>account_box</md-icon>
      <span>Account</span>
    </button>
    <button md-menu-item [routerLink]="['/account/users/change-password']">
      <md-icon>dialpad</md-icon>
      <span>Change Password</span>
    </button>
    <button md-menu-item [routerLink]="['/system/general']">
      <md-icon>settings</md-icon>
      <span>Settings</span>
    </button>
    <!-- button md-menu-item>
      <md-icon>notifications_off</md-icon>
      <span>Disable alerts</span>
    </button -->
    <button md-menu-item (click)="signOut()">
      <md-icon>exit_to_app</md-icon>
      <span>Logout</span>
    </button>
    <button md-menu-item (click)="onReboot()">
      <md-icon>replay</md-icon>
      <span>Reboot</span>
    </button>
    <button md-menu-item (click)="onShutdown()">
      <md-icon>power_settings_new</md-icon>
      <span>Shutdown</span>
    </button>
    <button md-menu-item (click)="onShowAbout()">
      <md-icon>info_outline</md-icon>
      <span>About</span>
    </button>
  </md-menu>

  <md-menu #languageMenu="mdMenu" [overlapTrigger]="false" xPosition="after">
    <ng-container *ngFor="let lang of availableLangs">
      <button md-menu-item (click)="setLang(lang.code)">
        <span>{{ lang.name }}</span>
      </button>
    </ng-container>
  </md-menu>
</md-toolbar>
