@import '~assets/styles/mixins/cards';
@import '~assets/styles/scss-imports/splitview';

.card {
  @include details-card();

  .chart-extra {
    align-items: center;
    display: flex;
    justify-content: space-around;

    .details-item {
      margin: 20px 0 0;

    }
  }

  .details-item {
    .value-placeholder {
      flex: 1;
    }
  }

  .details .label {
    @media (max-width: calc($breakpoint-dualcolumn - 1px)) {
      display: block;
      margin-top: 6px;
      padding: 0;
      width: 100%;
    }
  }

}

.details {
  border-top: 1px solid var(--lines);
  box-sizing: border-box;
  margin: 20px -25px 0; // Fragile. Rely on external styles
  padding: 20px 25px 0 !important; // Fragile. Rely on external styles
}

ix-space-management-chart {
  padding: 0 0 0 8px;

  @media (max-width: $breakpoint-dualcolumn) {
    padding-left: 0;
  }
}
