@import 'mixins/cards';
@import 'scss-imports/variables';

.card {
  @include details-card();

  .chart-extra {
    align-items: center;
    display: flex;
    justify-content: space-around;

    .details-item {
      margin: 20px 0 0;
    }
  }

  .details-item {
    .value-placeholder {
      flex: 1;
    }
  }

  .details .label {
    @media (max-width: calc($breakpoint-dualcolumn - 1px)) {
      display: block;
      padding: 0;
      width: 100%;
    }
  }
}

.details {
  border-top: 1px solid var(--lines);
  box-sizing: border-box;
  margin: 10px 0 0;
  padding: 10px 0 0 !important;
}

ix-space-management-chart {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 2fr;
  padding: 0 0 5px;

  @media (max-width: $breakpoint-dualcolumn) {
    padding-left: 0;
  }
}
