@import 'scss-imports/variables';
@import 'mixins/layout';

:host {
  display: block;
}

.card-header {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  min-width: 0;
}

pre {
  font-family: var(--mdc-dialog-subhead-font);
  line-height: 32px;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
