@if (control().touched || control().dirty || showErrorsForUntouched) {
  <div class="form-error" role="alert" aria-live="polite">
    @for (message of messages; track trackMessage(message)) {
      <div class="error-message">
        <span [innerHTML]="message | translate"></span>
      </div>
    }
    @if (control().errors && control().errors?.[ixManualValidateError]) {
      <div class="error-message manual-error">
        <span class="manual-message" [innerHTML]="control().errors && control().errors?.[ixManualValidateError]?.message"></span>
        <tn-icon
          class="close-icon"
          role="button"
          tabindex="0"
          library="mdi"
          [tnTooltip]="'Remove this error to try again' | translate"
          [name]="'close'"
          [attr.aria-label]="'Remove this error to try again' | translate"
          (click)="removeManualError()"
          (keydown.enter)="removeManualError()"
          (keydown.space)="removeManualError()"
        ></tn-icon>
      </div>
    }
  </div>
}
