.widget mat-card-content {
  width: 100%;
}

.widget mat-toolbar-row {
  background: unset;
  border: none;

  font-size: 1.5rem;
  height: 48px;
  left: 0;
  line-height: 180%;
  padding: 0 8px;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 2;

  &.view-overview {
    padding: 0 16px;
  }
}

.xs.widget mat-toolbar-row.view-overview .controls,
.widget mat-toolbar-row.view-overview .primary-nav {
  color: #efefef; /* Dont use CSS var here as it is over a dark image*/
  font-family: var(--font-family-body);
}

.primary-nav .card-title-text {
  display: inline-block;
  font-weight: 500;
  position: relative;
  top: 2px; // TODO: Remove magic number
  vertical-align: middle;
}

.carousel {
  height: 100%;
  position: absolute;
  width: 400%;
}

.slide {
  display: inline;
  height: calc(100% - 48px);
  width: 100%;
}

.vdev.hidden,
.slide .hidden {
  display: none;
}

.slide .left,
.slide .right {
  display: inline-block;
  height: 100%;
  padding: 32px 0;
}

.slide.overview {
  height: 100%;
}

.slide.overview .right > div {
  width: 100%;
}

.slide.overview .right {
  padding: 0;
}

.slide.overview .left {
  background-image: url('~assets/images/backgrounds/hard_drive_1.jpg');
  background-size: cover;
  color: #efefef;
}

.slide .right {
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.slide .right li {
  font-size: 115%;
  margin-left: 8px;
  padding: 6px;
}

.slide.overview .left .left-content {
  display: table;
  height: calc(400px * 0.5);
  width: 100%;
}

.pool-name {
  font-family: var(--font-family-body);
  font-size: 250%;
}

.table {
  display: table;
  margin: 16px 12px;
  text-align: left;
  width: calc(100% - 32px);
}


.tr { display: table-row; }

.td {
  display: table-cell;
  padding: 2px 0;
}

.td span {opacity: 0.95;}
.td span.icon { opacity: 1;}

.td {
  width: 40%;
}

.td.label {
  line-height: 110%;
  width: 40%;
}

.td .mat-icon {
  height: auto;
  width: 12px;
}

.pool-status .icon-wrapper {
  display: inline-block;
  font-size: 175%;
  position: relative;
  top: 3px; // TODO: Remove magic number
}

.pool-name .icon-wrapper {
  display: inline;
  font-size: 75%;
}

.pool-space .value {
  font-weight: 500;
}

span.error {
  color: var(--red);
}

span.warn {
  color: var(--orange);
}

span.safe {
  color: var(--green);
}

.pool-status span .mat-icon,
.used-space span .mat-icon,
.disk-errors span .mat-icon {
  font-size: 17px;
  height: auto;
  margin-left: 4px;
  position: relative;
  top: 2px; // TODO: Remove magic number
  width: 16px;
}

.used-space span.safe .mat-icon,
.disk-errors span.safe .mat-icon {
  top: 4px; // TODO: Remove magic number
}

.pool-status span.safe.lock-icon-wrapper {
  top: 1px; // TODO: Remove magic number
}

.carousel-nav {
  background: var(--bg2);
  border-top: solid 1px var(--bg1);
  bottom: 0;
  height: 48px;
  padding: 6px;
  position: absolute;
  text-align: left;
  width: 100%;
}

.carousel-nav .btn {
  background-color: var(--fg1);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 0 4px;
  opacity: 0.5;
  width: 12px;
}

.carousel-nav .back-arrow.mat-icon {
  margin-top: -3px; // TODO: Remove magic number
}

.carousel-nav .btn.active {
  opacity: 1;
}

.slide {
  overflow: auto;
  position: relative;
  top: 48px;
}

.slide.overview {
  height: 100%;
  top: 0;
}

.slide .locked.offline {
  text-align: center;
}

.slide .locked.offline .mat-icon {
  font-size: 444%; /* TODO: Check it. Looks weird */
  height: auto;
  width: auto;
}

.slide div.clickable,
.slide .mat-list-item.clickable {
  cursor: pointer;
}

.slide .mat-icon.next-slide {
  position: absolute;
  right: 0;
}

.mat-list-base .mat-list-item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.overview .right .list-subheader {
  margin-top: 48px;
}

.list-subheader {
  color: var(--fg1);
  font-size: 90%;
  font-weight: 700;
  padding: 48px 8px 0 16px;
  text-align: left;
}

span.capitalize {
  text-transform: capitalize;
}

.list-subheader:first-child {
  padding: 8px 8px 0 16px;
}

.detail-key {
  text-transform: capitalize;
}

.healthy {
  color: var(--green);
}

.warning {
  color: var(--orange);
}

.error {
  color: var(--red);
}

.mat-list-item {
  strong {
    margin-right: 6px;
  }
}

.mat-list-item .error,
.mat-list-item .warning,
.mat-list-item .healthy {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-left: 5px;

  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}

/* NARROW SCREENS */
.xs.widget {
  height: calc(100vh - 96px);
  min-height: 700px;
  position: absolute;
  width: 100%;
}

.xs.widget .slide.overview .left {
  background-position: 100% 100% 00;
  background-size: 240%;
}

.xs.widget .overview .right .list-subheader {
  margin-top: 0;
}

.value-units {
  margin-left: 5px;
}

.xs .left-content .table {
  margin: 12px auto;
  max-width: 50%;
  min-width: 180px;
}

.xs .left-content .pool-name {
  margin-top: 24px;
}
