<div *ngIf="rendered" class="widget stats-widget" ngClass.xs="double-height xs">
  <div class="card-container front">
    <mat-card
      class="front overflow-hidden"
      fxLayout="row"
      fxLayoutWrap
      fxLayoutAlign="space-between stretch"
    >
      <mat-card-content #carouselparent>
        <mat-toolbar-row
          class="view-{{ path.length > 0 ? currentSlideName : 'Pool' }}"
          [class.drag-handle]="showReorderHandle"
        >
          <ng-content [select]="[cdkDragHandle]"></ng-content>

          <!-- Mobile Only: Exit widget -->
          <button
            *ngIf="currentSlide == '0'"
            fxHide.gt-xs
            class="mat-card-title-text primary-nav"
            mat-icon-button
            color="default"
            ix-auto
            ix-auto-type="button"
            ix-auto-identifier="goBack"
            (click)="goBack()"
          >
            <mat-icon class="back-arrow">chevron_left</mat-icon>
          </button>

          <!-- Back to previous slide -->
          <button
            *ngIf="currentSlide !== '0'"
            class="mat-card-title-text primary-nav"
            mat-icon-button
            color="default"
            ix-auto
            ix-auto-type="button"
            ix-auto-identifier="previousSlide"
            (click)="updateSlide(path[previousSlide].name, true, previousSlide)"
          >
            <mat-icon class="back-arrow">chevron_left</mat-icon>
          </button>

          <h3 class="mat-card-title-text">
            <div
              class="card-title-text"
              [class.drag-handle]="showReorderHandle"
            >
              <span class="grip" *ngIf="showReorderHandle"></span>
              <span>{{ title | translate }}</span>
            </div>
          </h3>

          <div class="controls">
            <a
              mat-icon-button
              ix-auto-type="button"
              ix-auto-identifier="poolStatus"
              [routerLink]="['/storage', 'status', poolState.id]"
              [ix-auto]="poolState.name"
            >
              <mat-icon
                fontSet="mdi-set"
                fontIcon="mdi-database"
                matTooltip="{{ 'Pool Status' | translate }}"
                matTooltipPosition="above"
                aria-label="Configure Pools"
              ></mat-icon>
            </a>

            <a
              mat-icon-button
              ix-auto
              ix-auto-type="button"
              ix-auto-identifier="diskReports"
              [routerLink]="['/reportsdashboard', 'disk']"
              [queryParams]="{ disks: poolDisks }"
            >
              <mat-icon
                matTooltip="{{ 'Disk Reports' | translate }}"
                matTooltipPosition="above"
                aria-label="Disk Reports"
              >
                insert_chart
              </mat-icon>
            </a>
          </div>
        </mat-toolbar-row>

        <!-- Carousel -->
        <div *ngIf="poolState && path" class="carousel" #carousel>
          <ng-template #locked>
            <div fxFlex="40" class="locked offline">
              <ix-icon name="error"></ix-icon>
              <h4>{{ 'Data not available' | translate }}.</h4>
            </div>
          </ng-template>

          <div
            *ngFor="let slide of path"
            fxFlex="100"
            class="slide {{ slide.name }}"
          >
            <ng-container *ngTemplateOutlet="slide.template"></ng-container>
          </div>

          <!-- FRONT -->
          <ng-template #overview>
            <div
              fxFlex="100"
              class="overview-inner"
              fxLayout.xs="column"
              fxLayout="row"
              fxLayoutAlign="space-between"
            >
              <!-- FRONT LEFT -->
              <div
                class="left"
                fxFlex="40"
                fxFlex.xs="250px"
                fxLayout="column"
                fxLayoutAlign="space-around center"
              >
                <div fxFlex="66" class="left-content">
                  <div class="pool-name">
                    <span
                      textLimiter
                      threshold="9"
                      content="{{ poolState.name | translate }}"
                    ></span>
                  </div>

                  <div class="table">
                    <div class="tr">
                      <div class="td label"><strong>Total Disks :</strong></div>
                      <div class="td">
                        {{ totalDisks ? totalDisks + ' (data)' : 'Unknown' }}
                      </div>
                    </div>

                    <div class="pool-status tr">
                      <div class="td label"><strong>Pool Status:</strong></div>
                      <div class="td status-cell">
                        <span class="capitalize">
                          {{ poolState.status }}
                        </span>
                        <ng-container [ngSwitch]="poolState.status">
                          <span *ngSwitchCase="PoolStatus.Locked" class="lock-icon-wrapper icon">
                            <ix-icon name="lock"></ix-icon>
                          </span>
                          <span *ngSwitchCase="PoolStatus.Online" class="{{ poolHealth.level }} icon">
                            <ix-icon [name]="poolHealth.isHealthy ? 'check_circle' : 'error'"></ix-icon>
                          </span>
                          <span *ngSwitchCase="PoolStatus.Healthy" class="{{ poolHealth.level }} icon">
                            <ix-icon [name]="poolHealth.isHealthy ? 'check_circle' : 'error'"></ix-icon>
                          </span>
                          <span *ngSwitchDefault class="error icon">
                            <ix-icon name="cancel"></ix-icon>
                          </span>
                        </ng-container>
                      </div>
                    </div>

                    <div class="used-space tr">
                      <ng-container *ngIf="!volumeData || !volumeData.used_pct">
                        <div class="td label">
                          <strong>
                            {{ 'Used Space' | translate }}:</strong
                            >&nbsp;
                        </div>
                        <div class="td">
                          <span class="value-used">Unknown</span>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="volumeData && volumeData.used_pct">
                        <div class="td label">
                          <strong>
                            {{ 'Used Space' | translate
                          }}:</strong>
                        </div>

                        <div *ngIf="convertPercentToNumber(volumeData.used_pct) >= 80; else safeSpace" class="td">
                          <span class="value-used">
                            {{ volumeData.used_pct }}
                          </span>
                          <span class="icon {{ convertPercentToNumber(volumeData.used_pct) >= 90 ? 'error' : 'warning' }}">
                            <ix-icon name="error"></ix-icon>
                          </span>
                        </div>

                        <ng-template #safeSpace>
                          <div class="td">
                            <span class="value-used">
                              {{ volumeData.used_pct }}
                            </span>
                            <span class="safe icon">
                              <ix-icon name="check_circle"></ix-icon>
                            </span>
                          </div>
                        </ng-template>
                      </ng-container>
                    </div>
                    <!-- END ROW -->

                    <div class="disk-errors tr" *ngIf="poolState.status == PoolStatus.Online">
                      <div class="td label">
                        <strong>Disks with Errors:</strong>
                      </div>
                      <div class="td">
                        {{ unhealthyDisks.totalErrors }}
                        <span *ngIf="unhealthyDisks.totalErrors != '0' && unhealthyDisks.totalErrors != 'Unknown'">
                          Disks
                        </span>
                        <span
                          *ngIf="unhealthyDisks.totalErrors != '0' && unhealthyDisks.totalErrors != 'Unknown'"
                          class="error icon"
                        >
                          <ix-icon class="disk-errors" name="error"></ix-icon>
                        </span>
                        <span  *ngIf="unhealthyDisks.totalErrors == '0'" class="safe icon">
                          <ix-icon class="healthy" name="check_circle"></ix-icon>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- FRONT RIGHT -->
              <div
                class="right"
                fxFlex="60"
                fxFlex.xs
                fxLayout="column"
                fxLayoutAlign="space-around center"
              >
                <div fxFlex="100" *ngIf="poolState.topology && poolState.topology.data; else locked">
                  <div class="list-subheader">
                    <span class="capitalize">{{ 'Overview' | translate }}</span>
                  </div>
                  <mat-list>
                    <mat-list-item>
                      <strong>
                        {{ 'Path' | translate }}:
                      </strong>
                      {{ poolState.path }}
                    </mat-list-item>

                    <mat-list-item>
                      <strong>
                        {{ 'Available Space' | translate }}:
                      </strong>
                      <span *ngIf="volumeData && volumeData.used_pct; else unavail">
                        <span class="value">{{ diskSize }}</span>
                        <span class="value-units">{{ diskSizeLabel }}</span>
                      </span>
                      <ng-template #unavail>
                        <span *ngIf="displayValue !== 'Unknown'" class="value">
                          {{ 'Gathering data...' | translate }}
                        </span>
                        <span *ngIf="displayValue == 'Unknown'" class="value">
                          {{ 'Unknown' | translate }}
                        </span>
                      </ng-template>
                    </mat-list-item>

                    <mat-list-item
                      [ngClass]="{
                        clickable: poolState.topology.data.length > 0
                      }"
                      (click)="updateSlide('data', poolState.topology.data.length > 0, 1, undefined, PoolTopologyCategory.Data)"
                    >
                      <strong>
                        {{ 'Data' | translate }}:
                      </strong>
                      {{ poolState.topology.data.length }}
                      vdev
                      <span *ngIf="poolState.topology.data.length > 1">
                        s
                      </span>
                      <mat-icon
                        *ngIf="poolState.topology.data.length > 0"
                        class="next-slide"
                        ix-auto
                        ix-auto-type="button"
                        ix-auto-identifier="nextSlide"
                      >
                        chevron_right
                      </mat-icon>
                    </mat-list-item>

                    <mat-list-item
                      [ngClass]="{
                        clickable: poolState.topology.cache.length > 0
                      }"
                      (click)="updateSlide('data', poolState.topology.cache.length > 0, 1, 0, PoolTopologyCategory.Cache)"
                    >
                      <strong>
                        {{ 'Caches' | translate }}:
                      </strong>
                      {{ poolState.topology.cache.length }}
                      <mat-icon
                        *ngIf="poolState.topology.cache.length > 0"
                        class="next-slide"
                        ix-auto
                        ix-auto-type="button"
                        ix-auto-identifier="nextSlide"
                      >
                        chevron_right
                      </mat-icon>
                    </mat-list-item>

                    <mat-list-item
                      (click)="updateSlide('data', poolState.topology.spare.length > 0, 1, 0, PoolTopologyCategory.Spare)"
                      [ngClass]="{
                        clickable: poolState.topology.spare.length > 0
                      }"
                    >
                      <strong>
                        {{ 'Spares' | translate }}:
                      </strong>
                      {{ poolState.topology.spare.length }}
                      <mat-icon
                        *ngIf="poolState.topology.spare.length > 0"
                        class="next-slide"
                        ix-auto
                        ix-auto-type="button"
                        ix-auto-identifier="nextSlide"
                      >
                        chevron_right
                      </mat-icon>
                    </mat-list-item>

                    <mat-list-item
                      [ngClass]="{
                        clickable: poolState.topology.log.length > 0
                      }"
                      (click)="updateSlide('data', poolState.topology.log.length > 0, 1, 0, PoolTopologyCategory.Log)"
                    >
                      <strong>
                        {{ 'Logs' | translate }}:
                      </strong>
                      {{ poolState.topology.log.length }}
                      <mat-icon
                        *ngIf="poolState.topology.log.length > 0"
                        class="next-slide"
                        ix-auto
                        ix-auto-type="button"
                        ix-auto-identifier="nextSlide"
                      >
                        chevron_right
                      </mat-icon>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </ng-template>

          <!-- DATA -->
          <ng-template #data>
            <div class="list-subheader">
              <span class="capitalize">{{ currentSlideName | translate }}</span>
            </div>
            <mat-list
              *ngIf="poolState && poolState.topology[currentSlideTopology]"
            >
              <mat-list-item
                *ngFor="let vdev of poolState.topology[currentSlideTopology]; let i = index"
                role="listitem"
                [ngClass]="{ clickable: true }"
                (click)="updateSlide('disks', true, currentSlideIndex + 1, i, currentSlideTopology, vdev)"
              >
                <strong>
                  {{ vdev.type
                  }}:</strong>
                {{ vdev.status }}
                <!-- STATUS ICONS -->
                <span
                  *ngIf="vdev.status === TopologyItemStatus.Online"
                  class="{{ poolHealth.level }} healthy"
                >
                  <ix-icon name="check_circle"></ix-icon>
                </span>
                <span
                  *ngIf="vdev.status !== TopologyItemStatus.Online"
                  class="{{ poolHealth.level }} healthy"
                >
                  <ix-icon name="error"></ix-icon>
                </span>

                <span *ngIf="vdev.type == 'DISK'" class="vdev">
                  <span>
                    {{ trimMultipath(vdev.disk).name }}
                  </span>
                </span>

                <span
                  *ngIf="vdev.type !== 'DISK' && vdev.children.length <= 3"
                  class="vdev"
                >
                  <span *ngFor="let device of vdev.children; let child = index">
                    <div *ngIf="device.disk">
                      <span>{{ device.disk }}</span>
                      {{ trimMultipath(device.disk).name }}
                      <span *ngIf="child < 3 - 1 && child !== vdev.children.length - 1">
                        ,
                      </span>
                    </div>
                  </span>
                </span>

                <span *ngIf="vdev.children.length > 3" class="vdev">
                  <span
                    *ngFor="let device of vdev.children; let child = index"
                    [ngClass]="{ hidden: child >= 3 }"
                  >
                    <div *ngIf="device.disk">
                      <span>{{ device.disk }}</span>
                      <span *ngIf="child < 3 - 1 && child !== vdev.children.length - 1">
                        ,
                      </span>
                    </div>
                  </span>
                  <span>
                    ({{ vdev.children.length - 3 }} more)
                  </span>
                </span>

                <mat-icon
                  class="next-slide"
                  ix-auto
                  ix-auto-type="button"
                  ix-auto-identifier="nextSlide"
                >
                  chevron_right
                </mat-icon>
              </mat-list-item>
            </mat-list>
          </ng-template>

          <!-- DISKS -->
          <ng-template #disks>
            <div class="list-subheader">
              <span class="capitalize">{{ 'Disks' | translate }}</span>
            </div>

            <mat-list *ngIf="!path[currentSlideIndex].dataSource.type || path[currentSlideIndex].dataSource.type !== 'DISK'">
              <mat-list-item
                *ngFor="let disk of path[currentSlideIndex].dataSource.children; let i = index"
                role="listitem"
                [ngClass]="{ clickable: true }"
                (click)="updateSlide('disk details', true, currentSlideIndex + 1, i, currentSlideTopology, disk)"
                (click)="getDiskDetails('name', disk.disk)"
              >
                <strong>
                  <span *ngIf="disk.status !== 'UNAVAIL'">
                    {{ trimMultipath(disk.disk).fullName }}
                  </span>
                  <span *ngIf="disk.status == 'UNAVAIL'">
                    {{ 'Unknown Disk' | translate }}
                  </span>
                  :
                </strong>
                {{ disk.status | translate }}

                <!-- STATUS ICONS -->
                <span *ngIf="disk.status === TopologyItemStatus.Online" class="{{ poolHealth.level }} healthy">
                  <ix-icon name="check_circle"></ix-icon>
                </span>
                <span *ngIf="disk.status !== TopologyItemStatus.Online" class="{{ poolHealth.level }} healthy">
                  <ix-icon name="error"></ix-icon>
                </span>

                <!-- CHEVRON -->
                <mat-icon
                  class="next-slide"
                  ix-auto
                  ix-auto-type="button"
                  ix-auto-identifier="nextSlide"
                >
                  chevron_right
                </mat-icon>
              </mat-list-item>
            </mat-list>

            <mat-list *ngIf="path[currentSlideIndex].dataSource.type == 'DISK'">
              <mat-list-item
                role="listitem"
                [ngClass]="{ clickable: true }"
                (click)="updateSlide('disk details', true, currentSlideIndex + 1, undefined, currentSlideTopology, path[currentSlideIndex].dataSource)"
                (click)="getDiskDetails('name', path[currentSlideIndex].dataSource.disk)"
              >
                <strong>
                  {{ trimMultipath(path[2].dataSource.disk).fullName }}
                  :
                </strong>
                {{ path[2].dataSource.status | translate }}
                <span *ngIf="path[2].dataSource.status === TopologyItemStatus.Online" class="{{ poolHealth.level }} healthy">
                  <ix-icon name="check_circle"></ix-icon>
                </span>
                <mat-icon
                  class="next-slide"
                  ix-auto
                  ix-auto-type="button"
                  ix-auto-identifier="nextSlide"
                >
                  chevron_right
                </mat-icon>
              </mat-list-item>
            </mat-list>
          </ng-template>

          <!-- DISK DETAILS -->
          <ng-template #diskDetails>
            <div class="list-subheader">
              <span class="capitalize">{{ 'Disk Details' | translate }}</span>
            </div>
            <mat-list>
              <mat-list-item role="listitem">
                <strong> {{ 'Name' | translate }}:</strong>
                {{ path[currentSlideIndex].dataSource.disk }}
              </mat-list-item>

              <mat-list-item role="listitem">
                <strong> GUID:</strong>
                {{ path[currentSlideIndex].dataSource.guid }}
              </mat-list-item>
              <mat-list-item
                *ngIf="path[currentSlideIndex].dataSource.stats.read_errors"
                role="listitem"
              >
                <strong> {{ 'Read Errors' | translate }}:</strong>
                {{ path[currentSlideIndex].dataSource.stats.read_errors }}
              </mat-list-item>
              <mat-list-item
                *ngIf="path[currentSlideIndex].dataSource.stats.write_errors"
                role="listitem"
              >
                <strong> {{ 'Write Errors' | translate }}:</strong>
                {{ path[currentSlideIndex].dataSource.stats.write_errors }}
              </mat-list-item>
              <mat-list-item
                *ngIf="path[currentSlideIndex].dataSource.stats.self_healed"
                role="listitem"
              >
                <strong> {{ 'Self Healed' | translate }}:</strong>
                {{ path[currentSlideIndex].dataSource.stats.self_healed }}
              </mat-list-item>
            </mat-list>

            <!-- Dynamic disk details-->
            <ng-container *ngIf="currentDiskDetailsKeys.length > 0">
              <div class="list-subheader">
                {{ 'Advanced Details' | translate }}
              </div>
              <mat-list>
                <ng-container *ngFor="let key of currentDiskDetailsKeys">
                  <mat-list-item *ngIf="key != 'identifier' && currentDiskDetails[diskKey(key)]" role="listitem">
                    <strong class="detail-key"> {{ key }}:</strong>
                    {{ currentDiskDetails[diskKey(key)] }}
                  </mat-list-item>
                </ng-container>
              </mat-list>
            </ng-container>
          </ng-template>

          <ng-template #empty>
            <div class="empty"></div>
          </ng-template>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
