.access-checkbox {
  align-items: center;
  column-gap: 7px;
  display: inline-flex;

  ix-icon {
    height: 22px;
    margin-top: 1px;
    width: 22px;
  }
}

.truenas-access-field {
  align-items: baseline;
  column-gap: 13px;
  display: flex;

  .role-container {
    flex-grow: 1;
  }
}

.api-access-hint {
  color: var(--alt-fg1);
  margin-bottom: 0;
}

.role {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1px;
  padding-top: 2px;
}

.role-hint {
  color: var(--alt-fg1);
  margin-bottom: -5px;
  margin-left: 2px;
  margin-top: 0;

  a {
    text-decoration: underline;
  }
}
