<ix-page-header>
  @if (isJbofLicensed$ | async) {
    <a
      mat-button
      ixTest="manage-expansion"
      [routerLink]="['/', 'system', 'viewenclosure', 'jbof']"
    >
      {{ 'NVMe-oF Expansion Shelves' | translate }}
    </a>
  }
  @if (selectedEnclosure()) {
    <ix-view-elements-menu
      [enclosure]="selectedEnclosure()"
    ></ix-view-elements-menu>
  }
</ix-page-header>

@if (selectedEnclosure()) {
  <router-outlet></router-outlet>
} @else {
  <ix-empty [conf]="emptyDashboardConf"></ix-empty>
}
