:host {
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--lines);
  color: var(--fg1);
  display: flex;
  flex-direction: row;
  padding: 2px 32px 2px 8px;
  position: relative;

  &.disabled::before {
    content: '';
    cursor: not-allowed;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .prefix-icon {
    display: inline-flex;
    margin-right: 4px;

    .mat-icon {
      align-items: center;
      display: inline-flex;
      height: 18px;
      justify-content: center;
      width: 18px;
    }
  }

  &:focus-within {
    outline: 1.5px solid var(--primary);
  }

  .reset-input {
    align-items: center;
    bottom: 0;
    cursor: pointer;
    display: flex;
    opacity: 0.5;
    position: absolute;
    right: 0.1px;
    top: 0;
    user-select: none;

    .mat-icon {
      align-items: center;
      display: inline-flex;
      font-size: 16px;
      margin-top: 0;
    }
  }
}

.reset-icon {
  .ix-icon {
    margin-right: 8px;
    width: 16px;

    &:focus {
      box-shadow: 0 0 0 1.5px var(--focus-bg) inset;
      outline-width: 0;
    }
  }
}
