<span class="prefix-icon">
  <ix-icon name="search"></ix-icon>
</span>

<input
  #ixSearchInput
  matInput
  ixTest="search"
  [maxLength]="maxLength()"
  [value]="searchValue"
  [disabled]="disabled()"
  [placeholder]="'Search' | translate"
  (input)="onInput(ixSearchInput.value)"
/>

@if (!!ixSearchInput.value) {
  <span
    class="reset-icon reset-input"
    (click)="onResetInput();"
  >
    <ix-icon tabindex="0" name="mdi-close-circle" (keydown.enter)="onResetInput()"></ix-icon>
  </span>
}
