:host {
  display: block;
  margin-bottom: 12px;
}

.full-width {
  color: var(--fg1);
  width: 100%;
}

.container {
  padding: 8px 0;
}

.input-container {
  background: var(--bg1);
  border: solid 1.5px var(--lines);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  position: relative;

  input {
    min-height: 26px;
  }

  &:focus-within {
    border-color: var(--primary);
  }

  &.disabled {
    opacity: var(--disabled-opacity);

    input {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}

.loader {
  display: inline-block;
  margin-left: 4px;
}

.reset-input {
  align-items: center;
  bottom: 0;
  cursor: pointer;
  display: flex;
  padding: 5px;
  position: absolute;
  right: 0.3rem;
  top: 0;
  user-select: none;

  &.with-opacity {
    opacity: 0.5;
  }
}

.input-container .ix-icon {
  height: 1rem;
  margin-left: 4px;
  width: auto;
}

.ix-selected {
  background: var(--primary) !important;
}

.ix-unselected {
  background: var(--bg2) !important;
}

.has-value {
  padding-right: 25px;
}

mat-option.combobox-mat-options {
  line-height: 1.4;
  padding-bottom: 3px !important;
  padding-top: 3px !important;
}

.mat-mdc-select-arrow {
  align-items: center;
  display: flex;
  opacity: 1;
  padding: 13px 2px;
}
