<h1 matDialogTitle>
  {{ 'Delete' | translate }}
</h1>
<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <p class="message">
    {{ 'Delete {name}?' | translate: { name: data.name } }}
  </p>

  @if(data.showRemoveVolumes) {
    <ix-checkbox
      formControlName="remove_volumes"
      [label]="'Remove iXVolumes' | translate"
    ></ix-checkbox>
  }

  <ix-checkbox
    formControlName="remove_images"
    [label]="'Remove Images' | translate"
  ></ix-checkbox>

  <ix-checkbox
    formControlName="confirm"
    [label]="'Confirm' | translate"
  ></ix-checkbox>

  <ix-form-actions>
    <button mat-button type="button" ixTest="cancel" matDialogClose>
      {{ 'Cancel' | translate }}
    </button>

    <button
      mat-button
      type="submit"
      color="primary"
      ixTest="delete"
      [disabled]="form.invalid"
    >
      {{ 'Delete' | translate }}
    </button>
  </ix-form-actions>
</form>
