.widget mat-card-content {
  width: 100%;
}

.time-warning {
  color: var(--fg2);

  .mat-icon {
    font-size: 16px;
    margin-right: 10px;
  }
}

.widget mat-toolbar-row {
  background: unset;

  font-size: 1.5rem;
  height: 48px;
  left: 0;
  padding: 0 16px;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 2;
}

.grip {
  position: absolute;
  top: 26px;
}

.widget mat-toolbar-row.view-overview .primary-nav {
  color: #efefef;
}

.widget .left button.mat-button {
  background-color: var(--primary) !important;
  color: var(--primary-txt) !important;
}

.widget .left button.mat-button:focus-visible {
  outline-width: 0;
}

.view-overview .mat-card-title-text {
  margin-left: 40% !important;
  padding-left: 14px;
}

span.passive {
  align-items: baseline;
  display: inline-flex;
  font-size: 75%;
  margin-left: 4px;
  opacity: 0.5;
  text-transform: lowercase;
}

.primary-nav .card-title-text {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 2px;
  vertical-align: middle;
}

.carousel {
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide {
  display: inline;
  height: 100%;
  width: 100%;
}

.slide .hidden {
  display: none;
}

.slide .left,
.slide .right {
  display: inline-block;
  height: 100%;
  padding: 32px 0;
  width: 50%;
}

.slide.overview .right > div {
  width: 100%;
}

.slide.overview .right {
  padding: 0;
}

.slide.overview .left {
  padding: 0;
  position: relative;
}

.slide.overview .left .overlay {
  height: 100%;
  padding: 48px 0;
  position: absolute;
  text-shadow: 0 0 48px #000;
  width: 100%;
}

.data-container {
  height: 100%;
  position: absolute;
  top: 0;
}

.slide .right {
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.slide .right li {
  font-size: 115%;
  margin-left: 8px;
  padding: 6px;
}

.nic-name {
  font-size: 300%;
}

.link-state .icon-wrapper {
  display: inline-block;
  font-size: 175%;
  position: relative;
  top: 3px;
}

.nic-name .icon-wrapper {
  display: inline;
  font-size: 75%;
}

.nic-name.up .icon-wrapper,
.link-state.up .icon-wrapper {
  color: var(--green);
}

.nic-name.down .icon-wrapper,
.link-state.down .icon-wrapper {
  color: var(--red);
}

.carousel-nav {
  background: var(--bg2);
  border-top: solid 1px var(--bg1);
  bottom: 0;
  height: 48px;
  padding: 6px;
  position: absolute;
  text-align: left;
  width: 100%;
}

.carousel-nav .btn {
  background-color: var(--fg1);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 0 4px;
  opacity: 0.5;
  width: 12px;
}

.carousel-nav .btn.active {
  opacity: 1;
}

.slide {
  overflow: auto;
}

img.clickable,
.slide .mat-list-item.clickable {
  cursor: pointer;
}

.slide .mat-icon.next-slide {
  position: absolute;
  right: 0;
}

.mat-list-base .mat-list-item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.mat-list-item strong {
  margin-right: 6px;
}

.copy-version {
  align-items: center;
  display: flex;
  flex: 1;
  margin-right: -16px;
  min-width: 0;

  .copy-version-text {
    display: inline-flex;
    flex: 1;
    min-width: 0;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.list-subheader {
  color: var(--fg1);
  font-size: 90%;
  font-weight: 700;
  margin-top: 48px;
  padding: 8px 8px 0 16px;
  text-align: left;
  text-transform: capitalize;
}

.platform-logo-wrapper {
  color: var(--primary-color-txt);
  padding-top: 12px;
}

.platform-logo-wrapper.scale,
.platform-logo-wrapper.scale_enterprise,
.platform-logo-wrapper.core {
  padding-top: 18px;
}

.platform-logo-wrapper .mat-icon {
  height: 2.5rem;
  width: auto;
}

.platform-logo-wrapper.core .mat-icon {
  height: 2.25rem;
}

.product-image {
  &.rackmount,
  &.ix-logo {
    img {
      width: 80%;
    }
  }

  &.rackmount {
    padding-bottom: 0;
  }

  &.ix-logo,
  &.rackmount,
  &.freenas,
  &.truenas {
    .generic {
      padding-bottom: 10%;
    }
  }

  &.rackmount,
  &.freenas,
  &.truenas {
    .generic {
      height: auto;
      width: 120px;
    }
  }

  img {
    width: 60%;

    &.certified-badge {
      border-radius: 5px;
      bottom: 30%;
      height: 16%;
      left: 54%;
      position: absolute;
      width: auto !important;
    }
  }
}

img.platform-logo {
  width: 10rem;
}

.xs.carousel img.platform-logo {
  width: 70%;
}

.content-left {
  position: relative;
}

.ha-node-status {
  font-weight: 500;
}

.right {
  position: relative;
}

.ha-status .spinner-wrapper,
.ha-status h3 {
  height: auto;
  position: relative;
  text-align: center;
  top: 49%;
  width: auto;
}

div.generic.alert {
  text-align: center;
}

div.generic.alert .mat-icon {
  font-size: 48px;
  height: auto;
  width: auto;
}

.left.passive .product-image img {
  opacity: 0.5;
}

/* NARROW SCREENS */
.xs.widget {
  height: calc(100vh - 96px);
  position: absolute;
  width: 100%;
}

.xs.widget .overview .right .list-subheader {
  margin-top: 0;
}

.xs.widget .left,
.xs.widget .right {
  width: 100%;
}

#update-in-progress {
  font-weight: 500;
  margin-bottom: 40px;
}

.xs.widget .data-container {
  position: relative;
}

.xs.widget .product-image.rackmount img,
.xs.widget .product-image.ix-logo img {
  height: 28%;
  margin: 21% 0 8px;
  width: auto;
}

.xs.widget .product-image.rackmount img#X10 {
  margin: 8% 0 5%;
}

.xs.widget img.platform-logo {
  height: 48px;
  width: auto;
}

.xs.widget .view-overview .mat-card-title-text {
  color: var(--primary-txt);
  margin-left: unset !important;
}

.xs.widget .ha-node-status {
  font-size: 125%;
}

.xs.widget .slide.overview {
  overflow-x: hidden;
}

.xs.widget .mat-card {
  border-radius: 0;
}

.xs.widget .mobile-update-action {
  padding: 32px 0;
  text-align: center;
}

.xs.widget img#Z20 {
  margin: 14% 0 18px;
}

/* FIX Generic hardware icon */
.xs.widget.generic-hardware .platform-logo-wrapper {
  display: none;
}

.xs.widget.generic-hardware .product-image.tower {
  margin-top: 50%;
}

.xs.widget.generic-hardware .product-image.tower .mat-icon {
  margin-top: 48px;
}

.xs.widget.generic-hardware .product-image.tower .certified-badge {
  bottom: -40%;
  height: 25%;
}

.xs.widget .left {
  min-height: 275px;
}

.primary-nav.mat-card-title-text {
  left: 16px;
  position: absolute;
  top: 4px;
  z-index: 2;
}

.xs .freenas.product-image img {
  height: 150px;
  width: auto;
}

.spinner {
  margin: 0 auto;
}

.loader {
  display: flex;
  height: 100%;
  margin: auto;

  .spinner {
    margin: auto;
  }
}
