<tn-dialog-shell [title]="'One-Time Password' | translate">
<p>
    {{ 'Success! One-Time Password has been created.' | translate }}
  </p>

  <p>
    <strong>{{ 'This is the only time the password is shown.' | translate }}</strong>
  </p>

  <p>
    {{ 'This password is only valid for one login within 24 hours and does not persist across reboots.' | translate }}
    {{ 'User will be encouraged to choose their own password after they login for the first time if they don\'t have a password.' | translate }}
  </p>

  <div class="password-section">
    <ix-textarea
      [formControl]="passwordControl"
      [readonly]="true"
      [rows]="1"
      [label]="'One-Time Password' | translate"
      (dblclick)="onCopyPressed(); $event.stopPropagation();"
    ></ix-textarea>
  </div>


<ix-form-actions tnDialogAction>
  <tn-button
    variant="outline"
    testId="close"
    [label]="'Close' | translate"
    (onClick)="dialogRef.close()"
  ></tn-button>

  <tn-button
    color="primary"
    testId="copy-to-clipboard"
    [label]="'Copy to Clipboard' | translate"
    (onClick)="onCopyPressed()"
  ></tn-button>
</ix-form-actions>
</tn-dialog-shell>
