<h1 matDialogTitle>
  {{ 'One-Time Password' | translate }}
</h1>

<mat-dialog-content>
  <p>
    {{ 'Success! One-Time Password has been created.' | translate }}
  </p>

  <p>
    <strong>{{ 'This is the only time the password is shown.' | translate }}</strong>
  </p>

  <p>
    {{ 'This password is only valid for one login within 24 hours and does not persist across reboots.' | translate }}
    {{ 'User will be encouraged to choose their own password after they login for the first time.' | translate }}
  </p>

  <div class="password-section">
    <ix-textarea
      [formControl]="passwordControl"
      [readonly]="true"
      [rows]="1"
      [label]="'One-Time Password' | translate"
      (dblclick)="onCopyPressed(); $event.stopPropagation();"
    ></ix-textarea>
  </div>
</mat-dialog-content>

<ix-form-actions matDialogActions>
  <button
    mat-button
    ixTest="close"
    matDialogClose
  >{{ 'Close' | translate }}</button>

  <button
    mat-button
    color="primary"
    ixTest="copy-to-clipboard"
    (click)="onCopyPressed()"
  >{{ 'Copy to Clipboard' | translate }}</button>
</ix-form-actions>
