.device {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.delete-button {
  opacity: 0.8;

  &:focus,
  &:hover {
    opacity: 1;
  }

  ix-icon {
    height: 20px;
    width: 20px;
  }
}
