<mat-card class="card">
  <mat-card-header>
    <h3 mat-card-title>
      {{ 'Devices' | translate }}
    </h3>
  </mat-card-header>

  <mat-card-content>
    @if (isLoadingDevices()) {
      <ngx-skeleton-loader></ngx-skeleton-loader>
    } @else {
      @for (device of shownDevices(); track device) {
        <div class="device">
          <span>{{ getDeviceDescription(device) }}</span>
          <button
            mat-icon-button
            class="delete-button"
            [attr.aria-label]="'Delete device' | translate"
            [ixTest]="['delete-device', $index]"
            (click)="deleteProxyPressed(device)"
          >
            <ix-icon name="mdi-close"></ix-icon>
          </button>
        </div>
      } @empty {
         {{ 'No devices added.' | translate }}
      }
    }
  </mat-card-content>
</mat-card>
