:host {
  display: block;
  padding-bottom: 15px;
}

form {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 7px;
  padding-right: 7px;
}

.saved-message {
  font-size: 12px;
  margin-left: 12px;
  margin-top: 6px;
}

.form-actions {
  justify-content: flex-start;
}
