<ng-container [formGroup]="form">
  <tn-form-field
    [label]="'Host' | translate"
    [tooltip]="helptext.influxDb.hostTooltip | translate"
    [required]="true"
  >
    <tn-input formControlName="host"></tn-input>
  </tn-form-field>

  <tn-form-field
    [label]="'Username' | translate"
    [required]="true"
  >
    <tn-input formControlName="username"></tn-input>
  </tn-form-field>

  <tn-form-field
    [label]="'Password' | translate"
    [required]="true"
  >
    <tn-input formControlName="password" [inputType]="InputType.Password"></tn-input>
  </tn-form-field>

  <tn-form-field
    [label]="'Database' | translate"
    [required]="true"
  >
    <tn-input formControlName="database"></tn-input>
  </tn-form-field>

  <tn-form-field
    [label]="'Series' | translate"
    [tooltip]="helptext.influxDb.seriesNameTooltip | translate"
    [required]="true"
  >
    <tn-input formControlName="series_name"></tn-input>
  </tn-form-field>
</ng-container>
