:host {
  color: var(--fg1);
  display: block;
  position: relative;
  width: 100%;
}

::ng-deep ix-page-title-header {
  position: relative;

  ix-fake-progress-bar {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.app {
  display: flex;
  flex-direction: column;

  .installed-badge {
    background-color: var(--contrast-darkest);
    color: var(--green);
    cursor: pointer;
    font-family: var(--font-family-header);
    font-size: 1.3em;
    font-weight: bold;
    left: -10px;
    line-height: 1.3em;
    padding: 2px 13px 2px 11px;
    position: absolute;
    top: 6px;
    z-index: 1;
  }
}

.app-info {
  padding-left: 2rem;

  .catalog-header {
    margin-bottom: 0.5rem;
  }
}

.app-list-item {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin: 0.25rem 0;
}

.app-description {
  flex-basis: 1;
  max-height: 180px;
  overflow-y: auto;
  padding-left: 2rem;
}

$app-image-size: 144px;

.app-image-holder {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: $app-image-size;
  width: 100%;

  img {
    display: inline-block;
    height: auto;
    object-fit: contain;
    width: 100%;
  }
}

.app-image-loader {
  ::ng-deep span {
    border-radius: 50%;
    height: $app-image-size;
    margin: 0;
    width: $app-image-size;
  }
}

.screenshots {
  display: grid;
  gap: 14px;
  grid-template-columns: 1fr 1fr 1fr;
}

.screenshot {
  position: relative;


  ix-icon {
    display: inline-flex;
    height: 1.5rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 7rem;
  }

  .screenshot-image {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.similar-apps {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;

  ix-app-card {
    box-sizing: border-box;
    flex-basis: calc(50% - 4px);
  }
}

.similar-app-loader {
  ::ng-deep span {
    height: 100px;
  }
}

.screenshot-loader {
  ::ng-deep span {
    height: 160px;
  }
}

.app-info,
.app-info-card {
  ngx-skeleton-loader {
    display: inline-flex;
    width: 35%;

    ::ng-deep span {
      margin: 0;
    }
  }
}

.app-info-cards {
  flex: 1;
  padding: 0 1rem 0 2rem;
}

section {
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 1rem;
  }
}
