:host {
  color: var(--fg1);
  display: block;
  position: relative;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-info {
  padding-left: 2rem;
  padding-top: 2rem;
}

.app-description {
  flex-basis: 50%;
  padding-left: 2rem;
  padding-top: 2rem;
}

$app-image-size: 160px;

.app-image-holder {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  min-height: $app-image-size;
  width: 100%;

  img {
    display: inline-block;
    height: auto;
    object-fit: contain;
    width: 100%;
  }
}

.app-image-loader {
  ::ng-deep span {
    border-radius: 50%;
    height: $app-image-size;
    margin: 0;
    width: $app-image-size;
  }
}

.screenshot {
  position: relative;


  ix-icon {
    display: inline-flex;
    height: 1.5rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 7rem;
  }

  .screenshot-image {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
}

.similar-app-loader {
  ::ng-deep span {
    height: 100px;
  }
}

.screenshot-loader {
  ::ng-deep span {
    height: 160px;
  }
}

.app-info-card {
  background-color: var(--bg2);
  margin-bottom: 1rem;
  max-width: 320px;
  padding: 1rem;
  width: 100%;

  h3 {
    margin-bottom: 1rem;
  }
}

.app-info-cards {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 1rem;
  }
}
