<mat-card class="container">
  <mat-card-content class="content">
    <form [formGroup]="form">
      <div
        class="inner-container" 
      >

        <div class="filter-container">
          <div class="header header-top"><h3>{{ 'Manual Selection' | translate }}</h3></div>

          <ix-search-input
          ></ix-search-input>
          <div class="select-container">
            <ix-select
              formControlName="diskType"
              [label]="'Filter by Disk Type'"
            ></ix-select>
            <ix-select
              formControlName="diskSize"
              [label]="'Filter by Disk Size'"
            ></ix-select>
          </div>
          <div class="tree-container">
            <ix-tree
              [dataSource]="dataSource"
              [treeControl]="treeControl"
            >
              <ix-tree-node
                *ixTreeNodeDef="let disk; dataSource: dataSource"
                ixTreeNodeToggle
                routerLinkActive="selected"
                [ixTreeNodeToggleRecursive]="false"
                [ixTreeNodeDefDataSource]="dataSource"
              >
                <div class="info-wrapper">
                  <ix-disk-icon 
                    class="disk-icon"
                    [identifier]="disk.identifier"
                    [size]="'4 Tib'"
                  ></ix-disk-icon>

                  <ix-disk-info
                    class="disk-info"
                    [slot]="'1'"
                    [type]="'HDD'"
                    [model]="'Western Digital'"
                    [serial]="'a1b2c3d4xxxx'"
                  ></ix-disk-info>
                </div>
              </ix-tree-node>

              <ix-nested-tree-node
                *ixTreeNodeDef="let group; dataSource: dataSource; when: isGroup"
                [ixTreeNodeDefDataSource]="dataSource"
              >
                <div class="group-row" ixTreeNodeToggle>
                  <span class="group-name">{{ group.identifier }}</span>
                  <mat-icon>
                    {{ treeControl.isExpanded(group) ? 'expand_more' : 'chevron_right' }}
                  </mat-icon>
                </div>

                <ng-container
                  *ngIf="isExpanded(group)"
                  ixTreeNodeOutlet
                ></ng-container>
              </ix-nested-tree-node>

            </ix-tree>
          </div>
        </div>
        <mat-divider class="divider" [vertical]="true"></mat-divider>
        <div class="enclosure-container">

          <div class="header header-vdevs">
            <h3>{{ 'Data VDevs' | translate }}</h3>
            <div class="header-actions">
              <button
                mat-button
                class="mat-button"
              >{{ 'Add' | translate }}</button>
            </div>
          </div>
          <mat-divider class="header-divider"></mat-divider>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>