.container {
  height: 80vh;
  width: 70vw;
}

.inner-container {
  display: flex;
  flex-direction: row;
}

.filter-container {
  flex: 1;
}

.enclosure-container {
  flex: 3;
}

.select-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  ix-select {
    flex: 1;
  }
}

.group-row {
  align-items: center;
  background: var(--bg1);
  border: 1px solid var(--alt-bg2);
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: space-between;
}

.group-name {
  margin-left: 5px;
}
