@import 'scss-imports/variables';

tn-banner {
  display: block;
  margin-top: 16px;
}

.fieldsets {
  display: flex;
  flex-wrap: wrap;

  .fieldset {
    width: 50%;

    @media (max-width: $breakpoint-tablet) {
      padding-bottom: 0;
      width: 100%;
    }
  }
}
