:host {
  display: inline-flex;
  align-items: center;
}

.action-required-badge {
  align-items: center;
  background: transparent;
  border: 0;
  color: var(--orange);
  cursor: pointer;
  display: inline-flex;
  line-height: 1;
  padding: 0;

  &:hover,
  &:focus-visible {
    outline: none;
  }

  tn-icon {
    height: 18px;
    width: 18px;
  }
}
