.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px;
}

.row {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.left {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 40%;
}

.right {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 60%;
}
