<ix-modal-header2
  [requiredRoles]="requiredRoles"
  [title]="'Global Two Factor Authentication Settings' | translate"
  [loading]="isFormLoading"
></ix-modal-header2>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset>
        <ix-checkbox
          ixUiSearchableElement
          formControlName="enabled"
          [label]="'Enable Two Factor Authentication Globally' | translate"
          [warning]="twoFactorConfig.enabled ? '' : enableWarning"
          [ixSearchConfig]="searchElements.globallyEnabled"
        ></ix-checkbox>
        <ix-input
          ixUiSearchableElement
          formControlName="window"
          [label]="'Window' | translate"
          [type]="'number'"
          [ixSearchConfig]="searchElements.torelanceWindow"
        ></ix-input>
        <ix-checkbox
          ixUiSearchableElement
          formControlName="ssh"
          [label]="'Enable Two Factor Authentication for SSH' | translate"
          [ixSearchConfig]="searchElements.enableForSsh"
        ></ix-checkbox>
      </ix-fieldset>

      <ix-form-actions>
        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          type="submit"
          color="primary"
          ixTest="save"
          [disabled]="form.invalid || isFormLoading"
        >
          {{ 'Save' | translate }}
        </button>
      </ix-form-actions>
    </form>
  </mat-card-content>
</mat-card>
