<tn-dialog-shell [title]="'Choose a pool for Apps' | translate">
<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <ix-select
    formControlName="pool"
    [label]="'Pool' | translate"
    [required]="true"
    [options]="pools$"
  ></ix-select>

  @if (showMigrateCheckbox) {
    <ix-checkbox
      formControlName="migrateApplications"
      [label]="'Migrate existing applications' | translate"
    ></ix-checkbox>
  }

  </form>
<ix-form-actions tnDialogAction>
  <tn-button
    variant="outline"
    testId="cancel"
    [label]="'Cancel' | translate"
    (onClick)="dialogRef.close(false)"
  ></tn-button>

  <tn-button
    *ixRequiresRoles="requiredRoles"
    color="primary"
    testId="choose"
    [label]="'Choose' | translate"
    [disabled]="form.invalid"
    (onClick)="onSubmit()"
  ></tn-button>
</ix-form-actions>
</tn-dialog-shell>
