@import 'scss-imports/cssvars';
@import 'mixins/text';

.user-menu-wrapper {
  align-items: center;
  display: flex;

  .username {
    @include line-clamp(2);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-left: 0.5rem;
    max-width: 105px;
    min-width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media(max-width: $breakpoint-md) {
      display: none;
    }
  }
}
