<ix-modal-header
  [requiredRoles]="requiredRoles"
  [title]="title"
  [loading]="isFormLoading"
></ix-modal-header>

<mat-card>
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset>
        <ix-input
          formControlName="realm"
          [label]="'Realm' | translate"
          [required]="true"
          [tooltip]="tooltips.realm"
        ></ix-input>

        <ix-chips
          formControlName="kdc"
          [label]="'KDC' | translate"
          [placeholder]="'KDC' | translate"
          [tooltip]="tooltips.kdc"
        ></ix-chips>

        <ix-chips
          formControlName="admin_server"
          [label]="'Admin Servers' | translate"
          [placeholder]="'Admin Servers' | translate"
          [tooltip]="tooltips.admin_server"
        ></ix-chips>

        <ix-chips
          formControlName="kpasswd_server"
          [label]="'Password Servers' | translate"
          [placeholder]="'Password Servers' | translate"
          [tooltip]="tooltips.kpasswd_server"
        ></ix-chips>
      </ix-fieldset>

      <ix-form-actions>
        <button
          *ixRequiresRoles="requiredRoles"
          mat-button
          type="submit"
          color="primary"
          ixTest="save"
          [disabled]="form.invalid || isFormLoading"
        >
          {{ 'Save' | translate }}
        </button>
      </ix-form-actions>
    </form>
  </mat-card-content>
</mat-card>
