.notification-sidenav {
	min-width: 300px;
	max-width: 30%;
}
.app-logo, .app-logo-text {
	position: relative;
	top: 13px;
}

/* To get rid of VScroll on entity tables */
.rightside-content-hold {
	padding-bottom: 5px;
}