<mat-sidenav-container class="app-side-nav-container" fxLayout="row" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.lg="lg" ngClass.xl="xl">
  <!-- Main side navigation -->
  <mat-sidenav fxFlex="sidenavWidth" #sidenav [opened]="isSidenavOpen" [mode]="sidenavMode" class="sidebar-panel not-alerts" >
    <div id="scroll-area" class="navigation-hold" fxLayout="column">
      <div *ngFor="let theme of freenasThemes">
        <div *ngIf="theme.name == currentTheme" ix-auto ix-auto-type="button" ix-auto-identifier="logo">
          <div *ngIf="theme.hasDarkLogo; else lightLogo">
            <div class="branding mat-bg-primary" *ngIf="is_freenas; else isTruenasDark">
              <a routerLink="/dashboard" class="logo"><img [src]="logoPath" alt="FreeNAS Shark logo" class="app-logo"></a>
              <a routerLink="/dashboard" class="logo-text"><img [src]="logoTextPath" alt="FreeNAS" class="app-logo-text"></a>
            </div>
            <ng-template #isTruenasDark>
              <div class="branding mat-bg-primary">
                <a routerLink="/dashboard"><img src="assets/images/TrueNAS_Logomark_Black.svg" alt="TrueNAS logo" class="tn-logo app-logo"></a>
                <a routerLink="/dashboard"><img src="assets/images/TrueNAS_Logotype_OnLight.svg" alt="TrueNAS logo" class="tn-logo-txt app-logo-text" app></a>              </div>
            </ng-template>
          </div>
          <ng-template #lightLogo>
            <div class="branding mat-bg-primary" *ngIf="is_freenas; else isTruenasLight">
              <a routerLink="/dashboard" class="logo"><img [src]="logoPath" alt="FreeNAS Shark logo" class="app-logo"></a>
              <a routerLink="/dashboard" class="logo-text"><img [src]="logoTextPath" alt="FreeNAS" class="app-logo-text"></a>
            </div>
            <ng-template #isTruenasLight>
              <div class="branding mat-bg-primary">
                <a routerLink="/dashboard"><img src="assets/images/TrueNAS_Logomark_White.svg" alt="TrueNAS logo" class="tn-logo app-logo"></a>
                <a routerLink="/dashboard"><img src="assets/images/TrueNAS_Logotype_OnDark.svg" alt="TrueNAS logo" class="tn-logo-txt app-logo-text" app></a>
              </div>
            </ng-template>
          </ng-template>
        </div>
      </div>
      <div class="app-user">
        <div class="app-user-photo">
          <svg-icon *ngIf="is_freenas" class="ix-logo" src="assets/images/ix.svg" [svgStyle]="{'width.px':64,'height.px':64}" ></svg-icon>
          <svg-icon *ngIf="!is_freenas" class="ix-logo" src="assets/images/iX_Logomark.svg" [svgStyle]="{'width.px':64,'height.px':64}" ></svg-icon>
        </div>
        <span class="app-user-name">
          <mat-icon class="icon-xs text-muted">lock</mat-icon>
          root
        </span>
        <div class="hostname-label" *ngIf="hostname" matTooltip="Hostname: {{hostname}}">{{hostname}}</div>
      </div>
      <navigation (onStateChange)="changeState($event)"></navigation>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlex="calc(100% - {{sidenavWidth}})" class="fn-maincontent" [style.margin-left]="sidenavWidth">
    <!-- Top Bar -->
    <!-- Template reference variables of Left sidebar and Right notification is supplied -->
    <!-- Listens language change event -->
    <topbar [sidenav]="sidenav" [notificPanel]="notificationPanel" (onLangChange)="language.setMiddlewareLanguage($event)"></topbar>
    <!-- App content -->
    <app-breadcrumb [is_freenas]="is_freenas"></app-breadcrumb>
    <div class="rightside-content-hold" [ngClass]="{'has-footer':isShowFooterConsole}">
      <router-outlet></router-outlet>
    </div>
    <div class="footer-console-bar" *ngIf="isShowFooterConsole" ix-auto ix-auto-type="shell" ix-auto-identifier="footer-console">
      <pre #footerBarScroll class="message" (click)="onShowConsolePanel()">{{consoleMsg}}</pre>
    </div>
  </mat-sidenav-content>
  <!-- Notificaation bar -->
  <mat-sidenav #notificationPanel mode="over" class="" align="end" (open)="onOpenNotify($event)" (close)="onCloseNotify($event)" class="notification-sidenav" position="end">
    <div class="navigation-hold" fxLayout="column">
      <app-notifications [notificPanel]="notificationPanel"></app-notifications>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
