.notification-sidenav {
  min-width: 350px;
  width: 400px;
  max-width: 30%;
}
.app-logo,
.app-logo-text {
  position: relative;
}

.app-logo{
  top: 13px;
  width:40px;
  height:40px;
}

.retro .app-logo{
  /*left: 32px;*/
}

.branding .app-logo-text {
  width: 105px;
  height: auto;
  top: 7px;
}

.branding.retro .app-logo-text, .branding.scale .app-logo-text  {
  top:13px;
}

.branding.topbar{
  background-color: var(--topbar) !important;
  color: var(--topbar-txt) !important;
}

.tn-logo {
	width: 40px;
}

.tn-logo-txt {
	width: 111px;
}

.tn-logo, .tn-logo-txt {
	position: relative;
	top: 12px;
}

/* To get rid of VScroll on entity tables */
.rightside-content-hold {
	padding-bottom: 5px;
}

.hostname-label {
	text-align: center;
	font-size: smaller;
	margin: auto;
}
