@import 'cssvars';

.notification-sidenav {
  max-width: 30%;
  min-width: 350px;
  width: 400px;
}

.app-logo,
.app-logo-text {
  position: relative;
}

.app-logo {
  height: 36px;
  top: 13px;
  width: 36px;
}

.truenas-scale .app-logo {
  height: 40px;
  top: 12px;
  width: 40px;
}

.retro .app-logo {
  height: 40px;
  width: 40px;
  /*left: 32px;*/
}

.branding .app-logo-text {
  height: auto;
  top: 11px;
  width: 96px;
}

.branding.retro .app-logo-text {
  top: 7px;
  width: 105px;
}

.branding.retro .app-logo-text,
.branding.scale .app-logo-text {
  top: 13px;
}

.branding.topbar {
  background-color: var(--topbar) !important;
  color: var(--topbar-txt) !important;
}

.enterprise-logo mat-icon {
  height: auto !important;
  margin-left: -4px !important;
  top: 14px !important;
  width: 108px !important;
}

/* To get rid of VScroll on entity tables */
.rightside-content-hold {
  padding-bottom: 5px;
}

.hostname-label {
  font-size: larger;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

.fn-maincontent {
  overflow: hidden !important;
}

.sidenav-copyright-txt {
  bottom: 0;
  font-size: 0.6rem;
  margin: 1rem auto;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  width: 100%;
}

.sidenav-copyright-icon {
  margin: 3rem auto 0.5rem;
  opacity: 0.4;
  text-align: center;
}

jw-modal {
  display: block;
}

.slidein-nav {
  z-index: 100;

  &.slidein-nav-sm {
    @media #{$media-gt-sm} {
      display: none;
    }
  }

  &.slidein-nav-md {
    display: block;

    @media #{$media-lt-md} {
      display: none;
    }
  }
}

#scroll-area {
  max-height: 100vh;
  overflow: auto;
}
