<mat-sidenav-container class="app-side-nav-container" ngClass.xs="xs" ngClass.sm="sm" ngClass.md="md" ngClass.lg="lg" ngClass.xl="xl">
  <!-- Main side navigation -->
  <mat-sidenav #sidenav [opened]="isSidenavOpen" mode="over" class="sidebar-panel">
    <div id="scroll-area" class="navigation-hold" fxLayout="column">
      <div *ngFor="let theme of freenasThemes">
        <div *ngIf="theme.name == currentTheme">
          <div *ngIf="theme.hasDarkLogo; else lightLogo">
            <div class="branding mat-bg-primary" *ngIf="is_freenas; else isTruenasDark">
              <img src="assets/images/logo.svg" alt="FreeNAS Shark logo" class="app-logo">
              <img src="assets/images/logo-text.svg" alt="FreeNAS" class="app-logo-text">
            </div>
            <ng-template #isTruenasDark>
              <div class="branding mat-bg-primary">
                <a routerLink="/dashboard"><img src="assets/images/truenas-logo-ondark.svg" alt="TrueNAS logo"></a>
              </div>
            </ng-template>
          </div>
          <ng-template #lightLogo>
            <div class="branding mat-bg-primary" *ngIf="is_freenas; else isTruenasLight">
              <a routerLink="/dashboard" class="logo"><img [src]="logoPath" alt="FreeNAS icon" class="app-logo"></a>
              <a routerLink="/dashboard" class="logo-text"><img [src]="logoTextPath" alt="FreeNAS" class="app-logo-text"></a>
            </div>
            <ng-template #isTruenasLight>
              <div class="branding mat-bg-primary">
                <a routerLink="/dashboard"><img src="assets/images/truenas-logo.svg" alt="TrueNAS logo"></a>
              </div>
            </ng-template>
          </ng-template>
        </div>
      </div>
      <div class="app-user">
        <div class="app-user-photo">
          <svg-icon class="ix-logo" src="assets/images/ix.svg" [svgStyle]="{'width.px':64,'height.px':64}" ></svg-icon>
        </div>
        <span class="app-user-name">
          <mat-icon class="icon-xs text-muted">lock</mat-icon>
          root
        </span>
      </div>
      <navigation (onStateChange)="changeState($event)"></navigation>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="fn-maincontent">
    <!-- Top Bar -->
    <!-- Template reference variables of Left sidebar and Right notification is supplied -->
    <!-- Listens language change event -->
    <topbar [sidenav]="sidenav" [notificPanel]="notificationPanel" (onLangChange)="language.setMiddlewareLanguage($event)"></topbar>
    <!-- App content -->
    <app-breadcrumb></app-breadcrumb>
    <div class="rightside-content-hold" [ngClass]="{'has-footer':isShowFooterConsole}">
      <router-outlet></router-outlet>
      <div class="temp" [style.height.px]="50" *ngIf="isShowFooterConsole"></div>
    </div>
    <div class="footer-console-bar" *ngIf="isShowFooterConsole">
      <pre #footerBarScroll class="message" (click)="onShowConsolePanel()">{{consoleMsg}}</pre>
    </div>
  </mat-sidenav-content>
  <!-- Notificaation bar -->
  <mat-sidenav #notificationPanel mode="over" class="" align="end" (open)="onOpenNotify($event)" (close)="onCloseNotify($event)" class="notification-sidenav">
    <div class="navigation-hold" fxLayout="column">
      <app-notifications *ngIf="isSidenotOpen" [notificPanel]="notificationPanel"></app-notifications>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
