.description-panel {
  .actions {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
}

.actions-row {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: center;
  width: 100%;
}

.actions-row div {
  align-items: center;
  border-top: 1px solid var(--lines);
  display: flex;
  height: 100%;
  justify-content: center;
  max-height: 48px;
  width: 100%;

  a {
    display: block;
    height: min-content;
    text-align: center;
    width: 100%;
  }
}

.header-custom-content {
  margin-left: 24px;
}

.action-button {
  margin-left: 2.5px;
  max-height: 40px;
}

.title-icon {
  font-size: 1.5rem;
  vertical-align: middle;
}

.title {
  a {
    white-space: nowrap;

    &:focus-visible {
      background: var(--hover-bg);
    }
  }
}

:host ::ng-deep .tooltip .material-icons {
  align-items: center;
  display: flex;
  font-size: 24px !important;
  margin-right: 6px;
}



.expanded-table-container {
  height: 100%;
}

.expanded-table {
  height: 100%;
}

.expanded-table.expanded-height {
  height: 90%;
}

.expanded-table ::ng-deep {
  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .mat-expansion-panel-header {
    height: auto !important;
    margin: 5px 0;
    padding-bottom: inherit;
    padding-right: inherit;
    padding-top: inherit;
  }

  .mat-expansion-panel-header span {
    padding: 0;
  }

  mat-card {
    border: 0 !important;
    margin: 0 !important;
  }

  mat-panel-title,
  mat-panel-description {
    margin: 0 !important;
  }

  mat-panel-title {
    align-items: center;
    display: flex;
  }
}
