<ix-modal-header [title]="'NFS' | translate" [loading]="isFormLoading"></ix-modal-header>

<mat-card class="card">
  <mat-card-content>
    <form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
      <ix-fieldset [title]="'General Options' | translate">
        <ix-select
          formControlName="bindip"
          [label]="'Bind IP Addresses' | translate"
          [options]="ipChoices$"
          [multiple]="true"
          [tooltip]="tooltips.bindip"
        ></ix-select>

        <ix-input
          formControlName="servers"
          type="number"
          [label]="'Number of threads' | translate"
          [required]="true"
          [tooltip]="tooltips.servers"
        ></ix-input>
      </ix-fieldset>

      <div class="two-columns">
        <ix-fieldset [title]="'NFSv4' | translate">
          <ix-select
            formControlName="protocols"
            [label]="'Enabled Protocols' | translate"
            [options]="protocolOptions$"
            [multiple]="true"
            [required]="true"
          ></ix-select>

          <ix-checkbox
            formControlName="v4_v3owner"
            [label]="'NFSv3 ownership model for NFSv4' | translate"
            [tooltip]="tooltips.v4_v3owner"
          ></ix-checkbox>

          <ix-checkbox
            formControlName="v4_krb"
            [label]="'Require Kerberos for NFSv4' | translate"
            [tooltip]="tooltips.v4_krb"
          ></ix-checkbox>
        </ix-fieldset>
        <ix-fieldset [title]="'Ports' | translate">
          <ix-input
            formControlName="mountd_port"
            type="number"
            [label]="'mountd(8) bind port' | translate"
            [tooltip]="tooltips.mountd_port"
          ></ix-input>

          <ix-input
            formControlName="rpcstatd_port"
            type="number"
            [label]="'rpc.statd(8) bind port' | translate"
            [tooltip]="tooltips.rpcstatd_port"
          ></ix-input>

          <ix-input
            formControlName="rpclockd_port"
            type="number"
            [label]="'rpc.lockd(8) bind port' | translate"
            [tooltip]="tooltips.rpclockd_port"
          ></ix-input>
        </ix-fieldset>
      </div>

      <ix-fieldset [title]="'Other Options' | translate">
        <ix-checkbox
          formControlName="udp"
          [label]="'Serve UDP NFS clients' | translate"
          [tooltip]="tooltips.udp"
        ></ix-checkbox>

        <ix-checkbox
          formControlName="allow_nonroot"
          [label]="'Allow non-root mount' | translate"
          [tooltip]="tooltips.allow_nonroot"
        ></ix-checkbox>

        <ix-checkbox
          formControlName="userd_manage_gids"
          [label]="'Support >16 groups' | translate"
          [tooltip]="tooltips.userd_manage_gids"
        ></ix-checkbox>
      </ix-fieldset>

      <div class="form-actions">
        <div>
          <button
            mat-button
            type="submit"
            color="primary"
            ixTest="save"
            [disabled]="form.invalid || isFormLoading"
          >
            {{ 'Save' | translate }}
          </button>
        </div>
        <div class="add-spn-container">
          <ix-tooltip
            *ngIf="isAddSpnVisible && isAddSpnDisabled"
            [header]="'Add SPN' | translate"
            [message]="'Save the \'Require Kerberos for NFSv4\' value before adding SMP' | translate"
          ></ix-tooltip>
          <button
            *ngIf="isAddSpnVisible"
            mat-button
            type="button"
            color="primary"
            ixTest="add-spn"
            [disabled]="isAddSpnDisabled"
            (click)="addSpn()"
          >
            {{ 'Add SPN' | translate }}
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
