<form class="ix-form-container" [formGroup]="form">
  <tn-form-section [heading]="'IPA Configuration' | translate">
    <tn-form-field
      [label]="'Target Server' | translate"
      [tooltip]="helptext.targetServerTooltip | translate"
      [required]="true"
    >
      <tn-input name="target_server" testId="target_server" formControlName="target_server" [required]="true"></tn-input>
    </tn-form-field>

    <tn-form-field
      [label]="'TrueNAS Hostname' | translate"
      [tooltip]="helptext.hostnameTooltip | translate"
      [required]="true"
    >
      <tn-input name="hostname" testId="hostname" formControlName="hostname" [required]="true"></tn-input>
    </tn-form-field>

    <tn-form-field
      [label]="'Domain' | translate"
      [tooltip]="helptext.domainTooltip | translate"
      [required]="true"
    >
      <tn-input name="domain" testId="domain" formControlName="domain" [required]="true"></tn-input>
    </tn-form-field>

    <tn-form-field
      [label]="'Base DN' | translate"
      [tooltip]="helptext.basednTooltip | translate"
      [required]="true"
    >
      <tn-input name="basedn" testId="basedn" formControlName="basedn" [required]="true"></tn-input>
    </tn-form-field>

    <tn-form-field [tooltip]="helptext.validateCertificatesTooltip | translate">
      <tn-checkbox
        formControlName="validate_certificates"
        testId="validate_certificates"
        [label]="'Validate Certificates' | translate"
      ></tn-checkbox>
    </tn-form-field>
  </tn-form-section>

  <tn-form-section [heading]="'SMB Domain Configuration' | translate">
    <tn-form-field [tooltip]="helptext.useDefaultSmbDomainTooltip | translate">
      <tn-checkbox
        formControlName="use_default_smb_domain"
        testId="use_default_smb_domain"
        [label]="'Use Default SMB Domain Configuration' | translate"
      ></tn-checkbox>
    </tn-form-field>

    @if (!useDefaultSmbDomain()) {
      <tn-form-field
        [label]="'Name' | translate"
        [tooltip]="helptext.smbDomainNameTooltip | translate"
      >
        <tn-input name="smb_domain_name" testId="smb_domain_name" formControlName="smb_domain_name"></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="'Domain Name' | translate"
        [tooltip]="helptext.smbDomainDomainNameTooltip | translate"
      >
        <tn-input
          name="smb_domain_domain_name"
          testId="smb_domain_domain_name"
          formControlName="smb_domain_domain_name"
        ></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="'Range Low' | translate"
        [tooltip]="helptext.smbDomainRangeLowTooltip | translate"
        [required]="true"
      >
        <tn-input
          name="smb_domain_range_low"
          testId="smb_domain_range_low"
          formControlName="smb_domain_range_low"
          [inputType]="InputType.Number"
          [required]="true"
        ></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="'Range High' | translate"
        [tooltip]="helptext.smbDomainRangeHighTooltip | translate"
        [required]="true"
      >
        <tn-input
          name="smb_domain_range_high"
          testId="smb_domain_range_high"
          formControlName="smb_domain_range_high"
          [inputType]="InputType.Number"
          [required]="true"
        ></tn-input>
      </tn-form-field>

      <tn-form-field
        [label]="'Domain SID' | translate"
        [tooltip]="helptext.smbDomainDomainSidTooltip | translate"
      >
        <tn-input
          name="smb_domain_domain_sid"
          testId="smb_domain_domain_sid"
          formControlName="smb_domain_domain_sid"
        ></tn-input>
      </tn-form-field>
    }
  </tn-form-section>
</form>
