<form [formGroup]="form">
  <ix-checkbox
    formControlName="hide_from_msr"
    [label]="'Hide from MSR' | translate"
  ></ix-checkbox>

  <ix-checkbox
    formControlName="ensure_display_device"
    [label]="'Ensure Display Device' | translate"
    [tooltip]="helptext.ensure_display_device.tooltip | translate"
  ></ix-checkbox>

  <ix-select
    formControlName="gpus"
    [label]="'GPUs' | translate"
    [options]="gpuOptions$"
    [multiple]="true"
  ></ix-select>

  <ix-form-actions>
    <tn-button
      tnStepperPrevious
      [testId]="'back'"
      [label]="'Back' | translate"
    ></tn-button>
    <tn-button
      tnStepperNext
      color="primary"
      [testId]="'next'"
      [label]="'Next' | translate"
      [disabled]="form.invalid"
    ></tn-button>
  </ix-form-actions>
</form>
