.title {
    font-size: 32px;
    justify-content: center;

    ix-icon {
        height: 56px;
        width: 56px;
        margin-right: 8px;
    }

    .truenas {
        color: var(--primary); 
    }
}