<div class="panel_container">
  <mat-icon
    ix-datatable-cell="pool-actions"
    [ix-datatable-cell-identifier]="row[entity?.conf?.rowIdentifier || 'name']"
    id="{{row[entity?.conf?.rowIdentifier || 'name']}}_{{action}}_button"
    [matMenuTriggerFor]="appMenu"
    [style.cursor]="'pointer'"
  >
    {{icon_name}}
  </mat-icon>
  <mat-menu #appMenu="matMenu">
    <span *ngFor="let action of actions">
      <button 
        id="action_button_{{ action?.label }}_{{row[entity?.conf?.rowIdentifier || 'name']}}" 
        mat-menu-item 
        *ngIf="!entity.conf.isActionVisible
            || entity.conf.isActionVisible.bind(entity.conf)(action.id, row)" 
        (click)="action.onClick(this.row);">
				<span>{{ action?.label | translate }}</span>
      </button>
    </span>
  </mat-menu>
</div>
