// @import "../../../../../assets/styles/themes/ix-blue.scss";

.padding_all {
    padding: 20px;
}

.padding_top {
    padding-top: 30px;
}

.custom_cell_styling {
    overflow: hidden; 
    height: 20px; 
    width: 100%; 
    padding-left: 5px;
}

.IconCell {
	margin-top: -8px;
}

.multiActionsButton {
	height: 40px;
}