.ion-android-more-vertical:before {
    color: black;
}


.panel_container {
    margin-top: -8px;
    float: right;
}

.global_volume_based_action_menu {
    margin-top: 8px; 
    float: right; 
    padding-bottom: 20px;
}