.btn-fab {
  margin-bottom: 40px;
}

.table > thead > tr > th:first-child {
  text-align: left;
}

.table > tbody > tr > td:first-child {
  text-align: left;
}

.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	line-height:1.5em;
	height:1.5em;
	padding: .5em;
	font-size: .9em;
}
i {
	line-height: 1.5em;
}
