// @import "../../../../../assets/styles/themes/ix-blue.scss";

.padding_all {
    padding: 20px;
}

.padding_top {
    padding-top: 30px;
}

.custom_cell_styling {
    overflow: hidden; 
    height: 20px; 
    width: 100%; 
    padding-left: 5px;
}

.IconCell {
	margin-top: -8px;
}

.multiActionsButton {
	height: 40px;
}

#entity-spinner {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    top: 30%;
    margin: auto;
    text-align: center;
    z-index: 10;
    margin: 0 auto;
    height: 125px;
    width: 125px;
}

.pulse-loader {
    margin: 20px auto;
}

#footer {
    padding: 15px;
}

#footer-text {
    margin-left: 10px;
}

@media screen and (max-height: 700px) {
    #entity-spinner {
        top: 20%;
    }
}

@media screen and (max-height: 600px) {
    #entity-spinner {
        top: 10%;

    }
}

// -------------------------

.pulse-loader:not(:required) {
    display: inline-block;
    width: 50px;
    height: 50px;
    -moz-animation: pulse-loader 0.7s linear infinite alternate;
    -webkit-animation: pulse-loader 0.7s linear infinite alternate;
    animation: pulse-loader 0.7s linear infinite alternate;
    border: 2px solid #008dd0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    text-indent: 50px;
  }
  
  @-moz-keyframes pulse-loader {
    0% {
      -moz-box-shadow: #008dd0 0 0 0px 20px;
      box-shadow: #008dd0 0 0 0px 20px;
    }
    40% {
      -moz-box-shadow: none;
      box-shadow: none;
    }
    100% {
      -moz-box-shadow: #008dd0 0 0 0px 25px inset;
      box-shadow: #008dd0 0 0 0px 25px inset;
    }
  }
  @-webkit-keyframes pulse-loader {
    0% {
      -webkit-box-shadow: #008dd0 0 0 0px 20px;
      box-shadow: #008dd0 0 0 0px 20px;
    }
    40% {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    100% {
      -webkit-box-shadow: #008dd0 0 0 0px 25px inset;
      box-shadow: #008dd0 0 0 0px 25px inset;
    }
  }
  @keyframes pulse-loader {
    0% {
      -moz-box-shadow: #008dd0 0 0 0px 20px;
      -webkit-box-shadow: #008dd0 0 0 0px 20px;
      box-shadow: #008dd0 0 0 0px 20px;
    }
    40% {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    100% {
      -moz-box-shadow: #008dd0 0 0 0px 25px inset;
      -webkit-box-shadow: #008dd0 0 0 0px 25px inset;
      box-shadow: #008dd0 0 0 0px 25px inset;
    }
  }
