<div class="material mat-card mat-card-table">
	<div class="mat-toolbar mat-card-toolbar">
		<div class="mat-card-title-text">{{ title }}</div>
		<app-entity-table-add-actions [entity]="this"></app-entity-table-add-actions>
	</div>

	<div class="padding_all">
		<md-input-container floatPlaceholder="never">
			<input mdInput #filter placeholder="Filter {{title}}">
		</md-input-container>
	</div>

	<div>
		<ngx-datatable class='material' 
					   [rows]='currentRows' 
					   [columns]="conf.columns" 
					   [columnMode]="'standard'" 
					   [columnWidth]="'auto'"
					   [headerHeight]="50" 
					   [footerHeight]="50" 
					   [limit]="initialItemsPerPage" 
					   [rowHeight]="50" 
					   [reorderable]="'true'">
		    
		  <ngx-datatable-column
				*ngFor="let col of conf.columns"
				prop="{{col.prop}}" 
				 name="{{col.name}}">
				 <ng-template let-row="row" ngx-datatable-cell-template> 
					 <div>
						{{row[col.prop]}}
					  </div>
					</ng-template>
			</ngx-datatable-column>

			<ngx-datatable-column>
				<ng-template let-row="row" ngx-datatable-cell-template>
					<div style="margin-top: -18px;">
						<app-entity-table-actions [entity]="this" [row]="row">
						</app-entity-table-actions>
					</div>
				</ng-template>
			</ngx-datatable-column>
		
		</ngx-datatable>
	</div>

</div>