.ion-android-more-vertical:before {
    color: black;
}


.panel_container {
  text-align: center;
}

.global_volume_based_action_menu {
    margin-top: 8px; 
    float: right; 
    padding-bottom: 20px;
}

.group-menu-header{
  min-width: 200px;
  padding-bottom: 16px;
  margin-top: 12px;
}

.group-menu-header div.title{
  margin-left: 16px;
  margin-top: 4px;
  opacity: 0.5;
  font-size: 0.85rem;
}

.group-menu-header mat-divider {
  background-color: var(--fg2);
  opacity: 0.35;
}

.action-length-1 button{
  position: relative;
  right: -16px;
}
