<tn-card padding="small">
  <h3 tnCardHeader class="tn-card__title">
    {{ 'GPU Devices' | translate }}
  </h3>

  <ng-template tnCardFooterActions>
    <ix-add-gpu-device-menu></ix-add-gpu-device-menu>
  </ng-template>

  @if (hasNvidiaGpusWithoutDrivers()) {
    <div class="nvidia-drivers-warning">
      <tn-icon name="information" library="mdi" class="warning-icon"></tn-icon>
      <div class="warning-content">
        <span class="warning-text">
          {{ 'NVIDIA GPUs detected, but drivers are not enabled.' | translate }}
        </span>
        <tn-button
          class="enable-button"
          variant="outline"
          [testId]="'enable-nvidia-drivers'"
          [label]="'Enable NVIDIA Drivers' | translate"
          (onClick)="enableNvidiaDrivers()"
        ></tn-button>
      </div>
    </div>
  }

  @if (isLoadingDevices()) {
    <ngx-skeleton-loader></ngx-skeleton-loader>
  } @else {
    @for (device of shownDevices(); track device.id) {
      <div class="device">
        <span class="device-description">{{ getDeviceDescription(device) }}</span>

        <ix-device-actions-menu
          [device]="device"
          [showEdit]="false"
          [isDisabled]="isContainerRunning()"
          [disabledTooltip]="isContainerRunning() ? ('Cannot modify devices while container is running. Please stop the container first.' | translate) : null"
        ></ix-device-actions-menu>
      </div>
    } @empty {
      <div class="no-devices">{{ 'No GPU devices added.' | translate }}</div>
    }
  }
</tn-card>
