.device {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.device-info {
  align-items: center;
  display: flex;
  gap: 12px;
}

.device-description {
  flex: 1;
  font-size: 14px;
  padding-bottom: 3px;
}

.no-devices {
  color: var(--fg2);
  padding: 16px 0;
}

.nvidia-drivers-warning {
  align-items: center;
  background-color: var(--yellow);
  border-radius: 4px;
  color: var(--bg1);
  display: flex;
  font-size: 14px;
  gap: 8px;
  margin: 0 16px;
  padding: 8px 12px;

  .warning-icon {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
  }

  a {
    color: var(--bg1);
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
