<mat-card class="card">
  <mat-card-header>
    <h3 mat-card-title>
      {{ 'GPU Devices' | translate }}
    </h3>

    <ix-add-gpu-device-menu></ix-add-gpu-device-menu>
  </mat-card-header>

  @if (hasNvidiaGpusWithoutDrivers()) {
    <div class="nvidia-drivers-warning">
      <ix-icon name="info" class="warning-icon"></ix-icon>
      <div class="warning-content">
        <span class="warning-text">
          {{ 'NVIDIA GPUs detected, but drivers are not enabled.' | translate }}
        </span>
        <button
          mat-button
          type="button"
          class="enable-button"
          ixTest="enable-nvidia-drivers"
          (click)="enableNvidiaDrivers()"
        >
          {{ 'Enable NVIDIA Drivers' | translate }}
        </button>
      </div>
    </div>
  }

  <mat-card-content>
    @if (isLoadingDevices()) {
      <ngx-skeleton-loader></ngx-skeleton-loader>
    } @else {
      @for (device of shownDevices(); track device.id) {
        <div class="device">
          <span class="device-description">{{ getDeviceDescription(device) }}</span>

          <ix-device-actions-menu
            [device]="device"
            [showEdit]="false"
            [isDisabled]="isContainerRunning()"
            [disabledTooltip]="isContainerRunning() ? ('Cannot modify devices while container is running. Please stop the container first.' | translate) : null"
          ></ix-device-actions-menu>
        </div>
      } @empty {
        <div class="no-devices">{{ 'No GPU devices added.' | translate }}</div>
      }
    }
  </mat-card-content>
</mat-card>
