@import 'scss-imports/variables';

:host {
  ix-slide-toggle {
    margin-bottom: 27px;
    margin-top: 50px;
  }
}

.columns {
  box-sizing: border-box;
  column-gap: 16px;
  display: flex;
  flex-direction: row;

  > div {
    flex: 1 1 50%;
  }

  @media (max-width: $breakpoint-tablet) {
    display: block !important;
  }
}
