:host {
  color: var(--fg2);
}

.columns {
  box-sizing: border-box;
  column-gap: 16px;
  display: flex;
  flex-direction: row;

  > div {
    flex: 1 1 50%;
  }
}

.username {
  margin-bottom: 0;
  margin-top: 6px;
  max-width: 55%;
}

