<ix-modal-header
  [title]="editingUser() ? ('Edit User' | translate) : ('Add User' | translate)"
  [loading]="isFormLoading()"
></ix-modal-header>

<form
  class="ix-form-container"
  [formGroup]="form"
  (submit)="onSubmit()"
>
  <ix-fieldset>
    <div>
      <tn-form-field [label]="'Username' | translate" [required]="true">
        <tn-input
          class="username"
          formControlName="username"
          [testId]="'username'"
        ></tn-input>
      </tn-form-field>
    </div>
  </ix-fieldset>

  <ix-allowed-access-section
    [editingUser]="editingUser()"
    [password]="password()"
    [passwordDisabled]="passwordDisabled()"
  ></ix-allowed-access-section>

  <ix-auth-section
    [editingUser]="editingUser()"
    [homeDirectory]="homeDirectory()"
    [shell]="shell()"
  ></ix-auth-section>

  <ix-additional-details-section [editingUser]="editingUser()"></ix-additional-details-section>

  <ix-form-actions>
    <tn-button
      *ixRequiresRoles="requiredRoles"
      type="submit"
      color="primary"
      [testId]="'save'"
      [label]="'Save' | translate"
      [disabled]="isFormInvalid() || isFormLoading()"
    ></tn-button>
  </ix-form-actions>
</form>
