@import 'scss-imports/variables';

:host {
  ix-slide-toggle {
    margin-bottom: 27px;
    margin-top: 55px;
  }
}

.columns {
  box-sizing: border-box;
  display: grid;
  grid-gap: 0 16px;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $breakpoint-tablet) {
    display: block !important;
  }
}

.ix-form-container {
  box-sizing: border-box;
  display: block;
  height: 100%;
  overflow: hidden;
}

.ix-form-fieldsets {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  overflow: auto;
  padding: 16px 32px 64px;
}
