div.text-limiter-tooltip {
  background-color: var(--bg2);
  border-radius: 4px;
  color: var(--fg2);
  padding: 6px 16px;
}

div.text-limiter-tooltip::before {

  background-color: var(--bg2);
  bottom: -10px;
  content: '';
  display: block;
  height: 20px;
  left: calc(50% - 10px);
  position: absolute;
  transform: rotate(45deg);
  width: 20px;
  z-index: -1;

}

.tooltip-container {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.75));
}
