@import '../../../../../../node_modules/text-security/text-security.css';

:host {
  color: var(--fg1);
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 8px 0;
}

.input-container {
  background: var(--bg1);
  border: solid 1.5px var(--lines);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  padding: 3px 8px;
  position: relative;

  input {
    min-height: 26px;
  }

  &:focus-within {
    border-color: var(--primary);
  }

  &.disabled {
    opacity: 0.38;

    input {
      cursor: not-allowed;
      opacity: 1;
    }
  }

  &.readonly {
    background: var(--bg2);

    input {
      cursor: copy;
    }
  }
}

.link {
  color: var(--primary);
  cursor: pointer;
  font-size: x-small;
}

.reset-input,
.prefix-icon {
  align-items: center;
  bottom: 0;
  cursor: pointer;
  display: flex;
  opacity: 0.5;
  padding: 5px;
  position: absolute;
  right: 0.3rem;
  top: 0;
  user-select: none;
}

.prefix-icon {
  cursor: default;
  left: 0;
  right: auto;
}

.prefix-padding {
  padding-left: 16px;
}

.input-container .mat-icon {
  font-size: 1rem;
  height: auto;
  max-width: 16px;
  width: auto;
}

.input-container .mat-icon-button {
  height: 24px;
  line-height: 24px;
  opacity: 0.5;
  width: 24px;
}

.password-field {
  font-family: text-security-disc;
  /* Use -webkit-text-security if the browser supports it */
  -webkit-text-security: disc;
}

.mat-error {
  display: block;
  font-size: 12px;
  margin-top: 3px;
}

.has-reset-input-icon {
  padding-right: 20px;
}
