@import '../../storage-tier-cell/tier-cell-host';
@import '../card-service-toggle';

@include tier-cell-host;
@include card-service-toggle;

.card-title-link {
  color: inherit;
  display: inline-flex;
  text-decoration: none;
}

.card-title {
  align-items: center;
  display: flex;
  margin: 0;

  tn-icon {
    margin-left: 5px;
  }
}
