<tn-card
  padding="small"
  [headerStatus]="serviceStatus()"
  [headerControl]="serviceControl()"
  [headerMenu]="serviceMenu()"
  [headerMenuTriggerTestId]="headerMenuTriggerTestId()"
  [primaryAction]="addAction()"
>
  <a
    tnCardHeader
    class="card-title-link"
    [ixTest]="['nfs-share', 'open-in-new']"
    [routerLink]="['/sharing', 'nfs']"
    [tnTooltip]="'Open NFS list in full page' | translate"
  >
    <h3 class="card-title">
      {{ 'UNIX (NFS) Shares' | translate }}
      <tn-icon
        name="open-in-new"
        library="mdi"
        class="title-icon"
        [attr.aria-label]="'Open NFS list in full page' | translate"
      ></tn-icon>
      <ix-card-alert-badge [menuPath]="cardMenuPath" />
    </h3>
  </a>

  @if (!(dataProvider.currentPageCount$ | async) && !(dataProvider.isLoading$ | async)) {
    <tn-empty
      icon="nfs-share"
      iconLibrary="custom"
      iconSize="56px"
      [title]="'Optimized for Linux and Unix systems, offering deeper integration in those environments. Choose NFS if you\'re working primarily with Linux servers or need efficient file access in Unix-based workflows.' | translate"
    ></tn-empty>
  } @else {
    <tn-table
      class="table"
      [dataSource]="(dataProvider.currentPage$ | async) ?? []"
      [displayedColumns]="displayedColumns()"
      [trackBy]="trackByNfsId"
      [loading]="!!(dataProvider.isLoading$ | async)"
      (sortChange)="onSortChange($event)"
    >
      <ng-container [tnColumnDef]="'path'" [sortable]="true">
        <ng-template tnHeaderCellDef>{{ 'Path' | translate }}</ng-template>
        <ng-template let-row tnCellDef>
          <span
            [ixTest]="[('Path' | translate), uniqueRowTag(row), 'row-text']"
            [tnTooltip]="row.path ? (row.path | translate) : ''"
          >{{ row.path }}</span>
        </ng-template>
      </ng-container>

      <ng-container [tnColumnDef]="'comment'" [sortable]="true">
        <ng-template tnHeaderCellDef>{{ 'Description' | translate }}</ng-template>
        <ng-template let-row tnCellDef>
          <span
            [ixTest]="[('Description' | translate), uniqueRowTag(row), 'row-text']"
            [tnTooltip]="row.comment ? (row.comment | translate) : ''"
          >{{ row.comment }}</span>
        </ng-template>
      </ng-container>

      <ng-container [tnColumnDef]="'enabled'" [sortable]="true" [width]="'70px'">
        <ng-template tnHeaderCellDef>{{ 'Enabled' | translate }}</ng-template>
        <ng-template let-row tnCellDef>
          <ix-table-toggle-cell
            #enabledToggle
            [title]="'Enabled' | translate"
            [uniqueRowTag]="uniqueRowTag(row)"
            [ariaLabel]="ariaLabel(row)"
            [checked]="!!row.enabled"
            [disabled]="isToggleDisabled(row)"
            [tooltip]="getEnabledTooltip(row)"
            [requiredRoles]="requiredRoles"
            (toggled)="onChangeEnabledState(row, enabledToggle)"
          ></ix-table-toggle-cell>
        </ng-template>
      </ng-container>

      <ng-container [tnColumnDef]="'tier'">
        <ng-template tnHeaderCellDef>{{ 'Storage Tier' | translate }}</ng-template>
        <ng-template let-row tnCellDef>
          <ix-tier-status [tier]="row.tier" />
        </ng-template>
      </ng-container>

      <ng-container [tnColumnDef]="'actions'" [width]="'80px'">
        <ng-template tnHeaderCellDef></ng-template>
        <ng-template let-row tnCellDef>
          <ix-table-actions-cell
            [actions]="actions"
            [row]="row"
            [uniqueRowTag]="uniqueRowTag(row)"
            [ariaLabel]="ariaLabel(row)"
          ></ix-table-actions-cell>
        </ng-template>
      </ng-container>
    </tn-table>
  }

  <ix-table-pager-show-more
    [pageSize]="4"
    [dataProvider]="dataProvider"
    [ixTestOverride]="['nfs']"
    [routerLink]="['/sharing', 'nfs']"
  ></ix-table-pager-show-more>
</tn-card>

<tn-side-panel
  [title]="'NFS' | translate"
  [closeGuard]="closeConfigGuard"
  [(open)]="configOpen"
>
  @if (configOpen()) {
    <ix-service-nfs (closed)="onConfigClosed()"></ix-service-nfs>
  }
  @if (configForm(); as form) {
    <tn-button
      tnSidePanelAction
      color="primary"
      [ixTest]="'save'"
      [label]="'Save' | translate"
      [disabled]="!form.canSubmit()"
      (onClick)="form.submit()"
    ></tn-button>
  }
</tn-side-panel>
