<div class="widget note widget-{{widgetSize}}">
  <div class="card-container {{flipDirection}} front" animate [animation]="flipAnimation">
    <mat-card class="front" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch">
      <mat-toolbar-row fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch" fxFlex="100" class="mat-card-toolbar">
        <h4 class="mat-card-title-text">
          <div class="card-title-text">
            {{title | translate}}: {{noteData.title}}
          </div>
        </h4>
        <button mat-icon-button (click)="toggleConfig()">
          <mat-icon>settings</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center" fxFlex="100">
        {{noteData.content}}
      </mat-card-content>

    </mat-card>
    <mat-card class="back" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch">
      <mat-toolbar-row fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch" fxFlex="100" class="mat-card-toolbar">
        <h4 class="mat-card-title-text">
          <div class="card-title-text">
           {{"Edit Note" | translate}} 
          </div>
        </h4>
        <button mat-icon-button (click)="toggleConfig()">
          <mat-icon>settings</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-card-content fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center" fxFlex="100">
        ** Form Goes Here **
      </mat-card-content>
      <div class="widget-footer"><button mat-button color="primary" (click)="toggleConfig()">{{"Back" | translate}}</button></div>
    </mat-card>
  </div>
</div>
