:host ::ng-deep ix-with-loading-state-error {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  padding: 16px;
  place-content: center center;
  text-align: center;
  width: 100%;
}

.card {
  height: 100%;

  ::ng-deep > ix-with-loading-state-loader {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 54px;
    padding: 16px 8px 16px 16px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .container {
    height: 100%;
    padding-top: 0;
  }
}

ix-app-memory-info {
  align-items: center;
  background: var(--bg1);
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  font-size: 1.5em;
  height: 100%;
  justify-content: space-evenly;
  max-width: 100%;
  text-align: center;
}
