.card {
  height: 100%;

  .container {
    padding-left: 21px;
    padding-top: 12px;
  }
}

.header {
  h3 {
    font-size: 24px;
  }
}

.copyright {
  font-size: 11px;
  text-align: center;
}

.line-item {
  display: flex;
  flex-direction: row;
  margin: 20px;

  div {
    align-items: center;
  }

  .icon-wrapper {
    flex: 1 1 100%;
    max-width: 10%;

    .ix-icon {
      font-size: 2.5rem;
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  .helptext {
    flex: 1 1 100%;
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 15px;
    max-width: 90%;
    text-align: left;
  }
}

.open-source {
  font-size: 0.75rem;
  padding: 1rem 0.5rem;
  text-align: center;
}
