.button-wrapper {
  display: inline-block;
}

.disabled {
  color: var(--fg2);
  cursor: not-allowed;
  opacity: 0.5;
}

.delete-button {
  opacity: 0.6;

  &:focus,
  &:hover {
    opacity: 1;
  }

  ix-icon {
    height: 20px;
    width: 20px;
  }
}
