.size-control {
  margin-bottom: 0;
}

.main-details {
  margin-bottom: 0;
  margin-top: 10px;
}

.encryption-details {
  margin-top: 8px;
}

.volsize-warning {
  color: var(--orange);
  font-size: 12px;
  margin: 4px 0 0;
}
