@import '../../../../../assets/styles/mixins/buttons';

.size-control {
  margin-bottom: 0;
}

.main-details {
  margin-bottom: 0;
  margin-top: 10px;
}

.encryption-details {
  margin-top: 8px;
}

.customize-link {
  @include customize-link-button;
}
