.volsize-warning {
  color: var(--orange);
  font-size: 12px;
  margin: 4px 0 0;
}

.row {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

ix-select,
ix-textarea,
ix-input {
  margin-bottom: 0;
  margin-top: 0;
}