// Replicates the legacy global "mat-card-content > div" padding from _material-reduction.scss.
.card-content > div {
  padding: 16px;
}

:host ::ng-deep {
  .container {
    &.quarter {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}
