@import 'mixins/cards';

.card {
  @include details-card();
  margin: 0;
  max-width: 360px;
}

.card mat-card-actions {
  border-top: 1px solid var(--lines);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 16px;

  button {
    width: 100%;
  }
}
