<ix-oauth-provider-authentication
  [oauthUrl]="provider.credentials_oauth"
  (authenticated)="onOauthAuthenticated($event)"
></ix-oauth-provider-authentication>

<ix-fieldset [title]="'Authentication' | translate" [formGroup]="form">
  <ix-input
    formControlName="token"
    type="password"
    [label]="'Access Token' | translate"
    [required]="true"
    [tooltip]="helptext.oneDrive.token.tooltip | translate"
  ></ix-input>

  <ix-select
    formControlName="drives"
    [options]="drives$"
    [label]="'Drives List' | translate"
    [tooltip]="helptext.oneDrive.drives.tooltip | translate"
  ></ix-select>

  <ix-select
    formControlName="drive_type"
    [label]="'Drive Account Type' | translate"
    [required]="true"
    [options]="driveTypes$"
    [tooltip]="helptext.oneDrive.driveType.tooltip | translate"
  ></ix-select>

  <ix-input
    formControlName="drive_id"
    [label]="'Drive ID' | translate"
    [required]="true"
    [tooltip]="helptext.oneDrive.driveId.tooltip | translate"
  ></ix-input>
</ix-fieldset>
