<ix-oauth-provider-authentication
  [oauthUrl]="provider.credentials_oauth"
  (authenticated)="onOauthAuthenticated($event)"
></ix-oauth-provider-authentication>

<ng-container [formGroup]="form">
  <tn-form-section [heading]="'Authentication' | translate">
    <tn-form-field
      [label]="'Access Token' | translate"
      [required]="true"
      [tooltip]="helptext.oneDrive.token.tooltip | translate"
    >
      <tn-input formControlName="token" [inputType]="InputType.Password"></tn-input>
    </tn-form-field>

    <tn-form-field
      [label]="'Drives List' | translate"
      [tooltip]="helptext.oneDrive.drives.tooltip | translate"
    >
      <tn-select formControlName="drives" [options]="(drives$ | async) ?? []"></tn-select>
    </tn-form-field>

    <tn-form-field
      [label]="'Drive Account Type' | translate"
      [required]="true"
      [tooltip]="helptext.oneDrive.driveType.tooltip | translate"
    >
      <tn-select formControlName="drive_type" [options]="(driveTypes$ | async) ?? []"></tn-select>
    </tn-form-field>

    <tn-form-field
      [label]="'Drive ID' | translate"
      [required]="true"
      [tooltip]="helptext.oneDrive.driveId.tooltip | translate"
    >
      <tn-input formControlName="drive_id"></tn-input>
    </tn-form-field>
  </tn-form-section>
</ng-container>
