<h1 matDialogTitle>
  {{ 'Import Zvol' | translate }}
</h1>
<form class="ix-form-container" [formGroup]="form" (submit)="onSubmit()">
  <p>
    {{ helptext.importZvol.description | translate }}
  </p>

  <ix-explorer
    formControlName="zvols"
    [label]="'Select Zvols' | translate"
    [required]="true"
    [nodeProvider]="zvolProvider"
    [multiple]="true"
  ></ix-explorer>

  <ix-checkbox
    formControlName="clone"
    [label]="'Clone' | translate"
    [tooltip]="helptext.importZvol.cloneTooltip"
  ></ix-checkbox>

  <ix-form-actions>
    <button
      mat-button
      type="button"
      ixTest="cancel"
      matDialogClose
    >
      {{ 'Cancel' | translate }}
    </button>

    <button
      mat-button
      color="primary"
      type="submit"
      ixTest="import"
      [disabled]="form.invalid"
    >
      {{ 'Import' | translate }}
    </button>
  </ix-form-actions>
</form>
