<div class="widget stats-widget" ngClass.xs="double-height xs">
  <div class="card-container  front">
    <mat-card style="overflow:hidden" class="front" fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between stretch">
      <mat-card-content #carouselparent>
        <mat-toolbar-row >
          <h3 class="mat-card-title-text"><div class="card-title-text">{{title | translate}}</div></h3>
          <!--<ng-template *ngIf="configurable === true">
            <button mat-icon-button (click)="toggleConfig()">
            <mat-icon>settings</mat-icon>
            </button>
            </ng-template>-->
            <!--<button mat-button color="primary" class="" (click)="router.navigate(['reportsdashboard/cpu'])">CPU REPORTS</button>-->
        </mat-toolbar-row>
        <!-- Chart -->
        <div id="" class="carousel" #carousel>
          <div fxFlex="100" class="slide">
            <div class="left">
              <div>
                <div class="nic-name">{{nicState.name}}</div> 

                <div class="link-state" [ngClass]="{'up': nicState.link_state == 'LINK_STATE_UP', 'down': nicState.link_state !== 'LINK_STATE_UP'}">
                  {{linkState}}&nbsp;&nbsp;
                  <div class="icon-wrapper">
                    <mat-icon *ngIf="nicState.link_state == 'LINK_STATE_UP' " role="img" fontSet="mdi-set" fontIcon="mdi-check-circle"></mat-icon>
                    <mat-icon *ngIf="nicState.link_state !== 'LINK_STATE_UP' " role="img" fontSet="mdi-set" fontIcon="mdi-close-circle"></mat-icon>
                  </div>
                </div>

                <div *ngIf="traffic && nicState.link_state == 'LINK_STATE_UP'" class="nic-traffic">
                  <div><strong>In: </strong><span class="stat">{{traffic["KB/s in"]}}</span> KB/s</div>
                  <div><strong>Out: </strong><span class="stat">{{traffic["KB/s out"]}}</span> KB/s</div>
                </div>

                <div *ngIf="!traffic && nicState.link_state == 'LINK_STATE_UP'" class="nic-traffic-gathering">
                  Gathering data...
                </div> 

                <div *ngIf="nicState.link_state !== 'LINK_STATE_UP'" class="no-nic-traffic">
                  No Traffic
                </div> 

              </div>
            </div>
            <div class="right">
              <ul>
                <li><strong>Media Type: </strong>{{nicState.active_media_type}}</li>
                <li><strong>Media Subtype: </strong>{{nicState.active_media_subtype}}</li>
                <li><strong>IP Addresses: </strong>{{ipAddresses.length}}</li>
              </ul>
            </div>
          </div>
          
          
          <div class="slide">
            <ul > 
              <li *ngFor="let ip of nicState.aliases;" [ngClass]="{'hidden': ip.type !== 'INET'}">
                {{ip.type}}: {{ip.address}}
              </li>
            </ul>
          </div>
        </div>

        <div class="carousel-nav">
          <div *ngIf="nicState.aliases.length > 1" class="btn-wrapper">
            <div class="btn" [ngClass]="{'active': currentSlide == '0'}" (click)="updateSlidePosition(0)"></div>
            <div class="btn" [ngClass]="{'active': currentSlide == '1'}" (click)="updateSlidePosition(1)" ></div>
          </div>
        </div>

        <!-- DETAILS -->
        <!--<div class="title-wrapper fn-theme-primary" fxFlex="100">
          <mat-progress-bar class="widget-loader" *ngIf="loader" mode="indeterminate"></mat-progress-bar>
          <ng-container *ngIf="showLegendValues">
          <p class="title">{{altTitle}}</p>
          <p class="subtitle">{{altSubtitle}}</p>
          </ng-container>
          <ng-container *ngIf="!showLegendValues">
          <p class="title">{{title}}</p>
          <p class="subtitle">{{subtitle}}</p>
          </ng-container>
          <button mat-button class="reports-btn" (click)="router.navigate(['reportsdashboard/cpu'])">REPORTS</button>
          </div>-->
      </mat-card-content>
    </mat-card>

    <!--<ng-template *ngIf="configurable">
      <mat-card class="back">
      <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" fxFlex="100">
      </mat-card-content>
      <div class="widget-footer">
      <button mat-button color="accent" (click)="toggleConfig()">{{"Cancel" | translate}}</button>
      <button mat-button color="primary" type="submit" form="preferences" (click)="toggleConfig()">{{"Save" | translate}}</button>
      </div>
      </mat-card>
      </ng-template>-->

  </div>
</div>
