ix-tree-virtual-scroll-view {
  background: var(--bg2);
  color: var(--fg2);
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 420px;
  min-width: fit-content;

  cdk-virtual-scroll-viewport {
    height: 100%;
  }
}
