<ix-page-header [title]="'iSCSI' | translate">
  <button
    *ixRequiresRoles="requiredRoles"
    mat-button
    color="primary"
    id="iscsi_wizard_action_button"
    ixTest="wizard"
    (click)="gotoWizard()"
  >
    {{ 'Wizard' | translate }}
  </button>
</ix-page-header>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  @for (link of navLinks; track link.label) {
    <a
      #rla="routerLinkActive"
      mat-tab-link
      routerLinkActive
      [ixTest]="link.label"
      [routerLink]="link.path"
      [active]="rla.isActive"
    >
      {{ link.label | translate }}
    </a>
  }
</nav>
<router-outlet mat-tab-nav-panel>
  <mat-tab-nav-panel #tabPanel>
    @switch (activeTab) {
      @case ('configuration') {
        <ix-target-global-configuration
          [ixUiSearch]="searchableElements.elements.configuration"
        ></ix-target-global-configuration>
      }

      @case ('portals') {
        <ix-iscsi-portal-list
          [ixUiSearch]="searchableElements.elements.portals"
        ></ix-iscsi-portal-list>
      }

      @case ('initiator') {
        <ix-iscsi-initiator-list
          [ixUiSearch]="searchableElements.elements.initiator"
        ></ix-iscsi-initiator-list>
      }

      @case ('auth') {
        <ix-iscsi-authorizedaccess-list
          [ixUiSearch]="searchableElements.elements.auth"
        ></ix-iscsi-authorizedaccess-list>
      }

      @case ('target') {
        <ix-iscsi-target-list
          [ixUiSearch]="searchableElements.elements.target"
        ></ix-iscsi-target-list>
      }

      @case ('extent') {
        <ix-iscsi-extent-list
          [ixUiSearch]="searchableElements.elements.extent"
        ></ix-iscsi-extent-list>
      }

      @case ('associatedtarget') {
        <ix-iscsi-associated-target-list
          [ixUiSearch]="searchableElements.elements.associatedTarget"
        ></ix-iscsi-associated-target-list>
      }
    }
  </mat-tab-nav-panel>
</router-outlet>
