<mat-card>
  <div dir="rtl">
    <button
      mat-button
      color="primary"
      id="iscsi_wizard_action_button"
      (click)="gotoWizard()"
    >
      Wizard
    </button>
  </div>
  <nav mat-tab-nav-bar>
    <a
      *ngFor="let link of navLinks"
      #rla="routerLinkActive"
      mat-tab-link
      ix-auto
      ix-auto-type="tab"
      ix-auto-identifier="{{ link.label }}"
      routerLinkActive
      [routerLink]="link.path"
      [active]="rla.isActive"
    >
      {{ link.label | translate }}
    </a>
  </nav>
  <router-outlet [ngSwitch]="activeTab">
    <ix-target-global-configuration
      *ngSwitchCase="'configuration'"
    ></ix-target-global-configuration>

    <ix-iscsi-portal-list *ngSwitchCase="'portals'"></ix-iscsi-portal-list>

    <ix-iscsi-initiator-list
      *ngSwitchCase="'initiator'"
    ></ix-iscsi-initiator-list>

    <ix-iscsi-authorizedaccess-list
      *ngSwitchCase="'auth'"
    ></ix-iscsi-authorizedaccess-list>

    <ix-iscsi-target-list
      *ngSwitchCase="'target'"
      [fcEnabled]="fcEnabled"
    ></ix-iscsi-target-list>

    <ix-iscsi-extent-list *ngSwitchCase="'extent'"></ix-iscsi-extent-list>

    <ix-iscsi-associated-target-list
      *ngSwitchCase="'associatedtarget'"
    ></ix-iscsi-associated-target-list>

    <ng-container *ngSwitchCase="'fibrechannel'">
      <ix-iscsi-fibre-channel-ports
        *ngIf="fcEnabled"
      ></ix-iscsi-fibre-channel-ports>
    </ng-container>
  </router-outlet>
</mat-card>
