@import 'scss-imports/variables';

:host ::ng-deep {
  .mat-mdc-form-field-infix {
    width: inherit;
  }
}

.paginator {
  align-items: center;
  background: var(--bg2);
  border: solid 1px var(--contrast-lighter);
  color: var(--fg2);
  display: flex;
  justify-content: end;
  padding: 10px;

  .page-size {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-right: 30px;

    @media(max-width: $breakpoint-sm) {
      margin-right: 8px;
    }

    span {
      white-space: nowrap;
    }

    mat-select {
      width: 84px;
    }
  }

  .buttons {
    display: flex;
    margin-left: 30px;

    @media(max-width: $breakpoint-sm) {
      margin-left: 8px;
    }
  }
}
