<button
  mat-button
  ixTest="apps-settings"
  [matMenuTriggerFor]="menu"
  [ixUiSearch]="searchableElements.elements.settings"
>
  {{ 'Settings' | translate }}
  <ix-icon name="mdi-menu-down" class="menu-caret"></ix-icon>
</button>

<mat-menu #menu="matMenu" overlapTrigger="false">
  <button
    *ixRequiresRoles="requiredRoles"
    mat-menu-item
    ixTest="choose-pool"
    [ixUiSearch]="searchableElements.elements.choosePool"
    (click)="onChoosePool()"
  >
    {{ 'Choose Pool' | translate }}
  </button>
  <button
    *ixRequiresRoles="requiredRoles"
    mat-menu-item
    ixTest="advanced-settings"
    [ixUiSearch]="searchableElements.elements.advancedSettings"
    (click)="onAdvancedSettings()"
  >
    {{ 'Advanced Settings' | translate }}
  </button>
  @if (!!(kubernetesStore.selectedPool$ | async)) {
    <button
      *ixRequiresRoles="requiredRoles"
      mat-menu-item
      ixTest="unset-pool"
      (click)="onUnsetPool()"
    >
      {{ 'Unset Pool' | translate }}
    </button>
  }
  <button mat-menu-item ixTest="container-images" [routerLink]="['/apps', 'manage-container-images']">
    {{ 'Manage Container Images' | translate }}
  </button>
</mat-menu>
